Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

add AWS STS URL to OIDC provider audiences
  cmd/infra/aws/iam.go
Labels: none

OCPBUGS-34734: Fix disconnected metadata inspection for nodepool
  hypershift-operator/main.go
Labels: area/hypershift-operator

cmd/infra/aws: generate a delegating AWS client
  Makefile
  cmd/infra/aws/delegating_client.go
  cmd/infra/aws/delegatingclientgenerator/main.go
  cmd/infra/aws/iam_policies.go
Labels: none

cmd/infra/aws/iam: refactor static data
  cmd/infra/aws/iam.go
Labels: none

cmd/infra/aws/destroy: allow using component credentials
  cmd/cluster/aws/destroy.go
  cmd/infra/aws/delegatingclientgenerator/main.go
  cmd/infra/aws/destroy.go
  cmd/infra/aws/iam.go
  cmd/infra/aws/iam_policies.go
Labels: none

nodepool_controller: add a reconciler for cleanup
  hypershift-operator/controllers/nodepool/manifests.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/scheduler/autoscaler_test.go
Labels: area/hypershift-operator

Add link to agent heterogeneous nodepools doc
  docs/mkdocs.yml
Labels: none

Allow specifying the volume detach timeout for machines via NodePools
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1alpha1/nodepoolspec.go
  client/applyconfiguration/hypershift/v1beta1/nodepoolspec.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/how-to/agent/create-heterogeneous-nodepools.md
  docs/content/how-to/automated-machine-management/configure-machines.md
  docs/content/how-to/automated-machine-management/nodepool-lifecycle.md
  docs/content/how-to/aws/create-aws-hosted-cluster-arm-workers.md
  docs/content/labs/Dual/hostedcluster/nodepool.md
  docs/content/labs/IPv4/hostedcluster/nodepool.md
  docs/content/labs/IPv6/hostedcluster/nodepool.md
  docs/content/reference/api.md
  examples/fixtures/example.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  product-cli/cmd/cluster/cluster.go
Labels: area/hypershift-operator

OCPBUGS-34734: Fix disconnected metadata inspection for nodepool
  hypershift-operator/main.go
Labels: area/hypershift-operator

Fixed ValidReleaseInfo condition
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

drop kuryr CNI image refreneces
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_No_private_apiserver_connectivity__proxy_apiserver_address_is_set.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Private_apiserver_connectivity__proxy_apiserver_address_is_unset.yaml
Labels: area/control-plane-operator

remove weak cipher
  support/config/cipher.go
Labels: none

cmd: report server version, supported OCP
  cmd/install/assets/hypershift_operator.go
  cmd/version/version.go
  hypershift-operator/controllers/supportedversion/reconciler.go
  hypershift-operator/controllers/supportedversion/reconciler_test.go
  product-cli/main.go
Labels: area/hypershift-operator

cmd: report server version, supported OCP
  cmd/install/assets/hypershift_operator.go
  cmd/version/version.go
  hypershift-operator/controllers/supportedversion/reconciler.go
  hypershift-operator/controllers/supportedversion/reconciler_test.go
  product-cli/main.go
Labels: area/hypershift-operator

Add tool to automate HO tag & commit updates in SD
  hack/tools/deployment/README.md
  hack/tools/deployment/deployment-update.go
Labels: none

Ensure VNET, NSG, & Managed RG locations match
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  support/azureutil/azureutil.go
Labels: area/hypershift-operator

test/e2e: constrain actions to context, timeout
  test/e2e/util/client.go
  test/e2e/util/pod_exec.go
  test/e2e/util/util.go
Labels: none

test/e2e: explicitly constrain pod streams
  test/e2e/nodepool_kv_advanced_multinet_test.go
  test/e2e/util/pod_exec.go
  test/e2e/util/util.go
Labels: none

test/e2e: don't validate metrics after failure
  test/e2e/util/hypershift_framework.go
Labels: none

rebase + merge conflicts
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

pr feedback for syntax + validate annotation is integer
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
Labels: area/control-plane-operator

feedback from pr comments
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
Labels: area/control-plane-operator

HOSTEDCP-1689: add PodMonitor for external-dns
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hack/app-sre/saas_template.yaml
Labels: none

Add an option to globally disable the DNS resolution in konnectivity-socks5-proxy
  konnectivity-socks5-proxy/main.go
Labels: area/control-plane-operator

OCPBUGS-29391: Add new permission required in CAPA
  cmd/infra/aws/iam.go
Labels: none

Disable DNS resolution in konnectivity-socks5-proxy for CNO
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_No_private_apiserver_connectivity__proxy_apiserver_address_is_set.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Private_apiserver_connectivity__proxy_apiserver_address_is_unset.yaml
  konnectivity-socks5-proxy/main.go
Labels: area/control-plane-operator

drop konnectivity-agent image reference
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/params.go
Labels: area/control-plane-operator

Only disable MachinePool for manager container in Azure
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
Labels: area/hypershift-operator

test/e2e: fix prometheus serviceaccount handling against 4.16+
  test/e2e/util/query.go
  test/e2e/util/util.go
Labels: none

Add ability to create a branch & push to gitlab
  go.work.sum
  hack/tools/deployment/README.md
  hack/tools/deployment/deployment-update.go
  hack/tools/go.mod
Labels: none

Add ability to create merge requests
  hack/tools/deployment/deployment-update.go
Labels: none

test/e2e/util: use wait.PollUntilContextTimeout
  test/e2e/util/util.go
Labels: none

Revert "Merge pull request #4036 from stevekuznetsov/skuznets/expose-cli-output"
  cmd/cluster/aws/create.go
  cmd/cluster/azure/create.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create.go
  cmd/cluster/powervs/create.go
  cmd/infra/aws/create.go
  cmd/infra/aws/create_iam.go
  cmd/infra/powervs/create.go
  product-cli/cmd/cluster/cluster.go
  test/e2e/util/fixture.go
  test/e2e/util/hypershift_framework.go
Labels: none

e2e/util: improve logging during node readiness poll
  test/e2e/util/util.go
Labels: none

Update unit tests
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator_test.go
Labels: area/control-plane-operator

Allow access to root-ca configmap
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Labels: area/control-plane-operator

remove weak cipher
  support/config/cipher.go
Labels: none

update vendor
  vendor/github.com/openshift/library-go/test/library/metrics/query.go
  vendor/modules.txt
Labels: none

Generate default worker security group rules based on machineCIDR
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/awsutil/sg.go
Labels: area/control-plane-operator

Remove duplicate logging statements when errors are also returned
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator
