Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

feat(azure): add ARO-HCP Taskfile automation for dev workflows
  hack/aro-hcp/.gitignore
  hack/aro-hcp/README.md
  hack/aro-hcp/Taskfile.yml
  hack/aro-hcp/azure-credentials.json.example
  hack/aro-hcp/config.example.env
  hack/aro-hcp/managed-identities.json.example
  hack/aro-hcp/manifests/azure-ad-pod-identity-webhook-config.yaml
  hack/aro-hcp/manifests/cluster-authentication-02-config.yaml
  hack/aro-hcp/tasks/aks.yml
  hack/aro-hcp/tasks/cluster.yml
  hack/aro-hcp/tasks/dataplane.yml
  hack/aro-hcp/tasks/dns.yml
  hack/aro-hcp/tasks/keyvault.yml
  hack/aro-hcp/tasks/oidc.yml
  hack/aro-hcp/tasks/operator.yml
  hack/aro-hcp/tasks/prereq.yml
Labels: none

feat(api): add support for graceful service account signing key rotation
  api/hypershift/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

chore: update generated code
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

feat(platform): implement GCP platform controller
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-cloud-controller-manager/GCP/zz_fixture_TestControlPlaneComponents_aws_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/azure-cloud-controller-manager/GCP/zz_fixture_TestControlPlaneComponents_azure_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/GCP/zz_fixture_TestControlPlaneComponents_cluster_image_registry_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/GCP/zz_fixture_TestControlPlaneComponents_ingress_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_provider/component.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_conditions_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
  support/controlplane-component/token-minter-container.go
Labels: area/hypershift-operator, area/control-plane-operator

build(gcp): integrate GCP CRDs and build system
  Makefile
  cmd/install/assets/assets.go
  cmd/install/assets/cluster-api-provider-gcp/infrastructure.cluster.x-k8s.io_gcpclusters.yaml
  cmd/install/assets/cluster-api-provider-gcp/infrastructure.cluster.x-k8s.io_gcpclustertemplates.yaml
  cmd/install/assets/cluster-api-provider-gcp/infrastructure.cluster.x-k8s.io_gcpmachines.yaml
  cmd/install/assets/cluster-api-provider-gcp/infrastructure.cluster.x-k8s.io_gcpmachinetemplates.yaml
  cmd/install/install.go
  docs/content/how-to/gcp-platform.md
  docs/content/reference/aggregated-docs.md
Labels: none

build(gcp): add GCP platform infrastructure support
  support/api/scheme.go
  support/conditions/conditions.go
  support/images/envvars.go
  support/upsert/upsert.go
Labels: none

fix(controlplane-component): prevent informer creation for unused platform resources
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/generic-adapter.go
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Labels: none

feat(scale-from-zero): implement scale-from-zero autoscaling support
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-autoscaler/GCP/zz_fixture_TestControlPlaneComponents_cluster_autoscaler_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-autoscaler/IBMCloud/zz_fixture_TestControlPlaneComponents_cluster_autoscaler_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-autoscaler/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_autoscaler_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-autoscaler/zz_fixture_TestControlPlaneComponents_cluster_autoscaler_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-autoscaler/role.yaml
  hypershift-operator/controllers/hostedclustersizing/hostedclustersizing_controller_test.go
  hypershift-operator/controllers/machinedeployment/controller.go
  hypershift-operator/controllers/machinedeployment/controller_test.go
  hypershift-operator/controllers/machinedeployment/ec2_instance_types.go
  hypershift-operator/controllers/machinedeployment/ec2_instance_types_test.go
  hypershift-operator/controllers/machinedeployment/utils/providerspec.go
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/main.go
  support/awsclient/client.go
  support/awsclient/fake/fake.go
Labels: area/hypershift-operator, area/control-plane-operator

test(e2e): add scale-from-zero autoscaling tests
  test/e2e/autoscaling_test.go
  test/e2e/create_cluster_test.go
Labels: none

fix(deps): update sigs.k8s.io/kube-api-linter digest to 199098c
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/modules.txt
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/Makefile
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/defaults/analyzer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/defaults/config.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/defaults/doc.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/defaults/initializer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/helpers/markers/analyzer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/minlength/analyzer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/minlength/doc.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/minlength/initializer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/statusoptional/initializer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/utils/utils.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/utils/zero_value.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/markers/markers.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/registration/doc.go
Labels: none

fix(OCPBUGS-69866): skip HCP router LB when routes use apps domain
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component_test.go
  support/controlplane-component/controlplane-component.go
  support/util/expose.go
  support/util/expose_test.go
  support/util/visibility.go
  support/util/visibility_test.go
Labels: area/control-plane-operator

fix(OCPBUGS-70152): skip HCP router LB when routes use apps domain
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component_test.go
  support/controlplane-component/controlplane-component.go
  support/util/expose.go
  support/util/expose_test.go
  support/util/visibility.go
  support/util/visibility_test.go
Labels: area/control-plane-operator

fix(OCPBUGS-70147): skip HCP router LB when routes use apps domain
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component_test.go
  support/controlplane-component/controlplane-component.go
  support/util/expose.go
  support/util/expose_test.go
  support/util/visibility.go
  support/util/visibility_test.go
Labels: area/control-plane-operator

chore(deps): update github.com/golangci/gofmt digest to e7be49a
  hack/tools/go.mod
Labels: none

chore(deps): update registry.access.redhat.com/ubi9/go-toolset docker tag to v1.25.3-1766405866
  Containerfile.cli
  Containerfile.control-plane
  Containerfile.operator
Labels: none

chore(deps): update dependency pyparsing to v3.3.1
  hypershift-ci-python/requirements.txt
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
