Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

validate accessTokenInactivityTimeout >= 300s
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  hack/app-sre/saas_template.yaml
Labels: area/hypershift-operator

cluster-policy-controller: add missing rbac
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/rbac.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/rbac/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

HOSTEDCP-1050: refactoring CheckAffinityOpinions
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: none

OCPBUGS-10423: Add validation for tain.value in nodePool in v1alpha1
  api/v1alpha1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
Labels: area/hypershift-operator

removd GITHUB_ACCESS_TOKEN requirement
  docs/content/contribute/release-process.md
  hack/tools/release/notes.go
Labels: none

cleanup logs
  hack/tools/release/notes.go
Labels: none

Document recommended MTU settings for KubeVirt HCP
  docs/content/how-to/kubevirt/create-kubevirt-cluster.md
Labels: none

run EnsurePSANotPrivileged for TestCreateCluster only
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: none

Improve NodePool CPU arch & platform check
  api/v1beta1/nodepool_conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: area/hypershift-operator

Move Azure cloud provider to out of tree
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/params.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/azure.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/cloudcontrollermanager/azure/cloud_node_manager.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

HOSTEDCP-1200: Removing pod exceptions from EnsureNoCrashingPods
  test/e2e/util/util.go
Labels: none

contrib: increase HC quota to 40
  contrib/ci/hypershift-ci-1.yaml
Labels: none

OCPBUGS-20033: Make the OLMCatalogPlacement field immutable
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  hack/app-sre/saas_template.yaml
Labels: area/hypershift-operator

HOSTEDCP-1050 Adding tolerations and affinities to CollectProfilesCronJob
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/olm-collect-profiles.go
Labels: area/control-plane-operator

Remove unncessary kas port exposure on service
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/haproxy_test.go
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_private_cluster_uses_.local_address.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_and_private_cluster_uses_.local_address.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_cluster_uses_address_from_kubeconfig.yaml
  support/util/networking.go
Labels: area/hypershift-operator, area/control-plane-operator

OCPBUGS-20033: Make the OLMCatalogPlacement field immutable
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  hack/app-sre/saas_template.yaml
Labels: area/hypershift-operator

CNV-34094: Add validating webhook
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  go.mod
  go.sum
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  hypershift-operator/main.go
  kubevirtexternalinfra/externalinfra.go
  vendor/golang.org/x/sync/LICENSE
  vendor/golang.org/x/sync/PATENTS
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/errgroup/go120.go
  vendor/golang.org/x/sync/errgroup/pre_go120.go
  vendor/modules.txt
Labels: area/hypershift-operator

limit RestoreSnapshotURL api field to 1 entry
  api/v1alpha1/hostedcluster_types.go
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/etcd/etcd-init.sh
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile_test.go
  docs/content/how-to/aws/etc-backup-restore.md
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Labels: area/hypershift-operator, area/control-plane-operator

Stop defaulting aws private haproxy external port to 6443
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/haproxy_test.go
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_private_cluster_uses_.local_address.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_and_private_cluster_uses_.local_address.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_cluster_uses_address_from_kubeconfig.yaml
  support/util/networking.go
Labels: area/hypershift-operator

tests: e2e: exempt ingress and OLM from pod restart check
  test/e2e/util/util.go
Labels: none

Add -catalog to no crashing pods test exceptions
  test/e2e/util/util.go
Labels: none

Stop exposing kas on 6443 private route service load balancer
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Labels: area/control-plane-operator

tests: e2e: exempt ingress, OLM and catalog from pod restart check (#3144)
  test/e2e/util/util.go
Labels: none

OCPBUGS-10423: Update regex validation for nodepool.spec.taints.value
  api/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
Labels: area/hypershift-operator

HOSTEDCP-1050: Add e2e to check we dont regress affinity opinions (#3106)
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/olm-collect-profiles.go
  docs/content/contribute/run-tests.md
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

OCPBUGS-16079: No error for overlapping service network and API IP
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

KubeVirt: create the etcd encryption key secret, if missing
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

HOSTEDCP-1200: Remove ingres-operator pod exception
  test/e2e/util/util.go
Labels: none

fix formating for releaseImage log
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

fixed accessTokenInactivityTimeout validation
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  hack/app-sre/saas_template.yaml
Labels: area/hypershift-operator

chore(deps): update rhtap references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

Enable multi-arch builds
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

Update RHTAP references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

Default REQUEST_SERVING_COMPONENT_TEST to avoid unbound variable error
  hack/ci-test-e2e.sh
Labels: none

Add step to interpret variables
  hack/ci-test-e2e.sh
Labels: none

Add e2e test for isolated request serving mode
  hack/ci-test-e2e.sh
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
  test/e2e/util/requestserving.go
Labels: none

Stop exposing kas on 6443 private route service load balancer
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Labels: area/control-plane-operator

Add checks for reqServing pod and node placement
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: none

Stop defaulting aws private haproxy external port to 6443
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/haproxy_test.go
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_private_cluster_uses_.local_address.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_and_private_cluster_uses_.local_address.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_cluster_uses_address_from_kubeconfig.yaml
  support/util/networking.go
Labels: area/hypershift-operator

HOSTEDCP-1200: Remove ingres-operator pod exception
  test/e2e/util/util.go
Labels: none
