Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

test(CNTRLPLANE-3306): customize auth spec as needed
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
  test/e2e/util/hypershift_framework.go
Labels: none

feat(nodepool): decouple AWS AMI resolution from ReleaseImage
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/token.go
Labels: area/hypershift-operator

docs: add presubmit e2e triage guide
  docs/content/how-to/ci/triage/daily-health.md
  docs/content/how-to/ci/triage/index.md
  docs/content/how-to/ci/triage/presubmit-failures.md
  docs/content/reference/aggregated-docs.md
  docs/mkdocs.yml
Labels: none

feat(azure): propagate HCP Azure resource ID annotation to control plane namespace
  api/hypershift/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

test(e2ev2): add Azure OAuth LoadBalancer private topology test
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/tests/hosted_cluster_azure_test.go
Labels: none

fix(e2ev2): address review feedback for Azure OAuth LB private test
  test/e2e/util/oauth.go
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/tests/hosted_cluster_azure_test.go
Labels: none

fix(pki): address review findings for certificate revocation changes
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller.go
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller_test.go
Labels: none

build(operator): drop hypershift-no-cgo from operator container images
  Containerfile.operator
Labels: none

revert: CNTRLPLANE-2916: restore conditional deletion of openshift-ingress NetworkPolicy
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/hostedcluster/network_policies_test.go
Labels: area/hypershift-operator

build(operator): drop hypershift-no-cgo from operator container images
  Containerfile.operator
Labels: none

fix(cpo): handle service-ca generation errors in CSI serving cert reconciliation
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/service_ca_annotation_test.go
Labels: area/control-plane-operator

test(CNTRLPLANE-3306): refactor ExternalOIDC tests
  hypershift-operator/main_test.go
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
  test/e2e/util/external_oidc_test_helpers.go
  test/e2e/util/keycloak.go
Labels: area/hypershift-operator

build(operator): drop hypershift-no-cgo from operator container images
  Containerfile.operator
Labels: none

build(operator): drop hypershift-no-cgo from operator container images
  Containerfile.operator
Labels: none

build(operator): drop hypershift-no-cgo from operator container images
  Containerfile.operator
Labels: none

build(operator): drop hypershift-no-cgo from operator container images
  Containerfile.operator
Labels: none

build(operator): drop hypershift-no-cgo from operator container images
  Containerfile.operator
Labels: none

build(operator): drop hypershift-no-cgo from operator container images
  Containerfile.operator
Labels: none

fix(ci): align create-release task with managed release flow
  .tekton/pipelines/ho-release-gate.yaml
Labels: none

feat(ci): add Slack failure notification with Block Kit formatting
  .tekton/pipelines/ho-release-gate.yaml
Labels: none

fix(operator): use constant for CA bundle key and handle missing user-ca-bundle gracefully
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/reconcile_cloud_config_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

test: harden error assertions and add proxy TrustedCA parity test
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/reconcile_cloud_config_test.go
Labels: area/control-plane-operator

fix(lint): reorder imports per gci config in reconcile_cloud_config_test
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/reconcile_cloud_config_test.go
Labels: area/control-plane-operator

fix(operator): use shared constant for cloud-provider-config and aggregate trust bundles
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/reconcile_cloud_config_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/infrastructure.go
  support/globalconfig/infrastructure_test.go
Labels: area/control-plane-operator

test: add tests for AWS cloud-provider-config trust bundle sync
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/reconcile_cloud_config_test.go
  support/globalconfig/infrastructure_test.go
Labels: area/control-plane-operator

feat(operator): sync additional trust bundle to cloud-provider-config for AWS
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/providerconfig.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/infrastructure.go
Labels: area/control-plane-operator

fix(fmt): align map literal whitespace in reconcile_cloud_config_test
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/reconcile_cloud_config_test.go
Labels: area/control-plane-operator

refactor(operator): move shared cloud config constants to support/globalconfig
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/providerconfig.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/reconcile_cloud_config_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/infrastructure.go
  support/globalconfig/infrastructure_test.go
Labels: area/control-plane-operator

fix(hcco): filter oauth resources from re-encryption when OAuth is disabled
  control-plane-operator/hostedclusterconfigoperator/controllers/reencryption/reencryption.go
  control-plane-operator/hostedclusterconfigoperator/controllers/reencryption/reencryption_test.go
Labels: area/control-plane-operator

fix(e2ev2): add missing [Feature:AzureOAuth] annotation to private OAuth test
  test/e2e/v2/tests/hosted_cluster_azure_test.go
Labels: none

fix(make): tolerate concurrent git-clean in generate target
  Makefile
Labels: none

feat: support passing node selectors and tolerations in hypershift install cmd
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/hypershift_operator_test.go
  cmd/install/install.go
  cmd/install/install_test.go
  cmd/util/util.go
Labels: none

feat(cli): add operator IAM role creation command and install role ARN flags
  cmd/create/create.go
  cmd/infra/aws/create_operator_roles.go
  cmd/infra/aws/create_operator_roles_test.go
  cmd/infra/aws/delegatingclientgenerator/main.go
  cmd/infra/create_operator_roles.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  cmd/install/install_helm.go
  cmd/install/install_render.go
  cmd/install/install_test.go
  docs/content/how-to/install/index.md
  docs/content/reference/aggregated-docs.md
  support/awsapi/iam.go
Labels: none

fix(cpo): use KubeAPIServerDNSName for OAuth LoginURL when set
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/config_test.go
Labels: area/control-plane-operator

fix(nodepool): stop marking mirrored ConfigMaps as immutable
  hypershift-operator/controllers/nodepool/nto.go
  hypershift-operator/controllers/nodepool/nto_test.go
Labels: area/hypershift-operator

fix(nodepool): stop marking mirrored ConfigMaps as immutable
  hypershift-operator/controllers/nodepool/nto.go
  hypershift-operator/controllers/nodepool/nto_test.go
Labels: area/hypershift-operator

fix(nodepool): stop marking mirrored ConfigMaps as immutable
  hypershift-operator/controllers/nodepool/nto.go
  hypershift-operator/controllers/nodepool/nto_test.go
Labels: area/hypershift-operator

test(controlplane-component): add RestartDateAnnotation propagation tests
  support/controlplane-component/defaults_test.go
Labels: none

feat(nodepool): decouple platform boot image resolvers from ReleaseImage
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/azure.go
  hypershift-operator/controllers/nodepool/gcp.go
  hypershift-operator/controllers/nodepool/gcp_test.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/openstack.go
  hypershift-operator/controllers/nodepool/openstack/openstack.go
  hypershift-operator/controllers/nodepool/openstack/openstack_test.go
  hypershift-operator/controllers/nodepool/powervs.go
  hypershift-operator/controllers/nodepool/powervs_test.go
  hypershift-operator/controllers/nodepool/token.go
  support/releaseinfo/registryclient_provider.go
Labels: area/hypershift-operator

test(CNTRLPLANE-3306): partial amend everettraven suggestions
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
  test/e2e/util/external_oidc_test_helpers.go
  test/e2e/util/keycloak.go
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
