Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

chore(deps): update google.golang.org/genproto/googleapis/rpc digest to 9219d12
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/google.golang.org/genproto/googleapis/rpc/errdetails/error_details.pb.go
  hack/tools/vendor/google.golang.org/genproto/googleapis/rpc/status/status.pb.go
  hack/tools/vendor/google.golang.org/protobuf/encoding/protowire/wire.go
  hack/tools/vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  hack/tools/vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  hack/tools/vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  hack/tools/vendor/google.golang.org/protobuf/internal/filedesc/presence.go
  hack/tools/vendor/google.golang.org/protobuf/internal/genid/api_gen.go
  hack/tools/vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  hack/tools/vendor/google.golang.org/protobuf/internal/impl/codec_message_opaque.go
  hack/tools/vendor/google.golang.org/protobuf/internal/impl/message_opaque.go
  hack/tools/vendor/google.golang.org/protobuf/internal/impl/presence.go
  hack/tools/vendor/google.golang.org/protobuf/internal/version/version.go
  hack/tools/vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  hack/tools/vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  hack/tools/vendor/modules.txt
  vendor/google.golang.org/protobuf/encoding/protowire/wire.go
  vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  vendor/google.golang.org/protobuf/internal/filedesc/presence.go
  vendor/google.golang.org/protobuf/internal/genid/api_gen.go
  vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  vendor/google.golang.org/protobuf/internal/impl/codec_message_opaque.go
  vendor/google.golang.org/protobuf/internal/impl/message_opaque.go
  vendor/google.golang.org/protobuf/internal/impl/presence.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  vendor/modules.txt
Labels: none

chore(deps): update google.golang.org/genproto/googleapis/rpc digest to 9219d12
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/google.golang.org/genproto/googleapis/rpc/errdetails/error_details.pb.go
  hack/tools/vendor/google.golang.org/genproto/googleapis/rpc/status/status.pb.go
  hack/tools/vendor/google.golang.org/protobuf/encoding/protowire/wire.go
  hack/tools/vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  hack/tools/vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  hack/tools/vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  hack/tools/vendor/google.golang.org/protobuf/internal/filedesc/presence.go
  hack/tools/vendor/google.golang.org/protobuf/internal/genid/api_gen.go
  hack/tools/vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  hack/tools/vendor/google.golang.org/protobuf/internal/impl/codec_message_opaque.go
  hack/tools/vendor/google.golang.org/protobuf/internal/impl/message_opaque.go
  hack/tools/vendor/google.golang.org/protobuf/internal/impl/presence.go
  hack/tools/vendor/google.golang.org/protobuf/internal/version/version.go
  hack/tools/vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  hack/tools/vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  hack/tools/vendor/modules.txt
  vendor/google.golang.org/protobuf/encoding/protowire/wire.go
  vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  vendor/google.golang.org/protobuf/internal/filedesc/presence.go
  vendor/google.golang.org/protobuf/internal/genid/api_gen.go
  vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  vendor/google.golang.org/protobuf/internal/impl/codec_message_opaque.go
  vendor/google.golang.org/protobuf/internal/impl/message_opaque.go
  vendor/google.golang.org/protobuf/internal/impl/presence.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  vendor/modules.txt
Labels: none

chore(deps): update k8s.io/gengo digest to ec3ebc5
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update k8s.io/gengo digest to ec3ebc5
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/modules.txt
Labels: none

fix(deps): update github.com/openshift/client-go digest to dd37bfd
  go.mod
Labels: none

chore(deps): update module k8s.io/gengo/v2 to v2.0.0-20250922181213-ec3ebc5fd46b
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/k8s.io/gengo/v2/Makefile
  hack/tools/vendor/k8s.io/gengo/v2/README.md
  hack/tools/vendor/k8s.io/gengo/v2/codetags/extractor.go
  hack/tools/vendor/k8s.io/gengo/v2/codetags/parser.go
  hack/tools/vendor/k8s.io/gengo/v2/codetags/scanner.go
  hack/tools/vendor/k8s.io/gengo/v2/codetags/types.go
  hack/tools/vendor/k8s.io/gengo/v2/comments.go
  hack/tools/vendor/k8s.io/gengo/v2/generator/execute.go
  hack/tools/vendor/k8s.io/gengo/v2/generator/import_tracker.go
  hack/tools/vendor/k8s.io/gengo/v2/generator/snippet_writer.go
  hack/tools/vendor/k8s.io/gengo/v2/namer/namer.go
  hack/tools/vendor/k8s.io/gengo/v2/parser/parse.go
  hack/tools/vendor/k8s.io/gengo/v2/parser/parse_122.go
  hack/tools/vendor/k8s.io/gengo/v2/parser/parse_pre_122.go
  hack/tools/vendor/k8s.io/gengo/v2/types/types.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update registry.access.redhat.com/ubi10/ubi docker tag to v10.0-1758699521
  shared-ingress/Containerfile
Labels: none

chore(deps): update module k8s.io/gengo/v2 to v2.0.0-20250922181213-ec3ebc5fd46b
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/k8s.io/gengo/v2/Makefile
  hack/tools/vendor/k8s.io/gengo/v2/README.md
  hack/tools/vendor/k8s.io/gengo/v2/codetags/extractor.go
  hack/tools/vendor/k8s.io/gengo/v2/codetags/parser.go
  hack/tools/vendor/k8s.io/gengo/v2/codetags/scanner.go
  hack/tools/vendor/k8s.io/gengo/v2/codetags/types.go
  hack/tools/vendor/k8s.io/gengo/v2/comments.go
  hack/tools/vendor/k8s.io/gengo/v2/generator/execute.go
  hack/tools/vendor/k8s.io/gengo/v2/generator/import_tracker.go
  hack/tools/vendor/k8s.io/gengo/v2/generator/snippet_writer.go
  hack/tools/vendor/k8s.io/gengo/v2/namer/namer.go
  hack/tools/vendor/k8s.io/gengo/v2/parser/parse.go
  hack/tools/vendor/k8s.io/gengo/v2/parser/parse_122.go
  hack/tools/vendor/k8s.io/gengo/v2/parser/parse_pre_122.go
  hack/tools/vendor/k8s.io/gengo/v2/types/types.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update registry.access.redhat.com/ubi10/ubi docker tag to v10.0-1758699521
  shared-ingress/Containerfile
Labels: none

chore(deps): update module github.com/coreos/go-systemd/v22 to v22.6.0
  go.mod
  go.sum
  vendor/github.com/coreos/go-systemd/v22/journal/journal.go
  vendor/github.com/coreos/go-systemd/v22/journal/journal_unix.go
  vendor/github.com/coreos/go-systemd/v22/unit/deserialize.go
  vendor/github.com/coreos/go-systemd/v22/unit/doc.go
  vendor/github.com/coreos/go-systemd/v22/unit/option.go
  vendor/github.com/coreos/go-systemd/v22/unit/serialize.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/emicklei/go-restful/v3 to v3.13.0
  api/go.mod
  api/go.sum
  api/vendor/github.com/emicklei/go-restful/v3/.travis.yml
  api/vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  api/vendor/github.com/emicklei/go-restful/v3/README.md
  api/vendor/github.com/emicklei/go-restful/v3/curly.go
  api/vendor/github.com/emicklei/go-restful/v3/custom_verb.go
  api/vendor/github.com/emicklei/go-restful/v3/doc.go
  api/vendor/modules.txt
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/emicklei/go-restful/v3/.travis.yml
  hack/tools/vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  hack/tools/vendor/github.com/emicklei/go-restful/v3/README.md
  hack/tools/vendor/github.com/emicklei/go-restful/v3/compress.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/curly.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/custom_verb.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/doc.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/entity_accessors.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/json.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/jsoniter.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/jsr311.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/route.go
  hack/tools/vendor/modules.txt
  vendor/github.com/emicklei/go-restful/v3/.travis.yml
  vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  vendor/github.com/emicklei/go-restful/v3/README.md
  vendor/github.com/emicklei/go-restful/v3/curly.go
  vendor/github.com/emicklei/go-restful/v3/custom_verb.go
  vendor/github.com/emicklei/go-restful/v3/doc.go
  vendor/modules.txt
Labels: area/hypershift-operator

chore(deps): update dependency go to v1.25.1
  contrib/aws-tag-lb-service-webhook/go.mod
Labels: none

chore(deps): update module github.com/go-jose/go-jose/v4 to v4.1.2
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v4/CHANGELOG.md
  vendor/github.com/go-jose/go-jose/v4/README.md
  vendor/github.com/go-jose/go-jose/v4/crypter.go
  vendor/github.com/go-jose/go-jose/v4/jwe.go
  vendor/github.com/go-jose/go-jose/v4/jwk.go
  vendor/github.com/go-jose/go-jose/v4/jws.go
  vendor/github.com/go-jose/go-jose/v4/shared.go
  vendor/github.com/go-jose/go-jose/v4/symmetric.go
  vendor/github.com/go-jose/go-jose/v4/symmetric_go124.go
  vendor/github.com/go-jose/go-jose/v4/symmetric_legacy.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/go-playground/validator/v10 to v10.27.0
  go.mod
  go.sum
  vendor/github.com/go-playground/validator/v10/.golangci.yaml
  vendor/github.com/go-playground/validator/v10/README.md
  vendor/github.com/go-playground/validator/v10/baked_in.go
  vendor/github.com/go-playground/validator/v10/cache.go
  vendor/github.com/go-playground/validator/v10/doc.go
  vendor/github.com/go-playground/validator/v10/errors.go
  vendor/github.com/go-playground/validator/v10/struct_level.go
  vendor/github.com/go-playground/validator/v10/util.go
  vendor/github.com/go-playground/validator/v10/validator.go
  vendor/github.com/go-playground/validator/v10/validator_instance.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/gophercloud/gophercloud/v2 to v2.8.0
  go.mod
  go.sum
  vendor/github.com/gophercloud/gophercloud/v2/CHANGELOG.md
  vendor/github.com/gophercloud/gophercloud/v2/Makefile
  vendor/github.com/gophercloud/gophercloud/v2/endpoint_search.go
  vendor/github.com/gophercloud/gophercloud/v2/provider_client.go
  vendor/github.com/gophercloud/gophercloud/v2/results.go
  vendor/github.com/gophercloud/gophercloud/v2/service_client.go
  vendor/modules.txt
Labels: none

chore(deps): update module cel.dev/expr to v0.24.0
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/cel.dev/expr/.bazelversion
  hack/tools/vendor/cel.dev/expr/MODULE.bazel
  hack/tools/vendor/cel.dev/expr/README.md
  hack/tools/vendor/cel.dev/expr/cloudbuild.yaml
  hack/tools/vendor/cel.dev/expr/eval.pb.go
  hack/tools/vendor/modules.txt
  vendor/cel.dev/expr/eval.pb.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/grpc-ecosystem/go-grpc-middleware to v1.4.0
  go.mod
  go.sum
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/.travis.yml
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/CHANGELOG.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/README.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/chain.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/jonboulle/clockwork to v0.5.0
  go.mod
  go.sum
  vendor/github.com/jonboulle/clockwork/README.md
  vendor/github.com/jonboulle/clockwork/SECURITY.md
  vendor/github.com/jonboulle/clockwork/clockwork.go
  vendor/github.com/jonboulle/clockwork/context.go
  vendor/github.com/jonboulle/clockwork/ticker.go
  vendor/github.com/jonboulle/clockwork/timer.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/aws/smithy-go to v1.23.0
  go.mod
  go.sum
  vendor/github.com/aws/smithy-go/CHANGELOG.md
  vendor/github.com/aws/smithy-go/README.md
  vendor/github.com/aws/smithy-go/go_module_metadata.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/azuread/microsoft-authentication-library-for-go to v1.5.0
  go.mod
  go.sum
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/local/server.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/authority/authority.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/resolvers.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/coreos/go-systemd/v22 to v22.6.0
  go.mod
  go.sum
  vendor/github.com/coreos/go-systemd/v22/journal/journal.go
  vendor/github.com/coreos/go-systemd/v22/journal/journal_unix.go
  vendor/github.com/coreos/go-systemd/v22/unit/deserialize.go
  vendor/github.com/coreos/go-systemd/v22/unit/doc.go
  vendor/github.com/coreos/go-systemd/v22/unit/option.go
  vendor/github.com/coreos/go-systemd/v22/unit/serialize.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/mailru/easyjson to v0.9.1
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/mailru/easyjson/jlexer/bytestostr.go
  hack/tools/vendor/github.com/mailru/easyjson/jlexer/lexer.go
  hack/tools/vendor/github.com/mailru/easyjson/jwriter/writer.go
  hack/tools/vendor/modules.txt
  vendor/modules.txt
Labels: area/hypershift-operator

chore(deps): update module github.com/emicklei/go-restful/v3 to v3.13.0
  api/go.mod
  api/go.sum
  api/vendor/github.com/emicklei/go-restful/v3/.travis.yml
  api/vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  api/vendor/github.com/emicklei/go-restful/v3/README.md
  api/vendor/github.com/emicklei/go-restful/v3/curly.go
  api/vendor/github.com/emicklei/go-restful/v3/custom_verb.go
  api/vendor/github.com/emicklei/go-restful/v3/doc.go
  api/vendor/modules.txt
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/emicklei/go-restful/v3/.travis.yml
  hack/tools/vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  hack/tools/vendor/github.com/emicklei/go-restful/v3/README.md
  hack/tools/vendor/github.com/emicklei/go-restful/v3/compress.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/curly.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/custom_verb.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/doc.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/entity_accessors.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/json.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/jsoniter.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/jsr311.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/route.go
  hack/tools/vendor/modules.txt
  vendor/github.com/emicklei/go-restful/v3/.travis.yml
  vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  vendor/github.com/emicklei/go-restful/v3/README.md
  vendor/github.com/emicklei/go-restful/v3/curly.go
  vendor/github.com/emicklei/go-restful/v3/custom_verb.go
  vendor/github.com/emicklei/go-restful/v3/doc.go
  vendor/modules.txt
Labels: area/hypershift-operator

chore(deps): update module github.com/nunnatsa/ginkgolinter to v0.21.0
  hack/tools/go.mod
Labels: none

chore(deps): update module github.com/go-jose/go-jose/v4 to v4.1.2
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v4/CHANGELOG.md
  vendor/github.com/go-jose/go-jose/v4/README.md
  vendor/github.com/go-jose/go-jose/v4/crypter.go
  vendor/github.com/go-jose/go-jose/v4/jwe.go
  vendor/github.com/go-jose/go-jose/v4/jwk.go
  vendor/github.com/go-jose/go-jose/v4/jws.go
  vendor/github.com/go-jose/go-jose/v4/shared.go
  vendor/github.com/go-jose/go-jose/v4/symmetric.go
  vendor/github.com/go-jose/go-jose/v4/symmetric_go124.go
  vendor/github.com/go-jose/go-jose/v4/symmetric_legacy.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/go-playground/validator/v10 to v10.27.0
  go.mod
  go.sum
  vendor/github.com/go-playground/validator/v10/.golangci.yaml
  vendor/github.com/go-playground/validator/v10/README.md
  vendor/github.com/go-playground/validator/v10/baked_in.go
  vendor/github.com/go-playground/validator/v10/cache.go
  vendor/github.com/go-playground/validator/v10/doc.go
  vendor/github.com/go-playground/validator/v10/errors.go
  vendor/github.com/go-playground/validator/v10/struct_level.go
  vendor/github.com/go-playground/validator/v10/util.go
  vendor/github.com/go-playground/validator/v10/validator.go
  vendor/github.com/go-playground/validator/v10/validator_instance.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/gophercloud/gophercloud/v2 to v2.8.0
  go.mod
  go.sum
  vendor/github.com/gophercloud/gophercloud/v2/CHANGELOG.md
  vendor/github.com/gophercloud/gophercloud/v2/Makefile
  vendor/github.com/gophercloud/gophercloud/v2/endpoint_search.go
  vendor/github.com/gophercloud/gophercloud/v2/provider_client.go
  vendor/github.com/gophercloud/gophercloud/v2/results.go
  vendor/github.com/gophercloud/gophercloud/v2/service_client.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/grpc-ecosystem/go-grpc-middleware to v1.4.0
  go.mod
  go.sum
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/.travis.yml
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/CHANGELOG.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/README.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/chain.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/jonboulle/clockwork to v0.5.0
  go.mod
  go.sum
  vendor/github.com/jonboulle/clockwork/README.md
  vendor/github.com/jonboulle/clockwork/SECURITY.md
  vendor/github.com/jonboulle/clockwork/clockwork.go
  vendor/github.com/jonboulle/clockwork/context.go
  vendor/github.com/jonboulle/clockwork/ticker.go
  vendor/github.com/jonboulle/clockwork/timer.go
  vendor/modules.txt
Labels: none

fix(OCPBUGS-62202): Enable VolumeAttributesClass runtime config
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Labels: area/control-plane-operator

chore(deps): update module github.com/onsi/ginkgo/v2 to v2.25.3
  api/go.mod
  api/go.sum
  api/vendor/golang.org/x/net/http2/http2.go
  api/vendor/google.golang.org/protobuf/encoding/protowire/wire.go
  api/vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  api/vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  api/vendor/google.golang.org/protobuf/internal/filedesc/presence.go
  api/vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  api/vendor/google.golang.org/protobuf/internal/impl/codec_message_opaque.go
  api/vendor/google.golang.org/protobuf/internal/impl/message_opaque.go
  api/vendor/google.golang.org/protobuf/internal/impl/presence.go
  api/vendor/google.golang.org/protobuf/internal/version/version.go
  api/vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  api/vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  api/vendor/modules.txt
Labels: area/hypershift-operator

chore(deps): update module github.com/opencontainers/selinux to v1.12.0
  go.mod
  go.sum
  vendor/github.com/opencontainers/selinux/go-selinux/selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/xattrs_linux.go
  vendor/github.com/opencontainers/selinux/pkg/pwalkdir/README.md
  vendor/github.com/opencontainers/selinux/pkg/pwalkdir/pwalkdir.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/rogpeppe/go-internal to v1.14.1
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
Labels: area/hypershift-operator

chore(deps): update module github.com/samber/lo to v1.51.0
  api/go.mod
  api/go.sum
  api/vendor/github.com/samber/lo/README.md
  api/vendor/github.com/samber/lo/condition.go
  api/vendor/github.com/samber/lo/errors.go
  api/vendor/github.com/samber/lo/find.go
  api/vendor/github.com/samber/lo/intersect.go
  api/vendor/github.com/samber/lo/map.go
  api/vendor/github.com/samber/lo/mutable/slice.go
  api/vendor/github.com/samber/lo/slice.go
  api/vendor/github.com/samber/lo/string.go
  api/vendor/modules.txt
  go.mod
  go.sum
  vendor/github.com/samber/lo/README.md
  vendor/github.com/samber/lo/condition.go
  vendor/github.com/samber/lo/errors.go
  vendor/github.com/samber/lo/find.go
  vendor/github.com/samber/lo/intersect.go
  vendor/github.com/samber/lo/map.go
  vendor/github.com/samber/lo/mutable/slice.go
  vendor/github.com/samber/lo/slice.go
  vendor/github.com/samber/lo/string.go
  vendor/modules.txt
Labels: area/hypershift-operator

chore(deps): update module github.com/mailru/easyjson to v0.9.1
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/mailru/easyjson/jlexer/bytestostr.go
  hack/tools/vendor/github.com/mailru/easyjson/jlexer/lexer.go
  hack/tools/vendor/github.com/mailru/easyjson/jwriter/writer.go
  hack/tools/vendor/modules.txt
  vendor/modules.txt
Labels: area/hypershift-operator

chore(deps): update module github.com/spf13/cast to v1.10.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/spf13/cast/.editorconfig
  hack/tools/vendor/github.com/spf13/cast/.golangci.yaml
  hack/tools/vendor/github.com/spf13/cast/README.md
  hack/tools/vendor/github.com/spf13/cast/alias.go
  hack/tools/vendor/github.com/spf13/cast/basic.go
  hack/tools/vendor/github.com/spf13/cast/cast.go
  hack/tools/vendor/github.com/spf13/cast/caste.go
  hack/tools/vendor/github.com/spf13/cast/indirect.go
  hack/tools/vendor/github.com/spf13/cast/internal/time.go
  hack/tools/vendor/github.com/spf13/cast/internal/timeformattype_string.go
  hack/tools/vendor/github.com/spf13/cast/map.go
  hack/tools/vendor/github.com/spf13/cast/number.go
  hack/tools/vendor/github.com/spf13/cast/slice.go
  hack/tools/vendor/github.com/spf13/cast/time.go
  hack/tools/vendor/github.com/spf13/cast/timeformattype_string.go
  hack/tools/vendor/github.com/spf13/cast/zz_generated.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/nunnatsa/ginkgolinter to v0.21.0
  hack/tools/go.mod
Labels: none

chore(deps): update module go.etcd.io/etcd/pkg/v3 to v3.6.5
  go.mod
Labels: none

test(e2e,kubevirt): ignore KubeVirtNodesLiveMigratable on HC
  test/e2e/util/util.go
Labels: none

chore(deps): update module golang.org/x/oauth2 to v0.31.0
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/golang.org/x/oauth2/internal/doc.go
  hack/tools/vendor/golang.org/x/oauth2/internal/oauth2.go
  hack/tools/vendor/golang.org/x/oauth2/internal/token.go
  hack/tools/vendor/golang.org/x/oauth2/internal/transport.go
  hack/tools/vendor/golang.org/x/oauth2/oauth2.go
  hack/tools/vendor/golang.org/x/oauth2/pkce.go
  hack/tools/vendor/golang.org/x/oauth2/token.go
  hack/tools/vendor/golang.org/x/oauth2/transport.go
  hack/tools/vendor/modules.txt
  vendor/modules.txt
Labels: area/hypershift-operator
