Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

Minor cleanup of Azure create cluster document
  docs/content/how-to/azure/create-azure-cluster.md
Labels: none

NO-JIRA: Add untracked files
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsclustercontrolleridentities.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsclusterroleidentities.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsclusters.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsclusterstaticidentities.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsclustertemplates.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsfargateprofiles.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsmachinepools.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsmachines.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsmachinetemplates.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsmanagedmachinepools.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_rosamachinepools.yaml
  hack/app-sre/saas_template.yaml
Labels: none

Remove main branch files not needed
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

Remove files not needed
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

set issuer URL correctly for external OIDC
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/oauth.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params_test.go
Labels: area/control-plane-operator

support to disable machine management components
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

chore(deps): update rhtap references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

chore(deps): update rhtap references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

chore(deps): update rhtap references
  .tekton/hypershift-release-mce-25-pull-request.yaml
  .tekton/hypershift-release-mce-25-push.yaml
Labels: none

cipher suites from config
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Labels: area/control-plane-operator

set Konnectivity cipher suites
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Labels: area/control-plane-operator

Set OPERATOR_IMAGE environment variable
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
Labels: area/control-plane-operator

Ensure cloud resources are destroyed for all platforms when --destroy-cloud-resources is used
  cmd/cluster/core/destroy.go
Labels: none

set Konnectivity cipher suites
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Labels: area/control-plane-operator

cipher suites from config
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Labels: area/control-plane-operator

[kubevirt] Fix virt-launcher netpol to allow missing access
  hypershift-operator/controllers/hostedcluster/network_policies.go
Labels: area/hypershift-operator

Ensure cloud resources are destroyed for all platforms when --destroy-cloud-resources is used
  cmd/cluster/core/destroy.go
Labels: none

do not set KAS OAuthMetadataFile with Authentication type OIDC
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Labels: area/control-plane-operator

test/e2e: temporarily skip NTO machineconfig test
  test/e2e/nodepool_nto_machineconfig_test.go
Labels: none

Add OpenShiftPodSecurityAdmission=false featureGate to CPC
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/config.go
Labels: area/control-plane-operator

Update RHTAP references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

Update RHTAP references
  .tekton/hypershift-release-mce-25-pull-request.yaml
  .tekton/hypershift-release-mce-25-push.yaml
Labels: none

chore(deps): update rhtap references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

Update agentserviceconfig.md to remove PUBLIC_CONTAINER_REGISTRIES
  docs/content/labs/common/mce/agentserviceconfig.md
Labels: none

hcco: only send mutating apply call when necessary
  control-plane-operator/hostedclusterconfigoperator/controllers/nodecount/controller.go
Labels: area/control-plane-operator

Revert "Merge pull request #3649 from sjenning/increase-cpo-mutate-budget"
  test/e2e/util/util.go
Labels: none

Switch to use service endpoint for Konnectivity
  control-plane-operator/controllers/hostedcontrolplane/kas/egresscfg.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
Labels: area/control-plane-operator

Ignition CM payload may have multiple mashine-configs
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: area/hypershift-operator

do not set KAS OAuthMetadataFile with Authentication type OIDC
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Labels: area/control-plane-operator

Add pull secret to install CLI & create k8s secret
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hack/app-sre/saas_template.yaml
Labels: none

[release-4.15] Update OLM Default Catalog Sources to 4.15
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
Labels: area/control-plane-operator

Split AWS security groups for workers and for VPC endpoint
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1beta1/hostedcluster_conditions.go
  api/hypershift/v1beta1/hostedcluster_types.go
  client/applyconfiguration/hypershift/v1alpha1/awsplatformstatus.go
  client/applyconfiguration/hypershift/v1beta1/awsplatformstatus.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/awsutil/sg.go
  support/conditions/conditions.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator, area/control-plane-operator

cleanup: nilness check failures
  availability-prober/availability_prober.go
  cmd/infra/powervs/destroy.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/platform/aws/controller.go
  hypershift-operator/init.go
  hypershift-operator/main.go
  ignition-server/cmd/run_local_ignitionprovider.go
Labels: area/hypershift-operator, area/control-plane-operator

include node local client loadbalancer address in kube-apiserver signing ips
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
Labels: area/control-plane-operator

Revert "NO-JIRA: test/e2e: temporarily skip NTO machineconfig test"
  test/e2e/nodepool_nto_machineconfig_test.go
Labels: none

OCPBUGS-30242: Use cluster-config-operator for 4.14 payload
  ignition-server/controllers/local_ignitionprovider.go
Labels: area/control-plane-operator

OCPBUGS-30242: More explicit payload version checks in ignitionserver
  ignition-server/controllers/local_ignitionprovider.go
Labels: area/control-plane-operator

chore(deps): update rhtap references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

Update OLM Default Catalog Sources to 4.16 on main
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
Labels: area/control-plane-operator

unify liveness and readiness probe settings across all first level HCP components
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/params.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/aws.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/azure.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/ibmcloud.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/kms.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/params.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/params.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/scheduler/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/params.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/config/probes.go
Labels: area/hypershift-operator, area/control-plane-operator
