Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

docs: document how to add/update requirements.txt with sha256 hashes
  contrib/oidc/README.md
  docs/README.md
  hypershift-ci-python/README.md
Labels: none

chore(ci): bump httplib2 and pyasn1 hashes; fix regen instructions
  contrib/oidc/README.md
  docs/README.md
  hypershift-ci-python/README.md
  hypershift-ci-python/requirements.txt
Labels: none

chore(ci): bump protobuf to 5.29.6 in hypershift-ci-python requirements
  contrib/oidc/requirements.txt
  docs/requirements.txt
  hypershift-ci-python/requirements.txt
Labels: none

chore(ci): enforce pip hash-checking in docs and CI python image builds
  docs/Dockerfile
  docs/image-version.awk
  hypershift-ci-python/Dockerfile
Labels: none

[release 4.15] Fix OCPBUGS-99080: CVE-2026-16242 konnectivity agent auth
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment_test.go
Labels: area/control-plane-operator

fix(build): align control-plane Dockerfile builder image with main Dockerfile
  Dockerfile.control-plane
Labels: none

ci: replace dead pip-install input with explicit pip install step
  .github/workflows/docs-build-reusable.yaml
Labels: none

chore(ci): enforce pip hash-checking in docs-build-reusable workflow
  .github/workflows/docs-build-reusable.yaml
Labels: none

test: Add unit test for aggregateMachineMessages truncation logic
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: area/hypershift-operator

test(awsprivatelink): add unit test for NoSuchHostedZone handling during deletion
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
Labels: area/control-plane-operator

fix(OCPBUGS-98721): Fix inconsistent discriminated union in NodePoolManagement
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/cluster/aws/create.go
  cmd/cluster/azure/create.go
  cmd/cluster/gcp/create.go
  cmd/cluster/kubevirt/create.go
  cmd/cluster/openstack/create.go
  cmd/cluster/powervs/create.go
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/featuregated.nodepools.osimagestream.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.validation.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: area/hypershift-operator

chore(cli): update CAPI provider CRDs for k8s v0.36.2
  cmd/install/assets/crds/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsclusters.yaml
  cmd/install/assets/crds/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsclustertemplates.yaml
  cmd/install/assets/crds/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsmachinepools.yaml
  cmd/install/assets/crds/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsmachines.yaml
  cmd/install/assets/crds/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsmachinetemplates.yaml
  cmd/install/assets/crds/cluster-api-provider-azure/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
  cmd/install/assets/crds/cluster-api-provider-azure/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  cmd/install/assets/crds/cluster-api-provider-azure/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  cmd/install/assets/crds/cluster-api-provider-gcp/infrastructure.cluster.x-k8s.io_gcpclusters.yaml
  cmd/install/assets/crds/cluster-api-provider-gcp/infrastructure.cluster.x-k8s.io_gcpclustertemplates.yaml
  cmd/install/assets/crds/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmpowervsclusters.yaml
  cmd/install/assets/crds/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmpowervsclustertemplates.yaml
  cmd/install/assets/crds/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmpowervsimages.yaml
  cmd/install/assets/crds/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmpowervsmachines.yaml
  cmd/install/assets/crds/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmpowervsmachinetemplates.yaml
  cmd/install/assets/crds/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmvpcmachines.yaml
  cmd/install/assets/crds/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmvpcmachinetemplates.yaml
  cmd/install/assets/crds/cluster-api-provider-kubevirt/infrastructure.cluster.x-k8s.io_kubevirtmachines.yaml
  cmd/install/assets/crds/cluster-api-provider-kubevirt/infrastructure.cluster.x-k8s.io_kubevirtmachinetemplates.yaml
Labels: none

build(hypershift-operator): bump k8s to v0.36.2, Go 1.26, controller-runtime v0.24.1
  .ci-operator.yaml
  .gitignore
  .golangci.yml
  Containerfile.cli
  Containerfile.control-plane
  Containerfile.operator
  Dockerfile
  Dockerfile.control-plane
  Dockerfile.dev
  Dockerfile.e2e
  contrib/gomaxprocs-webhook/Dockerfile
  go.mod
  go.sum
  hack/workspace/go.work
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  support/capabilities/hosted_control_plane_capabilities.go
  support/capabilities/hosted_control_plane_capabilities_test.go
Labels: area/hypershift-operator

fix(control-plane-operator): use explicit capabilities in CVO bootstrap ClusterVersion
  Makefile
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/EtcdSharding.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/EtcdSharding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/testdata/zz_fixture_TestGenerateConfig_high_node_utilization_profile.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/testdata/zz_fixture_TestGenerateConfig_no_scoring_profile.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  support/capabilities/hosted_control_plane_capabilities.go
  support/capabilities/hosted_control_plane_capabilities_test.go
Labels: area/hypershift-operator, area/control-plane-operator

feat(placeholder): Add CAPI migration flag placeholder
  cmd/install/install.go
Labels: none

test(cli): add product-cli unit tests for create nodepool
  product-cli/cmd/nodepool/agent/create_test.go
  product-cli/cmd/nodepool/agent/testdata/zz_fixture_TestUpdateNodePool_When_empty_label_selector_is_provided__it_should_generate_correct_nodepool.yaml
  product-cli/cmd/nodepool/agent/testdata/zz_fixture_TestUpdateNodePool_When_multi_label_selector_is_provided__it_should_generate_correct_nodepool.yaml
  product-cli/cmd/nodepool/agent/testdata/zz_fixture_TestUpdateNodePool_When_single_label_selector_is_provided__it_should_generate_correct_nodepool.yaml
  product-cli/cmd/nodepool/aws/create_test.go
  product-cli/cmd/nodepool/aws/testdata/zz_fixture_TestUpdateNodePool_When_full_configuration_is_provided__it_should_generate_correct_nodepool.yaml
  product-cli/cmd/nodepool/aws/testdata/zz_fixture_TestUpdateNodePool_When_minimal_configuration_is_provided__it_should_generate_correct_nodepool.yaml
  product-cli/cmd/nodepool/aws/testdata/zz_fixture_TestUpdateNodePool_When_subnet_id_is_omitted__it_should_use_the_hosted_cluster_default_subnet.yaml
  product-cli/cmd/nodepool/azure/create_test.go
  product-cli/cmd/nodepool/azure/testdata/zz_fixture_TestUpdateNodePool_When_full_configuration_is_provided__it_should_generate_correct_nodepool.yaml
  product-cli/cmd/nodepool/azure/testdata/zz_fixture_TestUpdateNodePool_When_minimal_configuration_is_provided__it_should_generate_correct_nodepool.yaml
  product-cli/cmd/nodepool/kubevirt/create_test.go
  product-cli/cmd/nodepool/kubevirt/testdata/zz_fixture_TestUpdateNodePool_When_full_configuration_is_provided__it_should_generate_correct_nodepool.yaml
  product-cli/cmd/nodepool/kubevirt/testdata/zz_fixture_TestUpdateNodePool_When_minimal_configuration_is_provided__it_should_generate_correct_nodepool.yaml
  product-cli/cmd/nodepool/openstack/create_test.go
  product-cli/cmd/nodepool/openstack/testdata/zz_fixture_TestUpdateNodePool_When_full_configuration_with_availability_zone_is_provided__it_should_generate_correct_nodepool.yaml
  product-cli/cmd/nodepool/openstack/testdata/zz_fixture_TestUpdateNodePool_When_minimal_configuration_is_provided__it_should_generate_correct_nodepool.yaml
Labels: none

fix(konnectivity): propagate mgmt cluster proxy env vars to sidecar
  support/controlplane-component/konnectivity-container.go
  support/controlplane-component/konnectivity-container_test.go
  support/konnectivityproxy/dialer_test.go
Labels: none

fix(crr): replace exponential backoff with fixed-interval requeue and add timeout
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller.go
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller_test.go
  test/integration/control_plane_pki_operator.go
Labels: none

fix(etcd): etcd initialization bugs after etcdctl snapshot restore
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/etcd-init.sh
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/etcd_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/statefulset.go
Labels: area/control-plane-operator

fix(etcd): bump revision and mark compacted on snapshot restore
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/etcd-init.sh
Labels: area/control-plane-operator

fix(cpo): resolve cherry-pick conflicts in oauth
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/deployment.go
  support/podspec/containers.go
  support/podspec/containers_test.go
Labels: area/control-plane-operator

fix(cpo): handle service-ca generation errors in CSI serving cert reconciliation
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/service_ca_annotation_test.go
Labels: area/control-plane-operator

test(cpo): rename service-ca annotation cases to TESTING.md format
  control-plane-operator/controllers/hostedcontrolplane/service_ca_annotation_test.go
Labels: area/control-plane-operator

fix(azure): use DeletionFailed condition to orphan stuck AzureMachines during cluster deletion
  cmd/cluster/azure/destroy.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
Labels: area/hypershift-operator

fix(kubevirt): stop hardcoding evictionStrategy=External on KubeVirt VMs
  api/hypershift/v1beta1/kubevirt.go
  api/hypershift/v1beta1/nodepool_types_test.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/kubevirtnodepoolplatform.go
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/how-to/kubevirt/gpu-devices.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/kubevirt.go
Labels: area/hypershift-operator

fix(ci): move PIP_CACHE_DIR to the actual pip install step
  .github/workflows/docs-build-reusable.yaml
Labels: none

fix(konnectivity): conditionally prefer IPv4 based on HCP network config
  konnectivity-https-proxy/cmd.go
  konnectivity-socks5-proxy/main.go
  support/controlplane-component/konnectivity-container.go
  support/controlplane-component/konnectivity-container_test.go
  support/konnectivityproxy/dialer.go
  support/konnectivityproxy/resolver.go
  support/konnectivityproxy/resolver_test.go
Labels: area/control-plane-operator

docs: minor formatting fix in docs/README.md
  docs/README.md
Labels: none

feat(capi): Storage version migration to v1beta2
  cmd/install/assets/crds/assets.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_manager/deployment.go
  hypershift-operator/main.go
  support/capi-crdmigrator/crd_migrator.go
  support/capi-crdmigrator/metrics.go
  support/capi-crdmigrator/status.go
  support/capi-crdmigrator/types.go
  support/config/constants.go
  test/e2e/util/install.go
  test/e2e/util/options.go
Labels: area/hypershift-operator, area/control-plane-operator

test(unit): Add tests for CAPI storage migration
  cmd/install/assets/crds/assets_test.go
  cmd/install/assets/hypershift_operator_test.go
  cmd/install/install_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_manager/deployment_test.go
  support/capi-crdmigrator/crd_migrator_test.go
  support/capi-crdmigrator/status_test.go
Labels: area/control-plane-operator

docs: Add how-to guide for CAPI storage version migration
  docs/content/how-to/capi-storage-migration.md
  docs/content/reference/aggregated-docs.md
  docs/mkdocs.yml
Labels: none

test(e2e): Add test for CAPI storage migration
  test/e2e/capi_storage_migration_test.go
  test/e2e/e2e_test.go
  test/e2e/util/install.go
  test/e2e/util/options.go
Labels: none

fix(codecov): Ignore crd_migrator.go in coverage
  codecov.yml
Labels: none

fix(OCPBUGS-99288): Add proxy env vars to AWS cloud-controller-manager deployment
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/deployment_test.go
Labels: area/control-plane-operator

test(OCPBUGS-99288): Add partial proxy and env var preservation test cases
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/deployment_test.go
Labels: area/control-plane-operator

feat(cpo): replace per-controller HCP finalizers with status conditions for deletion cleanup
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
  control-plane-operator/controllers/azureprivatelinkservice/controller.go
  control-plane-operator/controllers/azureprivatelinkservice/controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(OCPBUGS-99288): Add proxy env vars to AWS cloud-controller-manager deployment
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/deployment_test.go
  support/util/containers.go
Labels: area/control-plane-operator

fix(nodepool): resolve CPO image from NodePool release for haproxy ignition config
  hypershift-operator/controllers/nodepool/apiserver-haproxy/haproxy.go
  hypershift-operator/controllers/nodepool/apiserver-haproxy/haproxy_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: area/hypershift-operator

feat: label some hosted control plane services
  control-plane-operator/controllers/hostedcontrolplane/infra/infra_test.go
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_ARO_Route_SharedIngress_AnnotationFallback.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_ARO_Route_Swift_Private.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_ARO_Route_Swift_PublicAndPrivate.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_Private_KAS_LoadBalancer.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_Private_Route.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_PublicAndPrivate_KAS_LoadBalancer.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_PublicAndPrivate_Route.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_Public_KAS_LoadBalancer.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_Public_Route.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_Azure_Private_KAS_LoadBalancer.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_Azure_Private_OAuth_LoadBalancer.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_When_Azure_self_managed_cluster_has_KAS_Route_with_hostname__it_should_need_an_external_router.yaml
  control-plane-operator/controllers/hostedcontrolplane/manifests/infra.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/infra_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/AROSwift/zz_fixture_TestControlPlaneComponents_ignition_server_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/GCP/zz_fixture_TestControlPlaneComponents_ignition_server_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/IBMCloud/zz_fixture_TestControlPlaneComponents_ignition_server_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/ModernTLS/zz_fixture_TestControlPlaneComponents_ignition_server_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_ignition_server_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/zz_fixture_TestControlPlaneComponents_ignition_server_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ignition-server/service.yaml
Labels: area/control-plane-operator

docs(CNTRLPLANE-3202): add restore, OADP, and limitations for self-managed Azure DR
  docs/content/how-to/azure/backup-and-restore-etcd-snapshot.md
  docs/content/how-to/disaster-recovery/backup-and-restore-oadp-1-5.md
  docs/content/reference/aggregated-docs.md
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
