Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

feat(aws/ccm/config): read FG from HCP cfg instead of global
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/config.go
  control-plane-operator/featuregates/featuregates.go
Labels: area/control-plane-operator

feat(aws/ccm/config/e2e): ensure tests verify per-cluster feature gate evaluation
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/config_test.go
Labels: area/control-plane-operator

feat(aws/ccm/config/e2e): test gate for CCM-AWS NLBSecurityGroupMode
  test/e2e/create_cluster_test.go
  test/e2e/util/aws_ccm.go
Labels: none

chore(vendor/aws/elbv2): make update && deps
  vendor/github.com/aws/aws-sdk-go/service/elbv2/api.go
  vendor/github.com/aws/aws-sdk-go/service/elbv2/doc.go
  vendor/github.com/aws/aws-sdk-go/service/elbv2/errors.go
  vendor/github.com/aws/aws-sdk-go/service/elbv2/service.go
  vendor/github.com/aws/aws-sdk-go/service/elbv2/waiters.go
  vendor/modules.txt
Labels: none

build(e2e): include hypershift binary in Dockerfile.e2e
  Dockerfile.e2e
Labels: none

test(e2e): add Azure utilities for e2e tests
  test/e2e/util/azure.go
Labels: none

fix(e2e): allow partial nodes for ovnkube-node DaemonSet readiness check
  test/e2e/util/globalps.go
Labels: none

test: remove PutRolePolicy from EnsureDefaultSecurityGroupTags to verify v1 behavior
  test/e2e/util/util.go
Labels: none

fix(operator): use manifest functions for APIService name consistency
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

fix(OCPBUGS-74960): prevent resource leak on deletion and handle DependencyViolation
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
  support/awsutil/errorcode.go
Labels: area/control-plane-operator

fix: declare err variable after PutRolePolicy removal
  test/e2e/util/util.go
Labels: none

feat(install): register Azure private platform flags
  cmd/install/install.go
  cmd/install/install_test.go
Labels: none

allow aws ebs driver to copy volumes
  cmd/infra/aws/iam.go
Labels: none

feat(tooling): improve pr-report robustness and usability
  .claude/commands/pr-report.md
  contrib/repo_metrics/weekly_pr_report.py
Labels: none

feat(tooling): overhaul pr-report skill and Python script
  .claude/commands/pr-report.md
  contrib/repo_metrics/weekly_pr_report.py
Labels: none

fix(tooling): address pr-report review feedback
  .claude/commands/pr-report.md
  contrib/repo_metrics/weekly_pr_report.py
Labels: none

feat(tooling): add openshift/enhancements repo to pr-report
  .claude/commands/pr-report.md
  contrib/repo_metrics/weekly_pr_report.py
Labels: none

feat(api): add AzurePrivateLinkService CRD and private endpoint access config
  api/.golangci.yml
  api/go.mod
  api/hypershift/v1beta1/azure.go
  api/hypershift/v1beta1/azureprivatelinkservice_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/azureprivatelinkservices.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
Labels: area/hypershift-operator

feat(cli): add Azure private endpoint access flags and infrastructure
  cmd/cluster/azure/create.go
  cmd/cluster/azure/create_test.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_endpoint_access_is_Private_with_endpoint_access_private_flags_it_should_render_HostedCluster_with_EndpointAccessPrivate.yaml
  cmd/cluster/azure/types.go
  cmd/infra/azure/create.go
  cmd/infra/azure/create_iam.go
  cmd/infra/azure/create_test.go
  cmd/infra/azure/identities.go
  cmd/infra/azure/identities_test.go
  cmd/infra/azure/networking.go
  cmd/infra/azure/rbac.go
  cmd/infra/azure/types.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/hypershift_operator_test.go
  cmd/install/install.go
  cmd/install/install_test.go
  cmd/kubeconfig/create.go
  cmd/kubeconfig/create_test.go
  cmd/util/azure_flag_descriptions.go
Labels: none

chore(api): regenerate CRDs, clients, deepcopy, and vendor
  client/applyconfiguration/hypershift/v1beta1/azureendpointaccessspec.go
  client/applyconfiguration/hypershift/v1beta1/azureplatformspec.go
  client/applyconfiguration/hypershift/v1beta1/azureprivateconnectivityconfig.go
  client/applyconfiguration/hypershift/v1beta1/azureprivatelinkservice.go
  client/applyconfiguration/hypershift/v1beta1/azureprivatelinkservicespec.go
  client/applyconfiguration/hypershift/v1beta1/azureprivatelinkservicestatus.go
  client/applyconfiguration/hypershift/v1beta1/azureworkloadidentities.go
  client/applyconfiguration/utils.go
  client/clientset/clientset/typed/hypershift/v1beta1/azureprivatelinkservice.go
  client/clientset/clientset/typed/hypershift/v1beta1/fake/fake_azureprivatelinkservice.go
  client/clientset/clientset/typed/hypershift/v1beta1/fake/fake_hypershift_client.go
  client/clientset/clientset/typed/hypershift/v1beta1/generated_expansion.go
  client/clientset/clientset/typed/hypershift/v1beta1/hypershift_client.go
  client/informers/externalversions/generic.go
  client/informers/externalversions/hypershift/v1beta1/azureprivatelinkservice.go
  client/informers/externalversions/hypershift/v1beta1/interface.go
  client/listers/hypershift/v1beta1/azureprivatelinkservice.go
  client/listers/hypershift/v1beta1/expansion_generated.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/azureprivatelinkservices.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azureprivatelinkservice_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Labels: none

test(e2e): add Azure private endpoint access e2e and API validation tests
  test/e2e/azure_private_link_test.go
  test/e2e/e2e_test.go
  test/e2e/util/install.go
  test/e2e/util/options.go
  test/e2e/v2/tests/api_ux_validation_test.go
Labels: none

feat(hypershift-operator): add Azure Private Link Service controller
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/platform/azure/controller.go
  hypershift-operator/controllers/platform/azure/controller_test.go
  hypershift-operator/controllers/platform/gcp/privateserviceconnect_controller.go
  hypershift-operator/main.go
  support/azureutil/annotations.go
  support/azureutil/constants.go
  support/azureutil/errors.go
  support/azureutil/errors_test.go
  support/azureutil/validation.go
  support/azureutil/validation_test.go
  support/util/annotations.go
  support/util/annotations_test.go
  support/util/public.go
  support/util/public_test.go
  support/util/service.go
  support/util/service_test.go
  support/util/visibility.go
  support/util/visibility_test.go
Labels: area/hypershift-operator

feat(control-plane-operator): add Azure Private Link and private DNS controllers
  control-plane-operator/controllers/azureprivatelinkservice/controller.go
  control-plane-operator/controllers/azureprivatelinkservice/controller_test.go
  control-plane-operator/controllers/azureprivatelinkservice/observer.go
  control-plane-operator/controllers/azureprivatelinkservice/observer_test.go
  control-plane-operator/controllers/gcpprivateserviceconnect/observer.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/controlplaneoperator/deployment.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/main.go
Labels: area/control-plane-operator

docs: add Azure private endpoint access documentation
  docs/content/how-to/azure/create-iam-separately.md
  docs/content/how-to/azure/create-infra-separately.md
  docs/content/how-to/azure/create-self-managed-azure-cluster.md
  docs/content/how-to/azure/deploy-azure-private-clusters.md
  docs/content/how-to/azure/self-managed-azure-index.md
  docs/content/how-to/azure/setup-management-cluster.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  docs/content/reference/architecture/azure/privatelink.md
  docs/content/reference/infrastructure/azure-self-managed.md
  docs/mkdocs.yml
Labels: none

docs: add restructure-hypershift-commits skill to project
  .claude/SKILLS.md
  .claude/skills/restructure-hypershift-commits/SKILL.md
Labels: none

chore(claude): add restructure-commits plugin command
  .claude-plugin/plugin.json
  .claude/SKILLS.md
  .claude/commands/restructure-commits.md
Labels: none

fix(operator): gate APIService reconciliation on backend readiness
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

feat(cli): add configurable external-dns interval and AWS zones cache duration
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/hypershift_operator_test.go
  cmd/install/install.go
Labels: none

bisect: revert CPO to v1 (keep rest as v2)
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/healthcheck/aws.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  support/awsutil/sg.go
  test/e2e/util/util.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/ec2query/build.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/ec2query/unmarshal.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/customizations.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/doc.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/ec2iface/interface.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/errors.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/service.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/waiters.go
  vendor/modules.txt
Labels: area/control-plane-operator

fix(gcp): use distinct app label for GCP CCM deployment
  control-plane-operator/controllers/hostedcontrolplane/testdata/gcp-cloud-controller-manager/AROSwift/zz_fixture_TestControlPlaneComponents_gcp_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/gcp-cloud-controller-manager/GCP/zz_fixture_TestControlPlaneComponents_gcp_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/gcp-cloud-controller-manager/IBMCloud/zz_fixture_TestControlPlaneComponents_gcp_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/gcp-cloud-controller-manager/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_gcp_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/gcp-cloud-controller-manager/zz_fixture_TestControlPlaneComponents_gcp_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/gcp-cloud-controller-manager/deployment.yaml
  test/e2e/util/util.go
Labels: area/control-plane-operator

feat(e2e): introduce BASE_DOMAIN env var for E2E test configuration
  test/e2e/util/options.go
  test/e2e/util/options_test.go
Labels: none

feat(gcp): add HCCO credential propagation for image registry
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/gcp/gcp.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/gcp/gcp_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/creds.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

fix(e2e): improve test isolation and naming in BASE_DOMAIN tests
  test/e2e/util/options_test.go
Labels: none

feat(api): register HCPEtcdBackup feature gate
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  hypershift-operator/featuregate/feature.go
  hypershift-operator/featuregate/feature_test.go
Labels: area/hypershift-operator

feat(install): add configurable external-dns interval and AWS zones cache duration
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  cmd/install/install_render.go
  cmd/install/render.go
Labels: none

test: add unit tests for external-dns interval and zones cache duration
  cmd/install/assets/hypershift_operator_test.go
Labels: none

refactor(gcp): extract WIF credentials to shared package and add namespace guard
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/gcp/gcp.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/gcp/gcp_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_test.go
  support/gcputil/gcputil.go
  support/gcputil/gcputil_test.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(install): add Helm support, validation, and constants for external-dns settings
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/hypershift_operator_test.go
  cmd/install/install.go
  cmd/install/install_helm.go
  cmd/install/testdata/zz_fixture_TestHelmCommand_values.yaml
Labels: none

docs: add NodePool Rollouts reference documentation
  docs/content/how-to/automated-machine-management/nodepool-lifecycle.md
  docs/content/how-to/upgrades.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/nodepool-rollouts.md
  docs/mkdocs.yml
Labels: none

feat(claude): add API conventions skill for CRD type design
  .claude/agents/api-sme.md
  .claude/skills/api-conventions/SKILL.md
Labels: none
