Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

chore(deps): update module sigs.k8s.io/apiserver-network-proxy/konnectivity-client to v0.33.0
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/modules.txt
  hack/tools/vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/proto/client/client.pb.go
  vendor/modules.txt
Labels: none

chore(deps): update module sigs.k8s.io/controller-tools to v0.19.0
  hack/tools/go.mod
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module go.etcd.io/etcd/pkg/v3 to v3.6.5
  go.mod
Labels: none

chore(ai): add ocp-expert agent for OpenShift/Kubernetes cluster operations
  .claude/agents/openshift-cluster-expert.md
Labels: none

fix(deps): update github.com/openshift/api digest to 1517fca
  go.mod
Labels: none

fix(user-ca-bundle): Delete user-ca-bundle from guest cluster when additionalTrustBundle removed
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  test/e2e/nodepool_additionalTrustBundlePropagation_test.go
  test/e2e/util/eventually.go
Labels: area/control-plane-operator

chore(ai): ensure jira-solve run make pre-commit
  .claude/commands/jira-solve.md
Labels: none

fix(deps): update github.com/ppc64le-cloud/powervs-utils digest to d58d915
  go.mod
  go.sum
  vendor/github.com/ppc64le-cloud/powervs-utils/README.md
  vendor/github.com/ppc64le-cloud/powervs-utils/region.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/opencontainers/runc to v1.3.1
  go.mod
  go.sum
  vendor/github.com/moby/sys/user/LICENSE
  vendor/github.com/moby/sys/user/lookup_unix.go
  vendor/github.com/moby/sys/user/user.go
  vendor/github.com/moby/sys/user/user_fuzzer.go
  vendor/github.com/opencontainers/runc/NOTICE
  vendor/github.com/opencontainers/runc/libcontainer/user/lookup_deprecated.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user_deprecated.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/xattrs_linux.go
  vendor/github.com/opencontainers/selinux/pkg/pwalkdir/README.md
  vendor/github.com/opencontainers/selinux/pkg/pwalkdir/pwalkdir.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/pjbgf/sha1cd to v0.5.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/klauspost/cpuid/v2/.gitignore
  hack/tools/vendor/github.com/klauspost/cpuid/v2/.goreleaser.yml
  hack/tools/vendor/github.com/klauspost/cpuid/v2/CONTRIBUTING.txt
  hack/tools/vendor/github.com/klauspost/cpuid/v2/LICENSE
  hack/tools/vendor/github.com/klauspost/cpuid/v2/README.md
  hack/tools/vendor/github.com/klauspost/cpuid/v2/cpuid.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/cpuid_386.s
  hack/tools/vendor/github.com/klauspost/cpuid/v2/cpuid_amd64.s
  hack/tools/vendor/github.com/klauspost/cpuid/v2/cpuid_arm64.s
  hack/tools/vendor/github.com/klauspost/cpuid/v2/detect_arm64.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/detect_ref.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/detect_x86.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/featureid_string.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/os_darwin_arm64.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/os_linux_arm64.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/os_other_arm64.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/os_safe_linux_arm64.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/os_unsafe_linux_arm64.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/test-architectures.sh
  hack/tools/vendor/github.com/pjbgf/sha1cd/Dockerfile.arm
  hack/tools/vendor/github.com/pjbgf/sha1cd/Dockerfile.arm64
  hack/tools/vendor/github.com/pjbgf/sha1cd/LICENSE
  hack/tools/vendor/github.com/pjbgf/sha1cd/Makefile
  hack/tools/vendor/github.com/pjbgf/sha1cd/README.md
  hack/tools/vendor/github.com/pjbgf/sha1cd/sha1cd.go
  hack/tools/vendor/github.com/pjbgf/sha1cd/sha1cdblock_amd64.s
  hack/tools/vendor/github.com/pjbgf/sha1cd/sha1cdblock_arm64.go
  hack/tools/vendor/github.com/pjbgf/sha1cd/sha1cdblock_arm64.s
  hack/tools/vendor/github.com/pjbgf/sha1cd/sha1cdblock_generic.go
  hack/tools/vendor/github.com/pjbgf/sha1cd/sha1cdblock_noasm.go
  hack/tools/vendor/github.com/pjbgf/sha1cd/ubc/doc.go
  hack/tools/vendor/github.com/pjbgf/sha1cd/ubc/ubc.go
  hack/tools/vendor/modules.txt
Labels: none

fix(deps): update k8s.io/utils digest to 0af2bda
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/k8s.io/utils/buffer/ring_growing.go
  hack/tools/vendor/k8s.io/utils/clock/testing/fake_clock.go
  hack/tools/vendor/k8s.io/utils/integer/integer.go
  hack/tools/vendor/k8s.io/utils/net/multi_listen.go
  hack/tools/vendor/k8s.io/utils/pointer/pointer.go
  hack/tools/vendor/k8s.io/utils/ptr/OWNERS
  hack/tools/vendor/k8s.io/utils/ptr/README.md
  hack/tools/vendor/k8s.io/utils/ptr/ptr.go
  hack/tools/vendor/k8s.io/utils/trace/trace.go
  hack/tools/vendor/modules.txt
  vendor/k8s.io/utils/buffer/ring_growing.go
  vendor/k8s.io/utils/clock/testing/fake_clock.go
  vendor/k8s.io/utils/integer/integer.go
  vendor/k8s.io/utils/lru/lru.go
  vendor/k8s.io/utils/net/multi_listen.go
  vendor/k8s.io/utils/trace/trace.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/antlr/antlr4/runtime/go/antlr/v4 to v4.0.0-20250902222332-bd8f9930d053
  go.mod
Labels: none

chore(deps): update module gopkg.in/evanphx/json-patch.v4 to v4.13.0
  api/go.mod
  api/go.sum
  api/vendor/github.com/pkg/errors/.gitignore
  api/vendor/github.com/pkg/errors/.travis.yml
  api/vendor/github.com/pkg/errors/LICENSE
  api/vendor/github.com/pkg/errors/Makefile
  api/vendor/github.com/pkg/errors/README.md
  api/vendor/github.com/pkg/errors/appveyor.yml
  api/vendor/github.com/pkg/errors/errors.go
  api/vendor/github.com/pkg/errors/go113.go
  api/vendor/github.com/pkg/errors/stack.go
  api/vendor/gopkg.in/evanphx/json-patch.v4/README.md
  api/vendor/gopkg.in/evanphx/json-patch.v4/patch.go
  api/vendor/modules.txt
  go.mod
  go.sum
  vendor/gopkg.in/evanphx/json-patch.v4/README.md
  vendor/gopkg.in/evanphx/json-patch.v4/patch.go
  vendor/modules.txt
Labels: area/hypershift-operator

chore(deps): update module golang.org/x/oauth2 to v0.31.0
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/golang.org/x/oauth2/internal/doc.go
  hack/tools/vendor/golang.org/x/oauth2/internal/oauth2.go
  hack/tools/vendor/golang.org/x/oauth2/internal/token.go
  hack/tools/vendor/golang.org/x/oauth2/internal/transport.go
  hack/tools/vendor/golang.org/x/oauth2/oauth2.go
  hack/tools/vendor/golang.org/x/oauth2/pkce.go
  hack/tools/vendor/golang.org/x/oauth2/token.go
  hack/tools/vendor/golang.org/x/oauth2/transport.go
  hack/tools/vendor/modules.txt
  vendor/modules.txt
Labels: area/hypershift-operator

feat(autoscaler): Add podMonitor to expose cluster autoscaler metrics
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-autoscaler/IBMCloud/zz_fixture_TestControlPlaneComponents_cluster_autoscaler_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-autoscaler/IBMCloud/zz_fixture_TestControlPlaneComponents_cluster_autoscaler_podmonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-autoscaler/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_autoscaler_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-autoscaler/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_autoscaler_podmonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-autoscaler/zz_fixture_TestControlPlaneComponents_cluster_autoscaler_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-autoscaler/zz_fixture_TestControlPlaneComponents_cluster_autoscaler_podmonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-autoscaler/podmonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/autoscaler/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/autoscaler/podmonitor.go
Labels: area/control-plane-operator

feat(ai): add jira-create slash command
  .claude/commands/jira-create.md
Labels: none

fix(deps): update github.com/openshift/hypershift/api digest to db76a89
  go.mod
  vendor/modules.txt
Labels: none

fix(deps): update github.com/openshift/hypershift/api digest to db76a89
  go.mod
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/azure/go-autorest/autorest/azure/cli to v0.4.7
  go.mod
  go.sum
  vendor/github.com/Azure/go-autorest/autorest/azure/cli/profile.go
  vendor/github.com/Azure/go-autorest/autorest/azure/cli/token.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/azure/go-autorest/autorest/date to v0.3.1
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/Azure/go-autorest/autorest/date/go_mod_tidy_hack.go
  hack/tools/vendor/modules.txt
  vendor/github.com/Azure/go-autorest/autorest/date/go_mod_tidy_hack.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/azure/go-autorest/autorest/to to v0.4.1
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/Azure/go-autorest/autorest/to/go_mod_tidy_hack.go
  hack/tools/vendor/modules.txt
  vendor/github.com/Azure/go-autorest/autorest/to/go_mod_tidy_hack.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/azure/go-autorest/autorest/validation to v0.3.2
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/Azure/go-autorest/autorest/validation/go_mod_tidy_hack.go
  hack/tools/vendor/modules.txt
  vendor/github.com/Azure/go-autorest/autorest/validation/go_mod_tidy_hack.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/azure/go-autorest/logger to v0.2.2
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/Azure/go-autorest/logger/go_mod_tidy_hack.go
  hack/tools/vendor/github.com/Azure/go-autorest/logger/logger.go
  hack/tools/vendor/modules.txt
  vendor/github.com/Azure/go-autorest/logger/go_mod_tidy_hack.go
  vendor/github.com/Azure/go-autorest/logger/logger.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/azure/go-autorest/tracing to v0.6.1
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/Azure/go-autorest/tracing/go_mod_tidy_hack.go
  hack/tools/vendor/modules.txt
  vendor/github.com/Azure/go-autorest/tracing/go_mod_tidy_hack.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/benbjohnson/clock to v1.3.5
  go.mod
  go.sum
  vendor/github.com/benbjohnson/clock/clock.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/chai2010/gettext-go to v1.0.3
  go.mod
  go.sum
  vendor/github.com/chai2010/gettext-go/README.md
  vendor/github.com/chai2010/gettext-go/plural/formula.go
  vendor/github.com/chai2010/gettext-go/po/util.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/docker/docker to v23.0.18+incompatible
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/docker/docker/client/client.go
  hack/tools/vendor/github.com/docker/docker/client/client_deprecated.go
  hack/tools/vendor/github.com/docker/docker/client/container_wait.go
  hack/tools/vendor/github.com/docker/docker/client/hijack.go
  hack/tools/vendor/github.com/docker/docker/client/request.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/felixge/httpsnoop to v1.0.4
  go.mod
  go.sum
  vendor/github.com/felixge/httpsnoop/.travis.yml
  vendor/github.com/felixge/httpsnoop/Makefile
  vendor/github.com/felixge/httpsnoop/README.md
  vendor/github.com/felixge/httpsnoop/capture_metrics.go
  vendor/github.com/felixge/httpsnoop/wrap_generated_gteq_1.8.go
  vendor/github.com/felixge/httpsnoop/wrap_generated_lt_1.8.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/gabriel-vasile/mimetype to v1.4.10
  go.mod
  go.sum
  vendor/github.com/gabriel-vasile/mimetype/.golangci.yml
  vendor/github.com/gabriel-vasile/mimetype/CODE_OF_CONDUCT.md
  vendor/github.com/gabriel-vasile/mimetype/CONTRIBUTING.md
  vendor/github.com/gabriel-vasile/mimetype/LICENSE
  vendor/github.com/gabriel-vasile/mimetype/README.md
  vendor/github.com/gabriel-vasile/mimetype/internal/charset/charset.go
  vendor/github.com/gabriel-vasile/mimetype/internal/csv/parser.go
  vendor/github.com/gabriel-vasile/mimetype/internal/json/json.go
  vendor/github.com/gabriel-vasile/mimetype/internal/json/parser.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/archive.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/binary.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/document.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/ftyp.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/geo.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/magic.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/ms_office.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/netpbm.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/text.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/text_csv.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/zip.go
  vendor/github.com/gabriel-vasile/mimetype/internal/markup/markup.go
  vendor/github.com/gabriel-vasile/mimetype/internal/scan/bytes.go
  vendor/github.com/gabriel-vasile/mimetype/mime.go
  vendor/github.com/gabriel-vasile/mimetype/mimetype.gif
  vendor/github.com/gabriel-vasile/mimetype/mimetype.go
  vendor/github.com/gabriel-vasile/mimetype/supported_mimes.md
  vendor/github.com/gabriel-vasile/mimetype/tree.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/go-zookeeper/zk to v1.0.4
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/go-zookeeper/zk/.codecov.yaml
  hack/tools/vendor/github.com/go-zookeeper/zk/.gitattributes
  hack/tools/vendor/github.com/go-zookeeper/zk/Makefile
  hack/tools/vendor/github.com/go-zookeeper/zk/README.md
  hack/tools/vendor/github.com/go-zookeeper/zk/conn.go
  hack/tools/vendor/github.com/go-zookeeper/zk/constants.go
  hack/tools/vendor/github.com/go-zookeeper/zk/create_mode.go
  hack/tools/vendor/github.com/go-zookeeper/zk/dnshostprovider.go
  hack/tools/vendor/github.com/go-zookeeper/zk/structs.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/golang-jwt/jwt/v4 to v4.5.2
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/golang-jwt/jwt/v4/parser.go
  hack/tools/vendor/modules.txt
Labels: none

feat(azure): enable Azure NodePool API happy path to pick image
  api/hypershift/v1beta1/azure.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/azurevmimage.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/azure.go
  hypershift-operator/controllers/nodepool/azure_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
Labels: area/hypershift-operator

feat: Add type safety for Azure VM image generation
  api/hypershift/v1beta1/azure.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/azurevmimage.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/azure.go
  hypershift-operator/controllers/nodepool/azure_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator

feat: Add CLI support for Azure image generation
  cmd/nodepool/azure/create.go
  cmd/nodepool/azure/create_test.go
Labels: none

fix: Implement actual Azure marketplace metadata parsing
  api/hypershift/v1beta1/azure.go
  hypershift-operator/controllers/nodepool/azure.go
  hypershift-operator/controllers/nodepool/azure_test.go
  support/releaseinfo/releaseinfo.go
Labels: area/hypershift-operator

refactor: Improve code quality based on golang-pro analysis
  cmd/nodepool/azure/create.go
  hypershift-operator/controllers/nodepool/azure.go
  support/releaseinfo/releaseinfo.go
Labels: area/hypershift-operator

fix: Address remaining golang-pro analysis issues
  cmd/nodepool/azure/create_test.go
  hypershift-operator/controllers/nodepool/azure.go
Labels: area/hypershift-operator

test: Comprehensive test improvements based on test-automator analysis
  cmd/nodepool/azure/create_test.go
  hypershift-operator/controllers/nodepool/azure_test.go
Labels: area/hypershift-operator

fix(deps): update github.com/openshift/cloud-credential-operator digest to a3e50ae
  go.mod
Labels: none

chore: apply `make verify` updates
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  cmd/nodepool/azure/create_test.go
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/azure.go
  hypershift-operator/controllers/nodepool/azure_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator
