Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

Reconcile SecretProvider for Ingress on ARO HCP
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
Labels: area/control-plane-operator

Update hack/tools/go.mod + `go mod tidy && go mod vendor`
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/go-openapi/jsonpointer/pointer.go
  hack/tools/vendor/k8s.io/klog/.travis.yml
  hack/tools/vendor/k8s.io/klog/OWNERS
  hack/tools/vendor/k8s.io/klog/README.md
  hack/tools/vendor/k8s.io/klog/SECURITY_CONTACTS
  hack/tools/vendor/k8s.io/klog/klog.go
  hack/tools/vendor/k8s.io/klog/klog_file.go
  hack/tools/vendor/modules.txt
Labels: none

Update CPO, HO and support for new dependencies
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/servicemonitor.go
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/nodecount/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/monitoring/servicemonitor.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedclustersizing/setup.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/platform/aws/controller.go
  hypershift-operator/controllers/scheduler/autoscaler.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  hypershift-operator/controllers/scheduler/placeholders.go
  hypershift-operator/controllers/uwmtelemetry/uwm_telemetry.go
  support/metrics/sets.go
  support/thirdparty/library-go/pkg/image/registryclient/client.go
  support/util/metrics.go
Labels: area/hypershift-operator, area/control-plane-operator

Put MI API behind HyperShift FeatureGate
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Labels: area/hypershift-operator

Update Azure CLI to authenticate with SP w/certs
  cmd/cluster/azure/create.go
  cmd/cluster/azure/destroy.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_create_with_a_ure_marketplace_image.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/core/destroy.go
  cmd/infra/azure/create.go
  cmd/infra/azure/destroy.go
  cmd/util/azure.go
Labels: none

KubeVirt CSI Security and Isolation Documentation
  docs/content/how-to/kubevirt/configuring-storage.md
Labels: none

Put MI API behind HyperShift FeatureGate
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Labels: area/hypershift-operator

NO-JIRA: Added netlify config to unblock docs PRs
  docs/netlify.toml
  docs/requirements.txt
  docs/runtime.txt
Labels: none

Change globalConfigString to drop empty imageStreamImportMode
  go.mod
  go.sum
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  vendor/modules.txt
Labels: area/hypershift-operator

Add a metric for cluster size override annotation
  hypershift-operator/controllers/hostedcluster/metrics/metrics.go
Labels: area/hypershift-operator

HOSTEDCP-2002: Add documentation around crun migration for HCP
  docs/content/recipes/agent/exposing-dataplane-with-metallb.md
  docs/content/recipes/common/replace-crio-runtime.md
  docs/content/recipes/none/exposing-dataplane-with-metallb.md
  docs/content/reference/ocp-behaviour-deviations/index.md
  docs/content/reference/ocp-behaviour-deviations/upgrade-4.17-4.18.md
  docs/mkdocs.yml
Labels: none

helm chart install option
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  cmd/install/install_helm.go
  cmd/install/install_helm_test.go
  cmd/install/install_render.go
  cmd/install/install_render_test.go
  cmd/install/render.go
Labels: none

consider the KV client ID env var
  cmd/install/install_helm.go
  cmd/install/install_render.go
  cmd/install/render.go
Labels: none

openstack: Add TODO to deprecate --openstack-credentials-file option
  cmd/cluster/openstack/create.go
Labels: none

openstack: Support reading cacert from clouds.yaml
  cmd/cluster/openstack/create.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig.go
Labels: area/control-plane-operator

openstack: Add tests for extractCloud
  cmd/cluster/openstack/create_test.go
Labels: none

openstack: Only upload the cloud we want
  cmd/cluster/openstack/create.go
Labels: none

fix output-dir help text
  cmd/install/install_helm.go
Labels: none

set default for output-dir
  cmd/install/install_helm.go
Labels: none

Split API into platform files
  api/hypershift/v1beta1/agent.go
  api/hypershift/v1beta1/aws.go
  api/hypershift/v1beta1/azure.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/ibmcloud.go
  api/hypershift/v1beta1/kubevirt.go
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/openstack.go
  api/hypershift/v1beta1/powervs.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/agent.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/aws.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/ibmcloud.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/kubevirt.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/openstack.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/powervs.go
Labels: area/hypershift-operator

HOSTEDCP-2000: Add E2E test validating the node runtime
  test/e2e/nodepool_upgrade_test.go
  test/e2e/util/util.go
Labels: none

HOSTEDCP-1883: Remove hardcoded catalog images in CPO so we dont have to manually bump them each release
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/olm/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  support/releaseinfo/registryclient/client.go
Labels: area/control-plane-operator

HOSTEDCP-1883: add init containers to catalog images
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/olm/deployments.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

use get listDigest function signature in resource and olm reconciles
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/olm/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
  support/releaseinfo/registryclient/client.go
Labels: area/control-plane-operator

remove redundant unit tests
  control-plane-operator/controllers/hostedcontrolplane/v2/autoscaler/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/autoscaler/testdata/zz_fixture_TestReconcileExisting_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/autoscaler/testdata/zz_fixture_TestReconcileExisting_rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/routecm/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/routecm/testdata/zz_fixture_TestReconcileOpenShiftRouteControllerManagerConfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/routecm/testdata/zz_fixture_TestReconcile_configMap.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/routecm/testdata/zz_fixture_TestReconcile_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/routecm/testdata/zz_fixture_TestReconcile_servicemonitor.yaml
Labels: area/control-plane-operator

make ControlPlaneComponent.status.version optional
  api/hypershift/v1beta1/controlplanecomponent_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/controlplanecomponents.hypershift.openshift.io/ControlPlaneV2.yaml
  docs/content/reference/api.md
  support/controlplane-component/crds/hypershift.openshift.io_controlplanecomponents.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/controlplanecomponent_types.go
Labels: area/hypershift-operator

Put MI API behind HyperShift FeatureGate
  api/hypershift/v1beta1/azure.go
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Labels: area/hypershift-operator

Reconcile SecretProvider for Ingress on ARO HCP
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
Labels: area/control-plane-operator

nodepool/openstack: AZ support for the Machine
  api/hypershift/v1beta1/openstack.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/openstacknodepoolplatform.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  cmd/nodepool/openstack/create.go
  cmd/nodepool/openstack/create_test.go
  docs/content/how-to/openstack/create-openstack-cluster.md
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/capi.go
  test/e2e/e2e_test.go
  test/e2e/nodepool_osp_az_test.go
  test/e2e/nodepool_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/openstack.go
Labels: area/hypershift-operator

cmd: add support to configure machine networts via CLI
  cmd/cluster/core/create.go
  cmd/cluster/openstack/create_test.go
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_default_creation_flags.yaml
Labels: none

Add generic create function for SecretProvider
  control-plane-operator/controllers/hostedcontrolplane/manifests/secretproviderclass.go
  support/azureutil/azureutil.go
  support/config/constants.go
Labels: area/control-plane-operator

Reconcile SecretProvider for Ingress on ARO HCP
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
Labels: area/control-plane-operator

Reconcile SecretProvider for Image Reg on ARO HCP
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile_test.go
Labels: area/control-plane-operator

Add generic create function for SecretProvider
  control-plane-operator/controllers/hostedcontrolplane/manifests/secretproviderclass.go
  support/azureutil/azureutil.go
Labels: area/control-plane-operator

Add generic create function for SecretProvider
  control-plane-operator/controllers/hostedcontrolplane/manifests/secretproviderclass.go
  support/azureutil/azureutil.go
Labels: area/control-plane-operator

Reconcile SecretProvider for CNCC on ARO HCP
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

Let conditions getting the token secret to not shortcircuit when is not found
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: area/hypershift-operator

Move NodePool conditions logic into their own file
  hypershift-operator/controllers/nodepool/conditions.go
Labels: area/hypershift-operator

Drop type from the signature
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: area/hypershift-operator

Refactor NodePool conditions into a centralized loop
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: area/hypershift-operator
