Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

fix(aws): avoid Route53 caller reference collisions
  cmd/infra/aws/route53.go
  cmd/infra/aws/route53_test.go
Labels: none

fix(aws): validate reused Route53 zones by VPC
  cmd/infra/aws/route53.go
  cmd/infra/aws/route53_test.go
Labels: none

fix(aws): redact Route53 ownership errors
  cmd/infra/aws/route53.go
  cmd/infra/aws/route53_test.go
Labels: none

fix(aws): detect Route53 pagination cycles
  cmd/infra/aws/route53.go
  cmd/infra/aws/route53_test.go
Labels: none

revert: Reapply "CNTRLPLANE-3890 - Add product-cli unit tests for HCP create cluster"
  product-cli/cmd/cluster/agent/create_test.go
  product-cli/cmd/cluster/agent/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
  product-cli/cmd/cluster/aws/create_test.go
  product-cli/cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
  product-cli/cmd/cluster/azure/create_test.go
  product-cli/cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
  product-cli/cmd/cluster/kubevirt/create_test.go
  product-cli/cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
  product-cli/cmd/cluster/openstack/create_test.go
  product-cli/cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
Labels: none

fix(aws): stop retrying Route53 pagination cycles
  cmd/infra/aws/route53.go
  cmd/infra/aws/route53_test.go
Labels: none

feat(gcp): make zone flag optional when no NodePool created
  cmd/cluster/gcp/create.go
  cmd/cluster/gcp/create_test.go
  cmd/cluster/gcp/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_successfully.yaml
  docs/content/how-to/gcp/create-gcp-hosted-cluster.md
  docs/content/how-to/gcp/e2e-gke-ci-job.md
  docs/content/reference/aggregated-docs.md
Labels: none

test(e2e): add SVC URL validation to KubeAPIDNSName test
  support/forwarder/forwarder.go
  test/e2e/util/util.go
  test/e2e/v2/tests/hosted_cluster_dns_test.go
Labels: none

refactor(test): chain BeforeApply handlers instead of overwriting
  test/e2e/create_cluster_test.go
Labels: none

docs(gcp): clarify Resource Manager tag reconciliation
  api/hypershift/v1beta1/gcp.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  docs/content/how-to/gcp-platform.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp.go
Labels: area/hypershift-operator

test(gcp): cover Resource Manager tag validation
  api/hypershift/v1beta1/gcp.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/techpreview.hostedclusters.gcp.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
Labels: area/hypershift-operator

fix(OCPBUGS-42107): clean up leaked AWS resources on HC deletion and run guest cleanup on all platforms
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator, area/control-plane-operator

docs(gcp): simplify Resource Manager tag input guidance
  docs/content/how-to/gcp-platform.md
  docs/content/reference/aggregated-docs.md
Labels: none

fix: adapt ingress certificate backport to release-4.21
  .codespellignore
  api/.golangci.yml
  test/e2e/v2/internal/fail_handler.go
  test/e2e/v2/tests/suite_test.go
Labels: area/hypershift-operator

fix(karpenter): defer EC2NodeClass reconcile to standalone operator
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller_test.go
  karpenter-operator/crd_wait.go
  karpenter-operator/main.go
Labels: none

test(gcp): stabilize Resource Manager tag validation
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/techpreview.hostedclusters.gcp.testsuite.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp.go
Labels: none

fix(kas): enable DeviceTaintRule API on Kubernetes 1.36
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params.go
Labels: area/control-plane-operator

test(gcp): add preserve flag combination tests with stubs
  cmd/cluster/gcp/destroy.go
  cmd/cluster/gcp/destroy_test.go
Labels: none

test(gcp): fix lint and format issues
  cmd/cluster/gcp/destroy.go
  cmd/cluster/gcp/destroy_test.go
Labels: none

feat(api): add ingress defaultCertificate field and synced condition
  api/hypershift/v1beta1/hostedcluster_conditions.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/operator.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
Labels: area/hypershift-operator

feat(ci): add azure-orphaned-role-assignments tool
  contrib/azure-orphaned-role-assignments/.gitignore
  contrib/azure-orphaned-role-assignments/README.md
  contrib/azure-orphaned-role-assignments/main.go
Labels: none

test(gcp): address CodeRabbit test coverage feedback
  cmd/cluster/gcp/destroy_test.go
Labels: none

fix(gcp): address CodeRabbit security and test quality warnings
  cmd/cluster/gcp/destroy.go
  cmd/cluster/gcp/destroy_test.go
  cmd/infra/gcp/destroy_iam.go
  cmd/infra/gcp/destroy_infra.go
Labels: none

fix(OCPBUGS-127110): install HO via Job from operator image in e2e tests
  test/e2e/util/install.go
  test/e2e/util/install_via_image.go
  test/e2e/util/install_via_image_test.go
Labels: none

feat(gcp): add HCP finalizer for PSC cleanup during deletion
  control-plane-operator/controllers/gcpprivateserviceconnect/psc_endpoint_controller.go
  control-plane-operator/controllers/gcpprivateserviceconnect/psc_endpoint_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator, area/control-plane-operator

test(gcp): clarify when HCP finalizer is added in PSC test
  control-plane-operator/controllers/gcpprivateserviceconnect/psc_endpoint_controller_test.go
Labels: area/control-plane-operator

fix(gcp): ensure HCP finalizer added before early returns
  control-plane-operator/controllers/gcpprivateserviceconnect/psc_endpoint_controller.go
  control-plane-operator/controllers/gcpprivateserviceconnect/psc_endpoint_controller_test.go
Labels: area/control-plane-operator

test(gcp): update PSC test for new HCP finalizer timing
  control-plane-operator/controllers/gcpprivateserviceconnect/psc_endpoint_controller_test.go
Labels: area/control-plane-operator

refactor(gcp): address PSC finalizer code review feedback
  control-plane-operator/controllers/gcpprivateserviceconnect/psc_endpoint_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator, area/control-plane-operator

test(gcp): rename PSC finalizer subtest to describe behavior
  control-plane-operator/controllers/gcpprivateserviceconnect/psc_endpoint_controller_test.go
Labels: area/control-plane-operator

fix(ci): azure-orphaned-role safety checks
  contrib/azure-orphaned-role-assignments/README.md
  contrib/azure-orphaned-role-assignments/main.go
Labels: none

chore(api): regenerate CRDs, clients, deepcopy, and vendor
  client/applyconfiguration/hypershift/v1beta1/ingressdefaultcertificatereference.go
  client/applyconfiguration/hypershift/v1beta1/ingressoperatorspec.go
  client/applyconfiguration/hypershift/v1beta1/operatorconfiguration.go
  client/applyconfiguration/utils.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/operator.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: none

feat(hypershift-operator): sync ingress default certificate and report status
  hypershift-operator/controllers/hostedcluster/enqueue_secret_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/ingress_default_cert_sync_test.go
  support/statuspatching/statuspatching.go
  support/statuspatching/statuspatching_test.go
Labels: area/hypershift-operator

fix(gcp): restore PSC delete-and-wait fallback for defense-in-depth
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

fix(operator): allow virt-launcher egress to private-router on KubeVirt
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/hostedcluster/network_policies_test.go
Labels: area/hypershift-operator

fix(operator): reconcile private-router netpol for KubeVirt HCP router mode
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/hostedcluster/network_policies_test.go
Labels: area/hypershift-operator

chore(deps): update registry.access.redhat.com/ubi9/go-toolset docker tag to v1.26.7-1790174511
  Containerfile.control-plane
  Containerfile.operator
Labels: none

test(e2e): gate configuration status at 4.20
  test/e2e/util/util.go
Labels: none

fix(gcp): skip region validation when preserve-infra is set
  cmd/cluster/gcp/destroy.go
  cmd/cluster/gcp/destroy_test.go
Labels: none

fix(cmd/dump): filter resources by cluster platform
  cmd/cluster/dump/dump.go
  cmd/cluster/dump/dump_test.go
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
