Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

feat(azure): add spec-level validation for workload identity config
  api/hypershift/v1beta1/hostedcluster_conditions.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Labels: area/hypershift-operator

fix(nodepool): validate CAPIResult conditions in tests
  hypershift-operator/controllers/nodepool/capi_test.go
Labels: area/hypershift-operator

refactor(ci): extract hardcoded URLs as pipeline parameters and improve docs
  .tekton/lib/ho_release_gate.py
  .tekton/lib/kubearchive_utils.py
  .tekton/lib/tests/test_ho_release_gate.py
  .tekton/lib/tests/test_kubearchive_utils.py
  .tekton/pipelines/ho-release-gate.yaml
Labels: none

Revert "Merge pull request #8997 from jparrill/OCPBUGS-98461"
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller.go
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller_test.go
Labels: none

fix(ci): move results JSON from Tekton task result to workspace file
  .tekton/pipelines/ho-release-gate.yaml
Labels: none

feat(releaseinfo): add Prometheus metrics for mirror lookup instrumentation
  hypershift-operator/main.go
  support/releaseinfo/metrics.go
  support/releaseinfo/registry_image_content_policies.go
Labels: area/hypershift-operator

docs: Add Jira Agent onboarding guide
  docs/content/how-to/ci/ai-assisted-ci-jobs.md
  docs/content/how-to/ci/jira-agent-onboarding.md
  docs/content/reference/aggregated-docs.md
  docs/mkdocs.yml
Labels: none

fix(deps): Address CVE-2026-35469
  go.mod
  go.sum
  vendor/github.com/moby/spdystream/NOTICE
  vendor/github.com/moby/spdystream/connection.go
  vendor/github.com/moby/spdystream/spdy/LICENSE
  vendor/github.com/moby/spdystream/spdy/PATENTS
  vendor/github.com/moby/spdystream/spdy/dictionary.go
  vendor/github.com/moby/spdystream/spdy/options.go
  vendor/github.com/moby/spdystream/spdy/read.go
  vendor/github.com/moby/spdystream/spdy/types.go
  vendor/github.com/moby/spdystream/spdy/write.go
  vendor/modules.txt
Labels: none

fix(deps): Address CVE-2026-35469
  go.mod
  go.sum
  vendor/github.com/moby/spdystream/NOTICE
  vendor/github.com/moby/spdystream/connection.go
  vendor/github.com/moby/spdystream/spdy/LICENSE
  vendor/github.com/moby/spdystream/spdy/PATENTS
  vendor/github.com/moby/spdystream/spdy/dictionary.go
  vendor/github.com/moby/spdystream/spdy/options.go
  vendor/github.com/moby/spdystream/spdy/read.go
  vendor/github.com/moby/spdystream/spdy/types.go
  vendor/github.com/moby/spdystream/spdy/write.go
  vendor/modules.txt
Labels: none

fix(deps): Address CVE-2026-35469
  go.mod
  go.sum
  vendor/github.com/moby/spdystream/NOTICE
  vendor/github.com/moby/spdystream/connection.go
  vendor/github.com/moby/spdystream/spdy/LICENSE
  vendor/github.com/moby/spdystream/spdy/PATENTS
  vendor/github.com/moby/spdystream/spdy/dictionary.go
  vendor/github.com/moby/spdystream/spdy/options.go
  vendor/github.com/moby/spdystream/spdy/read.go
  vendor/github.com/moby/spdystream/spdy/types.go
  vendor/github.com/moby/spdystream/spdy/write.go
  vendor/modules.txt
Labels: none

fix(deps): Address CVE-2026-35469
  go.mod
  go.sum
  vendor/github.com/moby/spdystream/NOTICE
  vendor/github.com/moby/spdystream/connection.go
  vendor/github.com/moby/spdystream/spdy/LICENSE
  vendor/github.com/moby/spdystream/spdy/PATENTS
  vendor/github.com/moby/spdystream/spdy/dictionary.go
  vendor/github.com/moby/spdystream/spdy/options.go
  vendor/github.com/moby/spdystream/spdy/read.go
  vendor/github.com/moby/spdystream/spdy/types.go
  vendor/github.com/moby/spdystream/spdy/write.go
  vendor/github.com/moby/spdystream/stream.go
  vendor/modules.txt
Labels: none

fix(deps): Address CVE-2026-35469
  go.mod
  go.sum
  vendor/github.com/moby/spdystream/NOTICE
  vendor/github.com/moby/spdystream/connection.go
  vendor/github.com/moby/spdystream/spdy/LICENSE
  vendor/github.com/moby/spdystream/spdy/PATENTS
  vendor/github.com/moby/spdystream/spdy/dictionary.go
  vendor/github.com/moby/spdystream/spdy/options.go
  vendor/github.com/moby/spdystream/spdy/read.go
  vendor/github.com/moby/spdystream/spdy/types.go
  vendor/github.com/moby/spdystream/spdy/write.go
  vendor/github.com/moby/spdystream/stream.go
  vendor/modules.txt
Labels: none

fix(deps): Address CVE-2026-35469
  go.mod
  go.sum
  vendor/github.com/moby/spdystream/NOTICE
  vendor/github.com/moby/spdystream/connection.go
  vendor/github.com/moby/spdystream/spdy/LICENSE
  vendor/github.com/moby/spdystream/spdy/PATENTS
  vendor/github.com/moby/spdystream/spdy/dictionary.go
  vendor/github.com/moby/spdystream/spdy/options.go
  vendor/github.com/moby/spdystream/spdy/read.go
  vendor/github.com/moby/spdystream/spdy/types.go
  vendor/github.com/moby/spdystream/spdy/write.go
  vendor/github.com/moby/spdystream/stream.go
  vendor/modules.txt
Labels: none

docs: NO-JIRA: move test conventions to TESTING.md
  .claude/SKILLS.md
  .claude/skills/code-formatting/SKILL.md
  AGENTS.md
  DEVELOPMENT.md
  TESTING.md
Labels: none

docs: NO-JIRA: restore code formatting label in AGENTS.md
  AGENTS.md
Labels: none

refactor(nodepool): remove pre-4.12 DecompressAndDecodeConfig compatibility check
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller.go
Labels: area/hypershift-operator

chore: temporarily remove workflow file for push permission
  .github/workflows/docs-deploy.yaml
Labels: none

fix(nodepool): fix error message typo and remove dead Compress function
  hypershift-operator/controllers/nodepool/token.go
  support/util/util.go
Labels: area/hypershift-operator

fix(kubevirt): validate additionalNetworks name format via CEL
  api/hypershift/v1beta1/kubevirt.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.kubevirt.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hack/tools/crd-schema-check/crdify-config.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/kubevirt.go
Labels: area/hypershift-operator

fix(kubevirt): clarify crdify overrides are OCPBUGS-87991-scoped
  hack/tools/crd-schema-check/crdify-config.yaml
Labels: none

fix(azure): skip KMS validation for private Key Vaults on ARO HCP
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
Labels: area/control-plane-operator

chore(konflux): update Tekton task bundles to latest versions
  .tekton/hypershift-operator-main-tag.yaml
  .tekton/pipelines/common-operator-build.yaml
Labels: none

test(e2e): add aws-pod-identity-webhook TLS cases
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/tests/control_plane_pki_operator_test.go
  test/e2e/v2/tests/control_plane_tls_operator_test.go
Labels: none

fix: make pre-commit hooks resilient to mock generation failures
  .pre-commit-config.yaml
  DEVELOPMENT.md
  Makefile
Labels: none

feat(support): add trust bundle helpers and AWS CloudConfig support
  support/globalconfig/infrastructure.go
  support/globalconfig/infrastructure_test.go
Labels: none

feat(hcco): sync AWS cloud config with trust bundle to guest cluster
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

test(nodepool): improve CAPIResult condition coverage
  hypershift-operator/controllers/nodepool/capi_test.go
Labels: area/hypershift-operator

fix(ignition-server): add WaitDelay and fix double error wrapping in MCS payload fetch
  ignition-server/controllers/local_ignitionprovider.go
Labels: area/control-plane-operator

fix(ignition-server): include MCS process logs in error when payload fetch fails
  ignition-server/controllers/local_ignitionprovider.go
Labels: area/control-plane-operator

fix(ignition-server): add thread-safe MCS output buffer with truncation
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/local_ignitionprovider_test.go
Labels: area/control-plane-operator

fix(ignition-server): extract MCS payload fetch for testability and add unit tests
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/local_ignitionprovider_test.go
Labels: area/control-plane-operator

fix(kubevirt): OCPBUGS-77307: override nmstate config for multus with IPv6
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_test.go
  hypershift-operator/controllers/nodepool/kubevirt/network.go
  hypershift-operator/controllers/nodepool/kubevirt/network_test.go
Labels: area/hypershift-operator

test(kubevirt): add e2e nmstate network config verification for multinet tests
  test/e2e/nodepool_kv_advanced_multinet_test.go
  test/e2e/nodepool_kv_multinet_test.go
  test/e2e/nodepool_test.go
Labels: none

fix(e2e): set NodePoolReplicas=1 for KubeVirt TestNodePool like OpenStack
  test/e2e/nodepool_test.go
Labels: none

feat(api): add ControlPlaneVersionStatus to track control plane component versions
  api/hypershift/v1beta1/controlplaneversion_types.go
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

fix(cpo): regenerate stale ModernTLS test fixtures
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/ModernTLS/zz_fixture_TestControlPlaneComponents_recording_rules_prometheusrule.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/ModernTLS/zz_fixture_TestControlPlaneComponents_oauth_openshift_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/ModernTLS/zz_fixture_TestControlPlaneComponents_oauth_openshift_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/ModernTLS/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/ModernTLS/zz_fixture_TestControlPlaneComponents_packageserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/ModernTLS/zz_fixture_TestControlPlaneComponents_router_controlplanecomponent.yaml
Labels: area/control-plane-operator

fix(api): regenerate EtcdSharding CRD manifests
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/EtcdSharding.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/EtcdSharding.yaml
Labels: area/hypershift-operator

fix(ci): reintroduce verify-ci make target for GHA verify workflow
  .github/workflows/verify-reusable.yaml
  Makefile
Labels: none

fix(hcco): clean up OIDC auth resources when external auth is removed
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

feat: CNTRLPLANE-3859: restructure pre-commit hooks for faster local feedback
  .pre-commit-config.yaml
  Makefile
  docs/content/contribute/precommit-hook-help.md
  docs/content/reference/aggregated-docs.md
  hack/tools/docs-aggregator/main.go
Labels: none
