Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

e2e: support openstack destroy
  test/e2e/util/fixture.go
Labels: none

NO-JIRA: Flaky cert validation test
  support/certs/tls.go
Labels: none

introduce ControlPlaneComponent abstraction
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/generic-reconciler.go
  support/controlplane-component/manifests.go
  support/controlplane-component/rbac-reconciler.go
Labels: none

refactor cluster-autoscaler to use ControlPlaneComponent abstraction
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/autoscaler.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

refactor route-controller-manager to use ControlPlaneComponent abstraction
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/openshift_cm.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/openshift_route_cm.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/config.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/params.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/service.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/testdata/zz_fixture_TestReconcileOpenShiftRouteControllerManagerConfig.yaml
Labels: area/control-plane-operator

Add --labels hcp cli arg for adding labels to HostedCluster
  cmd/cluster/core/create.go
Labels: none

Support Priority based expander for cluster-autoscaler
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
Labels: area/control-plane-operator

openstack: allow Ingress traffic on nodepool ports
  go.mod
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack_test.go
  hypershift-operator/controllers/nodepool/openstack/openstack.go
  hypershift-operator/controllers/nodepool/openstack/openstack_test.go
  support/openstackutil/constants.go
  vendor/github.com/apparentlymart/go-cidr/LICENSE
  vendor/github.com/apparentlymart/go-cidr/cidr/cidr.go
  vendor/github.com/apparentlymart/go-cidr/cidr/wrangling.go
  vendor/modules.txt
Labels: area/hypershift-operator

Use HTTP proxy for ingress controller
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
Labels: area/control-plane-operator

openstack: add Ingress to infrastructure object
  control-plane-operator/controllers/hostedcontrolplane/mcs/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/nodepool/openstack/openstack.go
  hypershift-operator/controllers/nodepool/openstack/openstack_test.go
  support/globalconfig/infrastructure.go
  support/openstackutil/constants.go
  support/openstackutil/machinenetworking.go
  support/openstackutil/machinenetworking_test.go
Labels: area/hypershift-operator, area/control-plane-operator

OCPBUGS-34820: Delete IDMS in dataplane once HCP ICS field is removed
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

OCPBUGS-34820: Keep in sync the HC and HCP ICS field
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

OCPBUGS-33934: Add newline after TLS certs referenced by image.config
  hypershift-operator/init.go
  hypershift-operator/init_test.go
Labels: area/hypershift-operator

HOSTEDCP-1796: Customize the self-generated cert rotation
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/certs/tls.go
Labels: area/hypershift-operator

HOSTEDCP-1795: Customize the self-generated cert validity (reduced version)
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/certs/tls.go
Labels: area/hypershift-operator

fix: assignment to entry in nil map
  support/controlplane-component/controlplane-component.go
Labels: none

WIP
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1beta1/azurenodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/azurevmimage.go
  client/applyconfiguration/hypershift/v1beta1/marketplaceimage.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Labels: area/hypershift-operator

Create konnectivity dialer for CPO oidc checks
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert_test.go
Labels: area/control-plane-operator

Red Hat Konflux purge hypershift-release-414 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

Red Hat Konflux update hypershift-release-414 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

Red Hat Konflux update hypershift-release-414 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

fix(builds): update konflux pipelines
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

Use a multi-arch haproxy image for shared ingress
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_use_shared_router_it_should_use_proxy_protocol.yaml
  hypershift-operator/controllers/sharedingress/router.go
Labels: area/hypershift-operator

Revert "docs/openstack: adds content for Ingress with MetalLB"
  docs/content/how-to/openstack/create-openstack-cluster.md
Labels: none

openstack: document ingress with octavia
  docs/content/how-to/openstack/create-openstack-cluster.md
Labels: none

Make hostedcluster.spec.services immutable
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  hack/app-sre/saas_template.yaml
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: area/hypershift-operator

set proxy envvars on aws anda azure CCMs
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/reconcile.go
Labels: area/control-plane-operator

OCPBUGS-33934: Add newline after TLS certs referenced by image.config
  hypershift-operator/init.go
  hypershift-operator/init_test.go
Labels: area/hypershift-operator

OCPBUGS-34820: Delete IDMS in dataplane once HCP ICS field is removed
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

OCPBUGS-34820: Keep in sync the HC and HCP ICS field
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

HOSTEDCP-1795: Customize the self-generated cert validity (reduced version)
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/certs/tls.go
Labels: area/hypershift-operator

HOSTEDCP-1796: Customize the self-generated cert rotation
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/certs/tls.go
Labels: area/hypershift-operator

add VPC Endpoint Service proxy support
  cmd/cluster/aws/create.go
  cmd/infra/aws/create.go
Labels: none

OCPBUGS-35905: E2E test to verify openshift-apiserver TLS certificates
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

Remove non relevant OVNSbDb service type declarations
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/cluster/agent/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/aws/create.go
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_default_creation_flags_for_cesar.yaml
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/create.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_test_from_dvossel.yaml
  cmd/cluster/none/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/openstack/create.go
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_default_creation_flags.yaml
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/powervs/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_No_private_apiserver_connectivity__proxy_apiserver_address_is_set.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Private_apiserver_connectivity__proxy_apiserver_address_is_unset.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator, area/control-plane-operator

Revert "Only recreate etcd if hasn't ever been ready"
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  support/util/deployment.go
  support/util/deployment_test.go
Labels: area/control-plane-operator

Revert "OCPBUGS-24400: Recover the ETCD member on HostedCluster deployment"
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

Add first azure services validation
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  support/assets/readasset.go
  test/e2e/assets.go
  test/e2e/assets/azure-services-ignition-route-not-hostname.yaml
  test/e2e/create_cluster_test.go
Labels: area/hypershift-operator

Kubevirt on Azure: Change KAS LB Port to 7443
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  test/e2e/nodepool_kv_nodeselector_test.go
  test/e2e/util/util.go
Labels: area/hypershift-operator, area/control-plane-operator

set proxy envvars on aws anda azure CCMs
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/reconcile.go
Labels: area/control-plane-operator
