Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

feat(autnode): use arbitrary subnets from karpenter ec2nodeclass
  hypershift-operator/controllers/platform/aws/controller.go
  hypershift-operator/controllers/platform/aws/controller_test.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller_test.go
  support/karpenter/karpenter.go
  test/e2e/karpenter_test.go
Labels: area/hypershift-operator

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

test(CPO): add endpoint-resolver control plane component test fixtures
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/AROSwift/zz_fixture_TestControlPlaneComponents_endpoint_resolver_ca_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/AROSwift/zz_fixture_TestControlPlaneComponents_endpoint_resolver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/AROSwift/zz_fixture_TestControlPlaneComponents_endpoint_resolver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/AROSwift/zz_fixture_TestControlPlaneComponents_endpoint_resolver_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/AROSwift/zz_fixture_TestControlPlaneComponents_endpoint_resolver_rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/AROSwift/zz_fixture_TestControlPlaneComponents_endpoint_resolver_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/AROSwift/zz_fixture_TestControlPlaneComponents_endpoint_resolver_serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/AROSwift/zz_fixture_TestControlPlaneComponents_endpoint_resolver_serving_cert_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/GCP/zz_fixture_TestControlPlaneComponents_endpoint_resolver_ca_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/GCP/zz_fixture_TestControlPlaneComponents_endpoint_resolver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/GCP/zz_fixture_TestControlPlaneComponents_endpoint_resolver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/GCP/zz_fixture_TestControlPlaneComponents_endpoint_resolver_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/GCP/zz_fixture_TestControlPlaneComponents_endpoint_resolver_rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/GCP/zz_fixture_TestControlPlaneComponents_endpoint_resolver_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/GCP/zz_fixture_TestControlPlaneComponents_endpoint_resolver_serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/GCP/zz_fixture_TestControlPlaneComponents_endpoint_resolver_serving_cert_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/IBMCloud/zz_fixture_TestControlPlaneComponents_endpoint_resolver_ca_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/IBMCloud/zz_fixture_TestControlPlaneComponents_endpoint_resolver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/IBMCloud/zz_fixture_TestControlPlaneComponents_endpoint_resolver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/IBMCloud/zz_fixture_TestControlPlaneComponents_endpoint_resolver_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/IBMCloud/zz_fixture_TestControlPlaneComponents_endpoint_resolver_rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/IBMCloud/zz_fixture_TestControlPlaneComponents_endpoint_resolver_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/IBMCloud/zz_fixture_TestControlPlaneComponents_endpoint_resolver_serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/IBMCloud/zz_fixture_TestControlPlaneComponents_endpoint_resolver_serving_cert_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_endpoint_resolver_ca_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_endpoint_resolver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_endpoint_resolver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_endpoint_resolver_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_endpoint_resolver_rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_endpoint_resolver_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_endpoint_resolver_serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_endpoint_resolver_serving_cert_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/zz_fixture_TestControlPlaneComponents_endpoint_resolver_ca_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/zz_fixture_TestControlPlaneComponents_endpoint_resolver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/zz_fixture_TestControlPlaneComponents_endpoint_resolver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/zz_fixture_TestControlPlaneComponents_endpoint_resolver_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/zz_fixture_TestControlPlaneComponents_endpoint_resolver_rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/zz_fixture_TestControlPlaneComponents_endpoint_resolver_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/zz_fixture_TestControlPlaneComponents_endpoint_resolver_serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/endpoint-resolver/zz_fixture_TestControlPlaneComponents_endpoint_resolver_serving_cert_secret.yaml
Labels: area/control-plane-operator

docs: update OAuth certificate configuration documentation
  docs/content/how-to/configure-ocp-components/oauth-serving-certificates.md
  docs/content/reference/aggregated-docs.md
Labels: none

feat(CPO): add endpoint-resolver control plane component
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/endpoint-resolver/ca-cert.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/endpoint-resolver/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/endpoint-resolver/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/endpoint-resolver/rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/endpoint-resolver/service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/endpoint-resolver/serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/endpoint-resolver/serving-cert.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/endpoint_resolver/certs.go
  control-plane-operator/controllers/hostedcontrolplane/v2/endpoint_resolver/component.go
  control-plane-operator/endpoint-resolver/cmd.go
  control-plane-operator/endpoint-resolver/server.go
  control-plane-operator/endpoint-resolver/server_test.go
  control-plane-operator/main.go
Labels: area/control-plane-operator

feat(CPO): add metrics-proxy control plane component
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/metrics-proxy/ca-cert.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/metrics-proxy/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/metrics-proxy/route.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/metrics-proxy/scrape-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/metrics-proxy/service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/metrics-proxy/serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/metrics-proxy/serving-cert.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/metrics_proxy/certs.go
  control-plane-operator/controllers/hostedcontrolplane/v2/metrics_proxy/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/metrics_proxy/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/metrics_proxy/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/metrics_proxy/route.go
  control-plane-operator/controllers/hostedcontrolplane/v2/metrics_proxy/scrape_config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/metrics_proxy/scrape_config_test.go
  control-plane-operator/main.go
  control-plane-operator/metrics-proxy/auth.go
  control-plane-operator/metrics-proxy/auth_test.go
  control-plane-operator/metrics-proxy/cmd.go
  control-plane-operator/metrics-proxy/config_reader.go
  control-plane-operator/metrics-proxy/config_reader_test.go
  control-plane-operator/metrics-proxy/endpoint_resolver_client.go
  control-plane-operator/metrics-proxy/endpoint_resolver_client_test.go
  control-plane-operator/metrics-proxy/filter.go
  control-plane-operator/metrics-proxy/filter_test.go
  control-plane-operator/metrics-proxy/labels.go
  control-plane-operator/metrics-proxy/labels_test.go
  control-plane-operator/metrics-proxy/proxy.go
  control-plane-operator/metrics-proxy/proxy_test.go
  control-plane-operator/metrics-proxy/scraper.go
  control-plane-operator/metrics-proxy/tls_util.go
  control-plane-operator/metrics-proxy/types.go
Labels: area/control-plane-operator

feat(nodepool): enable scale-from-zero for Azure platform
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  cmd/install/install.go
  cmd/install/install_test.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  go.mod
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/conditions_test.go
  hypershift-operator/controllers/nodepool/instancetype/azure/provider.go
  hypershift-operator/controllers/nodepool/instancetype/azure/provider_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/scale_from_zero.go
  hypershift-operator/controllers/nodepool/scale_from_zero_test.go
  hypershift-operator/main.go
  support/azureutil/azureutil.go
  support/azureutil/azureutil_test.go
  test/e2e/create_cluster_test.go
  test/e2e/v2/tests/api_ux_validation_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: area/hypershift-operator

feat(ignition): cache MCS TLS certificate generation
  ignition-server/controllers/local_ignitionprovider.go
Labels: area/control-plane-operator

test: add tests for MCS TLS certificate caching
  ignition-server/controllers/local_ignitionprovider_test.go
Labels: area/control-plane-operator

refactor(ignition): address code review findings for MCS TLS cert caching
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/local_ignitionprovider_test.go
Labels: area/control-plane-operator

feat(ignition): cache MCS TLS certificate generation
  ignition-server/cmd/run_local_ignitionprovider.go
  ignition-server/cmd/start.go
  ignition-server/controllers/local_ignitionprovider.go
Labels: area/control-plane-operator

test: add unit tests for MCS TLS certificate caching
  ignition-server/controllers/local_ignitionprovider_test.go
Labels: area/control-plane-operator

fix(ignition): add nil guards, concurrency test, and parallel subtests
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/local_ignitionprovider_test.go
Labels: area/control-plane-operator

refactor(aws): use aws-sdk-go-v2 for IAM operations
  cmd/infra/aws/create_cli_role.go
  cmd/infra/aws/create_iam.go
  cmd/infra/aws/delegatingclientgenerator/main.go
  cmd/infra/aws/destroy_iam.go
  cmd/infra/aws/iam.go
  support/awsapi/iam.go
  test/e2e/nodepool_spot_termination_handler_test.go
  test/e2e/util/aws.go
  test/e2e/util/sharedoidc.go
  test/e2e/util/util.go
Labels: none

refactor(backuprestore): apply DRY principles and add unit tests
  .codespellignore
  test/e2e/v2/backuprestore/cleanup.go
  test/e2e/v2/backuprestore/cleanup_test.go
  test/e2e/v2/backuprestore/cli_test.go
  test/e2e/v2/backuprestore/velero.go
  test/e2e/v2/tests/backup_restore_test.go
  test/e2e/v2/tests/suite_test.go
Labels: none

fix(cpo): scope externaldns RBAC permissions to GCP only
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/control-plane-operator/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/controlplaneoperator/role.go
Labels: area/control-plane-operator

fix(routing): add Azure platform to LabelHCPRoutes() switch
  control-plane-operator/controllers/hostedcontrolplane/infra/infra_test.go
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_When_Azure_self_managed_cluster_has_KAS_Route_with_hostname__it_should_need_an_external_router.yaml
  support/util/visibility.go
  support/util/visibility_test.go
Labels: area/control-plane-operator

feat(HCCO): add guest cluster metrics forwarder for control plane metrics
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/AROSwift/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/GCP/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/configoperator/role.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/monitoring.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/monitoring/metricsforwarder.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

feat(aro): Add auto generated test fixtures for TestControlPlaneComponents
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/azure-cloud-controller-manager/AROSwift/zz_fixture_TestControlPlaneComponents_azure_cloud_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/azure-cloud-controller-manager/AROSwift/zz_fixture_TestControlPlaneComponents_azure_cloud_config_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/azure-cloud-controller-manager/AROSwift/zz_fixture_TestControlPlaneComponents_azure_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-storage-operator/AROSwift/zz_fixture_TestControlPlaneComponents_azure_disk_csi_config_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-storage-operator/AROSwift/zz_fixture_TestControlPlaneComponents_azure_file_csi_config_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_kas_secret_encryption_config_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_kube_apiserver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_managed_azure_kms_secretproviderclass.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/AROSwift/zz_fixture_TestControlPlaneComponents_router_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/AROSwift/zz_fixture_TestControlPlaneComponents_router_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/router/config.go
Labels: area/control-plane-operator

feat(aro): add Key Vault private endpoint TCP relay via private router
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/router_config.template
  control-plane-operator/controllers/hostedcontrolplane/v2/router/testdata/zz_fixture_TestGenerateRouterConfig_When_Azure_KMS_is_configured_it_should_include_keyvault_backend.yaml
  support/azureutil/azureutil.go
  support/azureutil/azureutil_test.go
Labels: area/control-plane-operator

docs(api): document IAM policies for PowerVS credential fields
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/powervs.go
Labels: area/hypershift-operator

chore(generated): regenerate CRDs, docs, and vendor for PowerVS API changes
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/powervs.go
Labels: area/hypershift-operator

fix(operator): reorder APIService reconciliation to prevent transient 503s
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

test: add tests for APIService reconciliation ordering guards
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

feat(karpenter): add SupportedVersionSkew condition and status.version to NodeClass
  api/karpenter/v1beta1/karpenter_types.go
  karpenter-operator/controllers/karpenter/assets/karpenter.hypershift.openshift.io_openshiftec2nodeclasses.yaml
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller.go
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller_test.go
  support/releaseinfo/cincinnati_version_resolver.go
  support/releaseinfo/cincinnati_version_resolver_test.go
  test/e2e/karpenter_test.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/karpenter_types.go
Labels: area/hypershift-operator

refactor(operator): address code review findings for APIService ordering
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

feat(api): add AzureImageRegistryCredentials type for ACR pull support
  api/hypershift/v1beta1/azure.go
Labels: area/hypershift-operator

chore(api): regenerate CRDs, deepcopy, docs, and vendor for ACR credentials
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator

feat(nodepool): assign managed identity to Azure worker VMSS for ACR pulls
  hypershift-operator/controllers/nodepool/azure.go
  hypershift-operator/controllers/nodepool/azure_test.go
Labels: area/hypershift-operator

feat(nodepool): generate ACR credential provider MachineConfig and wire into config pipeline
  hypershift-operator/controllers/nodepool/azure_acr.go
  hypershift-operator/controllers/nodepool/azure_acr_test.go
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_test.go
Labels: area/hypershift-operator

feat(karpenter): adjust karpenter e2e to check for autonode conditions
  test/e2e/karpenter_test.go
Labels: none

feature gating fields
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/auth.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/auth_types.go
Labels: area/control-plane-operator

hosted-cluster changes
  PRIMARY-UDN-CHANGES.md
  cluster-sync.sh
  cluster-up.sh
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/infra/infra.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/GCP/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/hosted-cluster-config-operator/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ignition-server-proxy/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/statefulset.go
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/machine.go
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/machine_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/nodepool/token.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator, area/control-plane-operator

e2e: Add option to create kubevirt with primaruUDN
  test/e2e/e2e_test.go
  test/e2e/util/options.go
Labels: none

kubevirt: default Primary UDN for conformance CI lane
  cmd/cluster/kubevirt/create.go
Labels: none

hostedclusterconfigoperator: reconcile Primary UDN guest DNS and oauth bridge
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/primaryudn/dns_operator.go
  control-plane-operator/hostedclusterconfigoperator/controllers/primaryudn/guest_info.go
  control-plane-operator/hostedclusterconfigoperator/controllers/primaryudn/internal_dns.go
  control-plane-operator/hostedclusterconfigoperator/controllers/primaryudn/mgmt_oauth.go
  control-plane-operator/hostedclusterconfigoperator/controllers/primaryudn/oauth_bridge.go
  control-plane-operator/hostedclusterconfigoperator/controllers/primaryudn/reconciler.go
  control-plane-operator/hostedclusterconfigoperator/controllers/primaryudn/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/primaryudn/util.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
Labels: area/control-plane-operator

kubevirt: add hosted cluster on Primary UDN install flags
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift_operator.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/primaryudn/management_udn.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

hostedclusterconfigoperator: reconcile UDN EndpointSlices for etcd
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/GCP/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/hosted-cluster-config-operator/role.yaml
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/etcd/endpointslices.go
  control-plane-operator/hostedclusterconfigoperator/controllers/etcd/endpointslices_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/etcd/setup.go
Labels: area/control-plane-operator

[DBG] force CAPK image
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt.go
Labels: area/hypershift-operator
