Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

api/v1beta1/hostedcluster_types: Add channel, availableUpdates, and conditionalUpdates
  api/v1beta1/hosted_controlplane.go
  api/v1beta1/hostedcluster_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/hcpstatus/hcpstatus.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator, area/control-plane-operator

api/v1alpha1: Catch up with channel, availableUpdates, and conditionalUpdates
  api/v1alpha1/hosted_controlplane.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Labels: area/hypershift-operator

Switch API documentation to v1beta1
  docs/content/reference/api.md
  hack/gen-api-docs.sh
Labels: none

chore: Make update
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_awsendpointservices.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Labels: none

Ensure identity provider health check condition is persisted and remove awsendpoint control plane finalizer if invalid aws creds
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
Labels: area/hypershift-operator

add proxy trustedCA to MachineConfigServer trusted bundle
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pki.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  test/e2e/create_cluster_test.go
  test/e2e/util/proxy.go
Labels: area/control-plane-operator

fix unit tests
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

Reconcile Proxy TrustedCA ConfigMap
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

Updated proxy e2e test
  cmd/infra/aws/create.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/create_cluster_test.go
  test/e2e/nodepool_autorepair_test.go
  test/e2e/nodepool_kms_root_volume_test.go
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/util/aws.go
  test/e2e/util/proxy.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

use mitm proxy
  cmd/infra/aws/create.go
  test/e2e/util/proxy.go
  test/e2e/util/util.go
Labels: none

don't ssl bump registry
  test/e2e/util/proxy.go
Labels: none

append user CA to oauth master CA bundle
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/certs/tls.go
Labels: area/control-plane-operator

increased WaitForNReadyNodes timeout
  test/e2e/util/util.go
Labels: none

Update HostedCluster oauthCallbackURLTemplate
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

Update HostedCluster oauthCallbackURLTemplate
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

Requeue HCP always
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

fix doc typo
  docs/content/how-to/automated-machine-management/scale-to-zero-dataplane.md
Labels: none

ensure well known public domains do not get proxied on image imports
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
Labels: area/control-plane-operator

ensure well known public domains do not get proxied on image imports
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
Labels: area/control-plane-operator

add OWNERS for new area labels
  cmd/OWNERS
  docs/OWNERS
  test/OWNERS
Labels: none

Update tekton references
  .tekton/hypershift-azjx-pull-request.yaml
  .tekton/hypershift-azjx-push.yaml
Labels: none

Make label into a constant
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Add monitoring label to HCP namespace
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Make label into a constant
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Add monitoring label to HCP namespace
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Enable monitoring for hypershift & HCP namespace
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/metrics/labels.go
Labels: area/hypershift-operator

OCPBUGS-11749 - Add pod security labels to hcp namespace
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Restart kube-scheduler when its configuration changes
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/deployment.go
Labels: area/control-plane-operator

json export for a common grafana dashboard for SLOs
  contrib/metrics/SLOs-grafana-dashboard.json
Labels: none

remove ACL for aws bucket
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  test/e2e/e2e_test.go
Labels: area/hypershift-operator

docs: update OIDC s3 bucket creation procedure
  docs/content/getting-started.md
Labels: none

remove s3 object ACL for OIDC
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Enable monitoring for hypershift & HCP namespace
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/metrics/labels.go
Labels: area/hypershift-operator

fixed HTTPSProxy address
  cmd/infra/aws/create.go
  test/e2e/util/proxy.go
Labels: none

allow z-stream upgrade even if CVO Upgradeable is false
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

add pull-secret to imagePullSecrets for NTO, CNO, and olm-collect-profiles
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/olm-collect-profiles.go
Labels: area/control-plane-operator

Relax MCO API strict decoding
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: area/hypershift-operator

Bring latest MCO API
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  thirdparty/machineconfigoperator/pkg/apis/machineconfiguration.openshift.io/v1/register.go
  thirdparty/machineconfigoperator/pkg/apis/machineconfiguration.openshift.io/v1/types.go
  thirdparty/machineconfigoperator/pkg/apis/machineconfiguration.openshift.io/v1/zz_generated_deepcopy.go
Labels: area/hypershift-operator

Disaster recovery E2E Test, migration procedure
  cmd/install/install.go
  cmd/install/install_render.go
  control-plane-operator/hostedclusterconfigoperator/api/scheme.go
  test/e2e/disaster_recovery_migration_test.go
  test/e2e/disaster_recovery_test.go
  test/e2e/e2e_test.go
  test/e2e/util/fixture.go
  test/e2e/util/manifests.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

Always requeue AWSEndpointService controllers
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  hypershift-operator/controllers/platform/aws/controller.go
Labels: area/hypershift-operator, area/control-plane-operator
