Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

feat(aws): support EC2 CapacityReservationPreference in NodePool
  api/hypershift/v1beta1/aws.go
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
Labels: area/hypershift-operator

test(e2e): add AWS placement options validation tests
  test/e2e/create_cluster_test.go
Labels: none

fix(infra/azure): make role assignment creation idempotent and robust
  cmd/infra/azure/create.go
Labels: none

fix (OCPBUGS-50003): add GetProducts from AWS pricing service in case nodePool EC2 instance type is unknown
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/api.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/doc.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/errors.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/pricingiface/interface.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/service.go
  vendor/modules.txt
Labels: area/hypershift-operator

fix (OCPBUGS-50003): increase coverage adding un case in unit test
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
Labels: area/hypershift-operator

fix (OCPBUGS-50003): add pricing GetProducts and types to unmarshal json output
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
  hypershift-operator/controllers/nodepool/metrics/pricing_types.go
  hypershift-operator/main.go
Labels: area/hypershift-operator

test(autonode): allow ValidateMetrics to query karpenter pods
  test/e2e/karpenter_test.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: none

chore(autonode): fix spelling of ProvisionerKarpenter constant
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/cluster/aws/create.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  hypershift-operator/controllers/hostedcluster/karpenter_test.go
  support/karpenter/karpenter.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator, area/control-plane-operator

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

feat(validations): Added unit tests for powervs nodepool
  hypershift-operator/controllers/nodepool/powervs_test.go
Labels: area/hypershift-operator

Red Hat Konflux purge ho-hotfix-ocpbugs-58200
  .tekton/ho-hotfix-ocpbugs-58200-pull-request.yaml
  .tekton/ho-hotfix-ocpbugs-58200-push.yaml
Labels: none

Use the hcco-kubeconfig into right place
  kas-bootstrap/kas_boostrap.go
  kas-bootstrap/kas_boostrap_test.go
Labels: none

Rename hcco-rolebinding.yaml to 98_hcco-rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/deployment.yaml
  kas-bootstrap/testdata/98_hcco-rolebinding.yaml
Labels: area/control-plane-operator

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

feat: enable global pull secret for ROSA HCP
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/v2/controlplaneoperator/deployment.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  support/awsutil/tags.go
  support/awsutil/tags_test.go
  test/e2e/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator, area/control-plane-operator

OCPBUGS-56430: Add DR operations after HC restoration
  api/hypershift/v1beta1/hostedcluster_conditions.go
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/recovery/recovery.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator, area/control-plane-operator

OCPBUGS-56430: Fix restarting prometheus Sts after HCP restoration
  .gitignore
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/recovery/recovery.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

feat(sharedingress): support Azure Public IP tagging for router service
  hypershift-operator/controllers/sharedingress/router.go
  hypershift-operator/controllers/sharedingress/sharedingress_controller.go
Labels: area/hypershift-operator

fix(cpo/ingress): do not set aws-load-balancer-subnets on private router Service
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router_test.go
  support/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator, area/control-plane-operator

Use client.Patch instead of ctrl.CreateOrUpdate
  kas-bootstrap/kas_boostrap.go
Labels: none

Use system trust bundle in CPO IDP https client
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert_test.go
Labels: area/control-plane-operator

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

feat: enable global pull secret for AWS
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

fix: OCPBUGS-50003: add GetProducts from AWS Pricing APIs in case instance type is not know to EC2 DescribeInstanceTypes
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
  hypershift-operator/controllers/nodepool/metrics/pricing_types.go
  hypershift-operator/main.go
Labels: area/hypershift-operator

fix: OCPBUGS-50003 improve the coverage in case of AWS Error for EC2 DescribeInstanceTypes
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
Labels: area/hypershift-operator

fix: OCPBUGS-50003 add vendor
  vendor/github.com/aws/aws-sdk-go/service/pricing/api.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/doc.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/errors.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/pricingiface/interface.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/service.go
  vendor/modules.txt
Labels: none

Add FieldOwner
  kas-bootstrap/kas_boostrap.go
Labels: none

feat(claude): add e2e-analyze command for CI failure analysis
  .claude/commands/e2e-analyze.md
Labels: none

fix(globalps): replace privileged container with specific capabilities
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
Labels: area/control-plane-operator

feat(supportedversion): add OCP 4.21 support; update e2e constants and tests
  support/supportedversion/version.go
  support/supportedversion/version_test.go
  test/e2e/util/version.go
Labels: none

Always compress and encode payload in token secret for inplace upgrades
  control-plane-operator/hostedclusterconfigoperator/controllers/inplaceupgrader/inplaceupgrader.go
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
Labels: area/control-plane-operator

docs(create-jira-items): document OCPBUGS issue creation and default versions
  .cursor/rules/create-jira-items.mdc
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Add missing service network DNS entries to KAS cert
  support/pki/kas.go
Labels: none

fix(autonode): allow karpenter-operator to support rhobs monitoring
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/karpenter-operator/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/karpenteroperator/deployment.go
Labels: area/control-plane-operator

refactor(claude): improve e2e-analyze command configuration and validation
  .claude/commands/e2e-analyze.md
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

feat(globalps): mount pull secrets as volumes in DaemonSet and optimize sync-global-pullsecret
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret.go
Labels: area/control-plane-operator

chore(ci): Restructure the OWNERS usage
  .tekton/OWNERS
  OWNERS
  OWNERS_ALIASES
  api/OWNERS
  availability-prober/OWNERS
  cmd/OWNERS
  cmd/cluster/kubevirt/OWNERS
  cmd/install/assets/cluster-api-provider-kubevirt/OWNERS
  control-plane-operator/OWNERS
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/OWNERS
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-kubevirt/OWNERS
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kubevirt-csi-controller/OWNERS
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/kubevirt/OWNERS
  control-plane-operator/controllers/hostedcontrolplane/v2/csi/kubevirt/OWNERS
  control-plane-pki-operator/OWNERS
  dnsresolver/OWNERS
  docs/OWNERS
  etcd-backup/OWNERS
  etcd-recovery/OWNERS
  hack/OWNERS
  hypershift-operator/OWNERS
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/OWNERS
  hypershift-operator/controllers/nodepool/kubevirt/OWNERS
  ignition-server/OWNERS
  kas-bootstrap/OWNERS
  konnectivity-socks5-proxy/OWNERS
  kubernetes-default-proxy/OWNERS
  product-cli/cmd/cluster/kubevirt/OWNERS
  support/OWNERS
  test/OWNERS
  test/integration/OWNERS
  token-minter/OWNERS
Labels: area/hypershift-operator, area/control-plane-operator
