Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

update vendor to include new library-go node package
  go.mod
  vendor/github.com/openshift/library-go/pkg/apiserver/node/minimum_kubelet_version.go
  vendor/modules.txt
Labels: none

update fixtures
  cmd/cluster/agent/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_default_creation_flags_for_cesar.yaml
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_create_with_a_ure_marketplace_image.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_availability_ones.yaml
  cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_test_from_dvossel.yaml
  cmd/cluster/none/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_default_creation_flags.yaml
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/powervs/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
Labels: none

hostedcluster: bubble up OldestKubeletVersion from HCP
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

api: add oldestKubeletVersion
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/MinimumKubeletVersion.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/MinimumKubeletVersion.yaml
  client/applyconfiguration/hypershift/v1beta1/clusterconfiguration.go
  client/applyconfiguration/hypershift/v1beta1/hostedclusterstatus.go
  client/applyconfiguration/hypershift/v1beta1/hostedcontrolplanestatus.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator

hostedcluster: set condition if OldestKubeletVersion < MinimumKubeletVersion
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

add feature gate controller to HCCO
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/featuregate/controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/featuregate/setup.go
Labels: area/control-plane-operator

add featuregate for minimum kubelet verison
  cmd/install/assets/hypershift_operator_test.go
  hypershift-operator/featuregate/feature.go
Labels: area/hypershift-operator

Add HCP annotation for karpenter upstream e2e testing purposes
  api/hypershift/v1beta1/hostedcluster_types.go
  karpenter-operator/controllers/karpenter/karpenter_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

asset
  cmd/install/assets/hypershift_operator_test.go
Labels: none

Refactor image-registry-operator into cpov2
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents_component_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-image-registry-operator/azure-secretprovider.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-image-registry-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-image-registry-operator/podmonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/podmonitor.go
  support/util/containers.go
Labels: area/control-plane-operator

update apis
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DisableClusterCapabilities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/MinimumKubeletVersion.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DisableClusterCapabilities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/MinimumKubeletVersion.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
Labels: area/hypershift-operator

Add upstream karpenter core e2e tests to hypershift
  Makefile
  karpenter-operator/e2e/adjust-ec2nodeclass.sh
  karpenter-operator/e2e/default_nodepool.yaml
  karpenter-operator/e2e/upstream-e2e.sh
Labels: none

chore(deps): update github.com/openshift/cluster-api-provider-kubevirt digest to ebbc1f6
  go.mod
Labels: none

Update github.com/openshift/hypershift/api digest to f9a0bbc
  go.mod
  vendor/modules.txt
Labels: none

Update github.com/openshift/library-go digest to 017e5b6
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/certs/cert-inspection/certgraphanalysis/certkeypair.go
  vendor/github.com/openshift/library-go/pkg/certs/cert-inspection/certgraphapi/types.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/annotations.go
  vendor/modules.txt
Labels: none

Update github.com/ppc64le-cloud/powervs-utils digest to a2c048c
  go.mod
  go.sum
  vendor/github.com/ppc64le-cloud/powervs-utils/region.go
  vendor/modules.txt
Labels: none

Update github.com/golang/groupcache digest to 2c02b82
  go.mod
  go.sum
  vendor/modules.txt
Labels: none

Update k8s.io/utils digest to 24370be
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/modules.txt
  vendor/k8s.io/utils/clock/testing/fake_clock.go
  vendor/k8s.io/utils/lru/lru.go
  vendor/modules.txt
Labels: none

Update sigs.k8s.io/cluster-api-provider-openstack/orc digest to e4f56a2
  go.mod
  go.sum
  vendor/github.com/k-orc/openstack-resource-controller/api/v1alpha1/groupversion_info.go
  vendor/github.com/k-orc/openstack-resource-controller/api/v1alpha1/image_types.go
  vendor/github.com/k-orc/openstack-resource-controller/api/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/k-orc/openstack-resource-controller/api/v1alpha1/zz_generated.image-resource.go
  vendor/modules.txt
Labels: none

Update module github.com/aws/aws-sdk-go to v1.55.6
  contrib/cleanzones/go.mod
  contrib/cleanzones/go.sum
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/aws/session/shared_config.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/modules.txt
Labels: none

Update module github.com/evanphx/json-patch/v5 to v5.9.11
  go.mod
  go.sum
  vendor/github.com/evanphx/json-patch/v5/merge.go
  vendor/github.com/evanphx/json-patch/v5/patch.go
  vendor/modules.txt
Labels: none

Update module github.com/k-orc/openstack-resource-controller to v1.0.1
  go.mod
  vendor/modules.txt
Labels: none

Update module sigs.k8s.io/cluster-api to v1.9.5
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/cluster_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/machinedrainrules_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/zz_generated.openapi.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/controller/metrics/metrics.go
Labels: none

Update dependency go to v1.24.0
  contrib/aws-tag-lb-service-webhook/go.mod
Labels: none

Update module github.com/IBM/go-sdk-core/v5 to v5.18.5
  go.mod
  go.sum
  vendor/github.com/IBM/go-sdk-core/v5/core/authenticator_factory.go
  vendor/github.com/IBM/go-sdk-core/v5/core/base_service.go
  vendor/github.com/IBM/go-sdk-core/v5/core/basic_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/bearer_token_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/config_utils.go
  vendor/github.com/IBM/go-sdk-core/v5/core/constants.go
  vendor/github.com/IBM/go-sdk-core/v5/core/container_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/cp4d_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/iam_assume_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/iam_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/jwt_utils.go
  vendor/github.com/IBM/go-sdk-core/v5/core/mcsp_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/parameterized_url.go
  vendor/github.com/IBM/go-sdk-core/v5/core/request_builder.go
  vendor/github.com/IBM/go-sdk-core/v5/core/unmarshal_v2.go
  vendor/github.com/IBM/go-sdk-core/v5/core/utils.go
  vendor/github.com/IBM/go-sdk-core/v5/core/version.go
  vendor/github.com/IBM/go-sdk-core/v5/core/vpc_instance_authenticator.go
  vendor/modules.txt
Labels: none

Update module github.com/IBM/ibm-cos-sdk-go to v1.12.1
  go.mod
  go.sum
  vendor/github.com/IBM/go-sdk-core/v5/core/authenticator_factory.go
  vendor/github.com/IBM/go-sdk-core/v5/core/base_service.go
  vendor/github.com/IBM/go-sdk-core/v5/core/basic_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/bearer_token_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/config_utils.go
  vendor/github.com/IBM/go-sdk-core/v5/core/constants.go
  vendor/github.com/IBM/go-sdk-core/v5/core/container_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/cp4d_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/iam_assume_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/iam_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/jwt_utils.go
  vendor/github.com/IBM/go-sdk-core/v5/core/mcsp_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/parameterized_url.go
  vendor/github.com/IBM/go-sdk-core/v5/core/request_builder.go
  vendor/github.com/IBM/go-sdk-core/v5/core/unmarshal_v2.go
  vendor/github.com/IBM/go-sdk-core/v5/core/utils.go
  vendor/github.com/IBM/go-sdk-core/v5/core/version.go
  vendor/github.com/IBM/go-sdk-core/v5/core/vpc_instance_authenticator.go
  vendor/github.com/IBM/ibm-cos-sdk-go/aws/credentials/ibmiam/common.go
  vendor/github.com/IBM/ibm-cos-sdk-go/aws/credentials/ibmiam/env_provider_trusted_profile.go
  vendor/github.com/IBM/ibm-cos-sdk-go/aws/credentials/ibmiam/iamcreds_file_utils.go
  vendor/github.com/IBM/ibm-cos-sdk-go/aws/credentials/ibmiam/trusted_profile.go
  vendor/github.com/IBM/ibm-cos-sdk-go/aws/credentials/ibmiam/trusted_profile_provider.go
  vendor/github.com/IBM/ibm-cos-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/IBM/ibm-cos-sdk-go/aws/session/session.go
  vendor/github.com/IBM/ibm-cos-sdk-go/aws/version.go
  vendor/github.com/IBM/ibm-cos-sdk-go/service/s3/api.go
  vendor/github.com/IBM/ibm-cos-sdk-go/service/s3/service.go
  vendor/modules.txt
Labels: none

Update module github.com/IBM/platform-services-go-sdk to v0.75.0
  go.mod
  go.sum
  vendor/github.com/IBM/go-sdk-core/v5/core/authenticator_factory.go
  vendor/github.com/IBM/go-sdk-core/v5/core/base_service.go
  vendor/github.com/IBM/go-sdk-core/v5/core/basic_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/bearer_token_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/config_utils.go
  vendor/github.com/IBM/go-sdk-core/v5/core/constants.go
  vendor/github.com/IBM/go-sdk-core/v5/core/container_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/cp4d_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/iam_assume_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/iam_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/jwt_utils.go
  vendor/github.com/IBM/go-sdk-core/v5/core/mcsp_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/parameterized_url.go
  vendor/github.com/IBM/go-sdk-core/v5/core/request_builder.go
  vendor/github.com/IBM/go-sdk-core/v5/core/unmarshal_v2.go
  vendor/github.com/IBM/go-sdk-core/v5/core/utils.go
  vendor/github.com/IBM/go-sdk-core/v5/core/version.go
  vendor/github.com/IBM/go-sdk-core/v5/core/vpc_instance_authenticator.go
  vendor/github.com/IBM/platform-services-go-sdk/common/version.go
  vendor/github.com/IBM/platform-services-go-sdk/iamidentityv1/iam_identity_v1.go
  vendor/github.com/IBM/platform-services-go-sdk/resourcecontrollerv2/resource_controller_v2.go
  vendor/modules.txt
Labels: none

Update module github.com/IBM/vpc-go-sdk to v0.64.1
  go.mod
  go.sum
  vendor/github.com/IBM/go-sdk-core/v5/core/authenticator_factory.go
  vendor/github.com/IBM/go-sdk-core/v5/core/base_service.go
  vendor/github.com/IBM/go-sdk-core/v5/core/basic_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/bearer_token_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/config_utils.go
  vendor/github.com/IBM/go-sdk-core/v5/core/constants.go
  vendor/github.com/IBM/go-sdk-core/v5/core/container_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/cp4d_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/iam_assume_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/iam_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/jwt_utils.go
  vendor/github.com/IBM/go-sdk-core/v5/core/mcsp_authenticator.go
  vendor/github.com/IBM/go-sdk-core/v5/core/parameterized_url.go
  vendor/github.com/IBM/go-sdk-core/v5/core/request_builder.go
  vendor/github.com/IBM/go-sdk-core/v5/core/unmarshal_v2.go
  vendor/github.com/IBM/go-sdk-core/v5/core/utils.go
  vendor/github.com/IBM/go-sdk-core/v5/core/version.go
  vendor/github.com/IBM/go-sdk-core/v5/core/vpc_instance_authenticator.go
  vendor/github.com/IBM/vpc-go-sdk/common/headers.go
  vendor/github.com/IBM/vpc-go-sdk/common/version.go
  vendor/modules.txt
Labels: none

Update module github.com/coreos/ignition/v2 to v2.20.0
  go.mod
  go.sum
  vendor/github.com/coreos/ignition/v2/config/shared/errors/errors.go
  vendor/modules.txt
Labels: none

Update module github.com/google/go-cmp to v0.7.0
  contrib/aws-tag-lb-service-webhook/go.mod
  contrib/aws-tag-lb-service-webhook/go.sum
  go.mod
  go.sum
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/internal/function/func.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/modules.txt
Labels: none

Update module github.com/openshift/controller-tools to v0.12.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/modules.txt
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/crd/gen.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/crd/known_types.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/crd/markers/doc.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/crd/markers/package.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/crd/markers/patch_validation.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/crd/markers/priority.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/crd/markers/register.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/crd/markers/topology.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/crd/markers/validation.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/crd/markers/zz_generated.markerhelp.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/crd/patch_schema.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/crd/schema.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/crd/zz_generated.markerhelp.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/deepcopy/gen.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/deepcopy/traverse.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/deepcopy/zz_generated.markerhelp.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/genall/genall.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/genall/options.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/genall/output.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/genall/zz_generated.markerhelp.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/loader/loader.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/loader/refs.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/markers/collect.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/markers/parse.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/markers/zip.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/rbac/parser.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/rbac/zz_generated.markerhelp.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/schemapatcher/gen.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/schemapatcher/patch_gen.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/schemapatcher/zz_generated.markerhelp.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/version/version.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/webhook/parser.go
  hack/tools/vendor/sigs.k8s.io/controller-tools/pkg/webhook/zz_generated.markerhelp.go
Labels: none

Update module github.com/operator-framework/api to v0.29.0
  go.mod
  go.sum
  vendor/github.com/google/cel-go/cel/env.go
  vendor/github.com/google/cel-go/cel/inlining.go
  vendor/github.com/google/cel-go/cel/io.go
  vendor/github.com/google/cel-go/cel/optimizer.go
  vendor/github.com/google/cel-go/cel/program.go
  vendor/github.com/google/cel-go/checker/checker.go
  vendor/github.com/google/cel-go/common/decls/decls.go
  vendor/github.com/google/cel-go/common/errors.go
  vendor/github.com/google/cel-go/ext/BUILD.bazel
  vendor/github.com/google/cel-go/interpreter/planner.go
  vendor/github.com/google/cel-go/parser/macro.go
  vendor/github.com/operator-framework/api/pkg/operators/v1/zz_generated.deepcopy.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/catalogsource_types.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/installplan_types.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/subscription_types.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: none

support/capabilities: add helper functions for capabilities
  support/capabilities/hosted_control_plane_capabilities.go
  support/capabilities/hosted_control_plane_capabilities_test.go
Labels: none

fix HCCO v2 not mounting openshift-config-managed-trusted-ca-bundle
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/hosted-cluster-config-operator/deployment.yaml
Labels: area/control-plane-operator

Refactor pki-operator into cpov2
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/control-plane-pki-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/control-plane-pki-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/control-plane-pki-operator/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/control-plane-pki-operator/zz_fixture_TestControlPlaneComponents_component_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/control-plane-pki-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/control-plane-pki-operator/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/control-plane-pki-operator/rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/control-plane-pki-operator/serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/pkioperator/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/pkioperator/deployment.go
Labels: area/control-plane-operator

api/hypershift: Add ClusterVersionOperator API
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/operator.go
Labels: area/hypershift-operator

api/hypershift: Add ClusterVersionOperatorConfiguration feature gate
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
Labels: area/hypershift-operator

cpo/hcco: set cluster version capabilities
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

cpo,ho: skip create/reconcile Image Registry resources when disabled
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

cpo/hcp: format files
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/config.go
Labels: area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
