Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

feat(azure): Add token-minter support to CAPI provider
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_provider/component.go
Labels: area/control-plane-operator

fix(azure): Add workload identity support to cloud controller manager config
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/config.go
Labels: area/control-plane-operator

fix(azure): Restrict SecretProviderClass to ARO HCP only
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/component.go
Labels: area/control-plane-operator

fix(azure): Add cloud.conf to HyperShift operator credential secret
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/config.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(azure): Add workload identity support and resolve secret name conflict
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/config.go
Labels: area/control-plane-operator

fix(azure): Create cloud controller manager service account in HCP namespace
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-azure/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-azure/serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/component.go
Labels: area/control-plane-operator

feat(reqserving): e2e verification for isolated request serving topology
  Dockerfile.e2e
  Makefile
  cmd/install/install_render.go
  go.mod
  go.sum
  hack/run-reqserving-e2e.sh
  test/e2e/e2e_test.go
  test/e2e/util/client.go
  test/e2e/util/install.go
  test/e2e/util/options.go
  test/e2e/util/reqserving/setup.go
  test/e2e/util/reqserving/verifyconfigmaps.go
  test/e2e/util/reqserving/verifycp.go
  test/e2e/util/reqserving/verifyenv.go
  test/e2e/util/reqserving/verifynodes.go
  test/e2e/util/reqserving/verifypodlabels.go
  test/e2e/util/reqserving/verifypods.go
  test/e2e/util/reqserving/waitfor.go
  test/e2e/util/scheme.go
  test/e2e/util/sharedoidc.go
  test/e2e/util/util.go
  test/reqserving-e2e/create_cluster_test.go
  test/reqserving-e2e/reqserving_e2e_test.go
  vendor/github.com/openshift/cluster-autoscaler-operator/LICENSE
  vendor/github.com/openshift/cluster-autoscaler-operator/pkg/apis/autoscaling/v1/clusterautoscaler_types.go
  vendor/github.com/openshift/cluster-autoscaler-operator/pkg/apis/autoscaling/v1/doc.go
  vendor/github.com/openshift/cluster-autoscaler-operator/pkg/apis/autoscaling/v1/register.go
  vendor/github.com/openshift/cluster-autoscaler-operator/pkg/apis/autoscaling/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/cluster-autoscaler-operator/pkg/apis/autoscaling/v1beta1/doc.go
  vendor/github.com/openshift/cluster-autoscaler-operator/pkg/apis/autoscaling/v1beta1/machineautoscaler_types.go
  vendor/github.com/openshift/cluster-autoscaler-operator/pkg/apis/autoscaling/v1beta1/register.go
  vendor/github.com/openshift/cluster-autoscaler-operator/pkg/apis/autoscaling/v1beta1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: none

build(lint): run custom golangci-lint build in module mode to avoid vendor mismatch
  Makefile
Labels: none

style(staticcheck): avoid referring to embedded Client explicitly
  hypershift-operator/controllers/hostedcluster/etcd_recovery.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  ignition-server/controllers/local_ignitionprovider.go
Labels: area/hypershift-operator, area/control-plane-operator

style(staticcheck): only use promoted Status() where Client is embedded
  ignition-server/controllers/local_ignitionprovider.go
Labels: area/control-plane-operator

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

OCPBUGS-57142: HCP payload doesn't respect multiple mirrors
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver_test.go
  support/releaseinfo/registry_image_content_policies.go
  support/util/imagemapping.go
  support/util/imagemapping_test.go
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
Labels: area/control-plane-operator

refactor(azure): rename cloud controller manager resources for clarity
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-azure/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-azure/serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/component.go
Labels: area/control-plane-operator

WIP - initial CAPI changes
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
Labels: area/hypershift-operator

fix(CNTRLPLANE-935): add e2e test for metrics on Azure
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

refactor(control-plane-operator/hostedcontrolplane): clarify Azure credentials cache naming and logs
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

perf(control-plane-operator/hostedcontrolplane): cache Azure KMS TokenCredential for ARO HCP
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

fix(OCPBUGS-57626): order ICSPs for determinism of OPENSHIFT_IMG_OVERRIDES
  support/globalconfig/imagecontentsource.go
  support/globalconfig/imagecontentsource_test.go
Labels: none

fix: add dynamic security context uid to 4.19 missing components
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/params.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator.go
  support/config/deployment.go
Labels: area/control-plane-operator

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

OCPBUGS-60651: fix mce 2.10 Konflux EC violation
  .tekton/hypershift-cli-mce-210-pull-request.yaml
  .tekton/hypershift-cli-mce-210-push.yaml
  .tekton/hypershift-release-mce-210-pull-request.yaml
  .tekton/hypershift-release-mce-210-push.yaml
Labels: none

refactor(control-plane-operator/hostedcontrolplane): clarify Azure credentials cache naming and logs
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

perf(control-plane-operator/hostedcontrolplane): cache Azure KMS TokenCredential for ARO HCP
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

OCPBUGS-60651: fix mce 2.10 Konflux EC violation
  .tekton/hypershift-release-mce-210-pull-request.yaml
  .tekton/hypershift-release-mce-210-push.yaml
Labels: none

OCPBUGS-60651: fix mce 2.10 Konflux EC violation
  .tekton/hypershift-cli-mce-210-pull-request.yaml
  .tekton/hypershift-cli-mce-210-push.yaml
Labels: none

feat(cpo): invalidate Azure credential caches on hosted control plane deletion
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

feat(cpo): enhance Azure credential cache invalidation with proper context management
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

style(cpo): fix indentation and formatting in Azure credential management
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

fix(doc): remove note about mandatory annotation in BM deployment
  docs/content/labs/Dual/hostedcluster/hostedcluster.md
  docs/content/labs/IPv4/hostedcluster/hostedcluster.md
  docs/content/labs/IPv6/hostedcluster/hostedcluster.md
Labels: none

docs(cursor): add Jira creation rule for CNTRLPLANE/OCPBUGS with components and story template
  .cursor/rules/create-jira-items.mdc
Labels: none

chore(cpo): bump CPO to version with Azure KMS TokenCredential caching and dynamic securityContext UID for 4.19
  hypershift-operator/controlplaneoperator-overrides/assets/overrides.yaml
Labels: area/hypershift-operator

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none
