Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

OCPBUGS-27161-4.15: reflect NodePool replica count 0 in status
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: area/hypershift-operator

contrib: add code for aws-tag-lb-service-webhook
  contrib/aws-tag-lb-service-webhook/Dockerfile
  contrib/aws-tag-lb-service-webhook/go.mod
  contrib/aws-tag-lb-service-webhook/go.sum
  contrib/aws-tag-lb-service-webhook/main.go
  contrib/aws-tag-lb-service-webhook/manifests/deployment.yaml
  contrib/aws-tag-lb-service-webhook/manifests/mutating-webhook-configuration.yaml
  contrib/aws-tag-lb-service-webhook/manifests/service.yaml
Labels: none

Ensure cloud resources are destroyed for all platforms when --destroy-cloud-resources is used
  cmd/cluster/core/destroy.go
Labels: none

node spread anti-affinity for HA HCP
  support/config/deployment.go
  support/config/deployment_test.go
Labels: none

Add documentation for kubevirt vm networking and performance
  docs/content/how-to/kubevirt/configuring-network.md
  docs/content/how-to/kubevirt/performance-tuning.md
  docs/mkdocs.yml
Labels: none

OCPBUGS-23997: add watch for HCP pullsecret to HCCO
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

HOSTEDCP-1411: Add capability to specify additional tags to azure resource group
  cmd/cluster/aws/create.go
  cmd/cluster/azure/create.go
  cmd/cluster/core/create.go
  cmd/infra/aws/create_iam.go
  cmd/infra/aws/ec2.go
  cmd/infra/azure/create.go
  cmd/util/client.go
Labels: none

kubevirt, e2e: Add additional network test
  test/e2e/nodepool_kv_multinet_test.go
  test/e2e/nodepool_test.go
Labels: none

Remove '--attach-default-network' from productized cli
  product-cli/cmd/cluster/kubevirt/create.go
Labels: none

Use Service Principal in AzureClusterIdentity
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
Labels: area/hypershift-operator

HOSTEDCP-1272: Added CLI support to create DualStack clusters using default values
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  product-cli/cmd/cluster/cluster.go
  support/globalconfig/network.go
Labels: none

control-plane-operator: set the namespace for the PKI operator
  control-plane-operator/controllers/hostedcontrolplane/pkioperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/pkioperator/testdata/zz_fixture_TestReconcileControlPlanePKIOperatorDeployment.yaml
Labels: area/control-plane-operator

hypershift-operator: allow injecting CPO image labels
  api/hypershift/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

control-plane-operator: reconcile PKI operator earlier
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

hypershift-operator: expose images to the CPO
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

control-plane-operator: use a synthetic image for PKI operator
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/supportedversion/reconciler_test.go
  support/releaseinfo/static_provider.go
  support/util/containers.go
Labels: area/hypershift-operator, area/control-plane-operator

control-plane-pki-operator: add a revocation controller
  control-plane-operator/controllers/hostedcontrolplane/pkioperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/pkioperator/testdata/zz_fixture_TestReconcileControlPlanePKIOperatorRole.yaml
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller.go
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller_test.go
  control-plane-pki-operator/certificaterevocationcontroller/testdata/future-client.signed.tls.crt
  control-plane-pki-operator/certificaterevocationcontroller/testdata/future-client.tls.crt
  control-plane-pki-operator/certificaterevocationcontroller/testdata/future-client.tls.key
  control-plane-pki-operator/certificaterevocationcontroller/testdata/future.tls.crt
  control-plane-pki-operator/certificaterevocationcontroller/testdata/future.tls.key
  control-plane-pki-operator/certificaterevocationcontroller/testdata/original-client.signed.tls.crt
  control-plane-pki-operator/certificaterevocationcontroller/testdata/original-client.tls.crt
  control-plane-pki-operator/certificaterevocationcontroller/testdata/original-client.tls.key
  control-plane-pki-operator/certificaterevocationcontroller/testdata/original.tls.crt
  control-plane-pki-operator/certificaterevocationcontroller/testdata/original.tls.key
  control-plane-pki-operator/certificates/validation.go
  control-plane-pki-operator/certrotationcontroller/certrotationcontroller.go
  control-plane-pki-operator/operator.go
  test/e2e/create_cluster_test.go
  vendor/github.com/openshift/library-go/pkg/certs/cert-inspection/certgraphanalysis/analyzer.go
  vendor/github.com/openshift/library-go/pkg/certs/cert-inspection/certgraphanalysis/ca_bundle.go
  vendor/github.com/openshift/library-go/pkg/certs/cert-inspection/certgraphanalysis/certkeypair.go
  vendor/github.com/openshift/library-go/pkg/certs/cert-inspection/certgraphanalysis/collection_options.go
  vendor/github.com/openshift/library-go/pkg/certs/cert-inspection/certgraphanalysis/collector.go
  vendor/github.com/openshift/library-go/pkg/certs/cert-inspection/certgraphanalysis/deduplication.go
  vendor/github.com/openshift/library-go/pkg/certs/cert-inspection/certgraphanalysis/filtering_options.go
  vendor/github.com/openshift/library-go/pkg/certs/cert-inspection/certgraphanalysis/metadata_options.go
  vendor/github.com/openshift/library-go/pkg/certs/cert-inspection/certgraphapi/type_registry.go
  vendor/github.com/openshift/library-go/pkg/certs/cert-inspection/certgraphapi/types.go
  vendor/modules.txt
Labels: area/control-plane-operator

api,client: add a CertificateRevocationRequest type
  api/certificates/v1alpha1/certificaterevocationrequest_types.go
  api/certificates/v1alpha1/register.go
  api/certificates/v1alpha1/zz_generated.deepcopy.go
  client/applyconfiguration/certificates/v1alpha1/certificaterevocationrequest.go
  client/applyconfiguration/certificates/v1alpha1/certificaterevocationrequestspec.go
  client/applyconfiguration/certificates/v1alpha1/certificaterevocationrequeststatus.go
  client/applyconfiguration/utils.go
  client/clientset/clientset/typed/certificates/v1alpha1/certificaterevocationrequest.go
  client/clientset/clientset/typed/certificates/v1alpha1/certificates_client.go
  client/clientset/clientset/typed/certificates/v1alpha1/fake/fake_certificaterevocationrequest.go
  client/clientset/clientset/typed/certificates/v1alpha1/fake/fake_certificates_client.go
  client/clientset/clientset/typed/certificates/v1alpha1/generated_expansion.go
  client/informers/externalversions/certificates/v1alpha1/certificaterevocationrequest.go
  client/informers/externalversions/certificates/v1alpha1/interface.go
  client/informers/externalversions/generic.go
  client/listers/certificates/v1alpha1/certificaterevocationrequest.go
  client/listers/certificates/v1alpha1/expansion_generated.go
  cmd/install/assets/hypershift-operator/certificates.hypershift.openshift.io_certificaterevocationrequests.yaml
  hack/app-sre/saas_template.yaml
  vendor/modules.txt
Labels: area/hypershift-operator

client: update generator to use metav1 applyconfigs
  client/applyconfiguration/hypershift/v1alpha1/hostedclusterstatus.go
  client/applyconfiguration/hypershift/v1beta1/hostedclusterstatus.go
  client/applyconfiguration/hypershift/v1beta1/hostedcontrolplanestatus.go
  control-plane-pki-operator/clienthelpers/conditions.go
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/k8s.io/code-generator/kube_codegen.sh
  hack/tools/vendor/modules.txt
  vendor/modules.txt
Labels: none

test: add an integration suite
  Makefile
  test/e2e/create_cluster_test.go
  test/e2e/testdata/csr.pem
  test/e2e/testdata/tls.crt
  test/e2e/testdata/tls.key
  test/integration/README.md
  test/integration/control_plane_pki_operator.go
  test/integration/control_plane_pki_operator_test.go
  test/integration/framework/artifact.go
  test/integration/framework/assets/00-custom-resource-definition.yaml
  test/integration/framework/assets/0alertmanagerConfigCustomResourceDefinition.yaml
  test/integration/framework/assets/0alertmanagerCustomResourceDefinition.yaml
  test/integration/framework/assets/0podmonitorCustomResourceDefinition.yaml
  test/integration/framework/assets/0probeCustomResourceDefinition.yaml
  test/integration/framework/assets/0prometheusCustomResourceDefinition.yaml
  test/integration/framework/assets/0prometheusagentCustomResourceDefinition.yaml
  test/integration/framework/assets/0prometheusruleCustomResourceDefinition.yaml
  test/integration/framework/assets/0scrapeconfigCustomResourceDefinition.yaml
  test/integration/framework/assets/0servicemonitorCustomResourceDefinition.yaml
  test/integration/framework/assets/0thanosrulerCustomResourceDefinition.yaml
  test/integration/framework/assets/Makefile
  test/integration/framework/assets/delegated-incluster-authentication-rolebinding.yaml
  test/integration/framework/assets/namespace.yaml
  test/integration/framework/client.go
  test/integration/framework/command.go
  test/integration/framework/hosted-cluster.go
  test/integration/framework/install.go
  test/integration/framework/options.go
  test/integration/framework/pki.go
  test/integration/framework/pki_test.go
  test/integration/framework/run.go
  test/integration/framework/scheme.go
  test/integration/framework/testdata/csr.pem
  test/integration/framework/testdata/tls.crt
  test/integration/framework/testdata/tls.key
  test/integration/integration_test.go
  test/integration/run.sh
Labels: none

test/e2e/nodpool_test: improve conditions messages
  test/e2e/nodepool_test.go
Labels: none

test/e2e/util: improve conditions messages
  test/e2e/util/util.go
Labels: none

test/integration: update shell script for MacOS
  test/integration/run.sh
Labels: none

certificate revocation: make loading errors best-effort
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller.go
Labels: none

MULTIARCH-3882: go vendor update
  go.mod
  go.sum
  vendor/github.com/IBM/networking-go-sdk/common/version.go
  vendor/github.com/IBM/networking-go-sdk/directlinkv1/direct_link_v1.go
  vendor/github.com/IBM/networking-go-sdk/transitgatewayapisv1/transit_gateway_apis_v1.go
  vendor/github.com/IBM/networking-go-sdk/zonesv1/zones_v1.go
  vendor/modules.txt
Labels: none

MULTIARCH-3882: Support PER solution for powervs platform via transit gateway More about PER: https://cloud.ibm.com/docs/power-iaas?topic=power-iaas-per
  cmd/cluster/core/create.go
  cmd/cluster/core/destroy.go
  cmd/cluster/powervs/create.go
  cmd/cluster/powervs/destroy.go
  cmd/infra/powervs/create.go
  cmd/infra/powervs/destroy.go
  cmd/infra/powervs/validate.go
  docs/content/how-to/powervs/create-cluster-powervs.md
  docs/content/how-to/powervs/prerequisites-and-env-guide.md
  test/e2e/e2e_test.go
  test/e2e/util/fixture.go
Labels: none

Reduce the policy access scope to specific instance
  cmd/infra/powervs/create.go
  cmd/infra/powervs/destroy.go
  cmd/infra/powervs/service_id.go
  cmd/infra/powervs/service_id_test.go
Labels: none

manifests: Skip pod anti affinity for nil labels
  support/config/deployment.go
Labels: none

Update RHTAP references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

manifests: Skip pod anti affinity for nil labels
  support/config/deployment.go
Labels: none

Add app labels to KubeVirt CCM component
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/reconcile.go
Labels: area/control-plane-operator

cpo: honor user provided oauthmetadata configmap passed in Authentication config
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/oauth.go
Labels: area/control-plane-operator

remove unneeded code to copy Authentication refs
  api/util/configrefs/refs_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

chore(deps): update rhtap references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

HOSTEDCP-1272: Added CLI support to create DualStack clusters using default values
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  product-cli/cmd/cluster/cluster.go
  support/globalconfig/network.go
Labels: none

Bubble up issues with blocked progression to the HCP Available condition
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Remove validation from webhook that has ording dependency on secrets
  api/hypershift/v1beta1/hostedcluster_conditions.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
Labels: area/hypershift-operator

Enable InPlace upgrade test for kubevirt
  test/e2e/nodepool_upgrade_test.go
Labels: none

OCPBUGS-18879 extract img ref in disconnected env
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/manifests.go
  support/util/deployment.go
Labels: area/hypershift-operator

OCPBUGS-11939: Use img metadata in from ICSP/IDMS
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/main.go
  support/util/fakeimagemetadataprovider/fakeimagemetadataprovider.go
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
Labels: area/hypershift-operator
