Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

Allow setting target node selector for control plane router
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  support/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator, area/control-plane-operator

openstack: Support clouds.yaml discovery, different cloud names
  cmd/cluster/openstack/create.go
  cmd/cluster/openstack/create_test.go
  docs/content/how-to/openstack/create-openstack-cluster.md
Labels: none

Extract HC mandatory conditions reconciliation
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Extract HC deletion reconciliation
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Rearange release image reconciliation code
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Extract HC status reconcilation
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

CPO/Ingress: support LoadBalancer FIP
  api/hypershift/v1beta1/hostedcluster_types.go
  client/applyconfiguration/hypershift/v1beta1/openstackplatformspec.go
  cmd/cluster/openstack/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/how-to/openstack/create-openstack-cluster.md
  docs/content/reference/api.md
  test/e2e/e2e_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator, area/control-plane-operator

Extract reconcile world - part-1
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Extract reconcile world - part-2
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

renamed ControlPlaneComponent const to ControlPlaneComponentLabel
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/cluster/core/dump.go
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cco/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/dnsoperator/dnsoperator.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/params.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/service.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/service.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/params.go
  control-plane-operator/controllers/hostedcontrolplane/pkioperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/deployment.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/ignitionserver/ignitionserver.go
  support/config/deployment_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator, area/control-plane-operator

generically set ControlPlaneComponentLabel on all components
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-route-controller-manager/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-autoscaler/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-route-controller-manager/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/routecm/testdata/zz_fixture_TestReconcile_deployment.yaml
  support/controlplane-component/controlplane-component.go
Labels: area/control-plane-operator

Add Managed Identity Support in Azure HC API
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1beta1/azurekmsspec.go
  client/applyconfiguration/hypershift/v1beta1/azureplatformspec.go
  client/applyconfiguration/hypershift/v1beta1/azureresourcemanagedidentities.go
  client/applyconfiguration/hypershift/v1beta1/controlplanemanagedidentities.go
  client/applyconfiguration/hypershift/v1beta1/managedazurekeyvault.go
  client/applyconfiguration/hypershift/v1beta1/managedidentity.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator

Initialize the CP managed identities in the CLI
  cmd/cluster/azure/create.go
  cmd/cluster/azure/create_test.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_create_with_a_ure_marketplace_image.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/util/azure.go
Labels: none

vendor junk
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/secrets-store-csi-driver/LICENSE
  vendor/sigs.k8s.io/secrets-store-csi-driver/apis/v1/doc.go
  vendor/sigs.k8s.io/secrets-store-csi-driver/apis/v1/secretproviderclass_types.go
  vendor/sigs.k8s.io/secrets-store-csi-driver/apis/v1/secretproviderclasspodstatus_types.go
  vendor/sigs.k8s.io/secrets-store-csi-driver/apis/v1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/secrets-store-csi-driver/apis/v1/zz_generated.register.go
Labels: none

HOSTEDCP-1883: Remove hardcoded catalog images in CPO so we dont have to manually bump them each release
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/olm/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  support/releaseinfo/registryclient/client.go
Labels: area/control-plane-operator

HOSTEDCP-1883: add init containers to catalog images
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/olm/deployments.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

Introduced ControlPlaneComponent CRD
  api/hypershift/v1beta1/controlplanecomponent_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_controlplanecomponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/imageprovider/imageprovider.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-autoscaler/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-route-controller-manager/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/assets.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-route-controller-manager/config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-route-controller-manager/service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-route-controller-manager/servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/autoscaler/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/autoscaler/testdata/zz_fixture_TestReconcileExisting_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/routecm/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/routecm/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/routecm/testdata/zz_fixture_TestReconcile_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/routecm/testdata/zz_fixture_TestReconcile_servicemonitor.yaml
  docs/content/reference/api.md
  support/controlplane-component/builder.go
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/generic-adapter.go
  support/controlplane-component/status.go
  support/testutil/fake.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/controlplanecomponent_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator, area/control-plane-operator

WIP Update ingress operator to use cert deployment
  cmd/cluster/azure/create.go
  cmd/install/assets/hypershift_operator.go
  cmd/util/azure.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ingressoperator.go
  go.mod
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/api/scheme.go
Labels: area/hypershift-operator, area/control-plane-operator

NO-JIRA: disable ensurePSANotPrivileged test on <4.17
  test/e2e/util/util.go
Labels: none

OCPBUGS-42100: Run 2 replicas of active/passive HA components
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/params.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/params.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/params.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/params.go
  support/config/deployment.go
Labels: area/control-plane-operator

Add network policies for konnectivity server and ignition server proxy
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/manifests/networkpolicy/manifests.go
Labels: area/hypershift-operator

label routes only when HCP router used
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/route.go
  hypershift-operator/controllers/hostedcluster/ignitionserver/ignitionserver.go
  support/util/route.go
Labels: area/hypershift-operator, area/control-plane-operator

disregard sharedingress in Route labeling decision
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

openstack: Only upload the cloud we want
  cmd/cluster/openstack/create.go
Labels: none

OCPBUGS-42737: add nil check to etcdRecoveryActiveCondition when collecting metrics
  hypershift-operator/controllers/hostedcluster/metrics/metrics.go
Labels: area/hypershift-operator

Update mermaid version for mkdocs
  docs/mkdocs.yml
Labels: none

OCPBUGS-42737: add unit test for etcdManualIntervationRequired metric
  hypershift-operator/controllers/hostedcluster/metrics/metrics_test.go
Labels: area/hypershift-operator

Fixes kubevirt image cacher
  hypershift-operator/controllers/nodepool/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/imagecacher.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: area/hypershift-operator

openstack: Support reading cacert from clouds.yaml
  cmd/cluster/openstack/create.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig.go
Labels: area/control-plane-operator

openstack: Add TODO to deprecate --openstack-credentials-file option
  cmd/cluster/openstack/create.go
Labels: none

OCPBUGS-39369: Add TokenMinter container and RBAC for the CNO
  availability-prober/availability_prober.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_No_private_apiserver_connectivity__proxy_apiserver_address_is_set.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Private_apiserver_connectivity__proxy_apiserver_address_is_unset.yaml
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  support/util/containers.go
  support/util/manifests.go
Labels: area/control-plane-operator

OCPBUGS-39369: Add new VAP for Infrastructure object
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/kas/admissionpolicies.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/kas/admissionpolicies_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  go.mod
  test/e2e/util/util.go
Labels: area/control-plane-operator

openstack: Add tests for extractCloud
  cmd/cluster/openstack/create_test.go
Labels: none

OCPBUGS-42737: add nil check to etcdRecoveryActiveCondition when coll… (#4846)
  hypershift-operator/controllers/hostedcluster/metrics/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics_test.go
Labels: area/hypershift-operator

Remove EnsurePSANotPrivileged check
  test/e2e/create_cluster_test.go
Labels: none

let the HO install CRD only when cpo-v2 annotation is set
  Makefile
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/controlplane-component/crds/crds.go
  support/controlplane-component/crds/hypershift.openshift.io_controlplanecomponents.yaml
Labels: area/hypershift-operator

Document HCP KubeVirt GPU device usage
  docs/content/how-to/kubevirt/gpu-devices.md
  docs/mkdocs.yml
Labels: none

Use guest DNS resolution in Konnectivity HTTPS proxy by default
  konnectivity-https-proxy/cmd.go
Labels: none

preserve ResourceVersion metadata on update
  support/upsert/upsert.go
Labels: none

nodepool: mirror KubeletConfig to HCP NS
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nto.go
Labels: area/hypershift-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
