Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

Fix issues found by staticcheck linter
  availability-prober/availability_prober.go
  cmd/bastion/aws/create.go
  cmd/bastion/aws/destroy.go
  cmd/cluster/core/create.go
  cmd/infra/aws/destroy.go
  cmd/infra/aws/destroy_iam.go
  cmd/infra/powervs/create.go
  cmd/infra/powervs/destroy.go
  cmd/install/install.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/main.go
  dnsresolver/cmd.go
  etcd-defrag/etcddefrag_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
  hypershift-operator/main.go
  ignition-server/controllers/local_ignitionprovider.go
  konnectivity-https-proxy/cmd.go
  pkg/etcdcli/etcdcli.go
  support/config/deployment.go
  support/releaseinfo/releaseinfo.go
  support/thirdparty/kubernetes/pkg/credentialprovider/config.go
  support/thirdparty/library-go/pkg/image/registryclient/client.go
  support/upsert/loopdetector.go
  test/e2e/util/node.go
  test/e2e/util/oauth.go
Labels: area/hypershift-operator, area/control-plane-operator

changed konflux application name
  .tekton/hypershift-cli-mce-29-pull-request.yaml
  .tekton/hypershift-cli-mce-29-push.yaml
Labels: none

removed tekton files, will be created by MCE onboarding
  .tekton/hypershift-cli-mce-29-pull-request.yaml
  .tekton/hypershift-cli-mce-29-push.yaml
Labels: none

cmd/dump: dump pod logs in must-gather compatible layout
  cmd/cluster/core/dump.go
Labels: none

ho: changes to ref'ed resources triggers HC reconciliation
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Red Hat Konflux update hypershift-cli-mce-29 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/hypershift-cli-mce-29-pull-request.yaml
  .tekton/hypershift-cli-mce-29-push.yaml
Labels: none

Update SecretProviderClass CR to only use MIv3
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ingressoperator/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/azure.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/secretproviderclass/secretproviderclass.go
  support/secretproviderclass/secretproviderclass_test.go
Labels: area/hypershift-operator, area/control-plane-operator

Remove Client Cert Auth in AzureClusterIdentity
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
Labels: area/hypershift-operator

Remove Azure constants associated with MIV2
  support/config/constants.go
Labels: none

fix(konflux): Use the golang builder 1.23.6
  Containerfile.control-plane
  Containerfile.operator
Labels: none

Remove CertificateName from Azure API
  api/hypershift/v1beta1/azure.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/managedidentity.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_create_with_a_ure_marketplace_image.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_KubeAPIServerDNSName.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_availability_ones.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_disabled_capabilities.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
Labels: area/hypershift-operator

Update hypershift-cli-mce-29-pull-request.yaml
  .tekton/hypershift-cli-mce-29-pull-request.yaml
Labels: none

Update hypershift-cli-mce-29-push.yaml
  .tekton/hypershift-cli-mce-29-push.yaml
Labels: none

more
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/apiserver-haproxy/haproxy.go
  test/e2e/util/util.go
Labels: area/hypershift-operator, area/control-plane-operator

improve validation logic for OIDC authentication mode
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/auth.go
  control-plane-operator/controllers/hostedcontrolplane/kas/auth_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/auth_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/validations/authentication.go
  vendor/k8s.io/component-base/featuregate/testing/feature_gate.go
  vendor/modules.txt
Labels: area/hypershift-operator, area/control-plane-operator

validations: add unit tests for authentication validations
  control-plane-operator/controllers/hostedcontrolplane/kas/auth.go
  control-plane-operator/controllers/hostedcontrolplane/kas/auth_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/auth_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/validations/authentication.go
  support/validations/authentication_test.go
Labels: area/hypershift-operator, area/control-plane-operator

update structured auth validation to use minimum supported kube version for CEL compilation validation
  control-plane-operator/controllers/hostedcontrolplane/kas/auth.go
  control-plane-operator/featuregates/featuregates.go
  support/validations/authentication.go
Labels: area/control-plane-operator

byooidc: add support for specifying uid and extra claim mappings
  api/go.mod
  api/go.sum
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/vendor/github.com/openshift/api/config/v1/types_authentication.go
  api/vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  api/vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  api/vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  api/vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  api/vendor/modules.txt
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/controllers/hostedcontrolplane/kas/auth.go
  control-plane-operator/controllers/hostedcontrolplane/kas/auth_test.go
  control-plane-operator/featuregates/featuregates.go
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_authentication.go
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/machineconfiguration/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  vendor/modules.txt
Labels: area/hypershift-operator, area/control-plane-operator

supportedversion: add ocp-to-kube version mapping utilities
  support/supportedversion/version.go
Labels: none

CNTRLPLANE-740: Add DR for HCP using OADP and Hypershift plugin
  docs/Makefile
  docs/content/how-to/disaster-recovery/backup-and-restore-oadp-1-5.md
  docs/mkdocs.yml
Labels: none

kas: add bootstrap container for cluster-authentication-operator auth API bootstrapping
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Labels: area/control-plane-operator

kas: use OAuth enablement to influence admission plugin and bootstrap container configuration
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
Labels: area/control-plane-operator

fixup! update render script
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
Labels: area/control-plane-operator

Don't check if olm images exist if guest cluster
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs_test.go
Labels: area/control-plane-operator

Testing
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs_test.go
Labels: area/control-plane-operator

OCPBUGS-54483: Add support for registry root entry only in the IDMS/ICSP
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
Labels: none

Turn on CPOv2 by default
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  test/e2e/create_cluster_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator, area/control-plane-operator

Fix TestEventHandling unit test
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
Labels: area/control-plane-operator

ignore unused lint for all old cpov1 functions
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

Let shared-ingress controller watch routes
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  hypershift-operator/controllers/sharedingress/sharedingress_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

Add CPO image label to determine whether to run expired cert remediation
  Containerfile.control-plane
  Containerfile.operator
  Dockerfile
  Dockerfile.control-plane
  Dockerfile.dev
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

fixed replicas default for request serving components
  support/controlplane-component/defaults.go
  test/e2e/upgrade_hypershift_operator_test.go
Labels: none

Fix kubeconfig generation for CustomAdminKubeconfig secret
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kubeconfig.go
Labels: area/control-plane-operator

OCPBUGS-53261: Add validation to avoid conflicts between KubeAPIServer and NamedCertificates SANs
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/pki/konnectivity.go
  go.mod
  go.sum
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/validations/ocpapiserver.go
  hypershift-operator/controllers/hostedcluster/validations/ocpapiserver_test.go
  support/pki/kas.go
  support/pki/kas_test.go
  support/releaseinfo/providerwithregistryoverrides_mock.go
  test/util/pki.go
  test/util/pki_test.go
  vendor/go.uber.org/mock/AUTHORS
  vendor/go.uber.org/mock/LICENSE
  vendor/go.uber.org/mock/gomock/call.go
  vendor/go.uber.org/mock/gomock/callset.go
  vendor/go.uber.org/mock/gomock/controller.go
  vendor/go.uber.org/mock/gomock/doc.go
  vendor/go.uber.org/mock/gomock/matchers.go
  vendor/modules.txt
Labels: area/hypershift-operator, area/control-plane-operator

fix(konflux): bump golang-builder to 1.23.6
  Containerfile.control-plane
  Containerfile.operator
Labels: none

fix(konflux): Remove main branch pipelines
  .tekton/hypershift-operator-main-tag.yaml
Labels: none

Add version check flag for CLI and Hypershift Operator
  cmd/cluster/core/create.go
Labels: none

Pass platforms installed as env var to HO
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
Labels: none

Update KASv2 structured authentication configuration
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/auth.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/auth_test.go
Labels: area/control-plane-operator

fix operator konflux build
  Containerfile.operator
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
