Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

feat(capi): Add conversion webhooks for v1beta1/v1beta2
  cmd/install/assets/assets.go
  cmd/install/install.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  support/api/scheme.go
Labels: area/hypershift-operator

build(deps): override CAPI CRD storage version to v1beta1
  cmd/install/assets/assets.go
Labels: none

fix: update scale-from-zero test for CAPI 1.11 native capacity
  test/e2e/autoscaling_test.go
Labels: none

fix(machineset): don't explicitly set the MinReadySeconds default
  hypershift-operator/controllers/nodepool/capi.go
Labels: area/hypershift-operator

fix(capi): remove hardcoded image overrides
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
Labels: area/hypershift-operator

fix: add --self-signed-webhook-certs for non-OpenShift clusters
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  cmd/install/install_test.go
  test/integration/framework/install.go
Labels: none

fix(conversion): give capi-provider access to CRDs
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

fix: update CAPI import path in version.go for CAPI 1.11
  hypershift-operator/controllers/nodepool/version.go
  hypershift-operator/controllers/nodepool/version_test.go
Labels: area/hypershift-operator

fix(api): extend kubeapilinter scope to all non-vendor API types
  api/.golangci.yml
Labels: area/hypershift-operator

fix(azure): remove duplicate test function declarations
  cmd/infra/azure/destroy_test.go
Labels: none

fix(api): address kube-api-linter violations for GCP types
  api/.golangci.yml
  api/hypershift/v1beta1/gcp.go
  api/hypershift/v1beta1/gcpprivateserviceconnect_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/gcpprivateserviceconnects.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  client/applyconfiguration/hypershift/v1beta1/gcpnodeserviceaccount.go
  client/applyconfiguration/hypershift/v1beta1/gcpserviceaccountsemails.go
  cmd/cluster/gcp/create.go
  cmd/cluster/gcp/create_test.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/gcpprivateserviceconnects-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/gcpprivateserviceconnects-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_test.go
  hypershift-operator/controllers/nodepool/gcp.go
  hypershift-operator/controllers/nodepool/gcp_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcpprivateserviceconnect_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator

fix(api): address review feedback for GCP types
  api/hypershift/v1beta1/gcp.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp.go
Labels: area/hypershift-operator

fix(api): audit and improve GCP API validation rules
  api/hypershift/v1beta1/gcp.go
  api/hypershift/v1beta1/gcpprivateserviceconnect_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/gcpprivateserviceconnects.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  client/applyconfiguration/hypershift/v1beta1/gcpnodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/gcpprivateserviceconnectspec.go
  client/applyconfiguration/hypershift/v1beta1/gcpresourcereference.go
  cmd/cluster/gcp/create.go
  cmd/cluster/gcp/create_test.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/gcpprivateserviceconnects-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/gcpprivateserviceconnects-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/controllers/gcpprivateserviceconnect/dns.go
  control-plane-operator/controllers/gcpprivateserviceconnect/psc_endpoint_controller.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/gcp/config.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp.go
  hypershift-operator/controllers/nodepool/gcp.go
  hypershift-operator/controllers/nodepool/gcp_test.go
  hypershift-operator/controllers/platform/gcp/privateserviceconnect_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcpprivateserviceconnect_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(api): address review feedback for MetadataOptions API types
  api/karpenter/v1beta1/karpenter_types.go
  api/karpenter/v1beta1/util.go
  api/karpenter/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/karpenter/v1beta1/metadataoptions.go
  karpenter-operator/controllers/karpenter/assets/karpenter.hypershift.openshift.io_openshiftec2nodeclasses.yaml
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller_test.go
  test/e2e/karpenter_test.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/karpenter_types.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/util.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator

feat(karpenter): expose MetadataOptions on OpenshiftEC2NodeClass
  api/karpenter/v1beta1/karpenter_types.go
  api/karpenter/v1beta1/util.go
  api/karpenter/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/karpenter/v1beta1/metadataoptions.go
  client/applyconfiguration/karpenter/v1beta1/openshiftec2nodeclassspec.go
  client/applyconfiguration/utils.go
  karpenter-operator/controllers/karpenter/assets/karpenter.hypershift.openshift.io_openshiftec2nodeclasses.yaml
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller_test.go
  test/e2e/karpenter_test.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/karpenter_types.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/util.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator

feat(capi): Add conversion webhooks for v1beta1/v1beta2
  cmd/install/assets/assets.go
  cmd/install/install.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  support/api/scheme.go
Labels: area/hypershift-operator

build(deps): override CAPI CRD storage version to v1beta1
  cmd/install/assets/assets.go
Labels: none

fix: update scale-from-zero test for CAPI 1.11 native capacity
  test/e2e/autoscaling_test.go
Labels: none

fix(capi): remove hardcoded image overrides
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
Labels: area/hypershift-operator

fix(machineset): don't explicitly set the MinReadySeconds default
  hypershift-operator/controllers/nodepool/capi.go
Labels: area/hypershift-operator

fix(conversion): give capi-provider access to CRDs
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

control-plane-operator/controllers/hostedcontrolplane/v2/cvo: Consume include.release.openshift.io/bootstrap-cluster-version-operator annotation
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-version-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
Labels: area/control-plane-operator

fix(api): replace CEL url() validators with regex to fix CRD cost budget
  api/hypershift/v1beta1/etcdbackup_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hcpetcdbackups.hypershift.openshift.io/HCPEtcdBackup.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPEtcdBackup.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/HCPEtcdBackup.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hcpetcdbackups-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hcpetcdbackups-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/etcdbackup_types.go
Labels: area/hypershift-operator

control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator: Regenerate
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/AROSwift/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/GCP/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
Labels: area/control-plane-operator

fix(api): use semantic enum values for MetadataOptions fields
  api/karpenter/v1beta1/karpenter_types.go
  api/karpenter/v1beta1/util.go
  client/applyconfiguration/karpenter/v1beta1/metadataoptions.go
  karpenter-operator/controllers/karpenter/assets/karpenter.hypershift.openshift.io_openshiftec2nodeclasses.yaml
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller_test.go
  test/e2e/karpenter_test.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/karpenter_types.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/util.go
Labels: area/hypershift-operator

Fix: testing
  etcd-backup/etcdbackup_test.go
Labels: none

fix(test): create SQS queue dynamically in spot termination handler e2e test
  test/e2e/nodepool_spot_termination_handler_test.go
Labels: none

chore: Disable parent ownership for api subdir
  OWNERS
  api/OWNERS
Labels: area/hypershift-operator

feat(cpo): add fetch-etcd-certs subcommand for HCPEtcdBackup Job
  Dockerfile.dev
  control-plane-operator/main.go
  etcd-backup/fetchcerts.go
  etcd-backup/fetchcerts_test.go
Labels: area/control-plane-operator

fix(nodepool): preserve ignition-reached annotation on token secret after restore
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
Labels: area/hypershift-operator

feat(cvo): add TLS cipher suites and minimum version flags
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/AROSwift/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/GCP/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
Labels: area/control-plane-operator

feat(autnode): use arbitrary subnets from karpenter ec2nodeclass
  hypershift-operator/controllers/platform/aws/controller.go
  hypershift-operator/controllers/platform/aws/controller_test.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller_test.go
  support/karpenter/karpenter.go
  test/e2e/karpenter_test.go
  test/e2e/util/aws.go
Labels: area/hypershift-operator

fix(karpenter): force-remove karpenter finalizer when guest KAS is down
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/karpenter.go
  hypershift-operator/controllers/hostedcluster/karpenter_test.go
  karpenter-operator/controllers/karpenter/karpenter_controller.go
  karpenter-operator/controllers/karpenter/karpenter_controller_test.go
  support/karpenter/karpenter.go
Labels: area/hypershift-operator

fix(cpo): Don't remove HCP Ingress from routes when CapabilityRoute is disabled
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
Labels: area/control-plane-operator

fix(api): address PR review feedback for GCP types
  api/.golangci.yml
  api/hypershift/v1beta1/gcp.go
  api/hypershift/v1beta1/gcpprivateserviceconnect_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/gcpprivateserviceconnects.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  client/applyconfiguration/hypershift/v1beta1/gcpnodepoolplatform.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/gcpprivateserviceconnects-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/gcpprivateserviceconnects-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/gcp.go
  hypershift-operator/controllers/nodepool/gcp_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcpprivateserviceconnect_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator

fix(api): fix endpointIP validation conflict
  api/hypershift/v1beta1/gcpprivateserviceconnect_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/gcpprivateserviceconnects.hypershift.openshift.io/GCPPlatform.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/gcpprivateserviceconnects-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/gcpprivateserviceconnects-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcpprivateserviceconnect_types.go
Labels: area/hypershift-operator

CNTRLPLANE-2684: Add etcd-upload CPO subcommand
  control-plane-operator/main.go
  etcd-upload/azure_uploader.go
  etcd-upload/azure_uploader_test.go
  etcd-upload/etcdupload.go
  etcd-upload/etcdupload_test.go
  etcd-upload/s3_uploader.go
  etcd-upload/s3_uploader_test.go
  etcd-upload/uploader.go
  test/integration/oadp/cli/backup_cli_test.go
  test/integration/oadp/cli/restore_cli_test.go
  test/integration/oadp/cli/schedule_cli_test.go
  test/integration/oadp/cli/utils.go
Labels: area/control-plane-operator

CNTRLPLANE-2684: Add OADP integration test structure for etcd-upload
  .gitignore
  test/integration/oadp/cli/backup_cli_test.go
  test/integration/oadp/cli/restore_cli_test.go
  test/integration/oadp/cli/schedule_cli_test.go
  test/integration/oadp/cli/utils.go
  test/integration/oadp/run.sh
  test/integration/oadp/upload/.env.example
  test/integration/oadp/upload/upload_test.go
Labels: none

chore(owners): add cblecker to core-reviewers and core-approvers
  OWNERS_ALIASES
Labels: none

fix(CNTRLPLANE-2203): remove temporary upgrade exclusion for ControlPlaneConnectionAvailable
  test/e2e/util/util.go
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
