Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

fix(control-plane-operator): discover AWS worker subnet topology
  control-plane-operator/controllers/awsmachinetopology/controller.go
  control-plane-operator/controllers/awsmachinetopology/controller_test.go
  control-plane-operator/main.go
Labels: area/control-plane-operator

docs: explain scheduling metadata for scale-from-zero autoscaling
  docs/content/how-to/autoscaling.md
  docs/content/reference/aggregated-docs.md
Labels: none

test(e2e): promote ingress and Azure OAuth checks
  test/e2e/v2/tests/hosted_cluster_azure_test.go
  test/e2e/v2/tests/hosted_cluster_ingress_test.go
Labels: none

feat(nodepool): implement predictable rollout control and migration handling
  api/hypershift/v1beta1/nodepool_conditions.go
  cmd/cluster/agent/destroy_test.go
  cmd/cluster/kubevirt/destroy_test.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/nodepool-rollout-state-machine.md
  docs/mkdocs.yml
  hypershift-operator/controllers/nodepool/annotation_seeding_test.go
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/conditions_test.go
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_test.go
  hypershift-operator/controllers/nodepool/mid_flight_rollout_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/rollout_test.go
  hypershift-operator/controllers/nodepool/secret_janitor.go
  hypershift-operator/controllers/nodepool/secret_janitor_test.go
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller_test.go
  test/e2e/v2/tests/nodepool_lifecycle_test.go
  test/e2e/v2/tests/nodepool_rollout_control_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_conditions.go
Labels: area/hypershift-operator

refactor(hcco): extract global configuration ownership
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/README.md
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/adapters.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/global.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/global_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/image_policy.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/image_policy_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/inputs.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/inputs_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/install.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/install_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/observed.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/observed_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/proxy.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/proxy_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/review_configuration_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/test_helpers_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/foundation_order_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

chore(deps): update registry.access.redhat.com/ubi9/ubi-minimal docker tag to v9.8-1791279563
  Containerfile.control-plane
Labels: none

fix(nodepool): rebuild CAPI selectors deterministically on reconcile
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
Labels: area/hypershift-operator

fix(nodepool): rebuild CAPI selectors deterministically on reconcile
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
Labels: area/hypershift-operator

fix(nodepool): rebuild CAPI selectors deterministically on reconcile
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
Labels: area/hypershift-operator

fix(nodepool): rebuild CAPI selectors deterministically on reconcile
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
Labels: area/hypershift-operator

fix(azure): check VMRunning condition for CAPZ VM deletion failures
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure_test.go
Labels: area/hypershift-operator

fix(api): add parent-level CEL rules preventing infraID and clusterID removal
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPEtcdBackup.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
Labels: area/hypershift-operator

chore(api): regenerate CRDs, vendor, and validation test suite
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPEtcdBackup.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.validation.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

fix(api): add parent-level CEL rules preventing infraID and clusterID removal
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
Labels: area/hypershift-operator

chore(api): regenerate CRDs, vendor, and validation test suite
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.validation.testsuite.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

fix(api): add parent-level CEL rules preventing infraID and clusterID removal
  api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

chore(api): regenerate CRDs, vendor, and validation test suite
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.validation.testsuite.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

fix(nodepool): NO-JIRA | fix data race in TestReconcileSelectorDropsStaleLabels
  hypershift-operator/controllers/nodepool/capi_test.go
Labels: area/hypershift-operator

fix(olm): authorize control plane metrics scraping via client certificate
  control-plane-operator/controllers/hostedcontrolplane/testdata/catalog-operator/AROSwift/zz_fixture_TestControlPlaneComponents_catalog_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/catalog-operator/EtcdRestore/zz_fixture_TestControlPlaneComponents_catalog_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/catalog-operator/GCP/zz_fixture_TestControlPlaneComponents_catalog_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/catalog-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_catalog_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/catalog-operator/ModernTLS/zz_fixture_TestControlPlaneComponents_catalog_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/catalog-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_catalog_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/catalog-operator/zz_fixture_TestControlPlaneComponents_catalog_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/olm-operator/AROSwift/zz_fixture_TestControlPlaneComponents_olm_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/olm-operator/EtcdRestore/zz_fixture_TestControlPlaneComponents_olm_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/olm-operator/GCP/zz_fixture_TestControlPlaneComponents_olm_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/olm-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_olm_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/olm-operator/ModernTLS/zz_fixture_TestControlPlaneComponents_olm_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/olm-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_olm_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/olm-operator/zz_fixture_TestControlPlaneComponents_olm_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/catalog-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/olm-operator/deployment.yaml
Labels: area/control-plane-operator

fix(karpenter): defer HCP lifecycle to standalone operator
  karpenter-operator/controllers/karpenter/karpenter_controller.go
  karpenter-operator/controllers/karpenter/karpenter_controller_test.go
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller.go
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller_test.go
  karpenter-operator/crd_wait.go
  karpenter-operator/main.go
Labels: none

fix(azure): collect and validate worker diagnostics without Run Command
  cmd/consolelogs/azure/api_journals.go
  cmd/consolelogs/azure/api_journals_test.go
  cmd/consolelogs/azure/collection_test.go
  cmd/consolelogs/azure/getlogs.go
  cmd/consolelogs/azure/getlogs_test.go
  cmd/consolelogs/azure/journals.go
  cmd/consolelogs/azure/journals_test.go
  cmd/consolelogs/azure/report.go
  cmd/consolelogs/azure/report_test.go
  docs/content/how-to/ci/v2-testing/ci-pipeline.md
  docs/content/reference/aggregated-docs.md
  hack/tools/hypershiftlinter/analyzers/e2eutilallowlist/e2eutilallowlist.go
  hack/tools/hypershiftlinter/analyzers/e2eutilallowlist/e2eutilallowlist_test.go
  test/e2e/create_cluster_test.go
  test/e2e/util/dump/azure_diagnostics_test.go
  test/e2e/util/dump/azure_validation.go
  test/e2e/util/dump/azure_validation_test.go
  test/e2e/util/dump/dump.go
  test/e2e/util/fixture.go
  test/e2e/util/options.go
  test/e2e/util/options_test.go
  test/e2e/v2/cmd/dump-guests/main.go
  test/e2e/v2/cmd/dump-guests/main_test.go
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/lifecycle/azure_test.go
  test/e2e/v2/tests/azure_diagnostics_bootstrap_test.go
  test/e2e/v2/tests/azure_machine_diagnostics_test.go
Labels: none

feat(cpov2): add WithGatedPreconditions to gate rollout on HCP conditions
  api/hypershift/v1beta1/controlplanecomponent_types.go
  support/controlplane-component/README.md
  support/controlplane-component/builder.go
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/precondition_test.go
  support/controlplane-component/status.go
  support/controlplane-component/status_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/controlplanecomponent_types.go
Labels: area/hypershift-operator

feat(api): add initialKMSKeyARN field for StorageClass KMS encryption
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/operator.go
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.csidriveroperator.testsuite.yaml
Labels: area/hypershift-operator

test(e2e): add e2ev2 StorageClass KMS encryption test
  test/e2e/v2/lifecycle/aws.go
  test/e2e/v2/lifecycle/aws_test.go
  test/e2e/v2/tests/hosted_cluster_storage_kms_test.go
Labels: none

feat(kms): propagate initialKMSKeyARN to hosted cluster ClusterCSIDriver
  cmd/cluster/aws/create.go
  cmd/cluster/aws/create_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/component_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/storage/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/storage/reconcile_test.go
  docs/content/how-to/aws/storageclass-kms-encryption.md
  docs/mkdocs.yml
  product-cli/cmd/cluster/aws/create_test.go
Labels: area/control-plane-operator

feat(nodepool): roll out on trust bundle ConfigMap content changes
  docs/content/reference/aggregated-docs.md
  docs/content/reference/nodepool-rollouts.md
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/conditions_test.go
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_hash_migration_live_test.go
  hypershift-operator/controllers/nodepool/config_hash_version.go
  hypershift-operator/controllers/nodepool/config_hash_version_test.go
  hypershift-operator/controllers/nodepool/config_test.go
  hypershift-operator/controllers/nodepool/config_trustbundle_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/secret_janitor.go
  hypershift-operator/controllers/nodepool/secret_janitor_test.go
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
  ignition-server/controllers/cache.go
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller.go
  test/e2e/v2/tests/nodepool_lifecycle_test.go
Labels: area/hypershift-operator, area/control-plane-operator

fix: OCPBUGS-93456: change NodePortPublishingStrategy.Port from int32 to *int32
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service_test.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/service.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/service_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/service.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/service_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver_proxy/service.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver_proxy/service_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/network_policies_test.go
  test/e2e/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(nodepool): NO-JIRA | fix data race in TestReconcileSelectorDropsStaleLabels
  hypershift-operator/controllers/nodepool/capi_test.go
Labels: area/hypershift-operator

docs: correct August report attribution (CNTRLPLANE-4538)
  docs/content/blog/2026-08-progress-report.md
Labels: none

fix(e2e): ensure e2e v1 AWS OIDC providers are tagged with e2e metadata
  test/e2e/util/sharedoidc.go
  test/e2e/util/sharedoidc_test.go
Labels: none

fix(nodepool): NO-JIRA | fix data race in TestReconcileSelectorDropsStaleLabels
  hypershift-operator/controllers/nodepool/capi_test.go
Labels: area/hypershift-operator

fix(nodepool): NO-JIRA | fix data race in TestReconcileSelectorDropsStaleLabels
  hypershift-operator/controllers/nodepool/capi_test.go
Labels: area/hypershift-operator

feat(api): add typed client for IgnitionPayload (+genclient)
  api/hypershift/v1beta1/ignitionpayload_types.go
  client/clientset/clientset/typed/hypershift/v1beta1/fake/fake_hypershift_client.go
  client/clientset/clientset/typed/hypershift/v1beta1/fake/fake_ignitionpayload.go
  client/clientset/clientset/typed/hypershift/v1beta1/generated_expansion.go
  client/clientset/clientset/typed/hypershift/v1beta1/hypershift_client.go
  client/clientset/clientset/typed/hypershift/v1beta1/ignitionpayload.go
  client/informers/externalversions/generic.go
  client/informers/externalversions/hypershift/v1beta1/ignitionpayload.go
  client/informers/externalversions/hypershift/v1beta1/interface.go
  client/listers/hypershift/v1beta1/expansion_generated.go
  client/listers/hypershift/v1beta1/ignitionpayload.go
Labels: area/hypershift-operator

feat(ignition): add IgnitionPayloadSystem management feature gate
  hypershift-operator/featuregate/feature.go
  hypershift-operator/featuregate/feature_test.go
Labels: area/hypershift-operator

feat(api): add IgnitionPayload v1beta1 CRD
  api/hypershift/v1beta1/groupversion_info.go
  api/hypershift/v1beta1/ignitionpayload_types.go
  api/hypershift/v1beta1/ignitionpayload_types_test.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/ignitionpayloads.hypershift.openshift.io/AAA_ungated.yaml
  cmd/install/assets/crds/hypershift-operator/tests/ignitionpayloads.hypershift.openshift.io/stable.ignitionpayloads.validation.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/ignitionpayloads.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/groupversion_info.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/ignitionpayload_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Labels: area/hypershift-operator

feat(ignition): add PayloadStore interface with Secret and in-memory backends
  support/ignitionpayload/memstore.go
  support/ignitionpayload/memstore_test.go
  support/ignitionpayload/secretstore.go
  support/ignitionpayload/secretstore_test.go
  support/ignitionpayload/store.go
Labels: none

feat(api): gate the IgnitionPayload CRD behind IgnitionPayloadSystem
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/ignitionpayload_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/ignitionpayloads.hypershift.openshift.io/IgnitionPayloadSystem.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-Default.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-SelfManagedHA-Default.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  cmd/install/assets/crds/hypershift-operator/tests/ignitionpayloads.hypershift.openshift.io/techpreview.ignitionpayloads.validation.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/ignitionpayloads-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/ignitionpayloads-TechPreviewNoUpgrade.crd.yaml
Labels: area/hypershift-operator

fix(ignition): address final review (regen applyconfig/api-docs, drop unused genclient/mock/dead code)
  api/hypershift/v1beta1/ignitionpayload_types.go
  client/applyconfiguration/hypershift/v1beta1/configmapreference.go
  client/applyconfiguration/hypershift/v1beta1/ignitionpayload.go
  client/applyconfiguration/hypershift/v1beta1/ignitionpayloadspec.go
  client/applyconfiguration/hypershift/v1beta1/ignitionpayloadstatus.go
  client/applyconfiguration/hypershift/v1beta1/payloadreference.go
  client/applyconfiguration/utils.go
  control-plane-operator/controllers/hostedcontrolplane/imageprovider/imageprovider.go
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/manifests.go
  support/ignitionpayload/memstore.go
  support/ignitionpayload/secretstore.go
Labels: area/hypershift-operator, area/control-plane-operator

refactor(ignition): extract release pipeline deps into support/imageprovider and support/manifests
  control-plane-operator/controllers/hostedcontrolplane/common/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/imageprovider/imageprovider.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/azure.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/openstack.go
  hypershift-operator/controllers/nodepool/manifests.go
  ignition-server/cmd/start.go
  ignition-server/controllers/local_ignitionprovider.go
  support/imageprovider/imageprovider.go
  support/manifests/manifests.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(ignition): satisfy gci/testcasename lint and harden generation CEL test
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  cmd/install/assets/crds/hypershift-operator/tests/ignitionpayloads.hypershift.openshift.io/techpreview.ignitionpayloads.validation.testsuite.yaml
  docs/content/reference/aggregated-docs.md
  hypershift-operator/featuregate/feature_test.go
  support/ignitionpayload/secretstore.go
  support/ignitionpayload/secretstore_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/ignitionpayload_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Labels: area/hypershift-operator
