Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

fix(HO+CPO): Use HC annotation for override
  api/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/params.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/params.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/controllers/hostedcontrolplane/dnsoperator/dnsoperator.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/params.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/params.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/params.go
  control-plane-operator/controllers/hostedcontrolplane/olm/params.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/params.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/params.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

WIP: add CCM to HCP
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/namespaces.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

Validate etcd KMS config
  api/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/aws_kms.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/kas.go
  docs/content/reference/api.md
  support/awsutil/sts.go
  support/util/svcaccounts.go
Labels: area/hypershift-operator, area/control-plane-operator

Copy condition from hcp
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

OSD-15099: Delaying the creation of servicemonitor and podmonitor resources till the hostedcluster is Completed
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

Add PodMonitor for ingress-operator pods in HCP namespaces
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ingressoperator.go
Labels: area/control-plane-operator

Drop conversion webhook and v1alpha1 code
  api/scheme.go
  api/v1alpha1/capi_types.go
  api/v1alpha1/clusterconfig.go
  api/v1alpha1/conditions.go
  api/v1alpha1/doc.go
  api/v1alpha1/endpointservice_types.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/hosted_controlplane.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/nodepool_types.go
  api/v1alpha1/zz_conversion.go
  api/v1alpha1/zz_conversion_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/conversion.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_awsendpointservices.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/install/install.go
  cmd/util/client.go
  cmd/util/v1alpha1_wrapper.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/main.go
  support/api/scheme.go
  support/config/ownerref.go
  support/config/ownerref_test.go
  support/util/route.go
Labels: area/hypershift-operator

Add AWS cloud controller manager
  api/v1beta1/hostedcluster_types.go
  cmd/infra/aws/iam.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/namespaces.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  test/e2e/nodepool_test.go
  test/e2e/nodepool_upgrade_test.go
Labels: area/hypershift-operator, area/control-plane-operator

OCPBUGS-8381: Use appropriate serving certificate for OAuth
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/pki/oauth.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/oauth/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

HOSTEDCP-501: Added detailed documentation about Hypershift release process
  docs/content/contribute/release-process.md
Labels: none

HOSTEDCP-919: Clean up and API doc
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/manifests.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Labels: area/hypershift-operator, area/control-plane-operator

Ensure identity provider health check condition is persisted and remove awsendpoint control plane finalizer if invalid aws creds
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
Labels: area/hypershift-operator, area/control-plane-operator

E2E NodePool Upgrade Test refactored
  test/e2e/nodepool_test.go
  test/e2e/nodepool_upgrade_test.go
Labels: none

Ensure identity provider health check condition is persisted and remove awsendpoint control plane finalizer if invalid aws creds
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
Labels: area/hypershift-operator, area/control-plane-operator

HOSTEDCP-445: Documented the possible issues found during a HostedCluster migration
  docs/content/how-to/aws/disaster-recovery.md
  docs/content/how-to/aws/troubleshooting.md
  docs/mkdocs.yml
Labels: none

Modified AWSPrivateLinkController and AWSEndpointServiceController to respect PausedUntil spec field
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  hypershift-operator/controllers/platform/aws/controller.go
Labels: area/hypershift-operator, area/control-plane-operator

Modified AWSPrivateLinkController and AWSEndpointServiceController to respect PausedUntil spec field
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  hypershift-operator/controllers/platform/aws/controller.go
Labels: area/hypershift-operator, area/control-plane-operator

Appstudio update hypershift-azjx
  .tekton/hypershift-azjx-pull-request.yaml
  .tekton/hypershift-azjx-push.yaml
Labels: none

Force controleplane upgrade always
  test/e2e/control_plane_upgrade_test.go
Labels: none

HOSTEDCP-839: Audit log sidecars for openshift-apiserver and openshift-oauth-apiserver
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/auditcfg.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
Labels: area/control-plane-operator

Force controleplane upgrade always
  test/e2e/control_plane_upgrade_test.go
Labels: none

Force controleplane upgrade always
  test/e2e/control_plane_upgrade_test.go
Labels: none

This PR creates a second scheme, InstallScheme
  api/scheme.go
  cmd/install/install.go
Labels: area/hypershift-operator

Add support for external infra clusters in KubeVirt platform
  api/fixtures/example.go
  api/fixtures/example_kubevirt.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/hostedcluster_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/kubeconfig/create.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hack/ci/install-cnv.sh
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt.go
  hypershift-operator/controllers/manifests/manifests.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  support/upsert/upsert.go
  support/util/deployment.go
  test/e2e/e2e_test.go
  test/e2e/util/util.go
Labels: area/hypershift-operator, area/control-plane-operator

create external route for Private clusters
  api/fixtures/example.go
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/infra.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/route.go
  hack/app-sre/saas_template.yaml
  support/util/route.go
  test/e2e/util/oauth.go
Labels: area/hypershift-operator, area/control-plane-operator

Propagate AWSEndpointService conditions
  api/v1beta1/endpointservice_types.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

Post cherry-pick fixes
  api/fixtures/example.go
  api/fixtures/example_ibmcloud_powervs.go
  cmd/cluster/core/create.go
  cmd/cluster/powervs/create.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/hcpstatus/hcpstatus.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/powervs/powervs.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/powervs.go
  hypershift-operator/controllers/util/deployment.go
  hypershift-operator/metrics.go
  test/e2e/util/util.go
Labels: area/hypershift-operator, area/control-plane-operator

Switch NTO metrics auth to certs generated by HCP controller
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/pki/nto.go
Labels: area/control-plane-operator

OCPBUGS-8381: Use appropriate serving certificate for OAuth
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/pki/oauth.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/oauth/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

OCPBUGS-8381: Use appropriate serving certificate for OAuth
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/pki/oauth.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/oauth/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

HOSTEDCP-839: Audit log sidecars for openshift-apiserver and openshift-oauth-apiserver
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/auditcfg.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
Labels: area/control-plane-operator

HOSTEDCP-839: Audit log sidecars for openshift-apiserver and openshift-oauth-apiserver
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/auditcfg.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
Labels: area/control-plane-operator

Add validation for taint.value in nodePool
  api/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
Labels: area/hypershift-operator

HOSTEDCP-924: Exposing LastCompletedVersion as a new status.condition
  api/v1alpha1/conditions.go
  api/v1beta1/hostedcluster_conditions.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Add validation for taint.value in nodePool
  api/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
Labels: area/hypershift-operator

Add storage operators perms. to watch HostedControlPlane
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/assets/05_operator_role-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/assets/role.yaml
Labels: area/control-plane-operator

[release-4.13] Disable inplace upgrade e2e tests
  test/e2e/nodepool_test.go
  test/e2e/nodepool_upgrade_test.go
Labels: none

Add SLOs alert on CI
  Makefile
  cmd/install/assets/assets.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/slos/hypershift.yaml
  cmd/install/install.go
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
Labels: none

Revendor
  go.mod
  vendor/github.com/openshift/client-go/route/clientset/versioned/clientset.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/doc.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/scheme/doc.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/scheme/register.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/doc.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/generated_expansion.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/route.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/route_client.go
  vendor/github.com/openshift/library-go/test/library/metrics/query.go
  vendor/modules.txt
Labels: none

api/v1beta1/hostedcluster_types: Add channel, availableUpdates, and conditionalUpdates
  api/v1beta1/hosted_controlplane.go
  api/v1beta1/hostedcluster_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/hcpstatus/hcpstatus.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator, area/control-plane-operator
