Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

fix(capi-provider): use single replica deployment for aws and azure
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/capi-provider/deployment.yaml
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  hypershift-operator/controllers/hostedcluster/testdata/capi-provider/zz_fixture_TestReconcileComponents.yaml
  hypershift-operator/controllers/hostedcluster/testdata/capi-provider/zz_fixture_TestReconcileComponents_component.yaml
Labels: area/hypershift-operator, area/control-plane-operator

fix(security): harden konnectivity-agent DaemonSet security context
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
Labels: area/control-plane-operator

OCPBUGS-61203: Use the common konflux pipeline and update CLI dockerfile
  .tekton/hypershift-cli-mce-28-pull-request.yaml
  .tekton/hypershift-cli-mce-28-push.yaml
  .tekton/hypershift-release-mce-28-pull-request.yaml
  .tekton/hypershift-release-mce-28-push.yaml
  Containerfile.cli
Labels: none

fix(kas): disable PSA enforcement in 4.20
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/config.go
Labels: area/control-plane-operator

docs(contribute): remove HO/CPO branching process from release docs
  docs/content/contribute/release-process.md
Labels: none

kubevirt, operator: Implement secret-based ignition for KubeVirt machines
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/kubevirt.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/cluster-api-provider-kubevirt/infrastructure.cluster.x-k8s.io_kubevirtclustertemplates.yaml
  cmd/install/assets/cluster-api-provider-kubevirt/infrastructure.cluster.x-k8s.io_kubevirtmachines.yaml
  cmd/install/assets/cluster-api-provider-kubevirt/infrastructure.cluster.x-k8s.io_kubevirtmachinetemplates.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  cmd/nodepool/kubevirt/create.go
  docs/content/reference/api.md
  go.mod
  go.sum
  hypershift-operator/controllers/nodepool/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
  support/util/resources.go
  vendor/github.com/Azure/go-ansiterm/osc_string_state.go
  vendor/github.com/moby/term/term_unix.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/kubevirt.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api-provider-kubevirt/api/v1alpha1/kubevirtclustertemplate_types.go
  vendor/sigs.k8s.io/cluster-api-provider-kubevirt/api/v1alpha1/kubevirtmachine_types.go
  vendor/sigs.k8s.io/cluster-api-provider-kubevirt/api/v1alpha1/kubevirtmachinetemplate_types.go
  vendor/sigs.k8s.io/cluster-api-provider-kubevirt/api/v1alpha1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/kustomize/api/filters/replacement/replacement.go
  vendor/sigs.k8s.io/kustomize/api/internal/accumulator/resaccumulator.go
  vendor/sigs.k8s.io/kustomize/api/internal/builtins/HelmChartInflationGenerator.go
  vendor/sigs.k8s.io/kustomize/api/internal/builtins/NamespaceTransformer.go
  vendor/sigs.k8s.io/kustomize/api/internal/loader/fileloader.go
  vendor/sigs.k8s.io/kustomize/api/internal/loader/loader.go
  vendor/sigs.k8s.io/kustomize/api/internal/plugins/builtinconfig/transformerconfig.go
  vendor/sigs.k8s.io/kustomize/api/internal/plugins/execplugin/execplugin.go
  vendor/sigs.k8s.io/kustomize/api/internal/plugins/loader/loader.go
  vendor/sigs.k8s.io/kustomize/kyaml/filesys/filesystem.go
Labels: area/hypershift-operator

fix(OCPBUGS-56249): add golangci-lint dependency to lint-fix Makefile phony rule
  Makefile
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

ci: use common MCE konflux pipeline
  .tekton/hypershift-cli-mce-210-pull-request.yaml
  .tekton/hypershift-cli-mce-210-push.yaml
  .tekton/hypershift-release-mce-210-pull-request.yaml
  .tekton/hypershift-release-mce-210-push.yaml
  Containerfile.cli
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

docs(contribute): split OCP branching tasks from HO/CPO release process; update nav
  docs/content/contribute/branch-process.md
  docs/mkdocs.yml
Labels: none

control-plane-operator/omoperator/cmd_transform_deployment: impl
  control-plane-operator/omoperator/cmd_transform_deployment.go
  control-plane-operator/omoperator/cmd_transform_deployment_data/standalone-oauth-openshift.yaml
Labels: area/control-plane-operator

DELETE: simple script for running the deployment transformer binary locally
  run-oauth-transformer.sh
Labels: none

wire the deployment transformer binary into CPO
  control-plane-operator/omoperator/cmd.go
Labels: area/control-plane-operator

DELETE: simple script for running the binary locally and syncing the input-dir
  run-om.sh
Labels: none

fix(ignition-server): Don't delete user-managed cert secrets
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  support/controlplane-component/generic-adapter.go
Labels: area/control-plane-operator

test: Add missing check to TestReconcileIgnitionServer()
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
Labels: area/control-plane-operator

OCPBUGS-61860: Use the common MCE konflux pipeline
  .tekton/hypershift-cli-mce-26-pull-request.yaml
  .tekton/hypershift-cli-mce-26-push.yaml
  .tekton/hypershift-release-mce-26-pull-request.yaml
  .tekton/hypershift-release-mce-26-push.yaml
  Containerfile.cli
Labels: none

Implement Azure ResourceTags
  api/hypershift/v1beta1/azure.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/azurenodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/azureplatformspec.go
  client/applyconfiguration/hypershift/v1beta1/azureresourcetag.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
Labels: area/hypershift-operator

ci: Use the common MCE konflux pipeline
  .tekton/hypershift-cli-mce-210-pull-request.yaml
  .tekton/hypershift-cli-mce-210-push.yaml
  .tekton/hypershift-release-mce-210-pull-request.yaml
  .tekton/hypershift-release-mce-210-push.yaml
  Containerfile.cli
Labels: none

ci: Update the konflux pipeline for MCE 2.11
  .tekton/hypershift-cli-mce-210-pull-request.yaml
  .tekton/hypershift-cli-mce-210-push.yaml
  .tekton/hypershift-release-mce-210-pull-request.yaml
  .tekton/hypershift-release-mce-210-push.yaml
  Containerfile.cli
Labels: none

docs(ci): add documentation for checking CI status
  docs/content/how-to/ci/checking-ci.md
  docs/mkdocs.yml
Labels: none

fix(proxy): ensure URLs have scheme before proxy resolution
  konnectivity-https-proxy/cmd.go
  konnectivity-https-proxy/cmd_test.go
Labels: none

chore(KONFLUX-6210): fix and set name and cpe label for hypershift-cli-mce-29
  Containerfile.cli
Labels: none

chore(KONFLUX-6210): fix and set name and cpe label for hypershift-release-mce-29
  Containerfile.operator
Labels: none

fix(e2e-wait-for-rollout): wait for component rollout in all cases
  test/e2e/control_plane_upgrade_test.go
  test/e2e/util/util.go
Labels: none

refactor(azure): Extract Azure credentials setup into dedicated package
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/azure/azure.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/azure/azure_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

feat(api): Add Network workload identity to AzureWorkloadIdentities
  api/hypershift/v1beta1/azure.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/azureworkloadidentities.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator

feat(azure): Add control plane operator credentials for self-managed Azure
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/azure/azure.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/creds.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  hypershift-operator/controllers/manifests/azure.go
Labels: area/hypershift-operator, area/control-plane-operator

feat(cli,azure): add workload identities support and new flag for self-managed Azure
  cmd/cluster/azure/create.go
  cmd/infra/azure/create.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/azure/azure.go
  examples/workload-identities-example.json
Labels: area/control-plane-operator

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

test(e2e,kubevirt): skip break-glass-credentials on kubevirt
  test/integration/control_plane_pki_operator.go
Labels: none

test(e2e,kubevirt): ignore KubeVirtNodesLiveMigratable on HC
  test/e2e/util/util.go
Labels: none

fix(OCPBUGS-56249): add generate rule dependecy to lint-fix makefile rule
  Makefile
Labels: none

fix(ignition-server): resolve MIRRORED_RELEASE_IMAGE flapping
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/globalconfig/imagecontentsource.go
  support/releaseinfo/registry_image_content_policies.go
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
  support/util/util.go
  support/util/util_test.go
Labels: area/control-plane-operator

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

fix(OCPBUGS-61894): Enable VolumeAttributesClass runtime config
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/config.go
Labels: area/control-plane-operator

feat(ingress): add LoadBalancerSourceRanges support for external router services
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router_test.go
Labels: area/control-plane-operator

feat(aws): add ImageType field to nodepool api
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/nodepoolspec.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  support/releaseinfo/releaseinfo.go
  test/e2e/nodepool_imagetype_test.go
  test/e2e/nodepool_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: area/hypershift-operator

feat(aws): move ImageType field to AWS Platform
  api/hypershift/v1beta1/aws.go
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/awsnodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/nodepoolspec.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  test/e2e/nodepool_imagetype_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/aws.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: area/hypershift-operator
