Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

Add context to retrieveSupportedOCPVersion
  cmd/cluster/azure/create.go
  cmd/cluster/core/create.go
  cmd/cluster/core/create_test.go
  support/supportedversion/version.go
  support/supportedversion/version_test.go
  test/e2e/util/options.go
Labels: none

Add an OIDCProvider condition for client secret existence
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  support/globalconfig/authentication.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Labels: area/hypershift-operator, area/control-plane-operator

Revert "CNTRLPLANE-995: Support in-place update of AWS tags (#6285)"
  hypershift-operator/controllers/nodepool/agent.go
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  hypershift-operator/controllers/nodepool/azure.go
  hypershift-operator/controllers/nodepool/azure_test.go
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
  hypershift-operator/controllers/nodepool/kubevirt.go
  hypershift-operator/controllers/nodepool/openstack.go
  hypershift-operator/controllers/nodepool/powervs.go
  test/e2e/nodepool_autorepair_test.go
  test/e2e/nodepool_day2_tags_test.go
  test/e2e/nodepool_test.go
Labels: area/hypershift-operator

Initial Azure CI folder cleanup
  contrib/ci/Azure/Create Azure OpenShift Cluster/README.md
  contrib/ci/Azure/Create Azure OpenShift Cluster/hypershift-install-azure.yaml
Labels: none

Add README.md for Azure CI directory
  contrib/ci/Azure/README.md
Labels: none

Add instructions/script to delete DNS Zone Recordsets
  contrib/ci/Azure/Manage Azure Cloud Resources/Deleting-DNS-Zone-Recordsets.md
Labels: none

Set default security context on everything
  support/config/deployment.go
Labels: none

Fix TestReconcileFeatureGateGenerationJob
  control-plane-operator/controllers/hostedcontrolplane/fg/job_test.go
  control-plane-operator/controllers/hostedcontrolplane/fg/testdata/zz_fixture_TestReconcileFeatureGateGenerationJob.yaml
Labels: area/control-plane-operator

Test featuregate-generator with default security context
  control-plane-operator/controllers/hostedcontrolplane/fg/job_test.go
  control-plane-operator/controllers/hostedcontrolplane/fg/testdata/zz_fixture_TestReconcileFeatureGateGenerationJob_no_default_security_context.yaml
  control-plane-operator/controllers/hostedcontrolplane/fg/testdata/zz_fixture_TestReconcileFeatureGateGenerationJob_with_default_security_context.yaml
Labels: area/control-plane-operator

Don't set default security context on etcd
  support/controlplane-component/defaults.go
Labels: none

ignition service update, cpov2
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/service.go
Labels: area/control-plane-operator

HOSTEDCP-2253: doc/aws-autoNode: deployment guide
  docs/content/how-to/aws/create-aws-hosted-cluster-autonode.md
  docs/mkdocs.yml
Labels: none

Add cluster wide rbac for CSI resize functionality
  cmd/install/assets/hypershift_operator.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

run unit tests with UPDATE=true
  control-plane-operator/controllers/hostedcontrolplane/testdata/kubevirt-csi-controller/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kubevirt-csi-controller/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
Labels: area/control-plane-operator

Add resizer sidecar
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/controller.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kubevirt-csi-controller/deployment.yaml
Labels: area/control-plane-operator

add persistentvolumeclaims patch rbac
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/infra_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kubevirt-csi-controller/infra_role.yaml
Labels: area/control-plane-operator

fix unit tests by expecting allowvolumeexpansion
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt_test.go
Labels: area/control-plane-operator

add volume expansion to storageclass by default
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
Labels: area/control-plane-operator

add Azure managed (ARO) metric: hosted_cluster_managed_azure_info.
  hypershift-operator/controllers/hostedcluster/metrics/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics_test.go
Labels: area/hypershift-operator

add Azure metric: hosted_cluster_azure_info.
  hypershift-operator/controllers/hostedcluster/metrics/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics_test.go
Labels: area/hypershift-operator

Update manifest.go to use latest oc committed
  go.mod
  support/releaseinfo/registryclient/client.go
  support/thirdparty/oc/pkg/cli/image/manifest/README.md
  support/thirdparty/oc/pkg/cli/image/manifest/manifest.go
  support/util/imagemetadata.go
Labels: none

NO-JIRA: unique clusterrole per hosted cluster for kubevirt CSI
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

OCPBUGS-58031: AKS: HCP operator should set Shared ClusterServiceLoadBalancerHealthProbeMode
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/config.go
Labels: area/control-plane-operator

Update GetSupportedOCPVersions to take a ConfigMap
  cmd/version/version.go
  support/supportedversion/version.go
  support/supportedversion/version_test.go
Labels: none

Update fixtures
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-azure/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_azure_cloud_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-azure/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_azure_cloud_config_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-azure/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cloud_controller_manager_azure_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-azure/zz_fixture_TestControlPlaneComponents_azure_cloud_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-azure/zz_fixture_TestControlPlaneComponents_azure_cloud_config_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-azure/zz_fixture_TestControlPlaneComponents_cloud_controller_manager_azure_deployment.yaml
Labels: area/control-plane-operator

OCPBUGS-56430: Fix restarting prometheus Sts after HCP restoration
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/recovery/recovery.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

NO-JIRA: Add new doc from HCP OADP Plugin
  docs/content/how-to/disaster-recovery/backup-and-restore-oadp.md
Labels: none

Don't use /version for haproxy health checks
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/haproxy_test.go
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_IBM_cloud_platform_it_should_use_livez_as_liveness_probe_endpoint.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_IBMCloud_cluster_uses_livez_for_liveness_probe_endpoint.yaml
Labels: area/hypershift-operator

MULTIARCH-5544: Added CEL Validations for s390x Nodepool architecture
  api/hypershift/v1beta1/nodepool_types.go
Labels: area/hypershift-operator

Add controlPlaneUpToDate condition
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/conditions/conditions.go
  test/e2e/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Labels: area/hypershift-operator, area/control-plane-operator

MULTIARCH-5544: Added vendoe changes for CEL Validations for s390x Nodepool architecture
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: area/hypershift-operator

Update Dockerfiles to use the new 4.20 build image
  Dockerfile
  Dockerfile.dev
  Dockerfile.e2e
Labels: none

Bump go.mods to Golang 1.24.0
  api/go.mod
  go.mod
  hack/tools/go.mod
  hack/workspace/go.work
  vendor/modules.txt
Labels: area/hypershift-operator

Move version cli function to the top of the file
  cmd/version/version.go
Labels: none

Consilidate OCP version functionality to support
  availability-prober/availability_prober.go
  cmd/cluster/azure/create.go
  cmd/cluster/core/create.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  cmd/install/install_helm.go
  cmd/install/install_render.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/main.go
  control-plane-pki-operator/main.go
  etcd-defrag/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/supportedversion/reconciler.go
  hypershift-operator/controllers/supportedversion/reconciler_test.go
  hypershift-operator/main.go
  hypershift-operator/metrics.go
  ignition-server/cmd/start.go
  konnectivity-https-proxy/cmd.go
  konnectivity-socks5-proxy/main.go
  kubernetes-default-proxy/kubernetes_default_proxy.go
  main.go
  pkg/version/version.go
  product-cli/cmd/cluster/aws/create.go
  support/config/constants.go
  support/supportedversion/version.go
  test/e2e/util/options.go
  token-minter/tokenminter.go
Labels: area/hypershift-operator, area/control-plane-operator

Add a unit test for GetSupportedOCPVersions
  cmd/cluster/azure/create.go
  cmd/cluster/core/create.go
  cmd/version/version.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  support/supportedversion/version.go
  support/supportedversion/version_test.go
  test/e2e/util/options.go
Labels: area/hypershift-operator

Add a unit test for RetrieveSupportedOCPVersion
  support/supportedversion/version.go
  support/supportedversion/version_test.go
Labels: none

Initial creation of retrieveSupportedOCPVersion
  support/supportedversion/version.go
Labels: none

Clean up hypershift version command file
  cmd/version/version.go
Labels: none

Add context to retrieveSupportedOCPVersion
  cmd/cluster/azure/create.go
  cmd/cluster/core/create.go
  cmd/cluster/core/create_test.go
  support/supportedversion/version.go
  support/supportedversion/version_test.go
  test/e2e/util/options.go
Labels: none
