Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

Add unit tests for isResourceRegistered
  cmd/cluster/core/dump_test.go
Labels: none

Fix Hypershift Dump for Non-OpenShift Management Clusters
  cmd/cluster/core/dump.go
Labels: none

KubeVirtJsonPatchTest: fix vmi slice assignment
  test/e2e/nodepool_kv_jsonpatch_test.go
  test/e2e/nodepool_kv_nodeselector_test.go
  test/e2e/nodepool_test.go
Labels: none

manual cherry-pick 3994 for oauth audit log
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/oauth.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/assets.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/auditcfg.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/files/audit-policy.yaml
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/testdata/zz_fixture_TestReconcileOauthDeploymentNoChanges.yaml
Labels: area/control-plane-operator

Dump shareingress manifest
  cmd/cluster/core/dump.go
Labels: none

HOSTEDCP-1716: When running the HO locally it should no required a running pod
  HACKING.md
  Makefile
  docs/content/contribute/run-hypershift-operator-locally.md
  docs/content/contribute/run-locally.md
  docs/mkdocs.yml
  hack/dev/aws/hypershift-install-aws-dev.sh
  hack/dev/aws/run-operator-locally-aws-dev.sh
Labels: none

OCPBUGS-36629: Update Mkdocs, dependencies and dockerfile
  docs/Dockerfile
  docs/Makefile
  docs/mkdocs.yml
  docs/requirements.txt
Labels: none

HOSTEDCP-1795: Customize the self-generated cert validity
  Makefile
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/kas_pki_setup.go
  control-plane-operator/controllers/hostedcontrolplane/pki/aws_pod_identity_webhook.go
  control-plane-operator/controllers/hostedcontrolplane/pki/azure_disk_csi_driver_controller.go
  control-plane-operator/controllers/hostedcontrolplane/pki/azure_file_csi_driver_controller.go
  control-plane-operator/controllers/hostedcontrolplane/pki/cert.go
  control-plane-operator/controllers/hostedcontrolplane/pki/cert_test.go
  control-plane-operator/controllers/hostedcontrolplane/pki/csisnapshotcontroller.go
  control-plane-operator/controllers/hostedcontrolplane/pki/cvo.go
  control-plane-operator/controllers/hostedcontrolplane/pki/etcd.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ingress.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kcm.go
  control-plane-operator/controllers/hostedcontrolplane/pki/konnectivity.go
  control-plane-operator/controllers/hostedcontrolplane/pki/mcs.go
  control-plane-operator/controllers/hostedcontrolplane/pki/multus_admission_controller.go
  control-plane-operator/controllers/hostedcontrolplane/pki/network_node_identity.go
  control-plane-operator/controllers/hostedcontrolplane/pki/nto.go
  control-plane-operator/controllers/hostedcontrolplane/pki/oauth.go
  control-plane-operator/controllers/hostedcontrolplane/pki/oauth_test.go
  control-plane-operator/controllers/hostedcontrolplane/pki/olm.go
  control-plane-operator/controllers/hostedcontrolplane/pki/openshift.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ovn_control_plane_metrics.go
  control-plane-operator/controllers/hostedcontrolplane/pki/registryoperator.go
  control-plane-operator/controllers/hostedcontrolplane/pki/sa.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/ignitionserver/ignitionserver.go
  support/certs/tls.go
  support/certs/tls_test.go
Labels: area/hypershift-operator, area/control-plane-operator

Dump capz azure resources
  cmd/cluster/core/dump.go
Labels: none

Set Azure VM ident if user assigned identity set
  hypershift-operator/controllers/nodepool/azure.go
Labels: area/hypershift-operator

Remove Steve Kuznetsov from approvers/owners
  OWNERS
  control-plane-pki-operator/OWNERS
  test/integration/OWNERS
Labels: none

Ensure VolumeSnapshots are deleted during cloud resource cleanup
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

OCPBUGS-34820: Delete IDMS in dataplane once HCP ICS field is removed
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

Add net policy to allow ingress from sharedingress namespace
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/manifests/networkpolicy/manifests.go
Labels: area/hypershift-operator

Add HTTP(s) konnectivity proxy and use it with OpenShift APIServer
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/main.go
  go.mod
  go.sum
  konnectivity-https-proxy/cmd.go
  konnectivity-socks5-proxy/main.go
  support/konnectivityproxy/dialer.go
  support/konnectivityproxy/dialer_test.go
  support/konnectivityproxy/resolver.go
  support/proxy/no_proxy.go
  vendor/github.com/elazarl/goproxy/.gitignore
  vendor/github.com/elazarl/goproxy/LICENSE
  vendor/github.com/elazarl/goproxy/README.md
  vendor/github.com/elazarl/goproxy/actions.go
  vendor/github.com/elazarl/goproxy/all.bash
  vendor/github.com/elazarl/goproxy/ca.pem
  vendor/github.com/elazarl/goproxy/certs.go
  vendor/github.com/elazarl/goproxy/chunked.go
  vendor/github.com/elazarl/goproxy/counterecryptor.go
  vendor/github.com/elazarl/goproxy/ctx.go
  vendor/github.com/elazarl/goproxy/dispatcher.go
  vendor/github.com/elazarl/goproxy/doc.go
  vendor/github.com/elazarl/goproxy/https.go
  vendor/github.com/elazarl/goproxy/key.pem
  vendor/github.com/elazarl/goproxy/logger.go
  vendor/github.com/elazarl/goproxy/proxy.go
  vendor/github.com/elazarl/goproxy/responses.go
  vendor/github.com/elazarl/goproxy/signer.go
  vendor/github.com/elazarl/goproxy/websocket.go
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/LICENSE
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/certificates.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/flags.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/handlers.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/net.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/url.go
Labels: area/control-plane-operator

OCPBUGS-34820: Delete IDMS in dataplane once HCP ICS field is removed
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

util: make `shortenName` public
  support/util/route.go
  support/util/route_test.go
Labels: none

hypershift:performanceprofile: associate profile name with user input
  hypershift-operator/controllers/nodepool/manifests.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  test/e2e/nodepool_nto_performanceprofile_test.go
Labels: area/hypershift-operator

WIP: Add hc.Spec.Tolerations to the hostedcluster API
  api/hypershift/v1alpha1/hosted_controlplane.go
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1alpha1/hostedclusterspec.go
  client/applyconfiguration/hypershift/v1beta1/hostedclusterspec.go
  client/applyconfiguration/hypershift/v1beta1/hostedcontrolplanespec.go
  cmd/infra/aws/delegating_client.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  docs/content/reference/api.md
  go.work.sum
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/config/deployment.go
  support/config/deployment_test.go
Labels: area/hypershift-operator

CPO/registry-operator: add trusted-ca-bundle-managed to mounts
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
Labels: area/control-plane-operator

Set Azure VM ident if user assigned identity set
  hypershift-operator/controllers/nodepool/azure.go
Labels: area/hypershift-operator

fix(build): update to the fixed clamav image
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

hypershift:nodepoolcontroller: mirror containerruntime to HCP NS
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: area/hypershift-operator

vendor: import k8s.io/utils/set
  vendor/k8s.io/utils/set/OWNERS
  vendor/k8s.io/utils/set/ordered.go
  vendor/k8s.io/utils/set/set.go
  vendor/k8s.io/utils/set/set_go_1.20.go
  vendor/k8s.io/utils/set/set_go_1.21.go
  vendor/modules.txt
Labels: none

Default azure to run as managed-service=aro
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
Labels: area/hypershift-operator

Update catalog annotation based on an OCP version
  contrib/aks/create_basic_hosted_cluster.sh
Labels: none

use proxy-protocol-v2 for shared ingress
  hypershift-operator/controllers/nodepool/apiserver-haproxy/haproxy.cfg
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/haproxy_test.go
  hypershift-operator/controllers/nodepool/remote-kas-svc-haproxy/haproxy.cfg
  hypershift-operator/controllers/nodepool/remote-kas-svc-haproxy/remote-kas-svc-ip.service
  hypershift-operator/controllers/nodepool/remote-kas-svc-haproxy/setup-remote-kas-svc-ip.sh
  hypershift-operator/controllers/nodepool/remote-kas-svc-haproxy/teardown-remote-kas-svc-ip.sh
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_use_shared_router_it_should_create_two_haproxies.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_use_shared_router_it_should_use_proxy_protocol.yaml
  hypershift-operator/controllers/sharedingress/router.go
  hypershift-operator/controllers/sharedingress/router_config.template
  hypershift-operator/controllers/sharedingress/router_test.go
  hypershift-operator/controllers/sharedingress/sharedingress_controller.go
  hypershift-operator/controllers/sharedingress/testdata/zz_fixture_TestGenerateConfig_When_there_s_two_HostedClusters_with_all_their_Routes_and_SVCs_it_should_generate_the_config_with_frontends_and_backends_for_both.cfg
  support/testutil/testutil.go
Labels: area/hypershift-operator

OCPBUGS-33934: Add newline after TLS certs referenced by image.config
  hypershift-operator/init.go
  hypershift-operator/init_test.go
Labels: area/hypershift-operator

NO-JIRA: add ignition payload inspect docs
  docs/content/how-to/troubleshooting-general.md
Labels: none

OCPBUGS-36689: Omit the unused 0000_50_olm_06-psm-operator.service.yaml and 0000_50_olm_06-psm-operator.servicemonitor.yaml manifests as they're breaking Prometheus discovery
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
Labels: area/control-plane-operator

Revert "Add HTTP(s) konnectivity proxy and use it with OpenShift APIServer"
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/main.go
  go.mod
  go.sum
  konnectivity-https-proxy/cmd.go
  konnectivity-socks5-proxy/main.go
  support/konnectivityproxy/dialer.go
  support/konnectivityproxy/dialer_test.go
  support/konnectivityproxy/resolver.go
  support/proxy/no_proxy.go
  vendor/github.com/elazarl/goproxy/.gitignore
  vendor/github.com/elazarl/goproxy/LICENSE
  vendor/github.com/elazarl/goproxy/README.md
  vendor/github.com/elazarl/goproxy/actions.go
  vendor/github.com/elazarl/goproxy/all.bash
  vendor/github.com/elazarl/goproxy/ca.pem
  vendor/github.com/elazarl/goproxy/certs.go
  vendor/github.com/elazarl/goproxy/chunked.go
  vendor/github.com/elazarl/goproxy/counterecryptor.go
  vendor/github.com/elazarl/goproxy/ctx.go
  vendor/github.com/elazarl/goproxy/dispatcher.go
  vendor/github.com/elazarl/goproxy/doc.go
  vendor/github.com/elazarl/goproxy/https.go
  vendor/github.com/elazarl/goproxy/key.pem
  vendor/github.com/elazarl/goproxy/logger.go
  vendor/github.com/elazarl/goproxy/proxy.go
  vendor/github.com/elazarl/goproxy/responses.go
  vendor/github.com/elazarl/goproxy/signer.go
  vendor/github.com/elazarl/goproxy/websocket.go
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/LICENSE
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/certificates.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/flags.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/handlers.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/net.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/url.go
Labels: area/control-plane-operator

Fix name resolution for HTTPS konnectivity proxy
  support/konnectivityproxy/dialer.go
  support/konnectivityproxy/resolver.go
Labels: none

OCPBUGS-33934: Add newline after TLS certs referenced by image.config
  hypershift-operator/init.go
  hypershift-operator/init_test.go
Labels: area/hypershift-operator

HOSTEDCP-1795: Customize the self-generated cert validity (reduced version)
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/certs/tls.go
Labels: area/hypershift-operator

trivial typo fixes to configuring-storage.md
  docs/content/how-to/kubevirt/configuring-storage.md
Labels: none

Start to add OpenStack support
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1beta1/platformspec.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/config.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/params.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/openstack.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/conversion/conversion_test.go
  hypershift-operator/conversion/fuzz.go
  support/globalconfig/infrastructure.go
Labels: area/hypershift-operator, area/control-plane-operator

Run `make update`
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  hack/app-sre/saas_template.yaml
Labels: none

Run `make clients`
  client/applyconfiguration/hypershift/v1beta1/openstackplatformspec.go
Labels: none

OCPBUGS-35905: E2E test to verify openshift-apiserver TLS certificates
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

Vendor openstack dependency
  go.mod
  go.sum
  go.work.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api-provider-openstack/LICENSE
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1alpha1/conditions_consts.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1alpha1/doc.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1alpha1/groupversion_info.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1alpha1/openstackfloatingippool_types.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1alpha1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/conditions_consts.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/conversion.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/doc.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/groupversion_info.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/identity_types.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/openstackcluster_types.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/openstackclustertemplate_types.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/openstackmachine_types.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/openstackmachinetemplate_types.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/types.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/pkg/utils/optional/conversion.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/pkg/utils/optional/types.go
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
