Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

chore(deps): update module github.com/alecthomas/chroma/v2 to v2.22.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/alecthomas/chroma/v2/Dockerfile
  hack/tools/vendor/github.com/alecthomas/chroma/v2/README.md
  hack/tools/vendor/github.com/alecthomas/chroma/v2/formatters/html/html.go
  hack/tools/vendor/github.com/alecthomas/chroma/v2/iterator.go
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/bash.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/c3.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/core.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/css.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/d.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/devicetree.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/ini.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/kakoune.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/kdl.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/kotlin.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/lox.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/microcad.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/modelica.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/moonbit.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/python.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/rgbasm.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/ring.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/rpgle.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/txtpb.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/wat.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/lexers/embedded/zig.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/serialise.go
  hack/tools/vendor/github.com/alecthomas/chroma/v2/styles/ashen.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/styles/aura-theme-dark-soft.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/styles/aura-theme-dark.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/styles/github.xml
  hack/tools/vendor/github.com/alecthomas/chroma/v2/styles/tango.xml
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/cloudflare/circl to v1.6.2
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/cloudflare/circl/dh/x25519/curve_amd64.s
  hack/tools/vendor/github.com/cloudflare/circl/dh/x448/curve_amd64.s
  hack/tools/vendor/github.com/cloudflare/circl/ecc/goldilocks/curve.go
  hack/tools/vendor/github.com/cloudflare/circl/internal/conv/conv.go
  hack/tools/vendor/github.com/cloudflare/circl/internal/sha3/xor_unaligned.go
  hack/tools/vendor/github.com/cloudflare/circl/math/fp25519/fp_amd64.s
  hack/tools/vendor/github.com/cloudflare/circl/math/fp448/fp_amd64.s
  hack/tools/vendor/github.com/cloudflare/circl/math/integer.go
  hack/tools/vendor/github.com/cloudflare/circl/sign/ed25519/point.go
  hack/tools/vendor/github.com/cloudflare/circl/sign/ed448/ed448.go
  hack/tools/vendor/github.com/cloudflare/circl/sign/sign.go
  hack/tools/vendor/golang.org/x/crypto/cryptobyte/asn1.go
  hack/tools/vendor/golang.org/x/crypto/cryptobyte/asn1/asn1.go
  hack/tools/vendor/golang.org/x/crypto/cryptobyte/builder.go
  hack/tools/vendor/golang.org/x/crypto/cryptobyte/string.go
  hack/tools/vendor/modules.txt
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Labels: none

refactor(nodepool): address scale-from-zero review comments
  cmd/install/install.go
  cmd/install/install_test.go
  hypershift-operator/controllers/nodepool/instancetype/aws/provider.go
  hypershift-operator/controllers/nodepool/instancetype/aws/provider_test.go
  hypershift-operator/controllers/nodepool/instancetype/instancetype.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/scale_from_zero.go
  hypershift-operator/controllers/nodepool/scale_from_zero_test.go
  hypershift-operator/main.go
Labels: area/hypershift-operator

chore(deps): update google.golang.org/genproto/googleapis/api digest to 0a764e5
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  hack/tools/vendor/google.golang.org/protobuf/internal/encoding/tag/tag.go
  hack/tools/vendor/google.golang.org/protobuf/internal/encoding/text/decode.go
  hack/tools/vendor/google.golang.org/protobuf/internal/filedesc/desc.go
  hack/tools/vendor/google.golang.org/protobuf/internal/filedesc/desc_init.go
  hack/tools/vendor/google.golang.org/protobuf/internal/filedesc/desc_lazy.go
  hack/tools/vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  hack/tools/vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  hack/tools/vendor/google.golang.org/protobuf/internal/impl/codec_map.go
  hack/tools/vendor/google.golang.org/protobuf/internal/impl/decode.go
  hack/tools/vendor/google.golang.org/protobuf/internal/impl/validate.go
  hack/tools/vendor/google.golang.org/protobuf/internal/version/version.go
  hack/tools/vendor/google.golang.org/protobuf/proto/decode.go
  hack/tools/vendor/google.golang.org/protobuf/reflect/protodesc/desc.go
  hack/tools/vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  hack/tools/vendor/google.golang.org/protobuf/reflect/protodesc/editions.go
  hack/tools/vendor/google.golang.org/protobuf/reflect/protodesc/proto.go
  hack/tools/vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  hack/tools/vendor/google.golang.org/protobuf/types/known/timestamppb/timestamp.pb.go
  hack/tools/vendor/modules.txt
  vendor/modules.txt
Labels: none

chore(deps): update google.golang.org/genproto/googleapis/rpc digest to 0a764e5
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  hack/tools/vendor/google.golang.org/protobuf/internal/encoding/tag/tag.go
  hack/tools/vendor/google.golang.org/protobuf/internal/encoding/text/decode.go
  hack/tools/vendor/google.golang.org/protobuf/internal/filedesc/desc.go
  hack/tools/vendor/google.golang.org/protobuf/internal/filedesc/desc_init.go
  hack/tools/vendor/google.golang.org/protobuf/internal/filedesc/desc_lazy.go
  hack/tools/vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  hack/tools/vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  hack/tools/vendor/google.golang.org/protobuf/internal/impl/codec_map.go
  hack/tools/vendor/google.golang.org/protobuf/internal/impl/decode.go
  hack/tools/vendor/google.golang.org/protobuf/internal/impl/validate.go
  hack/tools/vendor/google.golang.org/protobuf/internal/version/version.go
  hack/tools/vendor/google.golang.org/protobuf/proto/decode.go
  hack/tools/vendor/google.golang.org/protobuf/reflect/protodesc/desc.go
  hack/tools/vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  hack/tools/vendor/google.golang.org/protobuf/reflect/protodesc/editions.go
  hack/tools/vendor/google.golang.org/protobuf/reflect/protodesc/proto.go
  hack/tools/vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  hack/tools/vendor/google.golang.org/protobuf/types/known/timestamppb/timestamp.pb.go
  hack/tools/vendor/modules.txt
  vendor/modules.txt
Labels: none

fix(sync-global-pullsecret): merge external auths while allowing HyperShift updates
  sync-global-pullsecret/sync-global-pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret_test.go
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

test: remove impossible condition checks for 0-replica stabilization
  test/e2e/nodepool_imagetype_test.go
Labels: none

test: don't expect ReachedIgnitionEndpoint=False for 0-replica NodePools
  support/conditions/conditions.go
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

fix: use stdlib slices.Contains instead of deprecated k8s.io/utils version
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/envreplace.go
Labels: area/control-plane-operator

chore(deps): remove unnecessary k8s.io/utils replace directive
  go.mod
  go.sum
  vendor/modules.txt
Labels: none

chore(deps): update vendored dependencies
  vendor/k8s.io/utils/strings/slices/slices.go
  vendor/modules.txt
Labels: none

chore(deps): update k8s.io/kube-openapi digest to 4e65d59
  api/go.mod
  api/go.sum
  api/vendor/k8s.io/kube-openapi/pkg/validation/spec/ref.go
  api/vendor/modules.txt
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/k8s.io/kube-openapi/cmd/openapi-gen/args/args.go
  hack/tools/vendor/k8s.io/kube-openapi/cmd/openapi-gen/openapi-gen.go
  hack/tools/vendor/k8s.io/kube-openapi/pkg/generators/config.go
  hack/tools/vendor/k8s.io/kube-openapi/pkg/generators/model_names.go
  hack/tools/vendor/k8s.io/kube-openapi/pkg/generators/openapi.go
  hack/tools/vendor/k8s.io/kube-openapi/pkg/util/util.go
  hack/tools/vendor/k8s.io/kube-openapi/pkg/validation/spec/ref.go
  hack/tools/vendor/k8s.io/kube-openapi/pkg/validation/strfmt/default.go
  hack/tools/vendor/k8s.io/kube-openapi/pkg/validation/strfmt/duration.go
  hack/tools/vendor/k8s.io/kube-openapi/pkg/validation/strfmt/time.go
  hack/tools/vendor/modules.txt
  vendor/k8s.io/kube-openapi/pkg/util/util.go
  vendor/k8s.io/kube-openapi/pkg/validation/spec/ref.go
  vendor/k8s.io/kube-openapi/pkg/validation/strfmt/default.go
  vendor/k8s.io/kube-openapi/pkg/validation/strfmt/duration.go
  vendor/k8s.io/kube-openapi/pkg/validation/strfmt/time.go
  vendor/modules.txt
Labels: area/hypershift-operator

chore(deps): update konflux references
  .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml
  .tekton/hypershift-gomaxprocs-webhook-push.yaml
  .tekton/hypershift-operator-main-tag.yaml
  .tekton/pipelines/common-operator-build.yaml
Labels: none

chore(deps): update sigs.k8s.io/json digest to 2d32026
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
  api/vendor/sigs.k8s.io/json/internal/golang/encoding/json/decode.go
  api/vendor/sigs.k8s.io/json/internal/golang/encoding/json/encode.go
  api/vendor/sigs.k8s.io/json/internal/golang/encoding/json/stream.go
  contrib/aws-tag-lb-service-webhook/go.mod
  contrib/aws-tag-lb-service-webhook/go.sum
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/modules.txt
  hack/tools/vendor/sigs.k8s.io/json/internal/golang/encoding/json/decode.go
  hack/tools/vendor/sigs.k8s.io/json/internal/golang/encoding/json/encode.go
  hack/tools/vendor/sigs.k8s.io/json/internal/golang/encoding/json/stream.go
  vendor/modules.txt
  vendor/sigs.k8s.io/json/internal/golang/encoding/json/decode.go
  vendor/sigs.k8s.io/json/internal/golang/encoding/json/encode.go
  vendor/sigs.k8s.io/json/internal/golang/encoding/json/stream.go
Labels: area/hypershift-operator

fix(deps): update github.com/openshift/hypershift/api digest to 81fe792
  go.mod
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/googleapis/enterprise-certificate-proxy to v0.3.9
  go.mod
  go.sum
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/grpc-ecosystem/go-grpc-middleware/v2 to v2.3.3
  go.mod
  go.sum
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/v2/interceptors/callmeta.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/v2/interceptors/client.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/v2/interceptors/reporter.go
  vendor/modules.txt
Labels: none

chore(deps): update module go.mongodb.org/mongo-driver to v1.17.6
  go.mod
  go.sum
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/default_value_decoders.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_writer.go
  vendor/go.mongodb.org/mongo-driver/bson/unmarshal.go
  vendor/modules.txt
Labels: none

chore(deps): update module go.yaml.in/yaml/v2 to v2.4.3
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/modules.txt
  vendor/modules.txt
Labels: area/hypershift-operator

chore(deps): update module google.golang.org/protobuf to v1.36.11
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  hack/tools/vendor/google.golang.org/protobuf/internal/encoding/tag/tag.go
  hack/tools/vendor/google.golang.org/protobuf/internal/encoding/text/decode.go
  hack/tools/vendor/google.golang.org/protobuf/internal/filedesc/desc.go
  hack/tools/vendor/google.golang.org/protobuf/internal/filedesc/desc_init.go
  hack/tools/vendor/google.golang.org/protobuf/internal/filedesc/desc_lazy.go
  hack/tools/vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  hack/tools/vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  hack/tools/vendor/google.golang.org/protobuf/internal/impl/codec_map.go
  hack/tools/vendor/google.golang.org/protobuf/internal/impl/decode.go
  hack/tools/vendor/google.golang.org/protobuf/internal/impl/validate.go
  hack/tools/vendor/google.golang.org/protobuf/internal/version/version.go
  hack/tools/vendor/google.golang.org/protobuf/proto/decode.go
  hack/tools/vendor/google.golang.org/protobuf/reflect/protodesc/desc.go
  hack/tools/vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  hack/tools/vendor/google.golang.org/protobuf/reflect/protodesc/editions.go
  hack/tools/vendor/google.golang.org/protobuf/reflect/protodesc/proto.go
  hack/tools/vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  hack/tools/vendor/google.golang.org/protobuf/types/known/timestamppb/timestamp.pb.go
  hack/tools/vendor/modules.txt
Labels: none

fix(deps): update module github.com/spf13/cobra to v1.10.2
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/spf13/cobra/.golangci.yml
  hack/tools/vendor/github.com/spf13/cobra/command.go
  hack/tools/vendor/modules.txt
  vendor/github.com/spf13/cobra/.golangci.yml
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/SECURITY.md
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/github.com/spf13/pflag/flag.go
  vendor/github.com/spf13/pflag/golangflag.go
  vendor/github.com/spf13/pflag/string_to_string.go
  vendor/github.com/spf13/pflag/time.go
  vendor/modules.txt
Labels: none

fix(deps): update module github.com/spf13/pflag to v1.0.10
  api/go.mod
  api/go.sum
  api/vendor/github.com/spf13/pflag/flag.go
  api/vendor/github.com/spf13/pflag/golangflag.go
  api/vendor/github.com/spf13/pflag/string_to_string.go
  api/vendor/github.com/spf13/pflag/time.go
  api/vendor/modules.txt
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  vendor/github.com/spf13/pflag/flag.go
  vendor/github.com/spf13/pflag/golangflag.go
  vendor/github.com/spf13/pflag/string_to_string.go
  vendor/github.com/spf13/pflag/time.go
  vendor/modules.txt
Labels: area/hypershift-operator

fix(deps): update module go.uber.org/zap to v1.27.1
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/go.uber.org/zap/.golangci.yml
  hack/tools/vendor/go.uber.org/zap/CHANGELOG.md
  hack/tools/vendor/go.uber.org/zap/CODE_OF_CONDUCT.md
  hack/tools/vendor/go.uber.org/zap/LICENSE
  hack/tools/vendor/go.uber.org/zap/Makefile
  hack/tools/vendor/go.uber.org/zap/field.go
  hack/tools/vendor/go.uber.org/zap/http_handler.go
  hack/tools/vendor/go.uber.org/zap/logger.go
  hack/tools/vendor/go.uber.org/zap/options.go
  hack/tools/vendor/go.uber.org/zap/sink.go
  hack/tools/vendor/go.uber.org/zap/zapcore/buffered_write_syncer.go
  hack/tools/vendor/go.uber.org/zap/zapcore/console_encoder.go
  hack/tools/vendor/go.uber.org/zap/zapcore/entry.go
  hack/tools/vendor/go.uber.org/zap/zapcore/lazy_with.go
  hack/tools/vendor/go.uber.org/zap/zapcore/level.go
  hack/tools/vendor/modules.txt
Labels: none

fix(deps): update module sigs.k8s.io/cluster-api-provider-azure to v1.21.1
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/internal/resource/resource_identifier.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/shared/constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/policy_api_version.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/poller.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/TROUBLESHOOTING.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/assets.json
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/azure_cli_credential.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/azure_developer_cli_credential.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/ci.yml
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/default_azure_credential.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/developer_credential_util.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/managed-identity-matrix.json
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/test-resources-post.ps1
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/test-resources.bicep
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/version.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/local/server.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/authority/authority.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/resolvers.go
  vendor/modules.txt
Labels: none

fix(deps): update module gopkg.in/ini.v1 to v1.67.1
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/gopkg.in/ini.v1/.golangci.yml
  hack/tools/vendor/gopkg.in/ini.v1/README.md
  hack/tools/vendor/gopkg.in/ini.v1/key.go
  hack/tools/vendor/gopkg.in/ini.v1/parser.go
  hack/tools/vendor/modules.txt
  vendor/gopkg.in/ini.v1/.golangci.yml
  vendor/gopkg.in/ini.v1/README.md
  vendor/gopkg.in/ini.v1/key.go
  vendor/gopkg.in/ini.v1/parser.go
  vendor/modules.txt
Labels: none

fix(deps): update module sigs.k8s.io/structured-merge-diff/v6 to v6.3.1
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
  api/vendor/sigs.k8s.io/structured-merge-diff/v6/schema/elements.go
  api/vendor/sigs.k8s.io/structured-merge-diff/v6/typed/remove.go
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/modules.txt
  hack/tools/vendor/sigs.k8s.io/structured-merge-diff/v6/schema/elements.go
  hack/tools/vendor/sigs.k8s.io/structured-merge-diff/v6/typed/remove.go
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v6/schema/elements.go
  vendor/sigs.k8s.io/structured-merge-diff/v6/typed/remove.go
Labels: area/hypershift-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
