Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

chore(deps): update module github.com/elliotchance/orderedmap to v1.8.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/elliotchance/orderedmap/README.md
  hack/tools/vendor/github.com/elliotchance/orderedmap/orderedmap.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/emicklei/go-restful/v3 to v3.13.0
  api/go.mod
  api/go.sum
  api/vendor/github.com/emicklei/go-restful/v3/.travis.yml
  api/vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  api/vendor/github.com/emicklei/go-restful/v3/README.md
  api/vendor/github.com/emicklei/go-restful/v3/curly.go
  api/vendor/github.com/emicklei/go-restful/v3/custom_verb.go
  api/vendor/github.com/emicklei/go-restful/v3/doc.go
  api/vendor/modules.txt
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/emicklei/go-restful/v3/.travis.yml
  hack/tools/vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  hack/tools/vendor/github.com/emicklei/go-restful/v3/README.md
  hack/tools/vendor/github.com/emicklei/go-restful/v3/compress.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/curly.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/custom_verb.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/doc.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/entity_accessors.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/json.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/jsoniter.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/jsr311.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/route.go
  hack/tools/vendor/modules.txt
  vendor/github.com/emicklei/go-restful/v3/.travis.yml
  vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  vendor/github.com/emicklei/go-restful/v3/README.md
  vendor/github.com/emicklei/go-restful/v3/curly.go
  vendor/github.com/emicklei/go-restful/v3/custom_verb.go
  vendor/github.com/emicklei/go-restful/v3/doc.go
  vendor/modules.txt
Labels: area/hypershift-operator

chore(deps): update module github.com/go-jose/go-jose/v4 to v4.1.3
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v4/CHANGELOG.md
  vendor/github.com/go-jose/go-jose/v4/README.md
  vendor/github.com/go-jose/go-jose/v4/crypter.go
  vendor/github.com/go-jose/go-jose/v4/jwe.go
  vendor/github.com/go-jose/go-jose/v4/jwk.go
  vendor/github.com/go-jose/go-jose/v4/jws.go
  vendor/github.com/go-jose/go-jose/v4/shared.go
  vendor/github.com/go-jose/go-jose/v4/signing.go
  vendor/github.com/go-jose/go-jose/v4/symmetric.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/go-viper/mapstructure/v2 to v2.4.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/go-viper/mapstructure/v2/.editorconfig
  hack/tools/vendor/github.com/go-viper/mapstructure/v2/.golangci.yaml
  hack/tools/vendor/github.com/go-viper/mapstructure/v2/README.md
  hack/tools/vendor/github.com/go-viper/mapstructure/v2/decode_hooks.go
  hack/tools/vendor/github.com/go-viper/mapstructure/v2/errors.go
  hack/tools/vendor/github.com/go-viper/mapstructure/v2/flake.lock
  hack/tools/vendor/github.com/go-viper/mapstructure/v2/flake.nix
  hack/tools/vendor/github.com/go-viper/mapstructure/v2/mapstructure.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/goccy/go-yaml to v1.18.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/goccy/go-yaml/.gitignore
  hack/tools/vendor/github.com/goccy/go-yaml/.golangci.yml
  hack/tools/vendor/github.com/goccy/go-yaml/Makefile
  hack/tools/vendor/github.com/goccy/go-yaml/README.md
  hack/tools/vendor/github.com/goccy/go-yaml/ast/ast.go
  hack/tools/vendor/github.com/goccy/go-yaml/context.go
  hack/tools/vendor/github.com/goccy/go-yaml/decode.go
  hack/tools/vendor/github.com/goccy/go-yaml/encode.go
  hack/tools/vendor/github.com/goccy/go-yaml/error.go
  hack/tools/vendor/github.com/goccy/go-yaml/internal/errors/error.go
  hack/tools/vendor/github.com/goccy/go-yaml/internal/format/format.go
  hack/tools/vendor/github.com/goccy/go-yaml/option.go
  hack/tools/vendor/github.com/goccy/go-yaml/parser/color.go
  hack/tools/vendor/github.com/goccy/go-yaml/parser/context.go
  hack/tools/vendor/github.com/goccy/go-yaml/parser/node.go
  hack/tools/vendor/github.com/goccy/go-yaml/parser/option.go
  hack/tools/vendor/github.com/goccy/go-yaml/parser/parser.go
  hack/tools/vendor/github.com/goccy/go-yaml/parser/token.go
  hack/tools/vendor/github.com/goccy/go-yaml/path.go
  hack/tools/vendor/github.com/goccy/go-yaml/printer/color.go
  hack/tools/vendor/github.com/goccy/go-yaml/printer/printer.go
  hack/tools/vendor/github.com/goccy/go-yaml/scanner/context.go
  hack/tools/vendor/github.com/goccy/go-yaml/scanner/error.go
  hack/tools/vendor/github.com/goccy/go-yaml/scanner/scanner.go
  hack/tools/vendor/github.com/goccy/go-yaml/stdlib_quote.go
  hack/tools/vendor/github.com/goccy/go-yaml/struct.go
  hack/tools/vendor/github.com/goccy/go-yaml/token/token.go
  hack/tools/vendor/github.com/goccy/go-yaml/yaml.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/golangci/misspell to v0.7.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/golangci/misspell/.golangci.yml
  hack/tools/vendor/github.com/golangci/misspell/CONTRIBUTING.md
  hack/tools/vendor/github.com/golangci/misspell/Makefile
  hack/tools/vendor/github.com/golangci/misspell/README.md
  hack/tools/vendor/github.com/golangci/misspell/ascii.go
  hack/tools/vendor/github.com/golangci/misspell/case.go
  hack/tools/vendor/github.com/golangci/misspell/install-misspell.sh
  hack/tools/vendor/github.com/golangci/misspell/legal.go
  hack/tools/vendor/github.com/golangci/misspell/replace.go
  hack/tools/vendor/github.com/golangci/misspell/stringreplacer.go
  hack/tools/vendor/github.com/golangci/misspell/words.go
  hack/tools/vendor/github.com/golangci/misspell/words_uk.go
  hack/tools/vendor/github.com/golangci/misspell/words_us.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/gophercloud/gophercloud/v2 to v2.8.0
  go.mod
  go.sum
  vendor/github.com/gophercloud/gophercloud/v2/CHANGELOG.md
  vendor/github.com/gophercloud/gophercloud/v2/Makefile
  vendor/github.com/gophercloud/gophercloud/v2/endpoint_search.go
  vendor/github.com/gophercloud/gophercloud/v2/provider_client.go
  vendor/github.com/gophercloud/gophercloud/v2/results.go
  vendor/github.com/gophercloud/gophercloud/v2/service_client.go
  vendor/modules.txt
Labels: none

refactor(hcco): extract cleanup failure tracking to CleanupTracker utility
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  support/util/cleanup_tracker.go
Labels: area/control-plane-operator

fix: hosted cluster CRD compatibility with ocp 4.15
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

Update OCP documentation links to latest versions
  docs/content/how-to/openstack/performance-tuning.md
Labels: none

chore(deps): update module github.com/gordonklaus/ineffassign to v0.2.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/gordonklaus/ineffassign/pkg/ineffassign/ineffassign.go
  hack/tools/vendor/golang.org/x/crypto/ssh/mlkem.go
  hack/tools/vendor/golang.org/x/sync/errgroup/errgroup.go
  hack/tools/vendor/golang.org/x/sys/cpu/cpu.go
  hack/tools/vendor/golang.org/x/sys/cpu/cpu_linux_riscv64.go
  hack/tools/vendor/golang.org/x/sys/cpu/cpu_riscv64.go
  hack/tools/vendor/golang.org/x/sys/windows/security_windows.go
  hack/tools/vendor/golang.org/x/sys/windows/syscall_windows.go
  hack/tools/vendor/golang.org/x/sys/windows/types_windows.go
  hack/tools/vendor/golang.org/x/sys/windows/zsyscall_windows.go
  hack/tools/vendor/golang.org/x/term/terminal.go
  hack/tools/vendor/golang.org/x/tools/go/analysis/passes/lostcancel/lostcancel.go
  hack/tools/vendor/golang.org/x/tools/go/analysis/passes/structtag/structtag.go
  hack/tools/vendor/golang.org/x/tools/go/analysis/passes/testinggoroutine/testinggoroutine.go
  hack/tools/vendor/golang.org/x/tools/go/analysis/passes/testinggoroutine/util.go
  hack/tools/vendor/golang.org/x/tools/go/analysis/passes/unreachable/unreachable.go
  hack/tools/vendor/golang.org/x/tools/go/ast/inspector/inspector.go
  hack/tools/vendor/golang.org/x/tools/go/ast/inspector/typeof.go
  hack/tools/vendor/golang.org/x/tools/go/packages/golist.go
  hack/tools/vendor/golang.org/x/tools/go/packages/packages.go
  hack/tools/vendor/golang.org/x/tools/go/types/typeutil/callee.go
  hack/tools/vendor/golang.org/x/tools/internal/analysisinternal/analysis.go
  hack/tools/vendor/golang.org/x/tools/internal/astutil/clone.go
  hack/tools/vendor/golang.org/x/tools/internal/astutil/comment.go
  hack/tools/vendor/golang.org/x/tools/internal/astutil/cursor/cursor.go
  hack/tools/vendor/golang.org/x/tools/internal/astutil/util.go
  hack/tools/vendor/golang.org/x/tools/internal/packagesinternal/packages.go
  hack/tools/vendor/golang.org/x/tools/internal/stdlib/deps.go
  hack/tools/vendor/golang.org/x/tools/internal/stdlib/manifest.go
  hack/tools/vendor/golang.org/x/tools/internal/stdlib/stdlib.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/grpc-ecosystem/go-grpc-middleware to v1.4.0
  go.mod
  go.sum
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/.travis.yml
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/CHANGELOG.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/README.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/chain.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/jgautheron/goconst to v1.8.2
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/jgautheron/goconst/.gitignore
  hack/tools/vendor/github.com/jgautheron/goconst/README.md
  hack/tools/vendor/github.com/jgautheron/goconst/api.go
  hack/tools/vendor/github.com/jgautheron/goconst/parser.go
  hack/tools/vendor/github.com/jgautheron/goconst/visitor.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/jonboulle/clockwork to v0.5.0
  go.mod
  go.sum
  vendor/github.com/jonboulle/clockwork/README.md
  vendor/github.com/jonboulle/clockwork/SECURITY.md
  vendor/github.com/jonboulle/clockwork/clockwork.go
  vendor/github.com/jonboulle/clockwork/context.go
  vendor/github.com/jonboulle/clockwork/ticker.go
  vendor/github.com/jonboulle/clockwork/timer.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/kevinburke/ssh_config to v1.4.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/kevinburke/ssh_config/.gitattributes
  hack/tools/vendor/github.com/kevinburke/ssh_config/AUTHORS.txt
  hack/tools/vendor/github.com/kevinburke/ssh_config/CHANGELOG.md
  hack/tools/vendor/github.com/kevinburke/ssh_config/Makefile
  hack/tools/vendor/github.com/kevinburke/ssh_config/README.md
  hack/tools/vendor/github.com/kevinburke/ssh_config/config.go
  hack/tools/vendor/github.com/kevinburke/ssh_config/parser.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/nunnatsa/ginkgolinter to v0.21.2
  hack/tools/go.mod
Labels: none

chore(deps): update module github.com/mailru/easyjson to v0.9.1
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/mailru/easyjson/jlexer/bytestostr.go
  hack/tools/vendor/github.com/mailru/easyjson/jlexer/lexer.go
  hack/tools/vendor/github.com/mailru/easyjson/jwriter/writer.go
  hack/tools/vendor/modules.txt
  vendor/modules.txt
Labels: area/hypershift-operator

Fix CEL validation rules for ovnKubernetesConfig check
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
Labels: area/hypershift-operator

chore(deps): update module github.com/masterminds/semver/v3 to v3.4.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/Masterminds/semver/v3/CHANGELOG.md
  hack/tools/vendor/github.com/Masterminds/semver/v3/README.md
  hack/tools/vendor/github.com/Masterminds/semver/v3/constraints.go
  hack/tools/vendor/github.com/Masterminds/semver/v3/version.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/macabu/inamedparam to v0.2.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/macabu/inamedparam/.golangci.yml
  hack/tools/vendor/github.com/macabu/inamedparam/README.md
  hack/tools/vendor/github.com/macabu/inamedparam/inamedparam.go
  hack/tools/vendor/modules.txt
Labels: none

Update test fixtures, make build, make test, make verify
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

chore(deps): update module github.com/onsi/ginkgo/v2 to v2.26.0
  api/go.mod
  api/go.sum
  api/vendor/golang.org/x/net/http2/http2.go
  api/vendor/google.golang.org/protobuf/encoding/protowire/wire.go
  api/vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  api/vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  api/vendor/google.golang.org/protobuf/internal/filedesc/presence.go
  api/vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  api/vendor/google.golang.org/protobuf/internal/impl/codec_message_opaque.go
  api/vendor/google.golang.org/protobuf/internal/impl/message_opaque.go
  api/vendor/google.golang.org/protobuf/internal/impl/presence.go
  api/vendor/google.golang.org/protobuf/internal/version/version.go
  api/vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  api/vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  api/vendor/modules.txt
Labels: area/hypershift-operator

chore(deps): update module github.com/opencontainers/selinux to v1.12.0
  go.mod
  go.sum
  vendor/github.com/opencontainers/selinux/go-selinux/selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/xattrs_linux.go
  vendor/github.com/opencontainers/selinux/pkg/pwalkdir/README.md
  vendor/github.com/opencontainers/selinux/pkg/pwalkdir/pwalkdir.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/russross/blackfriday to v2.1.0
  hack/tools/go.mod
Labels: none

chore(deps): update module github.com/polyfloyd/go-errorlint to v1.8.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/polyfloyd/go-errorlint/errorlint/analysis.go
  hack/tools/vendor/github.com/polyfloyd/go-errorlint/errorlint/lint.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/protonmail/go-crypto to v1.3.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/ProtonMail/go-crypto/internal/byteutil/byteutil.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/ocb/ocb.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/armor/encode.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/errors/errors.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/packet/aead_config.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/packet/aead_crypter.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/packet/aead_encrypted.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/packet/compressed.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/packet/config.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/packet/public_key.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/packet/signature.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/packet/symmetrically_encrypted_aead.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/read.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/write.go
  hack/tools/vendor/github.com/cloudflare/circl/dh/x25519/curve_amd64.s
  hack/tools/vendor/github.com/cloudflare/circl/dh/x448/curve_amd64.s
  hack/tools/vendor/github.com/cloudflare/circl/internal/conv/conv.go
  hack/tools/vendor/github.com/cloudflare/circl/math/fp25519/fp_amd64.s
  hack/tools/vendor/github.com/cloudflare/circl/math/fp448/fp_amd64.s
  hack/tools/vendor/github.com/cloudflare/circl/math/integer.go
  hack/tools/vendor/github.com/cloudflare/circl/sign/ed448/ed448.go
  hack/tools/vendor/github.com/cloudflare/circl/sign/sign.go
  hack/tools/vendor/golang.org/x/crypto/cryptobyte/asn1.go
  hack/tools/vendor/golang.org/x/crypto/cryptobyte/asn1/asn1.go
  hack/tools/vendor/golang.org/x/crypto/cryptobyte/builder.go
  hack/tools/vendor/golang.org/x/crypto/cryptobyte/string.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/sashamelentyev/usestdlibvars to v1.29.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/sashamelentyev/usestdlibvars/pkg/analyzer/analyzer.go
  hack/tools/vendor/github.com/sashamelentyev/usestdlibvars/pkg/analyzer/internal/mapping/mapping.go
  hack/tools/vendor/golang.org/x/crypto/ssh/mlkem.go
  hack/tools/vendor/golang.org/x/sync/errgroup/errgroup.go
  hack/tools/vendor/golang.org/x/sys/cpu/cpu.go
  hack/tools/vendor/golang.org/x/sys/cpu/cpu_linux_riscv64.go
  hack/tools/vendor/golang.org/x/sys/cpu/cpu_riscv64.go
  hack/tools/vendor/golang.org/x/sys/windows/security_windows.go
  hack/tools/vendor/golang.org/x/sys/windows/syscall_windows.go
  hack/tools/vendor/golang.org/x/sys/windows/types_windows.go
  hack/tools/vendor/golang.org/x/sys/windows/zsyscall_windows.go
  hack/tools/vendor/golang.org/x/term/terminal.go
  hack/tools/vendor/golang.org/x/tools/go/analysis/passes/lostcancel/lostcancel.go
  hack/tools/vendor/golang.org/x/tools/go/analysis/passes/structtag/structtag.go
  hack/tools/vendor/golang.org/x/tools/go/analysis/passes/testinggoroutine/testinggoroutine.go
  hack/tools/vendor/golang.org/x/tools/go/analysis/passes/testinggoroutine/util.go
  hack/tools/vendor/golang.org/x/tools/go/analysis/passes/unreachable/unreachable.go
  hack/tools/vendor/golang.org/x/tools/go/ast/inspector/inspector.go
  hack/tools/vendor/golang.org/x/tools/go/ast/inspector/typeof.go
  hack/tools/vendor/golang.org/x/tools/go/packages/golist.go
  hack/tools/vendor/golang.org/x/tools/go/packages/packages.go
  hack/tools/vendor/golang.org/x/tools/go/types/typeutil/callee.go
  hack/tools/vendor/golang.org/x/tools/internal/analysisinternal/analysis.go
  hack/tools/vendor/golang.org/x/tools/internal/astutil/clone.go
  hack/tools/vendor/golang.org/x/tools/internal/astutil/comment.go
  hack/tools/vendor/golang.org/x/tools/internal/astutil/cursor/cursor.go
  hack/tools/vendor/golang.org/x/tools/internal/astutil/util.go
  hack/tools/vendor/golang.org/x/tools/internal/packagesinternal/packages.go
  hack/tools/vendor/golang.org/x/tools/internal/stdlib/deps.go
  hack/tools/vendor/golang.org/x/tools/internal/stdlib/manifest.go
  hack/tools/vendor/golang.org/x/tools/internal/stdlib/stdlib.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/rogpeppe/go-internal to v1.14.1
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
Labels: area/hypershift-operator

chore(deps): update module github.com/sergi/go-diff to v1.4.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/sergi/go-diff/diffmatchpatch/diff.go
  hack/tools/vendor/github.com/sergi/go-diff/diffmatchpatch/index.go
  hack/tools/vendor/github.com/sergi/go-diff/diffmatchpatch/stringutil.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/sonatard/noctx to v0.4.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/sonatard/noctx/.golangci.yml
  hack/tools/vendor/github.com/sonatard/noctx/.goreleaser.yml
  hack/tools/vendor/github.com/sonatard/noctx/Makefile
  hack/tools/vendor/github.com/sonatard/noctx/README.md
  hack/tools/vendor/github.com/sonatard/noctx/ngfunc/main.go
  hack/tools/vendor/github.com/sonatard/noctx/ngfunc/report.go
  hack/tools/vendor/github.com/sonatard/noctx/noctx.go
  hack/tools/vendor/github.com/sonatard/noctx/reqwithoutctx/main.go
  hack/tools/vendor/github.com/sonatard/noctx/reqwithoutctx/report.go
  hack/tools/vendor/github.com/sonatard/noctx/reqwithoutctx/ssa.go
  hack/tools/vendor/github.com/sonatard/noctx/types.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/ryancurrah/gomodguard to v1.4.1
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/Masterminds/semver/v3/version.go
  hack/tools/vendor/github.com/ryancurrah/gomodguard/.golangci.yml
  hack/tools/vendor/github.com/ryancurrah/gomodguard/README.md
  hack/tools/vendor/github.com/ryancurrah/gomodguard/processor.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/subosito/gotenv to v1.6.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/subosito/gotenv/CHANGELOG.md
  hack/tools/vendor/github.com/subosito/gotenv/gotenv.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/spf13/cast to v1.10.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/spf13/cast/.editorconfig
  hack/tools/vendor/github.com/spf13/cast/.golangci.yaml
  hack/tools/vendor/github.com/spf13/cast/README.md
  hack/tools/vendor/github.com/spf13/cast/alias.go
  hack/tools/vendor/github.com/spf13/cast/basic.go
  hack/tools/vendor/github.com/spf13/cast/cast.go
  hack/tools/vendor/github.com/spf13/cast/caste.go
  hack/tools/vendor/github.com/spf13/cast/indirect.go
  hack/tools/vendor/github.com/spf13/cast/internal/time.go
  hack/tools/vendor/github.com/spf13/cast/internal/timeformattype_string.go
  hack/tools/vendor/github.com/spf13/cast/map.go
  hack/tools/vendor/github.com/spf13/cast/number.go
  hack/tools/vendor/github.com/spf13/cast/slice.go
  hack/tools/vendor/github.com/spf13/cast/time.go
  hack/tools/vendor/github.com/spf13/cast/timeformattype_string.go
  hack/tools/vendor/github.com/spf13/cast/zz_generated.go
  hack/tools/vendor/modules.txt
Labels: none

feat(konflux): add tooling for testing tag pipeline changes
  .claude/commands/test-tag-pipeline.md
  hack/tools/scripts/create-manual-tag-pipelinerun.sh
  hack/tools/scripts/create-snapshot-from-pipelinerun.sh
Labels: none

chore(deps): update module github.com/xen0n/gosmopolitan to v1.3.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/xen0n/gosmopolitan/.golangci.yml
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/timonwong/loggercheck to v0.11.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/timonwong/loggercheck/.golangci.yml
  hack/tools/vendor/github.com/timonwong/loggercheck/README.md
  hack/tools/vendor/github.com/timonwong/loggercheck/internal/checkers/printf/printf.go
  hack/tools/vendor/github.com/timonwong/loggercheck/internal/rules/rules.go
  hack/tools/vendor/github.com/timonwong/loggercheck/loggercheck.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/tomarrell/wrapcheck/v2 to v2.11.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/tomarrell/wrapcheck/v2/wrapcheck/wrapcheck.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/mattn/go-runewidth to v0.0.19
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/clipperhouse/uax29/v2/LICENSE
  hack/tools/vendor/github.com/clipperhouse/uax29/v2/graphemes/README.md
  hack/tools/vendor/github.com/clipperhouse/uax29/v2/graphemes/iterator.go
  hack/tools/vendor/github.com/clipperhouse/uax29/v2/graphemes/reader.go
  hack/tools/vendor/github.com/clipperhouse/uax29/v2/graphemes/splitfunc.go
  hack/tools/vendor/github.com/clipperhouse/uax29/v2/graphemes/trie.go
  hack/tools/vendor/github.com/clipperhouse/uax29/v2/internal/iterators/iterator.go
  hack/tools/vendor/github.com/mattn/go-runewidth/benchstat.txt
  hack/tools/vendor/github.com/mattn/go-runewidth/new.txt
  hack/tools/vendor/github.com/mattn/go-runewidth/old.txt
  hack/tools/vendor/github.com/mattn/go-runewidth/runewidth.go
  hack/tools/vendor/github.com/mattn/go-runewidth/runewidth_windows.go
  hack/tools/vendor/github.com/rivo/uniseg/README.md
  hack/tools/vendor/github.com/rivo/uniseg/doc.go
  hack/tools/vendor/github.com/rivo/uniseg/eastasianwidth.go
  hack/tools/vendor/github.com/rivo/uniseg/emojipresentation.go
  hack/tools/vendor/github.com/rivo/uniseg/gen_breaktest.go
  hack/tools/vendor/github.com/rivo/uniseg/gen_properties.go
  hack/tools/vendor/github.com/rivo/uniseg/grapheme.go
  hack/tools/vendor/github.com/rivo/uniseg/graphemeproperties.go
  hack/tools/vendor/github.com/rivo/uniseg/graphemerules.go
  hack/tools/vendor/github.com/rivo/uniseg/line.go
  hack/tools/vendor/github.com/rivo/uniseg/lineproperties.go
  hack/tools/vendor/github.com/rivo/uniseg/linerules.go
  hack/tools/vendor/github.com/rivo/uniseg/properties.go
  hack/tools/vendor/github.com/rivo/uniseg/sentence.go
  hack/tools/vendor/github.com/rivo/uniseg/sentenceproperties.go
  hack/tools/vendor/github.com/rivo/uniseg/sentencerules.go
  hack/tools/vendor/github.com/rivo/uniseg/step.go
  hack/tools/vendor/github.com/rivo/uniseg/width.go
  hack/tools/vendor/github.com/rivo/uniseg/word.go
  hack/tools/vendor/github.com/rivo/uniseg/wordproperties.go
  hack/tools/vendor/github.com/rivo/uniseg/wordrules.go
  hack/tools/vendor/modules.txt
Labels: none

feat(ai): add /process-renovate-pr slash command
  .claude/commands/process-renovate-pr.md
Labels: none
