Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

fix(e2e): Use mgmt cluster kubeconfig for CAPI migration test
  test/e2e/capi_storage_migration_test.go
Labels: none

fix(tekton): harden verify-tekton-pipeline-pairs.py per code review
  hack/verify-tekton-pipeline-pairs.py
  hack/verify-tekton-pipeline-pairs_test.py
Labels: none

fix(netutil): add nil guard and rename KasRouteHostname to KASRouteHostname
  control-plane-operator/controllers/hostedcontrolplane/infra/infra.go
  support/netutil/sharedingress.go
  support/netutil/sharedingress_test.go
Labels: area/control-plane-operator

fix(tekton): address PR review findings for pipeline CEL guards
  .tekton/control-plane-operator-main-pull-request-from-main.yaml
  .tekton/control-plane-operator-main-pull-request.yaml
  .tekton/control-plane-operator-main-push.yaml
  .tekton/hypershift-gh-actions-runner-pull-request-from-main.yaml
  .tekton/hypershift-gh-actions-runner-pull-request.yaml
  .tekton/hypershift-gomaxprocs-webhook-pull-request-from-main.yaml
  .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml
  .tekton/hypershift-operator-main-pull-request-from-main.yaml
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-shared-ingress-main-pull-request-from-main.yaml
  .tekton/hypershift-shared-ingress-main-pull-request.yaml
  Makefile
  hack/verify-tekton-pipeline-pairs.py
  hack/verify-tekton-pipeline-pairs_test.py
Labels: none

test(envtest): add CEL validation tests for AWS resource tag types
  cmd/install/assets/crds/hypershift-operator/tests/awsendpointservices.hypershift.openshift.io/stable.awsendpointservices.aws.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.aws.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.aws.testsuite.yaml
Labels: none

fix(nodepool): preserve machine versions during replace upgrades
  api/hypershift/v1beta1/nodepool_types.go
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/version.go
  hypershift-operator/controllers/nodepool/version_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: area/hypershift-operator

fix(azure): require capi-provider unavailability to be stale before orphaning
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure_test.go
Labels: area/hypershift-operator

fix(azure): deep-copy shared capi-provider Deployment fixtures in tests
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure_test.go
Labels: area/hypershift-operator

test(e2e): allow more time for control plane pod restarts
  test/e2e/v2/tests/control_plane_tls_operator_test.go
Labels: none

fix(azure): migrate HyperShift VM examples to Dsv5
  cmd/util/azure_flag_descriptions.go
  contrib/managed-azure/setup_aks_cluster.sh
  hypershift-operator/controllers/nodepool/instancetype/instancetype.go
Labels: area/hypershift-operator

test(azure): use Dsv5 VM sizes in test fixtures
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.autoscaling.testsuite.yaml
  hypershift-operator/controllers/nodepool/azure_test.go
  hypershift-operator/controllers/nodepool/instancetype/azure/provider_test.go
  hypershift-operator/controllers/nodepool/scale_from_zero_test.go
  test/e2e/nodepool_rolling_upgrade_test.go
  test/e2e/v2/tests/nodepool_lifecycle_test.go
Labels: area/hypershift-operator

docs(azure): update VM size examples to Dsv5
  docs/content/how-to/azure/autoscaling-self-managed.md
  docs/content/how-to/azure/create-azure-cluster-with-options.md
  docs/content/reference/aggregated-docs.md
Labels: none

test(e2e): select a replacement pod after TLS changes
  test/e2e/v2/tests/control_plane_tls_operator_test.go
  test/e2e/v2/tests/control_plane_tls_operator_unit_test.go
Labels: none

build: run lint and vet against all build tags
  .golangci.yml
  Makefile
Labels: none

fix: OCPBUGS-94251: improve CEL duration validation with overflow rejection
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.validation.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: area/hypershift-operator

fix: OCPBUGS-94251: Add CEL duration validation to NodePool drain/detach timeouts
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.validation.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: area/hypershift-operator

fix: OCPBUGS-94251: address review feedback from yuqi-zhang
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: area/hypershift-operator

feat(hack/tools): add hcpstatuspatch analyzer for HostedControlPlane status patches
  .golangci.yml
  hack/tools/hypershiftlinter/README.md
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/hcpstatuspatch.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/hcpstatuspatch_test.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/testdata/src/a/bad/bad.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/testdata/src/a/good/good.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/testdata/src/a/good/good_test.go
  hack/tools/hypershiftlinter/plugin.go
Labels: none

docs: add HostedControlPlane status patching guidance to AGENTS.md
  AGENTS.md
  control-plane-operator/AGENTS.md
Labels: area/control-plane-operator

fix(tekton): use venv Python for verify-tekton-pipeline-pairs
  Makefile
Labels: none

fix(konnectivity): enable --sync-forever to restore lost agent-server tunnels
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/AROSwift/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/GCP/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/IBMCloud/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/ModernTLS/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/konnectivity-agent/deployment.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile_test.go
Labels: area/control-plane-operator

feat(nodepool): validate upgrade type against known values
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: area/hypershift-operator

fix(konnectivity): enable --sync-forever to restore lost agent-server tunnels
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/AROSwift/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/GCP/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/IBMCloud/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/konnectivity-agent/deployment.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile_test.go
Labels: area/control-plane-operator

docs(backuprestore): remove VolumeSnapshotLocation setup from AWS and Agent sections
  test/e2e/v2/backuprestore/README.md
Labels: none

docs(backuprestore): clarify platform-specific steps and fix markdown lint
  test/e2e/v2/backuprestore/README.md
Labels: none

docs(backuprestore): update plugin image and remove unused MinIO variable
  test/e2e/v2/backuprestore/README.md
Labels: none

docs(backuprestore): add Agent and KubeVirt platform prerequisites
  test/e2e/v2/backuprestore/README.md
Labels: none

docs: update hypershift-oadp-plugin image in OADP documentation
  docs/content/how-to/disaster-recovery/backup-and-restore-oadp.md
  docs/content/reference/aggregated-docs.md
Labels: none

docs: remove snapshotLocations sections from DataProtectionApplication specs
  docs/content/how-to/disaster-recovery/backup-and-restore-oadp-1-5.md
  docs/content/how-to/disaster-recovery/backup-and-restore-oadp.md
  docs/content/how-to/disaster-recovery/platform-guides/agent.md
  docs/content/how-to/disaster-recovery/platform-guides/aws.md
  docs/content/how-to/disaster-recovery/platform-guides/kubevirt.md
  docs/content/how-to/disaster-recovery/platform-guides/openstack.md
  docs/content/reference/aggregated-docs.md
Labels: none

fix(support): add readiness probes to konnectivity proxy sidecars
  support/controlplane-component/konnectivity-container.go
  support/controlplane-component/konnectivity-container_test.go
Labels: none

fix(deps): Address CVE-2026-35469
  go.mod
  go.sum
  vendor/github.com/moby/spdystream/NOTICE
  vendor/github.com/moby/spdystream/connection.go
  vendor/github.com/moby/spdystream/spdy/LICENSE
  vendor/github.com/moby/spdystream/spdy/PATENTS
  vendor/github.com/moby/spdystream/spdy/dictionary.go
  vendor/github.com/moby/spdystream/spdy/options.go
  vendor/github.com/moby/spdystream/spdy/read.go
  vendor/github.com/moby/spdystream/spdy/types.go
  vendor/github.com/moby/spdystream/spdy/write.go
  vendor/modules.txt
Labels: none

fix(deps): Address CVE-2026-35469
  go.mod
  go.sum
  vendor/github.com/moby/spdystream/NOTICE
  vendor/github.com/moby/spdystream/connection.go
  vendor/github.com/moby/spdystream/spdy/LICENSE
  vendor/github.com/moby/spdystream/spdy/PATENTS
  vendor/github.com/moby/spdystream/spdy/dictionary.go
  vendor/github.com/moby/spdystream/spdy/options.go
  vendor/github.com/moby/spdystream/spdy/read.go
  vendor/github.com/moby/spdystream/spdy/types.go
  vendor/github.com/moby/spdystream/spdy/write.go
  vendor/modules.txt
Labels: none

fix(hack/tools): resolve hcpstatuspatch symbols by package path
  hack/tools/hypershiftlinter/README.md
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/hcpstatuspatch.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/hcpstatuspatch_test.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/testdata/src/a/bad/bad.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/testdata/src/a/good/good.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/testdata/src/a/good/good_test.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/testdata/src/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/testdata/src/sigs.k8s.io/controller-runtime/pkg/client/client.go
  hack/tools/hypershiftlinter/plugin.go
Labels: none

feat: hardcode ETCD_METRICS=extensive in etcd StatefulSet template
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/AROSwift/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/GCP/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/IBMCloud/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/statefulset.yaml
Labels: area/control-plane-operator

fix(kubevirt): validate additionalNetworks name format via CEL
  api/hypershift/v1beta1/kubevirt.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.kubevirt.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/kubevirt.go
Labels: area/hypershift-operator

fix(hack/tools): track reaching HCP status patch assignments
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/hcpstatuspatch.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/hcpstatuspatch_test.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/testdata/src/a/bad/bad.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/testdata/src/a/good/good.go
Labels: none

fix: add GCP to autoscaling min=0 validation in conditions.go
  hypershift-operator/controllers/nodepool/conditions.go
Labels: area/hypershift-operator

feat(install): bump external-dns to 1.3.5 and bundle DNSEndpoint CRD
  cmd/install/assets/crds/assets.go
  cmd/install/assets/crds/external-dns/dnsendpoints.externaldns.k8s.io.yaml
  cmd/install/install.go
  cmd/install/install_test.go
Labels: none

fix: update DNSEndpoint CRD to match external-dns 1.3.5 and remove redundant docs
  cmd/install/assets/crds/external-dns/dnsendpoints.externaldns.k8s.io.yaml
  docs/content/how-to/gcp/setup-management-cluster.md
Labels: none

test: add regression guard for external-dns CRD embed selection
  cmd/install/install_test.go
  docs/content/reference/aggregated-docs.md
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
