Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

refactor(backuprestore): simplify state checking and add BSL wait
  test/e2e/v2/backuprestore/velero.go
  test/e2e/v2/tests/backup_restore_test.go
Labels: none

docs: add test-agent.md for AI agent testing guidance
  test-agent.md
Labels: none

docs: add test-agent.md for multirepo workflow validation
  test-agent.md
Labels: none

fix(build): remove leading space from PULL_BASE_SHA when UPSTREAM_REMOTE is empty
  Makefile
Labels: none

fix(cpo): skip PodDisruptionBudgets for SingleReplica control planes
  support/controlplane-component/common.go
  support/controlplane-component/common_test.go
Labels: none

feat: label some hosted control plane services
  control-plane-operator/controllers/hostedcontrolplane/infra/infra_test.go
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_When_ARO_cluster_uses_Swift_with_private_topology__it_should_not_need_routers.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_When_ARO_cluster_uses_Swift_with_public_and_private_topology__it_should_use_shared_ingress.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_When_ARO_cluster_uses_shared_ingress_with_annotation_fallback__it_should_use_direct_hostname_without_routers.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_When_AWS_private_cluster_uses_KAS_LoadBalancer__it_should_configure_internal_router.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_When_AWS_private_cluster_uses_Route__it_should_configure_internal_router.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_When_AWS_public_and_private_cluster_uses_KAS_LoadBalancer__it_should_configure_internal_router_only.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_When_AWS_public_and_private_cluster_uses_Route__it_should_configure_both_routers.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_When_AWS_public_cluster_uses_KAS_LoadBalancer__it_should_not_need_external_router.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_When_AWS_public_cluster_uses_Route__it_should_configure_external_router.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_When_Azure_Private_cluster_has_Route_strategy_without_hostname__it_should_only_need_an_internal_router.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_When_Azure_private_cluster_uses_KAS_LoadBalancer__it_should_configure_internal_router.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_When_Azure_private_cluster_uses_OAuth_LoadBalancer__it_should_configure_internal_router.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_When_Azure_self_managed_cluster_has_KAS_Route_with_hostname__it_should_need_an_external_router.yaml
  control-plane-operator/controllers/hostedcontrolplane/manifests/infra.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/infra_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/AROSwift/zz_fixture_TestControlPlaneComponents_ignition_server_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/GCP/zz_fixture_TestControlPlaneComponents_ignition_server_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/IBMCloud/zz_fixture_TestControlPlaneComponents_ignition_server_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/ModernTLS/zz_fixture_TestControlPlaneComponents_ignition_server_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_ignition_server_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/zz_fixture_TestControlPlaneComponents_ignition_server_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ignition-server/service.yaml
Labels: area/control-plane-operator

test(cpo): seed PDB fields and tighten AdaptPodDisruptionBudget cases
  support/controlplane-component/common_test.go
Labels: none

fix(cli): make deleteCLISecrets non-fatal during cluster destroy
  cmd/cluster/core/destroy.go
  cmd/cluster/core/destroy_test.go
Labels: none

fix: make etcd PVC condition idempotent and platform-neutral
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
Labels: area/control-plane-operator

test(e2e): wait on v2 upgrade status
  test/e2e/v2/tests/control_plane_upgrade_test.go
Labels: none

fix(konnectivity): fallback to alternative DNS-resolved IPs on connection failure
  support/konnectivityproxy/dialer.go
  support/konnectivityproxy/dialer_test.go
  support/konnectivityproxy/resolver.go
  support/konnectivityproxy/resolver_test.go
Labels: none

ci: add Konflux MCE 5.1 pipelines for hypershift CLI and operator
  .tekton/hypershift-cli-mce-51-pull-request.yaml
  .tekton/hypershift-cli-mce-51-push.yaml
  .tekton/hypershift-release-mce-51-pull-request.yaml
  .tekton/hypershift-release-mce-51-push.yaml
Labels: none

ci: remove Konflux MCE 5.0 pipelines superseded by 5.1
  .tekton/hypershift-cli-mce-50-pull-request.yaml
  .tekton/hypershift-cli-mce-50-push.yaml
  .tekton/hypershift-release-mce-50-pull-request.yaml
  .tekton/hypershift-release-mce-50-push.yaml
  docs/content/how-to/ci/triage/presubmit-failures.md
Labels: none

fix(tekton): group mce-51 PR CEL path triggers under event gates
  .tekton/hypershift-cli-mce-51-pull-request.yaml
  .tekton/hypershift-release-mce-51-pull-request.yaml
Labels: none

docs: regenerate aggregated-docs after mce-51 konflux doc update
  docs/content/reference/aggregated-docs.md
Labels: none

docs(CNTRLPLANE-1831): restructure backup/restore disaster recovery documentation
  docs/content/how-to/aws/disaster-recovery.md
  docs/content/how-to/aws/etc-backup-restore.md
  docs/content/how-to/aws/troubleshooting/troubleshooting-disaster-recovery.md
  docs/content/how-to/azure/backup-and-restore-etcd-snapshot.md
  docs/content/how-to/azure/self-managed-azure-index.md
  docs/content/how-to/disaster-recovery/backup-and-restore-oadp-1-5.md
  docs/content/how-to/disaster-recovery/index.md
  docs/content/how-to/disaster-recovery/methods/etcd-snapshot/backup-flow.md
  docs/content/how-to/disaster-recovery/methods/etcd-snapshot/index.md
  docs/content/how-to/disaster-recovery/methods/etcd-snapshot/managed-services-credentials.md
  docs/content/how-to/disaster-recovery/methods/etcd-snapshot/restore-flow.md
  docs/content/how-to/disaster-recovery/methods/manual-etcd-backup.md
  docs/content/how-to/disaster-recovery/methods/oadp.md
  docs/content/how-to/disaster-recovery/platform-guides/agent.md
  docs/content/how-to/disaster-recovery/platform-guides/aws.md
  docs/content/how-to/disaster-recovery/platform-guides/azure.md
  docs/content/how-to/disaster-recovery/platform-guides/kubevirt.md
  docs/content/how-to/disaster-recovery/platform-guides/openstack.md
  docs/content/how-to/disaster-recovery/prerequisites.md
  docs/content/how-to/disaster-recovery/scenarios/cross-cluster-migration.md
  docs/content/how-to/disaster-recovery/scenarios/same-cluster-restore.md
  docs/content/how-to/disaster-recovery/troubleshooting.md
  docs/content/reference/aggregated-docs.md
  docs/mkdocs.yml
Labels: none

docs: fix pre-existing issues in etcd snapshot backup/restore docs
  docs/content/how-to/disaster-recovery/methods/etcd-snapshot/backup-flow.md
  docs/content/how-to/disaster-recovery/methods/etcd-snapshot/restore-flow.md
  docs/content/how-to/disaster-recovery/scenarios/cross-cluster-migration.md
  docs/content/how-to/disaster-recovery/troubleshooting.md
  docs/content/reference/aggregated-docs.md
Labels: none

fix(cli): scope forced NodePool cleanup
  cmd/cluster/core/destroy.go
  cmd/cluster/core/destroy_test.go
Labels: none

fix(control-plane-operator): ensure router component runs after route-creating components
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/AROSwift/zz_fixture_TestControlPlaneComponents_router_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/IBMCloud/zz_fixture_TestControlPlaneComponents_router_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_router_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/zz_fixture_TestControlPlaneComponents_router_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component_test.go
Labels: area/control-plane-operator

fix(control-plane-component): exclude ignition-server-proxy from implicit KAS dependency
  support/controlplane-component/status.go
Labels: none

fix(router): conditionally include oauth-internal in ARO route predicate
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component_test.go
Labels: area/control-plane-operator

fix(control-plane-operator): drop metrics-proxy from router WithDependencies
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/AROSwift/zz_fixture_TestControlPlaneComponents_router_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/IBMCloud/zz_fixture_TestControlPlaneComponents_router_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_router_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/zz_fixture_TestControlPlaneComponents_router_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component.go
Labels: area/control-plane-operator

fix(control-plane-component): exclude ignition-server from implicit KAS dependency
  support/controlplane-component/status.go
Labels: none

feat(e2e): Add HYPERSHIFT_AUTONODE_ONLY to allow running only Karpenter tests
  test/e2e/v2/lifecycle/aws.go
Labels: none

fix(azure): orphan AzureMachines when capi-provider cannot run
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure_test.go
Labels: area/hypershift-operator

test(azure): cover capi-provider Deployment lookup failure
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure_test.go
Labels: area/hypershift-operator

fix(managed-azure): continue resource group cleanup when HC destroy fails
  contrib/managed-azure/delete_hosted_cluster.sh
Labels: none

fix(azure): skip KMS validation for private Key Vaults on ARO HCP
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  support/conditions/conditions.go
  support/conditions/conditions_test.go
Labels: area/control-plane-operator

feat(ignition-server-proxy): harden read permissions
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/AROSwift/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/GCP/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/IBMCloud/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/ModernTLS/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ignition-server-proxy/deployment.yaml
Labels: area/control-plane-operator

feat(ignition-server-proxy): inject centralized TLS configuration
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/AROSwift/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/AROSwift/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/GCP/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/GCP/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/IBMCloud/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/IBMCloud/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/ModernTLS/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/ModernTLS/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver_proxy/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver_proxy/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver_proxy/deployment_test.go
Labels: area/control-plane-operator

feat(ignition-server): inject centralized TLS configuration
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/AROSwift/zz_fixture_TestControlPlaneComponents_ignition_server_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/GCP/zz_fixture_TestControlPlaneComponents_ignition_server_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/IBMCloud/zz_fixture_TestControlPlaneComponents_ignition_server_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/ModernTLS/zz_fixture_TestControlPlaneComponents_ignition_server_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_ignition_server_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/zz_fixture_TestControlPlaneComponents_ignition_server_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/deployment.go
  ignition-server/cmd/start.go
Labels: area/control-plane-operator

feat(ignition-server-proxy): mount haproxy-config.yaml through a configmap
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/AROSwift/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/AROSwift/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/AROSwift/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/GCP/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/GCP/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/GCP/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/IBMCloud/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/IBMCloud/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/IBMCloud/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/ModernTLS/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/ModernTLS/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/ModernTLS/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ignition-server-proxy/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ignition-server-proxy/haproxy-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver_proxy/component.go
Labels: area/control-plane-operator

docs(CNTRLPLANE-1831): address review feedback on DR documentation
  docs/content/how-to/disaster-recovery/index.md
  docs/content/how-to/disaster-recovery/platform-guides/agent.md
  docs/content/how-to/disaster-recovery/platform-guides/azure.md
  docs/content/how-to/disaster-recovery/platform-guides/kubevirt.md
  docs/content/how-to/disaster-recovery/platform-guides/openstack.md
  docs/content/how-to/disaster-recovery/scenarios/cross-cluster-migration.md
  docs/content/reference/aggregated-docs.md
Labels: none

test(CNTRLPLANE-4167): port scale-from-zero autoscaling test to v2 framework
  test/e2e/v2/tests/nodepool_autoscaling_test.go
Labels: none

fix(ci): report actionable cause when /rebase push hits workflow files
  .github/workflows/reusable-claude-on-pr.yaml
Labels: none

test(CNTRLPLANE-4167): address review feedback for scale-from-zero v2 test
  test/e2e/v2/tests/nodepool_autoscaling_test.go
Labels: none

fix: adapt cherry-picked changes for release-4.20
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component_test.go
Labels: area/control-plane-operator

fix(tekton): decouple Konflux PR pipelines from common pipeline sync
  .tekton/control-plane-operator-main-pull-request-from-main.yaml
  .tekton/hypershift-gh-actions-runner-pull-request-from-main.yaml
  .tekton/hypershift-gomaxprocs-webhook-pull-request-from-main.yaml
  .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml
  .tekton/hypershift-operator-main-pull-request-from-main.yaml
  .tekton/hypershift-shared-ingress-main-pull-request-from-main.yaml
  .tekton/hypershift-shared-ingress-main-pull-request.yaml
  Makefile
  hack/verify-tekton-pipeline-pairs.py
Labels: none

refactor: update consumers to import ExternalDNSLBPort and KasRouteHostname from support/netutil
  control-plane-operator/controllers/hostedcontrolplane/infra/infra.go
  control-plane-operator/controllers/hostedcontrolplane/kas/healthcheck.go
  control-plane-operator/controllers/hostedcontrolplane/kas/healthcheck_test.go
  hypershift-operator/controllers/sharedingress/router.go
  hypershift-operator/controllers/sharedingress/sharedingress_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

refactor(support): move ExternalDNSLBPort and KasRouteHostname to support/netutil
  support/netutil/sharedingress.go
  support/netutil/sharedingress_test.go
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
