Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

`make update` artifacts
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: none

include hostnetwork SCC CPO role for 4.13 and earlier, never for IBMCloud
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Support annotation scoping for hostedcluster resources
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  support/util/util.go
Labels: area/hypershift-operator

use dnsPolicy: Default for konnectivity-agent in data plane for all provider
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
Labels: area/control-plane-operator

differentiate behaviour based on IBMCloudProviderType
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

re-organize the code for better readability
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
Labels: area/control-plane-operator

Disable audit-log container when audit profile is None
  control-plane-operator/controllers/hostedcontrolplane/kas/auditcfg.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/auditcfg.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
Labels: area/control-plane-operator

Remove dependency on github.com/hashicorp/go-uuid
  cmd/infra/azure/create.go
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-uuid/.travis.yml
  vendor/github.com/hashicorp/go-uuid/LICENSE
  vendor/github.com/hashicorp/go-uuid/README.md
  vendor/github.com/hashicorp/go-uuid/uuid.go
  vendor/modules.txt
Labels: none

Remove CLI inspection of release image
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/cluster/core/create_test.go
  product-cli/cmd/cluster/cluster.go
Labels: none

NO-JIRA: remove ovnkube-control-plane from expected component token mount list
  test/e2e/util/util.go
Labels: none

update private cluster IAM policy
  docs/content/how-to/aws/deploy-aws-private-clusters.md
Labels: none

disable autoscaler when no nodepool require it
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator, area/control-plane-operator

chore(deps): update rhtap references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

chore(deps): update rhtap references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

chore(deps): update rhtap references
  .tekton/hypershift-release-mce-25-pull-request.yaml
  .tekton/hypershift-release-mce-25-push.yaml
Labels: none

Remove reconciliation for CPO ingress role setup
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Document additional known issues for the disconnected scenario
  docs/content/how-to/disconnected/known-issues.md
Labels: none

Set OPERATOR_IMAGE environment variable
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
Labels: area/control-plane-operator

[e2e test framework] Add a flag to add an annotation to HostedCluster
  test/e2e/e2e_test.go
Labels: none

chore(deps): update rhtap references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

chore(deps): update rhtap references
  .tekton/hypershift-release-mce-25-pull-request.yaml
  .tekton/hypershift-release-mce-25-push.yaml
Labels: none

remove dead code
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

OCPBUGS-29494: Fix disconnected metadata inspection
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
Labels: none

chore(deps): update rhtap references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

Reconcile serving cert secrets for services
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/azure_disk_csi_driver_controller.go
  control-plane-operator/controllers/hostedcontrolplane/pki/azure_file_csi_driver_controller.go
  control-plane-operator/controllers/hostedcontrolplane/pki/cert.go
  control-plane-operator/controllers/hostedcontrolplane/pki/cert_test.go
  control-plane-operator/controllers/hostedcontrolplane/pki/etcd.go
  control-plane-operator/controllers/hostedcontrolplane/pki/multus_admission_controller.go
  control-plane-operator/controllers/hostedcontrolplane/pki/network_node_identity.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ovn_control_plane_metrics.go
Labels: area/control-plane-operator

Reconcile auth reader for auth users in ARO HCP
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
Labels: none

Remove unused func causing verify issues
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Add AKS setup docs to contrib
  contrib/aks/setup_aks_cluster.sh
  contrib/aks/setup_external_dns.sh
  contrib/aks/setup_install_ho_on_aks.sh
Labels: none

Skip ImageStream deletion when its API is absent
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/capabilities/management_cluster_capabilities.go
Labels: area/control-plane-operator

Set CAConfigMap on CNO deployment
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Labels: area/control-plane-operator

Add doc for creating HC on AKS
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
  docs/mkdocs.yml
Labels: none

OCPBUGS-29391: Add new permission required in CAPA
  cmd/infra/aws/iam.go
Labels: none

OCPBUGS-29466: Fix ICSP and IDMS inclusion as registriesOverrides
  hypershift-operator/main.go
  support/globalconfig/imagecontentsource.go
  support/globalconfig/imagecontentsource_test.go
Labels: area/hypershift-operator

Update RHTAP references
  .tekton/hypershift-release-mce-25-pull-request.yaml
  .tekton/hypershift-release-mce-25-push.yaml
Labels: none

Update RHTAP references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

OCPBUGS-29466: Fix ICSP and IDMS inclusion as registriesOverrides
  hypershift-operator/main.go
  support/globalconfig/imagecontentsource.go
  support/globalconfig/imagecontentsource_test.go
Labels: area/hypershift-operator

chore(deps): update rhtap references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

Manual PR:3320 backport to 4.14
  api/fixtures/example.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/hostedcluster_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/deployments.go
  control-plane-operator/controllers/hostedcontrolplane/olm/services.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/olm.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  product-cli/cmd/cluster/cluster.go
Labels: area/hypershift-operator, area/control-plane-operator

Update RHTAP references
  .tekton/hypershift-release-mce-25-pull-request.yaml
  .tekton/hypershift-release-mce-25-push.yaml
Labels: none

Update RHTAP references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none
