Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

fix race between ignition payload generation and MCS configmap update
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/params.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  ignition-server/cmd/run_local_ignitionprovider.go
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/machineconfigserver_ignitionprovider.go
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
  support/metrics/sets.go
  support/util/util.go
Labels: area/hypershift-operator, area/control-plane-operator

Add etcd operator reconciliation
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/crd/assets/apiserver.openshift.io_etcdoperator-crd.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/crd/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/crd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

chore(deps): update rhtap references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

chore(deps): update rhtap references
  .tekton/hypershift-release-mce-25-pull-request.yaml
  .tekton/hypershift-release-mce-25-push.yaml
Labels: none

OSD-19085: Replaced hypershift_cluster_cores metric with hypershift_cluster_vcpus metric as the billing is per vCpu and not per core
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
Labels: area/hypershift-operator

Update RHTAP references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

use dnsPolicy: Default for konnectivity-agent in data plane for all provider
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
Labels: area/control-plane-operator

differentiate behaviour based on IBMCloudProviderType
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

disable http2 for ignition server and proxy
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  ignition-server/cmd/start.go
Labels: area/control-plane-operator

Fix docs commands related to Azure ephemeral OS disks
  docs/content/how-to/azure/create-azure-cluster-with-options.md
Labels: none

Enable mgmt kas network policy for Azure
  hypershift-operator/controllers/hostedcluster/network_policies.go
Labels: area/hypershift-operator

Code cleanup on network_policies.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
Labels: area/hypershift-operator

Set RUN_AS_USER if mgmt cluster doesn't have SCC
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/testdata/zz_fixture_TestReconcileOperatorDeployment.yaml
Labels: area/control-plane-operator

re-organize the code for better readability
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
Labels: area/control-plane-operator

differentiate behaviour based on IBMCloudProviderType
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

use dnsPolicy: Default for konnectivity-agent in data plane for all provider
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
Labels: area/control-plane-operator

api/v1beta1/hostedcluster_types: Add spec.updateService
  api/hypershift/v1alpha1/hosted_controlplane.go
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_types.go
  client/applyconfiguration/hypershift/v1alpha1/hostedclusterspec.go
  client/applyconfiguration/hypershift/v1beta1/hostedclusterspec.go
  client/applyconfiguration/hypershift/v1beta1/hostedcontrolplanespec.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator, area/control-plane-operator

kubevirt: Generate kccm lb endpointslices
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/cmca/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/drainer/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/hcpstatus/hcpstatus.go
  control-plane-operator/hostedclusterconfigoperator/controllers/inplaceupgrader/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/machine.go
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/machine_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/node/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/nodecount/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
Labels: area/control-plane-operator

HOSTEDCP-1322: NodeUpgradeType defaulted by provider
  api/fixtures/example.go
  cmd/cluster/cluster.go
  product-cli/cmd/cluster/cluster.go
  product-cli/cmd/nodepool/create.go
Labels: area/hypershift-operator

Add new permission required by CAPA
  cmd/infra/aws/iam.go
Labels: none

OCPBUGS-29391: Add new permission required in CAPA
  cmd/infra/aws/iam.go
Labels: none

Prevent hypershift install render --template and --outputs from being used together
  cmd/install/install_render.go
Labels: none

disable http2 for ignition server and proxy
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  ignition-server/cmd/start.go
Labels: area/control-plane-operator

inject built-in MCP selector for KubeletConfigs and ContainerRuntimeConfigs
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: area/hypershift-operator

nto: add events resources under operator `Role`
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
Labels: area/control-plane-operator

Preserve container resources for more hosted control plane components
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/packageserver.go
Labels: area/control-plane-operator

Added regression tests ensuring certain deployment fields do not get set.
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/deployment_test.go
Labels: area/control-plane-operator

update desired image even when HCP doesn't exist yet
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

bump capk ci image
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt.go
Labels: area/hypershift-operator

disable http2 for ignition server and proxy
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  ignition-server/cmd/start.go
Labels: area/control-plane-operator

Revert "Remove '--attach-default-network' from productized cli"
  product-cli/cmd/cluster/kubevirt/create.go
Labels: none

Support annotation scoping for hostedcluster resources
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  support/util/util.go
Labels: area/hypershift-operator

use PDB MinAvailable for SR and MaxUnavailable for HA
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kas/pdb.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/pdb.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/pdb.go
  support/util/pdb.go
Labels: area/control-plane-operator

disable preemption for hypershift PriorityClasses
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
Labels: none

kv, docs: Document using custom network as default
  docs/content/how-to/kubevirt/configuring-network.md
Labels: none

NO-JIRA: Fix ValidAzureKMSConfig status to report unknown instead of false
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

OSD-19085: Replaced hypershift_cluster_cores metric with hypershift_cluster_vcpus metric as the billing is per vCpu and not per core
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
Labels: area/hypershift-operator

include hostnetwork SCC CPO role for 4.13 and earlier, never for IBMCloud
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

update desired image even when HCP doesn't exist yet
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

docs: fixing wrong key name
  api/hypershift/v1beta1/nodepool_types.go
Labels: area/hypershift-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
