Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

chore(deps): update module go.etcd.io/etcd/raft/v3 to v3.5.25
  go.mod
  go.sum
  vendor/modules.txt
Labels: none

chore(deps): update module go.etcd.io/etcd/client/v2 to v2.305.25
  go.mod
  go.sum
  vendor/go.etcd.io/etcd/api/v3/version/version.go
  vendor/modules.txt
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

chore(deps): update konflux references
  .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml
  .tekton/hypershift-gomaxprocs-webhook-push.yaml
  .tekton/hypershift-operator-main-tag.yaml
  .tekton/pipelines/common-operator-build.yaml
Labels: none

chore(deps): update module go.mongodb.org/mongo-driver to v1.17.6
  go.mod
  go.sum
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/default_value_decoders.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_writer.go
  vendor/go.mongodb.org/mongo-driver/bson/unmarshal.go
  vendor/modules.txt
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

fix(deps): update github.com/openshift/api/tools digest to 88cca31
  hack/tools/go.mod
Labels: none

fix(CNTRPLANE-1956): address latest review feedback
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Labels: area/hypershift-operator, area/control-plane-operator

feat(api): add comprehensive GCP platform API types and validation
  api/hypershift/v1beta1/gcp.go
  api/hypershift/v1beta1/gcp_validation_test.go
  api/hypershift/v1beta1/hostedcluster_conditions.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp_validation_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator

feat(platform): implement comprehensive GCP platform controller
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_conditions_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_test.go
  support/conditions/conditions.go
Labels: area/hypershift-operator

build: integrate GCP platform into HyperShift build system
  Makefile
  cmd/cluster/gcp/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/install/assets/assets.go
  cmd/install/assets/cluster-api-provider-gcp/infrastructure.cluster.x-k8s.io_gcpclusters.yaml
  cmd/install/assets/cluster-api-provider-gcp/infrastructure.cluster.x-k8s.io_gcpclustertemplates.yaml
  cmd/install/assets/cluster-api-provider-gcp/infrastructure.cluster.x-k8s.io_gcpmachines.yaml
  cmd/install/assets/cluster-api-provider-gcp/infrastructure.cluster.x-k8s.io_gcpmachinetemplates.yaml
  docs/content/how-to/gcp-platform.md
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
  support/api/scheme.go
  support/images/envvars.go
Labels: area/hypershift-operator

feat(client): add GCP platform apply configurations
  client/applyconfiguration/hypershift/v1beta1/gcpplatformspec.go
  client/applyconfiguration/hypershift/v1beta1/gcpresourcelabel.go
  client/applyconfiguration/hypershift/v1beta1/gcpserviceaccountsref.go
  client/applyconfiguration/hypershift/v1beta1/gcpworkloadidentityconfig.go
  client/applyconfiguration/utils.go
Labels: none

fix(deps): update github.com/openshift/api digest to 88cca31
  api/go.mod
  go.mod
Labels: area/hypershift-operator

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

fix(deps): update github.com/openshift/hypershift/api digest to 9f8fa75
  go.mod
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/mattn/go-runewidth to v0.0.19
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/clipperhouse/uax29/v2/LICENSE
  hack/tools/vendor/github.com/clipperhouse/uax29/v2/graphemes/README.md
  hack/tools/vendor/github.com/clipperhouse/uax29/v2/graphemes/iterator.go
  hack/tools/vendor/github.com/clipperhouse/uax29/v2/graphemes/reader.go
  hack/tools/vendor/github.com/clipperhouse/uax29/v2/graphemes/splitfunc.go
  hack/tools/vendor/github.com/clipperhouse/uax29/v2/graphemes/trie.go
  hack/tools/vendor/github.com/clipperhouse/uax29/v2/internal/iterators/iterator.go
  hack/tools/vendor/github.com/mattn/go-runewidth/benchstat.txt
  hack/tools/vendor/github.com/mattn/go-runewidth/new.txt
  hack/tools/vendor/github.com/mattn/go-runewidth/old.txt
  hack/tools/vendor/github.com/mattn/go-runewidth/runewidth.go
  hack/tools/vendor/github.com/mattn/go-runewidth/runewidth_windows.go
  hack/tools/vendor/github.com/rivo/uniseg/README.md
  hack/tools/vendor/github.com/rivo/uniseg/doc.go
  hack/tools/vendor/github.com/rivo/uniseg/eastasianwidth.go
  hack/tools/vendor/github.com/rivo/uniseg/emojipresentation.go
  hack/tools/vendor/github.com/rivo/uniseg/gen_breaktest.go
  hack/tools/vendor/github.com/rivo/uniseg/gen_properties.go
  hack/tools/vendor/github.com/rivo/uniseg/grapheme.go
  hack/tools/vendor/github.com/rivo/uniseg/graphemeproperties.go
  hack/tools/vendor/github.com/rivo/uniseg/graphemerules.go
  hack/tools/vendor/github.com/rivo/uniseg/line.go
  hack/tools/vendor/github.com/rivo/uniseg/lineproperties.go
  hack/tools/vendor/github.com/rivo/uniseg/linerules.go
  hack/tools/vendor/github.com/rivo/uniseg/properties.go
  hack/tools/vendor/github.com/rivo/uniseg/sentence.go
  hack/tools/vendor/github.com/rivo/uniseg/sentenceproperties.go
  hack/tools/vendor/github.com/rivo/uniseg/sentencerules.go
  hack/tools/vendor/github.com/rivo/uniseg/step.go
  hack/tools/vendor/github.com/rivo/uniseg/width.go
  hack/tools/vendor/github.com/rivo/uniseg/word.go
  hack/tools/vendor/github.com/rivo/uniseg/wordproperties.go
  hack/tools/vendor/github.com/rivo/uniseg/wordrules.go
  hack/tools/vendor/modules.txt
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none
