Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

chore(deps): update module github.com/antlr4-go/antlr/v4 to v4.13.1
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/antlr4-go/antlr/v4/antlrdoc.go
  hack/tools/vendor/github.com/antlr4-go/antlr/v4/atn.go
  hack/tools/vendor/github.com/antlr4-go/antlr/v4/atn_config.go
  hack/tools/vendor/github.com/antlr4-go/antlr/v4/input_stream.go
  hack/tools/vendor/github.com/antlr4-go/antlr/v4/jcollect.go
  hack/tools/vendor/github.com/antlr4-go/antlr/v4/lexer.go
  hack/tools/vendor/github.com/antlr4-go/antlr/v4/ll1_analyzer.go
  hack/tools/vendor/github.com/antlr4-go/antlr/v4/mutex.go
  hack/tools/vendor/github.com/antlr4-go/antlr/v4/mutex_nomutex.go
  hack/tools/vendor/github.com/antlr4-go/antlr/v4/parser_atn_simulator.go
  hack/tools/vendor/github.com/antlr4-go/antlr/v4/prediction_context.go
  hack/tools/vendor/github.com/antlr4-go/antlr/v4/recognizer.go
  hack/tools/vendor/github.com/antlr4-go/antlr/v4/statistics.go
  hack/tools/vendor/github.com/antlr4-go/antlr/v4/token.go
  hack/tools/vendor/github.com/antlr4-go/antlr/v4/utils.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/catenacyber/perfsprint to v0.10.1
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/catenacyber/perfsprint/analyzer/analyzer.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/charmbracelet/x/term to v0.2.2
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/charmbracelet/x/term/term.go
  hack/tools/vendor/github.com/charmbracelet/x/term/term_plan9.go
  hack/tools/vendor/github.com/charmbracelet/x/term/term_unix.go
  hack/tools/vendor/github.com/charmbracelet/x/term/term_windows.go
  hack/tools/vendor/github.com/charmbracelet/x/term/util.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/goccy/go-json to v0.10.5
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/goccy/go-json/internal/decoder/compile.go
  hack/tools/vendor/github.com/goccy/go-json/internal/decoder/compile_norace.go
  hack/tools/vendor/github.com/goccy/go-json/internal/decoder/compile_race.go
  hack/tools/vendor/github.com/goccy/go-json/internal/encoder/compiler.go
  hack/tools/vendor/github.com/goccy/go-json/internal/encoder/compiler_norace.go
  hack/tools/vendor/github.com/goccy/go-json/internal/encoder/compiler_race.go
  hack/tools/vendor/github.com/goccy/go-json/internal/encoder/encoder.go
  hack/tools/vendor/github.com/goccy/go-json/internal/runtime/type.go
  hack/tools/vendor/modules.txt
Labels: none

test: remove unit tests that depend on network communication
  support/util/imagemetadata_test.go
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Labels: none

chore(deps): update module github.com/godoc-lint/godoc-lint to v0.10.2
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/godoc-lint/godoc-lint/pkg/check/require_doc/require_doc.go
  hack/tools/vendor/github.com/godoc-lint/godoc-lint/pkg/check/start_with_name/start_with_name.go
  hack/tools/vendor/github.com/godoc-lint/godoc-lint/pkg/config/plain.go
  hack/tools/vendor/github.com/godoc-lint/godoc-lint/pkg/inspect/inspector.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/magiconair/properties to v1.8.10
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/magiconair/properties/CHANGELOG.md
  hack/tools/vendor/github.com/magiconair/properties/README.md
  hack/tools/vendor/github.com/magiconair/properties/decode.go
  hack/tools/vendor/github.com/magiconair/properties/load.go
  hack/tools/vendor/github.com/magiconair/properties/properties.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/skeema/knownhosts to v1.3.2
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/skeema/knownhosts/NOTICE
  hack/tools/vendor/github.com/skeema/knownhosts/README.md
  hack/tools/vendor/github.com/skeema/knownhosts/knownhosts.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/prometheus/client_model to v0.6.2
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/modules.txt
Labels: none

feat(azure): add BindProductFlags for self-managed Azure product CLI
  cmd/cluster/azure/create.go
  cmd/nodepool/azure/create.go
Labels: none

feat(product-cli): add Azure cluster create and destroy commands
  product-cli/cmd/cluster/azure/create.go
  product-cli/cmd/cluster/azure/destroy.go
  product-cli/cmd/cluster/cluster.go
Labels: none

feat(product-cli): add Azure nodepool create command
  product-cli/cmd/nodepool/azure/create.go
  product-cli/cmd/nodepool/create.go
Labels: none

feat(product-cli): add nodepool destroy command
  product-cli/cmd/destroy/destroy.go
  product-cli/cmd/nodepool/destroy.go
Labels: none

fix(product-cli): mark azure-creds and pull-secret as required flags
  product-cli/cmd/cluster/azure/create.go
Labels: none

refactor: replace internal code names with public terminology
  cmd/install/install.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
Labels: area/control-plane-operator

refactor(azure): centralize product CLI flag descriptions
  cmd/cluster/azure/create.go
  cmd/nodepool/azure/create.go
  cmd/util/azure_flag_descriptions.go
  product-cli/cmd/cluster/azure/destroy.go
Labels: none

chore(deps): update module github.com/stretchr/objx to v0.5.3
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/stretchr/objx/README.md
  hack/tools/vendor/modules.txt
Labels: none

fix(awseps): cache local zone ID in non-shared VPC case
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
Labels: area/control-plane-operator

feat: enable global pull secret for AWS
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

fix(globalps): replace privileged container with specific capabilities
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
Labels: area/control-plane-operator

feat(globalps): mount pull secrets as volumes in DaemonSet and optimize sync-global-pullsecret
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret.go
Labels: area/control-plane-operator

refactor(globalps): optimize global pull secret sync with file-based approach
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret_test.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

feat: enable global pull secret for AWS
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps_test.go
  docs/content/how-to/common/global-pull-secret.md
  support/awsutil/awsutil.go
  support/awsutil/awsutil_test.go
  sync-global-pullsecret/sync-global-pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret_test.go
  test/e2e/util/globalps.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

feat: implement GlobalPullSecret precedence logic and fix syncer permissions
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/setup.go
  support/awsutil/awsutil.go
  support/awsutil/awsutil_test.go
  sync-global-pullsecret/sync-global-pullsecret.go
Labels: area/control-plane-operator

fix: use context.Background() instead of t.Context() in test/e2e/util/hypershift_framework.go
  test/e2e/util/hypershift_framework.go
Labels: none

test(autoscaling): relax NodePool balancing validation and increase test scale
  test/e2e/autoscaling_test.go
  test/e2e/util/util.go
Labels: none

Enable the test of EnsureGlobalPullSecret on 4.19
  test/e2e/util/util.go
Labels: none

fix(globalps): Fix some issues on E2E and remove inplace support for GlobalPullSecret
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/setup.go
  docs/content/how-to/common/global-pull-secret.md
  support/util/util.go
  support/util/util_test.go
  sync-global-pullsecret/sync-global-pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret_test.go
  test/e2e/create_cluster_test.go
  test/e2e/util/globalps.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

fix(conformance): set priorityClass on global-pull-secret-syncer DaemonSet
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
Labels: area/control-plane-operator

fix(e2e): resolve flaky EnsureGlobalPullSecret test race condition
  test/e2e/util/util.go
Labels: none

fix(deps): update module github.com/google/cel-go to v0.26.1
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/google/cel-go/cel/env.go
  hack/tools/vendor/github.com/google/cel-go/cel/folding.go
  hack/tools/vendor/github.com/google/cel-go/cel/program.go
  hack/tools/vendor/github.com/google/cel-go/cel/templates/authoring.tmpl
  hack/tools/vendor/github.com/google/cel-go/cel/validator.go
  hack/tools/vendor/github.com/google/cel-go/common/types/pb/type.go
  hack/tools/vendor/github.com/google/cel-go/ext/native.go
  hack/tools/vendor/modules.txt
  vendor/github.com/google/cel-go/cel/env.go
  vendor/github.com/google/cel-go/cel/folding.go
  vendor/github.com/google/cel-go/cel/program.go
  vendor/github.com/google/cel-go/cel/templates/authoring.tmpl
  vendor/github.com/google/cel-go/cel/validator.go
  vendor/github.com/google/cel-go/common/types/pb/type.go
  vendor/github.com/google/cel-go/ext/native.go
  vendor/modules.txt
Labels: none

fix(deps): update module github.com/onsi/ginkgo/v2 to v2.27.3
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
  go.mod
  go.sum
  vendor/github.com/onsi/ginkgo/v2/CHANGELOG.md
  vendor/github.com/onsi/ginkgo/v2/ginkgo/internal/run.go
  vendor/github.com/onsi/ginkgo/v2/types/version.go
  vendor/modules.txt
Labels: area/hypershift-operator

fix(deps): update module github.com/onsi/gomega to v1.38.3
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
  go.mod
  go.sum
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/onsi/gomega/format/format.go
  vendor/github.com/onsi/gomega/gomega_dsl.go
  vendor/github.com/onsi/gomega/matchers.go
  vendor/github.com/onsi/gomega/matchers/have_key_matcher.go
  vendor/github.com/onsi/gomega/matchers/have_key_with_value_matcher.go
  vendor/github.com/onsi/gomega/matchers/support/goraph/edge/edge.go
  vendor/modules.txt
Labels: area/hypershift-operator

fix(deps): update module github.com/opencontainers/image-spec to v1.1.1
  go.mod
  go.sum
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
  vendor/modules.txt
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
