Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

Make CAPI pod selector backward compatible
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Make CAPI pod selector backward compatible
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Add default flags to HCP create cluster CLI cmd
  product-cli/cmd/cluster/cluster.go
Labels: none

Add args to product-cli for cluster creation
  product-cli/cmd/cluster/cluster.go
Labels: none

Update RHTAP references
  .tekton/hypershift-operator-release-413-pull-request.yaml
  .tekton/hypershift-operator-release-413-push.yaml
Labels: none

Updating hypershift images to be consistent with ART Reconciling with https://github.com/openshift/ocp-build-data/tree/277ecc2a56726d61e4b3060a5299347660af55af/images/hypershift.yml
  .ci-operator.yaml
  Dockerfile.control-plane
Labels: none

kubevirt: Block metadata server egress
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/manifests/egressfirewall/manifests.go
Labels: area/hypershift-operator

add KAS egress network policy
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  support/capabilities/management_cluster_capabilities.go
Labels: area/hypershift-operator

Move network policies into their own file
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
Labels: area/hypershift-operator

Add management cluster kas network policy
  Dockerfile
  Dockerfile.control-plane
  Dockerfile.fast
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/params.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/params.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/testdata/zz_fixture_TestReconcileOperatorDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/params.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/manifests/networkpolicy/manifests.go
  support/config/constants.go
  support/config/labels.go
  test/e2e/util/fixture.go
  test/e2e/util/pod_exec.go
  test/e2e/util/util.go
Labels: area/hypershift-operator, area/control-plane-operator

Make CAPI pod selector backward compatible
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Run go mod tidy/vendor to make verify happy
  go.mod
Labels: none

Revert "HOSTEDCP-1094: e2e autoscaler balancing similar node groups"
  test/e2e/autoscaling_test.go
Labels: none

Revert "HOSTEDCP-710: Make ImageContentSource immutable"
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  hack/app-sre/saas_template.yaml
Labels: area/hypershift-operator

Update RHTAP references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

Default HC release and channel
  api/v1alpha1/hostedcluster_types.go
  api/v1beta1/hostedcluster_types.go
  cmd/cluster/core/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/supportedversion/version.go
Labels: area/hypershift-operator

fix deletion bug when hostedzone is already deleted
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
Labels: area/control-plane-operator

OCPBUGS-16033: ClusterNetwork's HostPrefix validation for dual stack
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/network.go
  support/util/util.go
Labels: area/control-plane-operator

Remove name as a persistent flag required field
  product-cli/cmd/cluster/cluster.go
Labels: none

Add IDMS to the list of valid config manifests
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: area/hypershift-operator

Add config to set creation frequency of RHTAP PRs
  renovate.json
Labels: none

Test breaking PKI by requiring dummy volume
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
Labels: area/control-plane-operator

Allow HCP Specification to Support ICSP & IDMS
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignition/params.go
  control-plane-operator/controllers/hostedcontrolplane/ignition/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ignition.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/imagecontentsource.go
Labels: area/control-plane-operator

Use a per-hcp router for all hcp ingress traffic (#1614)
  api/fixtures/example.go
  api/v1alpha1/endpointservice_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_awsendpointservices.yaml
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.template
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/infra.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ingress.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/route.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/config.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/platform/aws/controller.go
  support/testutil/testutil.go
  support/testutil/testutil_test.go
  support/util/networking.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/util/fixture.go
  test/e2e/util/util.go
Labels: area/hypershift-operator, area/control-plane-operator

Add workload management annotation to kubevirt-csi daemonset
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
Labels: area/control-plane-operator

Add storage creds for CSI driver
  api/fixtures/example.go
  api/fixtures/example_ibmcloud_powervs.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/cluster/powervs/create.go
  cmd/infra/powervs/create.go
  cmd/infra/powervs/destroy.go
  cmd/infra/powervs/service_id.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/internal/platform/powervs/powervs.go
Labels: area/hypershift-operator, area/control-plane-operator

Add custom types for enum fields in PowerVSNodePoolPlatform
  api/fixtures/example_ibmcloud_powervs.go
  api/v1alpha1/nodepool_types.go
  cmd/cluster/core/create.go
  cmd/cluster/powervs/create.go
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/powervs.go
Labels: area/hypershift-operator

docs(ibmcloud): Add HC/HCP yamls for IBM Cloud
  docs/content/reference/ibmcloud/hostedcluster.yaml
  docs/content/reference/ibmcloud/hostedcontrolplane.yaml
Labels: none

docs(ibmcloud): Add HC/HCP yamls for IBM Cloud
  docs/content/reference/ibmcloud/hostedcluster.yaml
  docs/content/reference/ibmcloud/hostedcontrolplane.yaml
Labels: none

docs(ibmcloud): Add HC/HCP yamls for IBM Cloud
  docs/content/reference/ibmcloud/hostedcluster.yaml
  docs/content/reference/ibmcloud/hostedcontrolplane.yaml
Labels: none

docs(ibmcloud): Add HC/HCP yamls for IBM Cloud
  docs/content/reference/ibmcloud/hostedcluster.yaml
  docs/content/reference/ibmcloud/hostedcontrolplane.yaml
Labels: none

Check what status is
  test/e2e/util/util.go
Labels: none

docs(ibmcloud): Add HC/HCP yamls for IBM Cloud
  docs/content/reference/ibmcloud/hostedcluster.yaml
  docs/content/reference/ibmcloud/hostedcontrolplane.yaml
Labels: none

OCPBUGS-14163: Fixed ETCD to work in Ipv6 and Dual stack envs
  control-plane-operator/controllers/hostedcontrolplane/etcd/params.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

post cherry-pick fixes
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/hcpstatus/hcpstatus.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/util/deployment.go
  hypershift-operator/metrics.go
  test/e2e/util/util.go
Labels: area/hypershift-operator, area/control-plane-operator

kubevirt: Reconcile EgressFirewall only for ovn-k
  hypershift-operator/controllers/hostedcluster/network_policies.go
Labels: area/hypershift-operator

OCPBUGS-16809: Configured IgnitionProxy to support IPv4 and IPv6
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  hypershift-operator/controllers/hostedcluster/ignitionserver/ignitionserver.go
Labels: area/hypershift-operator, area/control-plane-operator

Add HCP CLI Command to Create a NodePool on AWS
  product-cli/cmd/nodepool/aws/create.go
  product-cli/cmd/nodepool/create.go
Labels: none

Add HCP CLI Command to Destroy a Cluster on AWS
  cmd/cluster/aws/create.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/aws/destroy_test.go
  product-cli/cmd/cluster/aws/destroy.go
  product-cli/cmd/cluster/cluster.go
Labels: none

use ignition-proxy Service to population ignitionEndpoint with strategy NodePort
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
