Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

chore(generated): Regenerate API documentation and vendor
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcontrolplane_conditions.go
Labels: none

feat(api): Add connectivity conditions to HostedControlPlane CR
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcontrolplane_conditions.go
Labels: area/hypershift-operator

fix(CNTRPLANE-1956): adds control plane to data plane condition, vendor
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcontrolplane_conditions.go
Labels: none

fix(CNTRPLANE-1956): address Mulham feedback
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(CNTRPLANE-1956): address feedback review
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  support/konnectivityproxy/proxy_dialer.go
Labels: area/control-plane-operator

fix(CNTRPLANE-1956): adds control plane to data plane condition, code functionality
  api/hypershift/v1beta1/hostedcontrolplane_conditions.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/konnectivityproxy/proxy_dialer.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(CNTRPLANE-1956): address feedback some coderabbitai review
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

fix(deps): update github.com/openshift/cloud-credential-operator digest to 92207a8
  go.mod
Labels: none

fix(deps): update github.com/openshift/cluster-api-provider-agent/api digest to 29588d1
  go.mod
  go.sum
  vendor/modules.txt
Labels: none

fix(deps): update github.com/openshift/cluster-autoscaler-operator digest to eb990ea
  go.mod
Labels: none

chore(deps): update module cloud.google.com/go/auth/oauth2adapt to v0.2.8
  go.mod
  go.sum
  vendor/cloud.google.com/go/auth/oauth2adapt/CHANGES.md
  vendor/modules.txt
Labels: none

docs: add NetworkPolicy e2e test specification for Azure
  .work/jira/solve/spec-CNTRLPLANE-1445.md
Labels: none

fix(deps): update k8s.io/utils digest to bc988d5
  api/go.mod
  api/go.sum
  api/vendor/k8s.io/utils/buffer/ring_growing.go
  api/vendor/k8s.io/utils/clock/testing/fake_clock.go
  api/vendor/k8s.io/utils/net/multi_listen.go
  api/vendor/modules.txt
  contrib/aws-tag-lb-service-webhook/go.mod
  contrib/aws-tag-lb-service-webhook/go.sum
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/k8s.io/utils/clock/testing/fake_clock.go
  hack/tools/vendor/k8s.io/utils/lru/lru.go
  hack/tools/vendor/k8s.io/utils/net/multi_listen.go
  hack/tools/vendor/modules.txt
  vendor/k8s.io/utils/buffer/ring_growing.go
  vendor/k8s.io/utils/clock/testing/fake_clock.go
  vendor/k8s.io/utils/net/multi_listen.go
  vendor/modules.txt
Labels: area/hypershift-operator

test(e2e): add NetworkPolicy validation test for Azure
  test/e2e/azure_networkpolicy_test.go
Labels: none

fix(deps): update github.com/openshift/library-go digest to 14a789e
  go.mod
Labels: none

fix(deps): update github.com/ppc64le-cloud/powervs-utils digest to d58d915
  go.mod
  go.sum
  vendor/github.com/ppc64le-cloud/powervs-utils/region.go
  vendor/modules.txt
Labels: none

fix(cli): filter RC versions and validate against supported OCP versions
  support/supportedversion/version.go
  support/supportedversion/version_test.go
Labels: none

feat(GCP-251): Add GCP provider support for external-dns with Workload Identity
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  cmd/install/install_helm.go
  cmd/install/install_render.go
  cmd/install/install_test.go
  cmd/install/render.go
Labels: none

fix: stop serving admissionregistration.k8s.io/v1beta1
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_kas_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kas_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_kas_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/config_test.go
Labels: area/control-plane-operator

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

docs: add resource-based control plane autoscaling guide
  docs/content/how-to/resource-based-control-plane-autoscaling.md
  docs/mkdocs.yml
Labels: none

(api): make api
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
Labels: area/hypershift-operator

wip: base on removal of DRA gate
  api/go.mod
  api/go.sum
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/vendor/github.com/openshift/api/config/v1/types_scheduling.go
  api/vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  api/vendor/modules.txt
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
Labels: area/hypershift-operator

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

test(globalconfig): add unit tests for Authentication reconciliation
  support/globalconfig/authentication_test.go
Labels: none

chore(deps): update module github.com/gabriel-vasile/mimetype to v1.4.11
  go.mod
  go.sum
  vendor/github.com/gabriel-vasile/mimetype/.git-blame-ignore-revs
  vendor/github.com/gabriel-vasile/mimetype/.golangci.yml
  vendor/github.com/gabriel-vasile/mimetype/CODE_OF_CONDUCT.md
  vendor/github.com/gabriel-vasile/mimetype/CONTRIBUTING.md
  vendor/github.com/gabriel-vasile/mimetype/README.md
  vendor/github.com/gabriel-vasile/mimetype/internal/charset/charset.go
  vendor/github.com/gabriel-vasile/mimetype/internal/csv/parser.go
  vendor/github.com/gabriel-vasile/mimetype/internal/json/json.go
  vendor/github.com/gabriel-vasile/mimetype/internal/json/parser.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/archive.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/audio.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/binary.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/database.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/document.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/font.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/ftyp.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/geo.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/image.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/magic.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/ms_office.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/netpbm.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/text.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/text_csv.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/video.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/zip.go
  vendor/github.com/gabriel-vasile/mimetype/internal/markup/markup.go
  vendor/github.com/gabriel-vasile/mimetype/internal/scan/bytes.go
  vendor/github.com/gabriel-vasile/mimetype/mime.go
  vendor/github.com/gabriel-vasile/mimetype/mimetype.go
  vendor/github.com/gabriel-vasile/mimetype/supported_mimes.md
  vendor/github.com/gabriel-vasile/mimetype/tree.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/felixge/fgprof to v0.9.5
  go.mod
  go.sum
  vendor/github.com/felixge/fgprof/fgprof.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/cenkalti/backoff/v5 to v5.0.3
  go.mod
  go.sum
  vendor/github.com/cenkalti/backoff/v5/exponential.go
  vendor/github.com/cenkalti/backoff/v5/retry.go
  vendor/modules.txt
Labels: none

test(install): validate DynamicResourceAllocation field exists in CRD
  cmd/install/crd_validation_test.go
Labels: none

chore(deps): update module github.com/moby/term to v0.5.2
  go.mod
  go.sum
  vendor/github.com/Azure/go-ansiterm/osc_string_state.go
  vendor/github.com/moby/term/term_unix.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/stoewer/go-strcase to v1.3.1
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/stoewer/go-strcase/.golangci.yml
  hack/tools/vendor/github.com/stoewer/go-strcase/camel.go
  hack/tools/vendor/github.com/stoewer/go-strcase/helper.go
  hack/tools/vendor/modules.txt
  vendor/github.com/stoewer/go-strcase/.golangci.yml
  vendor/github.com/stoewer/go-strcase/camel.go
  vendor/github.com/stoewer/go-strcase/helper.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/googleapis/enterprise-certificate-proxy to v0.3.7
  go.mod
  go.sum
  vendor/modules.txt
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
