Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

fix(e2e): fix test isolation bug in EnsureDefaultSecurityGroupTagsTest
  test/e2e/v2/tests/hosted_cluster_aws_test.go
Labels: none

feat(control-plane-operator): add etcd shard components and shard restore
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/pki/etcd.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/shard.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/shard_test.go
  etcd-upload/etcdupload.go
  etcd-upload/etcdupload_test.go
Labels: area/control-plane-operator

feat(hypershift-operator): add etcd shard support and multi-shard backup
  hypershift-operator/controllers/etcdbackup/reconciler.go
  hypershift-operator/controllers/etcdbackup/reconciler_test.go
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/status.go
Labels: area/hypershift-operator

docs: add etcd shard backup/restore plan and update DR documentation
  docs/content/how-to/disaster-recovery/etcd-snapshot-backup/backup-flow.md
  docs/content/how-to/disaster-recovery/etcd-snapshot-backup/index.md
  docs/content/how-to/disaster-recovery/etcd-snapshot-backup/restore-flow.md
  docs/content/how-to/disaster-recovery/etcd-snapshot-backup/shard-backup-plan.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
Labels: none

fix(cpo): fix AzurePrivateLinkService finalizer race during HCP deletion
  control-plane-operator/controllers/azureprivatelinkservice/controller.go
  control-plane-operator/controllers/azureprivatelinkservice/controller_test.go
Labels: area/control-plane-operator

docs(ci): add HO Konflux release gating documentation (CNTRLPLANE-3673)
  docs/content/reference/aggregated-docs.md
  docs/content/reference/ho-release-gating/architecture.md
  docs/content/reference/ho-release-gating/extending-services.md
  docs/content/reference/ho-release-gating/extending-tests.md
  docs/content/reference/ho-release-gating/index.md
  docs/content/reference/ho-release-gating/strategy.md
  docs/content/reference/ho-release-gating/troubleshooting.md
  docs/mkdocs.yml
Labels: none

Revert "OCPBUGS-89689: (karpenter) use completed release image for unpinned NodeClaims during CP upgrade"
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller.go
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller_test.go
  test/e2e/karpenter_control_plane_upgrade_test.go
  test/e2e/karpenter_test.go
Labels: none

test(upsert): cover DeepDerivative fallback for external spec drift
  support/upsert/apply_test.go
Labels: none

feat: enable TLSAdherence on TechPreviewNoUpgrade
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
Labels: area/hypershift-operator

chore: run make api
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
Labels: none

test(e2e/v2): add upsert desired-state-hash E2E tests
  test/e2e/v2/tests/control_plane_upsert_test.go
Labels: none

test(e2e/v2): verify spec field removal is detected via desired-state-hash
  test/e2e/v2/tests/control_plane_upsert_test.go
Labels: none

fix(OCPBUGS-105211): Apply MetricsSet relabel configs to KAS ServiceMonitor
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_kube_apiserver_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_kube_apiserver_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_apiserver_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_kube_apiserver_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/servicemonitor_test.go
Labels: area/control-plane-operator

test(tar): update infra test fixtures and inline expectations for TAR annotation
  control-plane-operator/controllers/hostedcontrolplane/infra/infra_test.go
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_ARO_Route_SharedIngress_AnnotationFallback.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_ARO_Route_Swift_Private.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_ARO_Route_Swift_PublicAndPrivate.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_Private_KAS_LoadBalancer.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_Private_Route.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_PublicAndPrivate_Route.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_Public_Route.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_Azure_Private_KAS_LoadBalancer.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_Azure_Private_OAuth_LoadBalancer.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_When_Azure_self_managed_cluster_has_KAS_Route_with_hostname__it_should_need_an_external_router.yaml
Labels: area/control-plane-operator

refactor(tar): apply topology-aware routing on kube-apiserver ClusterIP service
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service_test.go
Labels: area/control-plane-operator

fix(tar): delete topology-mode annotation before strategy switch
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service_test.go
Labels: area/control-plane-operator

test(tar): update new Azure Private Route fixture with topology-mode annotation
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_When_Azure_Private_cluster_has_Route_strategy_without_hostname__it_should_only_need_an_internal_router.yaml
Labels: area/control-plane-operator

test: increase WebhookValidation e2e timeout to 3 minutes
  test/e2e/v2/tests/hosted_cluster_security_test.go
Labels: none

refactor(hcco): extract webhook validation into a dedicated controller
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/webhookvalidation/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/webhookvalidation/webhookvalidation.go
  control-plane-operator/hostedclusterconfigoperator/controllers/webhookvalidation/webhookvalidation_test.go
Labels: area/control-plane-operator

fix(ci): trigger envtest workflows on dependency changes
  .github/workflows/envtest-kube-reusable.yaml
  .github/workflows/envtest-ocp-reusable.yaml
Labels: none

docs(operator-config): fix EtcdOperatorSpec godoc to lowercase etcd
  api/hypershift/v1beta1/operator.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/operator.go
Labels: area/hypershift-operator

test: increase WebhookValidation e2e timeout to 3 minutes
  test/e2e/v2/tests/hosted_cluster_security_test.go
Labels: none

refactor(hcco): extract webhook validation into a dedicated controller
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/webhookvalidation/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/webhookvalidation/webhookvalidation.go
  control-plane-operator/hostedclusterconfigoperator/controllers/webhookvalidation/webhookvalidation_test.go
Labels: area/control-plane-operator

fix(e2e): filter upsert tests to HyperShift-managed Deployments
  test/e2e/v2/tests/control_plane_upsert_test.go
Labels: none

test(tar): add topology-mode annotation to upstream Route-private-no-hostname test case
  control-plane-operator/controllers/hostedcontrolplane/infra/infra_test.go
Labels: area/control-plane-operator

docs(claude): document all skills and commands in SKILLS.md
  .claude/SKILLS.md
Labels: none

feat: add hypershiftlinter golangci-lint plugin
  .github/workflows/lint-reusable.yaml
  .golangci.yml
  Makefile
  hack/tools/go.mod
  hack/tools/hypershiftlinter/analyzers/contextbackground/contextbackground.go
  hack/tools/hypershiftlinter/analyzers/guestcluster/guestcluster.go
  hack/tools/hypershiftlinter/analyzers/ipv6url/ipv6url.go
  hack/tools/hypershiftlinter/analyzers/pathutil/pathutil.go
  hack/tools/hypershiftlinter/analyzers/sippyannotation/sippyannotation.go
  hack/tools/hypershiftlinter/analyzers/testcasename/testcasename.go
  hack/tools/hypershiftlinter/analyzers/testfuncname/testfuncname.go
  hack/tools/hypershiftlinter/analyzers/vacuouspass/vacuouspass.go
  hack/tools/hypershiftlinter/cmd/plugin/main.go
  hack/tools/hypershiftlinter/plugin.go
Labels: none

fix(security): [Project Darkstar] remediate Go stdlib CVEs — add toolchain go1.26.5
  api/go.mod
  go.mod
  hack/tools/go.mod
Labels: area/hypershift-operator

test(e2e): migrate ARM64 nodepool create e2e test to v2
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/tests/nodepool_arm64_create_test.go
Labels: none

test: point lint caller at PR branch to test workflow changes
  .github/workflows/lint.yaml
Labels: none

feat(gcp): add CredentialStatus type and GetCredentialStatus function
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_conditions_test.go
Labels: area/hypershift-operator

feat(gcp): add GCPEndpointAvailable and GCPServiceAttachmentAvailable to ExpectedHCConditions
  support/conditions/conditions.go
Labels: none

feat(gcp): add GCP PSC transition duration and invalid-creds gauge metrics
  hypershift-operator/controllers/hostedcluster/metrics/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics_test.go
Labels: area/hypershift-operator

test(e2e): CNTRLPLANE-3584 add kube-scheduler metrics endpoint e2e coverage
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
  test/e2e/v2/tests/hosted_cluster_metrics_test.go
Labels: none

feat(e2e): improve v2 test isolation
  test/e2e/util/version.go
  test/e2e/v2/backuprestore/cleanup.go
  test/e2e/v2/internal/test_context.go
  test/e2e/v2/internal/workload_registry.go
  test/e2e/v2/tests/backup_restore_test.go
  test/e2e/v2/tests/control_plane_pki_operator_test.go
  test/e2e/v2/tests/control_plane_upgrade_test.go
  test/e2e/v2/tests/control_plane_workloads_test.go
  test/e2e/v2/tests/etcd_chaos_test.go
  test/e2e/v2/tests/hosted_cluster_aws_test.go
  test/e2e/v2/tests/hosted_cluster_azure_test.go
  test/e2e/v2/tests/hosted_cluster_ccm_test.go
  test/e2e/v2/tests/hosted_cluster_compliance_test.go
  test/e2e/v2/tests/hosted_cluster_cpo_test.go
  test/e2e/v2/tests/hosted_cluster_dns_test.go
  test/e2e/v2/tests/hosted_cluster_external_oidc_test.go
  test/e2e/v2/tests/hosted_cluster_health_test.go
  test/e2e/v2/tests/hosted_cluster_image_registry_test.go
  test/e2e/v2/tests/hosted_cluster_ingress_test.go
  test/e2e/v2/tests/hosted_cluster_metrics_test.go
  test/e2e/v2/tests/hosted_cluster_node_communication_test.go
  test/e2e/v2/tests/hosted_cluster_psc_test.go
  test/e2e/v2/tests/hosted_cluster_pull_secret_test.go
  test/e2e/v2/tests/hosted_cluster_secret_encryption_test.go
  test/e2e/v2/tests/hosted_cluster_security_test.go
  test/e2e/v2/tests/nodepool_autoscaling_test.go
  test/e2e/v2/tests/nodepool_lifecycle_test.go
  test/e2e/v2/tests/nodepool_osimagestream_test.go
Labels: none

Remove magic Ginkgo helpers
  test/e2e/v2/backuprestore/cleanup.go
  test/e2e/v2/internal/test_context.go
  test/e2e/v2/internal/workload_registry.go
  test/e2e/v2/tests/backup_restore_test.go
  test/e2e/v2/tests/control_plane_pki_operator_test.go
  test/e2e/v2/tests/control_plane_upgrade_test.go
  test/e2e/v2/tests/control_plane_workloads_test.go
  test/e2e/v2/tests/etcd_chaos_test.go
  test/e2e/v2/tests/hosted_cluster_aws_test.go
  test/e2e/v2/tests/hosted_cluster_azure_test.go
  test/e2e/v2/tests/hosted_cluster_ccm_test.go
  test/e2e/v2/tests/hosted_cluster_compliance_test.go
  test/e2e/v2/tests/hosted_cluster_cpo_test.go
  test/e2e/v2/tests/hosted_cluster_dns_test.go
  test/e2e/v2/tests/hosted_cluster_external_oidc_test.go
  test/e2e/v2/tests/hosted_cluster_health_test.go
  test/e2e/v2/tests/hosted_cluster_image_registry_test.go
  test/e2e/v2/tests/hosted_cluster_ingress_test.go
  test/e2e/v2/tests/hosted_cluster_metrics_test.go
  test/e2e/v2/tests/hosted_cluster_node_communication_test.go
  test/e2e/v2/tests/hosted_cluster_pull_secret_test.go
  test/e2e/v2/tests/hosted_cluster_secret_encryption_test.go
  test/e2e/v2/tests/hosted_cluster_security_test.go
  test/e2e/v2/tests/nodepool_autoscaling_test.go
  test/e2e/v2/tests/nodepool_lifecycle_test.go
  test/e2e/v2/tests/nodepool_osimagestream_test.go
Labels: none

test(gcp): address review comments on PR 9242
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_conditions_test.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics_test.go
Labels: area/hypershift-operator

test(gcp): add unit tests for ExpectedHCConditions GCP platform case
  support/conditions/conditions_test.go
Labels: none

fix(upsert): add desired-state hash to detect spec field removals
  support/upsert/apply.go
  support/upsert/apply_test.go
Labels: none

fix(gcp): exclude rate-limit 403s from permanent credential errors
  control-plane-operator/controllers/healthcheck/gcp.go
  control-plane-operator/controllers/healthcheck/gcp_test.go
Labels: area/control-plane-operator
