Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

chore: update vendor files for GCP PSC IPv4/IPv6 validation changes
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcpprivateserviceconnect_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

refactor(api): remove RHCOSImage field from Azure types
  cmd/cluster/azure/types.go
  cmd/infra/azure/types.go
Labels: none

docs: remove bootImageID from Azure infra output documentation
  cmd/infra/azure/README.md
Labels: none

refactor(infra): remove RHCOS image upload functionality
  cmd/infra/azure/images.go
Labels: none

test: remove --rhcos-image from Azure cluster creation tests
  cmd/cluster/azure/create_test.go
Labels: none

feat(cli): remove --rhcos-image flag from Azure commands
  cmd/cluster/azure/create.go
  cmd/infra/azure/create.go
Labels: none

feat(CNTRLPLANE-1822): implement n-3 version skew validation
  api/hypershift/v1beta1/nodepool_conditions.go
  docs/content/reference/versioning-support.md
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  support/conditions/conditions.go
  support/supportedversion/version.go
  support/supportedversion/version_test.go
  test/e2e/nodepool_prev_release_test.go
  test/e2e/nodepool_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_conditions.go
Labels: area/hypershift-operator

feat(cpov2): add platformPredicate to skip platform-specific resources
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/hypershift_operator_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/controlplaneoperator/role.go
  control-plane-operator/controllers/hostedcontrolplane/v2/controlplaneoperator/role_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ingressoperator/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/component.go
  support/controlplane-component/builder.go
  support/controlplane-component/common.go
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/generic-adapter.go
Labels: area/control-plane-operator

chore(owners): Remove gcp-approvers from OWNERS files
  OWNERS
  OWNERS_ALIASES
Labels: none

chore(owners): Add jimdaga and patjlm to gcp-reviewers
  OWNERS_ALIASES
Labels: none

chore(deps): update registry.access.redhat.com/ubi9/go-toolset docker tag to v1.24.6-1763548439
  Containerfile.cli
  Containerfile.control-plane
  Containerfile.operator
Labels: none

chore(deps): update module github.com/aws/smithy-go to v1.23.2
  contrib/cleanroles/go.mod
  contrib/cleanroles/go.sum
  go.mod
  go.sum
  vendor/github.com/aws/smithy-go/CHANGELOG.md
  vendor/github.com/aws/smithy-go/Makefile
  vendor/github.com/aws/smithy-go/README.md
  vendor/github.com/aws/smithy-go/go_module_metadata.go
  vendor/github.com/aws/smithy-go/metrics/nop.go
  vendor/github.com/aws/smithy-go/middleware/ordered_group.go
  vendor/github.com/aws/smithy-go/middleware/step_build.go
  vendor/github.com/aws/smithy-go/middleware/step_deserialize.go
  vendor/github.com/aws/smithy-go/middleware/step_finalize.go
  vendor/github.com/aws/smithy-go/middleware/step_initialize.go
  vendor/github.com/aws/smithy-go/middleware/step_serialize.go
  vendor/github.com/aws/smithy-go/transport/http/metrics.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/coreos/go-systemd/v22 to v22.6.0
  go.mod
  go.sum
  vendor/github.com/coreos/go-systemd/v22/journal/journal.go
  vendor/github.com/coreos/go-systemd/v22/journal/journal_unix.go
  vendor/github.com/coreos/go-systemd/v22/unit/deserialize.go
  vendor/github.com/coreos/go-systemd/v22/unit/doc.go
  vendor/github.com/coreos/go-systemd/v22/unit/option.go
  vendor/github.com/coreos/go-systemd/v22/unit/serialize.go
  vendor/modules.txt
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

test(e2e): fix TestNodePool test failure when installing cilium as external cni
  test/e2e/nodepool_test.go
Labels: none

fix(deps): update module go.uber.org/zap to v1.27.1
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/go.uber.org/zap/.golangci.yml
  hack/tools/vendor/go.uber.org/zap/CHANGELOG.md
  hack/tools/vendor/go.uber.org/zap/CODE_OF_CONDUCT.md
  hack/tools/vendor/go.uber.org/zap/LICENSE
  hack/tools/vendor/go.uber.org/zap/Makefile
  hack/tools/vendor/go.uber.org/zap/field.go
  hack/tools/vendor/go.uber.org/zap/http_handler.go
  hack/tools/vendor/go.uber.org/zap/logger.go
  hack/tools/vendor/go.uber.org/zap/options.go
  hack/tools/vendor/go.uber.org/zap/sink.go
  hack/tools/vendor/go.uber.org/zap/zapcore/buffered_write_syncer.go
  hack/tools/vendor/go.uber.org/zap/zapcore/console_encoder.go
  hack/tools/vendor/go.uber.org/zap/zapcore/entry.go
  hack/tools/vendor/go.uber.org/zap/zapcore/lazy_with.go
  hack/tools/vendor/go.uber.org/zap/zapcore/level.go
  hack/tools/vendor/modules.txt
  vendor/go.uber.org/zap/.golangci.yml
  vendor/go.uber.org/zap/CHANGELOG.md
  vendor/go.uber.org/zap/CODE_OF_CONDUCT.md
  vendor/go.uber.org/zap/LICENSE
  vendor/go.uber.org/zap/Makefile
  vendor/go.uber.org/zap/field.go
  vendor/go.uber.org/zap/http_handler.go
  vendor/go.uber.org/zap/logger.go
  vendor/go.uber.org/zap/options.go
  vendor/go.uber.org/zap/sink.go
  vendor/go.uber.org/zap/zapcore/buffered_write_syncer.go
  vendor/go.uber.org/zap/zapcore/console_encoder.go
  vendor/go.uber.org/zap/zapcore/entry.go
  vendor/go.uber.org/zap/zapcore/lazy_with.go
  vendor/go.uber.org/zap/zapcore/level.go
  vendor/modules.txt
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

chore(deps): update module github.com/azuread/microsoft-authentication-library-for-go to v1.6.0
  go.mod
  go.sum
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/confidential/confidential.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/base/base.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/base/storage/items.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/base/storage/storage.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/local/server.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/accesstokens/accesstokens.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/authority/authority.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/resolvers.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/public/public.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/cyphar/filepath-securejoin to v0.6.1
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/.golangci.yml
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/CHANGELOG.md
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/COPYING.md
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/LICENSE.BSD
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/LICENSE.MPL-2.0
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/README.md
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/VERSION
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/codecov.yml
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/doc.go
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/internal/consts/consts.go
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/join.go
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/vfs.go
  hack/tools/vendor/github.com/stretchr/testify/assert/assertion_compare.go
  hack/tools/vendor/github.com/stretchr/testify/assert/assertion_format.go
  hack/tools/vendor/github.com/stretchr/testify/assert/assertion_forward.go
  hack/tools/vendor/github.com/stretchr/testify/assert/assertion_order.go
  hack/tools/vendor/github.com/stretchr/testify/assert/assertions.go
  hack/tools/vendor/github.com/stretchr/testify/assert/doc.go
  hack/tools/vendor/github.com/stretchr/testify/assert/http_assertions.go
  hack/tools/vendor/github.com/stretchr/testify/assert/yaml/yaml_custom.go
  hack/tools/vendor/github.com/stretchr/testify/assert/yaml/yaml_default.go
  hack/tools/vendor/github.com/stretchr/testify/assert/yaml/yaml_fail.go
  hack/tools/vendor/github.com/stretchr/testify/mock/mock.go
  hack/tools/vendor/modules.txt
Labels: none

chore(api): Generate deepcopy and CRD manifests
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/IngressControllerLBSubnetsAWS.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/SetEIPForNLBIngressController.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/IngressControllerLBSubnetsAWS.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/SetEIPForNLBIngressController.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
Labels: area/hypershift-operator

feat(api): Add IngressOperatorSpec to OperatorConfiguration
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/operator.go
Labels: area/hypershift-operator

chore(vendor): Add openshift/api operator/v1 types
  api/vendor/github.com/openshift/api/operator/v1/Makefile
  api/vendor/github.com/openshift/api/operator/v1/doc.go
  api/vendor/github.com/openshift/api/operator/v1/register.go
  api/vendor/github.com/openshift/api/operator/v1/types.go
  api/vendor/github.com/openshift/api/operator/v1/types_authentication.go
  api/vendor/github.com/openshift/api/operator/v1/types_cloudcredential.go
  api/vendor/github.com/openshift/api/operator/v1/types_config.go
  api/vendor/github.com/openshift/api/operator/v1/types_console.go
  api/vendor/github.com/openshift/api/operator/v1/types_csi_cluster_driver.go
  api/vendor/github.com/openshift/api/operator/v1/types_csi_snapshot.go
  api/vendor/github.com/openshift/api/operator/v1/types_dns.go
  api/vendor/github.com/openshift/api/operator/v1/types_etcd.go
  api/vendor/github.com/openshift/api/operator/v1/types_ingress.go
  api/vendor/github.com/openshift/api/operator/v1/types_insights.go
  api/vendor/github.com/openshift/api/operator/v1/types_kubeapiserver.go
  api/vendor/github.com/openshift/api/operator/v1/types_kubecontrollermanager.go
  api/vendor/github.com/openshift/api/operator/v1/types_kubestorageversionmigrator.go
  api/vendor/github.com/openshift/api/operator/v1/types_machineconfiguration.go
  api/vendor/github.com/openshift/api/operator/v1/types_network.go
  api/vendor/github.com/openshift/api/operator/v1/types_olm.go
  api/vendor/github.com/openshift/api/operator/v1/types_openshiftapiserver.go
  api/vendor/github.com/openshift/api/operator/v1/types_openshiftcontrollermanager.go
  api/vendor/github.com/openshift/api/operator/v1/types_scheduler.go
  api/vendor/github.com/openshift/api/operator/v1/types_serviceca.go
  api/vendor/github.com/openshift/api/operator/v1/types_servicecatalogapiserver.go
  api/vendor/github.com/openshift/api/operator/v1/types_servicecatalogcontrollermanager.go
  api/vendor/github.com/openshift/api/operator/v1/types_storage.go
  api/vendor/github.com/openshift/api/operator/v1/zz_generated.deepcopy.go
  api/vendor/github.com/openshift/api/operator/v1/zz_generated.featuregated-crd-manifests.yaml
  api/vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  api/vendor/modules.txt
Labels: area/hypershift-operator

feat(controllers): Implement ingress endpoint publishing strategy support
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

chore(client): Generate applyconfiguration for IngressOperatorSpec
  client/applyconfiguration/hypershift/v1beta1/ingressoperatorspec.go
  client/applyconfiguration/hypershift/v1beta1/operatorconfiguration.go
  client/applyconfiguration/utils.go
Labels: none

test(e2e): Add ingress operator configuration validation
  test/e2e/create_cluster_test.go
  test/e2e/util/util_ingress_operator_configuration.go
Labels: none
