Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

wire up featureset pipeline, adding featureset aware featuregate support to hypershift operate
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  control-plane-operator/featuregates/featuregates.go
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/featuregate/feature.go
  hypershift-operator/featuregate/gates.go
  hypershift-operator/main.go
Labels: area/hypershift-operator, area/control-plane-operator

make verify
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/featuregate/feature.go
Labels: area/hypershift-operator

make lint-fix
  control-plane-operator/featuregates/featuregates.go
  hypershift-operator/featuregate/feature.go
  pkg/featuregates/featuregates.go
  pkg/featuregates/featuregates_test.go
Labels: area/hypershift-operator, area/control-plane-operator

Fix formatting in token_test.go
  hypershift-operator/controllers/nodepool/token_test.go
Labels: area/hypershift-operator

Add test cases for TestSetExpirationTimestampOnToken and TestTokenCleanupOutdated
  hypershift-operator/controllers/nodepool/token_test.go
Labels: area/hypershift-operator

Don't set IgnitionServerTokenExpirationTimestampAnnotation if already set
  hypershift-operator/controllers/nodepool/token.go
Labels: area/hypershift-operator

Use system trust bundle in CPO IDP https client
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert_test.go
Labels: area/control-plane-operator

Re-introduce static images for "guest" clusters
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/v2/olm/catalogs/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/olm/catalogs/imagestream.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/olm/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/catalogs/images.go
Labels: area/control-plane-operator

Reconcile proxy CA bundle into hosted cluster
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pki.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

test/e2e: run EnsureImageRegistryCapabilityDisabled on 4.18
  test/e2e/util/util.go
Labels: none

Add CapacityReservation support in NodePool API
  api/hypershift/v1beta1/aws.go
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/nodepool_conditions.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  go.mod
  go.sum
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/main.go
Labels: area/hypershift-operator

Enable ppc64le builds
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

CNTRLPLANE-217: Add E2E to KubeAPIServerDNSName API to cover KAS custom certificate
  support/util/pki.go
  support/util/pki_test.go
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: none

Add NodePool minor version compatibility check
  api/hypershift/v1beta1/nodepool_conditions.go
  docs/content/how-to/common/nodepool-version-compatibility.md
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  support/conditions/conditions.go
  test/e2e/nodepool_prev_release_test.go
  test/e2e/nodepool_test.go
  test/e2e/nodepool_upgrade_test.go
  test/e2e/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_conditions.go
Labels: area/hypershift-operator

OCPBUGS-53261: Add validation to avoid conflicts between KubeAPIServer and NamedCertificates SANs
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/pki/konnectivity.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/validations/ocpapiserver.go
  hypershift-operator/controllers/hostedcluster/validations/ocpapiserver_test.go
  support/pki/kas.go
  support/pki/kas_test.go
  support/util/pki.go
  support/util/pki_test.go
Labels: area/hypershift-operator, area/control-plane-operator

OCPBUGS-54630: Sync RBAC for attaching volumes on VM level
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/infra_role.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

Make sure driver operators have access to management KAS
  hypershift-operator/controllers/hostedcluster/network_policies.go
  test/e2e/util/util.go
Labels: area/hypershift-operator

Add OWNERS to kas-bootstrap
  kas-bootstrap/OWNERS
Labels: none

WIP destroy
  cmd/cluster/azure/destroy.go
  cmd/cluster/core/destroy.go
  cmd/infra/azure/destroy.go
Labels: none

Enable staticcheck in golangci-lint
  .golangci.yml
Labels: none

Fix issues found by staticcheck linter
  availability-prober/availability_prober.go
  cmd/bastion/aws/create.go
  cmd/bastion/aws/destroy.go
  cmd/cluster/core/create.go
  cmd/infra/aws/destroy.go
  cmd/infra/aws/destroy_iam.go
  cmd/infra/powervs/create.go
  cmd/infra/powervs/destroy.go
  cmd/install/install.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/main.go
  dnsresolver/cmd.go
  etcd-defrag/etcddefrag_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
  hypershift-operator/main.go
  ignition-server/controllers/local_ignitionprovider.go
  konnectivity-https-proxy/cmd.go
  pkg/etcdcli/etcdcli.go
  support/config/deployment.go
  support/releaseinfo/releaseinfo.go
  support/thirdparty/kubernetes/pkg/credentialprovider/config.go
  support/thirdparty/library-go/pkg/image/registryclient/client.go
  support/upsert/loopdetector.go
  test/e2e/util/node.go
  test/e2e/util/oauth.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(deps): bump golang-jwt v4 and v5
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v5/MIGRATION_GUIDE.md
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/ecdsa.go
  vendor/github.com/golang-jwt/jwt/v5/ed25519.go
  vendor/github.com/golang-jwt/jwt/v5/errors_go_other.go
  vendor/github.com/golang-jwt/jwt/v5/hmac.go
  vendor/github.com/golang-jwt/jwt/v5/none.go
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/parser_option.go
  vendor/github.com/golang-jwt/jwt/v5/rsa.go
  vendor/github.com/golang-jwt/jwt/v5/rsa_pss.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/github.com/golang-jwt/jwt/v5/types.go
  vendor/github.com/golang-jwt/jwt/v5/validator.go
  vendor/modules.txt
Labels: none

Add missing servicemonitors and prometheusrules permissions for non-OVN
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator_test.go
Labels: area/control-plane-operator

OCPBUGS-53261: Add validation to avoid conflicts between KubeAPIServer and NamedCertificates SANs
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/pki/konnectivity.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/validations/ocpapiserver.go
  hypershift-operator/controllers/hostedcluster/validations/ocpapiserver_test.go
  support/pki/kas.go
  support/pki/kas_test.go
  test/util/pki.go
  test/util/pki_test.go
Labels: area/hypershift-operator, area/control-plane-operator

feat: add support for feature set aware feature gates to HO and CPO
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  control-plane-operator/featuregates/featuregates.go
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/featuregate/feature.go
  hypershift-operator/featuregate/gates.go
  hypershift-operator/main.go
  pkg/featuregates/featuregates.go
  pkg/featuregates/featuregates_test.go
Labels: area/hypershift-operator, area/control-plane-operator

fixup! update failing test
  cmd/install/assets/hypershift_operator_test.go
Labels: none

OCPBUGS-54630: Sync RBAC for attaching volumes on VM level
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/infra_role.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

OCPBUGS-54630: Sync RBAC for attaching volumes on VM level
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/infra_role.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

Add missing servicemonitors and prometheusrules permissions for non-OVN
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator_test.go
Labels: area/control-plane-operator

e2e: add autonode karpenter drift hcp upgrade e2e test
  support/api/scheme.go
  test/e2e/assets/karpenter-workloads.yaml
  test/e2e/karpenter_test.go
  test/e2e/util/eventually.go
Labels: none

Add polling for kas-bootstrap kas network requests
  kas-bootstrap/kas_boostrap.go
Labels: none

validMinorVersion-controller test
  test/e2e/nodepool_upgrade_test.go
Labels: none

OCPBUGS-41853: Add documentation for API Server custom certificate in HCP
  docs/content/how-to/configure-ocp-components/custom-kas-kubeconfig.md
  docs/content/how-to/configure-ocp-components/index.md
  docs/content/how-to/configure-ocp-components/kubeapi-server.md
  docs/mkdocs.yml
Labels: none

remove csi-snapshot-webhook
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/csisnapshotcontroller.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/params.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/snapshotcontroller/deployment.go
  docs/content/labs/Dual/hostedcluster/hostedcluster.md
  docs/content/labs/IPv4/hostedcluster/hostedcluster.md
  docs/content/labs/IPv6/hostedcluster/hostedcluster.md
  test/e2e/util/util.go
Labels: area/control-plane-operator

transition admissionregistration from v1beta1 to v1
  cmd/cluster/core/dump.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/config.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/kas/admissionpolicies.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/admissionpolicies.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

fix(tekton): run CPO pipelines on cpo tekton change
  .tekton/control-plane-operator-main-pull-request.yaml
  .tekton/control-plane-operator-main-push.yaml
Labels: none

fix(tekton): CPO fixes from release-4.18
  .tekton/control-plane-operator-main-pull-request.yaml
  .tekton/control-plane-operator-main-push.yaml
Labels: none

fix(tekton): stop building main branch components
  .tekton/control-plane-operator-main-pull-request.yaml
  .tekton/control-plane-operator-main-push.yaml
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

KAS: Bump audit-webhook-initial-backoff and TerminationGracePeriodSeconds when audit webhook is enabled
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/testdata/zz_fixture_TestReconcileOauthDeploymentNoChanges.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth_apiserver/deployment.go
Labels: area/control-plane-operator

bump HO supported version to 4.20
  support/supportedversion/version.go
  support/supportedversion/version_test.go
  test/e2e/util/version.go
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
