Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

Fix a bug on deletion of a hostedcluster
  api/fixtures/example.go
  cmd/cluster/core/create.go
  cmd/cluster/core/destroy.go
  cmd/cluster/none/destroy.go
  cmd/util/client.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

HOSTEDCP-1322: NodeUpgradeType defaulted by provider
  api/fixtures/example.go
  cmd/cluster/cluster.go
  product-cli/cmd/cluster/cluster.go
  product-cli/cmd/nodepool/create.go
Labels: area/hypershift-operator

hypershift-operator: conditionally apply cppo RBAC
  Containerfile.operator
  Dockerfile
  Dockerfile.control-plane
  fast.Dockerfile
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

hypershift-operator: use struct literals for clarity
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

OCPBUGS-20035: Add HostedCluster unexpected conditions summary when cluster fails to create
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: none

ACM-8466: Add Kubernetes SCC V2 options to HO containers
  cmd/install/assets/hypershift_operator.go
Labels: none

Enable CVO to evaluate conditional updates on self-managed HyperShift deployed on OpenShift
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/cvo.go
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/manifests/networkpolicy/manifests.go
  hypershift-operator/main.go
  support/config/constants.go
Labels: area/hypershift-operator, area/control-plane-operator

update app-sre saas_template.yaml
  hack/app-sre/saas_template.yaml
Labels: none

Improve CRD defaulting for HostedCluster and NodePool
  api/fixtures/example.go
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
Labels: area/hypershift-operator

docs(ibmcloud): Add HC/HCP yamls for IBM Cloud
  docs/content/reference/manifests/ibmcloud/4.10.md
  docs/content/reference/manifests/ibmcloud/4.11.md
  docs/content/reference/manifests/ibmcloud/4.12.md
  docs/content/reference/manifests/ibmcloud/4.13.md
  docs/content/reference/manifests/ibmcloud/4.9.md
  docs/content/reference/manifests/index.md
  docs/mkdocs.yml
Labels: none

NO-JIRA: Fix wrong annotation on cluster deletion
  cmd/cluster/core/destroy.go
Labels: none

control-plane-operator: reconcile the CCO
  availability-prober/availability_prober.go
  control-plane-operator/controllers/hostedcontrolplane/cco/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cco/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/cco/testdata/zz_fixture_TestReconcileDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/cco/testdata/zz_fixture_TestReconcilePodMonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/cco.go
  control-plane-operator/controllers/hostedcontrolplane/pki/cco.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/cco/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/cco/reconcile_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/clusteroperators.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/cco.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/metrics/sets.go
  test/e2e/util/util.go
  token-minter/tokenminter.go
Labels: area/control-plane-operator

OCPBUGS-24261: Konnectivity agent update strategy
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
Labels: area/control-plane-operator

remove confusing deployment code
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/powervs/powervs.go
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/pkioperator/testdata/zz_fixture_TestReconcileControlPlanePKIOperatorDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/routecm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/testdata/zz_fixture_TestReconcileOperatorDeployment.yaml
  support/config/deployment.go
Labels: area/control-plane-operator

make update
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  hack/app-sre/saas_template.yaml
Labels: none

[Release 4.14] Fix a bug on deletion of a hostedcluster
  api/fixtures/example.go
  cmd/cluster/core/create.go
  cmd/cluster/core/destroy.go
  cmd/cluster/none/destroy.go
  cmd/util/client.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

unset ServiceAccount on ignition-server-proxy
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
Labels: area/control-plane-operator

HOSTEDCP-1273: Added support for OLM Disable default sources on HC creation
  api/fixtures/example.go
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/deployments.go
  control-plane-operator/controllers/hostedcontrolplane/olm/services.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/olm.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  product-cli/cmd/cluster/cluster.go
Labels: area/hypershift-operator, area/control-plane-operator

add new secret to TestKnownSecretRefs
  api/util/configrefs/refs.go
  api/util/configrefs/refs_test.go
Labels: area/hypershift-operator

Update generated client code
  client/applyconfiguration/hypershift/v1alpha1/clusterconfiguration.go
  client/applyconfiguration/hypershift/v1beta1/clusterconfiguration.go
Labels: none

control-plane-operator: remove CCO podmonitor, metrics container
  control-plane-operator/controllers/hostedcontrolplane/cco/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cco/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/cco/testdata/zz_fixture_TestReconcileDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/cco.go
  control-plane-operator/controllers/hostedcontrolplane/pki/cco.go
  support/metrics/sets.go
Labels: area/control-plane-operator

cpo: use CPO spec container image if it is a sha256 reference
  control-plane-operator/main.go
Labels: area/control-plane-operator

Update docs/content/reference/manifests/index.md
  docs/content/reference/manifests/index.md
Labels: none

Update Latest Supported Version to 4.16 After Branch-out
  cmd/cluster/cluster.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  support/config/ownerref_test.go
  support/releaseinfo/fake/fake.go
  support/supportedversion/version.go
  support/supportedversion/version_test.go
  support/util/imagemetadata_test.go
Labels: area/hypershift-operator

Expose NodeSelector for KubeVirt VMs in NodePool
  api/fixtures/example_kubevirt.go
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1alpha1/kubevirtnodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/kubevirtnodepoolplatform.go
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  product-cli/cmd/cluster/kubevirt/create.go
  test/e2e/nodepool_kv_nodeselector_test.go
  test/e2e/nodepool_test.go
  test/e2e/util/util.go
Labels: area/hypershift-operator

Remove reference to v1alpha1 flowcontrol
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Labels: area/control-plane-operator

Update Azure destroy infra to use supported SDKs
  cmd/infra/azure/destroy.go
Labels: none

Update Azure create infra to use supported SDKs
  cmd/infra/azure/create.go
Labels: none

Align kubevirt MinSupportedVersion with the default one (4.14.0)
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  support/supportedversion/version.go
Labels: area/hypershift-operator

Revert "Merge pull request #3283 from jparrill/feat/HOSTEDCP-1273"
  api/fixtures/example.go
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1alpha1/clusterconfiguration.go
  client/applyconfiguration/hypershift/v1beta1/clusterconfiguration.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/deployments.go
  control-plane-operator/controllers/hostedcontrolplane/olm/services.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/olm.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  product-cli/cmd/cluster/cluster.go
Labels: area/hypershift-operator, area/control-plane-operator

ACM-8917: Add agentLabelSelector to nodepool agent create to CLI
  api/fixtures/example.go
  api/fixtures/example_agent.go
  cmd/cluster/agent/create.go
  cmd/cluster/core/create.go
  cmd/nodepool/agent/create.go
  product-cli/cmd/cluster/agent/create.go
  product-cli/cmd/nodepool/agent/create.go
Labels: area/hypershift-operator

OCPBUGS-24261: Konnectivity agent update strategy
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
Labels: area/control-plane-operator

implemented etcd-backup cmd
  Containerfile.operator
  Dockerfile
  Makefile
  etcd-backup/OWNERS
  etcd-backup/main.go
Labels: none

Update generated client code
  client/applyconfiguration/hypershift/v1alpha1/clusterconfiguration.go
  client/applyconfiguration/hypershift/v1beta1/clusterconfiguration.go
Labels: none

HOSTEDCP-1273: Added support for OLM Disable default sources on HC creation
  api/fixtures/example.go
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/deployments.go
  control-plane-operator/controllers/hostedcontrolplane/olm/services.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/olm.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  product-cli/cmd/cluster/cluster.go
Labels: area/hypershift-operator, area/control-plane-operator

reconcile etcd-backup cron job
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/manifests.go
Labels: area/hypershift-operator

add possibility to override s3 endpoint
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

add --s3-key-prefix and --s3-key-prefix flags
  etcd-backup/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

ACM-8466: Add Kubernetes SCC V2 options to HO containers
  cmd/install/assets/hypershift_operator.go
Labels: none

update app-sre saas_template.yaml
  hack/app-sre/saas_template.yaml
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
