Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

feat(azure): skip disabled registry infrastructure identities
  cmd/cluster/azure/create.go
  cmd/cluster/azure/create_test.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_KubeAPIServerDNSName_is_provided__it_should_configure_custom_DNS_name.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_auto_node_is_set__it_should_render_HostedCluster_with_Azure_Karpenter_AutoNode.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_availability_zones_and_image_generation_Gen1_are_provided__it_should_configure_zones_with_Gen1.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_availability_zones_are_provided__it_should_configure_zones.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_complex_configuration_flags_are_provided__it_should_create_cluster_with_all_options.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_disabled_capabilities_are_provided__it_should_configure_disabled_capabilities.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_endpoint_access_is_Private_with_private_flags__it_should_configure_private_endpoint_access.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_image_generation_Gen1_is_provided__it_should_configure_Gen1_images.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_image_generation_Gen2_is_provided__it_should_configure_Gen2_images.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_marketplace_flags_and_image_generation_Gen1_are_provided__it_should_configure_marketplace_with_Gen1.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_successfully.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_oauth_publishing_strategy_is_LoadBalancer__it_should_configure_OAuth_LoadBalancer.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_self_managed_Azure_disables_ImageRegistry__it_should_omit_the_workload_identity.yaml
  cmd/infra/azure/create.go
  cmd/infra/azure/create_iam.go
  cmd/infra/azure/create_iam_test.go
  cmd/infra/azure/create_test.go
  cmd/infra/azure/identities.go
  cmd/infra/azure/identities_test.go
  cmd/infra/azure/rbac.go
  cmd/infra/azure/rbac_test.go
  cmd/infra/azure/types.go
Labels: none

feat(operator): gate Azure registry identity consumers
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/azure_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/deployment.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/azure/azure.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/azure/azure_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure_test.go
Labels: area/hypershift-operator, area/control-plane-operator

docs(azure): document optional registry identities
  docs/content/how-to/azure/create-iam-separately.md
  docs/content/how-to/azure/create-infra-separately.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/infrastructure/azure-aro-hcp.md
  docs/content/reference/infrastructure/azure-self-managed.md
  test/e2e/v2/tests/hosted_cluster_image_registry_test.go
Labels: none

feat(cpov2): add WithPreconditions to gate rollout on HCP conditions
  api/hypershift/v1beta1/controlplanecomponent_types.go
  support/controlplane-component/builder.go
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/precondition_test.go
  support/controlplane-component/status.go
  support/controlplane-component/status_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/controlplanecomponent_types.go
Labels: area/hypershift-operator

feat(kms): propagate initialKMSKeyARN to guest ClusterCSIDriver
  cmd/cluster/aws/create.go
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.csidriverconfig.testsuite.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/component_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/storage/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/storage/reconcile_test.go
Labels: area/control-plane-operator

feat(api): add initialKMSKeyARN field for StorageClass KMS encryption
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/operator.go
Labels: area/hypershift-operator

test(e2e): add e2ev2 StorageClass KMS encryption test
  test/e2e/v2/tests/hosted_cluster_storage_kms_test.go
Labels: none

fix(nodepool): Refresh user data after ignition token rotation
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
Labels: area/hypershift-operator

fix(nodepool): Preserve active bootstrap identity on token refresh
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/secret_janitor.go
  hypershift-operator/controllers/nodepool/secret_janitor_test.go
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
Labels: area/hypershift-operator

chore(deps): update sigs.k8s.io/json digest to 11ed52e
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
  contrib/aws-tag-lb-service-webhook/go.mod
  contrib/aws-tag-lb-service-webhook/go.sum
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/modules.txt
  vendor/modules.txt
Labels: area/hypershift-operator

chore(deps): update module cloud.google.com/go/compute/metadata to v0.9.1
  go.mod
  go.sum
  vendor/cloud.google.com/go/compute/metadata/.repo-metadata.json
  vendor/cloud.google.com/go/compute/metadata/CHANGES.md
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/fxamacker/cbor/v2 to v2.9.4
  api/go.mod
  api/go.sum
  api/vendor/github.com/fxamacker/cbor/v2/.golangci.yml
  api/vendor/github.com/fxamacker/cbor/v2/README.md
  api/vendor/github.com/fxamacker/cbor/v2/cache.go
  api/vendor/github.com/fxamacker/cbor/v2/decode.go
  api/vendor/github.com/fxamacker/cbor/v2/decode_map_utils.go
  api/vendor/github.com/fxamacker/cbor/v2/diagnose.go
  api/vendor/github.com/fxamacker/cbor/v2/doc.go
  api/vendor/github.com/fxamacker/cbor/v2/encode.go
  api/vendor/github.com/fxamacker/cbor/v2/simplevalue.go
  api/vendor/github.com/fxamacker/cbor/v2/stream.go
  api/vendor/github.com/fxamacker/cbor/v2/structfields.go
  api/vendor/github.com/fxamacker/cbor/v2/tag.go
  api/vendor/github.com/fxamacker/cbor/v2/valid.go
  api/vendor/modules.txt
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/fxamacker/cbor/v2/.golangci.yml
  hack/tools/vendor/github.com/fxamacker/cbor/v2/README.md
  hack/tools/vendor/github.com/fxamacker/cbor/v2/cache.go
  hack/tools/vendor/github.com/fxamacker/cbor/v2/decode.go
  hack/tools/vendor/github.com/fxamacker/cbor/v2/decode_map_utils.go
  hack/tools/vendor/github.com/fxamacker/cbor/v2/diagnose.go
  hack/tools/vendor/github.com/fxamacker/cbor/v2/doc.go
  hack/tools/vendor/github.com/fxamacker/cbor/v2/encode.go
  hack/tools/vendor/github.com/fxamacker/cbor/v2/simplevalue.go
  hack/tools/vendor/github.com/fxamacker/cbor/v2/stream.go
  hack/tools/vendor/github.com/fxamacker/cbor/v2/structfields.go
  hack/tools/vendor/github.com/fxamacker/cbor/v2/tag.go
  hack/tools/vendor/github.com/fxamacker/cbor/v2/valid.go
  hack/tools/vendor/modules.txt
  vendor/github.com/fxamacker/cbor/v2/cache.go
  vendor/github.com/fxamacker/cbor/v2/decode.go
  vendor/modules.txt
Labels: area/hypershift-operator

chore(deps): update module cyphar.com/go-pathrs to v0.2.6
  go.mod
  go.sum
  vendor/cyphar.com/go-pathrs/.golangci.yml
  vendor/cyphar.com/go-pathrs/doc.go
  vendor/cyphar.com/go-pathrs/handle_linux.go
  vendor/cyphar.com/go-pathrs/internal/fdutils/fd_linux.go
  vendor/cyphar.com/go-pathrs/internal/libpathrs/error_unix.go
  vendor/cyphar.com/go-pathrs/internal/libpathrs/libpathrs_linux.go
  vendor/cyphar.com/go-pathrs/procfs/procfs_linux.go
  vendor/cyphar.com/go-pathrs/root_linux.go
  vendor/cyphar.com/go-pathrs/utils_linux.go
  vendor/cyphar.com/go-pathrs/version_linux.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/gabriel-vasile/mimetype to v1.4.15
  go.mod
  go.sum
  vendor/github.com/gabriel-vasile/mimetype/.golangci.yml
  vendor/github.com/gabriel-vasile/mimetype/README.md
  vendor/github.com/gabriel-vasile/mimetype/codecov.yml
  vendor/github.com/gabriel-vasile/mimetype/internal/cdf/cdf.go
  vendor/github.com/gabriel-vasile/mimetype/internal/charset/charset.go
  vendor/github.com/gabriel-vasile/mimetype/internal/csv/parser.go
  vendor/github.com/gabriel-vasile/mimetype/internal/json/parser.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/archive.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/audio.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/binary.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/document.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/font.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/geo.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/image.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/magic.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/meteo.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/ms_office.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/text.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/text_csv.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/video.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/zip.go
  vendor/github.com/gabriel-vasile/mimetype/internal/mp3/frame.go
  vendor/github.com/gabriel-vasile/mimetype/internal/scan/bytes.go
  vendor/github.com/gabriel-vasile/mimetype/mime.go
  vendor/github.com/gabriel-vasile/mimetype/mimetype.go
  vendor/github.com/gabriel-vasile/mimetype/supported_mimes.md
  vendor/github.com/gabriel-vasile/mimetype/tree.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/go-jose/go-jose/v4 to v4.1.5
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v4/asymmetric.go
  vendor/github.com/go-jose/go-jose/v4/cipher/cbc_hmac.go
  vendor/github.com/go-jose/go-jose/v4/crypter.go
  vendor/github.com/go-jose/go-jose/v4/json/scanner.go
  vendor/github.com/go-jose/go-jose/v4/jwe.go
  vendor/github.com/go-jose/go-jose/v4/jwk.go
  vendor/github.com/go-jose/go-jose/v4/jws.go
  vendor/github.com/go-jose/go-jose/v4/opaque.go
  vendor/github.com/go-jose/go-jose/v4/shared.go
  vendor/github.com/go-jose/go-jose/v4/signing.go
  vendor/github.com/go-jose/go-jose/v4/symmetric.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/felixge/fgprof to v0.9.5
  go.mod
  go.sum
  vendor/github.com/felixge/fgprof/fgprof.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/go-playground/universal-translator to v0.18.2
  go.mod
  go.sum
  vendor/github.com/go-playground/universal-translator/CLAUDE.md
  vendor/github.com/go-playground/universal-translator/CONTRIBUTING.md
  vendor/github.com/go-playground/universal-translator/README.md
  vendor/github.com/go-playground/universal-translator/errors.go
  vendor/github.com/go-playground/universal-translator/import_export.go
  vendor/github.com/go-playground/universal-translator/translator.go
  vendor/modules.txt
Labels: none

chore(deps): update module cel.dev/expr to v0.25.3
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/cel.dev/expr/README.md
  hack/tools/vendor/modules.txt
  vendor/cel.dev/expr/README.md
  vendor/modules.txt
Labels: none

fix(nodepool): Bootstrap secrets when current version is missing
  hypershift-operator/controllers/nodepool/config_test.go
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
Labels: area/hypershift-operator

fix(nodepool): Restrict token refresh to Ignition source
  hypershift-operator/controllers/nodepool/secret_janitor_test.go
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
Labels: area/hypershift-operator

chore(deps): update module github.com/google/s2a-go to v0.1.10
  go.mod
  go.sum
  vendor/github.com/google/s2a-go/internal/proto/common_go_proto/common.pb.go
  vendor/github.com/google/s2a-go/internal/proto/s2a_context_go_proto/s2a_context.pb.go
  vendor/github.com/google/s2a-go/internal/proto/s2a_go_proto/s2a.pb.go
  vendor/github.com/google/s2a-go/internal/proto/s2a_go_proto/s2a_grpc.pb.go
  vendor/github.com/google/s2a-go/internal/proto/v2/common_go_proto/common.pb.go
  vendor/github.com/google/s2a-go/internal/proto/v2/s2a_context_go_proto/s2a_context.pb.go
  vendor/github.com/google/s2a-go/internal/proto/v2/s2a_go_proto/s2a.pb.go
  vendor/github.com/google/s2a-go/internal/proto/v2/s2a_go_proto/s2a_grpc.pb.go
  vendor/github.com/google/s2a-go/internal/v2/s2av2.go
  vendor/github.com/google/s2a-go/s2a.go
  vendor/github.com/google/s2a-go/s2a_options.go
  vendor/modules.txt
Labels: none

fix(deps): update k8s.io/utils digest to cf1189d
  api/go.mod
  api/go.sum
  api/vendor/k8s.io/utils/internal/third_party/forked/golang/net/ip.go
  api/vendor/k8s.io/utils/ptr/OWNERS
  api/vendor/k8s.io/utils/ptr/ptr.go
  api/vendor/modules.txt
  contrib/aws-tag-lb-service-webhook/go.mod
  contrib/aws-tag-lb-service-webhook/go.sum
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/k8s.io/utils/internal/third_party/forked/golang/golang-lru/lru.go
  hack/tools/vendor/k8s.io/utils/internal/third_party/forked/golang/net/ip.go
  hack/tools/vendor/k8s.io/utils/lru/lru.go
  hack/tools/vendor/k8s.io/utils/ptr/OWNERS
  hack/tools/vendor/k8s.io/utils/ptr/ptr.go
  hack/tools/vendor/k8s.io/utils/set/set.go
  hack/tools/vendor/k8s.io/utils/trace/trace.go
  hack/tools/vendor/modules.txt
Labels: area/hypershift-operator

chore(deps): update module github.com/googleapis/enterprise-certificate-proxy to v0.3.22
  go.mod
  go.sum
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/grpc-ecosystem/go-grpc-middleware/v2 to v2.3.4
  go.mod
  go.sum
  vendor/modules.txt
Labels: none

docs(gcp): update zone flag help text for cluster and nodepool
  cmd/cluster/gcp/create.go
  cmd/nodepool/gcp/create.go
Labels: none

test(gcp): conform load balancer test case names
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/gcp_lb_service_annotations_test.go
  support/gcputil/lb_resource_labels_test.go
Labels: area/control-plane-operator

Revert "Merge pull request #8698 from csrwng/ocpstrat-3298-predictable-rollout"
  api/hypershift/v1beta1/nodepool_conditions.go
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/conditions_test.go
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/token.go
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller.go
  test/e2e/v2/tests/nodepool_lifecycle_test.go
  test/e2e/v2/tests/nodepool_rollout_control_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_conditions.go
Labels: area/hypershift-operator

fix(kubevirt): use only first MachineInternalIP per family in EndpointSlice endpoints
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/machine.go
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/machine_test.go
Labels: area/control-plane-operator

fix(globalps): schedule global-pull-secret-syncer on karpenter nodes
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps_test.go
  docs/content/how-to/common/global-pull-secret.md
  docs/content/reference/aggregated-docs.md
  test/e2e/karpenter_test.go
Labels: area/control-plane-operator

fix(kubevirt): support arch-specific NodePools on multi-arch infra clusters
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/nodepool/kubevirt/create.go
  cmd/nodepool/kubevirt/create_test.go
  docs/content/how-to/kubevirt/create-kubevirt-cluster.md
  hypershift-operator/controllers/nodepool/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

fix(kubevirt): reject unsupported arches in defaultImage and add missing arch/NodeSelector test cases
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
Labels: area/hypershift-operator

fix(kubevirt): fix lint errors and regenerate aggregated docs
  docs/content/reference/aggregated-docs.md
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
Labels: area/hypershift-operator

fix(konnectivity): enable --sync-forever to restore lost agent-server tunnels
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/AROSwift/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/GCP/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/IBMCloud/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/konnectivity-agent/deployment.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile_test.go
Labels: area/control-plane-operator

fix(konnectivity): enable --sync-forever to restore lost agent-server tunnels
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/AROSwift/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/IBMCloud/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/konnectivity-agent/deployment.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile_test.go
Labels: area/control-plane-operator

feat: report deprecated OVNSbDb and OIDC service entries via HostedClusterConfigurationDeprecated condition
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator, area/control-plane-operator

feat: report deprecated spec.platform.aws.multiArch field via HostedClusterConfigurationDeprecated condition
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator, area/control-plane-operator

test(e2e): add SVC URL validation to KubeAPIDNSName test
  support/forwarder/forwarder.go
  test/e2e/util/util.go
  test/e2e/v2/tests/hosted_cluster_dns_test.go
Labels: none

chore(gitignore): add some files/folders to gitignore
  .gitignore
Labels: none

feat: report deprecated spec.secretEncryption.aescbc.backupKey field via HostedClusterConfigurationDeprecated condition
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator, area/control-plane-operator

feat: report deprecated spec.secretEncryption.kms.aws.backupKey field via HostedClusterConfigurationDeprecated condition
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
