Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

feat: sync ingress default certificate to control plane namespace
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/ingress_default_cert_sync_test.go
  hypershift-operator/controllers/hostedcluster/reconcile_legacy.go
Labels: area/hypershift-operator

feat: use user-provided cert for default ingress controller in HCCO
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

test: add v1 e2e utility for ingress default certificate validation
  test/e2e/util/util_ingress_operator_configuration.go
Labels: none

test: add lifecycle e2e test for ingress default certificate
  test/e2e/v2/tests/hosted_cluster_ingress_test.go
Labels: none

fix(kubevirt): validate additionalNetworks name format via CEL
  api/hypershift/v1beta1/kubevirt.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.kubevirt.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/kubevirt.go
Labels: area/hypershift-operator

fix(karpenter): use completed release image for unpinned NodeClaims during CP upgrade
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller.go
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller_test.go
  test/e2e/karpenter_control_plane_upgrade_test.go
  test/e2e/karpenter_test.go
Labels: none

fix(karpenter): address review feedback on release image resolution
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller.go
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller_test.go
  test/e2e/karpenter_control_plane_upgrade_test.go
  test/e2e/karpenter_test.go
Labels: none

fix(konnectivity): conditionally prefer IPv4 based on HCP network config
  konnectivity-https-proxy/cmd.go
  konnectivity-socks5-proxy/main.go
  support/controlplane-component/konnectivity-container.go
  support/controlplane-component/konnectivity-container_test.go
  support/konnectivityproxy/dialer.go
  support/konnectivityproxy/resolver.go
  support/konnectivityproxy/resolver_test.go
Labels: area/control-plane-operator

feat: hardcode ETCD_METRICS=extensive in etcd StatefulSet template
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/AROSwift/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/GCP/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/IBMCloud/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/ModernTLS/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/statefulset.yaml
Labels: area/control-plane-operator

docs: add upstream documentation for configurable log levels (CNTRLPLANE-3291)
  docs/content/how-to/configure-ocp-components/configurable-log-levels.md
  docs/content/reference/aggregated-docs.md
  docs/mkdocs.yml
Labels: none

feat(capi-manager): inject centralized TLS configuration
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_manager/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_manager/deployment_test.go
Labels: area/control-plane-operator

refactor(powervs/ibm-cloud-controller-manager): drop redundant --use-service-account-credentials argument
  control-plane-operator/controllers/hostedcontrolplane/testdata/powervs-cloud-controller-manager/AROSwift/zz_fixture_TestControlPlaneComponents_powervs_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/powervs-cloud-controller-manager/GCP/zz_fixture_TestControlPlaneComponents_powervs_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/powervs-cloud-controller-manager/IBMCloud/zz_fixture_TestControlPlaneComponents_powervs_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/powervs-cloud-controller-manager/ModernTLS/zz_fixture_TestControlPlaneComponents_powervs_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/powervs-cloud-controller-manager/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_powervs_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/powervs-cloud-controller-manager/zz_fixture_TestControlPlaneComponents_powervs_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/powervs-cloud-controller-manager/deployment.yaml
Labels: area/control-plane-operator

refactor(hostedcontrolplane controllers): use config.AppendTLSArgs to append TLS flags
  control-plane-operator/controllers/hostedcontrolplane/v2/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/machine_approver/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth_apiserver/deployment.go
Labels: area/control-plane-operator

chore(deps): update root module dependencies
  go.mod
  go.sum
Labels: none

chore(deps): update API module dependencies
  api/go.mod
  api/go.sum
Labels: area/hypershift-operator

chore(deps): update API vendored dependencies
  api/vendor/golang.org/x/net/http2/transport_wrap.go
  api/vendor/golang.org/x/net/idna/idna.go
  api/vendor/golang.org/x/text/unicode/norm/forminfo.go
  api/vendor/golang.org/x/text/unicode/norm/iter.go
  api/vendor/golang.org/x/text/unicode/norm/normalize.go
  api/vendor/modules.txt
Labels: area/hypershift-operator

chore(deps): update hack/tools module dependencies
  hack/tools/go.mod
  hack/tools/go.sum
Labels: none

chore: update remaining generated files
  contrib/aws-tag-lb-service-webhook/go.mod
  contrib/aws-tag-lb-service-webhook/go.sum
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
Labels: none

test(ui): add Playwright UI test infrastructure
  .github/dependabot.yml
  .gitignore
  Makefile
  test/ui/.env.example
  test/ui/.gitignore
  test/ui/.prettierignore
  test/ui/.prettierrc
  test/ui/README.md
  test/ui/eslint.config.mjs
  test/ui/package-lock.json
  test/ui/package.json
  test/ui/playwright.config.ts
  test/ui/src/auth.setup.ts
  test/ui/src/config/index.ts
  test/ui/src/constants/index.ts
  test/ui/src/fixtures/hypershift-test.ts
  test/ui/src/global-setup.ts
  test/ui/src/services/OcCliService.ts
  test/ui/src/services/index.ts
  test/ui/src/tests/common/smoke.spec.ts
  test/ui/src/utils/index.ts
  test/ui/src/utils/kube-helper.ts
  test/ui/tsconfig.json
Labels: none

feat(destroy): add --force flag to strip finalizers on grace period expiry
  cmd/cluster/cluster.go
  cmd/cluster/core/destroy.go
  cmd/cluster/core/destroy_test.go
Labels: none

docs(nodepool): explain AzurePlatform scope for DNS gate
  hypershift-operator/controllers/nodepool/conditions.go
Labels: area/hypershift-operator

Use shared pipeline refs instead of inlined pipelineSpec for release-4.14
  .tekton/control-plane-operator-4-14-pull-request.yaml
  .tekton/control-plane-operator-4-14-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

Remove hypershift-release-414 Konflux pipelines
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

Revert "OCPBUGS-98281: Add unit tests for product-cli create cluster commands (#9107)"
  product-cli/cmd/cluster/agent/create_test.go
  product-cli/cmd/cluster/agent/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
  product-cli/cmd/cluster/aws/create_test.go
  product-cli/cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
  product-cli/cmd/cluster/azure/create_test.go
  product-cli/cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
  product-cli/cmd/cluster/kubevirt/create_test.go
  product-cli/cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
  product-cli/cmd/cluster/openstack/create_test.go
  product-cli/cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
Labels: none

Revert "CNTRLPLANE-3890: Add product-cli unit tests for HCP create cluster"
  product-cli/cmd/cluster/agent/create_test.go
  product-cli/cmd/cluster/agent/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
  product-cli/cmd/cluster/aws/create_test.go
  product-cli/cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
  product-cli/cmd/cluster/azure/create_test.go
  product-cli/cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
  product-cli/cmd/cluster/kubevirt/create_test.go
  product-cli/cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
  product-cli/cmd/cluster/openstack/create_test.go
  product-cli/cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
Labels: none

chore(owners): Add Dan Mace to core-approvers
  OWNERS_ALIASES
Labels: none

test(nodepool): add error context to DNS gate test
  hypershift-operator/controllers/nodepool/conditions_test.go
Labels: area/hypershift-operator

test: wait for global pull secret propagation
  test/e2e/util/util.go
  test/e2e/util/util_test.go
Labels: none

test: clarify global pull secret assertions
  test/e2e/util/util_test.go
Labels: none

fix: OCPBUGS-78575: create virt-launcher NetworkPolicy on external infra cluster
  api/hypershift/v1beta1/hostedcluster_conditions.go
  docs/content/how-to/kubevirt/external-infrastructure.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  support/conditions/conditions.go
  test/e2e/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Labels: area/hypershift-operator

feat: Update AWS EBS credentials policy to be aligned with upstream changes
  cmd/infra/aws/delegating_client.go
  cmd/infra/aws/iam.go
  support/awsapi/ec2.go
Labels: none

docs: add July 2026 progress report blog post
  docs/content/blog/2026-07-progress-report.md
  docs/content/blog/index.md
  docs/mkdocs.yml
Labels: none

fix(globalps): eliminate EnsureGlobalPullSecret e2e flake
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/setup_test.go
Labels: area/control-plane-operator

fix(e2e): emit lifecycle-aware JUnit for informing e2e tests
  test/e2e/v2/AGENTS.md
  test/e2e/v2/internal/fail_handler.go
  test/e2e/v2/internal/junit.go
  test/e2e/v2/internal/junit_test.go
  test/e2e/v2/tests/suite_test.go
Labels: none

fix(hostedcluster): handle Unknown status in ClusterVersionFailing inversion
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/reconcile_legacy.go
Labels: area/hypershift-operator

test: Remove osImageStream e2e cleanup that violates immutability
  test/e2e/v2/tests/nodepool_osimagestream_test.go
Labels: none

docs(azure): fix private cluster NAT subnet setup instructions
  docs/content/how-to/azure/deploy-azure-private-clusters.md
  docs/content/reference/aggregated-docs.md
Labels: none

docs(azure): fix private cluster NAT subnet setup instructions
  docs/content/how-to/azure/deploy-azure-private-clusters.md
  docs/content/reference/aggregated-docs.md
Labels: none

fix(ci): improve guest cluster state management reliability
  test/e2e/v2/cmd/create-guests/main.go
  test/e2e/v2/cmd/destroy-guests/main.go
  test/e2e/v2/cmd/dump-guests/main.go
  test/e2e/v2/cmd/run-tests/main.go
  test/e2e/v2/lifecycle/aws.go
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/lifecycle/manifest.go
  test/e2e/v2/lifecycle/manifest_test.go
  test/e2e/v2/lifecycle/platform.go
Labels: none

fix: update azure CPO overrides for 4.20, 4.21, 4.22
  hypershift-operator/controlplaneoperator-overrides/assets/overrides.yaml
Labels: area/hypershift-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
