Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

cpo: use CPO spec container image if it is a sha256 reference
  control-plane-operator/main.go
Labels: area/control-plane-operator

Perform etcd recovery when etcd member data is lost
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile_test.go
Labels: area/control-plane-operator

MULTIARCH-3709: PowerVS - Add reuse resource flags to e2e test
  test/e2e/e2e_test.go
  test/e2e/util/fixture.go
Labels: none

MULTIARCH-3708: PowerVS - Fix cluster deletion when existing resources passed
  cmd/infra/powervs/destroy.go
Labels: none

accout for webhook urls without a port
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

OCPBUGS-15331,OCPBUGS-16049: Enables AdvertiseAddress dual stack and IPv6 support and fixes KAS certs
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/pki/params.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/haproxy_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  support/config/constants.go
  support/util/networking.go
  support/util/networking_test.go
  support/util/util.go
  support/util/util_test.go
Labels: area/hypershift-operator, area/control-plane-operator

HOSTEDCP-1088: Hypershift e2e framework (#2834)
  hack/ci-test-e2e.sh
  test/e2e/autoscaling_test.go
  test/e2e/chaos_test.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/create_cluster_test.go
  test/e2e/nodepool_test.go
  test/e2e/olm_test.go
  test/e2e/util/fixture.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: none

test: e2e: remove SingleReplica etcd chaos test
  test/e2e/chaos_test.go
Labels: none

Validate HostedCluster name against RFC1123 in CLI
  cmd/cluster/core/create.go
Labels: none

Fixes to migrate-hcp.sh in review
  contrib/migration/migrate-hcp.sh
Labels: none

Set emptyDir storage for the image registry only on initial time for None and Kubevirt platform This allows the user to override with custom storage
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/registry/registry.go
Labels: area/control-plane-operator

Revert "HOSTEDCP-1001: Image registryOverride included in the image metadata extraction flow"
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  support/util/fakeimagemetadataprovider/fakeimagemetadataprovider.go
  support/util/imagemetadata.go
Labels: area/hypershift-operator, area/control-plane-operator

HOSTEDCP-1001: Image registryOverride included in the image metadata extraction flow
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  support/util/fakeimagemetadataprovider/fakeimagemetadataprovider.go
  support/util/imagemetadata.go
Labels: area/hypershift-operator, area/control-plane-operator

chore(deps): update rhtap references
  .tekton/hypershift-operator-release-413-pull-request.yaml
  .tekton/hypershift-operator-release-413-push.yaml
Labels: none

Remove immutable note from PullSecret
  api/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

Add pull secret to mutable fields in webhook val
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
Labels: area/hypershift-operator

fix errors from version bump
  cmd/util/v1alpha1_wrapper.go
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/powervs.go
Labels: area/hypershift-operator

Create a monitoring dashboard per HostedCluster
  cmd/install/assets/dashboard-template/monitoring-dashboard-template.json
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  docs/content/how-to/per-hostedcluster-dashboard.md
  docs/mkdocs.yml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/manifests.go
  hypershift-operator/main.go
Labels: area/hypershift-operator

Remove immutable note from PullSecret
  api/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

Validate HostedCluster name against RFC1123
  docs/content/getting-started.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

chore(deps): update rhtap references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

STOR-1443: Sync `05_operator_role-hypershift.yaml` manifest from cluster-csi-snapsht-controller-operator
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/assets/05_operator_role-hypershift.yaml
Labels: area/control-plane-operator

Document how to recover single etcd member
  docs/content/how-to/etcd-recovery.md
  docs/mkdocs.yml
Labels: none

CNO deployed hosted-cluster-kubecfg-setup initContainers use CPR image
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Labels: area/control-plane-operator

HOSTEDCP-1000: Add user CA(s) to ocm-trusted-ca-bundle ConfigMap
  hypershift-operator/init.go
  hypershift-operator/init_test.go
  hypershift-operator/main.go
Labels: area/hypershift-operator

HOSTEDCP-1000: Add image to management cluster capabilities
  support/capabilities/management_cluster_capabilities.go
Labels: none

HOSTEDCP-1000: Create Init container for hypershift operator
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
Labels: none

Update Etcd health check to mirror standalone etcd
  control-plane-operator/controllers/hostedcontrolplane/etcd/params.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
Labels: area/control-plane-operator

Some HCP related kubevirt components were not being deployed with the right pull secret
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
Labels: area/control-plane-operator

fix(ho): Restore match label selector behavior
  hypershift-operator/controllers/hostedcluster/ignitionserver/ignitionserver.go
Labels: area/hypershift-operator

fix(ho): remove additional volumes in 4.9 and 4.10
  hypershift-operator/controllers/hostedcluster/ignitionserver/ignitionserver.go
Labels: area/hypershift-operator

Add defaulting webhook to installation and notes
  docs/content/getting-started.md
Labels: none

increase HCCO cacheSyncTimeout from default 2min to 5min
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

Updated secret permissions for openshift-controller-manager
  control-plane-operator/controllers/hostedcontrolplane/routecm/deployment.go
Labels: area/control-plane-operator

Updated secret permissions for openshift-controller-manager
  control-plane-operator/controllers/hostedcontrolplane/routecm/deployment.go
Labels: area/control-plane-operator

Updated secret permissions for openshift-controller-manager
  control-plane-operator/controllers/hostedcontrolplane/routecm/deployment.go
Labels: area/control-plane-operator

Updated secret permissions for openshift-controller-manager
  control-plane-operator/controllers/hostedcontrolplane/routecm/deployment.go
Labels: area/control-plane-operator

remove NeedManagementKASAccessLabel from router deployments
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

e2e: fix pod filter for olm-collect-profiles
  test/e2e/util/util.go
Labels: none

bump HO supported version for 4.15
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt.go
  support/releaseinfo/fake/fake.go
  support/supportedversion/version.go
  support/supportedversion/version_test.go
Labels: area/hypershift-operator
