Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

OCPBUGS-61177: use common MCE konflux pipeline
  .tekton/hypershift-cli-mce-210-pull-request.yaml
  .tekton/hypershift-cli-mce-210-push.yaml
  .tekton/hypershift-release-mce-210-pull-request.yaml
  .tekton/hypershift-release-mce-210-push.yaml
  Containerfile.cli
Labels: none

Always compress and encode payload in token secret for inplace upgrades
  control-plane-operator/hostedclusterconfigoperator/controllers/inplaceupgrader/inplaceupgrader.go
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
Labels: area/control-plane-operator

feat(azure): Add comprehensive workload identities setup for self-managed Azure
  contrib/self-managed azure/setup_all.sh
  contrib/self-managed azure/setup_workload_identities.sh
  contrib/self-managed azure/vars.sh
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

OCPBUGS-61208: use common MCE konflux pipeline
  .tekton/hypershift-cli-mce-27-pull-request.yaml
  .tekton/hypershift-cli-mce-27-push.yaml
  .tekton/hypershift-release-mce-27-pull-request.yaml
  .tekton/hypershift-release-mce-27-push.yaml
  Containerfile.cli
Labels: none

OCPBUGS-61206: use common MCE konflux pipeline
  .tekton/hypershift-cli-mce-29-pull-request.yaml
  .tekton/hypershift-cli-mce-29-push.yaml
  .tekton/hypershift-release-mce-29-pull-request.yaml
  .tekton/hypershift-release-mce-29-push.yaml
  Containerfile.cli
Labels: none

OCPBUGS-61203: use common MCE konflux pipeline
  .tekton/hypershift-cli-mce-28-pull-request.yaml
  .tekton/hypershift-cli-mce-28-push.yaml
  .tekton/hypershift-release-mce-28-pull-request.yaml
  .tekton/hypershift-release-mce-28-push.yaml
  Containerfile.cli
Labels: none

refactor(azure): Extract Azure credentials setup into dedicated package
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/azure/azure.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/azure/azure_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

feat(cli,azure): add workload identities support and new flag for self-managed Azure
  cmd/cluster/azure/create.go
  cmd/infra/azure/create.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/azure/azure.go
  examples/workload-identities-example.json
Labels: area/control-plane-operator

feat(api): Add Network workload identity to AzureWorkloadIdentities
  api/hypershift/v1beta1/azure.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/azureworkloadidentities.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator

feat(azure): Add control plane operator credentials for self-managed Azure
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/azure/azure.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/creds.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  hypershift-operator/controllers/manifests/azure.go
Labels: area/hypershift-operator, area/control-plane-operator

feat(contrib/cleanroles): add utility for cleaning roles
  .gitignore
  contrib/cleanroles/Dockerfile
  contrib/cleanroles/go.mod
  contrib/cleanroles/go.sum
  contrib/cleanroles/main.go
  contrib/cleanroles/manifests/01-serviceaccount.yaml
  contrib/cleanroles/manifests/02-cronjob.yaml
  contrib/cleanroles/role-policy.json
Labels: none

fix(api): enhance API NodePool's API docs
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: area/hypershift-operator

NO-JIRA: fix(test): support external oidc settings on non-aws platform
  test/e2e/util/hypershift_framework.go
Labels: none

fix(hccp): remove immutable field from kubeletconfigmap
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

fix: Add recovery monitoring stack fixes
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/recovery/recovery.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/recovery/recovery_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(ignition-server): resolve MIRRORED_RELEASE_IMAGE flapping
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/deployment.go
  support/globalconfig/imagecontentsource.go
  support/releaseinfo/registry_image_content_policies.go
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
  support/util/util.go
Labels: area/control-plane-operator

OCPBUGS-41365: dont use registryOverrides on kube rbac proxy image because its used in dataplane
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_No_private_apiserver_connectivity__proxy_apiserver_address_is_set.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Private_apiserver_connectivity__proxy_apiserver_address_is_unset.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/assets/10_deployment-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/envreplace.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
Labels: area/control-plane-operator

fix: cleanup old PKI operator deployment during upgrades
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/util/util.go
Labels: area/control-plane-operator

feat(aws): add comprehensive AWS Spot instance support to NodePools
  api/hypershift/v1beta1/aws.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/awsspotmarketoptions.go
  client/applyconfiguration/hypershift/v1beta1/placementoptions.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/how-to/automated-machine-management/aws-spot-instances.md
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  test/e2e/create_cluster_test.go
  test/e2e/nodepool_spotmarketoptions_test.go
  test/e2e/nodepool_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/aws.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator

OCPBUGS-42338: Update KCM node monitor grace period
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
Labels: area/control-plane-operator

feat(API): Add controlPlaneUpToDate condition
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/conditions/conditions.go
  test/e2e/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Labels: area/hypershift-operator, area/control-plane-operator

chore(tests): validate conditions after executing tests
  test/e2e/util/hypershift_framework.go
Labels: none

pki fix
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/util/util.go
Labels: area/control-plane-operator

fix(test): run TestHAEtcdChaos validations
  test/e2e/chaos_test.go
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

test(autonode): allow ValidateMetrics to query karpenter pods
  test/e2e/karpenter_test.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: none

chore(autonode): refactor karpenter is enabled check
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/v2/karpenteroperator/component.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/karpenter.go
  hypershift-operator/controllers/nodepool/token.go
  support/karpenter/karpenter.go
Labels: area/hypershift-operator, area/control-plane-operator

chore(autonode): fix spelling of ProvisionerKarpenter constant
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/cluster/aws/create.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  hypershift-operator/controllers/hostedcluster/karpenter_test.go
  support/karpenter/karpenter.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator, area/control-plane-operator

DELETE: change cpu/mem req for etcd
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/statefulset.yaml
Labels: area/control-plane-operator

intro OpenshiftManagerOperator
  control-plane-operator/omoperator/cmd.go
Labels: area/control-plane-operator

DELETE: wire OpenshiftManagerOperator cmd
  control-plane-operator/main.go
Labels: area/control-plane-operator

[OCPBUGS-61299]:Fix vpc share doesn't work with public-only when create hypershift aws cluster
  cmd/infra/aws/create.go
Labels: none

init static inputresources list for auth-operator
  control-plane-operator/omoperator/cmd.go
Labels: area/control-plane-operator

go.mod: add dep on github.com/openshift/multi-operator-manager
  go.mod
Labels: none

test(e2e): propagate Azure KMS fields in DefaultAzureOptions
  cmd/cluster/azure/create.go
  support/azureutil/azureutil.go
  support/azureutil/azureutil_test.go
  test/e2e/create_cluster_test.go
  test/e2e/util/options.go
Labels: none

test(unit): unblock `make unit` by fixing failing tests and build issues
  cmd/cluster/azure/create_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-azure/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_azure_cloud_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-azure/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_azure_cloud_config_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-azure/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_azure_cloud_controller_manager_serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-azure/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cloud_controller_manager_azure_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-azure/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cloud_controller_manager_azure_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-azure/zz_fixture_TestControlPlaneComponents_azure_cloud_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-azure/zz_fixture_TestControlPlaneComponents_azure_cloud_config_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-azure/zz_fixture_TestControlPlaneComponents_azure_cloud_controller_manager_serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-azure/zz_fixture_TestControlPlaneComponents_cloud_controller_manager_azure_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-azure/zz_fixture_TestControlPlaneComponents_cloud_controller_manager_azure_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-storage-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_azure_disk_csi_config_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-storage-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_azure_file_csi_config_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-storage-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_storage_operator_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-storage-operator/zz_fixture_TestControlPlaneComponents_azure_disk_csi_config_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-storage-operator/zz_fixture_TestControlPlaneComponents_azure_file_csi_config_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-storage-operator/zz_fixture_TestControlPlaneComponents_cluster_storage_operator_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/component.go
  hypershift-operator/controllers/hostedcluster/testdata/capi-provider/zz_fixture_TestReconcileComponents.yaml
Labels: area/hypershift-operator, area/control-plane-operator

feat(azure): enable token-minter for self-managed workload identity
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-azure/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-azure/serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_provider/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/component.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
  support/azureutil/azureutil.go
  support/controlplane-component/token-minter-container.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(hcco): delete registry management state VAP/VAPB on cluster deletion for Azure
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none
