Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

OCPBUGS-20179: Now using metrics collectors to properly account for hostedclusters and nodepools deletion
  api/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics_test.go
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/main.go
  hypershift-operator/metrics.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: area/hypershift-operator

Bump k8s.io/pod-security-admission to v0.28.3
  go.mod
  go.sum
  vendor/k8s.io/pod-security-admission/api/helpers.go
  vendor/modules.txt
Labels: none

Set replace for k8s.io/kubernetes to v0.28.3
  go.mod
  vendor/modules.txt
Labels: none

adding permission to CNO RBAC Calico path for network-node-identity deploy
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Labels: area/control-plane-operator

Consume kas port by name
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/kas/servicemonitor.go
  support/util/networking.go
Labels: area/control-plane-operator

*: Fix "succesfully" -> "successfully" typos
  docs/content/how-to/automated-machine-management/node-tuning.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

Update create Azure infra to use image gallery
  api/v1beta1/nodepool_types.go
  cmd/infra/azure/create.go
  hypershift-operator/controllers/nodepool/azure.go
  hypershift-operator/controllers/nodepool/azure_test.go
Labels: area/hypershift-operator

Update destroy Azure infra to use newer Azure SDK
  cmd/infra/azure/destroy.go
Labels: none

work in progress
  cmd/cluster/kubevirt/create.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  hypershift-operator/main.go
Labels: area/hypershift-operator, area/control-plane-operator

Update RHTAP references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

api: opt HostedControlPlane into clients, update group version info
  api/v1alpha1/groupversion_info.go
  api/v1beta1/groupversion_info.go
  api/v1beta1/hosted_controlplane.go
Labels: area/hypershift-operator

Makefile,hack: add generator, target
  Makefile
  hack/update-codegen.sh
Labels: none

chore(deps): update rhtap references
  .tekton/hypershift-operator-release-413-pull-request.yaml
  .tekton/hypershift-operator-release-413-push.yaml
Labels: none

CNV-23418: unsupported escape hatch mechanism custom HS/KV vms
  api/hypershift/v1beta1/hostedcluster_types.go
  go.mod
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  test/e2e/nodepool_kv_cache_image_test.go
  test/e2e/nodepool_kv_jsonpatch_test.go
  test/e2e/nodepool_test.go
Labels: area/hypershift-operator

Update RHTAP references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

disable deployment of integrated oauth when authentication type is OIDC
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/controlplaneoperator/manifests.go
  support/util/oauth.go
Labels: area/hypershift-operator, area/control-plane-operator

KV: add condition if the machine template is wrong
  api/hypershift/v1beta1/nodepool_conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: area/hypershift-operator

validate the jsonpatch annotation in webhook
  cmd/install/assets/hypershift_operator.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
Labels: area/hypershift-operator

Bump Golang builder to 1.20 for RHTAP dockerfile
  Containerfile.operator
Labels: none

Set value of elb tag to 1 instead of true
  cmd/infra/aws/ec2.go
Labels: none

SetLogger for CLI and e2e
  main.go
  test/e2e/e2e_test.go
Labels: none

CNV-23418: unsupported escape hatch mechanism custom HS/KV vms
  api/v1beta1/hostedcluster_types.go
  go.mod
  go.sum
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  test/e2e/nodepool_kv_cache_image_test.go
  test/e2e/nodepool_kv_jsonpatch_test.go
  test/e2e/nodepool_test.go
  vendor/k8s.io/utils/pointer/pointer.go
  vendor/k8s.io/utils/ptr/OWNERS
  vendor/k8s.io/utils/ptr/README.md
  vendor/k8s.io/utils/ptr/ptr.go
  vendor/modules.txt
Labels: area/hypershift-operator

CNV-23418: fix the jsonpath annotation implemetation
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  test/e2e/nodepool_kv_jsonpatch_test.go
Labels: area/hypershift-operator

Simplify HostedControlPlaneNamespace().Name
  cmd/cluster/core/dump.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/internal/platform/agent/agent_test.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/manifests/manifests.go
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  test/e2e/chaos_test.go
  test/e2e/nodepool_kv_cache_image_test.go
  test/e2e/nodepool_kv_jsonpatch_test.go
  test/e2e/nodepool_kv_qos_guaranteed_test.go
  test/e2e/nodepool_rolling_upgrade_test.go
  test/e2e/olm_test.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/oauth.go
  test/e2e/util/util.go
Labels: area/hypershift-operator

CNV-23418: unsupported escape hatch mechanism custom HS/KV vms
  api/v1beta1/hostedcluster_types.go
  go.mod
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  test/e2e/nodepool_kv_cache_image_test.go
  test/e2e/nodepool_kv_jsonpatch_test.go
  test/e2e/nodepool_test.go
Labels: area/hypershift-operator

Let kas SVC port to be hardcoded
  cmd/cluster/core/dump.go
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator_test.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/dnsoperator/dnsoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router_config.template
  control-plane-operator/controllers/hostedcontrolplane/ingress/router_test.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/infra.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/packageserver.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/params.go
  control-plane-operator/controllers/hostedcontrolplane/storage/operator.go
  control-plane-operator/controllers/hostedcontrolplane/storage/params.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/nodepool/haproxy.go
  support/config/constants.go
  support/util/networking.go
Labels: area/hypershift-operator, area/control-plane-operator

OCPBUGS-23397: Set shutdown-delay-duration to 15s
  control-plane-operator/controllers/hostedcontrolplane/oapi/config.go
Labels: area/control-plane-operator

OSD-19085: New hypershift_nodepools_info metric giving additional information about a nodepool
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
  hypershift-operator/main.go
Labels: area/hypershift-operator

limit RestoreSnapshotURL api field to 1 entry
  api/v1alpha1/hostedcluster_types.go
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/etcd/etcd-init.sh
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile_test.go
  docs/content/how-to/aws/etc-backup-restore.md
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Labels: area/hypershift-operator, area/control-plane-operator

OCPBUGS-20246: Added brackets to IPv6 KAS address on kubeconfig
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas_test.go
Labels: area/control-plane-operator

Retrieve RHCOS VHD image from release image
  cmd/cluster/azure/create.go
  cmd/infra/azure/create.go
  support/releaseinfo/releaseinfo.go
Labels: none

Extend TestDeserializeImageMetadata for RHCOS img
  support/releaseinfo/deserialize_test.go
Labels: none

Remove bad test case in TestValidateJsonAnnotation
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
Labels: area/hypershift-operator

cmd/install: expose cert rotation scale parameter
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hack/app-sre/saas_template.yaml
Labels: none

unset ServiceAccount on ignition-server-proxy
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
Labels: area/control-plane-operator

kubevirt: Add support for secondary networks
  api/fixtures/example_kubevirt.go
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1alpha1/kubevirtnetwork.go
  client/applyconfiguration/hypershift/v1alpha1/kubevirtnodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/kubevirtnetwork.go
  client/applyconfiguration/hypershift/v1beta1/kubevirtnodepoolplatform.go
  client/applyconfiguration/utils.go
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create.go
  cmd/cluster/kubevirt/create_test.go
  cmd/cluster/kubevirt/params/params.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
Labels: area/hypershift-operator

api/v1beta1: annotate hostedcontrolplane conditions
  api/hypershift/v1beta1/hosted_controlplane.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  hack/app-sre/saas_template.yaml
Labels: area/hypershift-operator

api/hypershift: mark more conditions with list key types
  api/hypershift/v1alpha1/endpointservice_types.go
  api/hypershift/v1alpha1/hosted_controlplane.go
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1beta1/endpointservice_types.go
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_awsendpointservices.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  hack/app-sre/saas_template.yaml
Labels: area/hypershift-operator

Fixed update-codegen.sh to work locally
  hack/update-codegen.sh
Labels: none

fixed AWS KMS Backup container args
  control-plane-operator/controllers/hostedcontrolplane/kas/aws_kms.go
Labels: area/control-plane-operator
