Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

Add network policies for konnectivity server and ignition server proxy
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/manifests/networkpolicy/manifests.go
Labels: area/hypershift-operator

NO-JIRA: add --skip-service-principal-deletion flag
  cmd/cluster/azure/destroy.go
  cmd/cluster/core/destroy.go
  cmd/infra/azure/destroy.go
Labels: none

NO-JIRA: e2e: skip OSP multinet before 4.18
  test/e2e/nodepool_osp_multinet_test.go
Labels: none

Renamed the directory from aks to managed-azure
  contrib/managed-azure/create_basic_hosted_cluster.sh
  contrib/managed-azure/setup_aks_cluster.sh
  contrib/managed-azure/setup_external_dns.sh
  contrib/managed-azure/setup_install_ho_on_aks.sh
Labels: none

Use ingress role in private link controller for DNS operations
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/main.go
Labels: area/control-plane-operator

Add CLI flag to support shared vpc private zones in cluster account
  cmd/cluster/aws/create.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/core/destroy.go
  cmd/infra/aws/create.go
  cmd/infra/aws/create_iam.go
  cmd/infra/aws/destroy.go
  cmd/infra/aws/destroy_iam.go
  cmd/infra/aws/ec2.go
  cmd/infra/aws/iam.go
  cmd/infra/aws/route53.go
Labels: none

Add instructions on how to setup workload identity
  contrib/managed-azure/Setting up workload identity for Azure HC.md
Labels: none

Add on admission validations, docs and tests for HostedCluster API
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/nodepool_types.go
  api/util/ipnet/ipnet.go
  control-plane-operator/main.go
  test/e2e/assets/hostedcluster-base.yaml
  test/e2e/assets/openstack-platform-enum.yaml
  test/e2e/create_cluster_test.go
Labels: area/hypershift-operator, area/control-plane-operator

Run make update
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/hostedclusterspec.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
  vendor/github.com/openshift/hypershift/api/util/ipnet/ipnet.go
Labels: area/hypershift-operator

OCPBUGS-38425: Return the right tagReference on Catalogs ImageStream
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs_test.go
Labels: area/control-plane-operator

OCPBUGS-44568: update diskStorageAccountType consts
  api/hypershift/v1beta1/azure.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
Labels: area/hypershift-operator

OCPBUGS-44037: change Azure infra destroy CLI to use prefixes and infra-id for SP deletion.
  cmd/cluster/azure/destroy.go
  cmd/cluster/core/destroy.go
  cmd/infra/azure/destroy.go
Labels: none

Create separate secrets for Azure disk and file
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/azure.go
Labels: area/control-plane-operator

Create separate secrets for Azure disk and file
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/azure.go
Labels: area/control-plane-operator

Add generic create function for SecretProvider
  control-plane-operator/controllers/hostedcontrolplane/manifests/secretproviderclass.go
  support/azureutil/azureutil.go
Labels: area/control-plane-operator

Use ingress role in private link controller for DNS operations
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/main.go
Labels: area/control-plane-operator

update oadp backup docs
  docs/content/how-to/disaster-recovery/backup-and-restore-oadp.md
Labels: none

Refactor cluster-version-operator
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-version-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-version-operator/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-version-operator/rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-version-operator/service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-version-operator/serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-version-operator/servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/servicemonitor.go
  support/controlplane-component/controlplane-component.go
Labels: area/control-plane-operator

NO-JIRA: remove out of date releas notes
  docs/content/contribute/release-process.md
Labels: none

OCPBUGS-44689: skip np image validation when skipReleaseImageValidation annotation is present on HC
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: area/hypershift-operator

Reconcile SecretProvider for CPO on ARO HCP
  cmd/infra/azure/create.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/azureutil/azureutil.go
Labels: area/hypershift-operator, area/control-plane-operator

Add Services field to failing unit tests
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

Update vendoring in go.mod in API
  api/go.mod
  api/go.sum
Labels: area/hypershift-operator

NO-JIRA: bump nodepoolConfigUpdate start timeout to 1min to reduce flakes
  test/e2e/util/util.go
Labels: none

Relax CEL for .services
  api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

Run make update
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

Disable .services tests
  test/e2e/create_cluster_test.go
Labels: none

OCPNODE-2552:Add ImagePolicy to the list of valid config manifests
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/config.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: area/hypershift-operator

Sync main and api go module vendoring to fix go workspaces
  Makefile
  hack/workspace/.gitignore
  hack/workspace/go.work
  hack/workspace/hypershift
Labels: none

Run make update
  api/go.mod
  api/go.sum
  api/vendor/golang.org/x/net/http2/client_conn_pool.go
  api/vendor/golang.org/x/net/http2/server.go
  api/vendor/golang.org/x/net/http2/transport.go
  api/vendor/golang.org/x/net/http2/unencrypted.go
  api/vendor/modules.txt
Labels: area/hypershift-operator

openstack: Stop creating openstack-cloud-config secret
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/openstack.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-openstack/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-openstack/config-secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-openstack/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/config.go
Labels: area/control-plane-operator

openstack: Trivial formatting changes for CCM config file
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig_test.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/deployment.go
Labels: area/control-plane-operator

openstack: Rename attribute
  control-plane-operator/controllers/hostedcontrolplane/cloud/config.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig_test.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/config_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/infrastructure.go
Labels: area/control-plane-operator

docs: Add note on pod security
  docs/content/contribute/develop_in_cluster.md
Labels: none

HACKING: Add quickstart matrix
  HACKING.md
Labels: none

OSASINFRA-3636: Generate assets for OpenStack Cinder CSI
  control-plane-operator/controllers/hostedcontrolplane/storage/assets/10_deployment-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/envreplace.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
  test/e2e/util/util.go
Labels: area/hypershift-operator, area/control-plane-operator

Reconcile Azure Creds to fixed secret in HCP NS
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/config.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
Labels: area/hypershift-operator, area/control-plane-operator

Reconcile SecretProvider for Image Reg on ARO HCP
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/secretproviderclass.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/secretproviderclass/secretproviderclass.go
  support/azureutil/azureutil.go
  support/config/constants.go
Labels: area/control-plane-operator

OCPBUGS-42338: Update KCM node monitor grace period
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
Labels: area/control-plane-operator

Disable ASOAPI feature gate for CAPz
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
Labels: area/hypershift-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
