Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

feat(support): add shared status patching helpers with optimistic locking
  support/statuspatching/statuspatching.go
  support/statuspatching/statuspatching_test.go
Labels: none

fix(e2e-v2): gate ConfigOperatorReconciliationSucceeded on 4.23+
  test/e2e/v2/tests/hosted_cluster_health_test.go
Labels: none

test: add e2e v2 test for control-plane-pki-operator TLS configuration
  test/e2e/v2/tests/control_plane_pki_operator_test.go
Labels: none

ci: add missing verify targets to GitHub Actions and document CI expectations
  .github/workflows/verify-reusable.yaml
  CONTRIBUTING.md
  docs/mkdocs.yml
Labels: none

test(CNTRLPLANE-3306): add funcs/tests for interacting with keycloak instance
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
Labels: none

test(CNTRLPLANE-3306): rework tests + add support for aws/aks e2e
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
Labels: none

test(CNTRLPLANE-3306): configure cpo feature sets in hypershift-operator
  hypershift-operator/main.go
Labels: area/hypershift-operator

test(CNTRLPLANE-3306): add ExternalOIDCWithUpstreamParity e2e tests
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/auth_test.go
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
Labels: area/control-plane-operator

test(CNTRLPLANE-3306): migrate keycloak api code to separate file
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
  test/e2e/util/keycloak.go
Labels: none

test(CNTRLPLANE-3306): customize auth spec as needed
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
  test/e2e/util/hypershift_framework.go
Labels: none

test(CNTRLPLANE-3306): add custom auth spec functionality for testing
  test/e2e/util/external_oidc.go
  test/e2e/util/hypershift_framework.go
Labels: none

test(CNTRLPLANE-3306): refactor ExternalOIDC tests
  hypershift-operator/main_test.go
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
  test/e2e/util/external_oidc_test_helpers.go
  test/e2e/util/keycloak.go
Labels: area/hypershift-operator

test(CNTRLPLANE-3306): test custom auth spec config
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
  test/e2e/util/keycloak.go
Labels: none

test(CNTRLPLANE-3306): use one test cluster + patch auth config as needed
  test/e2e/external_oidc_test.go
Labels: none

test(CNTRLPLANE-3306): partial amend everettraven suggestions
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
  test/e2e/util/external_oidc_test_helpers.go
  test/e2e/util/keycloak.go
Labels: none

test(CNTRLPLANE-3306): follow when...it should... test convention
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/auth_test.go
Labels: area/control-plane-operator

test(CNTRLPLANE-3306): make tests explicit + clarify keycloak logic
  hypershift-operator/main_test.go
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
  test/e2e/util/keycloak.go
Labels: area/hypershift-operator

chore(dnsoperator): remove stale TODO about ImagePullPolicy
  control-plane-operator/controllers/hostedcontrolplane/v2/dnsoperator/deployment.go
Labels: area/control-plane-operator

fix(cli): Fall back to AWS SDK default credential chain when no explicit credentials provided
  cmd/cluster/aws/destroy.go
  cmd/cluster/aws/destroy_test.go
  cmd/infra/aws/create_cli_role.go
  cmd/infra/aws/create_operator_roles.go
  cmd/infra/aws/destroy.go
  cmd/infra/aws/destroy_test.go
  cmd/infra/aws/util/util.go
  cmd/infra/aws/util/util_test.go
  product-cli/cmd/cluster/aws/create.go
  product-cli/cmd/cluster/aws/destroy.go
Labels: none

test(kas): expand unit test coverage for KAS config params
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params_test.go
Labels: area/control-plane-operator

feat(skills): add create-cpo-override skill
  .claude/skills/create-cpo-override/SKILL.md
  .claude/skills/validate-pr-override-images/SKILL.md
Labels: none

test(CNTRLPLANE-3306): fix panic with g.Eventually()
  test/e2e/external_oidc_test.go
Labels: none

fix(skills): improve verify-pr-in-image.sh for authenticated and large repos
  .claude/skills/validate-pr-override-images/verify-pr-in-image.sh
Labels: none

fix(nodepool): skip CNI-internal IPs in ClusterNetworkCIDRConflict check
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: area/hypershift-operator

fix(cpo-overrides): CNTRLPLANE-3619: add azure CPO overrides for 4.22.0-4.22.3
  hypershift-operator/controlplaneoperator-overrides/assets/overrides.yaml
Labels: area/hypershift-operator

docs: add create-cpo-override skill usage to CPO overrides guide
  docs/content/contribute/cpo-overrides.md
  docs/content/reference/aggregated-docs.md
Labels: none

fix(azure): cluster deletion hanging when resource groups are already deleted
  api/hypershift/v1beta1/hostedcluster_conditions.go
  cmd/cluster/azure/destroy.go
  control-plane-operator/controllers/healthcheck/azure.go
  control-plane-operator/controllers/healthcheck/azure_test.go
  control-plane-operator/controllers/healthcheck/healthcheck_controller.go
  control-plane-operator/main.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Labels: area/hypershift-operator, area/control-plane-operator

OCPBUGS-58422: Allow disabling Ingress without Console in HyperShift
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPEtcdBackup.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/TLSAdherence.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/HCPEtcdBackup.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/TLSAdherence.yaml
  cmd/cluster/core/create.go
  cmd/cluster/core/create_test.go
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.capabilities.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

fix(ci): handle fork PRs in Claude rebase and PR workflows
  .github/workflows/address-review-comments.yaml
  .github/workflows/rebase.yaml
  .github/workflows/restructure-commits.yaml
  .github/workflows/reusable-claude-on-pr.yaml
Labels: none

fix(ci): handle fork PRs in Claude rebase and PR workflows
  .github/workflows/address-review-comments.yaml
  .github/workflows/rebase.yaml
  .github/workflows/restructure-commits.yaml
  .github/workflows/reusable-claude-on-pr.yaml
Labels: none

fix(gcp): address code review feedback on PSC NAT subnet discovery
  hypershift-operator/controllers/platform/gcp/privateserviceconnect_controller.go
  hypershift-operator/controllers/platform/gcp/privateserviceconnect_controller_test.go
  test/e2e/v2/tests/hosted_cluster_psc_test.go
Labels: area/hypershift-operator

fix(gcp): remove redundant GCP platform nil check from PSC e2e test
  test/e2e/v2/tests/hosted_cluster_psc_test.go
Labels: none

feat(azure): orphan machines when managed identity is invalid on cluster deletion
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure_test.go
Labels: area/hypershift-operator

fix(cpo): OCPBUGS-97830: add wait-for-etcd init container to oauth-apiserver
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-oauth-apiserver/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth_apiserver/deployment.go
Labels: area/control-plane-operator

test(gcp): introduce ComputeClient interface and fakes for PSC unit tests
  hypershift-operator/controllers/platform/gcp/privateserviceconnect_controller.go
  hypershift-operator/controllers/platform/gcp/privateserviceconnect_controller_test.go
Labels: area/hypershift-operator

build: bump Prow CI build root image to Go 1.26
  .ci-operator.yaml
Labels: none

docs: remove address-review-comments GHA workflow and periodic-review-agent references
  .github/workflows/address-review-comments.yaml
  docs/content/how-to/agentic-sdlc.md
  docs/content/how-to/ci/ai-assisted-ci-jobs.md
  docs/content/how-to/ci/github-actions.md
  docs/content/reference/aggregated-docs.md
Labels: none

docs: restore Review Agent documentation for /test presubmit
  docs/content/how-to/ci/ai-assisted-ci-jobs.md
  docs/content/reference/aggregated-docs.md
Labels: none

fix(kubevirt): use only first MachineInternalIP per family in EndpointSlice endpoints
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/machine.go
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/machine_test.go
Labels: area/control-plane-operator

fix(azure): add DNS zone RG scoping to destroy cluster azure in contrib
  contrib/managed-azure/delete_hosted_cluster.sh
Labels: none
