Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

chore(deps): update konflux references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

chore(deps): update konflux references
  .tekton/hypershift-release-mce-25-pull-request.yaml
  .tekton/hypershift-release-mce-25-push.yaml
Labels: none

chore(deps): update konflux references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-mce-26-pull-request.yaml
  .tekton/hypershift-release-mce-26-push.yaml
Labels: none

chore(deps): update konflux references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

HOSTEDCP-1684: remove CLI requirement for RG flag when NSG ID is supplied
  cmd/infra/azure/create.go
Labels: none

test/e2e: add post-summary, verbosity toggle to eventually
  test/e2e/nodepool_kv_cache_image_test.go
  test/e2e/nodepool_kv_jsonpatch_test.go
  test/e2e/util/eventually.go
  test/integration/control_plane_pki_operator.go
  test/integration/hosted_cluster_sizing_test.go
Labels: none

test/e2e: round durations for brevity
  test/e2e/util/eventually.go
  test/integration/hosted_cluster_sizing_test.go
  test/integration/placeholder_test.go
Labels: none

test/e2e: use the eventually abstraction in chaos test
  test/e2e/chaos_test.go
Labels: none

check mgmt cluster for route capability before DeleteIfNeeded for ovn sbdb route
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

OWNERS: add stevekuznetsov
  OWNERS
Labels: none

chore(deps): update konflux references
  .tekton/hypershift-release-mce-25-pull-request.yaml
  .tekton/hypershift-release-mce-25-push.yaml
Labels: none

added the version for make build to .md file
  docs/content/contribute/run-hypershift-operator-locally.md
Labels: none

test/e2e: actually wait for guest cluster client
  test/e2e/util/util.go
Labels: none

test/e2e/nodepool: use the eventually construct
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  test/e2e/nodepool_autorepair_test.go
  test/e2e/nodepool_kv_advanced_multinet_test.go
  test/e2e/nodepool_kv_multinet_test.go
  test/e2e/nodepool_kv_nodeselector_test.go
  test/e2e/nodepool_kv_qos_guaranteed_test.go
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/nodepool_nto_performanceprofile_test.go
  test/e2e/nodepool_rolling_upgrade_test.go
  test/e2e/nodepool_test.go
  test/e2e/util/eventually.go
Labels: area/hypershift-operator

test/e2e: tar.gz hosted cluster content
  test/e2e/util/hypershift_framework.go
Labels: none

fixed some wording issues in the files committed.
  HACKING.md
  docs/content/contribute/run-hypershift-operator-locally.md
  docs/mkdocs.yml
Labels: none

HOSTEDCP-1221: add heterogenous NP e2e
  test/e2e/e2e_test.go
  test/e2e/nodepool_arm64_create_test.go
  test/e2e/nodepool_test.go
Labels: none

chore(deps): update konflux references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

chore(deps): update konflux references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-mce-26-pull-request.yaml
  .tekton/hypershift-release-mce-26-push.yaml
Labels: none

check mgmt cluster for route capability before DeleteIfNeeded for ovn sbdb route
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

check mgmt cluster for route capability before DeleteIfNeeded for ovn sbdb route
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

Generate default worker security group rules based on machineCIDR
  cmd/infra/aws/ec2_sg.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/awsutil/sg.go
Labels: area/control-plane-operator

Remove duplicate logging statements when errors are also returned
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

hypershift:nodepoolcontroller: mirror containerruntime to HCP NS
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: area/hypershift-operator

vendor: import k8s.io/utils/set
  vendor/k8s.io/utils/set/OWNERS
  vendor/k8s.io/utils/set/ordered.go
  vendor/k8s.io/utils/set/set.go
  vendor/k8s.io/utils/set/set_go_1.20.go
  vendor/k8s.io/utils/set/set_go_1.21.go
  vendor/modules.txt
Labels: none

add a cmd to remove artifcats
  docs/content/contribute/run-hypershift-operator-locally.md
Labels: none

corrected some variables
  docs/content/contribute/run-hypershift-operator-locally.md
Labels: none

Keep old user data for aws < 4.16
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: area/hypershift-operator

Generate default worker security group rules based on machineCIDR
  cmd/infra/aws/ec2_sg.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/awsutil/sg.go
Labels: area/control-plane-operator

Remove duplicate logging statements when errors are also returned
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

Allow PublicAndPrivate or Private clusters to be created with LB KAS. Update guest cluster components to use the correct port to communicate with KAS..
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/haproxy_test.go
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_private_cluster_uses_.local_address_and_LB_kas.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_and_private_cluster_uses_.local_address_and_LB_kas.yaml
  support/util/expose.go
  support/util/expose_test.go
  support/util/networking.go
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: area/hypershift-operator, area/control-plane-operator

cmd/cluster/kubevirt: add a test from dvossel
  cmd/cluster/kubevirt/create_test.go
  cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_test_from_dvossel.yaml
Labels: none

kubevirt-csi-driver: Pass infra kubeconfig in case of external infra
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
Labels: area/control-plane-operator

Let the CPO oidc check resolve through data plane
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

Update HC on AKS doc for new flags for infra
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
Labels: none

check mgmt cluster for route capability before DeleteIfNeeded for ovn sbdb route
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

Allow PublicAndPrivate or Private clusters to be created with LB KAS. Update guest cluster components to use the correct port to communicate with KAS..
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/haproxy_test.go
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_private_cluster_uses_.local_address_and_LB_kas.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_and_private_cluster_uses_.local_address_and_LB_kas.yaml
  support/util/expose.go
  support/util/expose_test.go
  support/util/networking.go
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: area/hypershift-operator, area/control-plane-operator

Makefile: add a target to compile tests
  Makefile
Labels: none

cmd: always pass loggers, honor them
  cmd/bastion/aws/create.go
  cmd/bastion/aws/destroy.go
  cmd/cluster/agent/destroy.go
  cmd/cluster/aws/create.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/azure/destroy.go
  cmd/cluster/kubevirt/destroy.go
  cmd/cluster/none/destroy.go
  cmd/cluster/powervs/create.go
  cmd/cluster/powervs/destroy.go
  cmd/consolelogs/aws/getlogs.go
  cmd/infra/aws/create.go
  cmd/infra/aws/create_cli_role.go
  cmd/infra/aws/create_iam.go
  cmd/infra/aws/iam.go
  cmd/infra/aws/route53.go
  cmd/infra/azure/create.go
  cmd/infra/azure/destroy.go
  cmd/infra/powervs/create.go
  cmd/infra/powervs/destroy.go
Labels: none

test/e2e: send commandline output to files
  test/e2e/e2e_test.go
  test/e2e/util/dump/dump.go
  test/e2e/util/dump/journals.go
  test/e2e/util/fixture.go
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
