Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

chore(deps): update module github.com/sergi/go-diff to v1.4.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/sergi/go-diff/diffmatchpatch/diff.go
  hack/tools/vendor/github.com/sergi/go-diff/diffmatchpatch/index.go
  hack/tools/vendor/github.com/sergi/go-diff/diffmatchpatch/stringutil.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/protonmail/go-crypto to v1.3.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/ProtonMail/go-crypto/internal/byteutil/byteutil.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/ocb/ocb.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/armor/encode.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/errors/errors.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/packet/aead_config.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/packet/aead_crypter.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/packet/aead_encrypted.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/packet/compressed.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/packet/config.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/packet/public_key.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/packet/signature.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/packet/symmetrically_encrypted_aead.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/read.go
  hack/tools/vendor/github.com/ProtonMail/go-crypto/openpgp/write.go
  hack/tools/vendor/github.com/cloudflare/circl/dh/x25519/curve_amd64.s
  hack/tools/vendor/github.com/cloudflare/circl/dh/x448/curve_amd64.s
  hack/tools/vendor/github.com/cloudflare/circl/internal/conv/conv.go
  hack/tools/vendor/github.com/cloudflare/circl/math/fp25519/fp_amd64.s
  hack/tools/vendor/github.com/cloudflare/circl/math/fp448/fp_amd64.s
  hack/tools/vendor/github.com/cloudflare/circl/math/integer.go
  hack/tools/vendor/github.com/cloudflare/circl/sign/ed448/ed448.go
  hack/tools/vendor/github.com/cloudflare/circl/sign/sign.go
  hack/tools/vendor/golang.org/x/crypto/cryptobyte/asn1.go
  hack/tools/vendor/golang.org/x/crypto/cryptobyte/asn1/asn1.go
  hack/tools/vendor/golang.org/x/crypto/cryptobyte/builder.go
  hack/tools/vendor/golang.org/x/crypto/cryptobyte/string.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/russross/blackfriday to v2.1.0
  hack/tools/go.mod
Labels: none

chore(deps): update module github.com/spf13/cast to v1.10.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/spf13/cast/.editorconfig
  hack/tools/vendor/github.com/spf13/cast/.golangci.yaml
  hack/tools/vendor/github.com/spf13/cast/README.md
  hack/tools/vendor/github.com/spf13/cast/alias.go
  hack/tools/vendor/github.com/spf13/cast/basic.go
  hack/tools/vendor/github.com/spf13/cast/cast.go
  hack/tools/vendor/github.com/spf13/cast/caste.go
  hack/tools/vendor/github.com/spf13/cast/indirect.go
  hack/tools/vendor/github.com/spf13/cast/internal/time.go
  hack/tools/vendor/github.com/spf13/cast/internal/timeformattype_string.go
  hack/tools/vendor/github.com/spf13/cast/map.go
  hack/tools/vendor/github.com/spf13/cast/number.go
  hack/tools/vendor/github.com/spf13/cast/slice.go
  hack/tools/vendor/github.com/spf13/cast/time.go
  hack/tools/vendor/github.com/spf13/cast/timeformattype_string.go
  hack/tools/vendor/github.com/spf13/cast/zz_generated.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/spf13/afero to v1.15.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/spf13/afero/.editorconfig
  hack/tools/vendor/github.com/spf13/afero/.golangci.yaml
  hack/tools/vendor/github.com/spf13/afero/README.md
  hack/tools/vendor/github.com/spf13/afero/copyOnWriteFs.go
  hack/tools/vendor/github.com/spf13/afero/iofs.go
  hack/tools/vendor/github.com/spf13/afero/lstater.go
  hack/tools/vendor/github.com/spf13/afero/mem/file.go
  hack/tools/vendor/github.com/spf13/afero/unionFile.go
  hack/tools/vendor/github.com/spf13/afero/util.go
  hack/tools/vendor/modules.txt
Labels: none

fix: use context.Background() instead of t.Context() in test/e2e/util/hypershift_framework.go
  test/e2e/util/hypershift_framework.go
Labels: none

fix: Update expected digest for busybox:latest in TestGetDigest
  support/util/imagemetadata_test.go
Labels: none

fix(e2e): resolve flaky EnsureGlobalPullSecret test race condition
  test/e2e/util/util.go
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

fix(e2e): resolve flaky EnsureGlobalPullSecret test race condition
  test/e2e/util/util.go
Labels: none

fix(deps): update sigs.k8s.io/kube-api-linter digest to d3015c9
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/modules.txt
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/arrayofstruct/analyzer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/helpers/inspector/inspector.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/helpers/markers/analyzer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/integers/analyzer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/nobools/analyzer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/nodurations/analyzer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/nofloats/analyzer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/nomaps/analyzer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/nonpointerstructs/analyzer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/nonpointerstructs/config.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/nonpointerstructs/doc.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/nonpointerstructs/initializer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/optionalfields/analyzer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/requiredfields/analyzer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/utils/serialization/serialization_check.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/utils/serialization/util.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/utils/type_check.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/utils/utils.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/utils/zero_value.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/markers/markers.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/registration/doc.go
Labels: none

fix: Update expected digest for busybox:latest in TestGetDigest
  support/util/imagemetadata_test.go
Labels: none

fix: ValidAWSIdentityProvider condition not being correctly copied from HCP
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

fix: loop over node-pool conditions updating in order
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: area/hypershift-operator

fix(deps): update module github.com/onsi/gomega to v1.38.3
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
  go.mod
  go.sum
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/onsi/gomega/format/format.go
  vendor/github.com/onsi/gomega/gomega_dsl.go
  vendor/github.com/onsi/gomega/matchers.go
  vendor/github.com/onsi/gomega/matchers/have_key_matcher.go
  vendor/github.com/onsi/gomega/matchers/have_key_with_value_matcher.go
  vendor/github.com/onsi/gomega/matchers/support/goraph/edge/edge.go
  vendor/modules.txt
Labels: area/hypershift-operator

fix(deps): update module github.com/onsi/ginkgo/v2 to v2.27.3
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
  go.mod
  go.sum
  vendor/github.com/onsi/ginkgo/v2/CHANGELOG.md
  vendor/github.com/onsi/ginkgo/v2/ginkgo/internal/run.go
  vendor/github.com/onsi/ginkgo/v2/types/version.go
  vendor/modules.txt
Labels: area/hypershift-operator

fix: sets AtLeast to Version418
  test/e2e/util/util.go
Labels: none

Introduce gomock and mockgen to release-4.18 with only basic setup
  .gitignore
  Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  hack/tools/vendor/go.uber.org/mock/AUTHORS
  hack/tools/vendor/go.uber.org/mock/LICENSE
  hack/tools/vendor/go.uber.org/mock/mockgen/deprecated.go
  hack/tools/vendor/go.uber.org/mock/mockgen/generic.go
  hack/tools/vendor/go.uber.org/mock/mockgen/gob.go
  hack/tools/vendor/go.uber.org/mock/mockgen/mockgen.go
  hack/tools/vendor/go.uber.org/mock/mockgen/model/model.go
  hack/tools/vendor/go.uber.org/mock/mockgen/package_mode.go
  hack/tools/vendor/go.uber.org/mock/mockgen/parse.go
  hack/tools/vendor/go.uber.org/mock/mockgen/version.go
  hack/tools/vendor/golang.org/x/mod/modfile/print.go
  hack/tools/vendor/golang.org/x/mod/modfile/read.go
  hack/tools/vendor/golang.org/x/mod/modfile/rule.go
  hack/tools/vendor/golang.org/x/mod/modfile/work.go
  hack/tools/vendor/modules.txt
Labels: none

feat: enable global pull secret for AWS
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

fix(globalps): replace privileged container with specific capabilities
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
Labels: area/control-plane-operator

feat(globalps): mount pull secrets as volumes in DaemonSet and optimize sync-global-pullsecret
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret.go
Labels: area/control-plane-operator

refactor(globalps): optimize global pull secret sync with file-based approach
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret_test.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

feat: implement GlobalPullSecret precedence logic and fix syncer permissions
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/setup.go
  support/awsutil/awsutil.go
  support/awsutil/awsutil_test.go
  sync-global-pullsecret/sync-global-pullsecret.go
Labels: area/control-plane-operator

feat: enable global pull secret for AWS
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps_test.go
  docs/content/how-to/common/global-pull-secret.md
  support/awsutil/awsutil.go
  support/awsutil/awsutil_test.go
  sync-global-pullsecret/sync-global-pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret_test.go
  test/e2e/util/globalps.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

fix(globalps): Fix some issues on E2E and remove inplace support for GlobalPullSecret
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/setup.go
  docs/content/how-to/common/global-pull-secret.md
  support/util/util.go
  support/util/util_test.go
  sync-global-pullsecret/sync-global-pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret_test.go
  test/e2e/create_cluster_test.go
  test/e2e/util/globalps.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Revert "OCPBUGS-63175: remove NTO Service and ServiceMonitor"
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_cluster_node_tuning_operator_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_node_tuning_operator_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/zz_fixture_TestControlPlaneComponents_cluster_node_tuning_operator_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/nto/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/nto/servicemonitor.go
Labels: area/control-plane-operator

test(autoscaling): relax NodePool balancing validation and increase test scale
  test/e2e/autoscaling_test.go
  test/e2e/util/util.go
Labels: none

fix(e2e): resolve flaky EnsureGlobalPullSecret test race condition
  test/e2e/util/util.go
Labels: none

fix: Update expected digest for busybox:latest in TestGetDigest
  support/util/imagemetadata_test.go
Labels: none

fix: use context.Background() instead of t.Context() in test/e2e/util/hypershift_framework.go
  test/e2e/util/hypershift_framework.go
Labels: none

fix(conformance): set priorityClass on global-pull-secret-syncer DaemonSet
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
Labels: area/control-plane-operator

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

feat(azure): orphan machines when identities are invalid
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure_test.go
Labels: area/hypershift-operator

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Labels: none
