Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

fix(support): cancel context immediately in getMirrorFromICSPOrIDMS loop
  support/util/imagemetadata.go
Labels: none

fix(support): cancel context immediately in getMirrorFromICSPOrIDMS loop
  support/util/imagemetadata.go
Labels: none

feat(registry-operator): propagate hosted cluster tls config
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-image-registry-operator/controller-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-image-registry-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/deployment.go
  support/controllerconfig/controllerconfig.go
Labels: area/control-plane-operator

docs: add dependabot triage agent to AI CI jobs documentation
  docs/content/how-to/ci/ai-assisted-ci-jobs.md
  docs/content/reference/aggregated-docs.md
Labels: none

fix(api): add missing has() check for servingCerts in CEL validation
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

feat(e2e-v2): add guest client, NodePool enumeration, and AWS SDK support to TestContext
  test/e2e/util/aws.go
  test/e2e/util/client.go
  test/e2e/v2/internal/env_vars.go
  test/e2e/v2/internal/test_context.go
  test/e2e/v2/internal/test_context_aws_test.go
  test/e2e/v2/tests/control_plane_workloads_test.go
Labels: none

test(globalconfig): add comprehensive unit tests for ReconcileInfrastructure
  support/globalconfig/infrastructure_test.go
Labels: none

feat(aws): migrate EC2 client to AWS SDK v2
  cmd/bastion/aws/create.go
  cmd/bastion/aws/destroy.go
  cmd/consolelogs/aws/getlogs.go
  cmd/infra/aws/create.go
  cmd/infra/aws/destroy.go
  cmd/infra/aws/ec2.go
  cmd/infra/aws/route53.go
  cmd/infra/aws/util/util.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
  control-plane-operator/controllers/healthcheck/aws.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  hypershift-operator/controllers/nodepool/instancetype/aws/provider.go
  hypershift-operator/controllers/nodepool/instancetype/aws/provider_test.go
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/platform/aws/controller.go
  hypershift-operator/controllers/platform/aws/controller_test.go
  hypershift-operator/main.go
  karpenter-operator/controllers/karpenter/machine_approver.go
  karpenter-operator/controllers/karpenter/machine_approver_test.go
  support/awsclient/client.go
  support/awsclient/fake/fake.go
  support/awsutil/sg.go
  test/e2e/karpenter_test.go
  test/e2e/nodepool_autorepair_test.go
  test/e2e/nodepool_day2_tags_test.go
  test/e2e/nodepool_imagetype_test.go
  test/e2e/nodepool_kms_root_volume_test.go
  test/e2e/util/aws.go
  test/e2e/util/dump/journals.go
  test/e2e/util/util.go
Labels: area/hypershift-operator, area/control-plane-operator

test(globalconfig): add universal cross-platform isolation assertion
  support/globalconfig/infrastructure_test.go
Labels: none

fix(lint): resolve kube-api-linter violations in GCP API types
  api/hypershift/v1beta1/gcp.go
  api/hypershift/v1beta1/gcpprivateserviceconnect_types.go
Labels: area/hypershift-operator

build(lint): exclude GCP optionalfields pointer violations
  api/.golangci.yml
Labels: area/hypershift-operator

build(api): regenerate CRDs, docs, and vendor after GCP type changes
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/gcpprivateserviceconnects.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/gcpprivateserviceconnects-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/gcpprivateserviceconnects-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcpprivateserviceconnect_types.go
Labels: area/hypershift-operator

chore: add CodeRabbit configuration to exclude autogenerated files
  .coderabbit.yaml
Labels: none

chore: address PR review feedback on CodeRabbit config
  .coderabbit.yaml
Labels: none

chore: exclude testdata directories from CodeRabbit reviews
  .coderabbit.yaml
Labels: none

docs: add recipe for SPO configuration in HCP environments
  docs/content/recipes/common/spo-audit-logging-seccomp.md
  docs/content/reference/aggregated-docs.md
  docs/mkdocs.yml
Labels: none

fix(teardown): retry AWS endpoint and security group cleanup during cluster deletion
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/default_security_group_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/awsendpointservices_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

feat(e2e): add OIDC IAM fix and NodePool validation to backup/restore
  Dockerfile.e2e
  test/e2e/v2/backuprestore/README.md
  test/e2e/v2/backuprestore/cleanup.go
  test/e2e/v2/backuprestore/cli.go
  test/e2e/v2/backuprestore/cli_test.go
  test/e2e/v2/internal/env_vars.go
  test/e2e/v2/internal/validation.go
  test/e2e/v2/internal/workload_registry.go
  test/e2e/v2/tests/backup_restore_test.go
Labels: none

fix(oadp): use MergeFrom+Patch to prevent conflict errors in restart annotation
  cmd/fix/dr_oidc_iam.go
Labels: none

chore(e2e): increase nodepool condition check timeout
  test/e2e/nodepool_test.go
Labels: none

fix(cpo): propagate additionalTrustBundle to AWS control plane components
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_provider/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_provider/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ingressoperator/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ingressoperator/deployment_test.go
  support/util/volumes.go
Labels: area/control-plane-operator

refactor(hostedcluster): segregate reconcile loop into error-collecting blocks
  docs/design/hostedcluster-reconcile-segregation-analysis.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

docs: add code conventions section to AGENTS.md
  AGENTS.md
Labels: none

docs: promote Code conventions to h2 heading
  AGENTS.md
Labels: none

fix(hostedcluster): Remove referenced resource annotations regardless of hcp status
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

feat(featuregate): add OCIPlatform feature gate
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  hypershift-operator/featuregate/feature.go
  hypershift-operator/featuregate/feature_test.go
Labels: area/hypershift-operator

feat(api): add OCI platform types for HostedCluster
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/oci.go
Labels: area/hypershift-operator

build: regenerate HostedCluster CRDs
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OCIPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OCIPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
Labels: area/hypershift-operator

feat(platform): add OCI platform controller
  hypershift-operator/controllers/hostedcluster/internal/platform/oci/oci.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
Labels: area/hypershift-operator

build: Update vendor with OCI API types
  client/applyconfiguration/hypershift/v1beta1/ociidentityreference.go
  client/applyconfiguration/hypershift/v1beta1/ociplatformspec.go
  client/applyconfiguration/hypershift/v1beta1/platformspec.go
  client/applyconfiguration/utils.go
  docs/content/reference/aggregated-docs.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/oci.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Labels: none

test(platform): add OCI platform controller tests
  hypershift-operator/controllers/hostedcluster/internal/platform/oci/oci_test.go
Labels: area/hypershift-operator

fix(cpo): only set CustomKubeconfig status when secret exists
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
Labels: area/control-plane-operator

fix(operator): tolerate NotFound for custom kubeconfig secret
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

feat(cpo): add Azure workload identity webhook as KAS sidecar
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/azure.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/azure_workload_identity_webhook.go
  control-plane-operator/controllers/hostedcontrolplane/pki/azure_workload_identity_webhook_test.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_azure_workload_identity_webhook_kubeconfig_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_kube_apiserver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/azure-workload-identity-webhook-kubeconfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/azure_workload_identity_webhook_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kubeconfig.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/azure_workload_identity_webhook_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/azure_workload_identity_webhook.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  test/e2e/create_cluster_test.go
  test/e2e/util/azure.go
Labels: area/control-plane-operator

fix(karpenter): allow autonode provisioned arm instances
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller_test.go
  support/karpenter/karpenter.go
  support/karpenter/karpenter_test.go
  test/e2e/assets/karpenter/arm-nodepool.yaml
  test/e2e/assets/karpenter/arm-workloads.yaml
  test/e2e/karpenter_test.go
Labels: area/hypershift-operator

fix(sync-global-pullsecret): compare content ignoring trailing newlines
  sync-global-pullsecret/sync-global-pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret_test.go
Labels: none

fix(catalogs): update catalog image version cap to 4.21
  support/catalogs/images.go
Labels: none

fix(e2e): fix nil deref in validateAWSGuestResourcesDeletedFunc
  test/e2e/util/fixture.go
Labels: none

feat(aws/ccm/iam): add required permissions for NLB with managed SGs
  cmd/infra/aws/iam.go
Labels: none

feat(aws/ccm/config): enable gate for CCM-AWS NLBSecurityGroupMode
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/config_test.go
  control-plane-operator/featuregates/featuregates.go
Labels: area/control-plane-operator
