Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

fix: cpo,ho: respond to PR feedback
  control-plane-operator/controllers/hostedcontrolplane/infra/infra.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kas/healthcheck.go
  hypershift-operator/controllers/sharedingress/sharedingress_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

feat(nodepool): trigger rollout on trust bundle ConfigMap content changes
  docs/content/reference/aggregated-docs.md
  docs/content/reference/nodepool-rollouts.md
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_test.go
  hypershift-operator/controllers/nodepool/config_trustbundle_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
Labels: area/hypershift-operator

fix(cpo): preserve previous CAs in client-ca bundle during rotation
  control-plane-operator/controllers/hostedcontrolplane/pki/ca.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ca_test.go
Labels: area/control-plane-operator

feat(etcd-operator): add tls security profile configuration for etcd
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/etcd_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/statefulset.go
  support/config/cipher.go
  support/config/cipher_test.go
Labels: area/control-plane-operator

test(CNTRLPLANE-3831): skip UpstreamParity OIDC tests on releases before 4.23
  test/e2e/external_oidc_test.go
Labels: none

refactor(kas-bootstrap): remove apply client workaround for controller-runtime < 0.22
  kas-bootstrap/kas_boostrap.go
  kas-bootstrap/kas_boostrap_test.go
Labels: none

feat(install): add --operator-pprof-addr flag to enable pprof on the HyperShift Operator
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/hypershift_operator_test.go
  cmd/install/install.go
  cmd/install/install_test.go
  hypershift-operator/main.go
Labels: area/hypershift-operator

fix: capture infraID/region eagerly in bastion cleanup to prevent KeyPair leak
  test/e2e/util/dump/journals.go
Labels: none

refactor(ho): improve --hcp-egress-block-cidrs validation
  cmd/install/install.go
  cmd/util/util.go
  cmd/util/util_test.go
  hypershift-operator/main.go
Labels: area/hypershift-operator

fix(OCPBUGS-98464): handle stale DaemonSet in GlobalPullSecret test
  test/e2e/util/globalps.go
Labels: none

feat(nodepool): thread streamName and wire usesRunc detection into RHEL stream resolution
  hypershift-operator/controllers/nodepool/azure.go
  hypershift-operator/controllers/nodepool/azure_test.go
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_test.go
  hypershift-operator/controllers/nodepool/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/nodepool/openstack.go
  hypershift-operator/controllers/nodepool/openstack/openstack.go
  hypershift-operator/controllers/nodepool/openstack/openstack_test.go
  hypershift-operator/controllers/nodepool/osstream.go
  hypershift-operator/controllers/nodepool/osstream_test.go
  hypershift-operator/controllers/nodepool/powervs.go
  hypershift-operator/controllers/nodepool/powervs_test.go
  hypershift-operator/controllers/nodepool/stream_test.go
Labels: area/hypershift-operator

fix(cpo): OCPBUGS-98571: Exclude ARO HCP from internal LB scope for PublicAndPrivate topology
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params.go
Labels: area/control-plane-operator

fix(cpo): deduplicate VPC endpoint subnets by AZ to prevent DuplicateSubnetsInSameZone
  cmd/infra/aws/iam.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
Labels: area/control-plane-operator

fix: exclude ARO HCP from internal LB scope for PublicAndPrivate topology
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params.go
Labels: area/control-plane-operator

test: add ARO HCP ingress LB scope unit tests
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params_test.go
Labels: area/control-plane-operator

fix(control-plane-component): exclude ignition-server from implicit KAS dependency
  support/controlplane-component/status.go
Labels: none

fix(router): conditionally include oauth-internal in ARO route predicate
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component_test.go
Labels: area/control-plane-operator

fix(control-plane-component): exclude ignition-server-proxy from implicit KAS dependency
  support/controlplane-component/status.go
Labels: none

fix(hcco): OCPBUGS-88738 clean up orphaned mirrored CMs on NodePool deletion
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(OCPBUGS-98466): retry Prometheus query exec on transient konnectivity 502
  test/e2e/util/util_metrics_proxy.go
Labels: none

feat(api): enforce unique tag keys on AWS resourceTags fields
  api/hypershift/v1beta1/aws.go
  api/hypershift/v1beta1/endpointservice_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/awsendpointservices.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPEtcdBackup.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/TLSAdherence.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/HCPEtcdBackup.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/TLSAdherence.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
Labels: area/hypershift-operator

test(e2e): add envtest validation for AWS resourceTags uniqueness
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.aws.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.aws.testsuite.yaml
Labels: none

chore(api): regenerate CRDs, clients, deepcopy, and vendor
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/awsendpointservices.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/aws.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/endpointservice_types.go
Labels: none

test: add ARO HCP ingress LB scope unit tests
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params_test.go
Labels: area/control-plane-operator

fix: exclude ARO HCP from internal LB scope for PublicAndPrivate topology
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params.go
Labels: area/control-plane-operator

docs: fix stale N-2 version skew references to N-3
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPEtcdBackup.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/TLSAdherence.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/getting-started/onboarding/lifecycle.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: area/hypershift-operator

chore(GCP-896): add gbarabasz to gcp-reviewers alias
  OWNERS_ALIASES
Labels: none

fix: OCPBUGS-93456: change NodePortPublishingStrategy.Port from int32 to *int32
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service_test.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/service.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/service_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/service.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/service_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver_proxy/service.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver_proxy/service_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/network_policies_test.go
  test/e2e/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(ci): make race detection opt-out for pre-push hook
  .pre-commit-config.yaml
  Makefile
Labels: none

fix(azure): add resource group scoping to GetVnetID
  contrib/managed-azure/create_basic_hosted_cluster.sh
Labels: none

fix(azure): add resource group scoping to GetVnetID
  contrib/managed-azure/create_basic_hosted_cluster.sh
Labels: none

fix(azure): add resource group scoping to GetVnetID
  contrib/managed-azure/create_basic_hosted_cluster.sh
Labels: none

feat: inject hosted cluster TLS security profile into packageserver
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/AROSwift/zz_fixture_TestControlPlaneComponents_packageserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/GCP/zz_fixture_TestControlPlaneComponents_packageserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/IBMCloud/zz_fixture_TestControlPlaneComponents_packageserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_packageserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/zz_fixture_TestControlPlaneComponents_packageserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/olm/packageserver/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/olm/packageserver/deployment_test.go
Labels: area/control-plane-operator

fix(karpenter): use completed release image for unpinned NodeClaims during CP upgrade
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller.go
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller_test.go
  test/e2e/karpenter_control_plane_upgrade_test.go
  test/e2e/karpenter_test.go
Labels: none

revert(aws/ccm/iam): remove inline iam pol patch
  cmd/infra/aws/iam.go
Labels: none

chore: add AWS CPO overrides for 4.22
  hypershift-operator/controlplaneoperator-overrides/assets/overrides.yaml
Labels: area/hypershift-operator

chore: update AWS CPO override test images to 4.21/4.22
  hypershift-operator/controlplaneoperator-overrides/assets/overrides.yaml
Labels: area/hypershift-operator

refactor: CNTRLPLANE-3532: migrate CPO status patches to statuspatching helpers
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/reencryption/reencryption.go
Labels: area/control-plane-operator

docs(olm): remove redhat-marketplace catalog references from documentation
  docs/content/how-to/agent/create-agent-cluster.md
  docs/content/how-to/disconnected/idms-icsp-for-management-clusters.md
  docs/content/how-to/none/create-none-cluster.md
  docs/content/how-to/restart-control-plane-components.md
  docs/content/reference/aggregated-docs.md
Labels: none

fix(azure): add Azure CPO overrides for 4.22.0-4.22.6
  hypershift-operator/controlplaneoperator-overrides/assets/overrides.yaml
Labels: area/hypershift-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
