Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

fix(control-plane-operator): ensure router component runs after route-creating components
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/AROSwift/zz_fixture_TestControlPlaneComponents_router_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/GCP/zz_fixture_TestControlPlaneComponents_router_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/IBMCloud/zz_fixture_TestControlPlaneComponents_router_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_router_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/zz_fixture_TestControlPlaneComponents_router_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component_test.go
Labels: area/control-plane-operator

fix(control-plane-operator): drop metrics-proxy from router WithDependencies
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/AROSwift/zz_fixture_TestControlPlaneComponents_router_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/GCP/zz_fixture_TestControlPlaneComponents_router_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/IBMCloud/zz_fixture_TestControlPlaneComponents_router_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_router_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/zz_fixture_TestControlPlaneComponents_router_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component.go
Labels: area/control-plane-operator

fix(control-plane-component): exclude ignition-server from implicit KAS dependency
  support/controlplane-component/status.go
Labels: none

fix(router): conditionally include oauth-internal in ARO route predicate
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component_test.go
Labels: area/control-plane-operator

fix(control-plane-component): exclude ignition-server-proxy from implicit KAS dependency
  support/controlplane-component/status.go
Labels: none

fix: adapt cherry-picked changes for release-4.22
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component.go
Labels: area/control-plane-operator

fix(oidc): support non-RSA keys in JWKS and discovery document generation
  support/oidc/oidc.go
  support/oidc/oidc_test.go
Labels: none

test(certs): add regression tests for multi-algorithm key support
  support/certs/tls_test.go
Labels: none

refactor(e2e): wait for schedule backup creation instead of completion
  test/e2e/v2/backuprestore/velero.go
  test/e2e/v2/tests/backup_restore_test.go
Labels: none

[release 4.14] Fix OCPBUGS-99086: CVE-2026-16242 konnectivity agent auth
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment_test.go
Labels: area/control-plane-operator

Fix unit test compilation for release-4.14
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment_test.go
Labels: area/control-plane-operator

feat: wire apiserver config through ignition server
  control-plane-operator/controllers/hostedcontrolplane/mcs/params.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/reconcile_test.go
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_test.go
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/local_ignitionprovider_test.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(cli): default KAS to Route and fix DNS zone naming for Azure Private clusters
  cmd/cluster/aws/create.go
  cmd/cluster/azure/create.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_endpoint_access_is_Private_with_endpoint_access_private_flags_it_should_render_HostedCluster_with_Private_endpoint_access.yaml
  cmd/cluster/core/create.go
  cmd/cluster/core/create_test.go
  cmd/cluster/gcp/create.go
  cmd/cluster/kubevirt/create.go
  cmd/cluster/none/create.go
  cmd/cluster/openstack/create.go
  cmd/cluster/powervs/create.go
  cmd/infra/azure/destroy.go
  cmd/infra/azure/networking.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  support/globalconfig/dns.go
  support/globalconfig/dns_test.go
Labels: area/hypershift-operator

fix(control-plane-operator): skip external KAS route for Private clusters without hostname
  control-plane-operator/controllers/hostedcontrolplane/infra/infra.go
  control-plane-operator/controllers/hostedcontrolplane/infra/infra_test.go
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_When_Azure_Private_cluster_has_Route_strategy_without_hostname__it_should_only_need_an_internal_router.yaml
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
Labels: area/control-plane-operator

fix(ci): isolate Claude from push credentials in PR workflows
  .github/workflows/rebase.yaml
  .github/workflows/restructure-commits.yaml
  .github/workflows/reusable-claude-on-pr.yaml
Labels: none

chore(docs): add e2e-approvers owner alias, grant Dan Mace e2e role
  OWNERS_ALIASES
  test/e2e/OWNERS
Labels: none

test(cli): Add product-cli unit tests for kubeconfig
  product-cli/cmd/kubeconfig/create_test.go
Labels: none

test(cli): Add unit test for hcp version command
  cmd/version/version_test.go
Labels: none

fix(api): add parent-level CEL rules preventing infraID and clusterID removal
  api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

test: add positive onUpdate envtest cases for infraID and clusterID
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.validation.testsuite.yaml
Labels: none

chore(generated): update feature-gated CRD manifests after rebase
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCExternalClaimsSourcing.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/IngressComponentRouteLabels.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryption.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/TLSGroupPreferences.yaml
Labels: area/hypershift-operator

test: add envtest cases for infraID and clusterID removal prevention
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.validation.testsuite.yaml
Labels: none

chore(generated): regenerate CRDs and vendor after API change
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/EtcdSharding.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPEtcdBackup.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkObservabilityInstall.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/TLSAdherence.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

fix(build): exclude api/ module from test-changed target
  Makefile
Labels: none

docs: migrate documentation tooling from mkdocs-material to zensical
  .github/workflows/docs-build-reusable.yaml
  docs/Dockerfile
  docs/Makefile
  docs/README.md
  docs/content/contribute/contribute-docs.md
  docs/content/how-to/ci/docs-preview.md
  docs/content/how-to/ci/github-actions.md
  docs/content/how-to/ci/triage/presubmit-failures.md
  docs/content/reference/aggregated-docs.md
  docs/mkdocs.yml
  docs/pyproject.toml
  docs/requirements.txt
  docs/uv.lock
Labels: none

fix(test): skip CustomNoUpgrade CRDs on k8s < 1.31 in envtest
  test/envtest/generator.go
  test/envtest/suite_test.go
Labels: none

feat(install): add --operator-pprof-addr flag to enable pprof on the HyperShift Operator
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/hypershift_operator_test.go
  cmd/install/install.go
  cmd/install/install_test.go
  hypershift-operator/main.go
Labels: area/hypershift-operator

fix(envtest): increase timeout to 20min
  .github/workflows/envtest-kube-reusable.yaml
  .github/workflows/envtest-ocp-reusable.yaml
Labels: none

ci(docs): add workflow to publish docs to Cloudflare Pages on merge
  .github/workflows/docs-deploy-reusable.yaml
  .github/workflows/docs-publish.yaml
Labels: none

chore(GCP-986): add acwalczyk to gcp-reviewers alias
  OWNERS_ALIASES
Labels: none

fix(build): bump hack/tools Go version to 1.26.0 to match main module
  hack/tools/go.mod
Labels: none

fix(cli): add --service-publishing-strategy flag to hcp create cluster agent
  cmd/cluster/agent/create.go
  cmd/cluster/agent/create_test.go
  cmd/cluster/agent/testdata/zz_fixture_TestCreateCluster_When_service_publishing_strategy_is_LoadBalancer__it_should_render_LoadBalancer_services.yaml
Labels: none

fix(cli): address PR review feedback
  cmd/cluster/agent/create_test.go
  cmd/cluster/agent/testdata/zz_fixture_TestCreateCluster_When_service_publishing_strategy_is_LoadBalancer__it_should_render_LoadBalancer_services.yaml
Labels: none

fix(azure): skip KMS validation for private Key Vaults on ARO HCP
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
Labels: area/control-plane-operator

feat(gcp): GCP-503 Implement OrphanDeleter
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_conditions_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
Labels: area/hypershift-operator

fix(gcp): address PR feedback for OrphanDeleter credential staleness
  control-plane-operator/controllers/healthcheck/gcp.go
  control-plane-operator/controllers/healthcheck/healthcheck_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_conditions_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_test.go
Labels: area/hypershift-operator, area/control-plane-operator

feat(oauth-apiserver): add dynamic log level configuration
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth_apiserver/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth_apiserver/deployment_test.go
Labels: area/control-plane-operator

feat(etcd): add per-component log level configuration for etcd
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/etcd_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/statefulset.go
  support/util/loglevel.go
  support/util/loglevel_test.go
Labels: area/control-plane-operator

feat(kube-scheduler): add dynamic log level configuration
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/deployment_test.go
Labels: area/control-plane-operator

refactor(kube-scheduler,oauth-apiserver): remove hardcoded verbosity flags from static manifests
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-scheduler/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-oauth-apiserver/deployment.yaml
Labels: area/control-plane-operator
