Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

fix(security): update golang and base image for CVE remediation
  .ci-operator.yaml
  Containerfile.cli
  Containerfile.control-plane
  Containerfile.operator
  Dockerfile
  Dockerfile.control-plane
  Dockerfile.dev
  Dockerfile.e2e
  api/go.mod
  go.mod
  hack/tools/go.mod
  hack/workspace/go.work
  vendor/modules.txt
Labels: area/hypershift-operator

test(gcp): capture ListSubnetworks filter in fake to enforce VPC-scoped subnet discovery
  hypershift-operator/controllers/platform/gcp/privateserviceconnect_controller_test.go
Labels: area/hypershift-operator

style(gcp): add missing trailing newline in PSC e2e test file
  test/e2e/v2/tests/hosted_cluster_psc_test.go
Labels: none

fix(hcco): replace patchHCPStatusCondition with statuspatching helper
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

fix(nodepool): skip CNI-internal IPs in ClusterNetworkCIDRConflict check
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: area/hypershift-operator

feat(ci): add chai-bot CI daily health report instructions
  .chai-bot/ci-status-jobs.yaml
  .chai-bot/hypershift_ci_daily_health_report.md
  .github/workflows/update-ci-job-registry.yaml
  hack/ci/update-job-registry.py
Labels: none

fix(nodepool): skip CNI-internal IPs in ClusterNetworkCIDRConflict check
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: area/hypershift-operator

fix(nodepool): skip CNI-internal IPs in ClusterNetworkCIDRConflict check
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: area/hypershift-operator

fix(nodepool): skip CNI-internal IPs in ClusterNetworkCIDRConflict check
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: area/hypershift-operator

test: e2e tests for TLS profile change of konnectivity-server
  test/e2e/v2/tests/konnectivity_server_test.go
Labels: none

fix(tekton): skip Konflux PR builds for .chai-bot/ changes
  .tekton/hypershift-cli-mce-50-pull-request.yaml
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-release-mce-50-pull-request.yaml
Labels: none

fix(ci): default update-job-registry output to stdout
  .github/workflows/update-ci-job-registry.yaml
  hack/ci/update-job-registry.py
Labels: none

feat(konflux): rewrite find-push-pipelinerun as Go CLI
  Makefile
  docs/content/contribute/konflux-scripts.md
  docs/content/reference/aggregated-docs.md
  hack/tools/find-push-pipelinerun/format.go
  hack/tools/find-push-pipelinerun/format_test.go
  hack/tools/find-push-pipelinerun/main.go
  hack/tools/find-push-pipelinerun/pr.go
  hack/tools/find-push-pipelinerun/pr_test.go
  hack/tools/find-push-pipelinerun/query.go
  hack/tools/find-push-pipelinerun/query_test.go
  hack/tools/find-push-pipelinerun/types.go
  hack/tools/find-push-pipelinerun/watch.go
  hack/tools/find-push-pipelinerun/watch_test.go
  hack/tools/scripts/find-push-pipelinerun.sh
  hack/tools/scripts/find-push-pipelinerun_test.bats
Labels: none

test(gcp): add partial-write edge case and filter capture to PSC tests
  hypershift-operator/controllers/platform/gcp/privateserviceconnect_controller_test.go
Labels: area/hypershift-operator

fix(gcp): improve PSC subnet discovery error message when API checks fail
  hypershift-operator/controllers/platform/gcp/privateserviceconnect_controller.go
Labels: area/hypershift-operator

feat(hypershift-operator): add ACR pull identity configured metric
  hypershift-operator/controllers/hostedcluster/metrics/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics_test.go
Labels: area/hypershift-operator

fix(sharedingress): skip route status reconciliation when LB has no hostname
  hypershift-operator/controllers/sharedingress/router_test.go
  hypershift-operator/controllers/sharedingress/sharedingress_controller.go
Labels: area/hypershift-operator

fix(sharedingress): distinguish LB not provisioned vs empty ingress in logs
  hypershift-operator/controllers/sharedingress/sharedingress_controller.go
Labels: area/hypershift-operator

fix: annotate routes with which controller last wrote status
  control-plane-operator/controllers/hostedcontrolplane/infra/infra.go
  control-plane-operator/controllers/hostedcontrolplane/kas/healthcheck.go
  control-plane-operator/controllers/hostedcontrolplane/kas/healthcheck_test.go
  hypershift-operator/controllers/sharedingress/sharedingress_controller.go
  support/netutil/route.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(cpo): include last status writer in "no ingress" health check error
  control-plane-operator/controllers/hostedcontrolplane/kas/healthcheck.go
  control-plane-operator/controllers/hostedcontrolplane/kas/healthcheck_test.go
  hypershift-operator/controllers/sharedingress/router_test.go
Labels: area/hypershift-operator, area/control-plane-operator

fix: address CodeRabbit review feedback
  hack/tools/.golangci.yml
  hack/tools/find-push-pipelinerun/format.go
  hack/tools/find-push-pipelinerun/main.go
  hack/tools/find-push-pipelinerun/pr.go
  hack/tools/find-push-pipelinerun/query.go
  hack/tools/find-push-pipelinerun/watch.go
  hack/tools/go.mod
Labels: none

fix(cli): add safe-to-delete-with-cluster label to platform secrets
  cmd/cluster/aws/create.go
  cmd/cluster/azure/manifests.go
  cmd/cluster/gcp/create.go
Labels: none

contrib/managed-azure: Fix README to reference DPP instead of DPTP
  contrib/managed-azure/README.md
Labels: none

feat(aws): tag CLI and e2e AWS resources with infra-id, cluster-name, and source
  cmd/bastion/aws/create.go
  cmd/cluster/aws/create.go
  cmd/fix/dr_oidc_iam.go
  cmd/infra/aws/create.go
  cmd/infra/aws/create_cli_role.go
  cmd/infra/aws/create_iam.go
  cmd/infra/aws/delegatingclientgenerator/main.go
  cmd/infra/aws/ec2.go
  cmd/infra/aws/route53.go
  cmd/infra/aws/route53_test.go
  support/awsapi/route53.go
  support/awsutil/tags.go
  test/e2e/karpenter_test.go
  test/e2e/nodepool_spot_termination_handler_test.go
  test/e2e/util/aws.go
  test/e2e/util/fixture.go
Labels: none

feat: update AWS EBS CSI credentials request policy to mirror upstream
  api/hypershift/v1beta1/aws.go
  cmd/infra/aws/delegating_client.go
  cmd/infra/aws/iam.go
  support/awsapi/ec2.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/aws.go
Labels: area/hypershift-operator

feat: add --install-scope flag to hypershift install
  cmd/install/install.go
  cmd/install/install_render.go
  cmd/install/install_test.go
Labels: none

fix(control-plane-operator): add HCP finalizer to AWSEndpointService reconciler
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
Labels: area/control-plane-operator

fix(awsprivatelink): add DependencyViolation requeue test for CR deletion
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
Labels: area/control-plane-operator

fix(awsprivatelink): remove deleteAWSEndpointServices from HC controller
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(awsprivatelink): handle NotFound when removing HCP finalizer
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
Labels: area/control-plane-operator

feat(nodepool): integrate osImageStream into NodePool controller
  api/hypershift/v1beta1/nodepool_types.go
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  hypershift-operator/controllers/nodepool/azure.go
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_test.go
  hypershift-operator/controllers/nodepool/gcp.go
  hypershift-operator/controllers/nodepool/gcp_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/openstack/openstack.go
  hypershift-operator/controllers/nodepool/osstream.go
  hypershift-operator/controllers/nodepool/osstream_test.go
  hypershift-operator/controllers/nodepool/powervs.go
  hypershift-operator/controllers/nodepool/stream.go
  hypershift-operator/controllers/nodepool/stream_test.go
  hypershift-operator/controllers/nodepool/stream_test_helpers_test.go
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
  hypershift-operator/controllers/nodepool/version.go
  hypershift-operator/controllers/nodepool/version_test.go
  support/releaseinfo/releaseinfo.go
  support/releaseinfo/releaseinfo_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: area/hypershift-operator

fix(nodepool): hardcode boot image stream to rhel-9 until MCO supports rhel-10
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  hypershift-operator/controllers/nodepool/config.go
Labels: area/hypershift-operator

fix(etcd-recovery): clear stale EtcdRecoveryActive failure condition when etcd is healthy
  hypershift-operator/controllers/hostedcluster/etcd_recovery.go
  hypershift-operator/controllers/hostedcluster/etcd_recovery_test.go
Labels: area/hypershift-operator

fix(etcd-recovery): clear stale EtcdRecoveryActive failure condition when etcd is healthy
  hypershift-operator/controllers/hostedcluster/etcd_recovery.go
  hypershift-operator/controllers/hostedcluster/etcd_recovery_test.go
Labels: area/hypershift-operator

fix(cli): use additive label merge for proxy SSH key secret
  cmd/cluster/aws/create.go
Labels: none

test: verify CLI-created secrets have safe-to-delete-with-cluster label
  cmd/cluster/aws/create_test.go
  cmd/cluster/azure/create_test.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_endpoint_access_is_Private_with_endpoint_access_private_flags_it_should_render_HostedCluster_with_Private_endpoint_access.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_oauth_publishing_strategy_is_LoadBalancer_with_workload_identities_it_should_render_HostedCluster_with_OAuth_LoadBalancer.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_KubeAPIServerDNSName.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_availability_zones.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_disabled_capabilities.yaml
  cmd/cluster/gcp/create_test.go
Labels: none

fix(cpo): OCPBUGS-97830: add wait-for-etcd init container to oauth-apiserver
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/GCP/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-oauth-apiserver/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth_apiserver/deployment.go
Labels: area/control-plane-operator

fix(cpo,hcco): prevent premature KAS convergence during KMS key rotation
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/secretencryption.go
  control-plane-operator/hostedclusterconfigoperator/controllers/reencryption/reencryption.go
  control-plane-operator/hostedclusterconfigoperator/controllers/reencryption/reencryption_test.go
  support/secretencryption/encryptionconfig.go
  support/secretencryption/encryptionconfig_test.go
Labels: area/control-plane-operator

fix(cpo,hcco): prevent premature KAS convergence during KMS key rotation
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/secretencryption.go
  control-plane-operator/hostedclusterconfigoperator/controllers/reencryption/reencryption.go
  control-plane-operator/hostedclusterconfigoperator/controllers/reencryption/reencryption_test.go
  support/secretencryption/encryptionconfig.go
  support/secretencryption/encryptionconfig_test.go
Labels: area/control-plane-operator

fix(secretencryption): log errors in hasTerminatingPods before failing closed
  support/secretencryption/encryptionconfig.go
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
