Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

feat(dashboard): add SQLite data layer
  jira-agent-dashboard/internal/db/models.go
  jira-agent-dashboard/internal/db/schema.go
  jira-agent-dashboard/internal/db/schema_test.go
  jira-agent-dashboard/internal/db/store.go
  jira-agent-dashboard/internal/db/store_test.go
Labels: none

feat(dashboard): add scraper orchestrator and GCS/Prow ingestion
  jira-agent-dashboard/internal/scraper/gcs.go
  jira-agent-dashboard/internal/scraper/gcs_test.go
  jira-agent-dashboard/internal/scraper/orchestrator.go
  jira-agent-dashboard/internal/scraper/orchestrator_test.go
Labels: none

feat(dashboard): add complexity analyzer and telemetry scrapers
  jira-agent-dashboard/internal/scraper/autodl.go
  jira-agent-dashboard/internal/scraper/complexity.go
  jira-agent-dashboard/internal/scraper/complexity_test.go
  jira-agent-dashboard/internal/scraper/otel.go
Labels: none

feat(dashboard): add GitHub PR scraper
  jira-agent-dashboard/internal/scraper/github.go
  jira-agent-dashboard/internal/scraper/github_test.go
  jira-agent-dashboard/internal/scraper/githubapp.go
  jira-agent-dashboard/internal/scraper/githubapp_test.go
Labels: none

feat(dashboard): add REST API server and entrypoints
  jira-agent-dashboard/cmd/dashboard/main.go
  jira-agent-dashboard/cmd/scraper/main.go
  jira-agent-dashboard/internal/api/handlers.go
  jira-agent-dashboard/internal/api/handlers_test.go
  jira-agent-dashboard/internal/api/responses.go
  jira-agent-dashboard/internal/api/server.go
  jira-agent-dashboard/internal/integration_test.go
Labels: none

feat(dashboard): add shared frontend assets
  jira-agent-dashboard/web/css/style.css
  jira-agent-dashboard/web/glossary.html
  jira-agent-dashboard/web/js/app.js
  jira-agent-dashboard/web/js/trends.js
Labels: none

feat(dashboard): add overview and outcomes pages
  jira-agent-dashboard/web/index.html
  jira-agent-dashboard/web/issue.html
  jira-agent-dashboard/web/js/issue-detail.js
  jira-agent-dashboard/web/js/outcomes.js
  jira-agent-dashboard/web/outcomes.html
Labels: none

feat(dashboard): add failure analysis, review quality, and internals pages
  jira-agent-dashboard/web/failures.html
  jira-agent-dashboard/web/internals.html
  jira-agent-dashboard/web/js/failures.js
  jira-agent-dashboard/web/js/internals.js
  jira-agent-dashboard/web/js/reviews.js
  jira-agent-dashboard/web/reviews.html
Labels: none

docs(dashboard): add README with architecture and deployment guide
  jira-agent-dashboard/README.md
Labels: none

fix(cmd): --dump-guest-cluster option which can now optionally be supplied with policies
  cmd/cluster/core/dump.go
  cmd/cluster/core/dump_test.go
  cmd/dump/dump.go
  test/e2e/util/dump/dump.go
  test/e2e/util/fixture.go
Labels: none

revert: fix(OCPBUGS-98744): compare post-upgrade RHCOS version against pre-upgrade instead of release metadata (#9014)
  test/e2e/karpenter_control_plane_upgrade_test.go
  test/e2e/karpenter_test.go
Labels: none

fix(backport): konnectivity agent auth to 4.22
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/GCP/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/ModernTLS/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/assets_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/deployment.yaml
Labels: area/control-plane-operator

fix(azure): remove kube version from AKS cluster creation in contrib
  contrib/managed-azure/setup_aks_cluster.sh
Labels: none

feat(dashboard): scrape installer team jira-agent periodic job data
  jira-agent-dashboard/cmd/scraper/main.go
  jira-agent-dashboard/internal/db/models.go
  jira-agent-dashboard/internal/db/schema.go
  jira-agent-dashboard/internal/db/store.go
  jira-agent-dashboard/internal/scraper/gcs.go
  jira-agent-dashboard/internal/scraper/orchestrator.go
  jira-agent-dashboard/internal/scraper/orchestrator_test.go
Labels: none

docs: add on-demand job triggering page and plugin install instructions
  .pre-commit-config.yaml
  docs/content/how-to/ci/ai-assisted-ci-jobs.md
  docs/content/how-to/ci/triggering-jobs-on-demand.md
  docs/content/reference/aggregated-docs.md
  docs/mkdocs.yml
Labels: none

test(e2e): add metricsSet filtering coverage to metrics forwarder test
  test/e2e/util/util_metrics_proxy.go
Labels: none

chore(owners): add ACM HyperShift owners for product-cli
  OWNERS
  OWNERS_ALIASES
Labels: none

feat(dashboard): add component column and filter to outcomes page
  jira-agent-dashboard/internal/api/handlers.go
  jira-agent-dashboard/internal/api/responses.go
  jira-agent-dashboard/internal/db/models.go
  jira-agent-dashboard/internal/db/store.go
  jira-agent-dashboard/web/css/style.css
  jira-agent-dashboard/web/js/outcomes.js
  jira-agent-dashboard/web/outcomes.html
Labels: none

chore(konflux): update Tekton task bundles to latest versions
  .tekton/hypershift-operator-main-tag.yaml
  .tekton/pipelines/common-operator-build.yaml
Labels: none

feat(dashboard): add global multi-select component filter to all pages
  jira-agent-dashboard/web/css/style.css
  jira-agent-dashboard/web/failures.html
  jira-agent-dashboard/web/index.html
  jira-agent-dashboard/web/internals.html
  jira-agent-dashboard/web/js/app.js
  jira-agent-dashboard/web/js/failures.js
  jira-agent-dashboard/web/js/internals.js
  jira-agent-dashboard/web/js/outcomes.js
  jira-agent-dashboard/web/js/reviews.js
  jira-agent-dashboard/web/js/trends.js
  jira-agent-dashboard/web/outcomes.html
  jira-agent-dashboard/web/reviews.html
Labels: none

test(e2ev2): add Azure OAuth LoadBalancer private topology test
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/tests/hosted_cluster_azure_test.go
Labels: none

fix(e2ev2): address review feedback for Azure OAuth LB private test
  test/e2e/util/oauth.go
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/tests/hosted_cluster_azure_test.go
Labels: none

refactor(e2ev2): improve OAuth test clarity and maintainability
  test/e2e/util/oauth.go
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/tests/hosted_cluster_azure_test.go
Labels: none

fix(e2ev2): add t.Cleanup for htpasswd Secret and OAuth config mutation
  test/e2e/util/oauth.go
Labels: none

fix(e2ev2): use port-forward for private OAuth LB token flow
  test/e2e/util/oauth.go
  test/e2e/v2/tests/hosted_cluster_azure_test.go
Labels: none

fix(e2ev2): correct docstring accuracy for ValidateOAuthIdentityProviderFlow
  test/e2e/util/oauth.go
Labels: none

fix(e2ev2): add dedicated oauth-lb-private cluster variant
  test/e2e/v2/lifecycle/azure.go
Labels: none

fix(e2ev2): address review nits on OAuth helpers and test predicates
  test/e2e/util/oauth.go
  test/e2e/v2/tests/hosted_cluster_azure_test.go
Labels: none

fix(e2ev2): add missing [Feature:AzureOAuth] annotation to private OAuth test
  test/e2e/v2/tests/hosted_cluster_azure_test.go
Labels: none

docs(e2ev2): improve docstrings for port-forward OAuth helpers
  test/e2e/util/oauth.go
Labels: none

test(e2e): port scale-from-zero autoscaling test to v2 framework
  test/e2e/v2/tests/nodepool_autoscaling_test.go
Labels: none

feat(dashboard): move filters to shared header bar with localStorage persistence
  jira-agent-dashboard/web/failures.html
  jira-agent-dashboard/web/index.html
  jira-agent-dashboard/web/internals.html
  jira-agent-dashboard/web/js/app.js
  jira-agent-dashboard/web/outcomes.html
  jira-agent-dashboard/web/reviews.html
Labels: none

fix(build): rebuild local tools when source files change
  Makefile
Labels: none

refactor: Move generation of CAPI Provider Role from cli to agent
  cmd/cluster/agent/create.go
  cmd/cluster/agent/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/agent/agent.go
  hypershift-operator/controllers/hostedcluster/internal/platform/agent/agent_test.go
Labels: area/hypershift-operator

fix(etcdbackup): avoid cache miss false-negative on credential Secret lookup
  hypershift-operator/controllers/etcdbackup/reconciler.go
  hypershift-operator/controllers/etcdbackup/reconciler_test.go
  hypershift-operator/main.go
Labels: area/hypershift-operator

feat(hypershift-operator): add ACR pull identity configured metric
  hypershift-operator/controllers/hostedcluster/metrics/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics_test.go
Labels: area/hypershift-operator

fix(etcd): etcd initialization bugs after etcdctl snapshot restore
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/etcd-init.sh
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/etcd_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/statefulset.go
Labels: area/control-plane-operator

feat(CNTRLPLANE-400): propagate MHC RemediationAllowed condition to NodePool status
  api/hypershift/v1beta1/nodepool_conditions.go
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_conditions.go
Labels: area/hypershift-operator

test(OCPBUGS-99288): Add partial proxy and env var preservation test cases
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/deployment_test.go
Labels: area/control-plane-operator

feat(cpo): reconcile controlPlaneVersion from ControlPlaneComponent status
  control-plane-operator/controllers/hostedcontrolplane/controlplaneversion.go
  control-plane-operator/controllers/hostedcontrolplane/controlplaneversion_pruning_test.go
  control-plane-operator/controllers/hostedcontrolplane/controlplaneversion_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
Labels: area/control-plane-operator
