Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

Add private link perms to docs and clarify log message
  docs/content/how-to/aws/deploy-aws-private-clusters.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

OCPBUGS-11939: Use img metadata in from ICSP/IDMS
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/main.go
  support/util/fakeimagemetadataprovider/fakeimagemetadataprovider.go
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
Labels: area/hypershift-operator

OCPBUGS-18879 extract img ref in disconnected env
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/manifests.go
  support/util/deployment.go
Labels: area/hypershift-operator

OCPBUGS-18602: Update HCCO release provider
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
Labels: area/control-plane-operator

OCPBUGS-18460: Include Trusted CA CM in Ign Server
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/cpo.go
Labels: area/control-plane-operator

OCPBUGS-18602: Include Trusted CA CM in HCCO
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

OCPBUGS-18879 extract img ref in disconnected env
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  ignition-server/controllers/local_ignitionprovider.go
  support/releaseinfo/fake/fake.go
  support/releaseinfo/registry_image_content_policies.go
  support/releaseinfo/releaseinfo.go
Labels: area/control-plane-operator

OCPBUGS-11939: Use img metadata in from ICSP/IDMS
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/main.go
  support/util/fakeimagemetadataprovider/fakeimagemetadataprovider.go
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
Labels: area/hypershift-operator

OCPBUGS-18879 extract img ref in disconnected env
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  ignition-server/controllers/local_ignitionprovider.go
  support/releaseinfo/fake/fake.go
  support/releaseinfo/registry_image_content_policies.go
  support/releaseinfo/releaseinfo.go
Labels: area/control-plane-operator

OCPBUGS-18879 extract img ref in disconnected env
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/manifests.go
  support/util/deployment.go
Labels: area/hypershift-operator

OCPBUGS-18602: Include Trusted CA CM in HCCO
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

OCPBUGS-18602: Update HCCO release provider
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
Labels: area/control-plane-operator

OCPBUGS-18460: Include Trusted CA CM in Ign Server
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/cpo.go
Labels: area/control-plane-operator

OCPBUGS-13348: Hypershift Audit configuration not working (part2).
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
Labels: area/control-plane-operator

Add ability for CI to share infra for HCs created in an e2e run
  api/fixtures/example.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/cluster/core/destroy.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
  test/e2e/util/fixture.go
  test/e2e/util/hypershift_framework.go
Labels: area/hypershift-operator, area/control-plane-operator

HOSTEDCP-1181 reconcile rules for hypershift sg
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

OCPBUGS-13348: Hypershift Audit configuration not working (part2).
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
Labels: area/control-plane-operator

OCPBUGS-13348: Hypershift Audit configuration not working (part2).
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
Labels: area/control-plane-operator

OCPBUGS-13348: Hypershift Audit configuration not working (part2).
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
Labels: area/control-plane-operator

OCPBUGS-19746: Added network validations for AdvertiseAddress:
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

OCPBUGS-16189: Implemented primary IP Network stack validations
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

HOSTEDCP-1181 move findMissingPermisions to seperate func and add unit test
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
Labels: area/control-plane-operator

HOSTEDCP-1051 add infra grace period to product-cli
  product-cli/cmd/cluster/aws/destroy.go
Labels: none

Move network policies reconciliation to the CPO
  Containerfile.operator
  Dockerfile
  Dockerfile.control-plane
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/network_policies.go
  control-plane-operator/main.go
  fast.Dockerfile
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/manifests/controlplaneoperator/manifests.go
  support/util/networking.go
Labels: area/hypershift-operator, area/control-plane-operator

[doc] Fix a typo in KubeVirt troubleshooting script
  docs/content/how-to/kubevirt/troubleshooting-kubevirt-cluster.md
Labels: none

Upate azure docs
  docs/content/how-to/azure/create-azure-cluster.md
Labels: none

Add aws-ebs-csi-driver-operator to allowed NeedManagementKASAccessLabel in test
  test/e2e/util/util.go
Labels: none

CNV-30697 - Guaranteed CPU/memory for KubeVirt nodepool
  api/fixtures/example_kubevirt.go
  api/v1alpha1/nodepool_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/nodepool_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/kubevirt/create.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  product-cli/cmd/cluster/kubevirt/create.go
  product-cli/cmd/nodepool/kubevirt/create.go
  test/e2e/nodepool_kv_cache_image_test.go
  test/e2e/nodepool_kv_qos_guaranteed_test.go
  test/e2e/nodepool_test.go
Labels: area/hypershift-operator

Update the scheduler to only accept paired Nodes and check scheduler HCs has two Nodes
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes_test.go
Labels: area/hypershift-operator

Report correct port when API exposed via route
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

OCPBUGS-16189: Implemented primary IP Network stack validations
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

OCPBUGS-19746: Added network validations for AdvertiseAddress:
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

Reconcile CNCC secret to CPO namespace
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
Labels: area/hypershift-operator

chore(deps): update rhtap references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

Document port 80 is not supported with default ingress for KubeVirt
  docs/content/how-to/kubevirt/ingress-and-dns.md
Labels: none

Set KAS config pod security Enforce to privileged
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Labels: area/control-plane-operator

reconcile etcd-defrag-operator
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/etcd.go
Labels: area/control-plane-operator

add clusterName label to capi kubeconfig secret
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kubeconfig.go
Labels: area/control-plane-operator

MULTIARCH-3760: Rename depricated flag for PowerVS capi deployment
  hypershift-operator/controllers/hostedcluster/internal/platform/powervs/powervs.go
Labels: area/hypershift-operator

Revert "SDN-4042: Increase upgrade rollout timers"
  test/e2e/util/util.go
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
