Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

NO-JIRA: e2e: cleanup for OpenStack Manila
  test/e2e/util/util.go
Labels: none

NO-JIRA: updating ocp release task notes
  docs/content/contribute/release-process.md
Labels: none

HOSTEDCP-2193: documenting --managed-identities-file flag
  contrib/managed-azure/create_basic_hosted_cluster.sh
  contrib/managed-azure/setup_dev_environment.md
  docs/content/how-to/azure/create-azure-cluster-with-options.md
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
Labels: none

Use system trust bundle in CPO IDP https client
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert_test.go
Labels: area/control-plane-operator

Remove SP creation/deletion in the HyperShift CLI
  cmd/cluster/azure/destroy.go
  cmd/cluster/core/destroy.go
  cmd/infra/azure/create.go
  cmd/infra/azure/destroy.go
Labels: none

Remove Azure key vault flags from HyperShift CLI
  cmd/cluster/azure/create.go
  cmd/infra/azure/create.go
Labels: none

HOSTEDCP-2204: adding contributor role to nodepoolManagement SP
  cmd/infra/azure/create.go
Labels: none

Remove Azure key vault fields from e2e
  cmd/cluster/azure/create.go
  cmd/infra/azure/create.go
  test/e2e/e2e_test.go
  test/e2e/util/fixture.go
Labels: none

Add support for public only AWS clusters
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/cluster/aws/create.go
  cmd/infra/aws/create.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws_test.go
  hypershift-operator/controllers/nodepool/aws.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

Create AWS clients on every reconcile instead of at initialization
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/route53.go
  control-plane-operator/main.go
Labels: area/control-plane-operator

OCPBUGS-42338: Update KCM node monitor grace period
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
Labels: area/control-plane-operator

Improve UT runtime by count and parallel flags
  Makefile
Labels: none

Fix spelling mistakes for codespell and whitespace
  docs/content/contribute/index.md
  docs/content/contribute/release-process.md
  docs/content/how-to/agent/create-agent-cluster.md
  docs/content/how-to/automated-machine-management/scale-to-zero-dataplane.md
  docs/content/how-to/aws/shared-vpc.md
  docs/content/how-to/kubevirt/configuring-storage.md
  docs/content/how-to/kubevirt/create-kubevirt-cluster.md
  docs/content/how-to/powervs/create-cluster-powervs.md
  docs/content/how-to/powervs/create-infra-separately.md
  docs/content/reference/api.md
  support/azureutil/azureutil_test.go
  support/controlplane-component/README.md
  support/controlplane-component/defaults.go
  test/e2e/nodepool_kv_advanced_multinet_test.go
Labels: none

Ignore api.md from trailing whitespace hook
  .pre-commit-config.yaml
  docs/content/reference/api.md
Labels: none

OCPBUGS-42320: Prevent IgnitionServer from flooding the API server with patch requests
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
Labels: area/control-plane-operator

Relax networking cel validation for IBMCloud
  api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

Run make update
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPPodsLabels.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

Relax networking cel validation for IBMCloud
  api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

Run make update
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPPodsLabels.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

Remove inspect-task from Konflux files
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

Remove inspect-task from Konflux files
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

OSASINFRA-3685: openstack: tag CAPI resources with InfraID
  docs/content/how-to/openstack/create-openstack-cluster.md
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack_test.go
Labels: area/hypershift-operator

OCPBUGS-42320: Prevent IgnitionServer from flooding the API server with patch requests
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
Labels: area/control-plane-operator

Add default stages/install hook type to pre-commit
  .pre-commit-config.yaml
Labels: none

Add/cleanup hook names
  .pre-commit-config.yaml
Labels: none

Add `make verify` and `make test` to pre-push hook
  .pre-commit-config.yaml
Labels: none

Ignore `MIs`
  .codespellignore
Labels: none

Fix trailing whitespace issues in docs
  contrib/managed-azure/setup_dev_environment.md
  docs/content/how-to/azure/create-azure-cluster-with-options.md
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
Labels: none

OCPBUGS-45322: consolidating upgradingConfig/Version nodepool status update from CAPI controller to Conditions controller
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/conditions.go
Labels: area/hypershift-operator

contrib: update route53 zone cleaning utility
  contrib/cleanzones/Dockerfile
  contrib/cleanzones/go.mod
  contrib/cleanzones/go.sum
  contrib/cleanzones/main.go
  contrib/cleanzones/manifests/01-serviceaccount.yaml
  contrib/cleanzones/manifests/02-cronjob.yaml
  contrib/cleanzones/role-policy.json
Labels: none

OCPBUGS-45322: add unit test for updatingConfigCondition and updatingVersionCondition func
  hypershift-operator/controllers/nodepool/conditions_test.go
Labels: area/hypershift-operator

Update tekton task to latest working
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

Create e2e clusters with public IP instances only
  test/e2e/e2e_test.go
Labels: none

Add public-only flag to hypershift create cluster aws
  cmd/cluster/aws/create.go
Labels: none

Fix spelling mistakes from PR #5265
  contrib/cleanzones/main.go
Labels: none

Allow multiple yaml def in a file for pre-commit
  .pre-commit-config.yaml
Labels: none

Update all Dockerfiles to use Go1.23/OCP4.19 image
  Dockerfile
  Dockerfile.dev
  Dockerfile.e2e
Labels: none

Fix expected AWS HC conditions during e2e tests
  support/conditions/conditions.go
Labels: none

Do not send traffic to local audit-webhook through konnectivity
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  support/config/constants.go
Labels: area/control-plane-operator

HOSTEDCP-2193: allow reuse of SP for e2e
  cmd/cluster/azure/create.go
  cmd/infra/azure/create.go
  test/e2e/e2e_test.go
  test/e2e/util/fixture.go
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
