Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

Bump controller-tools to latest version
  hack/tools/go.mod
  hack/tools/go.sum
Labels: none

Bump gotestsum to latest version
  hack/tools/go.mod
  hack/tools/go.sum
Labels: none

Bump prometheus to latest version
  hack/tools/go.mod
  hack/tools/go.sum
Labels: none

Increases default etcd PV size to 8Gi
  api/v1alpha1/hostedcluster_types.go
  api/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

Validate UserCA ConfigMaps
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

sync proxy.Spec.TrustedCA to guest cluster
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pki.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  support/certs/tls.go
Labels: area/control-plane-operator

sync proxy.Spec.TrustedCA to guest cluster
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pki.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  support/certs/tls.go
Labels: area/control-plane-operator

Validate UserCA ConfigMaps
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Let the aws endpoint to use the hypershift owned SG
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  support/awsutil/sg.go
Labels: area/control-plane-operator

Add a new e2e option for the ETCD storage class
  test/e2e/e2e_test.go
Labels: none

Updated secrets to read only for CNO and OCM
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/deployment.go
Labels: area/control-plane-operator

Update auto scaler role to get and list agentmachinetemplates
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

HOSTEDCP-947: Maxed the QUOTA_BACKEND_BYTES to the recommended limit
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/etcd/params.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  hack/app-sre/saas_template.yaml
Labels: area/control-plane-operator

OCPBUGS-13034: Cluster-api SA can't create events
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Let the aws endpoint to use the hypershift owned SG
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  support/awsutil/sg.go
Labels: area/control-plane-operator

remove unused OLM catalog rollout code
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/olm.go
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-rollout.role.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-rollout.rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
Labels: area/control-plane-operator

Increases default etcd PV size to 8Gi
  api/v1alpha1/hostedcluster_types.go
  api/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

HOSTEDCP-947: Maxed the QUOTA_BACKEND_BYTES to the recommended limit
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/etcd/params.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  hack/app-sre/saas_template.yaml
Labels: area/control-plane-operator

OCPBUGS-13034: Cluster-api SA can't create events
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

HOSTEDCP-926: Send metric when HO/CPO decide to skip cloud resource deletion
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics_test.go
Labels: area/hypershift-operator

Pass release image version to MCO bootstrap via --payload-version
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/machineconfigserver_ignitionprovider.go
Labels: area/control-plane-operator

fix nil deref in DefaultWorkerSecurityGroupID check
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
Labels: area/control-plane-operator

fix nil deref in DefaultWorkerSecurityGroupID check
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
Labels: area/control-plane-operator

KV cache: support external infra
  api/fixtures/example_kubevirt.go
  api/v1alpha1/nodepool_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/nodepool_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/nodepool/kubevirt/imagecacher.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/main.go
  kubevirtexternalinfra/externalinfra.go
Labels: area/hypershift-operator

Cache KubeVirt Boot Image
  api/fixtures/example_kubevirt.go
  api/scheme.go
  api/v1alpha1/nodepool_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/nodepool_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/kubevirt/create.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/kubevirt/imagecacher.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  test/e2e/util/util.go
Labels: area/hypershift-operator

Condense flags for MCO based on versions
  ignition-server/controllers/local_ignitionprovider.go
Labels: area/control-plane-operator

MULTIARCH-3212: Support IBM COS as storage for PowerVS in image registry operator
  api/fixtures/example.go
  api/fixtures/example_ibmcloud_powervs.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/hostedcluster_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/cluster/powervs/create.go
  cmd/infra/powervs/create.go
  cmd/infra/powervs/destroy.go
  cmd/infra/powervs/service_id.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/how-to/powervs/prerequisites-and-env-guide.md
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/internal/platform/powervs/powervs.go
  support/globalconfig/infrastructure.go
Labels: area/hypershift-operator, area/control-plane-operator

cancel AWS apecific check for non-AWS platforms
  test/e2e/nodepool_test.go
Labels: none

add e2e test for KubeVirt root image caching
  api/v1alpha1/nodepool_types.go
  cmd/cluster/core/dump.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/kubevirt/imagecacher.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  support/api/scheme.go
  test/e2e/nodepool_kv_cache_image_test.go
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/nodepool_test.go
Labels: area/hypershift-operator

CLI: enable guest cluster dump for private clusters
  cmd/cluster/core/dump.go
  cmd/cluster/core/forwarder.go
  vendor/k8s.io/client-go/tools/portforward/doc.go
  vendor/k8s.io/client-go/tools/portforward/portforward.go
  vendor/modules.txt
Labels: none

Add e2e to validate HC/NP conditions expected status
  hypershift-operator/metrics.go
  support/conditions/conditions.go
  support/util/expose.go
  support/util/visibility.go
  test/e2e/create_cluster_test.go
  test/e2e/nodepool_test.go
Labels: area/hypershift-operator

Add nodepool DeletionDuration and InitialRolloutDuration metrics
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  test/e2e/util/fixture.go
Labels: area/hypershift-operator

Drop conversion webhook and v1alpha1 code
  api/scheme.go
  api/v1alpha1/capi_types.go
  api/v1alpha1/clusterconfig.go
  api/v1alpha1/conditions.go
  api/v1alpha1/doc.go
  api/v1alpha1/endpointservice_types.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/hosted_controlplane.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/nodepool_types.go
  api/v1alpha1/zz_conversion.go
  api/v1alpha1/zz_conversion_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/conversion.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_awsendpointservices.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/install/install.go
  cmd/util/client.go
  cmd/util/v1alpha1_wrapper.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/main.go
  support/api/scheme.go
  support/config/ownerref.go
  support/config/ownerref_test.go
  support/util/route.go
Labels: area/hypershift-operator

Add arch option to create arm nodepools on AWS
  api/fixtures/example.go
  api/v1alpha1/nodepool_types.go
  api/v1beta1/nodepool_conditions.go
  api/v1beta1/nodepool_types.go
  cmd/cluster/aws/create.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/aws/create.go
  cmd/nodepool/core/create.go
  cmd/nodepool/create.go
  cmd/version/version.go
  docs/content/how-to/aws/create-aws-hosted-cluster-arm-workers.md
  docs/content/reference/api.md
  docs/mkdocs.yml
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  support/releaseinfo/fake/fake.go
  test/e2e/arm_nodepool_test.go
  test/e2e/e2e_test.go
Labels: area/hypershift-operator

Updated secret permissions for openshift-controller-manager
  control-plane-operator/controllers/hostedcontrolplane/routecm/deployment.go
Labels: area/control-plane-operator

Fix broken tests for non-aws platforms
  test/e2e/create_cluster_test.go
  test/e2e/nodepool_test.go
  test/e2e/util/fixture.go
Labels: none

Let the aws endpoint to use the hypershift owned SG
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  support/awsutil/sg.go
Labels: area/control-plane-operator

fix nil deref in DefaultWorkerSecurityGroupID check
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
Labels: area/control-plane-operator

Add cluster_name label to nodepools metrics
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  test/e2e/util/fixture.go
Labels: area/hypershift-operator

Include default ingress CA in root CA bundle
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ingress.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ca.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/cmca/configmap_observer.go
  control-plane-operator/hostedclusterconfigoperator/controllers/cmca/setup.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
Labels: area/control-plane-operator
