Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

chore(deps): update module github.com/ashanbrown/makezero/v2 to v2.2.1
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/ashanbrown/makezero/v2/makezero/makezero.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/azuread/microsoft-authentication-library-for-go to v1.9.0
  go.mod
  go.sum
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/confidential/confidential.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/base/base.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/base/storage/items.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/base/storage/partitioned_storage.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/exported/exported.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/json/json.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/oauth.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/accesstokens/accesstokens.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/accesstokens/tokens.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/authority/authority.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/authority/authorizetype_string.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/internal/grant/grant.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/wstrust/defs/wstrust_mex_document.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/resolvers.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/version/version.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/managedidentity/managedidentity.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/managedidentity/servicefabric.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/coreos/go-systemd/v22 to v22.7.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/cyphar/filepath-securejoin to v0.7.0
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/CHANGELOG.md
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/VERSION
  hack/tools/vendor/modules.txt
  vendor/cyphar.com/go-pathrs/.golangci.yml
  vendor/cyphar.com/go-pathrs/doc.go
  vendor/cyphar.com/go-pathrs/handle_linux.go
  vendor/cyphar.com/go-pathrs/internal/fdutils/fd_linux.go
  vendor/cyphar.com/go-pathrs/internal/libpathrs/error_unix.go
  vendor/cyphar.com/go-pathrs/internal/libpathrs/libpathrs_linux.go
  vendor/cyphar.com/go-pathrs/procfs/procfs_linux.go
  vendor/cyphar.com/go-pathrs/root_linux.go
  vendor/cyphar.com/go-pathrs/utils_linux.go
  vendor/cyphar.com/go-pathrs/version_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/fd/openat2_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gocompat/gocompat_atomic_go119.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gocompat/gocompat_atomic_unsupported.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gopathrs/lookup_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gopathrs/openat2_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/linux/openat2_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/open_libpathrs.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/daixiang0/gci to v0.14.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/daixiang0/gci/pkg/config/config.go
  hack/tools/vendor/github.com/daixiang0/gci/pkg/section/local_module.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/dlclark/regexp2 to v1.12.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/dlclark/regexp2/README.md
  hack/tools/vendor/github.com/dlclark/regexp2/runner.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/docker/go-metrics to v0.1.0
  go.mod
  go.sum
  vendor/github.com/docker/go-metrics/LICENSE.docs
  vendor/github.com/docker/go-metrics/README.md
  vendor/github.com/docker/go-metrics/counter.go
  vendor/github.com/docker/go-metrics/docs.go
  vendor/github.com/docker/go-metrics/gauge.go
  vendor/github.com/docker/go-metrics/handler.go
  vendor/github.com/docker/go-metrics/namespace.go
  vendor/github.com/docker/go-metrics/register.go
  vendor/github.com/docker/go-metrics/timer.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/elliotchance/orderedmap to v1.8.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/elliotchance/orderedmap/README.md
  hack/tools/vendor/github.com/elliotchance/orderedmap/orderedmap.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/emicklei/go-restful/v3 to v3.13.0
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/emicklei/go-restful/v3/.travis.yml
  hack/tools/vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  hack/tools/vendor/github.com/emicklei/go-restful/v3/README.md
  hack/tools/vendor/github.com/emicklei/go-restful/v3/curly.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/custom_verb.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/doc.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/felixge/httpsnoop to v1.1.0
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/felixge/httpsnoop/capture_metrics.go
  hack/tools/vendor/github.com/felixge/httpsnoop/wrap_generated.go
  hack/tools/vendor/github.com/felixge/httpsnoop/wrap_generated_gteq_1.8.go
  hack/tools/vendor/github.com/felixge/httpsnoop/wrap_generated_lt_1.8.go
  hack/tools/vendor/modules.txt
  vendor/github.com/felixge/httpsnoop/capture_metrics.go
  vendor/github.com/felixge/httpsnoop/wrap_generated.go
  vendor/github.com/felixge/httpsnoop/wrap_generated_gteq_1.8.go
  vendor/github.com/felixge/httpsnoop/wrap_generated_lt_1.8.go
  vendor/modules.txt
Labels: none

fix(OCPBUGS-126895): preserve AWS API error details on AWSEndpointService reconcile
  hypershift-operator/controllers/platform/aws/controller.go
  hypershift-operator/controllers/platform/aws/controller_test.go
Labels: area/hypershift-operator

chore(deps): update module cloud.google.com/go/auth to v0.23.3
  go.mod
  go.sum
  vendor/cloud.google.com/go/auth/CHANGES.md
  vendor/cloud.google.com/go/auth/credentials/detect.go
  vendor/cloud.google.com/go/auth/credentials/filetypes.go
  vendor/cloud.google.com/go/auth/credentials/internal/externalaccount/x509_provider.go
  vendor/cloud.google.com/go/auth/httptransport/transport.go
  vendor/cloud.google.com/go/auth/internal/internal.go
  vendor/cloud.google.com/go/auth/internal/regionalaccessboundary/external_accounts_config_providers.go
  vendor/cloud.google.com/go/auth/internal/regionalaccessboundary/regional_access_boundary.go
  vendor/cloud.google.com/go/auth/internal/retry/retry.go
  vendor/cloud.google.com/go/auth/internal/retry/retry_linux.go
  vendor/cloud.google.com/go/auth/internal/transport/cert/secureconnect_cert.go
  vendor/cloud.google.com/go/auth/internal/transport/cert/workload_cert.go
  vendor/cloud.google.com/go/auth/internal/transport/headers/headers.go
  vendor/cloud.google.com/go/auth/internal/trustboundary/trust_boundary.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/go-viper/mapstructure/v2 to v2.5.0
  go.mod
  go.sum
  vendor/github.com/go-viper/mapstructure/v2/.editorconfig
  vendor/github.com/go-viper/mapstructure/v2/.envrc
  vendor/github.com/go-viper/mapstructure/v2/.gitignore
  vendor/github.com/go-viper/mapstructure/v2/devenv.lock
  vendor/github.com/go-viper/mapstructure/v2/devenv.nix
  vendor/github.com/go-viper/mapstructure/v2/devenv.yaml
  vendor/github.com/go-viper/mapstructure/v2/flake.lock
  vendor/github.com/go-viper/mapstructure/v2/flake.nix
  vendor/github.com/go-viper/mapstructure/v2/mapstructure.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/goccy/go-yaml to v1.19.2
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/goccy/go-yaml/ast/ast.go
  hack/tools/vendor/github.com/goccy/go-yaml/decode.go
  hack/tools/vendor/github.com/goccy/go-yaml/encode.go
  hack/tools/vendor/github.com/goccy/go-yaml/internal/format/format.go
  hack/tools/vendor/github.com/goccy/go-yaml/option.go
  hack/tools/vendor/github.com/goccy/go-yaml/parser/parser.go
  hack/tools/vendor/github.com/goccy/go-yaml/path.go
  hack/tools/vendor/github.com/goccy/go-yaml/scanner/scanner.go
  hack/tools/vendor/github.com/goccy/go-yaml/yaml.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module github.com/googleapis/gax-go/v2 to v2.24.1
  go.mod
  go.sum
  vendor/github.com/googleapis/gax-go/v2/.release-please-manifest.json
  vendor/github.com/googleapis/gax-go/v2/CHANGES.md
  vendor/github.com/googleapis/gax-go/v2/internal/version.go
  vendor/github.com/googleapis/gax-go/v2/proto_json_stream_go127.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/hashicorp/go-version to v1.9.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/hashicorp/go-version/CHANGELOG.md
  hack/tools/vendor/github.com/hashicorp/go-version/README.md
  hack/tools/vendor/github.com/hashicorp/go-version/version.go
  hack/tools/vendor/modules.txt
Labels: none

refactor: move operand label/annotation to karpenter-operator repo
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/karpenter/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/karpenter/component_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/karpenter/deployment.go
Labels: area/control-plane-operator

feat(skills): add open-pull-request skill
  .claude/skills/open-pull-request/SKILL.md
Labels: none

fix(CPO): rebuild opm cache for management OLM catalogs
  control-plane-operator/controllers/hostedcontrolplane/testdata/certified-operators-catalog/AROSwift/zz_fixture_TestControlPlaneComponents_certified_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/certified-operators-catalog/EtcdRestore/zz_fixture_TestControlPlaneComponents_certified_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/certified-operators-catalog/GCP/zz_fixture_TestControlPlaneComponents_certified_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/certified-operators-catalog/IBMCloud/zz_fixture_TestControlPlaneComponents_certified_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/certified-operators-catalog/ModernTLS/zz_fixture_TestControlPlaneComponents_certified_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/certified-operators-catalog/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_certified_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/certified-operators-catalog/zz_fixture_TestControlPlaneComponents_certified_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/community-operators-catalog/AROSwift/zz_fixture_TestControlPlaneComponents_community_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/community-operators-catalog/EtcdRestore/zz_fixture_TestControlPlaneComponents_community_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/community-operators-catalog/GCP/zz_fixture_TestControlPlaneComponents_community_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/community-operators-catalog/IBMCloud/zz_fixture_TestControlPlaneComponents_community_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/community-operators-catalog/ModernTLS/zz_fixture_TestControlPlaneComponents_community_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/community-operators-catalog/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_community_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/community-operators-catalog/zz_fixture_TestControlPlaneComponents_community_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/redhat-operators-catalog/AROSwift/zz_fixture_TestControlPlaneComponents_redhat_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/redhat-operators-catalog/EtcdRestore/zz_fixture_TestControlPlaneComponents_redhat_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/redhat-operators-catalog/GCP/zz_fixture_TestControlPlaneComponents_redhat_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/redhat-operators-catalog/IBMCloud/zz_fixture_TestControlPlaneComponents_redhat_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/redhat-operators-catalog/ModernTLS/zz_fixture_TestControlPlaneComponents_redhat_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/redhat-operators-catalog/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_redhat_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/redhat-operators-catalog/zz_fixture_TestControlPlaneComponents_redhat_operators_catalog_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/certified-operators-catalog/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/community-operators-catalog/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/redhat-operators-catalog/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/olm/catalogs/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/olm/catalogs/deployment_test.go
Labels: area/control-plane-operator

fix(gcp)!: require zone flag for cluster and nodepool creation
  cmd/cluster/gcp/create.go
  cmd/cluster/gcp/create_test.go
  cmd/nodepool/gcp/create.go
  cmd/nodepool/gcp/create_test.go
  docs/content/how-to/gcp/create-gcp-hosted-cluster.md
  docs/content/how-to/gcp/e2e-gke-ci-job.md
  docs/content/reference/aggregated-docs.md
  test/e2e/e2e_test.go
Labels: none

test(gcp): improve zone validation test coverage
  cmd/cluster/gcp/create_test.go
  cmd/cluster/gcp/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_successfully.yaml
  cmd/nodepool/gcp/create_test.go
Labels: none

fix(gcp): address node termination handler reviews
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/gcp-node-termination-handler/cmd.go
  control-plane-operator/gcp-node-termination-handler/handler.go
  control-plane-operator/gcp-node-termination-handler/handler_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator, area/control-plane-operator

docs(api): update generated API reference
  docs/content/reference/api.md
Labels: none

feat(control-plane-operator): add GCP workload identity webhook
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/gcp.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/gcp_workload_identity_federation_webhook.go
  control-plane-operator/controllers/hostedcontrolplane/pki/gcp_workload_identity_federation_webhook_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/gcp-workload-identity-federation-webhook-kubeconfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/gcp_workload_identity_federation_webhook_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kubeconfig.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/gcp_workload_identity_federation_webhook_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/gcp_workload_identity_federation_webhook.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

test(gcp): address workload identity e2e feedback
  test/e2e/util/gcp.go
  test/e2e/v2/tests/hosted_cluster_gcp_wif_test.go
Labels: none

fix(gcp): address workload identity webhook CI feedback
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/GCP/zz_fixture_TestControlPlaneComponents_gcp_workload_identity_federation_webhook_kubeconfig_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/GCP/zz_fixture_TestControlPlaneComponents_kube_apiserver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/GCP/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
  hack/tools/hypershiftlinter/analyzers/e2eutilallowlist/e2eutilallowlist.go
  test/e2e/util/gcp.go
  test/e2e/v2/tests/hosted_cluster_gcp_wif_test.go
Labels: area/control-plane-operator

test(e2e): add GCP workload identity webhook coverage
  test/e2e/util/gcp.go
  test/e2e/v2/internal/workload_registry.go
  test/e2e/v2/tests/hosted_cluster_gcp_wif_test.go
Labels: none

docs(gcp): explain workload identity webhook mutation
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/gcp_workload_identity_federation_webhook_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/how-to/gcp/index.md
  docs/content/how-to/gcp/workload-identity-webhook.md
  docs/content/reference/aggregated-docs.md
  docs/mkdocs.yml
Labels: area/control-plane-operator

fix(gcp): default workload identity audience to openshift
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/GCP/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/gcp_workload_identity_federation_webhook_test.go
Labels: area/control-plane-operator

test(gcp): add informing label to workload identity test
  test/e2e/v2/tests/hosted_cluster_gcp_wif_test.go
Labels: none

fix(hostedcluster): skip ignition server status flow when disabled
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/ignition_disabled_test.go
  hypershift-operator/controllers/hostedcluster/reconcile_legacy.go
  support/conditions/conditions.go
  support/conditions/conditions_test.go
Labels: area/hypershift-operator

chore(api): regenerate CRDs, clients, deepcopy, and vendor
  client/applyconfiguration/hypershift/v1beta1/ingressdefaultcertificatereference.go
  client/applyconfiguration/hypershift/v1beta1/ingressoperatorspec.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/operator.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: none

feat(hypershift-operator): sync ingress default certificate and report status
  hypershift-operator/controllers/hostedcluster/enqueue_secret_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/ingress_default_cert_sync_test.go
  support/statuspatching/statuspatching.go
  support/statuspatching/statuspatching_test.go
Labels: area/hypershift-operator

feat(control-plane-operator): use user-provided ingress default certificate in HCCO
  control-plane-operator/controllers/hostedcontrolplane/manifests/ingress.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

test(e2e): add ingress default certificate coverage
  api/hypershift/v1beta1/operator_test.go
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.ingress.testsuite.yaml
  test/e2e/util/util.go
  test/e2e/util/util_test.go
  test/e2e/v2/tests/hosted_cluster_ingress_test.go
  test/e2e/v2/util/certs.go
Labels: area/hypershift-operator

fix(ci): validate pending commit messages with gitlint
  .pre-commit-config.yaml
  DEVELOPMENT.md
  Makefile
  docs/content/contribute/precommit-hook-help.md
  docs/content/reference/aggregated-docs.md
Labels: none

fix(OCPBUGS-98721): Fix inconsistent discriminated union in NodePoolManagement
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/cluster/aws/create.go
  cmd/cluster/azure/create.go
  cmd/cluster/gcp/create.go
  cmd/cluster/kubevirt/create.go
  cmd/cluster/openstack/create.go
  cmd/cluster/powervs/create.go
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/featuregated.nodepools.osimagestream.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.validation.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: area/hypershift-operator

fix: Ensure KubeVirt NodePools default upgradeType before replace defaults
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
Labels: area/hypershift-operator

test: Improve webhook test with fatal assertions and nil checks
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
Labels: area/hypershift-operator

fix(OCPBUGS-98721): Apply Replace defaults in webhook for all platforms
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
Labels: area/hypershift-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
