Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

MULTIARCH-3708: PowerVS - Fix cluster deletion when existing resources passed
  cmd/infra/powervs/destroy.go
Labels: none

Re-enable the NTO inplace e2e test for KubeVirt
  test/e2e/nodepool_nto_machineconfig_test.go
Labels: none

enable CGO_ENABLED for building FIPS compliant images
  Makefile
Labels: none

Add dev flags in destroy cluster powervs command
  cmd/cluster/core/destroy.go
  cmd/cluster/powervs/create.go
  cmd/cluster/powervs/destroy.go
  cmd/infra/powervs/create.go
  cmd/infra/powervs/destroy.go
Labels: none

fixed gomega created from parent test context
  test/e2e/autoscaling_test.go
  test/e2e/chaos_test.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/create_cluster_test.go
  test/e2e/nodepool_test.go
  test/e2e/olm_test.go
  test/e2e/util/hypershift_framework.go
Labels: none

Document instructions for recovering etcd cluster from lost quorum
  docs/content/how-to/etcd-recovery.md
Labels: none

DO NOT MERGE, testing only
  cmd/cluster/core/create.go
  test/e2e/nodepool_nto_machineconfig_test.go
Labels: none

Bump hypershift version to 4.15
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  support/supportedversion/version.go
  support/supportedversion/version_test.go
Labels: area/hypershift-operator

tuned DS should not use controlPlaneReleaseImage
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
Labels: area/control-plane-operator

unset ControlPlaneReleaseImage on HCP when ControlPlaneRelease is unset on HC
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

tuned DS should not use controlPlaneReleaseImage
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
Labels: area/control-plane-operator

Dump KubeVirt pod logs
  cmd/cluster/core/dump.go
Labels: none

Validate KubeVirt platform required versioning
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  kubevirtexternalinfra/externalinfra.go
  support/supportedversion/version.go
  test/e2e/nodepool_kv_cache_image_test.go
Labels: area/hypershift-operator

enable CGO_ENABLED for building FIPS compliant images
  Makefile
Labels: none

add KAS endpoints to Except in router egress rule
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
Labels: area/hypershift-operator

Add private router to EnsureLimitedEgressTrafficToManagementKAS e2e test
  test/e2e/util/util.go
Labels: none

OCPBUGS-18720: amend OLM catalogs ImageStream according to annotation
  api/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/olm/params.go
  docs/content/how-to/disconnected/automatically-initialize-registry-overrides.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

reconcile Authentication global config
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/authentication.go
  support/globalconfig/cloudcreds.go
Labels: area/control-plane-operator

Fix panic in ConvertImageRegistryOverrideStringToMap
  support/util/util.go
  support/util/util_test.go
Labels: none

OCPBUGS-18907: add KAS endpoints to Except in router egress rule (#3007)
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  test/e2e/util/util.go
Labels: area/hypershift-operator

add KAS endpoints to Except in router egress rule
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
Labels: area/hypershift-operator

Add private router to EnsureLimitedEgressTrafficToManagementKAS e2e test
  test/e2e/util/util.go
Labels: none

Remove marking pull secret as required in hcp cli
  product-cli/cmd/cluster/cluster.go
Labels: none

Apply private-router network policy only if running OCP 4.14
  hypershift-operator/controllers/hostedcluster/network_policies.go
Labels: area/hypershift-operator

Update secret-creds usage note
  cmd/cluster/aws/create.go
  product-cli/cmd/cluster/aws/create.go
Labels: none

OCPBUGS-18907: add KAS endpoints to Except in router egress rule (#3007)
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  test/e2e/util/util.go
Labels: area/hypershift-operator

Apply private-router network policy only if running OCP 4.14
  hypershift-operator/controllers/hostedcluster/network_policies.go
Labels: area/hypershift-operator

OCPBUGS-18720: amend OLM catalogs ImageStream according to annotation
  api/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/olm/params.go
  docs/content/how-to/disconnected/automatically-initialize-registry-overrides.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

Fix panic in ConvertImageRegistryOverrideStringToMap
  support/util/util.go
  support/util/util_test.go
Labels: none

Update RHTAP references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

Migrate deprecated-base-image-check pipeline
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

Updating hypershift images to be consistent with ART Reconciling with https://github.com/openshift/ocp-build-data/tree/da6a5af1fa96762cc8410f09fc28c0457280f59a/images/hypershift.yml
  .ci-operator.yaml
  Dockerfile.control-plane
Labels: none

Update node drainTimeout docs
  api/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Labels: area/hypershift-operator

OCPBUGS-19332 - Use impersonation consistently during cluster dump on management cluster bound requests
  cmd/cluster/core/dump.go
Labels: none

Revert "Add private router to EnsureLimitedEgressTrafficToManagementKAS e2e test"
  test/e2e/util/util.go
Labels: none

Relax network policy e2e for private
  test/e2e/util/util.go
Labels: none

Relax network policy e2e for private
  test/e2e/util/util.go
Labels: none

set default deploymentconfig params on AWS CCM
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/params.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

Update secret-creds usage note
  cmd/cluster/aws/create.go
  product-cli/cmd/cluster/aws/create.go
Labels: none

Remove marking pull secret as required in hcp cli
  product-cli/cmd/cluster/cluster.go
Labels: none
