Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

Configure OAuth https proxy to dial cloud endpoints directly
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/testdata/zz_fixture_TestReconcileOauthDeploymentNoChanges.yaml
Labels: area/control-plane-operator

Configure OAuth https proxy to dial cloud endpoints directly
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/testdata/zz_fixture_TestReconcileOauthDeploymentNoChanges.yaml
Labels: area/control-plane-operator

Configure OAuth https proxy to dial cloud endpoints directly
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/testdata/zz_fixture_TestReconcileOauthDeploymentNoChanges.yaml
Labels: area/control-plane-operator

Configure OAuth https proxy to dial cloud endpoints directly
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/testdata/zz_fixture_TestReconcileOauthDeploymentNoChanges.yaml
Labels: area/control-plane-operator

Add audit-logs container to kas deployment manifest
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
Labels: area/control-plane-operator

skip if version is less than 4.18
  test/e2e/nodepool_mirrorconfigs_test.go
Labels: none

HCCO: copy KubeletConfig to hosted-cluster
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

logs: improve logging
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/nodepool/nto.go
Labels: area/hypershift-operator, area/control-plane-operator

nodepool: mirror KubeletConfig to HCP NS
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nto.go
  hypershift-operator/controllers/nodepool/nto_test.go
Labels: area/hypershift-operator

e2e:nodepool: test mirror configs
  test/e2e/nodepool_mirrorconfigs_test.go
  test/e2e/nodepool_test.go
Labels: none

nodepool: refactor mirroredConfig label
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nto.go
  hypershift-operator/controllers/nodepool/nto_test.go
Labels: area/hypershift-operator, area/control-plane-operator

vap: protect against tampering
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/kas/admissionpolicies.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  hypershift-operator/controllers/nodepool/nto.go
  test/e2e/util/util.go
Labels: area/hypershift-operator, area/control-plane-operator

HOSTEDCP-2003: Add sharedVPC support on product-cli
  cmd/cluster/aws/create.go
  product-cli/cmd/cluster/aws/destroy.go
Labels: none

HOSTEDCP-2070: add az cli to e2e dockerfile
  Dockerfile.e2e
Labels: none

Refactor kube-scheduler
  api/hypershift/v1beta1/clusterconfig.go
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/params.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/params.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-scheduler/config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-scheduler/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-scheduler/kubeconfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/testdata/zz_fixture_TestGenerateConfig_Leader_elect_args_get_set_correctly__default_profile.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/testdata/zz_fixture_TestGenerateConfig_high_node_utili_ation_profile.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/testdata/zz_fixture_TestGenerateConfig_no_scoring_profile.yaml
  support/config/featuregates.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/clusterconfig.go
Labels: area/hypershift-operator, area/control-plane-operator

Refactor openshift-oauth-apiserver
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-oauth-apiserver/audit-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-oauth-apiserver/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-oauth-apiserver/pdb.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth_apiserver/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth_apiserver/deployment.go
  support/controlplane-component/controlplane-component.go
Labels: area/control-plane-operator

HOSTEDCP-2070: render keyvaultName and KeyVaultTenantID during azure infra creation
  cmd/cluster/azure/create.go
  cmd/infra/azure/create.go
Labels: none

Authenticate CAPZ with cert authentication
  cmd/infra/azure/create.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
  support/config/constants.go
Labels: area/hypershift-operator

OCPBUGS-41365: dont use registryOverrides on kube rbac proxy image because its used in dataplane
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_No_private_apiserver_connectivity__proxy_apiserver_address_is_set.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Private_apiserver_connectivity__proxy_apiserver_address_is_unset.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/assets/10_deployment-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/envreplace.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
Labels: area/control-plane-operator

OCPBUGS-41365: use controlplaneCLI image in CNO init containers
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Labels: area/control-plane-operator

OCPBUGS-44413: add missing assets for OpenStack
  Makefile
  cmd/install/assets/assets.go
  cmd/install/assets/cluster-api-provider-openstack/openstack.k-orc.cloud_images.yaml
  go.mod
  go.sum
  support/api/scheme.go
  vendor/github.com/k-orc/openstack-resource-controller/LICENSE
  vendor/github.com/k-orc/openstack-resource-controller/api/v1alpha1/conditions.go
  vendor/github.com/k-orc/openstack-resource-controller/api/v1alpha1/controller_options.go
  vendor/github.com/k-orc/openstack-resource-controller/api/v1alpha1/credentials_ref.go
  vendor/github.com/k-orc/openstack-resource-controller/api/v1alpha1/doc.go
  vendor/github.com/k-orc/openstack-resource-controller/api/v1alpha1/groupversion_info.go
  vendor/github.com/k-orc/openstack-resource-controller/api/v1alpha1/image_types.go
  vendor/github.com/k-orc/openstack-resource-controller/api/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: none

dump: collect ORC images
  cmd/cluster/core/dump.go
Labels: none

RBAC rules for ORC images
  cmd/cluster/openstack/create.go
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_default_creation_flags.yaml
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/install/assets/hypershift_operator.go
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
Labels: area/hypershift-operator

Fix Spec retrieval from infra for PowerVS platform
  cmd/cluster/powervs/create.go
  cmd/cluster/powervs/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
Labels: none

HOSTEDCP-2167: add flags for passing in ManageIdentities on Azure HC during azure create cluster
  cmd/cluster/azure/create.go
  cmd/infra/azure/create.go
Labels: none

add featureset awareness of CVO manifests
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

Authenticate Azure KMS with cert authentication
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/azure.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/kms.go
  support/config/constants.go
  support/filewatcher/filewatcher.go
Labels: area/control-plane-operator

NO-JIRA: improve OpenStack documentation
  docs/content/how-to/openstack/create-openstack-cluster.md
Labels: none

test/e2e: add e2e coverage for setting HCP pod tolerations
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: none

Fix Spec retrieval from infra for PowerVS platform
  cmd/cluster/powervs/create.go
  cmd/cluster/powervs/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
Labels: none

OCPBUGS-44375: openstack: make external network ID really optional
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
Labels: area/hypershift-operator, area/control-plane-operator

OCPBUGS-44336: add missing comment in v2 openstack ccm
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/config.go
Labels: area/control-plane-operator

NO-JIRA: docs/openstack: clarify CLI
  docs/content/how-to/openstack/create-openstack-cluster.md
Labels: none

Fix konnectivity container inject logic
  support/controlplane-component/konnectivity-container.go
Labels: none

Refactor oauth-server
  api/hypershift/v1beta1/clusterconfig.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/oauth-openshift/audit-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/oauth-openshift/config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/oauth-openshift/default-error-template-secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/oauth-openshift/default-login-template-secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/oauth-openshift/default-provider-selection-template-secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/oauth-openshift/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/oauth-openshift/pdb.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/oauth-openshift/service-session-secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/idp_convert.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/idp_convert_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/sessionsecrets.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/templates.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/templates/errors.html
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/templates/login.html
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/templates/providers.html
  support/controlplane-component/controlplane-component.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/clusterconfig.go
Labels: area/hypershift-operator, area/control-plane-operator

API changes for OpenStack Additional Ports
  api/hypershift/v1beta1/openstack.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/addresspair.go
  client/applyconfiguration/hypershift/v1beta1/openstacknodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/portspec.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/openstack.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator

cmd,cpo,ho: make changes to support OpenStack additional ports
  cmd/cluster/openstack/create.go
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/nodepool/kubevirt/create.go
  cmd/nodepool/openstack/create.go
  cmd/util/params.go
  cmd/util/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/config_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/how-to/openstack/create-openstack-cluster.md
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack_test.go
  hypershift-operator/controllers/nodepool/openstack/openstack.go
  hypershift-operator/controllers/nodepool/openstack/openstack_test.go
  support/config/constants.go
  support/openstackutil/conversion.go
  support/openstackutil/conversion_test.go
  support/util/networking.go
  support/util/networking_test.go
  test/e2e/nodepool_osp_multinet_test.go
  test/e2e/nodepool_test.go
Labels: area/hypershift-operator, area/control-plane-operator

Add openshift to the groups of system:hosted-cluster-config
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
Labels: area/control-plane-operator

doc: Fix kubevirt --attach-default-network opt
  cmd/nodepool/kubevirt/create.go
  docs/content/how-to/kubevirt/configuring-network.md
Labels: none

docs: minor fix for OpenStack
  docs/content/how-to/openstack/create-openstack-cluster.md
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
