Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

fix(e2e): move kas-connection-checker spec test to v2 suite
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
  test/e2e/v2/tests/hosted_cluster_compliance_test.go
Labels: none

fix(kas-connection-checker): preserve existing annotations and labels
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

fix(kas-connection-checker): broaden log message to cover all resources
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

fix(e2e): accept node deletion as success in TestSpotTerminationHandler
  test/e2e/nodepool_spot_termination_handler_test.go
Labels: none

fix(OCPBUGS-105282): Add proxy env vars to cluster-storage-operator deployment
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/deployment_test.go
Labels: area/control-plane-operator

docs(CNTRLPLANE-4205): document OSImageStream behaviour deviations
  docs/content/reference/aggregated-docs.md
  docs/content/reference/ocp-behaviour-deviations/osimagestream-discovery.md
  docs/mkdocs.yml
Labels: none

docs: document CAPI provider image override mechanisms
  docs/content/reference/aggregated-docs.md
  docs/content/reference/capi-image-overrides.md
  docs/mkdocs.yml
Labels: none

fix(hostedcluster): cache AWS credential status during endpoint cleanup
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

test: share HostedCluster credential condition fixture
  hypershift-operator/controllers/hostedcluster/aws_endpoint_services_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws_test.go
  support/testutil/hostedcluster.go
  support/testutil/hostedcluster_test.go
Labels: area/hypershift-operator

fix(certs): normalize IP SANs to stop dual-stack KAS cert churn
  support/certs/tls.go
  support/certs/tls_test.go
Labels: none

fix(certs): normalize IP SANs to stop dual-stack KAS cert churn
  support/certs/tls.go
  support/certs/tls_test.go
Labels: none

fix(certs): normalize IP SANs to stop dual-stack KAS cert churn
  support/certs/tls.go
  support/certs/tls_test.go
Labels: none

fix(certs): normalize IP SANs to stop dual-stack KAS cert churn
  support/certs/tls.go
  support/certs/tls_test.go
Labels: none

fix(cpo): include unavailable components in KASLoadBalancerNotReachable message
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
Labels: area/control-plane-operator

fix(cpo): include unavailable components in KASLoadBalancerNotReachable message
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
Labels: area/control-plane-operator

fix(cpo): include unavailable components in KASLoadBalancerNotReachable message
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
Labels: area/control-plane-operator

fix(cpo): include unavailable components in KASLoadBalancerNotReachable message
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

fix(cpo): include unavailable components in KASLoadBalancerNotReachable message
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

fix(OCPBUGS-105282): Add proxy env vars to cluster-storage-operator deployment
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/deployment_test.go
Labels: area/control-plane-operator

fix(e2e): use port-forward for kas-connection-checker compliance test
  test/e2e/v2/internal/test_context.go
  test/e2e/v2/tests/hosted_cluster_compliance_test.go
Labels: none

docs: document Azure lifecycle test sharding
  docs/content/how-to/ci/triage/presubmit-failures.md
  docs/content/how-to/ci/v2-testing/ci-pipeline.md
  docs/content/how-to/ci/v2-testing/debugging.md
  docs/content/how-to/ci/v2-testing/index.md
  docs/content/how-to/ci/v2-testing/test-flow.md
  docs/content/how-to/ci/v2-testing/writing-tests.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/e2e-v2-test-flow.md
Labels: none

fix(webhookcerts): prevent CA overwrite on transient API errors during upgrade
  hypershift-operator/controllers/webhookcerts/webhookcerts_controller.go
  hypershift-operator/controllers/webhookcerts/webhookcerts_controller_test.go
Labels: area/hypershift-operator

test(webhookcerts): add transient-error coverage for certsExist
  hypershift-operator/controllers/webhookcerts/webhookcerts_controller.go
  hypershift-operator/controllers/webhookcerts/webhookcerts_controller_test.go
Labels: area/hypershift-operator

feat(hypershift-operator): add OpenTelemetry SDK tracing instrumentation
  go.mod
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/reconcile_report.go
  hypershift-operator/controllers/hostedcluster/reconcile_report_test.go
  hypershift-operator/controllers/hostedcluster/reconcile_report_tracing_test.go
  hypershift-operator/controllers/hostedcluster/tracing_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/tracing_test.go
  hypershift-operator/main.go
  support/tracing/attributes.go
  support/tracing/tracing.go
  support/tracing/tracing_test.go
  vendor/go.opentelemetry.io/otel/semconv/v1.26.0/README.md
  vendor/go.opentelemetry.io/otel/semconv/v1.26.0/attribute_group.go
  vendor/go.opentelemetry.io/otel/semconv/v1.26.0/doc.go
  vendor/go.opentelemetry.io/otel/semconv/v1.26.0/exception.go
  vendor/go.opentelemetry.io/otel/semconv/v1.26.0/metric.go
  vendor/go.opentelemetry.io/otel/semconv/v1.26.0/schema.go
  vendor/modules.txt
Labels: area/hypershift-operator

build(cli): update Containerfile.cli base images to floating tags (release-4.18)
  Containerfile.cli
Labels: none

feat(e2e): increase e2e v2 control plane upgrade coverage for v1 parity
  test/e2e/v2/lifecycle/aws.go
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/tests/control_plane_upgrade_test.go
  test/e2e/v2/tests/control_plane_workloads_test.go
  test/e2e/v2/tests/upgrade_assertions.go
Labels: none

fix(e2e): label flaking nodepool osImageStream test informing
  test/e2e/v2/tests/nodepool_osimagestream_test.go
Labels: none

feat(ROSAENG-15475): add unit tests and wire CloudTrail check into v2 e2e framework
  hack/tools/hypershiftlinter/analyzers/e2eutilallowlist/e2eutilallowlist.go
  test/e2e/util/cloudtrail.go
  test/e2e/util/cloudtrail_test.go
  test/e2e/util/hypershift_framework.go
  test/e2e/v2/tests/suite_test.go
Labels: none

ci(codespell): skip the konflux tooling venv
  Makefile
Labels: none

feat(scheduling): add ControlPlaneAvailabilityZoneScheduling API and Minimal policy
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_conditions.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ControlPlaneAvailabilityZoneScheduling.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ControlPlaneAvailabilityZoneScheduling.yaml
  client/applyconfiguration/hypershift/v1beta1/controlplaneavailabilityzonescheduling.go
  client/applyconfiguration/hypershift/v1beta1/hostedclusterspec.go
  client/applyconfiguration/hypershift/v1beta1/hostedcontrolplanespec.go
  client/applyconfiguration/utils.go
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  docs/content/reference/hostedcluster-bringup-phases.md
  hypershift-operator/controllers/hostedcluster/az_scheduling_condition.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/featuregate/feature.go
  support/controlplane-component/defaults.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Labels: area/hypershift-operator

test(scheduling): register feature gate in Default manifests and add CEL envtest
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-Default.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-Default.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-SelfManagedHA-Default.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/featuregated.hostedclusters.controlplaneazscheduling.testsuite.yaml
Labels: area/hypershift-operator

test(scheduling): add unit tests for Minimal zonal scheduling
  hypershift-operator/controllers/hostedcluster/az_scheduling_condition_test.go
  support/controlplane-component/minimal_zonal_scheduling_test.go
Labels: area/hypershift-operator

test(api): add serialization compatibility test for the zonal scheduling field
  api/hypershift/v1beta1/controlplane_az_scheduling_serialization_test.go
Labels: area/hypershift-operator

test(e2e): add Minimal zonal scheduling e2e coverage
  cmd/cluster/core/create.go
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/lifecycle/zonal_scheduling.go
  test/e2e/v2/tests/control_plane_workloads_test.go
  test/e2e/v2/tests/minimal_zonal_scheduling_test.go
Labels: none

fix(networkpolicy): allow Konnectivity Route traffic to KAS for Cilium
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/hostedcluster/network_policies_test.go
Labels: area/hypershift-operator

feat(gcp): GCP-503 implement OrphanDeleter with credential health check
  control-plane-operator/controllers/healthcheck/gcp.go
  control-plane-operator/controllers/healthcheck/gcp_test.go
  control-plane-operator/controllers/healthcheck/healthcheck_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_conditions_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
Labels: area/hypershift-operator, area/control-plane-operator

feat(kas): CNTRLPLANE-3998 warn when deprecated hosted cluster configuration is set
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/reconcile_legacy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Labels: area/hypershift-operator, area/control-plane-operator

test(e2e): add SVC URL validation to KubeAPIDNSName test
  support/forwarder/forwarder.go
  test/e2e/util/util.go
  test/e2e/v2/tests/hosted_cluster_dns_test.go
Labels: none

refactor(hcco): reduce root resources module to single RBAC domain call
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

feat(hcco): extract RBAC catalog and traversal into rbac module
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/rbac/rbac.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/rbac/rbac_test.go
Labels: area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
