Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

test: improve karpenter e2e test conditions and logs
  test/e2e/karpenter_test.go
Labels: none

test: dump guest cluster karpenter resources if they exist
  cmd/cluster/core/dump.go
  karpenter-operator/main.go
  support/api/scheme.go
Labels: none

debug: don't merge
  test/e2e/karpenter_test.go
Labels: none

Switch back to admin kubeconfig and use hcco only for featuregate apply
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  kas-bootstrap/kas_boostrap.go
Labels: area/control-plane-operator

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

fix(OCPBUGS-60152): test/e2e: enable EnsureAppLabel check for 4.19
  test/e2e/util/util.go
Labels: none

chore(azure-overrides): update CPO image digest for 4.19.7-4.19.10
  hypershift-operator/controlplaneoperator-overrides/assets/overrides.yaml
Labels: area/hypershift-operator

fix(OCPBUGS-60649): add availibility-prober to all capi-providers
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_provider/component.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/testdata/capi-provider/zz_fixture_TestReconcileComponents.yaml
Labels: area/hypershift-operator, area/control-plane-operator

fix(OCPBUGS-56249): add golangci-lint dependency to lint-fix Makefile phony rule
  Makefile
Labels: none

OCPBUGS-60921: konflux for hcp-cli
  .tekton/hypershift-cli-mce-27-pull-request.yaml
  .tekton/hypershift-cli-mce-27-push.yaml
  Containerfile.cli
  Makefile
Labels: none

OCPBUGS-60923: MCE 2.8 konflux for hcp-cli
  .tekton/hypershift-cli-mce-28-pull-request.yaml
  .tekton/hypershift-cli-mce-28-push.yaml
  Containerfile.cli
  Makefile
Labels: none

test: updating TestValidateSliceNetworkCIDRs tests
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

CNTRLPLANE-1303: Configure validateSliceNetworkCIDRs in HC Controller to include OVN IPv4 subnet fields (#6687)
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

OCPBUGS-60951: MCE 2.6 konflux hcp cli
  .tekton/hypershift-cli-mce-26-pull-request.yaml
  .tekton/hypershift-cli-mce-26-push.yaml
  Containerfile.cli
  Makefile
Labels: none

fix(OCPBUGS-60891): set default goaway-chance to 0.001
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kas_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_kas_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params_test.go
Labels: area/control-plane-operator

fix(ocpbugs-60152): add missing app label to some components
  control-plane-operator/controllers/hostedcontrolplane/fg/assets/job.yaml
  control-plane-operator/controllers/hostedcontrolplane/fg/testdata/zz_fixture_TestReconcileFeatureGateGenerationJob_no_default_security_context.yaml
  control-plane-operator/controllers/hostedcontrolplane/fg/testdata/zz_fixture_TestReconcileFeatureGateGenerationJob_with_default_security_context.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/olm-collect-profiles.cronjob.yaml
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/assets/10_deployment-hypershift.yaml
Labels: area/control-plane-operator

feat(azure/infra): add workload identities file support and role assignments
  cmd/cluster/azure/create.go
  cmd/infra/azure/create.go
Labels: none

fix(ccm/azure): prevent crash loop by scoping identity flags to ARO
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/config.go
Labels: area/control-plane-operator

fix(azure/capi): enable workload identity for CAPI provider
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
Labels: area/hypershift-operator

fix(autonode): allow karpenter-operator to support rhobs monitoring
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/karpenter-operator/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/karpenteroperator/deployment.go
Labels: area/control-plane-operator

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

fix(contrib): Make setup_aks_mi.sh executable
  contrib/managed-azure/setup_aks_mi.sh
Labels: none

feat(azure): add Key Vault encryption key ID parser and Azure e2e coverage
  cmd/cluster/azure/create.go
  support/azureutil/azureutil.go
  support/azureutil/azureutil_test.go
  test/e2e/create_cluster_test.go
Labels: none

docs(rules): expand Jira item creation guidelines and epic details
  .cursor/rules/create-jira-items.mdc
Labels: none

fix(shared-ingress): change the share ingress anti affinity to be RequiredDuringSchedulingIgnoredDuringExecution
  hypershift-operator/controllers/sharedingress/router.go
  hypershift-operator/controllers/sharedingress/router_test.go
Labels: area/hypershift-operator

feat(sharedingress): add infrastructure node scheduling preferences
  hypershift-operator/controllers/sharedingress/router.go
  hypershift-operator/controllers/sharedingress/router_test.go
Labels: area/hypershift-operator

fix(sync-fg-configmap): handle SIGTERM as well
  sync-fg-configmap/update.go
Labels: none

fix(autonode): enable controllers to watch karpenter userData secret
  api/karpenter/v1beta1/karpenter_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/karpenter.go
  hypershift-operator/controllers/nodepool/token.go
  karpenter-operator/controllers/karpenter/assets/assets.go
  karpenter-operator/controllers/karpenter/karpenter_controller.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller_test.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/karpenter_types.go
Labels: area/hypershift-operator

fix(autonode): disable karpenter metric validation in e2e
  test/e2e/util/util.go
Labels: none

test: dump guest cluster karpenter resources if they exist
  cmd/cluster/core/dump.go
  karpenter-operator/main.go
  support/api/scheme.go
Labels: none

test: improve karpenter e2e test conditions and logs
  test/e2e/karpenter_test.go
Labels: none

fix(OCPBUGS-61031): set default goaway-chance to 0.001
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params_test.go
Labels: area/control-plane-operator

chore(autonode): refactor karpenter is enabled check
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/v2/karpenteroperator/component.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/karpenter.go
  hypershift-operator/controllers/nodepool/token.go
  support/karpenter/karpenter.go
Labels: area/hypershift-operator, area/control-plane-operator

Add OIDC bucket verification
  test/e2e/util/sharedoidc.go
Labels: none

feat(claude): add custom command for Kubernetes cluster error analysis
  .claude/commands/analyze.md
Labels: none

feat(.claude): enhance analyze command security and validation
  .claude/commands/analyze.md
Labels: none

Always compress and encode payload in token secret for inplace upgrades
  control-plane-operator/hostedclusterconfigoperator/controllers/inplaceupgrader/inplaceupgrader.go
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
Labels: area/control-plane-operator
