Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

Add hypershift_cluster_created_timestamp_seconds
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/metrics.go
Labels: area/hypershift-operator

Add pre-commit command to Make file
  Makefile
  docs/content/contribute/index.md
Labels: none

Update kubevirt-csi daemonset config to avoid clobbering defaults
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/daemonset.yaml
Labels: area/control-plane-operator

Add dual-stack support to HostedCluster
  api/fixtures/example.go
  api/v1alpha1/hosted_controlplane.go
  api/v1alpha1/hostedcluster_types.go
  cmd/cluster/aws/create.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/infra/aws/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/pki/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  support/globalconfig/installconfig.go
  support/globalconfig/network.go
  support/globalconfig/proxy.go
  support/util/networking.go
  test/e2e/e2e_test.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(ho): honor deprecated global config fields
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  support/globalconfig/globalconfig.go
Labels: area/hypershift-operator

Remove e2e build tag
  Makefile
  test/e2e/autoscaling_test.go
  test/e2e/chaos_test.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
  test/e2e/nodepool_autorepair_test.go
  test/e2e/nodepool_kms_root_volume_test.go
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/nodepool_test.go
  test/e2e/nodepool_upgrade_test.go
  test/e2e/olm_test.go
  test/e2e/podtimingcontroller/podtimingcontroller.go
Labels: none

Move cluster deletion duration metric into controller
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/metrics.go
  hypershift-operator/metrics.go
  test/e2e/e2e_test.go
  test/e2e/util/fixture.go
  test/e2e/util/util.go
Labels: area/hypershift-operator

Move guest cluster resource deletion metric into HC controller
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/metrics.go
  hypershift-operator/metrics.go
  test/e2e/util/fixture.go
Labels: area/hypershift-operator

upgrade proxy instance_type to m5.xlarge
  cmd/infra/aws/create.go
Labels: none

Add publicAndPrivate <-> Private e2e test
  test/e2e/create_cluster_test.go
  test/e2e/util/node.go
  test/e2e/util/oauth.go
  test/e2e/util/util.go
Labels: none

Increase default mem and root volume sizes
  api/v1alpha1/nodepool_types.go
  api/v1beta1/nodepool_types.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
  test/e2e/e2e_test.go
Labels: area/hypershift-operator

make update
  cmd/install/assets/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmpowervsmachines.yaml
  cmd/install/assets/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmpowervsmachinetemplates.yaml
  cmd/install/assets/cluster-api-provider-kubevirt/infrastructure.cluster.x-k8s.io_kubevirtmachines.yaml
  cmd/install/assets/cluster-api-provider-kubevirt/infrastructure.cluster.x-k8s.io_kubevirtmachinetemplates.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
  vendor/sigs.k8s.io/.DS_Store
Labels: none

Pass OPENSHIFT_RELEASE_IMAGE env variable to CNO
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Labels: area/control-plane-operator

Pass OPENSHIFT_RELEASE_IMAGE env variable to CNO
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Labels: area/control-plane-operator

add cloud config back to KAS
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Labels: area/control-plane-operator

Delete kubeadmin secret when an idp is defined
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

Added e2e test
  test/e2e/util/oauth.go
Labels: none

add hyperv1.SilenceClusterAlertsLabel to HostedCluster on deletion
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

add hyperv1.SilenceClusterAlertsLabel to HostedCluster on deletion
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Move HC creation metrics
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics_test.go
  hypershift-operator/metrics.go
  test/e2e/util/fixture.go
Labels: area/hypershift-operator

add hyperv1.SilenceClusterAlertsLabel to HostedCluster on deletion
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

fix(hcco): Get OLM CatalogSource images from defined map
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/olm/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

fix(hcco): Get OLM CatalogSource images from defined map
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/olm/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

get pull secret instead of dockerconfigjson from mce credentials
  cmd/cluster/core/create.go
  cmd/util/secrets.go
Labels: none

get pull secret instead of dockerconfigjson from mce credentials
  cmd/cluster/core/create.go
  cmd/util/secrets.go
Labels: none

Add PollImmediate for e2e metrics to avoid race with prom scrape interval
  test/e2e/util/fixture.go
Labels: none

Run ValidateMetricsAreExposed in None
  test/e2e/util/fixture.go
Labels: none

Add logic to only track available metric on first transition
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics_test.go
Labels: area/hypershift-operator

Add publicAndPrivate <-> Private e2e test
  test/e2e/create_cluster_test.go
  test/e2e/util/node.go
  test/e2e/util/oauth.go
  test/e2e/util/util.go
Labels: none

Delete kubeadmin secret when an idp is defined
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

Added e2e test
  test/e2e/util/oauth.go
Labels: none

Move proxy, silence alerts and limited support metrics into HC controlelr
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/metrics.go
  hypershift-operator/metrics.go
  test/e2e/util/fixture.go
Labels: area/hypershift-operator

Delete kubeadmin secret when an idp is defined
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

Added e2e test
  test/e2e/util/oauth.go
Labels: none

Move cluster deletion duration metric into controller
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/metrics.go
  hypershift-operator/metrics.go
  test/e2e/util/fixture.go
  test/e2e/util/util.go
Labels: area/hypershift-operator

Move guest cluster resource deletion metric into HC controller
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/metrics.go
  hypershift-operator/metrics.go
  test/e2e/util/fixture.go
Labels: area/hypershift-operator

Move HC creation metrics
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics_test.go
  hypershift-operator/metrics.go
  test/e2e/util/fixture.go
Labels: area/hypershift-operator

Add logic to only track available metric on first transition
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics_test.go
Labels: area/hypershift-operator

Add PollImmediate for e2e metrics to avoid race with prom scrape interval
  test/e2e/util/fixture.go
Labels: none

HOSTEDCP-445: Include how to fix image-regsitry clusteroperator after a disaster recovery migration
  docs/content/how-to/aws/troubleshooting.md
Labels: none
