Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

Set GOMEMLIMIT annotation based on request serving node label
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
Labels: area/hypershift-operator

chore(deps): update rhtap references
  .tekton/hypershift-release-mce-25-pull-request.yaml
  .tekton/hypershift-release-mce-25-push.yaml
Labels: none

MCO-392: ignition-server/controllers: drop `MCSIgnitionProvider`
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/machineconfigserver_ignitionprovider.go
Labels: area/control-plane-operator

Update RHTAP references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

Add nodepool annotation to allow ec2-metadata configuration
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: area/hypershift-operator

Set env var when the mgmt cluster supports SCC
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator_test.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/testdata/zz_fixture_TestReconcileOperatorDeployment.yaml
Labels: area/control-plane-operator

support/metrics: don't filter HCCO metrics
  support/metrics/sets.go
Labels: none

Update TLS cert hash creation with sha512
  support/certs/tls.go
Labels: none

Set KAS config pod security Enforce to privileged
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Labels: area/control-plane-operator

Remove EnsurePSANotPrivileged
  test/e2e/util/util.go
Labels: none

Update IBM/networking-go-sdk package
  cmd/infra/powervs/create.go
  go.mod
  go.sum
  vendor/github.com/IBM/networking-go-sdk/directlinkv1/direct_link_v1.go
  vendor/modules.txt
Labels: none

OCPBUGS-30242: Use cluster-config-operator for 4.14 payload
  ignition-server/controllers/local_ignitionprovider.go
Labels: area/control-plane-operator

OCPBUGS-30242: More explicit payload version checks in ignitionserver
  ignition-server/controllers/local_ignitionprovider.go
Labels: area/control-plane-operator

HOSTEDCP-1460: Remove resource limits on azure-cloud-node-manager
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

OCPBUGS-28370: Skip SG deletion if it has dependancy violation
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

Add multi-arch flag to CLI & associated validation
  cmd/cluster/aws/create.go
  cmd/cluster/aws/create_test.go
  cmd/cluster/core/create.go
  support/releaseinfo/registryclient/client.go
Labels: none

Add documentation on the multi-arch flag
  docs/content/how-to/aws/create-heterogeneous-nodepools.md
  docs/mkdocs.yml
Labels: none

Add e2e check for OpenShift APIService availability during upgrade
  test/e2e/control_plane_upgrade_test.go
  test/e2e/util/apiservice.go
  test/e2e/util/util.go
Labels: none

OCPBUGS-30242: consider nigthly images in payoad version check
  ignition-server/controllers/local_ignitionprovider.go
Labels: area/control-plane-operator

cmd/install: break out CRDs from other assets
  cmd/install/install.go
  cmd/install/install_render.go
Labels: none

honor Image cluster configuration
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/params.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/config.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/params.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  ignition-server/controllers/local_ignitionprovider.go
  support/globalconfig/image.go
  support/globalconfig/observed.go
Labels: area/hypershift-operator, area/control-plane-operator

honor Image cluster configuration
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/params.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/config.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/params.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  ignition-server/controllers/local_ignitionprovider.go
  support/globalconfig/image.go
  support/globalconfig/observed.go
Labels: area/hypershift-operator, area/control-plane-operator

Revert "HOSTEDCP-1220: Add multi-arch flag to CLI & associated validation"
  cmd/cluster/aws/create.go
  cmd/cluster/aws/create_test.go
  cmd/cluster/core/create.go
  docs/content/how-to/aws/create-heterogeneous-nodepools.md
  docs/mkdocs.yml
  support/releaseinfo/registryclient/client.go
Labels: none

Support additional node selectors for request serving nodes
  api/hypershift/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/config/deployment.go
  support/util/util.go
  support/util/util_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

speed up HCP rollout durations
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/params.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/scheduler/params.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

Update RHTAP references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

chore(deps): update rhtap references
  .tekton/hypershift-release-mce-25-pull-request.yaml
  .tekton/hypershift-release-mce-25-push.yaml
Labels: none

chore(deps): update rhtap references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

Use regionalized STS endpoints in AWS
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
Labels: area/hypershift-operator, area/control-plane-operator

Add ability to set managed service type in HO
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Add multi-arch flag to CLI & associated validation
  cmd/cluster/aws/create.go
  cmd/cluster/aws/create_test.go
  cmd/cluster/core/create.go
  support/releaseinfo/registryclient/client.go
Labels: none

Add documentation on the multi-arch flag
  docs/content/how-to/aws/create-heterogeneous-nodepools.md
  docs/mkdocs.yml
Labels: none

Replace CI build image with multi-arch version
  .ci-operator.yaml
  Dockerfile
  Dockerfile.control-plane
Labels: none

Remove EnsurePSANotPrivileged
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: none

NO-JIRA:Bump CPO Read API budget to 4000 in EnsureApiBudget
  test/e2e/util/util.go
Labels: none

hypershift-operator: react to hosted cluster changes
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
Labels: area/hypershift-operator

Add missing PodSecurityViolation alert
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/alerts/assets/podsecurity-violation.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/alerts/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/alerts.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

Support specifying AWS LB subnets
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  support/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator, area/control-plane-operator

Use regionalized STS endpoints in AWS
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
Labels: area/hypershift-operator, area/control-plane-operator

switch PDBs from minAvailable to maxUnavailable
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kas/pdb.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/pdb.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/pdb.go
Labels: area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
