Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

chore(deps): update module github.com/opencontainers/runc to v1.3.2
  go.mod
  go.sum
  vendor/github.com/moby/sys/user/LICENSE
  vendor/github.com/moby/sys/user/lookup_unix.go
  vendor/github.com/moby/sys/user/user.go
  vendor/github.com/moby/sys/user/user_fuzzer.go
  vendor/github.com/opencontainers/runc/NOTICE
  vendor/github.com/opencontainers/runc/libcontainer/user/lookup_deprecated.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user_deprecated.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/xattrs_linux.go
  vendor/github.com/opencontainers/selinux/pkg/pwalkdir/README.md
  vendor/github.com/opencontainers/selinux/pkg/pwalkdir/pwalkdir.go
  vendor/modules.txt
Labels: none

chore(deps): update module github.com/pjbgf/sha1cd to v0.5.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/klauspost/cpuid/v2/.gitignore
  hack/tools/vendor/github.com/klauspost/cpuid/v2/.goreleaser.yml
  hack/tools/vendor/github.com/klauspost/cpuid/v2/CONTRIBUTING.txt
  hack/tools/vendor/github.com/klauspost/cpuid/v2/LICENSE
  hack/tools/vendor/github.com/klauspost/cpuid/v2/README.md
  hack/tools/vendor/github.com/klauspost/cpuid/v2/cpuid.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/cpuid_386.s
  hack/tools/vendor/github.com/klauspost/cpuid/v2/cpuid_amd64.s
  hack/tools/vendor/github.com/klauspost/cpuid/v2/cpuid_arm64.s
  hack/tools/vendor/github.com/klauspost/cpuid/v2/detect_arm64.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/detect_ref.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/detect_x86.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/featureid_string.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/os_darwin_arm64.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/os_linux_arm64.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/os_other_arm64.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/os_safe_linux_arm64.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/os_unsafe_linux_arm64.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/test-architectures.sh
  hack/tools/vendor/github.com/pjbgf/sha1cd/Dockerfile.arm
  hack/tools/vendor/github.com/pjbgf/sha1cd/Dockerfile.arm64
  hack/tools/vendor/github.com/pjbgf/sha1cd/LICENSE
  hack/tools/vendor/github.com/pjbgf/sha1cd/Makefile
  hack/tools/vendor/github.com/pjbgf/sha1cd/README.md
  hack/tools/vendor/github.com/pjbgf/sha1cd/sha1cd.go
  hack/tools/vendor/github.com/pjbgf/sha1cd/sha1cdblock_amd64.s
  hack/tools/vendor/github.com/pjbgf/sha1cd/sha1cdblock_arm64.go
  hack/tools/vendor/github.com/pjbgf/sha1cd/sha1cdblock_arm64.s
  hack/tools/vendor/github.com/pjbgf/sha1cd/sha1cdblock_generic.go
  hack/tools/vendor/github.com/pjbgf/sha1cd/sha1cdblock_noasm.go
  hack/tools/vendor/github.com/pjbgf/sha1cd/ubc/doc.go
  hack/tools/vendor/github.com/pjbgf/sha1cd/ubc/ubc.go
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update module go.etcd.io/etcd/pkg/v3 to v3.6.5
  go.mod
Labels: none

fix(SREP-715): New option to dump data plane content through the kube API server service exposed in HCP namespaces
  cmd/cluster/core/dump.go
Labels: none

Migrating to math/rand/v2
  cmd/cluster/core/dump.go
Labels: none

docs(ai): add guidelines for closing Jira items
  .cursor/rules/close-jira-items.mdc
Labels: none

fix(cvo): support image overrides annotation for CVO deployment
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

fix(resources): allow deletion when cleanup is skipped due to guest cluster unavailability
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Labels: area/hypershift-operator, area/control-plane-operator

feat(claude): add slash command for addressing PR review comments
  .claude/commands/address-reviews.md
Labels: none

fix(deps): update github.com/openshift/hypershift/api digest to 2c4e9f5
  go.mod
  vendor/modules.txt
Labels: none

chore(deps): update module golang.org/x/oauth2 to v0.32.0
  api/go.mod
  api/go.sum
  api/vendor/golang.org/x/oauth2/oauth2.go
  api/vendor/modules.txt
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/golang.org/x/oauth2/internal/doc.go
  hack/tools/vendor/golang.org/x/oauth2/internal/oauth2.go
  hack/tools/vendor/golang.org/x/oauth2/internal/token.go
  hack/tools/vendor/golang.org/x/oauth2/internal/transport.go
  hack/tools/vendor/golang.org/x/oauth2/oauth2.go
  hack/tools/vendor/golang.org/x/oauth2/pkce.go
  hack/tools/vendor/golang.org/x/oauth2/token.go
  hack/tools/vendor/golang.org/x/oauth2/transport.go
  hack/tools/vendor/modules.txt
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/modules.txt
Labels: area/hypershift-operator

fix(globalps): Fix some issues on E2E and remove inplace support for GlobalPullSecret
  sync-global-pullsecret/sync-global-pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret_test.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: none

chore(deps): update github.com/openshift/karpenter-provider-aws digest to 597b797
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/hypershift-operator

chore(deps): update golang.org/x/exp/typeparams digest to 90e834f
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/modules.txt
Labels: none

chore(deps): update konflux references
  .tekton/control-plane-operator-main-pull-request.yaml
  .tekton/control-plane-operator-main-push.yaml
  .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml
  .tekton/hypershift-gomaxprocs-webhook-push.yaml
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-operator-main-tag.yaml
  .tekton/hypershift-shared-ingress-main-pull-request.yaml
  .tekton/hypershift-shared-ingress-main-push.yaml
Labels: none

SREP-715: fix(cmd): New option to dump data plane content through the kube API server service exposed in HCP namespaces
  cmd/cluster/core/dump.go
Labels: none

NO-JIRA: chore(cmd): Migrating to math/rand/v2
  cmd/cluster/core/dump.go
Labels: none

Update PR based on feedback
  docs/content/how-to/openstack/performance-tuning.md
Labels: none

fix(metrics): distinguish unknown from invalid AWS credential status
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws_test.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics_test.go
Labels: area/hypershift-operator

Add e2e test for ARO HCP with Cilium Network Policies
  test/e2e/util/cilium_network_policies.go
  test/e2e/util/cilium_network_policies_test.go
  test/e2e/util/hypershift_framework.go
Labels: none

fix(globalps): replace privileged container with specific capabilities
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
Labels: area/control-plane-operator

feat(globalps): mount pull secrets as volumes in DaemonSet and optimize sync-global-pullsecret
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret.go
Labels: area/control-plane-operator

refactor(globalps): optimize global pull secret sync with file-based approach
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret_test.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

feat: implement GlobalPullSecret precedence logic and fix syncer permissions
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/setup.go
  support/awsutil/awsutil.go
  support/awsutil/awsutil_test.go
  sync-global-pullsecret/sync-global-pullsecret.go
Labels: area/control-plane-operator

feat: enable global pull secret for AWS
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps_test.go
  docs/content/how-to/common/global-pull-secret.md
  support/awsutil/awsutil.go
  support/awsutil/awsutil_test.go
  sync-global-pullsecret/sync-global-pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret_test.go
  test/e2e/create_cluster_test.go
  test/e2e/util/globalps.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

fix(globalps): Fix some issues on E2E and remove inplace support for GlobalPullSecret
  sync-global-pullsecret/sync-global-pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret_test.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: none

feat(api): Add initial GCP platform support to Hosted Cluster API
  api/hypershift/v1beta1/gcp.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/gcpplatformspec.go
  client/applyconfiguration/hypershift/v1beta1/platformspec.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  test/e2e/create_cluster_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Labels: area/hypershift-operator

fix(deps): update github.com/openshift/cluster-api-provider-agent/api digest to 3b8540c
  go.mod
  go.sum
  vendor/modules.txt
Labels: none

fix(deps): update github.com/openshift/library-go digest to f489e81
  go.mod
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

fix: do not use HCPRouter when PlatformType is IBMCloudPlatform
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component.go
Labels: area/control-plane-operator

fix(OCPBUGS-61829): resolve initContainer permission issue after node reboot
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_openshift_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_openshift_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/zz_fixture_TestControlPlaneComponents_openshift_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-apiserver/deployment.yaml
Labels: area/control-plane-operator

First refactor
  test/e2e/util/util.go
  test/e2e/util/version.go
Labels: none

Refactor partial
  test/e2e/util/util.go
Labels: none

Refactor EnsureKubeAPIDNSNameCustomCert
  test/e2e/util/util.go
Labels: none

fix(e2e): correct readOnlyRootFilesystem test logic
  test/e2e/util/util.go
Labels: none

Refactor EnsureGlobalPullSecret
  test/e2e/util/util.go
  test/e2e/util/version.go
Labels: none

feat(skills): add Effective Go skill for automated code quality
  .claude/SKILLS.md
  .claude/skills/effective-go/SKILL.md
  CLAUDE.md
Labels: none

feat(skills): add Git Commit Format skill
  .claude/SKILLS.md
  .claude/skills/git-commit-format/SKILL.md
Labels: none

feat(skills): add Code Formatting skill
  .claude/SKILLS.md
  .claude/skills/code-formatting/SKILL.md
Labels: none
