Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

add AWS STS URL to OIDC provider audiences
  cmd/infra/aws/iam.go
Labels: none

add AWS STS URL to OIDC provider audiences
  cmd/infra/aws/iam.go
Labels: none

test/e2e: fix prometheus serviceaccount handling against 4.16+
  test/e2e/util/query.go
  test/e2e/util/util.go
Labels: none

update vendor
  vendor/github.com/openshift/library-go/test/library/metrics/query.go
  vendor/modules.txt
Labels: none

OCPBUGS-24400: Recover the ETCD member on cluster boot
  Makefile
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
Labels: area/control-plane-operator

Bump pod security to v0.30.1
  go.mod
  go.sum
  vendor/k8s.io/pod-security-admission/admission/api/doc.go
  vendor/k8s.io/pod-security-admission/admission/api/v1beta1/doc.go
  vendor/modules.txt
Labels: none

Bump github.com/opencontainers/runc from to 1.1.12
  go.mod
  go.sum
  go.work.sum
  vendor/modules.txt
Labels: none

HOSTEDCP-1514: support Azure diagnostics on NodePools
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1beta1/azurenodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/diagnostics.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/azure.go
Labels: area/hypershift-operator

HOSTEDCP-1514: explicit set bootdiagnostics to disabled by default azure NP
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/nodepool_types.go
  client/applyconfiguration/hypershift/v1alpha1/azurenodepoolplatform.go
  client/applyconfiguration/hypershift/v1alpha1/diagnostics.go
  client/applyconfiguration/hypershift/v1beta1/azurenodepoolplatform.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Labels: area/hypershift-operator

HOSTEDCP-1122: Add packages from CEO
  pkg/etcdcli/etcdcli.go
  pkg/etcdcli/etcdcli_opts.go
  pkg/etcdcli/etcdcli_pool.go
  pkg/etcdcli/etcdcli_pool_test.go
  pkg/etcdcli/health.go
  pkg/etcdcli/health_test.go
  pkg/etcdcli/helpers.go
  pkg/etcdcli/interfaces.go
Labels: none

HOSTEDCP-1122: etcd-defrag-controller implementation.
  etcd-defrag/etcddefrag_controller.go
  etcd-defrag/main.go
Labels: none

HOSTEDCP-1122: etcd deployment for etcd-defrag-controller
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/etcd.go
  control-plane-operator/main.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

OCPBUGS-33952: Documented HCP service exposure
  docs/content/contribute/develop_in_cluster.md
  docs/content/how-to/agent/exposing-services-from-hcp.md
  docs/content/how-to/common/exposing-services-from-hcp.md
  docs/content/how-to/none/exposing-services-from-hcp.md
  docs/content/recipes/agent/exposing-dataplane-with-metallb.md
  docs/content/recipes/common/exposing-dataplane-with-metallb.md
  docs/content/recipes/index.md
  docs/content/recipes/none/exposing-dataplane-with-metallb.md
  docs/mkdocs.yml
Labels: none

Don't try to refer to the openshift-sdn image
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_No_private_apiserver_connectivity__proxy_apiserver_address_is_set.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Private_apiserver_connectivity__proxy_apiserver_address_is_unset.yaml
Labels: area/control-plane-operator

test/e2e: move node label check to ensure block
  test/e2e/util/util.go
Labels: none

add missing Tag permissions to cli role
  cmd/infra/aws/create_cli_role.go
Labels: none

OCPBUGS-33952: Documented HCP service exposure
  docs/content/how-to/common/exposing-services-from-hcp.md
Labels: none

Update Konflux references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

Initialize infra id for e2e-azure tests
  test/e2e/util/fixture.go
Labels: none

hack/test: remove timeouts
  hack/ci-test-e2e-azure.sh
  hack/ci-test-e2e.sh
Labels: none

WiP: Add OpenStack support
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1beta1/platformspec.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/config.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/params.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/openstack.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  support/globalconfig/infrastructure.go
Labels: area/hypershift-operator, area/control-plane-operator

openstack: make clients
  client/applyconfiguration/hypershift/v1beta1/openstackplatformspec.go
Labels: none

HACK: Don't use multi-zone spread
  support/config/deployment.go
Labels: none

openstack: Make CACert optional
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
Labels: area/hypershift-operator, area/control-plane-operator

HACK: Update ImagePullPolicy to Always
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

HACK: Use go cache when building image
  Dockerfile
Labels: none

openstack: Don't set --cloud-provider argument to KAS
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Labels: area/control-plane-operator

openstack: CCM uses clouds.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/reconcile.go
Labels: area/control-plane-operator

OCPBUGS-33953: Document how ICSP/IDMS work in HCP
  docs/content/how-to/common/exposing-services-from-hcp.md
  docs/content/how-to/disconnected/idms-icsp-for-management-clusters.md
  docs/content/how-to/disconnected/image-content-sources.md
  docs/content/how-to/disconnected/index.md
  docs/content/how-to/disconnected/known-issues.md
  docs/content/how-to/disconnected/tls-certificates.md
  docs/mkdocs.yml
Labels: none

test/e2e: remove dead code
  test/e2e/nodepool_test.go
Labels: none

test/e2e: always bound assertions in time
  test/e2e/chaos_test.go
  test/e2e/olm_test.go
Labels: none

test/e2e: misc context fixes:
  test/e2e/nodepool_autorepair_test.go
  test/e2e/nodepool_kms_root_volume_test.go
  test/e2e/nodepool_kv_advanced_multinet_test.go
  test/e2e/nodepool_kv_cache_image_test.go
  test/e2e/nodepool_kv_jsonpatch_test.go
  test/e2e/nodepool_kv_multinet_test.go
  test/e2e/nodepool_kv_nodeselector_test.go
  test/e2e/nodepool_kv_qos_guaranteed_test.go
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/nodepool_nto_performanceprofile_test.go
  test/e2e/nodepool_rolling_upgrade_test.go
  test/e2e/nodepool_test.go
Labels: none

add missing Tag permissions to cli role
  cmd/infra/aws/create_cli_role.go
Labels: none

Generate default worker security group rules based on machineCIDR
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/awsutil/sg.go
Labels: area/control-plane-operator

Remove duplicate logging statements when errors are also returned
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

chore(deps): update konflux references
  .tekton/hypershift-release-mce-25-pull-request.yaml
  .tekton/hypershift-release-mce-25-push.yaml
Labels: none

OCPBUGS-34734: Fix disconnected metadata inspection for nodepool
  hypershift-operator/main.go
Labels: area/hypershift-operator

hack: make the e2e script generic
  hack/ci-test-e2e.sh
Labels: none

pr feedback for syntax + validate annotation is integer
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
Labels: area/control-plane-operator

rebase + merge conflicts
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
