Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

fix(gcp): clean up workload identity credential Secrets (OCPBUGS-128736)
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_test.go
Labels: area/hypershift-operator

refactor(e2e): port Azure validation flows from testing.TB
  test/e2e/v2/tests/hosted_cluster_azure_test.go
  test/e2e/v2/util/azure.go
  test/e2e/v2/util/azure_test.go
  test/e2e/v2/util/cidr.go
  test/e2e/v2/util/cidr_test.go
  test/e2e/v2/util/ingress.go
  test/e2e/v2/util/ingress_test.go
  test/e2e/v2/util/oauth.go
  test/e2e/v2/util/oauth_test.go
Labels: none

refactor(e2e): migrate suites from testing.TB helpers
  test/e2e/v2/tests/control_plane_upgrade_test.go
  test/e2e/v2/tests/etcd_chaos_test.go
  test/e2e/v2/tests/hosted_cluster_aws_test.go
  test/e2e/v2/tests/hosted_cluster_ccm_test.go
  test/e2e/v2/tests/hosted_cluster_pull_secret_test.go
  test/e2e/v2/tests/karpenter_control_plane_upgrade_test.go
  test/e2e/v2/tests/nodepool_arm64_create_test.go
  test/e2e/v2/tests/nodepool_autoscaling_test.go
  test/e2e/v2/tests/nodepool_lifecycle_test.go
  test/e2e/v2/tests/nodepool_osimagestream_test.go
Labels: none

refactor(e2e): add v2 helpers independent of testing.TB
  test/e2e/v2/internal/test_context.go
  test/e2e/v2/internal/test_context_test.go
  test/e2e/v2/util/eventually.go
  test/e2e/v2/util/eventually_test.go
  test/e2e/v2/util/nodes.go
  test/e2e/v2/util/nodes_test.go
  test/e2e/v2/util/object.go
  test/e2e/v2/util/object_test.go
  test/e2e/v2/util/pod_exec.go
  test/e2e/v2/util/pod_exec_test.go
Labels: none

refactor(e2e): migrate Karpenter AWS flows to v2 helpers
  test/e2e/v2/tests/karpenter_test.go
  test/e2e/v2/util/aws.go
  test/e2e/v2/util/aws_test.go
Labels: none

ci(e2e): enforce testing.TB helper boundary in v2
  .golangci.yml
  hack/tools/hypershiftlinter/README.md
  hack/tools/hypershiftlinter/analyzers/e2eutiltestingtb/e2eutiltestingtb.go
  hack/tools/hypershiftlinter/analyzers/e2eutiltestingtb/e2eutiltestingtb_test.go
  hack/tools/hypershiftlinter/analyzers/e2eutiltestingtb/testdata/src/github.com/openshift/hypershift/test/e2e/util/util.go
  hack/tools/hypershiftlinter/analyzers/e2eutiltestingtb/testdata/src/test/e2e/v2/bad/bad_test.go
  hack/tools/hypershiftlinter/analyzers/e2eutiltestingtb/testdata/src/test/e2e/v2/good/good_test.go
  hack/tools/hypershiftlinter/plugin.go
Labels: none

fix(e2e): break v2 util import cycle after rebase
  test/e2e/v2/tests/etcd_chaos_test.go
  test/e2e/v2/tests/hosted_cluster_azure_test.go
  test/e2e/v2/tests/karpenter_test.go
  test/e2e/v2/tests/nodepool_lifecycle_test.go
  test/e2e/v2/util/cidr.go
  test/e2e/v2/util/conditions.go
  test/e2e/v2/util/eventually.go
  test/e2e/v2/util/eventually_test.go
  test/e2e/v2/util/ingress.go
  test/e2e/v2/util/nodes.go
  test/e2e/v2/util/oauth.go
Labels: none

feat(cloud_credential_operator): inject centralized TLS configuration
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_credential_operator/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_credential_operator/deployment_test.go
Labels: area/control-plane-operator

docs(konflux): improve HO hotfix documentation and fix template
  contrib/konflux/README.md
  contrib/konflux/ho_hotfix_stream_template.yaml
Labels: none

refactor(e2e): port Azure OAuth port-forward flows from testing.TB
  test/e2e/v2/tests/hosted_cluster_azure_test.go
  test/e2e/v2/tests/hosted_cluster_ingress_test.go
  test/e2e/v2/tests/karpenter_control_plane_upgrade_test.go
  test/e2e/v2/util/oauth.go
Labels: none

fix(ci): install release workflow binaries to user-writable path
  .github/workflows/create-release-reusable.yaml
  .github/workflows/create-tag-reusable.yaml
  .github/workflows/validate-tag-request-reusable.yaml
Labels: none

fix: clean up AWS load balancers during teardown
  cmd/cluster/aws/destroy.go
  cmd/cluster/aws/destroy_test.go
  cmd/infra/aws/create.go
  cmd/infra/aws/delegating_client.go
  cmd/infra/aws/destroy.go
  cmd/infra/aws/ec2.go
  cmd/infra/aws/iam.go
  cmd/infra/aws/iam_test.go
  cmd/infra/aws/route53.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/EtcdRestore/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/ModernTLS/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/configoperator/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/configoperator/deployment_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/aws_credentials_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/aws_load_balancer_cleanup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  support/awsapi/elasticloadbalancing.go
  support/awsapi/elasticloadbalancingv2.go
  support/awsutil/loadbalancer.go
  support/awsutil/loadbalancer_test.go
  support/awsutil/tags.go
  support/awsutil/tags_test.go
  support/controlplane-component/builder.go
  support/controlplane-component/defaults_test.go
  support/controlplane-component/token-minter-container.go
  support/controlplane-component/token-minter-container_test.go
  test/e2e/util/aws.go
  test/e2e/util/aws_ccm.go
  test/e2e/util/dump/journals.go
  test/e2e/util/fixture.go
  test/e2e/util/fixture_test.go
  test/e2e/util/util.go
  test/e2e/v2/tests/hosted_cluster_aws_test.go
Labels: area/control-plane-operator

fix: harden AWS cleanup progress handling
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/aws_load_balancer_cleanup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  support/awsutil/loadbalancer.go
  support/awsutil/loadbalancer_test.go
Labels: area/control-plane-operator

fix(hcco): use hash-based labelsSynced to re-sync labels on change
  control-plane-operator/hostedclusterconfigoperator/controllers/node/node.go
  control-plane-operator/hostedclusterconfigoperator/controllers/node/node_test.go
Labels: area/control-plane-operator

docs(api): update NodeLabels and Taints godoc to reflect re-sync behavior
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: area/hypershift-operator

fix(cpo): delete AWSEndpointServices before removing the HCP finalizer
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  test/e2e/util/fixture.go
Labels: area/hypershift-operator, area/control-plane-operator

feat(e2e/v2): add v2 util equivalents for v1 symbols used by v2 tests
  test/e2e/v2/util/aws.go
  test/e2e/v2/util/client.go
  test/e2e/v2/util/external_oidc.go
  test/e2e/v2/util/names.go
  test/e2e/v2/util/nodes.go
  test/e2e/v2/util/oauth.go
  test/e2e/v2/util/release.go
  test/e2e/v2/util/version.go
Labels: none

refactor(e2e/v2): migrate all v1 e2e/util call sites to v2 util
  test/e2e/v2/backuprestore/cleanup.go
  test/e2e/v2/backuprestore/etcd_snapshot.go
  test/e2e/v2/internal/test_context.go
  test/e2e/v2/internal/validation.go
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/tests/backup_restore_test.go
  test/e2e/v2/tests/control_plane_tls_operator_test.go
  test/e2e/v2/tests/control_plane_upgrade_test.go
  test/e2e/v2/tests/control_plane_workloads_test.go
  test/e2e/v2/tests/etcd_chaos_test.go
  test/e2e/v2/tests/hosted_cluster_aws_test.go
  test/e2e/v2/tests/hosted_cluster_azure_test.go
  test/e2e/v2/tests/hosted_cluster_compliance_test.go
  test/e2e/v2/tests/hosted_cluster_cpo_test.go
  test/e2e/v2/tests/hosted_cluster_dns_test.go
  test/e2e/v2/tests/hosted_cluster_external_oidc_test.go
  test/e2e/v2/tests/hosted_cluster_health_test.go
  test/e2e/v2/tests/hosted_cluster_ingress_test.go
  test/e2e/v2/tests/hosted_cluster_metrics_test.go
  test/e2e/v2/tests/hosted_cluster_pull_secret_test.go
  test/e2e/v2/tests/hosted_cluster_secret_encryption_test.go
  test/e2e/v2/tests/hosted_cluster_security_test.go
  test/e2e/v2/tests/karpenter_control_plane_upgrade_test.go
  test/e2e/v2/tests/karpenter_test.go
  test/e2e/v2/tests/nodepool_autoscaling_test.go
  test/e2e/v2/tests/nodepool_lifecycle_test.go
  test/e2e/v2/tests/nodepool_osimagestream_test.go
  test/e2e/v2/util/pod_exec.go
Labels: none

ci(linter): enforce full ban on v1 e2e/util imports from v2
  hack/tools/hypershiftlinter/analyzers/e2eutilallowlist/e2eutilallowlist.go
  hack/tools/hypershiftlinter/analyzers/e2eutilallowlist/e2eutilallowlist_test.go
  hack/tools/hypershiftlinter/analyzers/e2eutilallowlist/testdata/src/test/e2e/v2/bad/bad_test.go
  hack/tools/hypershiftlinter/analyzers/e2eutilallowlist/testdata/src/test/e2e/v2/good/good_test.go
Labels: none

feat(gcp): accept organization-defined resource tag parents
  api/hypershift/v1beta1/gcp.go
  api/hypershift/v1beta1/gcp_test.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  client/applyconfiguration/hypershift/v1beta1/gcpresourcetag.go
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/techpreview.hostedclusters.gcp.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  docs/content/how-to/gcp-platform.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  support/globalconfig/infrastructure.go
  support/globalconfig/infrastructure_test.go
  test/envtest/guest_infrastructure_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp.go
Labels: area/hypershift-operator

feat: Generate Generic Controller Config with TLS Groups
  support/config/cipher.go
  support/config/genericcontrollerconfig.go
  support/config/genericcontrollerconfig_test.go
  support/controlplane-component/generic-adapter.go
  support/controlplane-component/generic-adapter_test.go
Labels: none

fix(azure): harden private Key Vault validation
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  support/conditions/conditions.go
  support/conditions/conditions_test.go
Labels: area/control-plane-operator

fix(gcp): grant registry Tag User and document tag validation limits
  api/hypershift/v1beta1/gcp.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  cmd/infra/gcp/iam-bindings.json
  cmd/infra/gcp/iam_test.go
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  docs/content/how-to/gcp-platform.md
  docs/content/how-to/gcp/configure-image-registry.md
  docs/content/how-to/gcp/create-gcp-iam.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp.go
Labels: area/hypershift-operator

docs(gcp): clarify resource tag coverage and quota behavior
  api/hypershift/v1beta1/gcp.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  docs/content/how-to/gcp-platform.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp.go
Labels: area/hypershift-operator

revert: Reapply "CNTRLPLANE-3890 - Add product-cli unit tests for HCP create cluster"
  product-cli/cmd/cluster/agent/create_test.go
  product-cli/cmd/cluster/agent/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
  product-cli/cmd/cluster/aws/create_test.go
  product-cli/cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
  product-cli/cmd/cluster/azure/create_test.go
  product-cli/cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
  product-cli/cmd/cluster/kubevirt/create_test.go
  product-cli/cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
  product-cli/cmd/cluster/openstack/create_test.go
  product-cli/cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
Labels: none

fix(gcp): avoid deprecated Infrastructure platform field in envtest
  test/envtest/guest_infrastructure_test.go
Labels: none

test(product-cli): refresh cluster create fixtures
  product-cli/cmd/cluster/agent/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
  product-cli/cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
  product-cli/cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
  product-cli/cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
  product-cli/cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_correctly.yaml
Labels: none

test(control-plane-operator): refresh Kubernetes 1.37 scheduler fixtures
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/testdata/zz_fixture_TestGenerateConfig_high_node_utilization_profile.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/testdata/zz_fixture_TestGenerateConfig_no_scoring_profile.yaml
Labels: area/control-plane-operator

test(e2e): add Kubernetes 1.37 envtest coverage
  .github/workflows/envtest-kube-reusable.yaml
  AGENTS.md
  Makefile
  test/envtest/README.md
Labels: none

fix(ci): use runner.temp and detect arch for tool installs on ARC runner-set
  .github/workflows/create-release-reusable.yaml
  .github/workflows/create-tag-reusable.yaml
  .github/workflows/rehearse-release-workflows.yaml
  .github/workflows/validate-tag-request-reusable.yaml
  docs/content/contribute/release-process.md
  docs/content/reference/aggregated-docs.md
Labels: none

fix(gcp): satisfy API lint for resource tag validation
  api/hypershift/v1beta1/gcp.go
  api/hypershift/v1beta1/gcp_test.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/techpreview.hostedclusters.gcp.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
Labels: area/hypershift-operator

fix(gcp): satisfy API lint and sync vendored tag validation
  api/hypershift/v1beta1/gcp_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp.go
Labels: area/hypershift-operator

fix(hcco): dedup taints by (key,effect) and clarify additive-only godoc
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/node/node.go
  control-plane-operator/hostedclusterconfigoperator/controllers/node/node_test.go
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(gcp): complete API lint markers in tag compatibility test
  api/hypershift/v1beta1/gcp_test.go
Labels: area/hypershift-operator

fix(deps): restore go.sum checksums for openshift-sustaining/crypto fork
  go.sum
Labels: none

build: Emit release-manifests/image-references from the operator build
  .tekton/pipelines/common-operator-build.yaml
  Containerfile.operator
  release-manifests/image-references.template.yaml
Labels: none

feat(gcp): gate PSC DNS zone deletion on cluster ownership label
  control-plane-operator/controllers/gcpprivateserviceconnect/dns.go
  control-plane-operator/controllers/gcpprivateserviceconnect/psc_endpoint_controller.go
  control-plane-operator/controllers/gcpprivateserviceconnect/psc_endpoint_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator, area/control-plane-operator

refactor(gcp): use optimistic-lock Patch for PSC CR finalizer updates
  control-plane-operator/controllers/gcpprivateserviceconnect/psc_endpoint_controller.go
  control-plane-operator/controllers/gcpprivateserviceconnect/psc_endpoint_controller_test.go
Labels: area/control-plane-operator

fix: grant cluster-autoscaler watch access
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-autoscaler/AROSwift/zz_fixture_TestControlPlaneComponents_cluster_autoscaler_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-autoscaler/GCP/zz_fixture_TestControlPlaneComponents_cluster_autoscaler_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-autoscaler/IBMCloud/zz_fixture_TestControlPlaneComponents_cluster_autoscaler_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-autoscaler/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_autoscaler_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-autoscaler/zz_fixture_TestControlPlaneComponents_cluster_autoscaler_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-autoscaler/role.yaml
Labels: area/control-plane-operator

test: name kasMaxAllowedRestarts constant and explain the value
  test/e2e/v2/tests/etcd_encryption_reencryption_test.go
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
