Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

feat(hc): propagate controlPlaneVersion from HCP to HC status
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

fix(hypershift-operator,ignition-server): gate cloud config on hash to prevent serving stale content
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
  ignition-server/cmd/run_local_ignitionprovider.go
  ignition-server/controllers/cache.go
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
Labels: area/hypershift-operator, area/control-plane-operator

feat(capi): Storage version migration to v1beta2
  cmd/install/assets/crds/assets.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_manager/deployment.go
  hypershift-operator/main.go
  support/capi-crdmigrator/crd_migrator.go
  support/capi-crdmigrator/metrics.go
  support/capi-crdmigrator/status.go
  support/capi-crdmigrator/types.go
  support/config/constants.go
  test/e2e/util/install.go
  test/e2e/util/options.go
Labels: area/hypershift-operator, area/control-plane-operator

test(unit): Add tests for CAPI storage migration
  cmd/install/assets/crds/assets_test.go
  cmd/install/assets/hypershift_operator_test.go
  cmd/install/install_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_manager/deployment_test.go
  support/capi-crdmigrator/crd_migrator_test.go
  support/capi-crdmigrator/status_test.go
Labels: area/control-plane-operator

docs: Add how-to guide for CAPI storage version migration
  docs/content/how-to/capi-storage-migration.md
  docs/content/reference/aggregated-docs.md
  docs/mkdocs.yml
Labels: none

test(e2e): Add test for CAPI storage migration
  test/e2e/capi_storage_migration_test.go
  test/e2e/e2e_test.go
  test/e2e/util/install.go
  test/e2e/util/options.go
Labels: none

fix(codecov): Ignore crd_migrator.go in coverage
  codecov.yml
Labels: none

fix(konnectivity): propagate mgmt cluster proxy env vars to sidecar
  support/controlplane-component/konnectivity-container.go
  support/controlplane-component/konnectivity-container_test.go
  support/konnectivityproxy/dialer_test.go
Labels: none

fix(etcd): bump revision and mark compacted on snapshot restore
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/etcd-init.sh
Labels: area/control-plane-operator

feat(api): add CpuOptions with NestedVirtualization to AWSNodePoolPlatform
  api/hypershift/v1beta1/aws.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
Labels: area/hypershift-operator

feat(hypershift-operator): wire CpuOptions to AWSMachineTemplate for nested virtualization
  hypershift-operator/controllers/nodepool/aws.go
Labels: area/hypershift-operator

feat(cli): add --nested-virtualization flag for AWS cluster and nodepool creation
  cmd/cluster/aws/create.go
  cmd/nodepool/aws/create.go
Labels: none

docs: regenerate aggregated-docs.md
  api/hypershift/v1beta1/nodepool_types_test.go
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.aws.testsuite.yaml
Labels: area/hypershift-operator

docs: regenerate API docs with trailing whitespace preserved
  docs/content/reference/api.md
Labels: none

fix: address CodeRabbit review feedback
  api/hypershift/v1beta1/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/aws.go
Labels: area/hypershift-operator

fix(aws): require manifests for nested virtualization
  api/hypershift/v1beta1/nodepool_types_test.go
  cmd/cluster/aws/create.go
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.aws.testsuite.yaml
  cmd/nodepool/aws/create.go
  hypershift-operator/controllers/nodepool/aws_test.go
Labels: area/hypershift-operator

docs: regenerate API reference for CpuOptions
  docs/content/reference/api.md
Labels: none

fix(aws): use typed NestedVirtualizationPolicy enum and harden controller
  api/hypershift/v1beta1/aws.go
  api/hypershift/v1beta1/nodepool_types_test.go
  client/applyconfiguration/hypershift/v1beta1/cpuoptions.go
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.aws.testsuite.yaml
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/aws.go
Labels: area/hypershift-operator

docs: format file path as markdown link in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

chore: run make update to regenerate CRDs, deepcopy, clients, vendor, and docs
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/controlplaneupdatehistory.go
  client/applyconfiguration/hypershift/v1beta1/controlplaneversionstatus.go
  client/applyconfiguration/hypershift/v1beta1/hostedclusterstatus.go
  client/applyconfiguration/hypershift/v1beta1/hostedcontrolplanestatus.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/controlplaneversion_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Labels: area/hypershift-operator

feat(cpo): reconcile controlPlaneVersion from ControlPlaneComponent status
  control-plane-operator/controllers/hostedcontrolplane/controlplaneversion.go
  control-plane-operator/controllers/hostedcontrolplane/controlplaneversion_pruning_test.go
  control-plane-operator/controllers/hostedcontrolplane/controlplaneversion_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
Labels: area/control-plane-operator

feat(hc): propagate controlPlaneVersion from HCP to HC status
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Port test specs to OTE and restore full Azure suite
  test/e2e/v2/cmd/hypershift-tests-ext/azure_health_specs.go
  test/e2e/v2/cmd/hypershift-tests-ext/main.go
  test/e2e/v2/cmd/hypershift-tests-ext/suites.go
  test/e2e/v2/tests/backup_restore.go
  test/e2e/v2/tests/control_plane_infrastructure.go
  test/e2e/v2/tests/control_plane_pki_operator.go
  test/e2e/v2/tests/control_plane_upgrade.go
  test/e2e/v2/tests/control_plane_workloads.go
  test/e2e/v2/tests/etcd_chaos.go
  test/e2e/v2/tests/hosted_cluster_aws.go
  test/e2e/v2/tests/hosted_cluster_azure.go
  test/e2e/v2/tests/hosted_cluster_ccm.go
  test/e2e/v2/tests/hosted_cluster_compliance.go
  test/e2e/v2/tests/hosted_cluster_cpo.go
  test/e2e/v2/tests/hosted_cluster_dns.go
  test/e2e/v2/tests/hosted_cluster_external_oidc.go
  test/e2e/v2/tests/hosted_cluster_health.go
  test/e2e/v2/tests/hosted_cluster_image_registry.go
  test/e2e/v2/tests/hosted_cluster_ingress.go
  test/e2e/v2/tests/hosted_cluster_metrics.go
  test/e2e/v2/tests/hosted_cluster_node_communication.go
  test/e2e/v2/tests/hosted_cluster_psc.go
  test/e2e/v2/tests/hosted_cluster_pull_secret.go
  test/e2e/v2/tests/hosted_cluster_secret_encryption.go
  test/e2e/v2/tests/hosted_cluster_security.go
  test/e2e/v2/tests/nodepool_autoscaling.go
  test/e2e/v2/tests/nodepool_lifecycle.go
Labels: none

Add AWS platform support and fix test context initialization
  test/e2e/v2/cmd/create-guests/main.go
  test/e2e/v2/cmd/destroy-guests/main.go
  test/e2e/v2/cmd/dump-guests/main.go
  test/e2e/v2/cmd/hypershift-tests-ext/pool_assignment.go
  test/e2e/v2/cmd/hypershift-tests-ext/suites.go
  test/e2e/v2/internal/test_context.go
  test/e2e/v2/lifecycle/aws.go
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/lifecycle/platform.go
Labels: none

Add pod labels and tolerations to AWS CreateArgs
  test/e2e/v2/lifecycle/aws.go
Labels: none

fix(cli): make deleteCLISecrets non-fatal during cluster destroy
  cmd/cluster/core/destroy.go
  cmd/cluster/core/destroy_test.go
  cmd/util/client.go
Labels: none

fix(backport): konnectivity agent auth to 4.22
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/GCP/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/ModernTLS/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/assets_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/deployment.yaml
Labels: area/control-plane-operator

fix(backport): konnectivity agent auth to 4.22
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/GCP/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/ModernTLS/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/assets_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/deployment.yaml
Labels: area/control-plane-operator

fix(backport): konnectivity agent auth to 4.19
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment_test.go
Labels: area/control-plane-operator

fix(backport): konnectivity agent auth to 4.18
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment_test.go
Labels: area/control-plane-operator

fix(backport): konnectivity agent auth to 4.16
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment_test.go
Labels: area/control-plane-operator

fix(e2e): check pre-upgrade HO version for shared role support
  test/e2e/upgrade_hypershift_operator_test.go
Labels: none

feat(monitoring): add azmonitoring.coreos.com/v1 as alternative monitoring API group
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/hypershift_operator_test.go
  cmd/install/install.go
  cmd/install/install_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-network-operator/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/control-plane-operator/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/karpenter-operator/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/controlplaneoperator/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/karpenteroperator/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/karpenteroperator/deployment_test.go
  support/api/scheme.go
  support/azmonitoring/scheme.go
Labels: area/control-plane-operator

fix(api): add parent-level CEL rules preventing infraID and clusterID removal
  api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

chore(generated): regenerate CRDs and vendor after API change
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/EtcdSharding.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPEtcdBackup.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/TLSAdherence.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

test: add envtest cases for infraID and clusterID removal prevention
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.validation.testsuite.yaml
Labels: none

fix(build): exclude api/ module from test-changed target
  Makefile
Labels: none

feat(nodepool): CNTRLPLANE-3871: resolve RHEL stream dynamically for boot images
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/kubevirt.go
  hypershift-operator/controllers/nodepool/openstack.go
Labels: area/hypershift-operator

fix(pki): use separate certificate signers for konnectivity
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ca.go
  control-plane-operator/controllers/hostedcontrolplane/pki/konnectivity.go
  control-plane-operator/controllers/hostedcontrolplane/pki/konnectivity_test.go
Labels: area/control-plane-operator

test: add positive onUpdate envtest cases for infraID and clusterID
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.validation.testsuite.yaml
Labels: none
