Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

test(capi): update tests for CAPI v1beta2 type migration
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/inplaceupgrader/inplaceupgrader_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/machine_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/node/node_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/spotremediation/spotremediation_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/agent/agent_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/ibmcloud/ibmcloud_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack_test.go
  hypershift-operator/controllers/nodepool/aws_test.go
  hypershift-operator/controllers/nodepool/azure_test.go
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
  hypershift-operator/controllers/nodepool/conditions_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/scale_from_zero_test.go
  hypershift-operator/controllers/nodepool/version_test.go
  karpenter-operator/controllers/karpenter/karpenter_controller_test.go
  test/e2e/autoscaling_test.go
  test/e2e/nodepool_day2_tags_test.go
  test/e2e/nodepool_kv_advanced_multinet_test.go
  test/e2e/nodepool_osp_advanced_test.go
  test/e2e/nodepool_rolling_upgrade_test.go
  test/e2e/nodepool_spot_termination_handler_test.go
  test/e2e/upgrade_hypershift_operator_test.go
Labels: area/hypershift-operator, area/control-plane-operator

build(vendor): Update vendor
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/HCPEtcdBackup.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkObservabilityInstall.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/TLSAdherence.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator

fix(e2e): set NodePoolReplicas=1 for KubeVirt TestNodePool like OpenStack
  test/e2e/nodepool_test.go
Labels: none

test(kubevirt): add e2e nmstate network config verification for multinet tests
  test/e2e/nodepool_kv_advanced_multinet_test.go
  test/e2e/nodepool_kv_multinet_test.go
  test/e2e/nodepool_test.go
Labels: none

fix(kubevirt): OCPBUGS-77307: override nmstate config for multus with IPv6
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_test.go
  hypershift-operator/controllers/nodepool/kubevirt/network.go
  hypershift-operator/controllers/nodepool/kubevirt/network_test.go
Labels: area/hypershift-operator

fix(e2e): ensure informing junit files are unique across test groups
  test/e2e/v2/tests/suite_test.go
Labels: none

feat(e2e): enable e2e v2 aws control plane upgrade tests
  test/e2e/v2/lifecycle/aws.go
  test/e2e/v2/tests/control_plane_upgrade_test.go
  test/e2e/v2/tests/karpenter_control_plane_upgrade_test.go
  test/e2e/v2/tests/upgrade_assertions.go
Labels: none

test(e2e): avoid missing fast NodePool config updates
  test/e2e/util/util.go
  test/e2e/util/util_test.go
Labels: none

fix(azure): use DeletionFailed condition to orphan stuck AzureMachines during cluster deletion
  cmd/cluster/azure/destroy.go
  cmd/cluster/azure/destroy_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
Labels: area/hypershift-operator

docs(cpo): document CPO/payload alignment rule and scope its check
  contrib/konflux/README.md
  docs/content/contribute/custom-images.md
  docs/content/contribute/release-process.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/versioning-support.md
Labels: none

docs(cpo): document CPO/payload alignment rule
  contrib/konflux/README.md
  docs/content/contribute/custom-images.md
  docs/content/contribute/release-process.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/versioning-support.md
Labels: none

fix(operator): restore HostedCluster infraID from HostedControlPlane
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

feat(cpo): replace per-controller HCP finalizers with status conditions for deletion cleanup
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
  control-plane-operator/controllers/azureprivatelinkservice/controller.go
  control-plane-operator/controllers/azureprivatelinkservice/controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(cpo): restore enqueueOnAccessChange handler, add reconcileHCPDeletion tests
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
Labels: area/control-plane-operator

feat(kubevirt): OCPBUGS-55974: add CPU model configuration for NodePool VMs
  api/hypershift/v1beta1/kubevirt.go
  api/hypershift/v1beta1/kubevirt_test.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/kubevirtcompute.go
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/kubevirt.go
Labels: area/hypershift-operator

refactor(api): move PrivateConnectivityCleanedUp to hosted_controlplane.go
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(nodepool): sort resource labels for deterministic output
  cmd/nodepool/gcp/create.go
Labels: none

fix(hcco): prevent slice bounds panic in getAvailableCandidates
  control-plane-operator/hostedclusterconfigoperator/controllers/inplaceupgrader/inplaceupgrader.go
  control-plane-operator/hostedclusterconfigoperator/controllers/inplaceupgrader/inplaceupgrader_test.go
Labels: area/control-plane-operator

test(e2ev2): add Azure OAuth LoadBalancer private topology test
  hack/tools/hypershiftlinter/analyzers/e2eutilallowlist/e2eutilallowlist.go
  test/e2e/util/oauth.go
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/lifecycle/azure_test.go
  test/e2e/v2/tests/hosted_cluster_azure_test.go
Labels: none

fix(e2e): register port-forward cleanup inside helper to prevent goroutine leaks
  test/e2e/util/oauth.go
Labels: none

fix(nodepool): use ARM machine type for arm64 nodepools
  cmd/nodepool/gcp/create.go
  cmd/nodepool/gcp/create_test.go
Labels: none

chore(konflux): update Tekton task bundles to latest versions
  .tekton/hypershift-operator-main-tag.yaml
  .tekton/pipelines/common-operator-build.yaml
Labels: none

test(e2e): balance Azure lifecycle test shards
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/tests/azure_test_matrix_test.go
  test/e2e/v2/tests/nodepool_autoscaling_test.go
  test/e2e/v2/tests/nodepool_lifecycle_test.go
  test/e2e/v2/tests/nodepool_osimagestream_test.go
Labels: none

WIP: testing backport presubmits
  test/e2e/v2/tests/control_plane_upgrade_test.go
Labels: none

test(backuprestore): enable SnapshotMoveData in backup test configurations
  test/e2e/v2/tests/backup_restore_test.go
Labels: none

fix(operator): use dedicated health probes
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/hypershift_operator_test.go
  hypershift-operator/main.go
  hypershift-operator/main_test.go
Labels: area/hypershift-operator

fix(e2e): poll for etcd-init completion before reading restore logs
  test/e2e/v2/backuprestore/etcd_snapshot.go
  test/e2e/v2/tests/backup_restore_test.go
Labels: none

fix(gcp): exclude GCP PD CSI driver operator/controller from CVO management
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment_test.go
Labels: area/control-plane-operator

test: regenerate CVO deployment golden fixtures for GCP PD exclusion
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/AROSwift/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/GCP/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/ModernTLS/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
Labels: area/control-plane-operator

feat(CPO): add kube-scheduler ServiceMonitor with CA-signed serving certs
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/scheduler.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-scheduler/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-scheduler/service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-scheduler/servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/servicemonitor.go
  support/metrics/sets.go
Labels: area/control-plane-operator

test(CPO): add unit tests and fixtures for kube-scheduler ServiceMonitor
  control-plane-operator/controllers/hostedcontrolplane/pki/scheduler_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/AROSwift/zz_fixture_TestControlPlaneComponents_kube_scheduler_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/AROSwift/zz_fixture_TestControlPlaneComponents_kube_scheduler_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/AROSwift/zz_fixture_TestControlPlaneComponents_kube_scheduler_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/AROSwift/zz_fixture_TestControlPlaneComponents_kube_scheduler_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/GCP/zz_fixture_TestControlPlaneComponents_kube_scheduler_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/GCP/zz_fixture_TestControlPlaneComponents_kube_scheduler_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/GCP/zz_fixture_TestControlPlaneComponents_kube_scheduler_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/GCP/zz_fixture_TestControlPlaneComponents_kube_scheduler_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/IBMCloud/zz_fixture_TestControlPlaneComponents_kube_scheduler_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/IBMCloud/zz_fixture_TestControlPlaneComponents_kube_scheduler_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/IBMCloud/zz_fixture_TestControlPlaneComponents_kube_scheduler_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/IBMCloud/zz_fixture_TestControlPlaneComponents_kube_scheduler_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_scheduler_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_scheduler_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_scheduler_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_scheduler_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/zz_fixture_TestControlPlaneComponents_kube_scheduler_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/zz_fixture_TestControlPlaneComponents_kube_scheduler_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/zz_fixture_TestControlPlaneComponents_kube_scheduler_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/zz_fixture_TestControlPlaneComponents_kube_scheduler_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/component_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/servicemonitor_test.go
Labels: area/control-plane-operator

feat(HCCO): add RBAC for /metrics/resources endpoint
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/AROSwift/zz_fixture_TestControlPlaneComponents_kube_scheduler_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/GCP/zz_fixture_TestControlPlaneComponents_kube_scheduler_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/IBMCloud/zz_fixture_TestControlPlaneComponents_kube_scheduler_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_scheduler_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/zz_fixture_TestControlPlaneComponents_kube_scheduler_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-scheduler/servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/servicemonitor_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/rbac.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/rbac/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/rbac/reconcile_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/metrics/sets.go
  support/metrics/sets_test.go
Labels: area/control-plane-operator

fix(cpo): preserve immutable AWS load balancer annotations
  control-plane-operator/controllers/hostedcontrolplane/infra/infra_test.go
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_Private_KAS_LoadBalancer.yaml
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service_test.go
Labels: area/control-plane-operator

fix(CPO): regenerate kube-scheduler test fixtures for release-4.22
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/AROSwift/zz_fixture_TestControlPlaneComponents_kube_scheduler_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/AROSwift/zz_fixture_TestControlPlaneComponents_kube_scheduler_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/AROSwift/zz_fixture_TestControlPlaneComponents_kube_scheduler_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/GCP/zz_fixture_TestControlPlaneComponents_kube_scheduler_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/GCP/zz_fixture_TestControlPlaneComponents_kube_scheduler_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/GCP/zz_fixture_TestControlPlaneComponents_kube_scheduler_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/IBMCloud/zz_fixture_TestControlPlaneComponents_kube_scheduler_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/IBMCloud/zz_fixture_TestControlPlaneComponents_kube_scheduler_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/IBMCloud/zz_fixture_TestControlPlaneComponents_kube_scheduler_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_scheduler_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_scheduler_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_scheduler_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/zz_fixture_TestControlPlaneComponents_kube_scheduler_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/zz_fixture_TestControlPlaneComponents_kube_scheduler_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/zz_fixture_TestControlPlaneComponents_kube_scheduler_servicemonitor.yaml
Labels: area/control-plane-operator

feat(chaibot): add per-platform Slack handle pings to CI health report
  .chai-bot/hypershift_ci_daily_health_report.md
  hack/ci/update-job-registry.py
Labels: none

fix(nodepool): inject default worker SG by status ID, not fail-open capability flag
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
Labels: area/hypershift-operator

test(etcd-upload): increase uploader coverage and fix lint
  etcd-upload/azure_uploader.go
  etcd-upload/azure_uploader_test.go
  etcd-upload/etcdupload_test.go
  etcd-upload/s3_uploader_test.go
Labels: none

fix: inject token-minter image to standalone karpenter-operator
  control-plane-operator/controllers/hostedcontrolplane/v2/karpenteroperator/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/karpenteroperator/deployment_test.go
Labels: area/control-plane-operator

fix(kas-connection-checker): add safe-to-evict annotation and topology spread constraint
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

fix: remove trailing newline in util.go
  test/e2e/util/util.go
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
