Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

fix(OCPBUGS-128504): mount combined-pull-secret in OpenShift API Server
  control-plane-operator/controllers/hostedcontrolplane/common/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/common/manifests_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_openshift_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/GCP/zz_fixture_TestControlPlaneComponents_openshift_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_openshift_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/ModernTLS/zz_fixture_TestControlPlaneComponents_openshift_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_openshift_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/zz_fixture_TestControlPlaneComponents_openshift_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-apiserver/deployment.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pullsecret.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pullsecret_test.go
  docs/content/how-to/common/global-pull-secret.md
  docs/content/reference/aggregated-docs.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/reconcile_legacy.go
  test/e2e/v2/lifecycle/aws.go
  test/e2e/v2/tests/hosted_cluster_pull_secret_test.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(azure): converge private DNS network links
  cmd/infra/azure/networking.go
  cmd/infra/azure/networking_test.go
Labels: none

chore(deps): update k8s.io/kube-openapi digest to 97fa351
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
Labels: none

chore(api): align component route label gate ordering and suite naming
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-Default.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.componentroute-labels.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedcontrolplanes.hypershift.openshift.io/stable.hostedcontrolplanes.componentroute-labels.testsuite.yaml
Labels: area/hypershift-operator

chore(aws): stop writing and prune deprecated aws-load-balancer-subnets annotation
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/scheduler/aws/dedicated_request_serving_nodes.go
  hypershift-operator/controllers/scheduler/aws/dedicated_request_serving_nodes_test.go
  hypershift-operator/controllers/scheduler/util/scheduler.go
  hypershift-operator/controllers/scheduler/util/scheduler_test.go
Labels: area/hypershift-operator

fix: count only successful upsert updates
  support/upsert/upsert.go
  support/upsert/upsert_test.go
Labels: none

fix(upsert): count successful ApplyManifest updates only
  support/upsert/apply.go
  support/upsert/apply_test.go
Labels: none

fix: count only successful upsert updates
  support/upsert/upsert.go
  support/upsert/upsert_test.go
Labels: none

fix(upsert): count successful ApplyManifest updates only
  support/upsert/apply.go
  support/upsert/apply_test.go
Labels: none

fix(karpenter): defer EC2NodeClass reconcile to standalone operator
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller_test.go
  karpenter-operator/crd_wait.go
  karpenter-operator/main.go
Labels: none

fix(cpo): skip PodDisruptionBudgets for SingleReplica control planes
  support/controlplane-component/common.go
  support/controlplane-component/common_test.go
Labels: none

test(cpo): seed PDB fields and tighten AdaptPodDisruptionBudget cases
  support/controlplane-component/common_test.go
Labels: none

fix: count only successful upsert updates
  support/upsert/upsert.go
  support/upsert/upsert_test.go
Labels: none

fix(upsert): count successful ApplyManifest updates only
  support/upsert/apply.go
  support/upsert/apply_test.go
Labels: none

fix(unit): Use correct package name for older release
  support/upsert/apply_test.go
Labels: none

fix: count only successful upsert updates
  support/upsert/upsert.go
  support/upsert/upsert_test.go
Labels: none

fix(upsert): count successful ApplyManifest updates only
  support/upsert/apply.go
  support/upsert/apply_test.go
Labels: none

fix(unit): Use correct package name for older release
  support/upsert/apply_test.go
Labels: none

fix(cpo): delete AWSEndpointServices before removing the HCP finalizer (#9718)
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  test/e2e/util/fixture.go
Labels: area/hypershift-operator, area/control-plane-operator

refactor(control-plane-operator): use explicit configmap client
  sync-fg-configmap/update.go
  sync-fg-configmap/update_test.go
Labels: none

refactor(hypershift-operator): use explicit client acquisition
  hypershift-operator/init.go
  hypershift-operator/init_test.go
Labels: area/hypershift-operator

test(e2e): pass explicit clients through helpers
  cmd/cluster/aws/create.go
  cmd/cluster/aws/create_test.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/aws/destroy_test.go
  cmd/cluster/dump/dump.go
  cmd/cluster/dump/dump_test.go
  cmd/install/install.go
  cmd/install/install_test.go
  cmd/oadp/restore.go
  cmd/oadp/restore_test.go
  cmd/util/client_test.go
  cmd/util/secrets.go
  cmd/util/secrets_test.go
  product-cli/cmd/cluster/aws/create.go
  product-cli/cmd/cluster/aws/destroy.go
  product-cli/cmd/cluster/openstack/destroy.go
  test/e2e/util/dump/dump.go
  test/e2e/util/dump/dump_test.go
  test/e2e/util/dump/journals.go
  test/e2e/util/dump/journals_test.go
  test/e2e/util/fixture.go
  test/e2e/util/fixture_test.go
  test/e2e/util/install.go
  test/e2e/util/install_test.go
  test/e2e/util/options.go
  test/e2e/util/options_test.go
Labels: none

fix(cli): align rebased command call sites
  cmd/cluster/azure/create_test.go
  cmd/nodepool/create.go
  cmd/nodepool/gcp/create.go
  test/e2e/util/dump/dump_test.go
Labels: none

test(cli): cover injected management clients
  cmd/cluster/aws/destroy_test.go
  cmd/cluster/core/create_test.go
  cmd/install/client_test.go
  cmd/oadp/backup_test.go
  cmd/oadp/restore_test.go
  cmd/oadp/schedule_test.go
  cmd/util/client_test.go
  product-cli/cmd/cluster/agent/create_test.go
  product-cli/cmd/cluster/aws/create_test.go
  product-cli/cmd/cluster/azure/create_test.go
  product-cli/cmd/cluster/kubevirt/create_test.go
  product-cli/cmd/cluster/openstack/create_test.go
Labels: none

fix(cli): honor kubeconfig in dump helpers
  cmd/cluster/aws/destroy_test.go
  cmd/cluster/dump/dump.go
  cmd/cluster/dump/dump_test.go
  cmd/infra/aws/create_operator_roles.go
  cmd/util/client.go
  cmd/util/client_test.go
  hypershift-operator/init_test.go
  product-cli/cmd/cluster/openstack/destroy.go
  test/e2e/util/dump/journals.go
  test/e2e/util/dump/journals_test.go
  test/e2e/util/fixture.go
Labels: area/hypershift-operator

fix(cli): preserve client injection and offline rendering
  cmd/cluster/azure/create_test.go
  cmd/cluster/azure/destroy.go
  cmd/cluster/azure/destroy_test.go
  cmd/cluster/core/create.go
  cmd/cluster/core/create_test.go
  cmd/cluster/openstack/destroy.go
  cmd/cluster/openstack/destroy_test.go
  cmd/cluster/powervs/destroy.go
  cmd/cluster/powervs/destroy_test.go
  cmd/install/install.go
  cmd/install/install_test.go
  hypershift-operator/init_test.go
  test/e2e/util/options_test.go
Labels: area/hypershift-operator

feat(gcp): GCP-504 NodePool platform conditions
  api/hypershift/v1beta1/nodepool_conditions.go
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/gcp.go
  hypershift-operator/controllers/nodepool/gcp_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_conditions.go
Labels: area/hypershift-operator

build(cli): replace broad COPY with targeted COPY statements
  .tekton/hypershift-cli-mce-51-pull-request.yaml
  .tekton/hypershift-cli-mce-51-push.yaml
  Containerfile.cli
Labels: none

refactor(hcco): extract cluster foundation configuration
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/README.md
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/cluster_operators.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/cluster_version.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/cluster_version_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/crds.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/foundation_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/namespaces.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/configuration/reconcile_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/foundation_order_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: area/control-plane-operator

build: Set creationTimestamp in the operator image-references file
  .tekton/pipelines/common-operator-build.yaml
  Containerfile.operator
  release-manifests/image-references.template.yaml
Labels: none

fix(hypershift-operator): validate external KubeVirt infrastructure kubeconfigs
  .golangci.yml
  hypershift-operator/controllers/hostedcluster/custom_kubeconfig_sync_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/credentials_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt.go
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/hostedcluster/managed_hsm_status_test.go
  hypershift-operator/controllers/hostedcluster/platform_credentials.go
  hypershift-operator/controllers/hostedcluster/platform_credentials_test.go
  hypershift-operator/controllers/hostedcluster/reconcile_status.go
  hypershift-operator/controllers/hostedcluster/reconcile_status_test.go
  kubevirtexternalinfra/externalinfra.go
  kubevirtexternalinfra/externalinfra_test.go
Labels: area/hypershift-operator

docs: explain external KubeVirt credential validation and recovery
  docs/content/how-to/kubevirt/create-kubevirt-cluster.md
  docs/content/reference/aggregated-docs.md
Labels: none

fix(OCPBUGS-128505): mount combined-pull-secret in OpenShift API Server
  control-plane-operator/controllers/hostedcontrolplane/common/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/common/manifests_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_openshift_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/GCP/zz_fixture_TestControlPlaneComponents_openshift_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_openshift_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_openshift_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/zz_fixture_TestControlPlaneComponents_openshift_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-apiserver/deployment.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pullsecret.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pullsecret_test.go
  docs/content/how-to/common/global-pull-secret.md
  docs/content/reference/aggregated-docs.md
Labels: area/control-plane-operator

test(e2e): refactor Karpenter v2 test helpers and harden upgrade test
  test/e2e/v2/tests/assets/karpenter-nodepool.yaml
  test/e2e/v2/tests/assets/karpenter-workloads.yaml
  test/e2e/v2/tests/karpenter_control_plane_upgrade_test.go
  test/e2e/v2/tests/karpenter_test.go
  test/e2e/v2/util/karpenter.go
Labels: none

fix(deps): update dependency boto3 to v1.43.108
  contrib/oidc/pyproject.toml
  contrib/oidc/uv.lock
Labels: none

fix(envtest): run silently-dropped HostedCluster networking update validations
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.networking.testsuite.yaml
Labels: none

chore(deps): update go-openapi packages
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
Labels: none

chore: Vendor github.com/openshift/api/features
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/features/legacyfeaturegates.go
  vendor/github.com/openshift/api/features/util.go
  vendor/modules.txt
Labels: none

feat: Generate Generic Controller Config with TLS Groups
  support/config/cipher.go
  support/config/genericcontrollerconfig.go
  support/config/genericcontrollerconfig_test.go
  support/controlplane-component/generic-adapter.go
  support/controlplane-component/generic-adapter_test.go
Labels: none

feat(gcp): reconcile load balancer resource labels in HCCO
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/gcp_lb_service_annotations.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/gcp_lb_service_annotations_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_test.go
  hypershift-operator/controllers/nodepool/gcp.go
  hypershift-operator/controllers/nodepool/gcp_test.go
  support/gcputil/gcputil.go
  support/gcputil/gcputil_test.go
  support/gcputil/lb_resource_labels_test.go
Labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
