Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

feat(api): Add ReconciliationActiveConditionReason constant
  api/hypershift/v1beta1/hostedcluster_conditions.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Labels: area/hypershift-operator

refactor(nodepool): Replace local reconciliation reason constants with API references
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/conditions_test.go
Labels: area/hypershift-operator

feat(nodepool,ignition-server): CNTRLPLANE-3030: consume os-stream for InPlace path
  hypershift-operator/controllers/nodepool/osstream_test.go
  ignition-server/cmd/run_local_ignitionprovider.go
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/local_ignitionprovider_test.go
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
Labels: area/hypershift-operator, area/control-plane-operator

feat(cli): add --force-cleanup-on-timeout flag to destroy command
  cmd/cluster/cluster.go
  cmd/cluster/core/destroy.go
  cmd/cluster/core/destroy_test.go
Labels: none

fix(OCPBUGS-98718): retry CreateVpcEndpoint on AWS throttle errors
  cmd/infra/aws/ec2.go
  cmd/infra/aws/ec2_test.go
Labels: none

fix(OCPBUGS-98461): requeue CRR on transiently unavailable resources
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller.go
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller_test.go
Labels: none

fix(cli): harden force-cleanup-on-timeout for correctness and completeness
  cmd/cluster/cluster.go
  cmd/cluster/core/destroy.go
  cmd/cluster/core/destroy_test.go
Labels: none

feat(capi-provider): inject centralized TLS configuration
  hypershift-operator/controllers/hostedcluster/internal/platform/agent/agent.go
  hypershift-operator/controllers/hostedcluster/internal/platform/agent/agent_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt.go
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/powervs/powervs.go
  hypershift-operator/controllers/hostedcluster/internal/platform/powervs/powervs_test.go
  hypershift-operator/controllers/hostedcluster/testdata/capi-provider/zz_fixture_TestReconcileComponents.yaml
Labels: area/hypershift-operator

refactor(hostedcontrolplane controllers): use config.AppendTLSArgs to append TLS flags
  control-plane-operator/controllers/hostedcontrolplane/v2/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/machine_approver/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth_apiserver/deployment.go
Labels: area/control-plane-operator

refactor(powervs/ibm-cloud-controller-manager): drop redundant --use-service-account-credentials argument
  control-plane-operator/controllers/hostedcontrolplane/testdata/powervs-cloud-controller-manager/AROSwift/zz_fixture_TestControlPlaneComponents_powervs_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/powervs-cloud-controller-manager/GCP/zz_fixture_TestControlPlaneComponents_powervs_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/powervs-cloud-controller-manager/IBMCloud/zz_fixture_TestControlPlaneComponents_powervs_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/powervs-cloud-controller-manager/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_powervs_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/powervs-cloud-controller-manager/zz_fixture_TestControlPlaneComponents_powervs_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/powervs-cloud-controller-manager/deployment.yaml
Labels: area/control-plane-operator

feat(capi-manager): inject centralized TLS configuration
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_manager/deployment.go
  hypershift-operator/controllers/hostedcluster/testdata/cluster-api/zz_fixture_TestReconcileComponents.yaml
Labels: area/hypershift-operator, area/control-plane-operator

fix(cli): propagate force-cleanup errors and improve test coverage
  cmd/cluster/core/destroy.go
  cmd/cluster/core/destroy_test.go
Labels: none

refactor(nodepool): decouple condition handling from capi.go
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: area/hypershift-operator

test: add validateOnUpdateTableInput to envtest and fix test specs
  cmd/install/assets/crds/hypershift-operator/tests/hcpetcdbackups.hypershift.openshift.io/techpreview.hcpetcdbackups.immutability.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hcpetcdbackups.hypershift.openshift.io/techpreview.hcpetcdbackups.status.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/featuregated.hostedclusters.etcdbackup.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.azure.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.capabilities.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.etcd.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.kms.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.ratcheting.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.secretencryption.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.services.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.validation.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/techpreview.hostedclusters.gcp.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/featuregated.nodepools.osimagestream.testsuite.yaml
  hack/kubelet-ratcheting-gen/main.go
  karpenter-operator/controllers/karpenter/assets/tests/openshiftec2nodeclasses.karpenter.hypershift.openshift.io/stable.openshiftec2nodeclasses.kubelet-ratcheting.testsuite.yaml
  test/envtest/generator.go
Labels: none

feat(CNTRLPLANE-3820): add AWS leaked resources cleanup tool
  .claude/skills/triage-leaked-infra/SKILL.md
  codecov.yml
  contrib/aws-leaked-resources/.gitignore
  contrib/aws-leaked-resources/Makefile
  contrib/aws-leaked-resources/README.md
  contrib/aws-leaked-resources/clients.go
  contrib/aws-leaked-resources/delete.go
  contrib/aws-leaked-resources/delete_test.go
  contrib/aws-leaked-resources/main.go
  contrib/aws-leaked-resources/prow.go
  contrib/aws-leaked-resources/prow_test.go
  contrib/aws-leaked-resources/report.go
  contrib/aws-leaked-resources/scan.go
  contrib/aws-leaked-resources/scan_test.go
  contrib/aws-leaked-resources/tags.go
  contrib/aws-leaked-resources/types.go
Labels: none

refactor(nodepool): align setPlatformConditions signature and extract common platform conditions
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/kubevirt.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/openstack.go
  hypershift-operator/controllers/nodepool/powervs.go
Labels: area/hypershift-operator

fix(pipeline): use Gangway transport variable for HO image override
  .tekton/pipelines/ho-release-gate.yaml
Labels: none

fix(nodepool): address pre-commit review findings for platform conditions
  hypershift-operator/controllers/nodepool/aws_test.go
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/openstack.go
Labels: area/hypershift-operator

test(ci): temporarily revert git resolver to fork for e2e validation
  .tekton/pipelines/ho-release-gate-run.yaml
  .tekton/pipelines/ho-release-gate.yaml
Labels: none

fix(ci): point git resolver and clone-lib to upstream main
  .tekton/pipelines/ho-release-gate-run.yaml
  .tekton/pipelines/ho-release-gate.yaml
Labels: none

fix(hypershift-operator): gate cloud config on hash to prevent serving stale content
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
  support/util/util.go
  support/util/util_test.go
Labels: area/hypershift-operator

fix(control-plane-operator): validate cloud config hash in ignition server
  ignition-server/cmd/run_local_ignitionprovider.go
  ignition-server/controllers/cache.go
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/local_ignitionprovider_test.go
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
Labels: area/control-plane-operator

fix(cpo): sort component names in status condition to prevent spurious writes
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
Labels: area/control-plane-operator

feat(ignition-server-proxy): inject centralized TLS configuration
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/AROSwift/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/AROSwift/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/AROSwift/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/GCP/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/GCP/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/GCP/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/IBMCloud/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/IBMCloud/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/IBMCloud/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/zz_fixture_TestControlPlaneComponents_ignition_server_proxy_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver_proxy/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver_proxy/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver_proxy/deployment_test.go
Labels: area/control-plane-operator

feat(ignition-server): inject centralized TLS configuration
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/AROSwift/zz_fixture_TestControlPlaneComponents_ignition_server_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/GCP/zz_fixture_TestControlPlaneComponents_ignition_server_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/IBMCloud/zz_fixture_TestControlPlaneComponents_ignition_server_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_ignition_server_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/zz_fixture_TestControlPlaneComponents_ignition_server_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/deployment.go
  ignition-server/cmd/start.go
Labels: area/control-plane-operator

fix(OCPBUGS-74960): prevent AWS resource leak on AWSEndpointService deletion
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_mock.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
  support/awsutil/errorcode.go
Labels: area/control-plane-operator

chore: remove generated mock file from tracking
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_mock.go
Labels: area/control-plane-operator

feat(CNTRLPLANE-3763): tag bastion resources with e2e provenance
  cmd/bastion/aws/create.go
  test/e2e/util/dump/journals.go
Labels: none

feat(api): OCPSTRAT-3150: add etcd sharding API types and feature gate
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/EtcdSharding.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/EtcdSharding.yaml
Labels: area/hypershift-operator

chore(api): OCPSTRAT-3150: regenerate CRDs, clients, deepcopy, and vendor
  client/applyconfiguration/hypershift/v1beta1/etcdshardresource.go
  client/applyconfiguration/hypershift/v1beta1/etcdshardschedulingspec.go
  client/applyconfiguration/hypershift/v1beta1/managedetcdshardpersistentvolumespec.go
  client/applyconfiguration/hypershift/v1beta1/managedetcdshardspec.go
  client/applyconfiguration/hypershift/v1beta1/managedetcdshardstoragespec.go
  client/applyconfiguration/hypershift/v1beta1/managedetcdspec.go
  client/applyconfiguration/hypershift/v1beta1/unmanagedetcdshardspec.go
  client/applyconfiguration/hypershift/v1beta1/unmanagedetcdspec.go
  client/applyconfiguration/utils.go
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-Default.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-SelfManagedHA-Default.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/featuregated.hostedclusters.etcdsharding.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Labels: none

feat(hypershift-operator): OCPSTRAT-3150: add etcd shard support to CPOv2 framework
  hypershift-operator/featuregate/feature.go
  support/controlplane-component/builder.go
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/defaults.go
  support/controlplane-component/status.go
  support/etcd/shards.go
  support/etcd/shards_test.go
Labels: area/hypershift-operator

chore: regenerate and fix build after rebase
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/EtcdSharding.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/EtcdSharding.yaml
  client/applyconfiguration/utils.go
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/etcd_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/shard.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator, area/control-plane-operator

fix: address JoelSpeed feedback on etcd sharding PR
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/shard.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/shard_test.go
Labels: area/hypershift-operator, area/control-plane-operator

feat: implement TemplatedProvider for etcd shard asset rendering
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/assets.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/assets_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/discovery-service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/pdb.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/shard.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/shard_test.go
  support/controlplane-component/builder.go
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/cronjob.go
  support/controlplane-component/deployment.go
  support/controlplane-component/job.go
  support/controlplane-component/statefulset.go
  support/controlplane-component/status.go
Labels: area/control-plane-operator

docs: OCPSTRAT-3150: add etcd sharding API reference documentation
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/EtcdSharding.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/EtcdSharding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/shard_test.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
Labels: area/hypershift-operator, area/control-plane-operator

feat(control-plane-operator): OCPSTRAT-3150: add etcd shard components
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/etcd.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_recording_rules_prometheusrule.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/GCP/zz_fixture_TestControlPlaneComponents_recording_rules_prometheusrule.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_recording_rules_prometheusrule.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_recording_rules_prometheusrule.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_recording_rules_prometheusrule.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/prometheus-recording-rules.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/etcd_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/shard.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params_test.go
  etcd-defrag/main.go
Labels: area/control-plane-operator

fix: use SkipManifest for shared etcd shard resources
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/shard.go
  support/controlplane-component/generic-adapter.go
Labels: area/control-plane-operator

fix(ci): set crdify unhandledEnforcement to Warn
  hack/tools/crd-schema-check/crdify-config.yaml
Labels: none

fix(aws): isolate NewSession tests from ambient AWS env vars
  cmd/infra/aws/util/util_test.go
Labels: none

fix(envtest): add expected field to etcd sharding onUpdate pass test
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/featuregated.hostedclusters.etcdsharding.testsuite.yaml
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
