Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

e2e: refactor checkPodsHaveLabel to be allowlist rather than exact match
  test/e2e/util/util.go
Labels: none

add annotation to skip release image validation
  api/v1alpha1/hostedcluster_types.go
  api/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  test/e2e/util/hypershift_framework.go
Labels: area/hypershift-operator

HOSTEDCP-1000: Add user CA(s) to ocm-trusted-ca-bundle ConfigMap (#2713)
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/init.go
  hypershift-operator/init_test.go
  hypershift-operator/main.go
  support/capabilities/management_cluster_capabilities.go
Labels: area/hypershift-operator

Add e2e test for etcd member recovery
  test/e2e/chaos_test.go
Labels: none

Revert "HOSTEDCP-1110: [backport-4.13] Allow HCP Specification to Support ICSP & IDMS"
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignition/params.go
  control-plane-operator/controllers/hostedcontrolplane/ignition/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ignition.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/imagecontentsource.go
Labels: area/control-plane-operator

OCPBUGS-15565 changing contolplane ns pod security to baseline
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

do not hardcode ignition-server-proxy replicas
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
Labels: area/control-plane-operator

Handle empty mirrorImage result for ignition disconnected registry
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
Labels: area/control-plane-operator

STOR-1445: Sync `10_deployment-hypershift.yaml` from `cluster-storage-operator` repo
  control-plane-operator/controllers/hostedcontrolplane/storage/assets/10_deployment-hypershift.yaml
Labels: area/control-plane-operator

Reconcile cloud credentials configuration to hosted cluster
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
  support/globalconfig/cloudcreds.go
Labels: area/control-plane-operator

remove NeedManagementKASAccessLabel from router pods
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
Labels: area/control-plane-operator

dnm: Test kubevirt job
  dnm
Labels: none

e2e: remove private-router from NeedManagementKASAccessLabel allowlist
  test/e2e/util/util.go
Labels: none

Set Arch to amd64 for HCP NodePool Create
  product-cli/cmd/nodepool/create.go
Labels: none

set SkipReleaseImageValidation annotation properly on e2e clusters
  test/e2e/e2e_test.go
  test/e2e/util/hypershift_framework.go
Labels: none

MGMT-15368: Document scaling down NodePools
  docs/content/getting-started.md
  docs/content/how-to/automated-machine-management/nodepool-lifecycle.md
Labels: none

OCPBUGS-13348: Hypershift Audit configuration not working.
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
Labels: area/control-plane-operator

switch konnectivity-server to additional container in KAS pods
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/egresscfg.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/params.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/pki/konnectivity.go
Labels: area/control-plane-operator

Updating hostedcluster controller to stop using deprecated flags
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

chore(deps): update rhtap references
  .tekton/hypershift-operator-release-413-pull-request.yaml
  .tekton/hypershift-operator-release-413-push.yaml
Labels: none

fix(ignition): Add HCP label to ignition-server by default
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
Labels: area/control-plane-operator

fix(ho): Restore match label selector behavior
  hypershift-operator/controllers/hostedcluster/ignitionserver/ignitionserver.go
Labels: area/hypershift-operator

chore(deps): update rhtap references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

Add a default value (32Gi) for nodepool in 'create nodepool kubevirt' command
  cmd/cluster/aws/destroy.go
  cmd/cluster/azure/destroy.go
  cmd/cluster/kubevirt/create.go
  cmd/cluster/none/destroy.go
  cmd/nodepool/kubevirt/create.go
  product-cli/cmd/cluster/aws/destroy.go
  product-cli/cmd/cluster/kubevirt/create.go
  product-cli/cmd/nodepool/kubevirt/create.go
Labels: none

Rename isUpgradeable to isUpgrading according to its return value
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

OCPBUGS-14611: Ignored cloud dangling objects after timeout on HC teardown
  api/v1beta1/hostedcluster_conditions.go
  api/v1beta1/hostedcluster_types.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/main.go
Labels: area/hypershift-operator, area/control-plane-operator

Trigger a rolling upgrade on NodePool .spec.platfrom changes
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: area/hypershift-operator

fix limited support label key
  api/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

fix Progressing condition when ControlPlaneRelease is set
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Re-enable nodepool in-place upgrade tests
  test/e2e/nodepool_test.go
Labels: none

Revert "OCPBUGS-16813: switch konnectivity-server to additional container in KAS pods"
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/egresscfg.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/params.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/pki/konnectivity.go
Labels: area/control-plane-operator

add e2e test for rolling upgrade
  test/e2e/nodepool_rolling_upgrade_test.go
  test/e2e/nodepool_test.go
Labels: none

OCPBUGS-3873 adding rbac for UserOAuthAccessToken
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/rbac.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/rbac/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

Avoid creating tar archive if --archive-dump=false
  cmd/cluster/core/dump.go
Labels: none

OCPBUGS-3873 addition of comment referencing source of role and rolebindings for useroauthaccesstoken
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

Comment state of the world
  api/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  support/util/networking.go
Labels: area/hypershift-operator, area/control-plane-operator

Use single timeout for resource cleanup
  api/v1beta1/hostedcluster_conditions.go
  api/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/main.go
Labels: area/hypershift-operator, area/control-plane-operator

add unit test for cleanupMachineTemplates
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  test/e2e/nodepool_rolling_upgrade_test.go
Labels: area/hypershift-operator

add pausedUntil create cluster option in CLI
  api/fixtures/example.go
  cmd/cluster/core/create.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  product-cli/cmd/cluster/cluster.go
Labels: area/hypershift-operator

Do not use mgmt cluster ICSP to mutate CCO image in KAS pod
  support/releaseinfo/registry_mirror_provider.go
Labels: none
