Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

fix(cpo-override): override CPO for 4.17.20-4.17.43 with 4.17.44 image
  hypershift-operator/controlplaneoperator-overrides/assets/overrides.yaml
Labels: area/hypershift-operator

feat: Add GCP Workload Identity Federation support
  api/hypershift/v1beta1/gcp.go
  api/hypershift/v1beta1/hostedcluster_conditions.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  client/applyconfiguration/hypershift/v1beta1/gcpplatformspec.go
  client/applyconfiguration/hypershift/v1beta1/gcpresourcelabel.go
  client/applyconfiguration/hypershift/v1beta1/gcpserviceaccountsemails.go
  client/applyconfiguration/hypershift/v1beta1/gcpworkloadidentityconfig.go
  client/applyconfiguration/utils.go
  cmd/cluster/gcp/create.go
  cmd/cluster/gcp/create_test.go
  cmd/cluster/gcp/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  test/e2e/v2/tests/api_ux_validation_test.go
Labels: area/hypershift-operator

feat(api): add support for graceful service account signing key rotation
  api/hypershift/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

fix: loop over node-pool conditions updating in order
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: area/hypershift-operator

fix(OCPBUGS-63452): Add finalizer to cp deployments
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  test/e2e/util/util.go
Labels: area/hypershift-operator

test(OCPBUGS-63452): Add e2e test check for CAPI finalizers
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: area/hypershift-operator

fix(CNTRLPLANE-1978): add e2e tests for DataPlaneConnectionAvailable condition
  support/conditions/conditions.go
  test/e2e/util/util.go
Labels: none

Red Hat Konflux update hypershift-cli-mce-26
  .tekton/hypershift-cli-mce-26-pull-request.yaml
  .tekton/hypershift-cli-mce-26-push.yaml
Labels: none

Red Hat Konflux update hypershift-cli-mce-27
  .tekton/hypershift-cli-mce-27-pull-request.yaml
  .tekton/hypershift-cli-mce-27-push.yaml
Labels: none

Red Hat Konflux update hypershift-cli-mce-28
  .tekton/hypershift-cli-mce-28-pull-request.yaml
  .tekton/hypershift-cli-mce-28-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

fix(cpo-override): override CPO for 4.17.20-4.17.43 with 4.17.44 image
  hypershift-operator/controlplaneoperator-overrides/assets/overrides.yaml
Labels: area/hypershift-operator

chore(cmd): Migrating to math/rand/v2
  cmd/cluster/core/dump.go
Labels: none

fix(cmd): New option to dump data plane content through the kube API server service exposed in HCP namespaces
  cmd/cluster/core/dump.go
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Labels: none

fix(builds): hotfix pipelineruns → common pipeline
  .tekton/control-plane-operator-main-pull-request.yaml
  .tekton/control-plane-operator-main-push.yaml
  .tekton/hypershift-cli-mce-211-pull-request.yaml
  .tekton/hypershift-cli-mce-211-push.yaml
  .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml
  .tekton/hypershift-gomaxprocs-webhook-push.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-operator-main-tag.yaml
  .tekton/hypershift-release-mce-211-pull-request.yaml
  .tekton/hypershift-release-mce-211-push.yaml
  .tekton/hypershift-shared-ingress-main-pull-request.yaml
  .tekton/hypershift-shared-ingress-main-push.yaml
Labels: none

feat(aws): add shared-role support for IAM operations
  cmd/cluster/aws/create.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/core/destroy.go
  cmd/infra/aws/create_iam.go
  cmd/infra/aws/destroy_iam.go
  cmd/infra/aws/iam.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
Labels: area/hypershift-operator

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Labels: none

chore(lint): remove unused exclusion rules
  .golangci.yml
  api/.golangci.yml
Labels: area/hypershift-operator

chore(deps): update module cel.dev/expr to v0.25.1
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/cel.dev/expr/BUILD.bazel
  hack/tools/vendor/cel.dev/expr/MODULE.bazel
  hack/tools/vendor/cel.dev/expr/checked.pb.go
  hack/tools/vendor/cel.dev/expr/eval.pb.go
  hack/tools/vendor/cel.dev/expr/explain.pb.go
  hack/tools/vendor/cel.dev/expr/syntax.pb.go
  hack/tools/vendor/cel.dev/expr/value.pb.go
  hack/tools/vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  hack/tools/vendor/google.golang.org/protobuf/internal/filedesc/desc.go
  hack/tools/vendor/google.golang.org/protobuf/internal/filedesc/desc_init.go
  hack/tools/vendor/google.golang.org/protobuf/internal/filedesc/desc_lazy.go
  hack/tools/vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  hack/tools/vendor/google.golang.org/protobuf/internal/version/version.go
  hack/tools/vendor/google.golang.org/protobuf/reflect/protodesc/desc.go
  hack/tools/vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  hack/tools/vendor/google.golang.org/protobuf/reflect/protodesc/proto.go
  hack/tools/vendor/modules.txt
  vendor/cel.dev/expr/BUILD.bazel
  vendor/cel.dev/expr/MODULE.bazel
  vendor/cel.dev/expr/checked.pb.go
  vendor/cel.dev/expr/eval.pb.go
  vendor/cel.dev/expr/explain.pb.go
  vendor/cel.dev/expr/syntax.pb.go
  vendor/cel.dev/expr/value.pb.go
  vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc_init.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc_lazy.go
  vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  vendor/google.golang.org/protobuf/internal/genid/api_gen.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  vendor/google.golang.org/protobuf/reflect/protodesc/proto.go
  vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  vendor/modules.txt
Labels: none

fix(deps): update github.com/openshift/cluster-node-tuning-operator digest to 629b12f
  go.mod
Labels: none

fix(deps): update k8s.io/utils digest to bc988d5
  api/go.mod
  api/go.sum
  api/vendor/k8s.io/utils/buffer/ring_growing.go
  api/vendor/k8s.io/utils/clock/testing/fake_clock.go
  api/vendor/k8s.io/utils/lru/lru.go
  api/vendor/k8s.io/utils/net/multi_listen.go
  api/vendor/modules.txt
  contrib/aws-tag-lb-service-webhook/go.mod
  contrib/aws-tag-lb-service-webhook/go.sum
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/k8s.io/utils/net/multi_listen.go
  hack/tools/vendor/modules.txt
  vendor/k8s.io/utils/buffer/ring_growing.go
  vendor/k8s.io/utils/clock/testing/fake_clock.go
  vendor/k8s.io/utils/lru/lru.go
  vendor/k8s.io/utils/net/multi_listen.go
  vendor/modules.txt
Labels: area/hypershift-operator

fix(deps): update module github.com/spf13/cobra to v1.10.2
  api/go.mod
  api/go.sum
  api/vendor/github.com/spf13/pflag/flag.go
  api/vendor/github.com/spf13/pflag/golangflag.go
  api/vendor/github.com/spf13/pflag/string_to_string.go
  api/vendor/github.com/spf13/pflag/time.go
  api/vendor/modules.txt
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/spf13/cobra/.golangci.yml
  hack/tools/vendor/github.com/spf13/cobra/command.go
  hack/tools/vendor/modules.txt
  vendor/github.com/spf13/cobra/.golangci.yml
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/SECURITY.md
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/github.com/spf13/pflag/flag.go
  vendor/github.com/spf13/pflag/golangflag.go
  vendor/github.com/spf13/pflag/string_to_string.go
  vendor/github.com/spf13/pflag/time.go
  vendor/modules.txt
Labels: area/hypershift-operator

test(migration): adopt openshift-test-extension for future migrated tests
  Dockerfile.test-extend
  Makefile
  test/extend/cmd/main.go
  test/extend/go.mod
  test/extend/go.sum
  test/extend/hypershift_sanity.go
Labels: none

refactor(e2e): Fix syntax error and lint issues in Cilium e2e utils
  .tekton/pipelines/common-operator-build.yaml
  test/e2e/cilium_network_policy_test.go
  test/e2e/util/cilium.go
  test/e2e/util/util.go
Labels: none

chore: update generated code
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/IngressControllerLBSubnetsAWS.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/SetEIPForNLBIngressController.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator

fix(kas): apply LoadBalancerSourceRanges only for LoadBalancer service type
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
Labels: area/control-plane-operator

build: integrate GCP platform into HyperShift build system
  Makefile
  cmd/install/assets/assets.go
  cmd/install/assets/cluster-api-provider-gcp/infrastructure.cluster.x-k8s.io_gcpclusters.yaml
  cmd/install/assets/cluster-api-provider-gcp/infrastructure.cluster.x-k8s.io_gcpclustertemplates.yaml
  cmd/install/assets/cluster-api-provider-gcp/infrastructure.cluster.x-k8s.io_gcpmachines.yaml
  cmd/install/assets/cluster-api-provider-gcp/infrastructure.cluster.x-k8s.io_gcpmachinetemplates.yaml
  cmd/install/install.go
  docs/content/how-to/gcp-platform.md
  support/api/scheme.go
  support/conditions/conditions.go
  support/images/envvars.go
  support/upsert/upsert.go
Labels: none

feat(platform): implement comprehensive GCP platform controller
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_conditions_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
Labels: area/hypershift-operator

fix: skip OVN-Kubernetes deployment check when NetworkType is Other
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/component.go
Labels: area/control-plane-operator

docs: add CLI usage documentation for etcd sharding
  docs/content/how-to/etcd-sharding.md
  docs/content/how-to/etcd-sharding/example-inline-usage.sh
Labels: none

feat(cli): add etcd sharding configuration support
  cmd/cluster/core/create.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/statefulset.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oapi/config.go
Labels: area/control-plane-operator

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Labels: none

fix(aws): fix managed role policies when using shared role
  cmd/infra/aws/iam.go
Labels: none
