Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

Move proxy, silence alerts and limited support metrics into HC controlelr
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/metrics.go
  hypershift-operator/metrics.go
  test/e2e/util/fixture.go
Labels: area/hypershift-operator

Add hypershift_hosted_cluster_transition_seconds histogram
  hypershift-operator/metrics.go
Labels: area/hypershift-operator

Set metrics to 0 when needed to keep time series honest
  hypershift-operator/metrics.go
Labels: area/hypershift-operator

Add more expectedHCConditionStates metrics
  hypershift-operator/metrics.go
Labels: area/hypershift-operator

Consolidate labels for metrics
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics_test.go
Labels: area/hypershift-operator

Update deps for prom client in e2e
  vendor/github.com/openshift/client-go/route/clientset/versioned/clientset.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/doc.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/scheme/doc.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/scheme/register.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/doc.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/generated_expansion.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/route.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/route_client.go
  vendor/github.com/openshift/library-go/test/library/metrics/query.go
  vendor/modules.txt
Labels: none

Consolidate labels for metrics
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics_test.go
Labels: area/hypershift-operator

Add new metric to expose hypershift operator info
  cmd/install/assets/hypershift_operator.go
  hypershift-operator/metrics.go
  hypershift-operator/metrics_test.go
  test/e2e/util/fixture.go
Labels: area/hypershift-operator

Add new metric to expose hypershift operator info
  cmd/install/assets/hypershift_operator.go
  hypershift-operator/metrics.go
  hypershift-operator/metrics_test.go
  test/e2e/util/fixture.go
Labels: area/hypershift-operator

Set KAS config pod security Enforce to privileged
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Labels: area/control-plane-operator

chore(deps): go 1.17 compat
  support/globalconfig/globalconfig_test.go
Labels: none

cpo: kas: disable PersistentVolumeLabel admission plugin
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Labels: area/control-plane-operator

control-plane-operator/controllers/hostedcontrolplane: Align reconcileCloudControllerManager error strings
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

Add retry to validateClusterPostIDP
  test/e2e/util/oauth.go
Labels: none

Add e2e test logic for kubevirt platform autorepair
  test/e2e/nodepool_autorepair_test.go
Labels: none

Ensure ingress controllers are removed before load balancers
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

Add new --featuregate-manifest to /usr/bin/cluster-config-operator render
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
Labels: area/control-plane-operator

Account for expectedState == false when capturing hostedClustersWithFailureCondition
  hypershift-operator/metrics.go
Labels: area/hypershift-operator

fixed assignment to entry in nil map
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

Add audit-log-maxbackup setting for openshift-api-server
  control-plane-operator/controllers/hostedcontrolplane/oapi/config.go
Labels: area/control-plane-operator

fixed assignment to entry in nil map
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

OCPBUGS-11555: OAuth OpenShift deployment requires ConfigMap mount
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
Labels: area/control-plane-operator

Fix errors from HCP controller removeServiceCAAnnotationAndSecret()
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

Ensure ingress controllers are removed before load balancers
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

Ensure ingress controllers are removed before load balancers
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

Account for expectedState == false when capturing hostedClustersWithFailureCondition
  hypershift-operator/metrics.go
Labels: area/hypershift-operator

fixed KCM leader-elect-resource flag
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
Labels: area/control-plane-operator

fixed featuregates
  support/config/featuregates.go
Labels: none

Configurable SRE MetricsSet
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/main.go
  docs/content/how-to/metrics-sets.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/main.go
  support/metrics/sets.go
  support/metrics/sets_test.go
  support/metrics/testdata/sreconfig.yaml
Labels: area/hypershift-operator, area/control-plane-operator

Updated secret permissions for cluster-node-tuning-operator and openshift-route-controller-manager
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/deployment.go
Labels: area/control-plane-operator

remove flags set by CI env var
  cmd/install/install.go
Labels: none

updated manifests
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  hack/app-sre/saas_template.yaml
Labels: none

fixed unit test
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment_test.go
Labels: area/control-plane-operator

Add timeout to KAS health check client
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

Include HostedClusterDegraded in hypershift_hostedclusters_failure_conditions metric
  hypershift-operator/metrics.go
Labels: area/hypershift-operator

Updated secret permissions for cluster-node-tuning-operator and openshift-route-controller-manager
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/deployment.go
Labels: area/control-plane-operator

Let the aws endpoint to use the hypershift owned SG
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  support/awsutil/sg.go
Labels: area/control-plane-operator

first approach to inject non deleted objects metric
  control-plane-operator/controllers/hostedcontrolplane/common/metrics.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/metrics.go
  support/metrics/reporter.go
Labels: area/hypershift-operator, area/control-plane-operator

OCPBUGS-11939: Fix minor codebase nits
  cmd/install/install.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/main.go
  ignition-server/cmd/start.go
  support/releaseinfo/fake/fake.go
  support/util/util.go
Labels: area/hypershift-operator, area/control-plane-operator

Include HostedClusterDegraded in hypershift_hostedclusters_failure_conditions metric
  hypershift-operator/metrics.go
Labels: area/hypershift-operator
