Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

test/e2e: resolve dump dir once
  test/e2e/util/fixture.go
  test/e2e/util/hypershift_framework.go
Labels: none

HOSTEDCP-1687: correction for the the platform reference from nono to agent.
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: area/hypershift-operator

cmd: report server version, supported OCP
  cmd/install/assets/hypershift_operator.go
  cmd/version/version.go
  hypershift-operator/controllers/supportedversion/reconciler.go
  hypershift-operator/controllers/supportedversion/reconciler_test.go
  product-cli/main.go
Labels: area/hypershift-operator

fixed some var names to better reflect their purpose
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/main.go
Labels: area/hypershift-operator, area/control-plane-operator

fix RegistryMirrorProvider modifying the cached image directly
  support/releaseinfo/registry_mirror_provider.go
Labels: none

turn GOWORK off for ./hack/tools
  Makefile
Labels: none

Rename machine-config operator CRD references (#4058)
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
Labels: area/control-plane-operator

Rename machine-config operator CRD references
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
Labels: area/control-plane-operator

OCPBUGS-31446: Add TrustedBundles to OAS container
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  support/util/volumes.go
Labels: area/control-plane-operator

Use operator namespace for openshift-config-managed-trusted-ca-bundle
  cmd/install/install.go
  hack/app-sre/saas_template.yaml
Labels: none

Red Hat Konflux purge hypershift
  .tekton/hypershift-pull-request.yaml
  .tekton/hypershift-push.yaml
Labels: none

Fix userReleaseProvider not using icsp/idms from mgmt cluster
  control-plane-operator/main.go
Labels: area/control-plane-operator

remove liveness and readiness probes that use the metrics endpoint from ingress and registry operators
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
Labels: area/control-plane-operator

update unit test
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
Labels: area/control-plane-operator

Use configmaps to track hosted cluster pair labels
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes_test.go
Labels: area/hypershift-operator

chore(deps): update rhtap references
  .tekton/hypershift-release-mce-25-pull-request.yaml
  .tekton/hypershift-release-mce-25-push.yaml
Labels: none

chore(deps): update rhtap references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

Fix userReleaseProvider not using icsp/idms from mgmt cluster
  control-plane-operator/main.go
Labels: area/control-plane-operator

fix RegistryMirrorProvider modifying the cached image directly
  support/releaseinfo/registry_mirror_provider.go
Labels: none

fixed some var names to better reflect their purpose
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/main.go
Labels: area/hypershift-operator, area/control-plane-operator

remove liveness and readiness probes that use the metrics endpoint from ingress and registry operators
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
Labels: area/control-plane-operator

update unit test
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
Labels: area/control-plane-operator

Use operator namespace for openshift-config-managed-trusted-ca-bundle
  cmd/install/install.go
  hack/app-sre/saas_template.yaml
Labels: none

OCPBUGS-34640: Support for multiple name per component in releaseProvider
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/imageprovider/imageprovider.go
  control-plane-operator/controllers/hostedcontrolplane/imageprovider/imageprovider_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Labels: area/control-plane-operator

HOSTEDCP-1687: include platform None as supported for amd64 and arm64 as it is used for dev purposes
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: area/hypershift-operator

Add the missing OPERATOR_IMAGE_VERSION required by the new addition of featuregate in the Image-registry operator
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
Labels: area/control-plane-operator

chore(deps): update rhtap references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

chore(deps): update rhtap references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

chore(deps): update rhtap references
  .tekton/hypershift-release-mce-25-pull-request.yaml
  .tekton/hypershift-release-mce-25-push.yaml
Labels: none

Allow access to root-ca configmap
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Labels: area/control-plane-operator

Update unit tests
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator_test.go
Labels: area/control-plane-operator

remove liveness and readiness probes that use the metrics endpoint from ingress and registry operators
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
Labels: area/control-plane-operator

update unit test
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
Labels: area/control-plane-operator

*: use openshift/api instead of thirdparty for machineconfig
  control-plane-operator/controllers/hostedcontrolplane/ignition/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ignition.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/reconcile.go
  hypershift-operator/controllers/manifests/manifests.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/haproxy_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  support/api/scheme.go
  test/e2e/nodepool_machineconfig_test.go
  vendor/github.com/openshift/api/machineconfiguration/v1/Makefile
  vendor/github.com/openshift/api/machineconfiguration/v1/doc.go
  vendor/github.com/openshift/api/machineconfiguration/v1/register.go
  vendor/github.com/openshift/api/machineconfiguration/v1/types.go
  vendor/github.com/openshift/api/machineconfiguration/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/machineconfiguration/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/machineconfiguration/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Labels: area/hypershift-operator, area/control-plane-operator

restrict image registry overrides to control plane components
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/main.go
Labels: area/control-plane-operator

Fix userReleaseProvider not using icsp/idms from mgmt cluster
  control-plane-operator/main.go
Labels: area/control-plane-operator

fix RegistryMirrorProvider modifying the cached image directly
  support/releaseinfo/registry_mirror_provider.go
Labels: none

Add wait for rbac access to cluster image registry operator
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
Labels: area/control-plane-operator

Fix fleet manager pair label check
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes_test.go
Labels: area/hypershift-operator

Allow overriding hosted cluster size label
  api/hypershift/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedclustersizing/hostedclustersizing_controller.go
  hypershift-operator/controllers/hostedclustersizing/hostedclustersizing_controller_test.go
Labels: area/hypershift-operator
