Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

Add NodePoolValidArchPlatform condition check
  test/e2e/nodepool_test.go
Labels: none

Use different ports for MCS in the ignition provider
  ignition-server/controllers/local_ignitionprovider.go
Labels: area/control-plane-operator

Red Hat Trusted App Pipeline purge hypershift-azjx
  .tekton/hypershift-azjx-pull-request.yaml
  .tekton/hypershift-azjx-push.yaml
Labels: none

Red Hat Trusted App Pipeline purge hypershift-azjx
  .tekton/hypershift-azjx-pull-request.yaml
  .tekton/hypershift-azjx-push.yaml
Labels: none

remove OLM alerts from the HCCO
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/olm.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/olm/packageserver.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: area/control-plane-operator

Add ClusterUpgradeDuration metric
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics.go
  test/e2e/util/fixture.go
Labels: area/hypershift-operator

Red Hat Trusted App Pipeline update hypershift-operator-main
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

Red Hat Trusted App Pipeline update hypershift-release-414
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: none

Red Hat Trusted App Pipeline purge hypershift
  .tekton/hypershift-pull-request.yaml
  .tekton/hypershift-push.yaml
Labels: none

Red Hat Trusted App Pipeline update hypershift-operator-release-413
  .tekton/hypershift-operator-release-413-pull-request.yaml
  .tekton/hypershift-operator-release-413-push.yaml
Labels: none

Render featuregate using config operator in ignition server init container
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  ignition-server/cmd/run_local_ignitionprovider.go
  ignition-server/cmd/start.go
  ignition-server/controllers/local_ignitionprovider.go
Labels: area/hypershift-operator, area/control-plane-operator

Pass payload-version to MCS and MCC
  ignition-server/controllers/local_ignitionprovider.go
Labels: area/control-plane-operator

OCPBUGS-11882: CPO now annotates HCP pods with safe-to-evict CA annotation
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/common/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/common/manifests_test.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/packageserver-deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/packageserver.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/scheduler/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/types/types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/manifests.go
  hypershift-operator/controllers/manifests/manifests_test.go
  test/e2e/util/fixture.go
  test/e2e/util/util.go
Labels: area/hypershift-operator, area/control-plane-operator

Add release-stream flag
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/version/version.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  test/e2e/e2e_test.go
Labels: area/hypershift-operator

OCPBUGS-14087: Enable HCCO to reconcile over the OperatorHub's disableAllDefaultSources object
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
Labels: area/control-plane-operator

Add nodePoolTransitionSeconds metric
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: area/hypershift-operator

OCPBUGS-14087: Enable HCCO to reconcile over the OperatorHub's disableAllDefaultSources object
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
Labels: area/control-plane-operator

'Updated .travis.yml'
  netlify/functions/hello-world.js
Labels: none

Create hello-world.js
  docs/netlify/functions/hello-world.js
Labels: none

Use different ports for MCS in the ignition provider
  ignition-server/controllers/local_ignitionprovider.go
Labels: area/control-plane-operator

Check for IDMS only if mgmt cluster has req API
  hypershift-operator/main.go
  support/globalconfig/imagecontentsource.go
Labels: area/hypershift-operator

Allow external-dns image to be set in install cli
  cmd/install/install.go
  hack/app-sre/saas_template.yaml
Labels: none

Remove alsologtostderr flag form CAP*
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt.go
  hypershift-operator/controllers/hostedcluster/internal/platform/powervs/powervs.go
Labels: area/hypershift-operator

refactor ignition-server reconcilation
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
Labels: area/control-plane-operator

Enforce Immutability of some KubeVirt Platform Values
  api/v1alpha1/hostedcluster_types.go
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
Labels: area/hypershift-operator

Extend np test timeout for KubeVirt platform
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
Labels: none

Update RHTAP references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: none

Add Makefile cmd & directory for productized CLI
  Makefile
  product-cli/cmd/cluster/cluster.go
  product-cli/cmd/create/create.go
  product-cli/main.go
Labels: none

Set DisableStrictZoneCheck = true in the AWS Cloud Provider config
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/providerconfig.go
Labels: area/control-plane-operator

Minor fix in KAS LB healthcheck
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: area/control-plane-operator

OCPBUGS-11882: CPO now annotates HCP pods with safe-to-evict CA annotation
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  support/config/deployment.go
  support/config/deployment_test.go
  support/config/types.go
  test/e2e/util/fixture.go
  test/e2e/util/util.go
Labels: area/hypershift-operator, area/control-plane-operator

Set DisableStrictZoneCheck = true in the AWS Cloud Provider config
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/providerconfig.go
Labels: area/control-plane-operator

Set DisableStrictZoneCheck = true in the AWS Cloud Provider config
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/providerconfig.go
Labels: area/control-plane-operator

Honor global ingress configuration LoadBalancer type on AWS
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/ingress.go
Labels: area/control-plane-operator

Disable nodepool replace upgrade test
  test/e2e/nodepool_test.go
Labels: none

Check for OPENSHIFT_IMG_OVERRIDES before using
  control-plane-operator/main.go
Labels: area/control-plane-operator

Set AWS conditions only for AWS platform
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

HOSTEDCP-965: Added impersonate feature to CLI and documented HC dump procedure
  cmd/cluster/core/dump.go
  cmd/util/client.go
  docs/content/how-to/troubleshooting.md
  docs/mkdocs.yml
Labels: none

Honor global ingress configuration LoadBalancer type on AWS
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/ingress.go
Labels: area/control-plane-operator

Honor global ingress configuration LoadBalancer type on AWS
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/ingress.go
Labels: area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
