Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

fix(capi): set status.initialization.provisioned on externally managed infra
  cmd/install/assets/assets.go
  cmd/install/assets/cluster-api/addons.cluster.x-k8s.io_clusterresourcesetbindings.yaml
  cmd/install/assets/cluster-api/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  cmd/install/assets/cluster-api/ipam.cluster.x-k8s.io_ipaddressclaims.yaml
  cmd/install/assets/cluster-api/ipam.cluster.x-k8s.io_ipaddresses.yaml
  cmd/install/install.go
  go.sum
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/nodepool/capi.go
  support/api/capi_types.go
  support/api/scheme.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/api/addons/v1beta1/.import-restrictions
  vendor/sigs.k8s.io/cluster-api/api/addons/v1beta1/clusterresourceset_types.go
  vendor/sigs.k8s.io/cluster-api/api/addons/v1beta1/clusterresourcesetbinding_types.go
  vendor/sigs.k8s.io/cluster-api/api/addons/v1beta1/condition_consts.go
  vendor/sigs.k8s.io/cluster-api/api/addons/v1beta1/conversion.go
  vendor/sigs.k8s.io/cluster-api/api/addons/v1beta1/doc.go
  vendor/sigs.k8s.io/cluster-api/api/addons/v1beta1/groupversion_info.go
  vendor/sigs.k8s.io/cluster-api/api/addons/v1beta1/v1beta2_condition_consts.go
  vendor/sigs.k8s.io/cluster-api/api/addons/v1beta1/zz_generated.conversion.go
  vendor/sigs.k8s.io/cluster-api/api/addons/v1beta1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/.import-restrictions
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/condition_consts.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/conversion.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/doc.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/groupversion_info.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/ipaddress_types.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/ipaddressclaim_types.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/zz_generated.conversion.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator

ci: enable Codecov status checks and PR comments
  codecov.yml
Labels: none

Add CodeRabbit review rules derived from PR review patterns
  .coderabbit.yaml
Labels: none

feat(aws/ccm/iam): add required permissions for NLB with managed SGs
  cmd/infra/aws/iam.go
Labels: none

feat(aws/ccm/config): enable gate for CCM-AWS NLBSecurityGroupMode
  AGENTS.md
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/config_test.go
  control-plane-operator/featuregates/featuregates.go
Labels: area/control-plane-operator

feat(aws/ccm/config/e2e): ensure tests verify per-cluster feature gate evaluation
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/config_test.go
Labels: area/control-plane-operator

feat(aws/ccm/config/e2e): test gate for CCM-AWS NLBSecurityGroupMode
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-cloud-controller-manager/GCP/zz_fixture_TestControlPlaneComponents_aws_cloud_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-cloud-controller-manager/GCP/zz_fixture_TestControlPlaneComponents_aws_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-cloud-controller-manager/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_aws_cloud_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-cloud-controller-manager/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_aws_cloud_controller_manager_deployment.yaml
  test/e2e/create_cluster_test.go
  test/e2e/util/aws_ccm.go
  test/e2e/util/util.go
Labels: area/control-plane-operator

fix(external-dns): mitigate Azure DNS API throttling for external-dns
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/hypershift_operator_test.go
  test/e2e/util/install.go
Labels: none

fix(capi): set ControlPlaneInitialized for externally managed control plane
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

fix(capi): add status.initialization.controlPlaneInitialized to HCP
  api/.golangci.yml
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/HCPEtcdBackup.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/hostedcontrolplaneinitializationstatus.go
  client/applyconfiguration/hypershift/v1beta1/hostedcontrolplanestatus.go
  client/applyconfiguration/utils.go
  cmd/install/assets/assets.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: area/hypershift-operator, area/control-plane-operator

test: optimize karpenter e2e tests for 31-38% time reduction
  test/e2e/karpenter_helpers.go
  test/e2e/karpenter_test.go
Labels: none

fix(capi): don't unconditionally set ControlPlaneInitialized on CAPI Cluster
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

fix(capi): fix InfrastructureProvisioned timing and 0-worker e2e checks for CAPI 1.11
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: area/hypershift-operator

test(OCPBUGS-74960): add e2e test for PrivateLink deletion after CPO restart
  test/e2e/create_cluster_test.go
  test/e2e/util/eventually.go
Labels: none

fix(OCPBUGS-74960): use expected node count for private cluster validation in EnsureHostedCluster
  test/e2e/util/hypershift_framework.go
Labels: none

fix(capi): use MachinesReady condition for NodePool Ready in v1beta2
  hypershift-operator/controllers/nodepool/capi.go
Labels: area/hypershift-operator

fix(capi): use Available condition for MachineDeployment NodePool Ready
  hypershift-operator/controllers/nodepool/capi.go
Labels: area/hypershift-operator

fix(capi): use v1beta1 Ready condition for MachineDeployment and MachineSet status
  hypershift-operator/controllers/nodepool/capi.go
Labels: area/hypershift-operator

ci: Add OCP 4.15/4.16 to envtest integration tests
  Makefile
Labels: none

ci: fix Verify workflow failure from stale feature gate files
  .github/workflows/verify.yaml
  cmd/install/assets/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-Default.yaml
  cmd/install/assets/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  cmd/install/assets/hypershift-operator/payload-manifests/featuregates/featureGate-SelfManagedHA-Default.yaml
  cmd/install/assets/hypershift-operator/payload-manifests/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
Labels: none

feat(capi): Add conversion webhooks for v1beta1/v1beta2
  cmd/install/assets/assets.go
  cmd/install/install.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  support/api/scheme.go
Labels: area/hypershift-operator

build(deps): override CAPI CRD storage version to v1beta1
  cmd/install/assets/assets.go
Labels: none

fix(capi): remove hardcoded image overrides
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
Labels: area/hypershift-operator

fix(machineset): don't explicitly set the MinReadySeconds default
  hypershift-operator/controllers/nodepool/capi.go
Labels: area/hypershift-operator

fix: update scale-from-zero test for CAPI 1.11 native capacity
  test/e2e/autoscaling_test.go
Labels: none

fix(conversion): give capi-provider access to CRDs
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

build(deps): sync vendor after rebase
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/hypershift-operator

fix(nodepool): use MachineSet spec comparison in MachineDeploymentComplete
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: area/hypershift-operator

fix(nodepool): use V1Beta1.UpdatedReplicas in MachineDeploymentComplete
  cmd/install/assets/assets.go
  cmd/install/install.go
  contrib/gomaxprocs-webhook/Dockerfile
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/machine_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

fix(ci): Add standard image metadata to RHTAP image Dockerfile
  Containerfile.operator
Labels: none

hostedcluster: recreate HCP namespace when Primary UDN metadata is missing
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: area/hypershift-operator

fix: treat empty required-scc annotation as unset
  hypershift-operator/controllers/hostedcluster/testdata/capi-provider/zz_fixture_TestReconcileComponents.yaml
  hypershift-operator/controllers/hostedcluster/testdata/cluster-api/zz_fixture_TestReconcileComponents.yaml
  hypershift-operator/controllers/hostedcluster/testdata/control-plane-operator/zz_fixture_TestReconcileComponents.yaml
  hypershift-operator/controllers/hostedcluster/testdata/karpenter-operator/zz_fixture_TestReconcileComponents.yaml
  support/controlplane-component/defaults.go
  support/controlplane-component/defaults_test.go
Labels: area/hypershift-operator

feat(skill): add triage gate, test coverage audit, and fix feasibility analysis
  .claude/commands/workflows/pre-merging-tests.md
Labels: none

docs: limit Global Pull Secret page to AWS and Azure sections
  docs/content/how-to/agent/global-pull-secret.md
  docs/content/how-to/kubevirt/global-pull-secret.md
  docs/content/how-to/none/global-pull-secret.md
  docs/content/how-to/openstack/global-pull-secret.md
  docs/content/how-to/powervs/global-pull-secret.md
  docs/content/reference/aggregated-docs.md
  docs/mkdocs.yml
Labels: none

test(nodepool): update CAPI tests to v1beta2 types
  cmd/install/assets/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-Default.yaml
  cmd/install/assets/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  cmd/install/assets/hypershift-operator/payload-manifests/featuregates/featureGate-SelfManagedHA-Default.yaml
  cmd/install/assets/hypershift-operator/payload-manifests/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp.go
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  hypershift-operator/controllers/nodepool/capi_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: area/hypershift-operator, area/control-plane-operator

fix: revert the original implementation on the Replace nodes labeling for global-pull-secret daemonset
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/setup.go
Labels: area/control-plane-operator

fix: add needed node label for global-pull-secret daemonset on Machine reconciliation
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
  test/e2e/util/util.go
Labels: area/hypershift-operator

feat(install): self-manage webhook certs instead of relying on service-ca
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  cmd/install/install_test.go
  hypershift-operator/controllers/webhookcerts/webhookcerts_controller.go
  hypershift-operator/controllers/webhookcerts/webhookcerts_controller_test.go
  hypershift-operator/main.go
Labels: area/hypershift-operator

fix: rename GenerateWebhookCerts to GenerateInitialWebhookCerts
  cmd/install/install.go
  hypershift-operator/controllers/webhookcerts/webhookcerts_controller.go
  hypershift-operator/controllers/webhookcerts/webhookcerts_controller_test.go
Labels: area/hypershift-operator

fix(cpo): deduplicate AWSEndpointService SubnetIDs before AWS API calls
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
Labels: area/control-plane-operator
