Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

fix(OCPBUGS-51136): specify SCC annotation for pods in data plane
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/olm/catalogs.go
Labels: area/control-plane-operator

fix: skip OVN-Kubernetes deployment check when NetworkType is Other
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/component.go
Labels: area/control-plane-operator

chore: add vertical pod autoscaler vendored dependencies
  go.mod
  go.sum
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/scheduling/v1alpha1/clustersizingconfiguration_types.go
  vendor/k8s.io/autoscaler/vertical-pod-autoscaler/LICENSE
  vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/doc.go
  vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/register.go
  vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

feat: add support for control plane autoscaling in request serving architecture
  api/hypershift/v1beta1/hostedcluster_types.go
  api/scheduling/v1alpha1/clustersizingconfiguration_types.go
  api/scheduling/v1alpha1/zz_generated.deepcopy.go
  client/applyconfiguration/scheduling/v1alpha1/clustersizingconfigurationspec.go
  client/applyconfiguration/scheduling/v1alpha1/resourcebasedautoscalingconfiguration.go
  client/applyconfiguration/scheduling/v1alpha1/sizecapacity.go
  client/applyconfiguration/scheduling/v1alpha1/sizeconfiguration.go
  client/applyconfiguration/utils.go
  cmd/cluster/core/dump.go
  cmd/install/assets/hypershift-operator/scheduling.hypershift.openshift.io_clustersizingconfigurations.yaml
  cmd/install/assets/hypershift_operator.go
  hypershift-operator/controllers/hostedclustersizing/hostedclustersizing_controller.go
  hypershift-operator/controllers/hostedclustersizing/hostedclustersizing_controller_test.go
  hypershift-operator/controllers/manifests/controlplaneautoscaler/manifests.go
  hypershift-operator/controllers/resourcebasedcpautoscaler/controller.go
  hypershift-operator/controllers/resourcebasedcpautoscaler/controller_test.go
  hypershift-operator/controllers/resourcebasedcpautoscaler/machine_sizes_cache.go
  hypershift-operator/controllers/resourcebasedcpautoscaler/machine_sizes_cache_test.go
  hypershift-operator/main.go
  support/api/scheme.go
  test/e2e/util/reqserving/setup.go
  test/e2e/util/reqserving/vpa.go
  test/reqserving-e2e/cp_autoscaling_test.go
  vendor/github.com/openshift/hypershift/api/scheduling/v1alpha1/zz_generated.deepcopy.go
Labels: area/hypershift-operator

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

CNTRLPLANE-1691: feat: add disaster recovery backup command (#7081)
  cmd/create/create.go
  cmd/oadp/backup.go
  cmd/oadp/backup_test.go
  cmd/oadp/validate.go
  cmd/oadp/validate_test.go
  docs/content/how-to/disaster-recovery/dr-cli.md
  docs/content/how-to/disaster-recovery/index.md
  docs/mkdocs.yml
  product-cli/cmd/create/create.go
  test/integration/oadp_backup_test.go
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

feat: allow hypershift install cmd to accept env vars to be passed to the hypershift operator deployment
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/hypershift_operator_test.go
  cmd/install/install.go
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

ci: OCPBUGS-65576: add hypershift-no-cgo to the latest operator container image
  Dockerfile
Labels: none

feat(support): add finalizer protection to control plane workloads
  support/controlplane-component/controlplane-component.go
Labels: none

fix(cpov2): grant SecretProviderClass RBAC unconditionally
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/v2/controlplaneoperator/role.go
Labels: area/control-plane-operator

test: add RBAC tests for SecretProviderClass permissions
  cmd/install/assets/hypershift_operator_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/controlplaneoperator/role_test.go
Labels: area/control-plane-operator

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

feat(cpo-overrides): add runTests field for selective platform testing
  docs/content/contribute/cpo-overrides.md
  hypershift-operator/controlplaneoperator-overrides/assets/overrides.yaml
  hypershift-operator/controlplaneoperator-overrides/overrides.go
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
  test/e2e/util/util.go
Labels: area/hypershift-operator

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

feat(gcp): update GCPPrivateServiceConnect API to support IPv4/IPv6 validation
  api/hypershift/v1beta1/gcpprivateserviceconnect_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/gcpprivateserviceconnects.hypershift.openshift.io/GCPPlatform.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/gcpprivateserviceconnects-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/gcpprivateserviceconnects-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
Labels: area/hypershift-operator

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

chore(deps): update module cloud.google.com/go/compute/metadata to v0.9.0
  go.mod
  go.sum
  vendor/cloud.google.com/go/compute/metadata/CHANGES.md
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/cloud.google.com/go/compute/metadata/retry.go
  vendor/cloud.google.com/go/compute/metadata/syscheck.go
  vendor/cloud.google.com/go/compute/metadata/syscheck_linux.go
  vendor/cloud.google.com/go/compute/metadata/syscheck_windows.go
  vendor/modules.txt
Labels: none

docs: add implementation specification for OCPBUGS-63452
  .work/jira/solve/spec-OCPBUGS-63452.md
Labels: none

feat(skills): Add cluster debugging skill
  .claude/SKILLS.md
  .claude/skills/debug-cluster/SKILL.md
  .claude/skills/debug-cluster/aws-troubleshooting.md
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
