Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

fix: OCPBUGS-72393: Fix Konflux EC voilation, nginx image deprecated
  Containerfile.cli
Labels: none

fix: OCPBUGS-72400: Fix Konflux EC voilation, update deprecated base images
  Containerfile.cli
Labels: none

fix: OCPBUGS-72397: Fix Konflux EC voilation, update deprecated base images
  Containerfile.cli
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

fix(Portieris): Mount emptyDir to './.trust' work dir
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/portieries.go
Labels: area/control-plane-operator

chore(deps): update dependency google-api-core to v2.29.0
  hypershift-ci-python/requirements.txt
Labels: none

test: fix condition validation for 0-replica NodePools
  support/conditions/conditions.go
Labels: none

test: remove impossible condition checks for 0-replica stabilization
  test/e2e/nodepool_imagetype_test.go
Labels: none

feat(openshiftmanager-phase2): scaffold OpenShiftManager reconciler
  control-plane-operator/controllers/openshiftmanager/OWNERS
  control-plane-operator/controllers/openshiftmanager/openshiftmanager_controller.go
Labels: area/control-plane-operator

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

fix(globalps): add serviceAccount to global-pull-secret-syncer
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pullsecret.go
Labels: area/control-plane-operator

feat: support passing node selectors and tolerations in hypershift install cmd
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/hypershift_operator_test.go
  cmd/install/install.go
  cmd/install/install_test.go
  cmd/util/util.go
Labels: none

build(lint): enable arrayofstruct kube-api-linter
  api/.golangci.yml
Labels: area/hypershift-operator

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

docs(azure): add infrastructure reference documentation
  docs/content/reference/infrastructure/azure-aro-hcp.md
  docs/content/reference/infrastructure/azure-self-managed.md
  docs/mkdocs.yml
Labels: none

docs(azure): add Azure overview page with deployment model comparison
  docs/content/how-to/azure/index.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/infrastructure/azure-aro-hcp.md
  docs/content/reference/infrastructure/azure-self-managed.md
  docs/mkdocs.yml
Labels: none

refactor(aws): make tag addition idempotent with AddUniqueTag helper
  cmd/cluster/aws/create.go
  cmd/util/client.go
  cmd/util/client_test.go
Labels: none

feat(aws): prevent duplicate resource tag keys in HostedCluster and NodePool
  api/hypershift/v1beta1/aws.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  cmd/util/client.go
  cmd/util/client_test.go
  test/e2e/create_cluster_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/aws.go
Labels: area/hypershift-operator

chore(konflux): update Tekton tasks to latest versions
  .tekton/pipelines/common-operator-build.yaml
Labels: none

fix: OCPBUGS-72405: Fix Konflux EC voilation, update deprecated base images
  Containerfile.cli
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

fix(deps): update sigs.k8s.io/kube-api-linter digest to 6226480
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/modules.txt
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/Makefile
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/README.md
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/conditions/doc.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/defaults/analyzer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/defaults/config.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/defaults/doc.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/defaults/initializer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/helpers/markers/analyzer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/initializer/initializer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/integers/doc.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/minlength/analyzer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/minlength/doc.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/minlength/initializer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/nobools/doc.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/nomaps/initializer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/optionalfields/config.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/optionalfields/doc.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/optionalfields/initializer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/requiredfields/config.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/ssatags/initializer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/statusoptional/initializer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/uniquemarkers/initializer.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/utils/serialization/config.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/utils/utils.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/analysis/utils/zero_value.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/markers/markers.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/plugin/base/base.go
  hack/tools/vendor/sigs.k8s.io/kube-api-linter/pkg/registration/doc.go
Labels: none

fix(cno): use brackets only for IPv6 in server URL
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-network-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/deployment_init_container_test.go
Labels: area/control-plane-operator

fix(cno): run UPDATE=true make test
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-network-operator/GCP/zz_fixture_TestControlPlaneComponents_cluster_network_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-network-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_cluster_network_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-network-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_network_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-network-operator/zz_fixture_TestControlPlaneComponents_cluster_network_operator_deployment.yaml
Labels: area/control-plane-operator

chore(deps): update registry.access.redhat.com/ubi9/go-toolset docker tag to v1.25.3-1767889151
  Containerfile.control-plane
  Containerfile.operator
Labels: none

fix(cno): run UPDATE=true make test
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-network-operator/GCP/zz_fixture_TestControlPlaneComponents_cluster_network_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-network-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_cluster_network_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-network-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_network_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-network-operator/zz_fixture_TestControlPlaneComponents_cluster_network_operator_deployment.yaml
Labels: area/control-plane-operator

fix(cno): use brackets only for IPv6 in server URL
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-network-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/deployment_init_container_test.go
Labels: area/control-plane-operator

fix: Add NTO Service and ServiceMonitor
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/GCP/zz_fixture_TestControlPlaneComponents_cluster_node_tuning_operator_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/GCP/zz_fixture_TestControlPlaneComponents_node_tuning_operator_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/GCP/zz_fixture_TestControlPlaneComponents_node_tuning_operator_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_cluster_node_tuning_operator_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_node_tuning_operator_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_node_tuning_operator_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_node_tuning_operator_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_node_tuning_operator_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_node_tuning_operator_servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/zz_fixture_TestControlPlaneComponents_cluster_node_tuning_operator_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/nto/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/nto/servicemonitor.go
Labels: area/control-plane-operator

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*
