Repository openshift/hypershift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/hypershift-operator, area/control-plane-operator

.github/labeler.yaml:

# This file should tell the prow labeler plugin to automatically label PRs
# that include changes to matching files
# See: https://github.com/actions/labeler/blob/main/README.md
area/hypershift-operator:
- api/**/*
- hypershift-operator/**/*

area/control-plane-operator:
- control-plane-operator/**/*
- availability-prober/**/*
- dnsresolver/**/*
- ignition-server/**/*
- konnectivity-socks5-proxy/**/*
- kubernetes-default-proxy/**/*
- token-minter/**/*

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

fix: OCPBUGS-50003: to address code review feedbacks and add configMap
  go.mod
  go.sum
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
  hypershift-operator/controllers/nodepool/metrics/pricing_types.go
  hypershift-operator/main.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/doc.go
  vendor/k8s.io/utils/buffer/ring_fixed.go
  vendor/k8s.io/utils/buffer/ring_growing.go
  vendor/k8s.io/utils/clock/testing/fake_clock.go
  vendor/k8s.io/utils/exec/exec.go
  vendor/k8s.io/utils/lru/lru.go
  vendor/k8s.io/utils/net/multi_listen.go
  vendor/k8s.io/utils/set/set.go
  vendor/k8s.io/utils/strings/slices/slices.go
  vendor/modules.txt
Labels: area/hypershift-operator

refactor(metrics): migrate AWS Pricing API from SDK v1 to SDK v2
  go.mod
  go.sum
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
  hypershift-operator/main.go
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/CHANGELOG.md
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/LICENSE.txt
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/api_client.go
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/api_op_DescribeServices.go
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/api_op_GetAttributeValues.go
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/api_op_GetPriceListFileUrl.go
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/api_op_GetProducts.go
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/api_op_ListPriceLists.go
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/auth.go
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/deserializers.go
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/doc.go
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/endpoints.go
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/generated.json
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/go_module_metadata.go
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/internal/endpoints/endpoints.go
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/options.go
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/serializers.go
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/types/enums.go
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/types/errors.go
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/types/types.go
  vendor/github.com/aws/aws-sdk-go-v2/service/pricing/validators.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/api.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/doc.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/errors.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/pricingiface/interface.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/service.go
  vendor/k8s.io/utils/exec/fixup_go118.go
  vendor/k8s.io/utils/exec/fixup_go119.go
  vendor/k8s.io/utils/set/set_go_1.20.go
  vendor/k8s.io/utils/set/set_go_1.21.go
  vendor/modules.txt
Labels: area/hypershift-operator

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

feat(aro): Introduce support for swift
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/AROSwift/zz_fixture_TestControlPlaneComponents_router_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/AROSwift/zz_fixture_TestControlPlaneComponents_router_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/route_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/testdata/zz_fixture_TestGenerateRouterConfig_When_using_default_config_it_should_use_port_8443.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/nodepool/apiserver-haproxy/haproxy.go
  hypershift-operator/controllers/nodepool/apiserver-haproxy/haproxy_test.go
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_When_ARO_Swift_is_enabled_it_should_use_.hypershift.local_hostname_and_port_443.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_When_ARO__and_no_Swift_is_used_CI__it_should_use_the_shared_ingress_LB_service_IP__port_6443_and_proxy_protocol.yaml
  hypershift-operator/controllers/sharedingress/sharedingress_controller.go
  sharedingress-config-generator/config.go
  sharedingress-config-generator/config_test.go
  sharedingress-config-generator/testdata/zz_fixture_TestGenerateConfig_When_ARO_Swift_is_enabled_it_should_skip_the_dataplane_kas_svc.cfg
  support/util/visibility.go
  support/util/visibility_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: area/hypershift-operator, area/control-plane-operator

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

fix(sync-global-pullsecret): compare content ignoring trailing newlines
  sync-global-pullsecret/sync-global-pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret_test.go
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Labels: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Labels: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Labels: none
