Repository openshift/hypershift, pull requests merged in 2021-12, with the labels that each got.

#726 Remove redundant MarkFlagRequired check
  cmd/cluster/aws/create.go
Labels: approved, lgtm

#725 Replace Konnectivity Agent user manifests
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/konnectivity.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/konnectivity.go
  hosted-cluster-config-operator/controllers/resources/konnectivity/params.go
  hosted-cluster-config-operator/controllers/resources/konnectivity/reconcile.go
  hosted-cluster-config-operator/controllers/resources/manifests/konnectivity.go
  hosted-cluster-config-operator/controllers/resources/manifests/pullsecret.go
  hosted-cluster-config-operator/controllers/resources/resources.go
  hosted-cluster-config-operator/controllers/resources/resources_test.go
  hosted-cluster-config-operator/main.go
  hosted-cluster-config-operator/operator/config.go
Labels: approved, lgtm

#719 Create platform interface for HostedCluster controller.
  CONTRIBUTING.md
  docs/content/developers/how-to/contributing.md
  docs/content/developers/how-to/onboard-a-platform.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/ibmcloud/ibmcloud.go
  hypershift-operator/controllers/hostedcluster/internal/platform/none/none.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
  hypershift-operator/controllers/manifests/clusterapi/manifests.go
  hypershift-operator/controllers/manifests/controlplaneoperator/manifests.go
  hypershift-operator/controllers/manifests/manifests.go
Labels: approved, lgtm

#727 Avoid talking to kubernetes cluster if --render specified
  cmd/cluster/core/create.go
Labels: approved, lgtm

#723 Refactor the ExampleResources
  api/fixtures/example.go
  api/fixtures/example_aws.go
Labels: approved, tide/merge-method-squash, lgtm

#698 liveness & readiness probes for hosted-cluster-config-operator
  control-plane-operator/controllers/hostedcontrolplane/configoperator/params.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  hosted-cluster-config-operator/operator/config.go
Labels: approved, tide/merge-method-squash, lgtm

#729 Improve platforms docs
  docs/content/developers/how-to/onboard-a-platform.md
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
Labels: approved, lgtm

#731 token-minter renews token before expiration
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  support/util/cloudprovidercreds.go
  token-minter/main.go
Labels: approved, lgtm

#733 Expose kubeadmin password in HostedCluster status
  api/v1alpha1/hosted_controlplane.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/common/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/manifests.go
Labels: approved, lgtm

#728 set ibmcloud capi components to proper v1alpha4 version and properly reconcile infrastructure resource for ibmcloud
  cmd/install/assets/assets.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/internal/platform/ibmcloud/ibmcloud.go
  support/globalconfig/infrastructure.go
Labels: approved, lgtm

#735 Return a valid ibmcluster object
  hypershift-operator/controllers/hostedcluster/internal/platform/ibmcloud/ibmcloud.go
Labels: approved, lgtm

#736 Use createOrUpdate in ReconcileCAPIInfraCR
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/ibmcloud/ibmcloud.go
  hypershift-operator/controllers/hostedcluster/internal/platform/none/none.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
Labels: approved, lgtm

#737 Scope down ign server rbac
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  ignition-server/controllers/machineconfigserver_ignitionprovider.go
Labels: approved, lgtm

#741 Replace contributors symlink with actual file
  docs/content/developers/how-to/contributing.md
Labels: approved, lgtm

#746 Fix some issues found through linting
  availability-prober/main.go
  cmd/version/version.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/ibmcloud_kms.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/olm-collect-profiles.serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/olm-collect-profiles.go
  control-plane-operator/controllers/hostedcontrolplane/pki/cert.go
  control-plane-operator/controllers/hostedcontrolplane/pki/etcd.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ingress.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/pki/konnectivity.go
  control-plane-operator/controllers/hostedcontrolplane/pki/mcs.go
  control-plane-operator/controllers/hostedcontrolplane/pki/oauth.go
  control-plane-operator/controllers/hostedcontrolplane/pki/olm.go
  control-plane-operator/controllers/hostedcontrolplane/pki/openshift.go
  control-plane-operator/controllers/hostedcontrolplane/render/funcs.go
  hosted-cluster-config-operator/controllers/cmca/configmap_observer.go
  hosted-cluster-config-operator/controllers/cmca/setup.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/manifests.go
  hypershift-operator/controllers/platform/aws/controller.go
  ignition-server/controllers/tokensecret_controller.go
  konnectivity-socks5-proxy/main.go
  support/globalconfig/globalconfig.go
Labels: approved, lgtm

#574 Reduce patch requests by replacing SSA with CreateOrUpdate
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm

#743 Move clusteroperator controller into resources controller
  hosted-cluster-config-operator/controllers/clusteroperator/setup.go
  hosted-cluster-config-operator/controllers/resources/clusteroperators.go
  hosted-cluster-config-operator/controllers/resources/resources.go
  hosted-cluster-config-operator/main.go
  hosted-cluster-config-operator/operator/config.go
  support/upsert/upsert.go
Labels: approved, lgtm

#738 Add endpoint-access flag for create cluster aws
  api/fixtures/example.go
  cmd/cluster/aws/create.go
  cmd/cluster/core/create.go
Labels: approved, lgtm

#748 Simplify and clarify development workflows with better defaulting
  control-plane-operator/main.go
  docs/content/developers/how-to/develop-in-cluster.md
  hack/publish-ocp.sh
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/util/deployment.go
  hypershift-operator/main.go
  ignition-server/main.go
Labels: approved, lgtm

#716 hypershift creds mount optional
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
Labels: approved, ok-to-test, lgtm

#742 Liveness & readiness probes for control-plane-operator, cluster-api, kube-scheduler
  control-plane-operator/controllers/hostedcontrolplane/scheduler/params.go
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#730 Add projected token to hypershift-operator for Role based access
  cmd/install/assets/hypershift_operator.go
Labels: approved, lgtm

#740 Avoid "core ingition config has not been created yet" error during startup
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: approved, lgtm

#749 docs: Update the quickstart guide
  docs/Dockerfile
  docs/content/quickstart.md
  docs/mkdocs.yml
Labels: approved, lgtm

#750 Fix openshift/tools:latest imagestream import
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
Labels: approved, lgtm

#751 Log: Use RFC3339 timestamps rather than unix epoch
  availability-prober/main.go
  control-plane-operator/main.go
  hosted-cluster-config-operator/main.go
  hypershift-operator/main.go
  ignition-server/main.go
  support/upsert/loopdetector.go
  test/e2e/e2e_test.go
Labels: approved, lgtm

#752 docs: Revamp the docs and link to them from the README
  README.md
  docs/api-doc-gen/templates/pkg.tpl
  docs/content/contribute/contribute-docs.md
  docs/content/contribute/custom-images.md
  docs/content/contribute/develop-in-cluster.md
  docs/content/contribute/index.md
  docs/content/contribute/onboard-a-platform.md
  docs/content/contribute/run-locally.md
  docs/content/contribute/run-tests.md
  docs/content/developers/how-to/contributing.md
  docs/content/getting-started.md
  docs/content/how-to/deploy-aws-private-clusters.md
  docs/content/how-to/index.md
  docs/content/how-to/install-cli.md
  docs/content/how-to/install-hypershift.md
  docs/content/index.md
  docs/content/reference/api.md
  docs/content/reference/concepts.md
  docs/content/reference/controller-architecture.md
  docs/content/reference/index.md
  docs/mkdocs.yml
Labels: approved, lgtm

#754 HostedClusterConfigOperator: Avoid duplication by using DefaultSelector
  go.mod
  go.sum
  hosted-cluster-config-operator/operator/config.go
  vendor/golang.org/x/text/internal/language/language.go
  vendor/golang.org/x/text/internal/language/parse.go
  vendor/golang.org/x/text/language/parse.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/.golangci.yml
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/cache.go
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/internal/informers_map.go
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/internal/selector.go
  vendor/sigs.k8s.io/controller-runtime/pkg/config/v1alpha1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/controller-runtime/pkg/manager/signals/signal.go
Labels: approved, lgtm

#757 Fix konnektivity-socks5-proxy
  konnectivity-socks5-proxy/main.go
Labels: approved, lgtm

#758 docs: Improve docs about contributing to docs
  docs/Makefile
  docs/content/contribute/contribute-docs.md
Labels: approved, lgtm

#759 Prevent flapping of nodepool config
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: approved, lgtm

#761 docs: Add an overview diagram
  README.md
  docs/content/images/high-level-overview.png
  docs/content/index.md
Labels: approved, lgtm

#762 docs: Update private cluster howto
  docs/content/how-to/deploy-aws-private-clusters.md
  docs/mkdocs.yml
Labels: approved, lgtm

#763 Default root-volume-size to 120 instead of 16 gig
  cmd/cluster/aws/create.go
  cmd/nodepool/create.go
Labels: approved, lgtm

#766 Make ingresscontrollers and services uncached to fix private clusters
  control-plane-operator/main.go
Labels: approved, lgtm

#770 Add e2e support private clusters
  Makefile
  test/e2e/e2e_test.go
Labels: approved, lgtm

#768 Fix edit_uri for docs
  docs/mkdocs.yml
Labels: approved, lgtm

#776 remove reconciliation of registry resource for ibmcloud
  hosted-cluster-config-operator/controllers/resources/resources.go
Labels: approved, lgtm

#781 Dump: Dump endpointservice objects
  cmd/cluster/aws/dump.go
Labels: approved, lgtm

#764 Fix issues with None platform
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
  support/globalconfig/infrastructure.go
Labels: approved, lgtm

#774 Make oauth route always public
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/route.go
Labels: approved, lgtm

#783 CPO: Fix cache selector for ingresscontroller namespace
  control-plane-operator/main.go
Labels: approved, lgtm

#782 Drop unnecessary platform check
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/globalconfig/infrastructure.go
Labels: approved, lgtm

#793 Add autoscaler exception to pod crash test
  test/e2e/util/util.go
Labels: approved, lgtm

#789 Create cluster: Add flags for service and pod CIDR
  api/fixtures/example.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  test/e2e/e2e_test.go
Labels: approved, lgtm

#753 Liveness & readyness probes for cluster-autoscaler
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#788 use cluster-api-provider-ibmcloud v1beta1 apis
  Makefile
  api/scheme.go
  api/v1alpha1/capi_types.go
  cmd/install/assets/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmpowervsclusters.yaml
  cmd/install/assets/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmpowervsmachines.yaml
  cmd/install/assets/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmpowervsmachinetemplates.yaml
  cmd/install/assets/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmvpcclusters.yaml
  cmd/install/assets/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmvpcmachines.yaml
  cmd/install/assets/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmvpcmachinetemplates.yaml
  cmd/install/assets/cluster-api/cluster.x-k8s.io_clusterclasses.yaml
  cmd/install/assets/cluster-api/cluster.x-k8s.io_clusters.yaml
  cmd/install/assets/cluster-api/cluster.x-k8s.io_machinedeployments.yaml
  cmd/install/assets/cluster-api/cluster.x-k8s.io_machinehealthchecks.yaml
  cmd/install/assets/cluster-api/cluster.x-k8s.io_machines.yaml
  cmd/install/assets/cluster-api/cluster.x-k8s.io_machinesets.yaml
  go.mod
  go.sum
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/ibmcloud/ibmcloud.go
  support/api/scheme.go
  test/e2e/util/scheme.go
  vendor/github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/api/v1alpha4/groupversion_info.go
  vendor/github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/api/v1alpha4/types.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api-provider-ibmcloud/LICENSE
  vendor/sigs.k8s.io/cluster-api-provider-ibmcloud/api/v1beta1/conversion.go
  vendor/sigs.k8s.io/cluster-api-provider-ibmcloud/api/v1beta1/doc.go
  vendor/sigs.k8s.io/cluster-api-provider-ibmcloud/api/v1beta1/groupversion_info.go
  vendor/sigs.k8s.io/cluster-api-provider-ibmcloud/api/v1beta1/ibmpowervscluster_types.go
  vendor/sigs.k8s.io/cluster-api-provider-ibmcloud/api/v1beta1/ibmpowervsmachine_types.go
  vendor/sigs.k8s.io/cluster-api-provider-ibmcloud/api/v1beta1/ibmpowervsmachinetemplate_types.go
  vendor/sigs.k8s.io/cluster-api-provider-ibmcloud/api/v1beta1/ibmvpccluster_types.go
  vendor/sigs.k8s.io/cluster-api-provider-ibmcloud/api/v1beta1/ibmvpcmachine_types.go
  vendor/sigs.k8s.io/cluster-api-provider-ibmcloud/api/v1beta1/ibmvpcmachinetemplate_types.go
  vendor/sigs.k8s.io/cluster-api-provider-ibmcloud/api/v1beta1/types.go
  vendor/sigs.k8s.io/cluster-api-provider-ibmcloud/api/v1beta1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api/api/v1alpha4/cluster_phase_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1alpha4/cluster_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1alpha4/clusterclass_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1alpha4/common_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1alpha4/condition_consts.go
  vendor/sigs.k8s.io/cluster-api/api/v1alpha4/condition_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1alpha4/conversion.go
  vendor/sigs.k8s.io/cluster-api/api/v1alpha4/machine_phase_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1alpha4/machine_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1alpha4/machinedeployment_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1alpha4/machinehealthcheck_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1alpha4/machineset_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1alpha4/zz_generated.conversion.go
  vendor/sigs.k8s.io/cluster-api/api/v1alpha4/zz_generated.deepcopy.go
Labels: approved, lgtm

#792 Infra destroy: Do not require cluster name for route 53 cleanup.
  cmd/infra/aws/destroy.go
  cmd/infra/aws/route53.go
Labels: approved, lgtm

#786 Set resource tags on endpoint services and endpoints
  api/v1alpha1/endpointservice_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_awsendpointservices.yaml
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/platform/aws/controller.go
  support/globalconfig/infrastructure.go
Labels: approved, lgtm

#785 CMD: Error out when hostedcluster already exists
  cmd/cluster/aws/create.go
  cmd/cluster/core/create.go
  cmd/cluster/none/create.go
Labels: approved, lgtm

#784 Create cluster: Add --wait option
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
Labels: approved, lgtm

#797 Fix oauth server container name
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
Labels: approved, lgtm

#799 create infra: retry creating s3 vpc endpoint
  cmd/infra/aws/ec2.go
Labels: approved, lgtm

#800 Drop exclude drain annotation from Machines
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm

#664 Make the cluster e2e checks generic for other platforms
  cmd/cluster/none/destroy.go
  docs/content/contribute/onboard-a-platform.md
  docs/content/contribute/run-tests.md
  test/e2e/autorepair_test.go
  test/e2e/autoscaling_test.go
  test/e2e/chaos_test.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/create_cluster_test.go
  test/e2e/olm_test.go
  test/e2e/util/cluster/aws/cluster.go
  test/e2e/util/cluster/aws/copy-machine-journals.sh
  test/e2e/util/cluster/aws/journals.go
  test/e2e/util/cluster/cluster.go
  test/e2e/util/cluster/none/cluster.go
  test/e2e/util/util.go
Labels: approved, lgtm

#802 Pass CA cert as secret rather than string in capi-provider-agent
  go.mod
  go.sum
  hypershift-operator/controllers/hostedcluster/internal/platform/agent/agent.go
  vendor/github.com/openshift/cluster-api-provider-agent/api/v1alpha1/agentcluster_types.go
  vendor/github.com/openshift/cluster-api-provider-agent/api/v1alpha1/agentmachine_types.go
  vendor/github.com/openshift/cluster-api-provider-agent/api/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: approved, lgtm

#805 PKI: Properly reconcile certificates and keys
  control-plane-operator/controllers/hostedcontrolplane/pki/cert.go
  control-plane-operator/controllers/hostedcontrolplane/pki/cert_test.go
  control-plane-operator/controllers/hostedcontrolplane/pki/sa.go
  control-plane-operator/controllers/hostedcontrolplane/pki/util.go
  go.mod
  support/certs/tls.go
  support/certs/tls_test.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/errors_go113.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/errors_xerrors.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/ignore.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/struct_filter.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/xform.go
  vendor/golang.org/x/xerrors/LICENSE
  vendor/golang.org/x/xerrors/PATENTS
  vendor/golang.org/x/xerrors/README
  vendor/golang.org/x/xerrors/adaptor.go
  vendor/golang.org/x/xerrors/codereview.cfg
  vendor/golang.org/x/xerrors/doc.go
  vendor/golang.org/x/xerrors/errors.go
  vendor/golang.org/x/xerrors/fmt.go
  vendor/golang.org/x/xerrors/format.go
  vendor/golang.org/x/xerrors/frame.go
  vendor/golang.org/x/xerrors/internal/internal.go
  vendor/golang.org/x/xerrors/wrap.go
  vendor/modules.txt
Labels: approved, lgtm

#804 AWS: Create role for cloud-network-config-controller
  api/v1alpha1/hostedcluster_types.go
  cmd/infra/aws/destroy_iam.go
  cmd/infra/aws/iam.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  docs/content/reference/api.md
Labels: approved, lgtm
