Repository openshift/hypershift, pull requests merged in 2021-11, with the labels that each got.

#621 Implement pod disruption budget for etcd
  control-plane-operator/controllers/hostedcontrolplane/etcd/params.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/etcd.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#624 Add pod disruption budget to kube apiserver
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/pdb.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/kas.go
Labels: approved, lgtm

#625 Add openshift apiserver pod disruption budget
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/openshift_apiserver.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/pdb.go
Labels: approved, lgtm

#627 Add openshift oauth apiserver pod disruption budget
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/openshift_oauth_apiserver.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
Labels: approved, lgtm

#622 Add controllers to watch private services and create AWSEndpointService resources
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#628 Replace upstream CreateOrUpdate calls with internal utility
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/upsert/upsert.go
  test/e2e/util/util.go
Labels: approved, lgtm

#604 Introduce a generalized cluster capabilities check
  api/v1alpha1/hosted_controlplane.go
  api/v1alpha1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/main.go
  support/capabilities/management_cluster_capabilities.go
  support/capabilities/management_cluster_capabilities_test.go
Labels: approved, lgtm

#631 Add pod disruption budget to oauth server
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/oauth.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/pdb.go
Labels: approved, lgtm

#633 Add aws-creds flag to hypershift-operator
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
Labels: approved, lgtm

#635 Add ci-install-hypershift Maketarget
  Makefile
Labels: approved, lgtm

#629 Introduce OLM e2e test suite
  go.mod
  go.sum
  test/e2e/olm_test.go
  test/e2e/util/scheme.go
  test/e2e/util/util.go
  vendor/github.com/blang/semver/v4/LICENSE
  vendor/github.com/blang/semver/v4/go.mod
  vendor/github.com/blang/semver/v4/json.go
  vendor/github.com/blang/semver/v4/range.go
  vendor/github.com/blang/semver/v4/semver.go
  vendor/github.com/blang/semver/v4/sort.go
  vendor/github.com/blang/semver/v4/sql.go
  vendor/github.com/operator-framework/api/LICENSE
  vendor/github.com/operator-framework/api/pkg/lib/version/version.go
  vendor/github.com/operator-framework/api/pkg/operators/doc.go
  vendor/github.com/operator-framework/api/pkg/operators/register.go
  vendor/github.com/operator-framework/api/pkg/operators/v1/doc.go
  vendor/github.com/operator-framework/api/pkg/operators/v1/groupversion_info.go
  vendor/github.com/operator-framework/api/pkg/operators/v1/operator_types.go
  vendor/github.com/operator-framework/api/pkg/operators/v1/operatorcondition_types.go
  vendor/github.com/operator-framework/api/pkg/operators/v1/operatorgroup_types.go
  vendor/github.com/operator-framework/api/pkg/operators/v1/zz_generated.deepcopy.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/catalogsource_types.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/clusterserviceversion.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/clusterserviceversion_types.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/doc.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/installplan_types.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/register.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/subscription_types.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: approved, lgtm

#639 AWS: Fix creation of pre-provisioned PVs
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Labels: approved, lgtm

#640 Kube-apiserver: Reduce v level from five to two
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
Labels: approved, lgtm

#641 Fix clusterautoscaler command
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#643 Fix the kubelet serving ca, its cluster signer not root
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  hosted-cluster-config-operator/controllers/kubeletservingca/setup.go
  hosted-cluster-config-operator/controllers/kubeletservingca/syncer.go
  hosted-cluster-config-operator/main.go
  hosted-cluster-config-operator/operator/config.go
Labels: approved, lgtm

#644 Add missing rbac for ingress-to-route controller
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/ingress-to-route-controller-clusterrole.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/ingress-to-route-controller-clusterrolebinding.yaml
Labels: approved, lgtm

#646 KAS proxy: Remove limit to satisfy arch test
  control-plane-operator/controllers/hostedcontrolplane/assets/apiserver-haproxy/kube-apiserver-proxy.yaml
  control-plane-operator/controllers/hostedcontrolplane/render/testdata/zz_fixture_TestIgnitionConfigRendering_Multiple_ssh_keysignition-config-20-apiserver-haproxy.yaml
  control-plane-operator/controllers/hostedcontrolplane/render/testdata/zz_fixture_TestIgnitionConfigRendering_No_ssh_keyignition-config-20-apiserver-haproxy.yaml
  control-plane-operator/controllers/hostedcontrolplane/render/testdata/zz_fixture_TestIgnitionConfigRendering_Single_ssh_keyignition-config-20-apiserver-haproxy.yaml
Labels: approved, lgtm

#637 Add AWSEndpointService controller to hypershift-operator
  api/v1alpha1/endpointservice_types.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hypershift-operator/controllers/awsendpointservice/awsendpointservice_controller.go
  hypershift-operator/main.go
  vendor/github.com/aws/aws-sdk-go/service/elbv2/api.go
  vendor/github.com/aws/aws-sdk-go/service/elbv2/doc.go
  vendor/github.com/aws/aws-sdk-go/service/elbv2/elbv2iface/interface.go
  vendor/github.com/aws/aws-sdk-go/service/elbv2/errors.go
  vendor/github.com/aws/aws-sdk-go/service/elbv2/service.go
  vendor/github.com/aws/aws-sdk-go/service/elbv2/waiters.go
  vendor/modules.txt
Labels: approved, lgtm

#655 Add explicit flags for auxiliary images
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/main.go
Labels: approved, lgtm

#656 HCO: Use a labelselector and manage kube-control-plane-signer CM
  hosted-cluster-config-operator/controllers/kubeletservingca/setup.go
  hosted-cluster-config-operator/controllers/kubeletservingca/syncer.go
  hosted-cluster-config-operator/controllers/resources/resources.go
  hosted-cluster-config-operator/main.go
  hosted-cluster-config-operator/operator/config.go
  hosted-cluster-config-operator/operator/labelenforcer.go
  hosted-cluster-config-operator/operator/labelenforcer_test.go
Labels: approved, lgtm

#630 Minimal commandline implementation for "None" platforms
  README.md
  api/fixtures/example.go
  cmd/cluster/aws/create.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/aws/dump.go
  cmd/cluster/aws/log.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/cluster/core/destroy.go
  cmd/cluster/core/log.go
  cmd/cluster/create.go
  cmd/cluster/destroy.go
  cmd/cluster/none/create.go
  cmd/cluster/none/destroy.go
  cmd/cluster/none/log.go
  cmd/create/create.go
  cmd/destroy/destroy.go
  cmd/dump/dump.go
  docs/content/quickstart.md
  test/e2e/autorepair_test.go
  test/e2e/e2e_test.go
  test/e2e/util/util.go
Labels: approved, lgtm

#657 move to using beta resources for pdb and cronjobs
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/pdb.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/etcd.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/kas.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/oauth.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/olm.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/openshift_apiserver.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/openshift_oauth_apiserver.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/pdb.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/pdb.go
  control-plane-operator/controllers/hostedcontrolplane/olm/assets.go
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-certified-rollout.cronjob.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-community-rollout.cronjob.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-redhat-marketplace-rollout.cronjob.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-redhat-operators-rollout.cronjob.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  support/upsert/upsert.go
Labels: approved, lgtm

#659 Create apireqiestcounts CRD
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/apiserver.openshift.io_apirequestcount-crd.yaml
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
Labels: approved, lgtm

#645 KAS proxy: Fix indent of priorityClassName so it gets applied
  control-plane-operator/controllers/hostedcontrolplane/assets/apiserver-haproxy/kube-apiserver-proxy.yaml
  control-plane-operator/controllers/hostedcontrolplane/render/testdata/zz_fixture_TestIgnitionConfigRendering_Multiple_ssh_keysignition-config-20-apiserver-haproxy.yaml
  control-plane-operator/controllers/hostedcontrolplane/render/testdata/zz_fixture_TestIgnitionConfigRendering_No_ssh_keyignition-config-20-apiserver-haproxy.yaml
  control-plane-operator/controllers/hostedcontrolplane/render/testdata/zz_fixture_TestIgnitionConfigRendering_Single_ssh_keyignition-config-20-apiserver-haproxy.yaml
Labels: approved, lgtm

#638 add registry override support to support image mirroring translation in non-crio environments
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/main.go
  ignition-server/main.go
  support/releaseinfo/registry_mirror_provider.go
Labels: approved, lgtm

#662 Properly override AWS infraID if not specified on cluster create
  cmd/cluster/aws/create.go
  cmd/cluster/none/create.go
Labels: approved, lgtm

#663 Mark infraID as required
  api/v1alpha1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
Labels: approved, lgtm

#660 Add SupportedHostedCluster condition HostedCluster
  api/v1alpha1/hostedcluster_types.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/platform/aws/controller.go
  hypershift-operator/main.go
Labels: approved, lgtm

#666 Fix nil deref on cluster destroy with no HostedCluster
  cmd/cluster/core/destroy.go
Labels: approved, lgtm

#665 Add bz component to OWNERS
  OWNERS
Labels: approved, lgtm

#667 Improve API reference docs
  api/v1alpha1/doc.go
  api/v1alpha1/hosted_controlplane.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/api-doc-gen/config.json
  docs/api-doc-gen/templates/pkg.tpl
  docs/api-doc-gen/templates/type.tpl
  docs/content/reference/api.md
  docs/mkdocs.yml
Labels: approved, lgtm

#389 Switch HCP components from IAM users to roles
  Dockerfile
  Makefile
  api/fixtures/example.go
  cmd/cluster/aws/create.go
  cmd/infra/aws/create_iam.go
  cmd/infra/aws/destroy_iam.go
  cmd/infra/aws/iam.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/config.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/util/util.go
  hypershift-operator/main.go
  token-minter/main.go
Labels: approved, lgtm

#669 cleanup GetCluster
  cmd/cluster/core/destroy.go
Labels: approved, lgtm

#642 E2E: Also dump objects and logs from Hypershift namespace
  cmd/cluster/aws/dump.go
Labels: approved, lgtm

#636 AWS: Store the OIDC documents in a S3 bucket
  Makefile
  README.md
  api/fixtures/example.go
  api/v1alpha1/hostedcluster_types.go
  cmd/infra/aws/create_iam.go
  cmd/infra/aws/iam.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/infra.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/main.go
Labels: approved, lgtm

#673 remove need for hostnetwork from konnectivity agent daemonset
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
Labels: approved, lgtm

#676 added liveness/readiness probes for hypershift operator
  cmd/install/assets/hypershift_operator.go
Labels: approved, tide/merge-method-squash, ok-to-test, lgtm

#675 AWS: Fix volumes by passing cloud provider creds to KAS
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/util/cloudprovidercreds.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  token-minter/main.go
Labels: approved, lgtm

#682 do not proxy well known registries for samples operator
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
Labels: approved, lgtm

#670 Replace MCS config templates with go reconciliation code
  control-plane-operator/controllers/hostedcontrolplane/assets/assets.go
  control-plane-operator/controllers/hostedcontrolplane/assets/machine-config-server/machine-config-server-configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/machine-config-server/machine-config-server-kubeconfig-secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/machine-config-server/master.machineconfigpool.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/machine-config-server/pull-secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/machine-config-server/worker.machineconfigpool.yaml
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/params.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/mcs.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/params.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/params.go
  control-plane-operator/controllers/hostedcontrolplane/render/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/render/manifests_test.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/params.go
  control-plane-operator/controllers/hostedcontrolplane/util/workermanifest.go
  ignition-server/controllers/machineconfigserver_ignitionprovider.go
  support/globalconfig/dns.go
  support/globalconfig/globalconfig.go
  support/globalconfig/globalconfig_test.go
  support/globalconfig/infrastructure.go
  support/globalconfig/ingress.go
  support/globalconfig/installconfig.go
  support/globalconfig/network.go
  support/globalconfig/proxy.go
Labels: approved, lgtm

#683 Add make to the promoted hypershift image
  Dockerfile
Labels: approved, lgtm

#679 reduce keepalive timeouts to ensure it is lower than oses tcp_keepalive timeout value
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
Labels: approved, lgtm

#687 Revert "Add make to the promoted hypershift image"
  Dockerfile
Labels: approved, lgtm

#684 Improve the API documentation
  api/v1alpha1/hosted_controlplane.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/nodepool_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/api-doc-gen/templates/members.tpl
  docs/content/index.md
  docs/content/quickstart.md
  docs/content/reference/api.md
  docs/mkdocs.yml
Labels: approved, lgtm

#691 Allow the KAS to finish its graceful shutdown
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
Labels: approved, lgtm

#671 Replace global config templates with go reconciliation code
  control-plane-operator/controllers/hostedcontrolplane/assets/assets.go
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/00000_namespaces-needed-for-monitoring.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/cluster-config-v1-configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/cluster-csr-approver-clusterrole.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/cluster-csr-approver-clusterrolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/cluster-dns-02-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/cluster-infrastructure-02-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/cluster-ingress-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/cluster-kube-apiserver-servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/cluster-network-01-crd.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/cluster-network-02-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/cluster-proxy-01-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/cluster-version-namespace.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/ingress-to-route-controller-clusterrole.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/ingress-to-route-controller-clusterrolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/namespace-security-allocation-controller-clusterrole.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/namespace-security-allocation-controller-clusterrolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/node-bootstrapper-clusterrolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/node-csr-renewal-rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/service-account-issuer-discovery-clusterrolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/install-config/install-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/assets/user-manifests-bootstrapper/user-manifests-bootstrapper-job.yaml
  control-plane-operator/controllers/hostedcontrolplane/configoperator/params.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/render/manifests.go
  hosted-cluster-config-operator/api/scheme.go
  hosted-cluster-config-operator/controllers/resources/crd/assets/apiserver.openshift.io_apirequestcount-crd.yaml
  hosted-cluster-config-operator/controllers/resources/crd/reconcile.go
  hosted-cluster-config-operator/controllers/resources/manifests/config.go
  hosted-cluster-config-operator/controllers/resources/manifests/crd.go
  hosted-cluster-config-operator/controllers/resources/manifests/hostedcp.go
  hosted-cluster-config-operator/controllers/resources/manifests/monitoring.go
  hosted-cluster-config-operator/controllers/resources/manifests/namespaces.go
  hosted-cluster-config-operator/controllers/resources/manifests/rbac.go
  hosted-cluster-config-operator/controllers/resources/monitoring/servicemonitor.go
  hosted-cluster-config-operator/controllers/resources/namespaces/reconcile.go
  hosted-cluster-config-operator/controllers/resources/rbac/reconcile.go
  hosted-cluster-config-operator/controllers/resources/resources.go
  hosted-cluster-config-operator/controllers/resources/resources_test.go
  hosted-cluster-config-operator/main.go
  hosted-cluster-config-operator/operator/config.go
  support/globalconfig/ingress.go
Labels: approved, lgtm

#696 Add a CONTRIBUTING.md document
  CONTRIBUTING.md
Labels: approved, lgtm

#539 Enable cluster profiles, remove master label from nodes
  control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/cluster-monitoring-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  hosted-cluster-config-operator/controllers/infrastatus/reconcile.go
  hosted-cluster-config-operator/controllers/infrastatus/setup.go
  hosted-cluster-config-operator/controllers/node/reconciler.go
  hosted-cluster-config-operator/controllers/node/setup.go
  hosted-cluster-config-operator/controllers/resources/manifests/monitoring.go
  hosted-cluster-config-operator/controllers/resources/monitoring/config.go
  hosted-cluster-config-operator/controllers/resources/resources.go
  hosted-cluster-config-operator/main.go
  support/globalconfig/infrastructure.go
  thirdparty/clustermonitoringoperator/pkg/manifests/config.go
  vendor/k8s.io/apiserver/pkg/apis/audit/v1/doc.go
  vendor/k8s.io/apiserver/pkg/apis/audit/v1/generated.pb.go
  vendor/k8s.io/apiserver/pkg/apis/audit/v1/generated.proto
  vendor/k8s.io/apiserver/pkg/apis/audit/v1/register.go
  vendor/k8s.io/apiserver/pkg/apis/audit/v1/types.go
  vendor/k8s.io/apiserver/pkg/apis/audit/v1/zz_generated.conversion.go
  vendor/k8s.io/apiserver/pkg/apis/audit/v1/zz_generated.deepcopy.go
  vendor/k8s.io/apiserver/pkg/apis/audit/v1/zz_generated.defaults.go
  vendor/modules.txt
Labels: approved, lgtm

#583 Bug 2015793: Run OLM's collect profiles job on the management cluster
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/olm.go
  control-plane-operator/controllers/hostedcontrolplane/olm/assets.go
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-operator-deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/olm-collect-profiles.configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/olm-collect-profiles.cronjob.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/olm-collect-profiles.role.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/olm-collect-profiles.rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/olm-collect-profiles.secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/olm-collect-profiles.serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/olm-operator-deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/olm-collect-profiles.go
  control-plane-operator/controllers/hostedcontrolplane/pki/olm.go
Labels: bugzilla/valid-bug, approved, bugzilla/severity-medium, lgtm

#697 operator-lifecycle-manager-packageserver: Add namespace to related objects
  hosted-cluster-config-operator/controllers/clusteroperator/reconcile.go
Labels: approved, lgtm

#686 Add AWSEndpointService controller to CPO
  api/fixtures/example.go
  api/v1alpha1/endpointservice_types.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/cluster/aws/create.go
  cmd/cluster/core/destroy.go
  cmd/infra/aws/create_iam.go
  cmd/infra/aws/destroy_iam.go
  cmd/infra/aws/iam.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_awsendpointservices.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/main.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/manifests.go
  hypershift-operator/controllers/platform/aws/controller.go
  token-minter/main.go
Labels: approved, lgtm

#701 Default MachineDeployment replicas to 0 if they are nil
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: approved, lgtm

#692 Get rid of the anonymous auth rule for the OIDC
  hosted-cluster-config-operator/controllers/resources/manifests/rbac.go
  hosted-cluster-config-operator/controllers/resources/rbac/reconcile.go
  hosted-cluster-config-operator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#699 Update QuickStart instructions
  docs/content/quickstart.md
Labels: approved, lgtm

#702 Kube-Apiserver-Proxy: Re-Remove limit
  control-plane-operator/controllers/hostedcontrolplane/ignition/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/ignition/testdata/zz_fixture_TestAPIServerHAProxyConfig.yaml
Labels: approved, lgtm

#704 Print git status output when verify fails
  Makefile
Labels: approved, lgtm

#690 Read PowerVS images from the release stream
  support/releaseinfo/deserialize_test.go
  support/releaseinfo/fixtures/4.10-image-references.json
  support/releaseinfo/fixtures/4.10-installer-coreos-bootimages.yaml
  support/releaseinfo/fixtures/fixtures.go
  support/releaseinfo/releaseinfo.go
  support/releaseinfo/releaseinfo_test.go
Labels: approved, lgtm

#672 Replace default ingress controller bootstrap manifests
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/ingresscontroller.go
  hosted-cluster-config-operator/controllers/resources/ingress/params.go
  hosted-cluster-config-operator/controllers/resources/ingress/reconcile.go
  hosted-cluster-config-operator/controllers/resources/manifests/ingress.go
  hosted-cluster-config-operator/controllers/resources/resources.go
  hosted-cluster-config-operator/controllers/resources/resources_test.go
  support/globalconfig/dns.go
  support/globalconfig/infrastructure.go
  support/globalconfig/ingress.go
Labels: approved, lgtm

#677 Replace image content source policy user manifest
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignition/params.go
  control-plane-operator/controllers/hostedcontrolplane/ignition/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ignition.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/imagecontentsource.go
  hosted-cluster-config-operator/controllers/resources/resources.go
  support/globalconfig/imagecontentsource.go
Labels: approved, lgtm

#706 Hypershift operator: Ensure created objects are annotated to trigger reconciliation
  hypershift-operator/controllers/hostedcluster/createorupdate_annotation_enforcer.go
  hypershift-operator/controllers/hostedcluster/createorupdate_annotation_enforcer_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/main.go
  support/upsert/upsert.go
Labels: approved, lgtm

#709 Update README to reflect default 0 replicas
  README.md
Labels: approved, lgtm

#708 Update CAPA image to come from internal openshift CI
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#722 Hypershift CLI: Dont use json-encoding for logs
  cmd/bastion/aws/logging.go
  cmd/cluster/aws/log.go
  cmd/cluster/core/log.go
  cmd/cluster/none/log.go
  cmd/consolelogs/aws/logging.go
  cmd/infra/aws/logging.go
  cmd/util/log.go
Labels: approved, lgtm

#720 Switch OIDC controller to use service network to read from KAS
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#713 Refactor hosted cluster config operator start code
  hosted-cluster-config-operator/controllers/clusteroperator/setup.go
  hosted-cluster-config-operator/controllers/clusterversion/setup.go
  hosted-cluster-config-operator/controllers/cmca/setup.go
  hosted-cluster-config-operator/controllers/kubeadminpwd/setup.go
  hosted-cluster-config-operator/controllers/openshiftapiservermonitor/setup.go
  hosted-cluster-config-operator/controllers/resources/resources.go
  hosted-cluster-config-operator/main.go
  hosted-cluster-config-operator/operator/config.go
  hosted-cluster-config-operator/operator/labelenforcer.go
  hosted-cluster-config-operator/operator/labelenforcer_test.go
Labels: approved, lgtm

#689 Use a cache-backed client to reduce number of api requests
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/main.go
  support/upsert/upsert.go
Labels: approved, lgtm

#710 Add private DNS zone and CPO record management for AWS private clusters
  api/v1alpha1/endpointservice_types.go
  api/v1alpha1/hostedcluster_types.go
  cmd/infra/aws/create.go
  cmd/infra/aws/iam.go
  cmd/infra/aws/route53.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_awsendpointservices.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/route53.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/platform/aws/controller.go
Labels: approved, lgtm

#724 Use VPC endpoint for controlPlaneEndpoint with private clusters
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/route.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm
