Repository openshift/hypershift, pull requests merged in 2022-12, with the labels that each got.

#1906 Update filter for listing ec2 private nodes
  docs/content/how-to/aws/deploy-aws-private-clusters.md
Labels: approved, lgtm

#1908 Add better docs for conditions
  api/v1beta1/hostedcluster_conditions.go
  api/v1beta1/nodepool_conditions.go
  api/v1beta1/nodepool_types.go
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/metrics.go
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
Labels: approved, lgtm

#1698 STOR-968: Move CSISnapshotController + operator to mgmt cluster
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/csisnapshotcontroller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/olm/assets.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/olm/olm-collect-profiles.go
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/packageserver.go
  control-plane-operator/controllers/hostedcontrolplane/pki/csisnapshotcontroller.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/assets/04_serviceaccount-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/assets/05_operator_role-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/assets/06_operator_rolebinding-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/assets/07_deployment-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/assets/README.md
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/assets/assets.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator_test.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/params.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/testdata/zz_fixture_TestReconcileOperatorDeployment.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/storage.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/storage/reconcile.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/assets/readasset.go
Labels: approved, lgtm, qe-approved, px-approved

#1861 refactor route reconcilation
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/infra.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/route.go
  hypershift-operator/main.go
  support/util/route.go
  support/util/util.go
  test/e2e/util/util.go
Labels: approved, lgtm

#1732 Force delete pod stuck in terminating state during hosted cluster cleanup
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm

#1914 Change CAPI image initialization order
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#1838 Refactoring the E2E test suite
  test/e2e/autorepair_test.go
  test/e2e/nodepool_autorepair_test.go
  test/e2e/nodepool_test.go
  test/e2e/util/util.go
Labels: approved, lgtm

#1917 OCPBUGS-3900: Fix CA passed to MCO for kubelet
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/params.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/reconcile.go
  ignition-server/controllers/local_ignitionprovider.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/create_cluster_test.go
  test/e2e/util/node.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/severity-important

#1916 Fix snapshot-controller error message
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm

#1907 Add AllMachinesReady and AllNodesHealthy conditions to NodePool
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm

#1913 Add ValidIdentityProvider condition
  api/v1beta1/hostedcluster_conditions.go
  api/v1beta1/hostedcluster_types.go
  cmd/infra/aws/iam.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#1933 Temporarily override the CAPI AWS provider image
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
  hypershift-operator/main.go
  support/releaseinfo/fake/fake.go
  support/util/imagemetadata.go
Labels: approved, lgtm

#1930 fix nil deref in nodepool controller
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm

#1931 Destroy target groups explicitly
  cmd/infra/aws/destroy.go
Labels: approved, lgtm

#1748 STOR-1037: Add cluster-storage-operator to mgmt. cluster
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/storage.go
  control-plane-operator/controllers/hostedcontrolplane/storage/assets/10_deployment-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/assets/README.md
  control-plane-operator/controllers/hostedcontrolplane/storage/assets/assets.go
  control-plane-operator/controllers/hostedcontrolplane/storage/assets/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/assets/rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/envreplace.go
  control-plane-operator/controllers/hostedcontrolplane/storage/envreplace_test.go
  control-plane-operator/controllers/hostedcontrolplane/storage/operator.go
  control-plane-operator/controllers/hostedcontrolplane/storage/params.go
Labels: approved, tide/merge-method-squash, lgtm, qe-approved, px-approved

#1927 availability-prober: add wait for cluster infrastructure resource
  availability-prober/availability_prober.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  support/util/containers.go
Labels: approved, lgtm

#1929 always set ROUTER_CANONICAL_HOSTNAME
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
Labels: approved, lgtm

#1920 Add clusterID to ignition-server PodMonitor
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
Labels: approved, lgtm

#1940 Clarify CAPI in controller arch doc
  docs/content/reference/controller-architecture.md
Labels: approved, lgtm

#1941 STOR-1038: Reconcile Storage and ClusterCSIDrivers in the guest clusters
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/storage.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/storage/reconcile.go
Labels: approved, lgtm

#1942 Update cnv ci script to make hpp optional
  hack/ci/install-cnv.sh
Labels: approved, lgtm

#1922 Bug 2066664: Sync manifests from cluster-csi-snapsht-controller-operator
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/assets/05_operator_role-hypershift.yaml
Labels: bugzilla/valid-bug, approved, bugzilla/severity-low, lgtm

#1824 Refactor powervs infra for reusing fields in create cluster cmd
  cmd/cluster/powervs/create.go
  cmd/infra/powervs/create.go
Labels: approved, lgtm

#1919 Clarify aws private link service/endpoint requirement
  docs/content/reference/infrastructure/aws.md
Labels: approved, lgtm

#1858 AUTH-323: Add etcd and etcd metrics certs, add etcd metrics proxy
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ca.go
  control-plane-operator/controllers/hostedcontrolplane/pki/etcd.go
Labels: approved, lgtm

#1870 Add CLI support for Multi-cluster engine secret:
  cmd/cluster/agent/create.go
  cmd/cluster/aws/create.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/azure/create.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/cluster/core/destroy.go
  cmd/cluster/kubevirt/create.go
  cmd/cluster/none/create.go
  cmd/cluster/powervs/create.go
  cmd/util/secrets.go
  docs/content/how-to/aws/create-aws-hosted-cluster-secret-credentials.md
Labels: approved, lgtm

#1937 Add resolve-from-guest-cluster-dns flag to ingress socks-proxy
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
Labels: approved, lgtm

#1915 guest cleanup: ensure pods are force-deleted
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm

#1946 Storage: cleanup operand deployments on upgrade
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
Labels: approved, lgtm

#1923 Remove CAPI manager container command path
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#1909 Added separation among UpdateVersion and UpdateConfig in NodePool Inplace Upgrade
  hypershift-operator/controllers/nodepool/inplace.go
Labels: approved, lgtm

#1856 certs: fix SKID/AKID generation
  support/certs/tls.go
  support/certs/tls_test.go
Labels: approved, lgtm

#1884 AUTH-323: pki: remove root-ca from the client CA bundle
  control-plane-operator/controllers/hostedcontrolplane/kas_pki_setup.go
  test/e2e/control_plane_upgrade_test.go
Labels: approved, lgtm

#1961 Ignore CAPI/CAPA env var image overrides for 4.12 and later
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
  support/util/imagemetadata.go
Labels: approved, lgtm

#1965 [doc] fix nodepool name description error
  docs/content/how-to/agent/create-agent-cluster.md
Labels: approved, lgtm

#1966 Signal when ignition is reached via event, metric and condition and delay MHC creation
  api/v1beta1/nodepool_conditions.go
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  ignition-server/cmd/start.go
Labels: approved, lgtm

#1972 fix wait-for-infrastructure-resource flag on CNO availablity prober
  support/util/containers.go
Labels: approved, lgtm

#1952 add kubernetes.default to KAS certificate SAN
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
Labels: approved, lgtm

#1956 Add metrics for hostedCluster deletion SLIs
  api/v1beta1/hosted_controlplane.go
  api/v1beta1/hostedcluster_conditions.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/metrics.go
Labels: approved, lgtm

#1973 Remove CAPA command from deployment
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
Labels: approved, lgtm

#1974 Fix send clusterGuestCloudResourcesDeletionTime metric
  hypershift-operator/metrics.go
Labels: approved, lgtm

#1980 OCPBUGS-4973: Reinstate hosted cluster configuration propagation
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug

#1983 Add pull secret to storage service accounts
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator.go
  control-plane-operator/controllers/hostedcontrolplane/storage/operator.go
Labels: approved, lgtm

#1984 autoscaler get/list for infrastructure.cluster.x-k8s.io api group
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
Labels: approved, lgtm
