Repository openshift/hypershift, pull requests merged in 2022-06, with the labels that each got.

#1431 Use git commit as version in HyperShift binaries
  availability-prober/availability_prober.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  cmd/version/version.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/main.go
  hypershift-operator/main.go
  ignition-server/cmd/start.go
  konnectivity-socks5-proxy/main.go
  kubernetes-default-proxy/kubernetes_default_proxy.go
  main.go
  pkg/version/version.go
  token-minter/tokenminter.go
Labels: approved, lgtm

#1432 aws private link controller: improve error messages
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
Labels: approved, lgtm

#1435 Increase MHC nodeStartupTimeout
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm

#1433 CNO operands use private APIServer address when HCP is private
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Labels: approved, lgtm

#1440 add api-server-address flags to kubevirt and agent cluster create
  cmd/cluster/agent/create.go
  cmd/cluster/kubevirt/create.go
Labels: approved, lgtm

#1442 Add recording rule for component memory requests
  cmd/install/assets/recordingrules/hypershift.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm

#1444 Adjust memory requests to align with PerfScale recommendations
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/params.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-certified.deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/packageserver-deployment.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#1445 Add recording rule for cpu requests
  cmd/install/assets/recordingrules/hypershift.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm

#1446 Manage ignition server from CPO
  Dockerfile
  Dockerfile.control-plane
  Dockerfile.fast
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  hypershift-operator/controllers/util/deployment.go
Labels: approved, lgtm

#1447 Add memory rss recording rule
  cmd/install/assets/recordingrules/hypershift.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm

#1449 Trim `docker-pullable://` prefix when reading imageID from container status
  control-plane-operator/main.go
  hypershift-operator/main.go
Labels: approved, lgtm

#1332 e2e: notice FailedScheduling or Preempted events
  test/e2e/util/fixture.go
  test/e2e/util/util.go
Labels: approved, lgtm

#1339 E2E: Add TestNodepoolMachineconfigGetsRolledout
  api/v1alpha1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  support/api/scheme.go
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_machineconfig_verification_ds.yaml
Labels: approved, lgtm

#1453 Fix the private router to work on a 4.11 mgmt cluster
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#1422 Add PowerVS Cloud Controller Manager
  api/fixtures/example.go
  api/fixtures/example_ibmcloud_powervs.go
  api/v1alpha1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/powervs/powervs.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/powervs.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/internal/platform/powervs/powervs.go
Labels: approved, lgtm

#1457 nat gateway: check for invalid eip
  cmd/infra/aws/ec2.go
Labels: approved, lgtm

#1429 add allowed CIDR blocks to HostedCluster API
  api/v1alpha1/hosted_controlplane.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#1420 Bug 2089224: Remove monitoring config reconciliation
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/monitoring/config.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  thirdparty/clustermonitoringoperator/pkg/manifests/config.go
Labels: bugzilla/valid-bug, approved, bugzilla/severity-high, lgtm

#1460 Ensure cache is set during token rotation before reconciling
  ignition-server/controllers/tokensecret_controller.go
Labels: approved, lgtm

#1464 Use right conditions reason for inplace upgrade
  hypershift-operator/controllers/nodepool/inplace.go
Labels: approved, lgtm

#1406 Add missing control plane prometheus rules
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/alerts/assets/apiusage.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/alerts/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/alerts.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm

#1296 Add ValidReleaseImage condition to HostedCluster
  api/v1alpha1/hostedcluster_types.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  support/releaseinfo/fake/fake.go
Labels: approved, lgtm

#1469 Drop kas call in agent ReconcileCAPIInfraCR and fail if no ign
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/agent/agent.go
  hypershift-operator/controllers/hostedcluster/internal/platform/agent/agent_test.go
Labels: approved, lgtm

#1466 docs: refactor agent documentation
  docs/content/how-to/agent/create-agent-cluster.md
Labels: approved, lgtm

#1467 Reduce HyperShift operator metrics cardinality
  hypershift-operator/metrics.go
Labels: approved, lgtm

#1471 [release-4.10] Add missing control plane prometheus rules
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/alerts/assets/apiusage.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/alerts/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/alerts.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm

#1472 The ValidateReleaseImage was returning an error stating it could not find the pull-secret and blocked HC
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#1470 [release-4.9] Add missing control plane prometheus rules
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/alerts/assets/apiusage.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/alerts/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/alerts.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm

#1475 [release-4.10] Ensure that everything uses imagePullPolicy IfNotPResent for resiliency
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/kas/aws_kms.go
  control-plane-operator/controllers/hostedcontrolplane/kas/ibmcloud_kms.go
  control-plane-operator/controllers/hostedcontrolplane/kas/portieries.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-certified.deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-community.deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-redhat-marketplace.deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-redhat-operators.deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/packageserver.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt.go
  support/util/cloudprovidercreds.go
  support/util/containers.go
  test/e2e/autorepair_test.go
  test/e2e/autoscaling_test.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/util/util.go
Labels: approved, lgtm

#1477 Updated secret permissions to conform to kubernetes CIS benchmark
  contrib/admission-tracer/manifests/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/packageserver-deployment.yaml
  hypershift-operator/controllers/hostedcluster/internal/platform/powervs/powervs.go
Labels: approved, lgtm

#1479 [release-4.9] Updated secret permissions to conform to kubernetes CIS benchmark
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/packageserver-deployment.yaml
Labels: approved, lgtm

#1463 Improve user experience of HostedCluster configuration API
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/params.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/params.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/config.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/params.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/api-doc-gen/config.json
  docs/content/how-to/cluster-configuration.md
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  support/globalconfig/globalconfig.go
  support/globalconfig/globalconfig_test.go
  support/globalconfig/ingress.go
  support/globalconfig/network.go
  support/globalconfig/observed.go
  support/globalconfig/proxy.go
Labels: approved, lgtm

#1473 Use ImagePullPolicyIfNotPresent for HO
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
Labels: approved, tide/merge-method-squash, lgtm

#1484 docs: agent: AgentServiceConfig script used fixed version instead of latest
  docs/content/how-to/agent/create-agent-cluster.md
Labels: approved, lgtm

#1485 Update controller-runtime to get fix for global log override bug
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/builder/controller.go
  vendor/sigs.k8s.io/controller-runtime/pkg/webhook/admission/http.go
  vendor/sigs.k8s.io/controller-runtime/pkg/webhook/server.go
Labels: approved, lgtm

#1488 Excempt build controller SA from PodSecurity admission
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Labels: approved, lgtm

#1487 HO: Fix raw extension generation for hcp configuration
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm

#1493 nodepool controller: remove right condition type
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm

#1492 Rename hypershift operator metrics
  hypershift-operator/metrics.go
Labels: approved, lgtm

#1491 powervs: Added inbound access rules for VPC security group to allow http & https
  cmd/infra/powervs/create.go
  cmd/infra/powervs/validate.go
Labels: approved, lgtm

#1481 feat(cpo): Support disable profiling annotation
  api/v1alpha1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/params.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/util/strings.go
Labels: approved, lgtm

#1496 Get rid of hostedapicache by using HCCO
  control-plane-operator/controllers/hostedapicache/cache.go
  control-plane-operator/controllers/hostedapicache/cache_controller.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/hcpstatus/hcpstatus.go
  control-plane-operator/main.go
Labels: approved, lgtm

#1499 Use Patch instead of Update to prevent error.
  test/e2e/nodepool_machineconfig_test.go
Labels: approved, lgtm

#1465 Set Recommended Leader Election Values
  control-plane-operator/controllers/hostedcontrolplane/scheduler/config.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/config_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/config/constants.go
Labels: approved, lgtm

#1498 Add ClusterVersionUpgradeable condition, upgrade block, and override annotation
  api/v1alpha1/hostedcluster_types.go
  control-plane-operator/hostedclusterconfigoperator/controllers/hcpstatus/hcpstatus.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm

#1505 PowerVS : CIS Domain nextUrl usage fixed
  cmd/infra/powervs/create.go
Labels: approved, lgtm

#1501 [release-4.10] feat(cpo): Support disable profiling annotation
  api/v1alpha1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/params.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/util/strings.go
Labels: approved, lgtm

#1509 kube-apiserver-proxy use privatelink for private clusters
  hypershift-operator/controllers/nodepool/haproxy.go
  support/util/visibility.go
Labels: approved, lgtm
