Repository openshift/hypershift, pull requests merged in 2022-08, with the labels that each got.

#1635 Add Handling Ingress to Agent docs
  docs/content/how-to/agent/create-agent-cluster.md
Labels: approved, lgtm

#1631 fix(ho): honor deprecated global config fields
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  support/globalconfig/globalconfig.go
Labels: approved, lgtm

#1636 doc(how-to/aws/create-aws-multi-az): fix getting started path
  docs/content/how-to/aws/create-aws-hosted-cluster-multiple-zones.md
Labels: approved, lgtm

#1633 additional trust bundle into vm
  ignition-server/controllers/local_ignitionprovider.go
Labels: approved, ok-to-test, lgtm

#1637 doc(aws): markdown formatting updates
  docs/content/how-to/aws/create-infra-iam-separately.md
  docs/content/how-to/distribute-hosted-cluster-workloads.md
Labels: approved, lgtm

#1614 Use a per-hcp router for all hcp ingress traffic
  api/fixtures/example.go
  api/v1alpha1/endpointservice_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_awsendpointservices.yaml
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.template
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/infra.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ingress.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/route.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/config.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/platform/aws/controller.go
  support/testutil/testutil.go
  support/testutil/testutil_test.go
  support/util/networking.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/util/fixture.go
  test/e2e/util/util.go
Labels: approved, tide/merge-method-squash, lgtm

#1641 private aws cluster guide - update IAM policy example
  docs/content/how-to/aws/deploy-aws-private-clusters.md
Labels: approved, lgtm, needs-ok-to-test

#1628 Self image lookup: Retry on empty string
  control-plane-operator/main.go
  hypershift-operator/main.go
Labels: approved, lgtm

#1649 HO: Fix haproxy to have apiserver external address for public clusters
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: approved, lgtm

#1647 Drop hypershift-operator util and consolidate with support
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/agent/agent.go
  hypershift-operator/controllers/manifests/autoscaler/manifests.go
  hypershift-operator/controllers/manifests/machineapprover/manifests.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/util/deployment.go
  hypershift-operator/controllers/util/deployment_test.go
  hypershift-operator/main.go
  support/releaseinfo/fake/fake.go
  support/util/strings.go
  support/util/util.go
Labels: approved, lgtm

#1652 Add unittests for haproxy config generation
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/haproxy_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_private_cluster_uses_.local_address.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_private_cluster_uses_.local_address_and_custom_apiserver_port.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_and_private_cluster_uses_.local_address.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_and_private_cluster_uses_.local_address_and_custom_apiserver_port.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_cluster_uses_address_from_kubeconfig.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_cluster_uses_address_from_kubeconfig_and_custom_port.yaml
Labels: approved, lgtm

#1653 Increase the unittest timeout to 20m from the default 10m
  Makefile
Labels: approved, lgtm

#1645 HCCO: Use cpo manifests for references
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/ingress.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/oauth.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: approved, lgtm

#1654 Add a helper to create SA kubeconfigs
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
Labels: approved, lgtm

#1648 CI script to install hypershift from pre-release MCE catalog source
  hack/ci/install-mce.sh
Labels: approved, lgtm

#1643 Move image registry operator to control plane
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/registryoperator.go
  control-plane-operator/controllers/hostedcontrolplane/pki/registryoperator.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcilePodMonitor.yaml
  support/metrics/sets.go
Labels: approved, lgtm

#1597 Ingress endpoint
  api/v1alpha1/hostedcluster_types.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#1658 A few simple kubebuilder validations.
  api/v1alpha1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm

#1663 Registry operator: Set proxy vars
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
Labels: approved, lgtm

#1665 PowerVS: Add provider id fmt for capi deployment
  hypershift-operator/controllers/hostedcluster/internal/platform/powervs/powervs.go
Labels: approved, lgtm

#1666 external-dns settings for operator install template rendering
  Makefile
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  cmd/install/install_render.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm

#1668 Drop insecure port on router to save rules
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/route.go
Labels: approved, lgtm

#1650 Fix e2e powervs destroy opts
  test/e2e/util/fixture.go
Labels: approved, lgtm

#1664 E2E: Consistently use Patch to avoid conflict failures
  test/e2e/autoscaling_test.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/nodepool_upgrade_test.go
Labels: approved, lgtm

#1669 Fix router reconciliation when apiserver is exposed through LB
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
Labels: approved, lgtm

#1657 Ignition server: Use common pki code
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/config.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/egresscfg.go
  control-plane-operator/controllers/hostedcontrolplane/kas/oauth.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/config.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/config.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ca.go
  control-plane-operator/controllers/hostedcontrolplane/pki/cert.go
  control-plane-operator/controllers/hostedcontrolplane/pki/cert_test.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/pki/sa.go
  control-plane-operator/controllers/hostedcontrolplane/pki/util.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  support/certs/tls.go
  support/certs/tls_test.go
Labels: approved, lgtm

#1673 Honor the debug-deployments annotation
  support/config/deployment.go
Labels: approved, lgtm

#1674 OAuth: do not reference paths for empty optional secrets or configmaps
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
Labels: approved, lgtm

#1676 Add IBMPowerVSCluster to status subresource set
  support/upsert/upsert.go
Labels: approved, lgtm

#1677 Fix Switch to library-go to compute audit profile audit policy
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/auditcfg.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/LICENSE
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/audit/audit_policies.go
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/audit/manifests/allrequestbodies-rules.yaml
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/audit/manifests/base-policy.yaml
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/audit/manifests/default-rules.yaml
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/audit/manifests/none-rules.yaml
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/audit/manifests/writerequestbodies-rules.yaml
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/audit/testdata/allrequestbodies.yaml
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/audit/testdata/audit-policies-cm-scenario-1.yaml
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/audit/testdata/default.yaml
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/audit/testdata/multipleCr.yaml
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/audit/testdata/none.yaml
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/audit/testdata/oauth.yaml
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/audit/testdata/writerequestbodies.yaml
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/basecredentials.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/generated.pb.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/generated.proto
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/types.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/zz_generated.conversion.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/zz_generated.deepcopy.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/zz_generated.defaults.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: approved, lgtm

#1678 Correctly manage infra status condition when there is no LB controller
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
Labels: approved, lgtm

#1660 ClusterID and infraID should be immutable.
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
Labels: approved, lgtm

#1672 Enable cleaning up of hosted cluster cloud resources on destroy
  api/v1alpha1/hosted_controlplane.go
  api/v1alpha1/hostedcluster_types.go
  cmd/cluster/cluster.go
  cmd/cluster/core/destroy.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/webhookconfig.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
  docs/content/getting-started.md
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  test/e2e/e2e_test.go
Labels: approved, lgtm

#1681 E2E: Fix flakes due to inability of finding matching nodepools
  test/e2e/autoscaling_test.go
  test/e2e/nodepool_machineconfig_test.go
Labels: approved, lgtm

#1684 remove external-dns provider variable from openshift template parameters
  cmd/install/install_render.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm

#1685 APIServer route expose strategy: Fix with private clusters
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.template
Labels: approved, lgtm

#1687 Reconcile spec of clusterversion resource
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: approved, lgtm

#1686 Validate OCP release version and SDN on initial install
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm

#1683 Fix clusters that use LB expose strategy with a custom port
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#1688 Add CIDR checks to webhook on create
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
Labels: approved, lgtm

#1693 Allow OpenShiftSDN CNI for PowerVS platform
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm

#1679 Move Cloud network config controller to the management cluster
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
Labels: approved, lgtm

#1694 Update external-dns image
  cmd/install/install.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm

#1696 Fix clusters where apiserver is exposed through LB and DNS indirection is used
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/route.go
  support/util/expose.go
Labels: approved, lgtm

#1705 Oauth: Fix hostname when using DNS indirection and no public router LB
  control-plane-operator/controllers/hostedcontrolplane/oauth/route.go
Labels: approved, lgtm

#1699 Cleanup etcd rule manifest in CVO
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  test/e2e/util/util.go
Labels: approved, lgtm

#1700 AWS infra destroy: Handle bucket not found during batch delete
  cmd/infra/aws/destroy.go
Labels: approved, lgtm

#1706 Set right API group
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
  support/labelenforcingclient/labelenforcer.go
Labels: approved, lgtm

#1708 Use kubeconfig port for worker haproxy
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/haproxy_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: approved, lgtm

#1589 Add pausedUntil API for NodePool
  api/v1alpha1/nodepool_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/conditions_test.go
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  support/util/pausereconcile.go
  support/util/pausereconcile_test.go
Labels: approved, tide/merge-method-squash, lgtm

#1707 Destroy: Don't fail if finalizer can not be added
  cmd/cluster/core/destroy.go
Labels: approved, lgtm

#1690 Add recording rules for telemetry
  Makefile
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/assets/recording-rules.yaml
  control-plane-operator/controllers/hostedcontrolplane/kas/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/kas/servicemonitor_test.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/kas.go
  support/util/metrics.go
Labels: approved, lgtm

#1702 Add node controller to HCCO Manager
  api/v1alpha1/nodepool_types.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/node/node.go
  control-plane-operator/hostedclusterconfigoperator/controllers/node/node_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/node/setup.go
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: approved, lgtm

#1537 NE-1043: Move the DNS operator into the management cluster
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/dnsoperator/dnsoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/dnsoperator.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/dns.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: approved, lgtm

#1710 Reconcile default ingress controller on creation only
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile_test.go
Labels: approved, lgtm

#1714 HO: Ignore NoSuchBucket error when deleting OIDC docs
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#1713 Registry operator: Avoid restarts when token file changes
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
Labels: approved, lgtm

#1689 OVN SBDB: Use private router when possible
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  test/e2e/util/util.go
Labels: approved, lgtm

#1715 Fix CLI panic when status.version is nil
  cmd/cluster/core/create.go
Labels: approved, lgtm
