Repository openshift/hypershift, pull requests merged in 2022-11, with the labels that each got.

#1839 move LatestSupportedVersion to 4.13
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  support/releaseinfo/fake/fake.go
  support/supportedversion/version.go
  support/supportedversion/version_test.go
Labels: approved, lgtm

#1823 Add retry for cloud connection and VPC LB deletion
  cmd/infra/powervs/destroy.go
Labels: approved, lgtm

#1774 SDN-3508: Add proxy env variables to CNO deployment
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Labels: approved, lgtm

#1749 bug: HOSTEDCP-569 HC controller blocked reconcile verifying releaseImage
  api/v1alpha1/hostedcluster_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm

#1848 Add nodepool upgrades section to index
  docs/mkdocs.yml
Labels: approved, lgtm

#1842 Use default namespace filtering for events
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/main.go
  support/util/services.go
Labels: approved, lgtm

#1850 Signal ignition server payload generation in NodePool conditions
  api/v1alpha1/nodepool_types.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
Labels: approved, lgtm

#1854 Add omitempty for RestoreSnapshotURL
  api/v1alpha1/hostedcluster_types.go
Labels: approved, lgtm

#1857 Change domain reference
  docs/content/how-to/agent/create-agent-cluster.md
Labels: approved, lgtm

#1855 e2e: validate resource cleanup
  cmd/cluster/aws/destroy.go
  cmd/cluster/core/destroy.go
  test/e2e/util/fixture.go
  vendor/github.com/aws/aws-sdk-go/service/resourcegroupstaggingapi/api.go
  vendor/github.com/aws/aws-sdk-go/service/resourcegroupstaggingapi/doc.go
  vendor/github.com/aws/aws-sdk-go/service/resourcegroupstaggingapi/errors.go
  vendor/github.com/aws/aws-sdk-go/service/resourcegroupstaggingapi/service.go
  vendor/modules.txt
Labels: approved, lgtm

#1851 Bubble up infrastructure condition from HCP into HC
  api/v1alpha1/hosted_controlplane.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#1796 PowerVS: Introduce retry on retryable errors on API call failure
  cmd/infra/powervs/create.go
  cmd/infra/powervs/destroy.go
Labels: approved, lgtm

#1868 test: e2e: skip certain pods for EnsureNoCrashingPods check
  test/e2e/util/util.go
Labels: approved, lgtm

#1867 Adding missing objects to the HC Migration
  docs/content/how-to/aws/migrate-hosted-cluster.md
Labels: approved, lgtm

#1866 Defines resourceTags merge granularity
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm

#1871 add apiserver_request_aborts_total to recording rules
  cmd/install/assets/recordingrules/hypershift.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm

#1849 node tuning: Fix docs and improve logs
  docs/content/how-to/node-tuning.md
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm

#1852 Conditions cvo
  api/v1alpha1/hosted_controlplane.go
  api/v1alpha1/hostedcluster_types.go
  control-plane-operator/hostedclusterconfigoperator/controllers/hcpstatus/hcpstatus.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#1863 doc: Added documentation and diagrams for HostedCluster and NodePool
  docs/Dockerfile
  docs/content/reference/infrastructure/aws.md
  docs/mkdocs.yml
  docs/requirements.txt
Labels: approved, lgtm

#1873 Don't store machine payload in token secret for replace node pools
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
Labels: approved, lgtm

#1807 Changing entrypoint to exec form to allow for argument to be passed to the hypeshift executable
  Dockerfile
Labels: approved, ok-to-test, lgtm

#1837 AUTH-323: separate the cluster-distributed client-ca from the rootCA
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/config.go
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/common/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/egresscfg.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/kas/oauth.go
  control-plane-operator/controllers/hostedcontrolplane/kas_pki_setup.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/kcm.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/scheduler.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/params.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/config.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ca.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/pki/mcs.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/deployment.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/rbac.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/rbac/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/machineconfigserver_ignitionprovider.go
  vendor/k8s.io/apimachinery/pkg/api/validation/doc.go
  vendor/k8s.io/apimachinery/pkg/api/validation/generic.go
  vendor/k8s.io/apimachinery/pkg/api/validation/objectmeta.go
  vendor/k8s.io/apiserver/pkg/authentication/serviceaccount/util.go
  vendor/k8s.io/apiserver/pkg/authentication/user/doc.go
  vendor/k8s.io/apiserver/pkg/authentication/user/user.go
  vendor/modules.txt
Labels: approved, tide/merge-method-squash, lgtm

#1876 Update create nodepool command in getting-started.md
  docs/content/getting-started.md
Labels: approved, ok-to-test, lgtm

#1885 Add wait for infra guest cluster deletion e2e
  test/e2e/util/fixture.go
Labels: approved, lgtm

#1890 Remove invalid expectation about cli
  docs/content/how-to/aws/migrate-hosted-cluster.md
Labels: approved, lgtm

#1894 Add crashing pods exception for machine-approver
  test/e2e/util/util.go
Labels: approved, lgtm

#1889 Optionally use rhobs.monitoring group for monitoring resources
  api/scheme.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/hostedclusterconfigoperator/api/scheme.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/api/scheme.go
  support/rhobsmonitoring/scheme.go
Labels: approved, lgtm

#1887 Move all HC conditions into its own file
  api/v1alpha1/conditions.go
  api/v1alpha1/hosted_controlplane.go
  api/v1alpha1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/hcpstatus/hcpstatus.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#1875 HOSTEDCP-582: Add CEL immutability validations to nodepool.
  api/v1alpha1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm

#1895 Always set TokenSecretReasonKey/TokenSecretMessageKey
  ignition-server/controllers/tokensecret_controller.go
Labels: approved, lgtm

#1826 Retrieve CAPI/CAPA from release image
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  support/releaseinfo/registryclient/client.go
  support/util/imagemetadata.go
Labels: approved, lgtm

#1893 Use HPP with CSI Driver for kubevirt provider in CI
  hack/ci/hpp/00_hpp_mc.yaml
  hack/ci/hpp/10_hpp_cr.yaml
  hack/ci/hpp/10_hpp_pool_cr.yaml
  hack/ci/hpp/20_hpp_sc.yaml
  hack/ci/hpp/30_hpp_csi_sc.yaml
  hack/ci/hpp/30_hpp_pool_sc.yaml
  hack/ci/hpp/deploy_hpp.sh
  hack/ci/install-cnv.sh
Labels: approved, lgtm

#1888 Added new flag on E2E test to avoid send metrics from Local executions
  cmd/cluster/core/create.go
  test/e2e/e2e_test.go
  test/e2e/util/fixture.go
Labels: approved, lgtm

#1859 inplaceupgrade: delete idle MCD pods
  control-plane-operator/hostedclusterconfigoperator/controllers/inplaceupgrader/inplaceupgrader.go
Labels: approved, lgtm

#1860 inplaceupgrade: add capacity check and tests
  control-plane-operator/hostedclusterconfigoperator/controllers/inplaceupgrader/inplaceupgrader.go
  control-plane-operator/hostedclusterconfigoperator/controllers/inplaceupgrader/inplaceupgrader_test.go
Labels: approved, lgtm

#1896 Fix CA bundle in podmonitors/servicemonitors
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/kas/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcilePodMonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/routecm/servicemonitor.go
Labels: approved, lgtm

#1897 doc: OVN Pod restart needed after the HC migration
  docs/content/how-to/aws/migrate-hosted-cluster.md
Labels: approved, lgtm

#1898 Give some love to DNS docs and index
  docs/content/how-to/automated-machine-management/node-tuning.md
  docs/content/how-to/aws/external-dns.md
  docs/mkdocs.yml
Labels: approved, lgtm

#1883 AUTH-323: pki: remove root-ca from the aggregator CA bundle
  control-plane-operator/controllers/hostedcontrolplane/kas_pki_setup.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ca.go
Labels: approved, lgtm

#1899 Bubble up control plane endpoint from hcp into hc
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#1903 Use the root CA bundle in ServiceMonitors/PodMonitors
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/kas/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcilePodMonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/routecm/servicemonitor.go
Labels: approved, lgtm
