Repository openshift/hypershift, pull requests merged in 2023-09, with the labels that each got.

#2819 OCPBUGS-16221: Adds trust bundle to ignition-server when configured in HC
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2940 [OCPBUGS-17517] Add a default value (32Gi) for nodepool in `create nodepool kubevirt` command
  cmd/cluster/aws/destroy.go
  cmd/cluster/azure/destroy.go
  cmd/cluster/kubevirt/create.go
  cmd/cluster/none/destroy.go
  cmd/nodepool/kubevirt/create.go
  product-cli/cmd/cluster/aws/destroy.go
  product-cli/cmd/cluster/kubevirt/create.go
  product-cli/cmd/nodepool/kubevirt/create.go
Labels: approved, lgtm, area/cli

#2960 HOSTEDCP-979: Re-enable nodepool in-place upgrade tests
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#2922 HOSTEDCP-1156: Add defaulting webhook to installation and notes
  docs/content/getting-started.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#2956 OCPBUGS-18127: Trigger a rolling upgrade on NodePool .spec.platfrom changes
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  test/e2e/nodepool_rolling_upgrade_test.go
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/testing

#2969 OCPBUGS-18438: Properly format IPv6 address when proxying it through Konnectivity
  konnectivity-socks5-proxy/main.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#2972 fix(hcco): Add HCP label to HCCO by default
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
Labels: approved, lgtm, area/control-plane-operator

#2980 Disable nto inplace test for kubevirt
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/nodepool_test.go
  test/e2e/util/fixture.go
Labels: approved, lgtm, area/testing

#2919 Use the correct pull secret for HCP KubeVirt components
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
Labels: approved, lgtm, area/control-plane-operator

#2971 OCPBUGS-18336: make konnectivity routes roundrobin
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2977 OCPBUGS-18399: Preserve mirror order when serializing ICSP to env
  support/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2964 OCPBUGS-7840: Untangle kas port
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/haproxy.go
  support/util/networking.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#2965 ACM-6435: add pausedUntil create cluster option in CLI
  api/fixtures/example.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  product-cli/cmd/cluster/cluster.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli

#2975 OCPBUGS-18127: Ensure machineTemplate name length respects RFC1123 spec
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#2983 e2e: run Ensure functions after Main part of test
  test/e2e/util/hypershift_framework.go
Labels: approved, lgtm, area/testing

#2988 OCPBUGS-18127: Enable caching of Unstructured Objects in HO
  hypershift-operator/main.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#2973 HOSTEDCP-1133: Signal NodePool rolling upgrade because of platform changes
  api/v1beta1/nodepool_conditions.go
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  support/conditions/conditions.go
  test/e2e/nodepool_rolling_upgrade_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#2986 e2e: skip CNO pod restart check
  test/e2e/util/util.go
Labels: approved, lgtm, area/testing

#2947 HOSTEDCP-591: Amend OLM catalog IS according to OpenShiftImageRegistryOverrides
  api/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/olm/params.go
  docs/content/how-to/disconnected/automatically-initialize-registry-overrides.md
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation

#2985 OCPBUGS-18568: Use MCO and CCO image references when looking up mappings
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver_test.go
  konnectivity-socks5-proxy/main.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#2978 fix(olm): Use 4.13 catalog source images
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
Labels: approved, lgtm, area/control-plane-operator

#2992 Dump kubevirt external infra clusters
  cmd/cluster/core/dump.go
  kubevirtexternalinfra/externalinfra.go
Labels: approved, lgtm, area/cli

#2984 HOSTEDCP-1185: Add flag to create a single NAT gateway
  cmd/cluster/aws/create.go
  cmd/cluster/core/create.go
  cmd/infra/aws/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#2952 HOSTEDCP-1075: Document instructions for recovering etcd cluster from lost quorum
  docs/content/how-to/etcd-recovery.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#2927 bump HO supported version for 4.15
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt.go
  support/releaseinfo/fake/fake.go
  support/supportedversion/version.go
  support/supportedversion/version_test.go
Labels: approved, lgtm, area/hypershift-operator

#2987 e2e: fixed gomega created from parent test context
  test/e2e/autoscaling_test.go
  test/e2e/chaos_test.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/create_cluster_test.go
  test/e2e/nodepool_test.go
  test/e2e/olm_test.go
  test/e2e/util/hypershift_framework.go
Labels: approved, lgtm, area/testing

#2997 HYPBLD-99: enable CGO_ENABLED for building FIPS compliant images
  Makefile
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3003 OCPBUGS-18754: tuned DS should not use controlPlaneReleaseImage
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3004 OCPBUGS-18762: unset ControlPlaneReleaseImage on HCP when ControlPlaneRelease is unset on HC
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#2955 OCPBUGS-18122: Rename isUpgradeable to isUpgrading according to its return value
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#3007 OCPBUGS-18907: add KAS endpoints to Except in router egress rule
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  test/e2e/util/util.go
Labels: approved, tide/merge-method-squash, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/testing

#3009 OCPBUGS-17906: reconcile Authentication global config
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/authentication.go
  support/globalconfig/cloudcreds.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2948 [CNV-31919] Validate KubeVirt platform required versioning
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  kubevirtexternalinfra/externalinfra.go
  support/supportedversion/version.go
  test/e2e/nodepool_kv_cache_image_test.go
Labels: approved, lgtm, area/hypershift-operator, area/testing

#3012 OCPBUGS-19014: Apply private-router network policy only if running OCP 4.14
  hypershift-operator/controllers/hostedcluster/network_policies.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/hypershift-operator

#3000 Dump KubeVirt pod logs
  cmd/cluster/core/dump.go
Labels: approved, lgtm, area/cli

#3006 enable CGO_ENABLED for building FIPS compliant images
  Makefile
Labels: approved, lgtm, area/ci-tooling

#3020 Relax network policy e2e for private
  test/e2e/util/util.go
Labels: approved, lgtm, area/testing

#3011 OCPBUGS-19332: Use impersonated client for fetching the localhost-kubeconfig from ma…
  cmd/cluster/core/dump.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/cli

#3013 ACM-7278: Remove marking pull secret as required in hcp cli
  cmd/cluster/aws/create.go
  product-cli/cmd/cluster/aws/create.go
  product-cli/cmd/cluster/cluster.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#3021 OCPBUGS-19346: set default deploymentconfig params on AWS CCM
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/params.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3026 [release-4.14] CNV-31919: Validate KubeVirt platform required versioning
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  kubevirtexternalinfra/externalinfra.go
  support/supportedversion/version.go
  test/e2e/nodepool_kv_cache_image_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#3024 OCPBUGS-19381: Let NodePools skip min version when SkipReleaseImageValidation is in HC
  api/v1beta1/hostedcluster_types.go
  support/supportedversion/version.go
  support/supportedversion/version_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3031 KubeVirt: document VMs logs collection
  docs/content/how-to/kubevirt/troubleshooting-kubevirt-cluster.md
  docs/mkdocs.yml
Labels: approved, lgtm, area/documentation

#3036 OCPBUGS-17669: Remove cluster name validation from HCC
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3027 Use example versions for KubeVirt platform that are supported
  docs/content/how-to/kubevirt/create-kubevirt-cluster.md
  docs/content/how-to/kubevirt/ingress-and-dns.md
Labels: approved, lgtm, area/documentation

#3039 HOSTEDCP-1209: set ubi Containerfile labels
  Containerfile.operator
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#3025 OCPBUGS-13829: set accesstoken-inactivity-timeout flag to openshift-oauth-apiserver
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#3037 OCPBUGS-19674: Report correct port when API exposed via route
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2976 [kubevirt platform] Detect Suboptimal MTU and raise HostedCluster Condition accordingly
  api/v1beta1/hostedcluster_conditions.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/network/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/conditions/conditions.go
  test/e2e/util/util.go
Labels: approved, lgtm, area/control-plane-operator, area/hypershift-operator, area/documentation, area/testing

#3044 Update kubevirt csi driver deployment with proper timeouts
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/controller.yaml
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/daemonset.yaml
Labels: approved, lgtm, area/control-plane-operator

#3041 OCPBUGS-15215: OAuth template config in HostedCluter.configuration.ouath is not honored in HyperShift
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#2994 [release-4.12] MULTIARCH-3709: PowerVS - Add reuse resource flags to e2e test
  test/e2e/e2e_test.go
  test/e2e/util/fixture.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3038 HOSTEDCP-1212: Bump Golang to v1.20
  Dockerfile
  cmd/cluster/core/dump.go
  fast.Dockerfile
  go.mod
  hack/tools/go.mod
Labels: approved, lgtm, jira/valid-reference, area/cli, area/ci-tooling

#3049 [Kubevirt] Remove EgressFirewall Creation in HCP namespace
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/manifests/egressfirewall/manifests.go
Labels: approved, lgtm, area/hypershift-operator, area/cli, area/ci-tooling

#3055 KubeVirt platform troubleshooting documentation
  docs/content/how-to/kubevirt/troubleshooting-kubevirt-cluster.md
Labels: approved, lgtm, area/documentation

#3050 OCPBUGS-19784: Update capi agent version for CRD label
  cmd/install/assets/assets.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/cli, area/ci-tooling

#3063 Add private link perms to docs and clarify log message
  docs/content/how-to/aws/deploy-aws-private-clusters.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, area/hypershift-operator, area/documentation

#2950 OCPBUGS-11939, OCPBUGS-18128, OCPBUGS-18460 , OCPBUGS-18602, OCPBUGS-18879: Support Disconnected HCP
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/cpo.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/manifests.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/main.go
  ignition-server/controllers/local_ignitionprovider.go
  support/releaseinfo/fake/fake.go
  support/releaseinfo/registry_image_content_policies.go
  support/releaseinfo/releaseinfo.go
  support/util/deployment.go
  support/util/fakeimagemetadataprovider/fakeimagemetadataprovider.go
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator
