Repository openshift/hypershift, pull requests merged in 2023-05, with the labels that each got.

#2471 ACM-5116: Increase KubeVirt default Mem and Root Volume Sizes
  api/v1alpha1/nodepool_types.go
  api/v1beta1/nodepool_types.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/testing

#2496 OCPBUGS-12689: hosted clusters default KAS PDA config should be consistent with OCP
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#2490 [release-4.13] HOSTEDCP-917: Add publicAndPrivate <-> Private e2e test
  test/e2e/create_cluster_test.go
  test/e2e/util/node.go
  test/e2e/util/oauth.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#2491 [release-4.13] OCPBUGS-12844: Delete kubeadmin secret when an idp is defined
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  test/e2e/util/oauth.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2506 Add new --featuregate-manifest to /usr/bin/cluster-config-operator render
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
Labels: approved, lgtm, area/control-plane-operator

#2444 OCPBUGS-11719: Ensure ingress controllers are removed before load balancers
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2499 [release-4.13] HOSTEDCP-937: Add new metric to expose hypershift operator info
  cmd/install/assets/hypershift_operator.go
  hypershift-operator/metrics.go
  hypershift-operator/metrics_test.go
  test/e2e/util/fixture.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2487 ACM-5173 [backport 4.13] get pull secret instead of dockerconfigjson from mce credentials
  cmd/cluster/core/create.go
  cmd/util/secrets.go
Labels: approved, ok-to-test, lgtm, area/hypershift-operator

#2522 OCPBUGS-13112: Add timeout to KAS health check client
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2505 HOSTEDCP-788: Configurable SRE MetricsSet
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/main.go
  docs/content/how-to/metrics-sets.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/main.go
  support/metrics/sets.go
  support/metrics/sets_test.go
  support/metrics/testdata/sreconfig.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation

#2509 Add audit-log-maxbackup setting for openshift-api-server
  control-plane-operator/controllers/hostedcontrolplane/oapi/config.go
Labels: approved, lgtm, area/control-plane-operator

#2543 OCPBUGS-13309: set FeatureGate global config
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/featuregate.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2535 OCPBUGS-13021: Health check load balancers only on public clusters
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#2536 Validate HO private platform input
  hypershift-operator/main.go
Labels: approved, lgtm, area/hypershift-operator

#2544 Bug HOSTEDCP-788: [release-4.13] Configurable SRE MetricsSet
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/main.go
  docs/content/how-to/metrics-sets.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  hypershift-operator/main.go
  support/metrics/sets.go
  support/metrics/sets_test.go
  support/metrics/testdata/sreconfig.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2545 [release-4.12] Configurable SRE MetricsSet
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/main.go
  docs/content/how-to/metrics-sets.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  hypershift-operator/main.go
  support/metrics/sets.go
  support/metrics/sets_test.go
  support/metrics/testdata/sreconfig.yaml
Labels: approved, lgtm, area/control-plane-operator, area/hypershift-operator

#2513 OCPBUGS-13111: Fix errors from HCP controller removeServiceCAAnnotationAndSecret()
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#2527 HOSTEDCP-981: Minor updates to Getting Started & Contribute pages
  docs/content/contribute/index.md
  docs/content/getting-started.md
  docs/content/how-to/debug-nodes.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#2498 HOSTEDCP-918: Add validation for NodePool security Group condition when using default SG
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#2541 OCPBUGS-13021: Add internal/external elb tags to subnets
  cmd/infra/aws/ec2.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/cli

#2534 Lock down kubevirt csi storageclass mappings
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/controller.yaml
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
Labels: approved, lgtm, area/control-plane-operator

#2456 Removed unused KMS permissions for nodePool role
  api/v1beta1/hostedcluster_types.go
  cmd/infra/aws/iam.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, area/hypershift-operator, area/documentation, area/cli

#2550 OCPBUGS-11383: Sync proxy TrustedCA to guest cluster
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pki.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/certs/tls.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2560 Add a new e2e option for the ETCD storage class
  test/e2e/e2e_test.go
Labels: approved, lgtm, area/testing

#2470 ACM-4277: docs: Add L2Advertisement CR to the Handling Ingress section in the agent docs
  docs/content/how-to/agent/create-agent-cluster.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#2565 OCPBUGS-13034: Cluster-api SA can't create events
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#2568 remove unused OLM catalog rollout code
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/olm.go
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-rollout.role.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-rollout.rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
Labels: approved, lgtm, area/control-plane-operator

#2573 fix nil deref in DefaultWorkerSecurityGroupID check
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
Labels: approved, lgtm, area/control-plane-operator

#2571 HOSTEDCP-996: CLI: enable guest cluster dump for private clusters
  cmd/cluster/core/dump.go
  cmd/cluster/core/forwarder.go
  vendor/k8s.io/client-go/tools/portforward/doc.go
  vendor/k8s.io/client-go/tools/portforward/portforward.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/cli

#2547 contrib: ci: increase HC quota in clusters namespace
  contrib/ci/hypershift-ci-1.yaml
Labels: approved, lgtm, area/hypershift-operator

#1918 Cache KubeVirt Boot Image
  api/fixtures/example_kubevirt.go
  api/scheme.go
  api/v1alpha1/nodepool_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/nodepool_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/cluster/core/create.go
  cmd/cluster/core/dump.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/kubevirt/create.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/nodepool/kubevirt/imagecacher.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/main.go
  kubevirtexternalinfra/externalinfra.go
  support/api/scheme.go
  test/e2e/nodepool_kv_cache_image_test.go
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/nodepool_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, area/hypershift-operator, area/documentation, area/cli, area/testing

#2572 OCPBUGS-13547: Pass release image version to MCO bootstrap via --payload-version
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/machineconfigserver_ignitionprovider.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2481 HOSTEDCP-445: Included how to fix image-registry clusteroperator after a disaster recovery migration
  docs/content/how-to/aws/troubleshooting.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#2564 HOSTEDCP-830: Update auto scaler role to get and list agentmachinetemplates
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2482 HOSTEDCP-960: Add e2e to validate HC/NP conditions expected status
  hypershift-operator/metrics.go
  support/conditions/conditions.go
  support/util/expose.go
  support/util/visibility.go
  test/e2e/create_cluster_test.go
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/testing

#2500 control-plane-operator/controllers/hostedcontrolplane: Align reconcileCloudControllerManager error strings
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, area/control-plane-operator

#1594 ARMOCP-412: Add ARM nodepool to AWS x86 Hosted Cluster
  api/fixtures/example.go
  api/v1alpha1/nodepool_types.go
  api/v1beta1/nodepool_conditions.go
  api/v1beta1/nodepool_types.go
  cmd/cluster/aws/create.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/aws/create.go
  cmd/nodepool/core/create.go
  cmd/nodepool/create.go
  cmd/version/version.go
  docs/content/how-to/aws/create-aws-hosted-cluster-arm-workers.md
  docs/content/reference/api.md
  docs/mkdocs.yml
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  support/releaseinfo/fake/fake.go
  test/e2e/arm_nodepool_test.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/testing

#2558 HOSTEDCP-975: Add NodePool DeletionDuration and InitialRolloutDuration metrics
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  test/e2e/util/fixture.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#2521 remove flags set by CI env var
  cmd/install/install.go
Labels: approved, lgtm, area/cli

#2575 Updated secret permissions for openshift-route-controller-manager
  control-plane-operator/controllers/hostedcontrolplane/routecm/deployment.go
Labels: approved, lgtm, area/control-plane-operator

#2580 HOSTEDCP-975: Add cluster_name label to nodepools metrics
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  test/e2e/util/fixture.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#2585 OCPBUGS-13897: Use cluster-config-operator to render featuregate status on KAS bootstrap
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/featuregate.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2592 HOSTEDCP-975: Add new grafana panels for nodepools SLOs
  contrib/metrics/SLOs-grafana-dashboard.json
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2584 OCPBUGS-13168: Include default ingress CA in root CA bundle
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ingress.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ca.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/cmca/configmap_observer.go
  control-plane-operator/hostedclusterconfigoperator/controllers/cmca/setup.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2579 OCPBUGS-13639: Cherry pick aws endpoint sg
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  support/awsutil/sg.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2576 Use newly introduced KubeVirt Platform rhcos Image
  hypershift-operator/controllers/nodepool/kubevirt/imagecacher.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  support/releaseinfo/fixtures/4.10-installer-coreos-bootimages.yaml
  support/releaseinfo/releaseinfo.go
  support/releaseinfo/releaseinfo_test.go
  test/e2e/e2e_test.go
  test/e2e/nodepool_kv_cache_image_test.go
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/nodepool_upgrade_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, area/hypershift-operator, area/testing

#2598 HOSTEDCP-445: Add script to migrate hosted control plane
  contrib/migration/migrate-hcp.sh
  docs/content/how-to/aws/disaster-recovery.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#2557 [release-4.12] OCPBUGS-13626: Sync proxy TrustedCA to guest cluster
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pki.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/certs/tls.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2588 HOSTEDCP-947: Set ETCD Storage Size as immutable field and equalised the default size among both api versions
  api/v1alpha1/hostedcluster_types.go
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli

#2591 Remove Arm e2e test
  test/e2e/arm_nodepool_test.go
Labels: approved, lgtm, area/testing

#2589 Fix dump for Kubevirt
  api/scheme.go
  cmd/cluster/core/dump.go
  support/api/scheme.go
Labels: approved, lgtm, area/hypershift-operator, area/cli

#2605 cmd: infra: aws: retry on AuthorizeSecurityGroup failure
  cmd/infra/aws/ec2_sg.go
Labels: approved, lgtm, area/cli

#2593 OCPBUGS-13970: Reconcile oauthDeployment annotations even if kubeadmin secret is not found
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2601 [release-4.13] HOSTEDCP-975: Backport nodepools metrics
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/metrics.go
  test/e2e/util/fixture.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2616 OCPBUGS-14169: Remove external-dns --events flag
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/cli

#2618 OCPBU-609: agent infrastructure docs
  docs/content/reference/infrastructure/agent.md
  docs/content/reference/infrastructure/aws.md
  docs/content/reference/infrastructure/index.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation

#2611 [release-4.13] HOSTEDCP-1010: Set ETCD Storage Size as immutable field and equalised the default size among both api versions
  api/v1alpha1/hostedcluster_types.go
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2566 OCPBUGS-13113: Add ClusterUpgradeDuration metric
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics.go
  test/e2e/util/fixture.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/testing

#2596 HOSTEDCP-967: Disable v1alpha1 and conversion webhook by default
  cmd/install/install.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/cli

#2587 Add 'Creating Arm NodePools Through the API' Section
  docs/content/how-to/aws/create-aws-hosted-cluster-arm-workers.md
Labels: approved, lgtm, area/documentation

#2627 Revert "Merge pull request #2596 from muraee/disable-valpha1"
  cmd/install/install.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, area/cli
