Repository openshift/hypershift, pull requests merged in 2023-03, with the labels that each got.

#2239 Skip pod restart check for NTO
  test/e2e/util/util.go
Labels: approved, lgtm, do-not-merge/needs-area

#2238 Add configuration for automatic labeling and label commands
  .github/labels.yaml
  api/OWNERS
  availability-prober/OWNERS
  control-plane-operator/OWNERS
  dnsresolver/OWNERS
  hypershift-operator/OWNERS
  ignition-server/OWNERS
  konnectivity-socks5-proxy/OWNERS
  kubernetes-default-proxy/OWNERS
  token-minter/OWNERS
Labels: approved, lgtm

#2223 feat(HCCO): Block DNS operator delete until Cluster Version updated
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: approved, lgtm

#2225 fix(ho): No network validation for IBM Cloud
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#2214 kms addition for pod identity workflow
  control-plane-operator/controllers/hostedcontrolplane/kas/ibmcloud_kms.go
Labels: approved, lgtm

#2236 HOSTEDCP-904: Add release automation and docs
  Makefile
  docs/content/contribute/index.md
  docs/content/contribute/release-process.md
  docs/mkdocs.yml
  hack/tools/release/notes.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2248 add pull-secret to imagePullSecrets for NTO, CNO, and olm-collect-profiles
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/olm-collect-profiles.go
Labels: approved, lgtm, area/control-plane-operator

#2231 fix(cpo): Delete multus validatingwebhookconfiguration on CNO init
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Labels: approved, lgtm

#2243 OCPBUGS-8231: Fix cleanup of volumes on cluster deletion
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#2233 HOSTEDCP-638: Add latest ocp supported info to -v command for cli and operator
  hypershift-operator/main.go
  main.go
  pkg/version/version.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2166 Add e2e test for identity providers
  go.mod
  go.sum
  test/e2e/create_cluster_test.go
  test/e2e/util/oauth.go
  vendor/github.com/openshift/api/user/v1/doc.go
  vendor/github.com/openshift/api/user/v1/generated.pb.go
  vendor/github.com/openshift/api/user/v1/generated.proto
  vendor/github.com/openshift/api/user/v1/legacy.go
  vendor/github.com/openshift/api/user/v1/register.go
  vendor/github.com/openshift/api/user/v1/types.go
  vendor/github.com/openshift/api/user/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/user/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/client-go/LICENSE
  vendor/github.com/openshift/client-go/user/clientset/versioned/scheme/doc.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/scheme/register.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/doc.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/generated_expansion.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/group.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/identity.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/user.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/user_client.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/useridentitymapping.go
  vendor/modules.txt
Labels: approved, lgtm

#2254 Add a debug section to the Node Tuning docs
  docs/content/how-to/automated-machine-management/node-tuning.md
Labels: approved, lgtm, area/hypershift-operator

#2258 OCPBUGS-8421: fix API documentation for audit webhook field
  api/v1alpha1/hostedcluster_types.go
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Labels: bugzilla/valid-bug, approved, lgtm, jira/severity-low, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#2174 Validate etcd KMS config
  api/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/aws_kms.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/kas.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/awsutil/sts.go
  support/util/svcaccounts.go
Labels: approved, lgtm, area/control-plane-operator, area/hypershift-operator

#2119 Update HCP version in capi cluster ref
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, area/hypershift-operator

#2228 Refactor e2e nodepool tests
  test/e2e/nodepool_autorepair_test.go
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/nodepool_test.go
Labels: approved, lgtm, area/hypershift-operator

#2246 HOSTEDCP-809: Clone CA key/cert to TLS key/cert
  control-plane-operator/controllers/hostedcontrolplane/pki/ca.go
  support/certs/tls.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2217 Remove webhook validation
  Makefile
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  hypershift-operator/main.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/informertest/fake_cache.go
  vendor/sigs.k8s.io/controller-runtime/pkg/controller/controllertest/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/controller/controllertest/testing.go
  vendor/sigs.k8s.io/controller-runtime/pkg/controller/controllertest/unconventionallisttypecrd.go
  vendor/sigs.k8s.io/controller-runtime/pkg/controller/controllertest/util.go
Labels: approved, lgtm, area/hypershift-operator

#2206 OCPBUGS-8241: Add external DNS health condition / release-4.12
  api/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/util/expose.go
  support/util/util.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2172 Update PowerVS prereq doc with install and authorization details
  docs/content/how-to/powervs/prerequisites-and-env-guide.md
Labels: approved, lgtm

#2271 HOSTEDCP-919: Add AWS cloud controller manager
  api/v1beta1/hostedcluster_types.go
  cmd/infra/aws/iam.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/namespaces.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  test/e2e/nodepool_test.go
  test/e2e/nodepool_upgrade_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2272 HOSTEDCP-501: Added detailed documentation about Hypershift release process
  docs/content/contribute/release-process.md
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2279 OCPBUGS-8381: Use appropriate serving certificate for OAuth
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/pki/oauth.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/oauth/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2050 OCPBUGS-8040: Switch NTO metrics auth to certs generated by HCP controller
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/pki/nto.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2281 OCPBUGS-10227: Ensure identity provider health check condition is persisted and remove awsendpoint control plane finalizer if invalid aws creds
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2276 HOSTEDCP-445: Documented the possible issues found during a HostedCluster migration
  docs/content/how-to/aws/disaster-recovery.md
  docs/content/how-to/aws/troubleshooting.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2256 HOSTEDCP-688: E2E Test NodePool Upgrade
  test/e2e/nodepool_test.go
  test/e2e/nodepool_upgrade_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2280 HOSTEDCP-919: Clean up and API doc
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/manifests.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2265 HOSTEDCP-900: Modified AWSPrivateLinkController and AWSEndpointServiceController to respect PausedUntil spec field
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  hypershift-operator/controllers/platform/aws/controller.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2288 Force controleplane upgrade always
  test/e2e/control_plane_upgrade_test.go
Labels: approved, lgtm, area/hypershift-operator

#2092 Route to kubevirt VMs using infra id as service label selector
  api/v1alpha1/hostedcluster_types.go
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/ingress.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, area/control-plane-operator, area/hypershift-operator

#2268 OCPBUGS-8334: [release-4.12] Update the pull secret source for ignition payload
  control-plane-operator/controllers/hostedcontrolplane/mcs/reconcile.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  ignition-server/cmd/run_local_ignitionprovider.go
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/machineconfigserver_ignitionprovider.go
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
  support/util/util.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2232 HOSTEDCP-839: Audit log sidecars for openshift-apiserver and openshift-oauth-apiserver
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/auditcfg.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2298 OCPBUGS-10423: Add validation for taint.value in nodePool
  api/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#2301 OCPBUGS-8691: Add storage operators perms. to watch HostedControlPlane
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/assets/05_operator_role-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/assets/role.yaml
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#2278 HOSTEDCP-903: Propagate AWSEndpointService conditions
  api/v1beta1/endpointservice_types.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2286 HOSTEDCP-801: Expose external DNS for private cluster endpoints
  api/fixtures/example.go
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/infra.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/route.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/main.go
  hack/app-sre/saas_template.yaml
  support/util/route.go
  test/e2e/util/oauth.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2303 [release-4.13] Disable inplace upgrade e2e tests
  test/e2e/nodepool_test.go
  test/e2e/nodepool_upgrade_test.go
Labels: approved, lgtm, area/hypershift-operator

#2292 Create a second scheme that always registers `prometheusoperatorv1` GVKs
  api/scheme.go
  cmd/install/install.go
Labels: approved, lgtm, area/hypershift-operator

#2017 Add support for external infra clusters in KubeVirt platform
  api/fixtures/example.go
  api/fixtures/example_kubevirt.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/hostedcluster_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/kubeconfig/create.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hack/ci/install-cnv.sh
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt.go
  hypershift-operator/controllers/manifests/manifests.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  support/upsert/upsert.go
  support/util/deployment.go
  test/e2e/e2e_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, area/control-plane-operator, area/hypershift-operator

#2314 HOSTEDCP-801: [release-4.12] Expose external DNS for private cluster endpoints
  api/fixtures/example.go
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/infra.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/route.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/main.go
  go.mod
  go.sum
  hack/app-sre/saas_template.yaml
  support/util/route.go
  test/e2e/util/oauth.go
  vendor/github.com/openshift/api/user/v1/doc.go
  vendor/github.com/openshift/api/user/v1/generated.pb.go
  vendor/github.com/openshift/api/user/v1/generated.proto
  vendor/github.com/openshift/api/user/v1/legacy.go
  vendor/github.com/openshift/api/user/v1/register.go
  vendor/github.com/openshift/api/user/v1/types.go
  vendor/github.com/openshift/api/user/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/user/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/client-go/LICENSE
  vendor/github.com/openshift/client-go/user/clientset/versioned/scheme/doc.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/scheme/register.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/doc.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/generated_expansion.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/group.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/identity.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/user.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/user_client.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/useridentitymapping.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2313 HOSTEDCP-801: [release-4.13] Expose external DNS for private cluster endpoints
  api/fixtures/example.go
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/infra.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/route.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/main.go
  go.mod
  go.sum
  hack/app-sre/saas_template.yaml
  support/util/route.go
  test/e2e/util/oauth.go
  vendor/github.com/openshift/api/user/v1/doc.go
  vendor/github.com/openshift/api/user/v1/generated.pb.go
  vendor/github.com/openshift/api/user/v1/generated.proto
  vendor/github.com/openshift/api/user/v1/legacy.go
  vendor/github.com/openshift/api/user/v1/register.go
  vendor/github.com/openshift/api/user/v1/types.go
  vendor/github.com/openshift/api/user/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/user/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/client-go/LICENSE
  vendor/github.com/openshift/client-go/user/clientset/versioned/scheme/doc.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/scheme/register.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/doc.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/generated_expansion.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/group.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/identity.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/user.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/user_client.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/useridentitymapping.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2324 HOSTEDCP-934: Validate PublishingStrategyMapping
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2333 HOSTEDCP-938: Added PSA default profile to RunTimeDefault in operator deployment
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2088 MULTIARCH-3028: handle PowerVS instance which goes to failed state during infra create and destroy process.
  cmd/infra/powervs/create.go
  cmd/infra/powervs/destroy.go
  cmd/infra/powervs/validate.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2261 OCPBUGS-8073: Do not proxy when guest cluster resolution fails
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  konnectivity-socks5-proxy/main.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2328 OCPBUGS-10864: fix external APIServer address selection based on endpointAccess
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2334 support/supportedversion: Include the problematic version strings in error messages
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  support/supportedversion/version.go
Labels: approved, lgtm, area/hypershift-operator

#2343 HOSTEDCP-934: [release-4.13] Validate PublishingStrategyMapping
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2345 Revert "cpo: cno: follow image name change in release payload"
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Labels: approved, lgtm, area/control-plane-operator

#2319 OCPBUGS-10807: Pass runAsUser to CNO so it can run its managed services with proper security context
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#2327 SDA-8609: No more specifying the scrape interval at servicemonitors & podmonitors level
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/kas/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/servicemonitor.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/monitoring/servicemonitor.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2321 OCPBUGS-10823 ensure well known public domains do not get proxied on image imports
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
Labels: approved, lgtm, area/control-plane-operator

#2346 OCPBUGS-10227: Create new EC2 client for AWS identity provider health check
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2347 HOSTEDCP-944: Add more expectedHCConditionStates metrics
  hypershift-operator/metrics.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2348 HOSTEDCP-943: Add hypershift_hosted_cluster_transition_seconds histogram
  hypershift-operator/metrics.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2049 Slo alerts
  Makefile
  cmd/install/assets/assets.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/slos/hypershift.yaml
  cmd/install/install.go
  go.mod
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/clientset.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/doc.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/scheme/doc.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/scheme/register.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/doc.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/generated_expansion.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/route.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/route_client.go
  vendor/github.com/openshift/library-go/test/library/metrics/query.go
  vendor/modules.txt
Labels: approved, lgtm

#2338 ACM-4615 get pull secret instead of dockerconfigjson from mce credentials
  cmd/cluster/core/create.go
  cmd/util/secrets.go
Labels: approved, ok-to-test, lgtm, area/hypershift-operator

#2344 OCPBUGS-10227: Preserve false status of ValidAWSIdentityProvider condition
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#2335 HOSTEDCP-939: Setup shared OIDC provider for e2e clusters
  cmd/cluster/aws/create.go
  cmd/infra/aws/create_iam.go
  cmd/infra/aws/iam.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/oidc/oidc.go
  test/e2e/autoscaling_test.go
  test/e2e/chaos_test.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
  test/e2e/nodepool_test.go
  test/e2e/olm_test.go
  test/e2e/util/aws.go
  test/e2e/util/fixture.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2359 Fix nodepool upgrade e2e test
  test/e2e/nodepool_upgrade_test.go
  test/e2e/util/node.go
Labels: approved, lgtm, area/hypershift-operator

#2341 support/releaseinfo/pod_provider: Drop unused legacy PodProvider
  support/releaseinfo/pod_provider.go
Labels: approved, lgtm, area/hypershift-operator

#2354 HOSTEDCP-850: Fix nodepool autoscaler logic
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/inplace_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2358 HOSTEDCP-445: Fix the storage ClusterOperator during a DR migration
  docs/content/how-to/aws/troubleshooting.md
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2360 e2e: fix for non-AWS platform
  test/e2e/e2e_test.go
  test/e2e/util/fixture.go
Labels: approved, lgtm, area/hypershift-operator
