Repository openshift/hypershift, pull requests merged in 2023-04, with the labels that each got.

#2264 HOSTEDCP-807: Check KAS loadbalancer health
  api/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/util/util.go
  test/e2e/util/oauth.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2364 HOSTEDCP-939: [release-4.13] Setup shared OIDC provider for e2e clusters
  cmd/cluster/aws/create.go
  cmd/infra/aws/create_iam.go
  cmd/infra/aws/iam.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/oidc/oidc.go
  test/e2e/autoscaling_test.go
  test/e2e/chaos_test.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
  test/e2e/nodepool_test.go
  test/e2e/nodepool_upgrade_test.go
  test/e2e/olm_test.go
  test/e2e/util/aws.go
  test/e2e/util/fixture.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2365 HOSTEDCP-939: [release-4.12] Setup shared OIDC provider for e2e clusters
  cmd/cluster/aws/create.go
  cmd/infra/aws/create_iam.go
  cmd/infra/aws/iam.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/oidc/oidc.go
  test/e2e/autoscaling_test.go
  test/e2e/chaos_test.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/nodepool_test.go
  test/e2e/nodepool_upgrade_test.go
  test/e2e/olm_test.go
  test/e2e/util/aws.go
  test/e2e/util/fixture.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2374 Revert "Create a second scheme that always registers prometheusoperatorv1 GVKs"
  api/scheme.go
  cmd/install/install.go
Labels: approved, lgtm, area/hypershift-operator

#2372 HOSTEDCP-951: Let install apply to aggregate errors
  cmd/install/install.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2377 e2e: Fix oauth idp e2e test
  test/e2e/util/oauth.go
Labels: approved, lgtm, area/hypershift-operator

#2367 HOSTEDCP-802: add cli flag to enable upgrade type
  api/fixtures/example.go
  api/v1beta1/nodepool_types.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/nodepool/core/create.go
  cmd/nodepool/create.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2379 HOSTEDCP-954: Remove ec2:ReleaseAddress
  api/v1beta1/hostedcluster_types.go
  cmd/infra/aws/iam.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2381 OCPBUGS-11439: allow z-stream upgrade even if CVO Upgradeable is false
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#2318 Updated kubevirt docs
  docs/content/how-to/kubevirt/create-kubevirt-cluster.md
Labels: approved, lgtm, area/hypershift-operator

#2382 OCPBUGS-11442: properly reconcile with user specified changes for in proxy configuration
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/proxy.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2366 HOSTEDCP-568: Update Konnectiviy socks5 proxy for IBM exception
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  konnectivity-socks5-proxy/main.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2403 OCPBUGS-11654: [release-4.12] Create new EC2 client for AWS identity provider health check
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2389 e2e: Fixed idp test conflict error on HosterCluster update
  test/e2e/util/oauth.go
  test/e2e/util/util.go
Labels: approved, lgtm, area/hypershift-operator

#2400 OCPBUGS-11640: Update HostedCluster oauthCallbackURLTemplate
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2408 HOSTEDCP-807: Requeue HCP always
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2411 fix typo
  docs/content/how-to/automated-machine-management/scale-to-zero-dataplane.md
Labels: approved, ok-to-test, lgtm, area/documentation

#2414 add OWNERS for new area labels
  cmd/OWNERS
  docs/OWNERS
  test/OWNERS
Labels: approved, lgtm, area/hypershift-operator

#2393 Add monitoring label to HCP namespace
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, area/hypershift-operator

#2259 Fixes HCCO reconcile error for kubevirt csi driver
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/kubevirt.go
Labels: approved, lgtm, area/control-plane-operator

#2390 MULTIARCH-3449: set priority class for cloud controller manager pod for PowerVS
  control-plane-operator/controllers/hostedcontrolplane/cloud/powervs/powervs.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2419 Enable monitoring for hypershift namespace
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/metrics/labels.go
Labels: approved, lgtm, area/hypershift-operator

#2422 json export for a common grafana dashboard for SLOs
  contrib/metrics/SLOs-grafana-dashboard.json
Labels: approved, lgtm, area/hypershift-operator

#2425 docs: update OIDC s3 bucket creation procedure
  docs/content/getting-started.md
Labels: approved, lgtm, area/documentation

#2429 [release-4.13] Enable monitoring for hypershift & HCP namespace
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/metrics/labels.go
Labels: approved, lgtm, area/hypershift-operator

#2433 Relax MCO API strict decoding
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, area/hypershift-operator

#2434 Bring latest MCO API
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  thirdparty/machineconfigoperator/pkg/apis/machineconfiguration.openshift.io/v1/register.go
  thirdparty/machineconfigoperator/pkg/apis/machineconfiguration.openshift.io/v1/types.go
  thirdparty/machineconfigoperator/pkg/apis/machineconfiguration.openshift.io/v1/zz_generated_deepcopy.go
Labels: approved, lgtm, area/hypershift-operator

#2399 kubevirt: Block metadata server egress
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/manifests/egressfirewall/manifests.go
Labels: approved, lgtm, area/control-plane-operator, area/hypershift-operator, area/cli

#2368 HOSTEDCP-950: Validate release payload images
  api/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/powervs/powervs.go
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/params.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/params.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/controllers/hostedcontrolplane/dnsoperator/dnsoperator.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/params.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/imageprovider/imageprovider.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/params.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/params.go
  control-plane-operator/controllers/hostedcontrolplane/olm/params.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/params.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/params.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator_test.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/params.go
  control-plane-operator/controllers/hostedcontrolplane/storage/params.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  ignition-server/controllers/local_ignitionprovider.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation

#2415 OCPBUGS-11749: Add pod security labels to hcp namespace
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#2421 OCPBUGS-7091: Restart kube-scheduler when its configuration changes
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/deployment.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2441 HOSTEDCP-950: Fix haproxy image name in ignition server
  ignition-server/controllers/local_ignitionprovider.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2435 e2e: Cleanup shared OIDC provider on SIGTERM
  cmd/infra/aws/create_iam.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, area/cli, area/testing

#2436 Add IBMers as reviewers
  OWNERS
Labels: approved, lgtm, area/hypershift-operator

#2342 HOSTEDCP-918: Add validation for default Security Group conditions during NodePool upgrade test
  test/e2e/nodepool_upgrade_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#2448 [release-4.13] e2e: Cleanup shared OIDC provider on SIGTERM
  cmd/infra/aws/create_iam.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, area/cli, area/testing

#2449 [release-4.12] e2e: Cleanup shared OIDC provider on SIGTERM
  cmd/infra/aws/create_iam.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, area/cli, area/testing

#2438 OCPBUGS-11930: Clean up existing VPC endpoint connections
  hypershift-operator/controllers/platform/aws/controller.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/hypershift-operator

#2440 OCPBUGS-7841: Set metrics to 0 when needed to keep time series honest
  hypershift-operator/metrics.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#2423 OCPBUGS-11773: remove ACL for aws bucket
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  test/e2e/e2e_test.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#2439 [release-4.13] kubevirt: Block metadata server egress
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/manifests/egressfirewall/manifests.go
Labels: approved, lgtm, area/hypershift-operator

#2461 docs: update OIDC bucket create with bucket policy
  docs/content/getting-started.md
Labels: approved, lgtm, area/documentation

#2460 Fixes loop between HC controller and pod security label syncer
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, area/control-plane-operator, area/hypershift-operator

#2466 Fix kubevirt csi daemonset reconcile loop
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/daemonset.yaml
Labels: approved, lgtm, area/control-plane-operator

#2465 HOSTEDCP-972: Add pre-commit command to Make file
  Makefile
  docs/content/contribute/index.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#2463 HOSTEDCP-969: Move guest cluster resource deletion metric
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/metrics.go
  hypershift-operator/metrics.go
  test/e2e/util/fixture.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#2476 add hyperv1.SilenceClusterAlertsLabel to HostedCluster on deletion
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, area/hypershift-operator

#2383 HOSTEDCP-917: Add publicAndPrivate <-> Private e2e test
  test/e2e/create_cluster_test.go
  test/e2e/util/node.go
  test/e2e/util/oauth.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#2454 OCPBUGS-12153: fix(hcco): Get OLM CatalogSource images from defined map
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/olm/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#2483 Add PollImmediate for e2e metrics to avoid race with prom scrape interval
  test/e2e/util/fixture.go
Labels: approved, lgtm, area/testing

#2452 OCPBUGS-11738: Delete kubeadmin secret when an idp is defined
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  test/e2e/util/oauth.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/testing

#2479 HOSTEDCP-969: Only track available metric once
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#2489 HOSTEDCP-969: Move proxy, silence alerts and limited support metrics into HC controller
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/metrics.go
  hypershift-operator/metrics.go
  test/e2e/util/fixture.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#2495 HOSTEDCP-969: Move metrics
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics_test.go
  hypershift-operator/metrics.go
  test/e2e/util/fixture.go
  test/e2e/util/util.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/clientset.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/doc.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/scheme/doc.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/scheme/register.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/doc.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/generated_expansion.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/route.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/route_client.go
  vendor/github.com/openshift/library-go/test/library/metrics/query.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2494 HOSTEDCP-969: Consolidate labels for metrics
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2443 HOSTEDCP-937: New metric to expose Hypershift operator info
  cmd/install/assets/hypershift_operator.go
  hypershift-operator/metrics.go
  hypershift-operator/metrics_test.go
  test/e2e/util/fixture.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/testing
