Repository openshift/hypershift, pull requests merged in 2023-12, with the labels that each got.

#3244 HOSTEDCP-1318: pass internal-oauth-disable flag to openshift-apiserver when Auth type is OIDC
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3250 OCPBUGS-22459: Add prestop to konnectiviy server
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3189 CNV-29003: Re-enable NodePoolUpgradeTest for KubeVirt (Replace Only)
  test/e2e/nodepool_test.go
  test/e2e/nodepool_upgrade_test.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3224 OCPBUGS-23569: Added IPFamilyPolicy to services exposed at the HCP in DualStack mode
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/service.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/service.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/service.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/service.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3272 [release-4.14] OCPBUGS-24269: add CLI oauthclient
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/oauth.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/oauth/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3273 HOSTEDCP-1322: NodeUpgradeType defaulted by provider via CLI
  api/fixtures/example.go
  cmd/cluster/cluster.go
  product-cli/cmd/cluster/cluster.go
  product-cli/cmd/nodepool/create.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli

#3116 CNV-35774: Improve CRD defaulting for HostedCluster and NodePool
  api/fixtures/example.go
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#3234 OCPBUGS-23126: Fix a bug on deletion of a hostedcluster
  api/fixtures/example.go
  cmd/cluster/core/create.go
  cmd/cluster/core/destroy.go
  cmd/cluster/none/destroy.go
  cmd/util/client.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/cli

#3278 HOSTEDCP-1318: correct typo for OAS internal-oauth-disabled flag
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2807 OTA-855: Enable CVO to evaluate conditional updates on self-managed HyperShift deployed on OpenShift
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/cvo.go
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/manifests/networkpolicy/manifests.go
  hypershift-operator/main.go
  support/config/constants.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli, area/ci-tooling

#3190 OCPBUGS-20035: Add HostedCluster false conditions sumamry when cluste…
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/testing

#3276 HOSTEDCP-1272: Added CLI support to create DualStack clusters using default values
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  product-cli/cmd/cluster/cluster.go
  support/globalconfig/network.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#3283 HOSTEDCP-1273: Added support for OLM Disable default sources on HC creation
  api/fixtures/example.go
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1alpha1/clusterconfiguration.go
  client/applyconfiguration/hypershift/v1beta1/clusterconfiguration.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/deployments.go
  control-plane-operator/controllers/hostedcontrolplane/olm/services.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/olm.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  product-cli/cmd/cluster/cluster.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3287 HOSTEDCP-1343: docs(ibmcloud): Add HC/HCP yamls for IBM Cloud
  docs/content/reference/manifests/ibmcloud/4.10.md
  docs/content/reference/manifests/ibmcloud/4.11.md
  docs/content/reference/manifests/ibmcloud/4.12.md
  docs/content/reference/manifests/ibmcloud/4.13.md
  docs/content/reference/manifests/ibmcloud/4.9.md
  docs/content/reference/manifests/index.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation

#3302 NO-JIRA: Update Latest Supported Version to 4.16 After Branch-out
  cmd/cluster/cluster.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  support/config/ownerref_test.go
  support/releaseinfo/fake/fake.go
  support/supportedversion/version.go
  support/supportedversion/version_test.go
  support/util/imagemetadata_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli

#3215 OCPBUGS-23511: Remove IAM path when applying control-plane-operator ARN to VPC Endpoint Service allowed principals
  hypershift-operator/controllers/platform/aws/controller.go
  hypershift-operator/controllers/platform/aws/controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/hypershift-operator

#3284 ACM-8466: Add Kubernetes SCC V2 options to HO containers
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/cli, area/ci-tooling

#3280 CNV-36056:Expose NodeSelector for KubeVirt VMs in NodePool
  api/fixtures/example_kubevirt.go
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1alpha1/kubevirtnodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/kubevirtnodepoolplatform.go
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  product-cli/cmd/cluster/kubevirt/create.go
  test/e2e/nodepool_kv_nodeselector_test.go
  test/e2e/nodepool_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling

#3294 OCPBUGS-24261: Konnectivity agent update strategy
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3267 HOSTEDCP-1257: control-plane-pki-operator: add a CSR flow for break-glass creds
  Containerfile.operator
  Dockerfile
  Dockerfile.control-plane
  api/hypershift/v1beta1/certificatesigningrequestapproval_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1beta1/certificatesigningrequestapproval.go
  client/applyconfiguration/utils.go
  client/clientset/clientset/typed/hypershift/v1beta1/certificatesigningrequestapproval.go
  client/clientset/clientset/typed/hypershift/v1beta1/fake/fake_certificatesigningrequestapproval.go
  client/clientset/clientset/typed/hypershift/v1beta1/fake/fake_hypershift_client.go
  client/clientset/clientset/typed/hypershift/v1beta1/generated_expansion.go
  client/clientset/clientset/typed/hypershift/v1beta1/hypershift_client.go
  client/informers/externalversions/generic.go
  client/informers/externalversions/hypershift/v1beta1/certificatesigningrequestapproval.go
  client/informers/externalversions/hypershift/v1beta1/interface.go
  client/listers/hypershift/v1beta1/certificatesigningrequestapproval.go
  client/listers/hypershift/v1beta1/expansion_generated.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_certificatesigningrequestapprovals.yaml
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/pkioperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/pkioperator/testdata/zz_fixture_TestReconcileControlPlanePKIOperatorRole.yaml
  control-plane-pki-operator/OWNERS
  control-plane-pki-operator/certificates/authority/authority.go
  control-plane-pki-operator/certificates/authority/authority_test.go
  control-plane-pki-operator/certificates/authority/policies.go
  control-plane-pki-operator/certificates/authority/policies_test.go
  control-plane-pki-operator/certificates/conditions.go
  control-plane-pki-operator/certificates/helpers.go
  control-plane-pki-operator/certificates/validation.go
  control-plane-pki-operator/certificates/validation_test.go
  control-plane-pki-operator/certificatesigningcontroller/certificateloadingcontroller.go
  control-plane-pki-operator/certificatesigningcontroller/certificateloadingcontroller_test.go
  control-plane-pki-operator/certificatesigningcontroller/certificatesigningcontroller.go
  control-plane-pki-operator/certificatesigningcontroller/certificatesigningcontroller_test.go
  control-plane-pki-operator/certificatesigningcontroller/testdata/client.key
  control-plane-pki-operator/certificatesigningcontroller/testdata/tls.crt
  control-plane-pki-operator/certificatesigningcontroller/testdata/tls.key
  control-plane-pki-operator/certificatesigningrequestapprovalcontroller/certificatesigningrequestapprovalcontroller.go
  control-plane-pki-operator/certificatesigningrequestapprovalcontroller/certificatesigningrequestapprovalcontroller_test.go
  control-plane-pki-operator/operator.go
  docs/content/reference/api.md
  fast.Dockerfile
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/controlplanepkioperator/manifests.go
  hypershift-operator/controllers/manifests/controlplanepkioperator/reconcile.go
  hypershift-operator/controllers/manifests/controlplanepkioperator/reconcile_test.go
  hypershift-operator/controllers/manifests/controlplanepkioperator/testdata/zz_fixture_TestReconcileCSRApproverClusterRole.yaml
  hypershift-operator/controllers/manifests/controlplanepkioperator/testdata/zz_fixture_TestReconcileCSRApproverClusterRoleBinding.yaml
  hypershift-operator/controllers/manifests/controlplanepkioperator/testdata/zz_fixture_TestReconcileCSRSignerClusterRole.yaml
  hypershift-operator/controllers/manifests/controlplanepkioperator/testdata/zz_fixture_TestReconcileCSRSignerClusterRoleBinding.yaml
  test/e2e/create_cluster_test.go
  test/e2e/testdata/csr.pem
  test/e2e/testdata/tls.crt
  test/e2e/testdata/tls.key
  vendor/k8s.io/client-go/tools/watch/informerwatcher.go
  vendor/k8s.io/client-go/tools/watch/retrywatcher.go
  vendor/k8s.io/client-go/tools/watch/until.go
  vendor/k8s.io/client-go/util/certificate/csr/csr.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling

#3304 OCPBUGS-25103: Remove reference to v1alpha1 flowcontrol
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#3306 TRT-1406: Revert #3283 "HOSTEDCP-1273: Added support for OLM Disable default sources on HC creation"
  api/fixtures/example.go
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1alpha1/clusterconfiguration.go
  client/applyconfiguration/hypershift/v1beta1/clusterconfiguration.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/deployments.go
  control-plane-operator/controllers/hostedcontrolplane/olm/services.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/olm.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  product-cli/cmd/cluster/cluster.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3313 OCPBUGS-25306: Use k8s.io/kube-scheduler/config/v1
  control-plane-operator/controllers/hostedcontrolplane/scheduler/config.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/config_test.go
  vendor/k8s.io/kube-scheduler/config/v1/doc.go
  vendor/k8s.io/kube-scheduler/config/v1/register.go
  vendor/k8s.io/kube-scheduler/config/v1/types.go
  vendor/k8s.io/kube-scheduler/config/v1/types_pluginargs.go
  vendor/k8s.io/kube-scheduler/config/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#3320 HOSTEDCP-1273: Added support for OLM Disable default sources on HC creation
  api/fixtures/example.go
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1alpha1/clusterconfiguration.go
  client/applyconfiguration/hypershift/v1beta1/clusterconfiguration.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/deployments.go
  control-plane-operator/controllers/hostedcontrolplane/olm/services.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/olm.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  product-cli/cmd/cluster/cluster.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3318 OCPBUGS-25332: Force KMSv1 on
  go.mod
  go.sum
  vendor/github.com/openshift/api/Dockerfile.rhel8
  vendor/github.com/openshift/api/Makefile
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_infrastructure-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_infrastructure-Default.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_infrastructure-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/feature_gates.go
  vendor/github.com/openshift/api/config/v1/techpreview.infrastructure.testsuite.yaml
  vendor/github.com/openshift/api/config/v1/types_feature.go
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/config/v1alpha1/0000_10_config-operator_01_clusterimagepolicy-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1alpha1/0000_10_config-operator_01_clusterimagepolicy-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1alpha1/0000_10_config-operator_01_imagepolicy-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1alpha1/0000_10_config-operator_01_imagepolicy-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1alpha1/custom.clusterimagepolicy.testsuite.yaml
  vendor/github.com/openshift/api/config/v1alpha1/custom.imagepolicy.testsuite.yaml
  vendor/github.com/openshift/api/config/v1alpha1/techpreview.clusterimagepolicy.testsuite.yaml
  vendor/github.com/openshift/api/config/v1alpha1/techpreview.imagepolicy.testsuite.yaml
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_image_policy.go
  vendor/github.com/openshift/api/config/v1alpha1/types_image_policy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3326 HOSTEDCP-1344: use library-go crypto where we can
  Makefile
  control-plane-pki-operator/certificates/authority/authority.go
  control-plane-pki-operator/certificates/authority/authority_test.go
  control-plane-pki-operator/certificates/authority/policies.go
  control-plane-pki-operator/certificates/authority/policies_test.go
  control-plane-pki-operator/certificates/usages.go
  control-plane-pki-operator/certificates/usages_test.go
  control-plane-pki-operator/certificatesigningcontroller/certificateloadingcontroller.go
  control-plane-pki-operator/certificatesigningcontroller/certificateloadingcontroller_test.go
  control-plane-pki-operator/certificatesigningcontroller/certificatesigningcontroller.go
  control-plane-pki-operator/certificatesigningcontroller/certificatesigningcontroller_test.go
  control-plane-pki-operator/certificatesigningcontroller/testdata/tls.crt
  control-plane-pki-operator/certificatesigningcontroller/testdata/tls.key
  go.mod
  go.sum
  test/e2e/create_cluster_test.go
  test/e2e/pki_test.go
  test/e2e/testdata/csr.pem
  test/e2e/testdata/tls.crt
  test/e2e/testdata/tls.key
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/operator/v1helpers/helpers.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/testing, area/control-plane-pki-operator

#2794 CCO-388: control-plane-operator: reconcile the CCO
  availability-prober/availability_prober.go
  control-plane-operator/controllers/hostedcontrolplane/cco/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cco/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/cco/testdata/zz_fixture_TestReconcileDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/cco/testdata/zz_fixture_TestReconcilePodMonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/cco.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/cco/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/cco/reconcile_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/cco.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/cloudcreds.go
  support/metrics/sets.go
  test/e2e/util/util.go
  token-minter/tokenminter.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/testing

#3285 ACM-8917: Add agentLabelSelector to nodepool agent create to CLI
  api/fixtures/example.go
  api/fixtures/example_agent.go
  cmd/cluster/agent/create.go
  cmd/cluster/core/create.go
  cmd/nodepool/agent/create.go
  product-cli/cmd/cluster/agent/create.go
  product-cli/cmd/nodepool/agent/create.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli

#3314 HOSTEDCP-1353: Improve description for agent APIServerAddress CLI flag
  cmd/cluster/agent/create.go
  product-cli/cmd/cluster/agent/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#3279 HOSTEDCP-1329: Allow user to specify resource group for NodePool resources
  api/fixtures/example.go
  api/fixtures/example_azure.go
  cmd/cluster/azure/create.go
  cmd/cluster/azure/destroy.go
  cmd/cluster/core/create.go
  cmd/cluster/core/destroy.go
  cmd/infra/azure/create.go
  cmd/infra/azure/destroy.go
  cmd/util/azure.go
  cmd/util/azure_test.go
  docs/content/how-to/azure/create-azure-cluster.md
  test/setup/fake_credentials
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/testing

#3340 NO-JIRA: RHTAP Multi-Arch PipelineSpec
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#3325 HOSTEDCP-1355: Remove unused functions from repo
  cmd/util/secrets.go
  control-plane-operator/controllers/hostedcontrolplane/ignition/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/config.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ingress.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/oauth.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/openshift_oauth_apiserver.go
  control-plane-operator/controllers/hostedcontrolplane/pki/openshift.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/creds.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/monitoring.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/openshift_apiserver.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/openshift_controllermanager.go
  hypershift-operator/controllers/manifests/ignitionserver/manifests.go
  support/assets/readasset.go
  support/globalconfig/imagecontentsource.go
  support/rhobsmonitoring/scheme.go
  support/util/networking.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli

#3337 OCPBUGS-24308: Add PodDisruptionBudget for router deployment
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ingress.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#3270 HOSTEDCP-336: Move CAPI imports from /api package into support/api
  Makefile
  api/hypershift/v1beta1/capi_types.go
  api/scheme.go
  availability-prober/availability_prober.go
  cmd/cluster/core/dump.go
  cmd/install/install.go
  cmd/install/install_render.go
  cmd/util/client.go
  contrib/admission-tracer/main.go
  control-plane-operator/controllers/hostedcontrolplane/cco/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt_test.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/pkioperator/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/agent/agent_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/ibmcloud/ibmcloud_test.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics_test.go
  hypershift-operator/controllers/manifests/controlplanepkioperator/reconcile_test.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes_test.go
  hypershift-operator/init_test.go
  hypershift-operator/main.go
  hypershift-operator/metrics.go
  hypershift-operator/metrics_test.go
  ignition-server/cmd/run_local_ignitionprovider.go
  ignition-server/cmd/start.go
  support/api/capi_types.go
  support/api/scheme.go
  test/e2e/util/oauth.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli, area/testing, area/ci-tooling

#3332 OCPBUGS-22399: Disable UWM Telemetry remote writer when MGMT cluster is disconnected
  docs/content/how-to/disconnected/known-issues.md
  docs/content/how-to/metrics-sets.md
  hypershift-operator/main.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation

#3333 HOSTEDCP-1262: Add additional CEL to Arch in NodePoolSpec
  api/hypershift/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#3347 NO-JIRA: Approvers update
  OWNERS
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#3348 OCPBUGS-22399: Disable UWM Telemetry writer when telemeter-client cm not exists
  hypershift-operator/controllers/uwmtelemetry/uwm_telemetry.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3344 NO-JIRA: Add rbac permission for kubevirt capi
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#3307 OCPBUGS-23362: Set new condition on SG deletion.
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation

#3342 HOSTEDCP-336: Move fixtures out of API
  cmd/cluster/agent/create.go
  cmd/cluster/aws/create.go
  cmd/cluster/azure/create.go
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create.go
  cmd/cluster/kubevirt/create_test.go
  cmd/cluster/none/create.go
  cmd/cluster/powervs/create.go
  cmd/nodepool/kubevirt/create.go
  examples/fixtures/example.go
  examples/fixtures/example_agent.go
  examples/fixtures/example_aws.go
  examples/fixtures/example_azure.go
  examples/fixtures/example_ibmcloud_powervs.go
  examples/fixtures/example_kubevirt.go
  examples/fixtures/example_none.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli
