Repository openshift/hypershift, pull requests merged in 2023-06, with the labels that each got.

#2437 OCPBUGS-11939: Initialize RegistryOverrides w/ mgmt cluster ICSP
  api/scheme.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignition/params.go
  control-plane-operator/controllers/hostedcontrolplane/ignition/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ignition.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/main.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/main.go
  ignition-server/cmd/start.go
  support/capabilities/management_cluster_capabilities.go
  support/globalconfig/imagecontentsource.go
  support/releaseinfo/fake/fake.go
  support/releaseinfo/registry_image_content_policies.go
  support/releaseinfo/releaseinfo.go
  support/util/util.go
  support/util/util_test.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli

#2625 hypershift dump: use random local port for kas port-forwarding
  cmd/cluster/core/dump.go
Labels: approved, lgtm, area/cli

#2581 Ensure FeatureGate is copied from cluster to MCO render source
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  ignition-server/cmd/run_local_ignitionprovider.go
  ignition-server/cmd/start.go
  ignition-server/controllers/local_ignitionprovider.go
Labels: approved, lgtm, area/control-plane-operator, area/hypershift-operator

#2610 [release-4.13] OCPBUGS-13735: Cluster-api SA can't create events and fix permissions wrongly included
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#2623 HOSTEDCP-1009: Allow external-dns image to be set in install cli
  cmd/install/install.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/cli

#2632 OCPBUGS-14087: Enable HCCO to reconcile over the OperatorHub's disableAllDefaultSources object
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2620 KubeVirt: Handle deletion of the cache DV on an edge case
  api/v1alpha1/nodepool_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/nodepool_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  kubevirtexternalinfra/externalinfra.go
  test/e2e/nodepool_kv_cache_image_test.go
Labels: approved, lgtm, area/hypershift-operator, area/documentation, area/cli, area/testing

#2643 OCPBUGS-13547: Pass payload-version to MCS and MCC
  ignition-server/controllers/local_ignitionprovider.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2644 cli: Add release-stream flag
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/version/version.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, area/hypershift-operator, area/cli, area/testing

#2629 KubeVirt Openstack image annotation override
  api/fixtures/example.go
  api/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/nodepool/kubevirt/imagecacher.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, area/hypershift-operator

#2636 OCPBUGS-14428: remove OLM alerts from the HCCO
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/olm.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/olm/packageserver.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#2622 Network isolation of VirtualMachines for KubeVirt provider
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, area/hypershift-operator

#2650 OCPBUGS-14575: Check for IDMS only if mgmt cluster has req API
  hypershift-operator/main.go
  support/globalconfig/imagecontentsource.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#2648 Remove alsologtostderr flag form CAP*
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt.go
  hypershift-operator/controllers/hostedcluster/internal/platform/powervs/powervs.go
Labels: approved, lgtm, area/hypershift-operator

#2604 HOSTEDCP-1003: Set AWS conditions only for AWS platform
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  test/e2e/create_cluster_test.go
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#2655 Extend np test timeout for KubeVirt platform
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
Labels: approved, lgtm, area/testing

#2633 HOSTEDCP-1036: Create Makefile path to create productized CLI
  Makefile
  product-cli/cmd/cluster/cluster.go
  product-cli/cmd/create/create.go
  product-cli/main.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#2656 Minor fix in KAS LB HealthCheck
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, area/control-plane-operator

#2662 HOSTEDCP-992: refactor ignition-server reconcilation
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2659 OCPBUGS-14620: Set `DisableStrictZoneCheck = true` in the AWS Cloud Provider config
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/providerconfig.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#2669 OCPBUGS-14784: Honor global ingress configuration LoadBalancer type on AWS
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/ingress.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#2665 Disable nodepool replace upgrade test
  test/e2e/nodepool_test.go
Labels: approved, area/testing

#2647 OCPBUGS-11882: Annotate HCP pods with the safe-to-evict-local-volume CA annotation
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  support/config/deployment.go
  support/config/deployment_test.go
  support/config/types.go
  test/e2e/util/fixture.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli, area/testing

#2681 [release-4.13] HOSTEDCP-1048: Add impersonate feature to the CLI and document HC dump procedure
  cmd/cluster/core/dump.go
  cmd/util/client.go
  docs/content/how-to/troubleshooting.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/cli

#2660 OCPBUGS-14633: Check for OPENSHIFT_IMG_OVERRIDES before using
  control-plane-operator/main.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2512 [release 4.12] OCPBUGS-11555: OAuth OpenShift deployment requires ConfigMap mount
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#2664 Let payload provider render feature gate yaml
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  ignition-server/controllers/local_ignitionprovider.go
  test/e2e/nodepool_test.go
Labels: approved, lgtm, area/control-plane-operator, area/testing

#2563 CNV-24818: Add fsGroup support to kubevirt-csi-driver
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/kubevirt.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2654 Enforce Immutability of some KubeVirt Platform Values
  api/v1alpha1/hostedcluster_types.go
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, area/hypershift-operator, area/cli

#2663 Update autocaler RBAC to accomodate machinepools support added upstream
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, area/control-plane-operator, area/hypershift-operator

#2689 Make NodePool arch input immutable
  api/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, area/hypershift-operator, area/cli

#2631 HOSTEDCP-1008: Add NodePoolTransitionSeconds metric
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2687 Update NodePool docs to include data propagation
  docs/content/how-to/automated-machine-management/nodepool-lifecycle.md
  docs/mkdocs.yml
Labels: approved, lgtm, area/documentation

#2693 OCPBUGS-13829: cpo: oauth: honor AccessTokenInactivityTimeout
  control-plane-operator/controllers/hostedcontrolplane/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#2688 [KubeVirt] Whitelist access from virt-launchers to NodeIP if NodePort ServicePublishingStrategy is used
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, area/control-plane-operator, area/hypershift-operator

#2691 OCPBUGS-14859: Skip AWS resource deletion for 'Unknown' OIDC state
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2699 OCPBUGS-15168: fix(oauth): Do not proxy IBM Cloud IAM endpoints
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2703 properly handle user CA bundle not existing
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/reconcile.go
Labels: approved, lgtm, area/control-plane-operator

#2672 HOSTEDCP-1020: Add Create Cluster for KubeVirt for HCP CLI
  cmd/cluster/kubevirt/create.go
  product-cli/cmd/cluster/cluster.go
  product-cli/cmd/cluster/kubevirt/OWNERS
  product-cli/cmd/cluster/kubevirt/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#2706 OCPBUGS-14637: Check OwningIngressController also in Labels
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#2668 HOSTEDCP-1060: add ignition-server proxy
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ignitionserver.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/ignitionserver/manifests.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2595 Expose annotation to allow release image overrides
  api/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, area/hypershift-operator

#2714 HOSTEDCP-1032: e2e: ensure default PSA policy is not privileged
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#2718 HOSTEDCP-1024: Add Create NodePool for KubeVirt for HCP CLI
  product-cli/cmd/create/create.go
  product-cli/cmd/nodepool/create.go
  product-cli/cmd/nodepool/kubevirt/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#2721 Remove --service-publishing-strategy from production cli
  product-cli/cmd/cluster/kubevirt/create.go
Labels: approved, lgtm, area/cli

#2705 Revert "HOSTEDCP-967: [Re-revert] Disable v1alpha1 and conversion webhook by default"
  cmd/install/install.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/cli

#2726 HOSTEDCP-1073: enforce blocked rollout of HCP
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/util/deployment.go
  support/util/deployment_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2708 HOSTEDCP-1067: Add dependabot dependency management
  .github/dependabot.yml
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2690 Follow up to PR comments on #2642
  hypershift-operator/main.go
  support/capabilities/management_cluster_capabilities.go
  support/globalconfig/imagecontentsource.go
Labels: approved, lgtm, area/hypershift-operator

#2712 KubeVirt Platform documentation for Advanced Storage Configurations and External Infrastructure
  docs/content/how-to/kubevirt/configuring-storage.md
  docs/content/how-to/kubevirt/create-kubevirt-cluster.md
  docs/content/how-to/kubevirt/external-infrastructure.md
  docs/content/how-to/kubevirt/ingress-and-dns.md
Labels: approved, lgtm, area/documentation

#2651 HOSTEDCP-1016: Validate publishing strategies
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli

#2719 HOSTEDCP-1027: Add Create kubeconfig for HCP CLI
  cmd/kubeconfig/create.go
  product-cli/cmd/create/create.go
  product-cli/cmd/kubeconfig/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#2733 Revert "HOSTEDCP-1016: Validate publishing strategies"
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2670 [release-4.13] HOSTEDCP-1003: Set AWS conditions only for AWS platform
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2735 [release-4.13] HOSTEDCP-1073: enforce blocked rollout of HCP
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/util/deployment.go
  support/util/deployment_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2745 [release-4.12] HOSTEDCP-1073: enforce blocked rollout of HCP
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/util/deployment.go
  support/util/deployment_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2746 test/e2e: retry configmap create in etcd chaos tests
  test/e2e/chaos_test.go
Labels: approved, lgtm, area/testing

#2748 [release-4.13] HOSTEDCP-1060: refactor ignition-server reconcilation and add ignition-server proxy
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ignitionserver.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/ignitionserver/manifests.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2661 feat: Enable priority class override
  api/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/params.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/params.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/controllers/hostedcontrolplane/dnsoperator/dnsoperator.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/params.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/params.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/params.go
  control-plane-operator/controllers/hostedcontrolplane/olm/params.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/params.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/params.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, area/control-plane-operator, area/hypershift-operator

#2747 Add production cli (hcp) to dockerfile
  Dockerfile
Labels: approved, lgtm, area/ci-tooling

#2743 add OWNERS for new ci-tooling area label
  hack/OWNERS
Labels: approved, lgtm, area/ci-tooling

#2742 Remove hardcoded AWS CI References
  HACKING.md
  hack/ci-test-e2e.sh
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
  test/e2e/nodepool_kms_root_volume_test.go
  test/e2e/util/aws.go
Labels: approved, lgtm, area/testing
