Repository openshift/hypershift, pull requests merged in 2023-08, with the labels that each got.

#2764 MULTIARCH-3683: Add dev flags in destroy cluster powervs command
  cmd/cluster/core/destroy.go
  cmd/cluster/powervs/create.go
  cmd/cluster/powervs/destroy.go
  cmd/infra/powervs/create.go
  cmd/infra/powervs/destroy.go
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/cli

#2674 [WRKLDS-730] react to route-controller-manager refactoring
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/openshift_cm.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/config.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/testdata/zz_fixture_TestReconcileOpenShiftControllerManagerConfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/routecm/config.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/params.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/testdata/zz_fixture_TestReconcileOpenShiftRouteControllerManagerConfig.yaml
Labels: approved, tide/merge-method-squash, lgtm, area/control-plane-operator

#2868 HOSTEDCP-1046: Add ImageDigestMirrorSet to Config API comment
  api/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#2854 OCPBUGS-16770: add need-management-kas-access label to olm-collect-profiles pods
  control-plane-operator/controllers/hostedcontrolplane/olm/olm-collect-profiles.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2862 Add api and cli validation for kubevirt volume mode
  api/v1alpha1/nodepool_types.go
  api/v1beta1/nodepool_types.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/kubevirt/create.go
  hack/app-sre/saas_template.yaml
  product-cli/cmd/cluster/kubevirt/create.go
  product-cli/cmd/nodepool/kubevirt/create.go
Labels: approved, lgtm, area/hypershift-operator, area/cli, area/ci-tooling

#2873 WRKLDS-730: use default /healthz path for readiness probe in OCM and RCM
  control-plane-operator/controllers/hostedcontrolplane/ocm/params.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/params.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2840 [CNV-31227] Add workload management annotation to kubevirt-csi daemonset
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
Labels: approved, lgtm, area/control-plane-operator

#2853 HOSTEDCP-1029: Add HCP CLI Command to Destroy a Cluster on AWS
  cmd/cluster/aws/create.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/aws/destroy_test.go
  product-cli/cmd/cluster/aws/destroy.go
  product-cli/cmd/cluster/cluster.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#2877 OCPBUGS-17171: Update OLM catalog image tags
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#2880 Fix nodepool upgrade docs link
  docs/content/how-to/upgrades.md
Labels: approved, lgtm, area/documentation

#2875 Kubevirt how-to docs updates
  docs/content/how-to/kubevirt/configuring-storage.md
  docs/content/how-to/kubevirt/create-kubevirt-cluster.md
  docs/content/how-to/kubevirt/external-infrastructure.md
  docs/content/how-to/kubevirt/ingress-and-dns.md
  docs/mkdocs.yml
Labels: approved, lgtm, area/documentation

#2879 OCPBUGS-17374: Fast specific dockerignore
  .gitignore
  Makefile
  fast.Dockerfile
  hack/container-run.sh
  hack/utils.sh
Labels: approved, lgtm, jira/severity-low, jira/valid-bug, jira/valid-reference, area/ci-tooling

#2775 HOSTEDCP-1063: Disallow webhooks URLs targeting control plane services
  api/v1beta1/hostedcluster_types.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/testing

#2848 HOSTEDCP-1065: add ControlPlaneImage API for provider-side HCP updates
  api/v1alpha1/hosted_controlplane.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/hosted_controlplane.go
  api/v1beta1/hostedcluster_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/dnsoperator/dnsoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/storage/envreplace.go
  control-plane-operator/controllers/hostedcontrolplane/storage/envreplace_test.go
  control-plane-operator/controllers/hostedcontrolplane/storage/params.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/config/deployment.go
  support/util/imagemetadata.go
  support/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#2872 HOSTEDCP-1121: Ensure SG reconciliation for aws endpoint
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2851 HOSTEDCP-1022: Add HCP CLI Command to Create a Cluster on AWS
  cmd/cluster/aws/create.go
  cmd/cluster/aws/create_test.go
  product-cli/cmd/cluster/aws/create.go
  product-cli/cmd/cluster/cluster.go
Labels: approved, tide/merge-method-squash, lgtm, jira/valid-reference, area/cli

#2792 HOSTEDCP-1064: Add egress policy for private-router
  hypershift-operator/controllers/hostedcluster/network_policies.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#2874 skip olm-collect-profiles in EnsureComponentsHaveNeedManagementKASAccessLabel
  test/e2e/util/util.go
Labels: approved, ok-to-test, lgtm, area/control-plane-operator, area/testing

#2881 SDN-4042: Increase upgrade rollout timers
  test/e2e/util/util.go
Labels: approved, lgtm, ¯\_(ツ)_/¯, jira/valid-reference, area/testing

#2852 HOSTEDCP-1025: Add HCP CLI Command to Create a NodePool on AWS
  product-cli/cmd/nodepool/aws/create.go
  product-cli/cmd/nodepool/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#2882 STOR-1432: cso: add envvars for CSI driver controller images
  control-plane-operator/controllers/hostedcontrolplane/storage/assets/10_deployment-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/envreplace.go
  control-plane-operator/controllers/hostedcontrolplane/storage/envreplace_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2864 [HOSTEDCP-1041] Defaulting webhook for self managed HCP
  api/v1beta1/hostedcluster_types.go
  cmd/cluster/core/create.go
  cmd/cluster/core/create_test.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  support/supportedversion/version.go
Labels: approved, lgtm, area/hypershift-operator, area/cli

#2884 OCPBUGS-17446: Set advertise-address in HCP etcd to resolvable name
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/pki/etcd.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#2889 Revert "[HOSTEDCP-1041] Defaulting webhook for self managed HCP"
  api/v1beta1/hostedcluster_types.go
  cmd/cluster/core/create.go
  cmd/cluster/core/create_test.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  support/supportedversion/version.go
Labels: approved, lgtm, area/hypershift-operator, area/cli

#2847 HOSTEDCP-1046, HOSTEDCP-1102: Follow-on Items
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/how-to/disconnected/automatically-initialize-registry-overrides.md
  docs/content/how-to/disconnected/disconnected-workarounds.md
  docs/content/how-to/disconnected/image-content-sources.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/documentation

#2834 HOSTEDCP-1088: Hypershift e2e framework
  hack/ci-test-e2e.sh
  test/e2e/autoscaling_test.go
  test/e2e/chaos_test.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/create_cluster_test.go
  test/e2e/nodepool_test.go
  test/e2e/olm_test.go
  test/e2e/util/fixture.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: approved, tide/merge-method-squash, lgtm, jira/valid-reference, area/testing, area/ci-tooling

#2820 HOSTEDCP-1001: Image registryOverride included in the image metadata extraction flow
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  support/util/fakeimagemetadataprovider/fakeimagemetadataprovider.go
  support/util/imagemetadata.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2888 OCPBUGS-16298: Prevent the kube-apiserver from connecting to the managment kas
  hypershift-operator/controllers/hostedcluster/network_policies.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#2891 fix-CNV-30260: KubeVirt: fix failed conformance test
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/daemonset.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2892 [HOSTEDCP-1041] Re-introducing defaulting webhook for self managed HCP
  api/v1beta1/hostedcluster_types.go
  cmd/cluster/core/create.go
  cmd/cluster/core/create_test.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  support/supportedversion/version.go
Labels: approved, lgtm, area/hypershift-operator, area/cli

#2897 HOSTEDCP-1022: Set Arch to amd64
  product-cli/cmd/cluster/cluster.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#2899 HOSTEDCP-1146: cpo: use CPO spec container image if it is a sha256 reference
  control-plane-operator/main.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2886 Allow overriding pod security admission label
  api/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, area/hypershift-operator

#2901 test: e2e: remove SingleReplica etcd chaos test
  test/e2e/chaos_test.go
Labels: approved, lgtm, area/testing

#2896 SDN-4057: Pass ControlPlane image to OVN
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2900 HOSTEDCP-1081: Perform etcd recovery when etcd member data is lost
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2779 OCPBUGS-15331,OCPBUGS-16049: Enable AdvertiseAddress dual stack and IPv6 support and added the changes to be included in the certificates
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/pki/params.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/haproxy_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  support/config/constants.go
  support/util/networking.go
  support/util/networking_test.go
  support/util/util.go
  support/util/util_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#2906 OCPBUGS-16076: Validate HostedCluster name against RFC1123 in CLI
  cmd/cluster/core/create.go
Labels: approved, lgtm, jira/severity-low, jira/valid-bug, jira/valid-reference, area/cli

#2908 Revert "HOSTEDCP-1001: Image registryOverride included in the image metadata extraction flow"
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  support/util/fakeimagemetadataprovider/fakeimagemetadataprovider.go
  support/util/imagemetadata.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2910 OCPBUGS-17680: Remove immutable note from PullSecret
  api/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#2898 HOSTEDCP-1063: Account for guest webhook URLs without a port
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/control-plane-operator

#2907 HOSTEDCP-1085: Create a monitoring dashboard per HostedCluster
  cmd/install/assets/dashboard-template/monitoring-dashboard-template.json
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  docs/content/how-to/per-hostedcluster-dashboard.md
  docs/mkdocs.yml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/manifests.go
  hypershift-operator/main.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli

#2916 HOSTEDCP-1075: Document how to recover single etcd member
  docs/content/how-to/etcd-recovery.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation

#2914 OCPBUGS-17669: Validate HostedCluster name against RFC1123
  docs/content/getting-started.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/documentation

#2909 HOSTEDCP-1001: Image registryOverride included in the image metadata extraction flow
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  support/util/fakeimagemetadataprovider/fakeimagemetadataprovider.go
  support/util/imagemetadata.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2917 HOSTEDCP-1065: CNO deployed hosted-cluster-kubecfg-setup initContainers use CPR image
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2915 STOR-1443: Sync `05_operator_role-hypershift.yaml` manifest from cluster-csi-snapsht-controller-operator
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/assets/05_operator_role-hypershift.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2918 OCPBUGS-17812: Update Etcd health check to mirror standalone etcd
  control-plane-operator/controllers/hostedcontrolplane/etcd/params.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#2713 HOSTEDCP-1000: Add user CA(s) to ocm-trusted-ca-bundle ConfigMap
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/init.go
  hypershift-operator/init_test.go
  hypershift-operator/main.go
  support/capabilities/management_cluster_capabilities.go
Labels: approved, tide/merge-method-squash, ok-to-test, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#2929 TRT-1202: add annotation to skip release image validation
  api/v1alpha1/hostedcluster_types.go
  api/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  test/e2e/util/hypershift_framework.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#2931 Revert "HOSTEDCP-1110: [backport-4.13] Allow HCP Specification to Support ICSP & IDMS"
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignition/params.go
  control-plane-operator/controllers/hostedcontrolplane/ignition/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ignition.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/imagecontentsource.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2893 fix(ho): Restore match label selector behavior
  hypershift-operator/controllers/hostedcluster/ignitionserver/ignitionserver.go
Labels: approved, lgtm, area/hypershift-operator

#2933 OCPBUGS-16813: do not hardcode ignition-server-proxy replicas
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2928 OCPBUGS-17827: e2e: refactor checkPodsHaveLabel to be allowlist rather than exact match
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing

#2935 OCPBUGS-17985: Handle empty mirrorImage result for ignition disconnected registry
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#2934 OCPBUGS-17827: remove NeedManagementKASAccessLabel from router pods
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2930 Add e2e test for etcd member recovery
  test/e2e/chaos_test.go
Labels: approved, lgtm, area/testing

#2943 TRT-1202: set SkipReleaseImageValidation annotation properly on e2e clusters
  test/e2e/e2e_test.go
  test/e2e/util/hypershift_framework.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#2944 MGMT-15368: Document scaling down NodePools
  docs/content/getting-started.md
  docs/content/how-to/automated-machine-management/nodepool-lifecycle.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#2867 MULTIARCH-3708: PowerVS - Fix cluster deletion when existing resources passed
  cmd/infra/powervs/destroy.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/testing

#2451 MULTIARCH-3478: Minor bug fix on PowerVS infra
  cmd/infra/powervs/destroy.go
  cmd/infra/powervs/validate.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#2939 OCPBUGS-17827: e2e: remove private-router from NeedManagementKASAccessLabel allowlist
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing

#2946 Updating hostedcluster controller to stop using deprecated flags
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, area/hypershift-operator

#2942 OCPBUGS-16813: switch konnectivity-server to additional container in KAS pods
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/egresscfg.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/params.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/pki/konnectivity.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2941 OCPBUGS-18024: Set Arch to amd64 for HCP NodePool Create
  product-cli/cmd/nodepool/create.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/cli

#2895 OCPBUGS-18072: Set emptyDir storage for the image registry only on initial time for None and Kubevirt platform
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/registry/registry.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2949 fix(ignition): Add HCP label to ignition-server by default
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
Labels: approved, lgtm, area/control-plane-operator

#2951 fix(ho): Restore match label selector behavior
  hypershift-operator/controllers/hostedcluster/ignitionserver/ignitionserver.go
Labels: approved, lgtm, area/hypershift-operator

#2966 OCPBUGS-18308: Do not use mgmt cluster ICSP to mutate CCO image in KAS pod
  support/releaseinfo/registry_mirror_provider.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#2957 OCPBUGS-18065: enable aws-pod-identity-webhook on AWS
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#2958 HOSTEDCP-1178 fix limited support label key
  api/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, area/hypershift-operator

#2963 Avoid creating tar archive if --archive-dump=false
  cmd/cluster/core/dump.go
Labels: approved, lgtm, area/cli

#2894 OCPBUGS-14611: Ignored cloud dangling objects after timeout on HC teardown
  api/v1beta1/hostedcluster_conditions.go
  api/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, tide/merge-method-squash, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli
