Repository openshift/hypershift, pull requests merged in 2023-11, with the labels that each got.

#3132 CNV-34094: Add validating webhook
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  go.mod
  go.sum
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  hypershift-operator/main.go
  kubevirtexternalinfra/externalinfra.go
  vendor/golang.org/x/sync/LICENSE
  vendor/golang.org/x/sync/PATENTS
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/errgroup/go120.go
  vendor/golang.org/x/sync/errgroup/pre_go120.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#3157 OCPBUGS-22868: Fixed accessTokenInactivityTimeout validation
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#3067 OCPBUGS-16079: No error for overlapping service network and API IP
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/hypershift-operator

#3149 OCPBUGS-20161: Stop exposing kas on 6443 private route service load balancer
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3141 OCPBUGS-10423: Update regex validation for nodepool.spec.taints.value
  api/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#3161 HOSTEDCP-1278: Adjustment cluster-cidr,service-cidr to support dualstack
  api/fixtures/example.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  product-cli/cmd/cluster/cluster.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/testing

#3148 CNV-33847: KubeVirt: create the etcd encryption key secret, if missing
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3164 HOSTEDCP-1281: Fix a bug in the validating webhook
  api/fixtures/example.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3088 OCPBUGS-23015: Configure HSTS for kube-apiserver
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3150 HOSTEDCP-1206: Req serving isolation e2e enxebre
  hack/ci-test-e2e.sh
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
  test/e2e/util/requestserving.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing, area/ci-tooling

#3156 NO-JIRA: fix formatting for releaseImage log
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3172 OCPBUGS-23083: adding permission to CNO RBAC Calico path for network-node-identity deploy
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#3185 HOSTEDCP-1285: Consume kas Pod port by name
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/kas/servicemonitor.go
  support/util/networking.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2671 OCPBUGS-20179: Stop defining time series for hosted clusters or node pools which do not exist anymore.
  api/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics_test.go
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/main.go
  hypershift-operator/metrics.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/testing

#3188 NO-JIRA: *: Fix "succesfully" -> "successfully" typos
  docs/content/how-to/automated-machine-management/node-tuning.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation

#3196 HOSTEDCP-1306: Bump Golang builder to 1.20 for RHTAP dockerfile
  Containerfile.operator
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#3129 CNV-30444: Document recommended MTU settings for KubeVirt HCP
  docs/content/how-to/kubevirt/create-kubevirt-cluster.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#3198 OCPBUGS-22912: Set value of elb tag to 1 instead of true
  cmd/infra/aws/ec2.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/cli

#2619 HOSTEDCP-1305: Simplify HostedControlPlaneNamespace().Name
  cmd/cluster/core/dump.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/internal/platform/agent/agent_test.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/manifests/manifests.go
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  test/e2e/chaos_test.go
  test/e2e/nodepool_kv_cache_image_test.go
  test/e2e/nodepool_kv_jsonpatch_test.go
  test/e2e/nodepool_kv_qos_guaranteed_test.go
  test/e2e/nodepool_rolling_upgrade_test.go
  test/e2e/olm_test.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/oauth.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/testing

#3201 CNV-23418: fix the jsonpath annotation implemetation
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  test/e2e/nodepool_kv_jsonpatch_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#3151 HOSTEDCP-1254: disable deployment of integrated oauth when authentication type is OIDC and set KAS flags
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/controlplaneoperator/manifests.go
  support/util/oauth.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3202 "[release-4.14] CNV-35326: unsupported escape hatch mechanism custom HS/KV vms"
  api/v1beta1/hostedcluster_types.go
  go.mod
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  test/e2e/nodepool_kv_cache_image_test.go
  test/e2e/nodepool_kv_jsonpatch_test.go
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#3186 HOSTEDCP-1285: Kas port svc cleanup
  cmd/cluster/core/dump.go
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator_test.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/dnsoperator/dnsoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router_config.template
  control-plane-operator/controllers/hostedcontrolplane/ingress/router_test.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/infra.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/packageserver.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/params.go
  control-plane-operator/controllers/hostedcontrolplane/storage/operator.go
  control-plane-operator/controllers/hostedcontrolplane/storage/params.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/nodepool/haproxy.go
  support/config/constants.go
  support/util/networking.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli

#3197 CNV-23418: Validate jsonpatch annotation + add condition on wrong patch
  api/hypershift/v1beta1/nodepool_conditions.go
  cmd/install/assets/hypershift_operator.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli

#3181 HOSTEDCP-1284: Bumps k8s.io/pod-security-admission to v0.28.3
  go.mod
  go.sum
  vendor/k8s.io/pod-security-admission/api/helpers.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#3177 HOSTEDCP-1237: Retrieve RHCOS VHD image from release image
  cmd/cluster/azure/create.go
  cmd/infra/azure/create.go
  support/releaseinfo/deserialize_test.go
  support/releaseinfo/releaseinfo.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#3199 OCPBUGS-23314: SetLogger for CLI
  main.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/cli, area/testing

#3208 HOSTEDCP-1256: expose cert rotation scale parameter
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/cli, area/ci-tooling

#3066 HOSTEDCP-1311: kubevirt, Add support for secondary networks
  api/fixtures/example_kubevirt.go
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1alpha1/kubevirtnetwork.go
  client/applyconfiguration/hypershift/v1alpha1/kubevirtnodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/kubevirtnetwork.go
  client/applyconfiguration/hypershift/v1beta1/kubevirtnodepoolplatform.go
  client/applyconfiguration/utils.go
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create.go
  cmd/cluster/kubevirt/create_test.go
  cmd/cluster/kubevirt/params/params.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3216 OCPBUGS-23398: Fixed AWS KMS Backup container args
  control-plane-operator/controllers/hostedcontrolplane/kas/aws_kms.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3211 HOSTEDCP-1256: api/v1beta1: annotate hostedcontrolplane conditions
  api/hypershift/v1beta1/hosted_controlplane.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#3219 OCPBUGS-23528: Fix error when removing finalizer on cluster destroy
  cmd/cluster/core/destroy.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/cli

#3209 OCPBUGS-23472: unset ServiceAccount on ignition-server-proxy
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3212 HOSTEDCP-1256: api/hypershift: mark more conditions with list key types
  api/hypershift/v1alpha1/endpointservice_types.go
  api/hypershift/v1alpha1/hosted_controlplane.go
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1beta1/endpointservice_types.go
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_awsendpointservices.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#3218 OCPBUGS-23466: Let router use svc ips
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router_config.template
  control-plane-operator/controllers/hostedcontrolplane/ingress/router_test.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/testdata/zz_fixture_TestGenerateRouterConfig.yaml
  control-plane-operator/main.go
  support/util/resolver.go
  support/util/resolver_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3227 OCPBUGS-23737: remove machine-approver probes
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3207 OCPBUGS-20246: Added brackets to IPv6 KAS address on kubeconfig
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#3089 OSD-19085: New hypershift_cluster_cores metric giving the total number of worker cores
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
  hypershift-operator/main.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#3223 HOSTEDCP-1301: hotfix rehearsal
  cmd/nodepool/create.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/cli, area/ci-tooling

#3221 [release-4.14] OCPBUGS-23558: Let router use svc ips 4.14
  cmd/cluster/core/dump.go
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator_test.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/dnsoperator/dnsoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router_config.template
  control-plane-operator/controllers/hostedcontrolplane/ingress/router_test.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/testdata/zz_fixture_TestGenerateRouterConfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/kas/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/infra.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/packageserver.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/params.go
  control-plane-operator/controllers/hostedcontrolplane/storage/operator.go
  control-plane-operator/controllers/hostedcontrolplane/storage/params.go
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/nodepool/haproxy.go
  support/config/constants.go
  support/util/networking.go
  support/util/resolver.go
  support/util/resolver_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli

#3206 OCPBUGS-22473: Added OLMCatalogPlacement option to the CLI
  api/fixtures/example.go
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  docs/content/how-to/disconnected/known-issues.md
  docs/mkdocs.yml
  product-cli/cmd/cluster/cluster.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli

#3222 OCPBUGS-23921: Use correct kubeconfig in CCM and remove CCMs access t…
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/reconcile.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3233 HOSTEDCP-1236: Enable public router+external DNS for azure
  api/fixtures/example.go
  cmd/cluster/azure/create.go
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  docs/content/how-to/azure/create-azure-cluster.md
  hypershift-operator/controllers/hostedcluster/network_policies.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli

#3237 OCPBUGS-19834: add watch for HCP pullsecret to HCCO
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3238 OCPBUGS-23555: add CLI oauthclient
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/oauth.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/oauth/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3214 HOSTEDCP-1312: Fixed update-codegen.sh to work locally
  hack/update-codegen.sh
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#3235 kubevirt, hcp, HOSTEDCP-1311: Add multinet knobs
  cmd/cluster/kubevirt/create.go
  product-cli/cmd/cluster/kubevirt/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#3245 OCPBUGS-24062: fix(cpo): Set restart annotation on network-node-identity
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/cno.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3176 OCPBUGS-20157: add e2e to ensure pods dont land in default pool
  test/e2e/create_cluster_test.go
  test/e2e/nodepool_test.go
  test/e2e/util/requestserving.go
  test/e2e/util/util.go
Labels: approved, tide/merge-method-squash, lgtm, jira/valid-bug, jira/valid-reference, area/testing
