Repository openshift/hypershift, pull requests merged in 2023-01, with the labels that each got.

#1993 test: disable OLM test until catalog pods are fixed
  test/e2e/olm_test.go
Labels: approved, lgtm

#1992 test: add OLM test timeout
  test/e2e/olm_test.go
Labels: approved, lgtm

#1963 MachineConfig E2E test refactored
  test/e2e/nodepool_autorepair_test.go
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_test.go
Labels: approved, tide/merge-method-squash, lgtm

#1994 Set missing internal route label for ovnkube-sbdb and add e2e smoke test for private clusters
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: approved, lgtm

#1985 Add init container to etcd pods to test DNS
  control-plane-operator/controllers/hostedcontrolplane/etcd/params.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/main.go
  dnsresolver/cmd.go
Labels: approved, lgtm

#1959 fix(ho): Use v1alpha1 ownerRef for future CPO managed components
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/config/ownerref.go
  support/config/ownerref_test.go
Labels: approved, lgtm

#1997 test: e2e: remove node checks during NodePool upgrade test
  test/e2e/nodepool_upgrade_test.go
  test/e2e/util/util.go
Labels: approved, lgtm

#1905 add KAS egress network policy
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#2001 Revert "add KAS egress network policy"
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#2003 Fast foward release-4.12 to main
  api/v1beta1/hosted_controlplane.go
  api/v1beta1/hostedcluster_conditions.go
  api/v1beta1/nodepool_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/params.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas_pki_setup.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ca.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator.go
  control-plane-operator/controllers/hostedcontrolplane/storage/operator.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/install.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/main.go
  dnsresolver/cmd.go
  docs/content/how-to/agent/create-agent-cluster.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/metrics.go
  ignition-server/cmd/start.go
  support/certs/tls.go
  support/certs/tls_test.go
  support/util/containers.go
  support/util/imagemetadata.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/create_cluster_test.go
  test/e2e/nodepool_autorepair_test.go
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_test.go
  test/e2e/olm_test.go
  test/e2e/util/util.go
Labels: approved, lgtm

#2002 cmd: dump: include networkpolicies
  cmd/cluster/core/dump.go
Labels: approved, lgtm

#2004 Add annotation for cross zone lb
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
Labels: approved, lgtm

#1947 Prevent cluster deletion hangs by using heartbeat condition
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: approved, lgtm

#2008 Add clarifying comment
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
Labels: approved, lgtm

#2010 external-dns: set AWS batch internal to 10s
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm

#2013 add missing app label to HCP components
  control-plane-operator/controllers/hostedcontrolplane/dnsoperator/dnsoperator.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
Labels: approved, lgtm

#1986 fix(ho): Set restart date annotation back
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#2014 Add default kubevirt guest cluster storageclass
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/kubevirt.go
Labels: approved, lgtm

#2006 Fix parameters used to reconcile the ignition server
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, tide/merge-method-squash, lgtm

#2018 avoid using route53 api for OIDC health check
  api/v1beta1/hostedcluster_types.go
  cmd/infra/aws/iam.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm

#2005 add KAS egress network policy
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/capabilities/management_cluster_capabilities.go
Labels: approved, lgtm

#2022 workaround OpenShiftSDN network policy egress bug
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  support/capabilities/management_cluster_capabilities.go
Labels: approved, lgtm

#1951 test: dynamically assign single AWS zone to SingleReplica guest clusters
  hack/ci-test-e2e.sh
  test/e2e/autoscaling_test.go
  test/e2e/chaos_test.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/nodepool_upgrade_test.go
  test/e2e/olm_test.go
  test/e2e/util/util.go
Labels: approved, lgtm

#2019 fix panic in logger expected key-values
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm

#2023 add node-drain-timeout flag to create cluster cmd
  api/fixtures/example.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
Labels: approved, lgtm

#1991 Change aws kms input to require an arn string
  api/fixtures/example.go
  api/fixtures/example_aws.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_conversion.go
  api/v1alpha1/zz_conversion_test.go
  api/v1beta1/hostedcluster_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/kas/aws_kms.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
Labels: approved, lgtm

#2012 remove control-plane-component label from kube-apiserver-proxy and konnectivity-agent pods
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig.yaml
Labels: approved, lgtm

#2025 Add CSR signer to Kubelet client CA
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas_pki_setup.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/params.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ca.go
Labels: approved, lgtm

#2024 Makefile: Include full 'git diff' output
  Makefile
Labels: approved, lgtm

#2027 Fix OpenID OAuth config parsing
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
Labels: approved, ok-to-test, lgtm

#2021 Add support for additional allowed principals for AWS hosted cluster VPC Endpoint Services
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/hostedcluster_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/cluster/core/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/dnsoperator/dnsoperator.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/platform/aws/controller.go
  hypershift-operator/controllers/platform/aws/controller_test.go
  ignition-server/controllers/tokensecret_controller.go
  support/thirdparty/kubernetes/pkg/credentialprovider/config.go
  support/thirdparty/kubernetes/pkg/credentialprovider/keyring.go
  support/thirdparty/library-go/pkg/image/internal/digest/digest.go
  support/thirdparty/library-go/pkg/image/internal/reference/reference.go
Labels: approved, lgtm

#2007 fix(cpo): Remove storage from mgmt cluster for IBM Cloud
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm

#2035 adjust rate interval on hypershift:controlplane:component_cpu_usage_s…
  cmd/install/assets/recordingrules/hypershift.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm

#2028 cherry-pick #2006
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm

#2015 Expose proxy, identityProviders and limited support metrics
  api/v1beta1/hostedcluster_types.go
  hypershift-operator/metrics.go
Labels: approved, lgtm

#2036 Add value to hosted control plane namespace label
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#2026 Add support to propagate labels from NodePools to Nodes
  api/v1alpha1/nodepool_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/nodepool_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/node/node.go
  control-plane-operator/hostedclusterconfigoperator/controllers/node/node_test.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  test/e2e/nodepool_upgrade_test.go
Labels: approved, lgtm

#2040 Add ref for SLOs
  docs/content/reference/SLOs.md
  docs/mkdocs.yml
Labels: approved, lgtm

#2043 fix cluster csi driver reconcile
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm

#2032 switch OLM catalogs to imagestream
  cmd/cluster/core/dump.go
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/olm.go
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-certified-rollout.cronjob.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-certified.deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-community-rollout.cronjob.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-community.deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-operator-deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-redhat-marketplace-rollout.cronjob.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-redhat-marketplace.deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-redhat-operators-rollout.cronjob.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-redhat-operators.deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/api/scheme.go
  support/assets/readasset.go
Labels: approved, lgtm

#1787 Default Ingress Passthrough for KubeVirt provider
  api/fixtures/example.go
  api/fixtures/example_kubevirt.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/hostedcluster_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/ingress.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/manifests/manifests.go
  test/e2e/autoscaling_test.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
  test/e2e/nodepool_autorepair_test.go
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/nodepool_upgrade_test.go
  test/e2e/util/fixture.go
  test/e2e/util/kubevirt.go
  test/e2e/util/util.go
Labels: approved, lgtm

#2057 Kube API server panic: Fix podsecurity annotations on kube-system
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/namespaces.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: approved, lgtm

#1921 policy-controller: add missing rbac
  control-plane-operator/hostedclusterconfigoperator/controllers/inplaceupgrader/inplaceupgrader.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/rbac.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/rbac/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm

#2055 adjust memory requests for HCP components
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
Labels: approved, lgtm

#2048 api/v1beta1/hosted_controlplane: Godocs for ReleaseImage and IssuerURL
  api/v1beta1/hosted_controlplane.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm

#2054 Add imagev1 to scheme used by dump command
  api/scheme.go
Labels: approved, lgtm

#2041 Add autoscaler balancing ignore labels args
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
Labels: approved, lgtm

#2031 fix(hcco): Clean up resources intended to be removed by CVO
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm

#2058 Requeue hostedcontrolplane when waiting for deletion
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm

#2053 Merge main into release-4.12 branch
  api/fixtures/example.go
  api/fixtures/example_kubevirt.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/hostedcluster_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/ingress.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/manifests/manifests.go
  test/e2e/autoscaling_test.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
  test/e2e/nodepool_autorepair_test.go
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/nodepool_upgrade_test.go
  test/e2e/util/fixture.go
  test/e2e/util/kubevirt.go
  test/e2e/util/util.go
Labels: approved, lgtm

#2044 Updatd development contribution docs
  docs/content/contribute/custom-images.md
  docs/content/contribute/develop-in-cluster.md
  docs/mkdocs.yml
Labels: approved, lgtm

#2046 Use asExpected reason for ReconciliationActive=true
  api/v1beta1/hostedcluster_conditions.go
  support/util/pausereconcile.go
  support/util/pausereconcile_test.go
Labels: approved, lgtm

#2060 Use context func for PowerVS SDKs
  cmd/infra/powervs/create.go
  cmd/infra/powervs/destroy.go
  cmd/infra/powervs/validate.go
Labels: approved, lgtm

#2062 test/e2e/util: Explain incomplete reasons in WaitForImageRollout*
  test/e2e/util/util.go
Labels: approved, lgtm

#2063 Additional memory request adjustments
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm

#1872 kubevirt: Install virt-launcher networkpolicy
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/networkpolicy/manifests.go
Labels: approved, lgtm

#1945 Add missing image trigger controller RBAC
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/rbac.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/rbac/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, qe-approved

#2064 add system:deployer ClusterRole to HCCO
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/rbac.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/rbac/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm

#2075 hcco: fix deployer role to include patch for replicationcontrollers
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/rbac/reconcile.go
Labels: approved, lgtm

#2076 Update internal capk image to match current devel branch
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt.go
Labels: approved, lgtm

#2073 HOSTEDCP-603: move CI manifests to core repo
  contrib/ci/README.md
  contrib/ci/hypershift-ci-1.yaml
Labels: approved, lgtm, jira/valid-reference

#2080 workaround bad SAR check in deploymentconfigs conformance test
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/rbac/reconcile.go
Labels: approved, lgtm

#1943 Fix typo in cli create command usage
  cmd/cluster/aws/create.go
  cmd/infra/aws/create.go
Labels: approved, lgtm

#1977 Propagate Pull Secret Changes to NodePool Nodes
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm

#2078 Remove unused kubevirt test functions
  test/e2e/util/kubevirt.go
Labels: approved, lgtm

#2081 Fix infrastructure.status.apiServerInternalURI for PublicAndPrivate
  support/globalconfig/infrastructure.go
Labels: approved, lgtm

#2082 kas token-minter should use localhost kubeconfig
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
Labels: approved, lgtm

#2083 Skip destroying cloud resources when cloud creds lost
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm

#2084 Add logs for when hc decide to not honour intent to clean up cloud resources
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm

#2085 fix etcd ServiceMonitor CA
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
Labels: approved, lgtm

#2086 fix kas ServiceMonitor to TargetPort 6443
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/servicemonitor.go
Labels: approved, lgtm

#2056 Switch API documentation to v1beta1
  docs/content/reference/api.md
  hack/gen-api-docs.sh
Labels: approved, lgtm

#2090 Re-revert KAS egress policy
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  support/capabilities/management_cluster_capabilities.go
Labels: approved, lgtm

#2091 fix(ibmcloud): Initialize image registry config on creates and bad config
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/registry/reconcile_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/registry/registry.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm

#1779 Add tags and rename cloud instance name suffix
  cmd/infra/powervs/create.go
  vendor/github.com/IBM/platform-services-go-sdk/globaltaggingv1/global_tagging_v1.go
  vendor/modules.txt
Labels: approved, lgtm

#1978 Fixing issue between UpdatingVersion and UpdatingConfig at InPlace Up…
  control-plane-operator/hostedclusterconfigoperator/controllers/inplaceupgrader/inplaceupgrader.go
  hypershift-operator/controllers/nodepool/inplace.go
Labels: approved, lgtm
