Repository openshift/hypershift, pull requests merged in 2023-02, with the labels that each got.

#2103 test: skip ovnkube-master in crashing pods check
  test/e2e/util/util.go
Labels: approved, lgtm

#1953 Moving from HC Migration to Disaster Recovery in documentation
  docs/content/how-to/aws/disaster-recovery.md
  docs/content/how-to/aws/external-dns.md
  docs/mkdocs.yml
Labels: approved, lgtm

#2068 Set k8s.io/kubernetes dependency to v0.23.3
  go.mod
  vendor/modules.txt
Labels: approved, lgtm

#2107 fix(cpo): Separate RBAC for NTO + CNO
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/cno.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/nto.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
Labels: approved, lgtm

#2115 Add dns docs clarification for private topology
  docs/content/how-to/aws/external-dns.md
Labels: approved, lgtm

#2117 Minor fixes to notes on Getting Started and NodePool Upgrades pages
  docs/content/getting-started.md
  docs/content/how-to/automated-machine-management/nodepool-upgrades.md
Labels: approved, lgtm

#2109 AWS: remove finalizer from deleted awsmachines if lost STS
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
Labels: approved, lgtm

#2113 Fix CAPA crd generation
  Makefile
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsclustercontrolleridentities.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsclusterroleidentities.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsclusterstaticidentities.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsmachinepools.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsmanagedmachinepools.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm

#2051 Refactoring NTO MachineConfig InPlace and Replace E2E Tests
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/nodepool_test.go
Labels: approved, lgtm

#2095 update to golang 1.19 and 4.13 base image
  .ci-operator.yaml
  Dockerfile
  Dockerfile.control-plane
  Dockerfile.fast
Labels: approved, lgtm

#2110 fix(cpo): Allow KAS profiling disablement
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Labels: approved, lgtm

#2111 fix(cpo): Restart registry operator on annotation
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
Labels: approved, lgtm

#2116 OpenID add support for groups claim in the config
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert_test.go
Labels: approved, lgtm

#1987 fix(api): Fix deprecated API conversion
  api/v1alpha1/zz_conversion.go
  api/v1alpha1/zz_conversion_test.go
Labels: approved, lgtm

#2124 reduce ignition server scope
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
Labels: approved, tide/merge-method-squash, lgtm

#2094 fix openshift-route-controller-manager ServiceMonitor regex
  support/metrics/sets.go
Labels: approved, lgtm

#2130 Add external DNS health condition
  api/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/util/expose.go
  support/util/util.go
Labels: approved, lgtm

#2106 Changes autoscalling replica number when the nodepool replica is not set
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/inplace_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: approved, lgtm

#2139 Basic immutability for NodePool
  api/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm

#2145 Revert "Refactored NTO MachineConfig InPlace and Replace E2E Tests"
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/nodepool_test.go
Labels: approved, lgtm

#2134 fix(ho): Delete user-data secret for non-AWS platforms
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm

#2137 Clarify docs for nodePool.spec.config
  api/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm

#1891 AUTH-323: pki: split out konnectivity certs from the rootCA
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/egresscfg.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/catalog-operator-deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/olm-operator-deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/packageserver-deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/pki/ca.go
  control-plane-operator/controllers/hostedcontrolplane/pki/konnectivity.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/konnectivity.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  konnectivity-socks5-proxy/main.go
  support/util/util.go
Labels: approved, lgtm

#2142 expose silence alerts metric
  api/v1beta1/hostedcluster_types.go
  hypershift-operator/metrics.go
Labels: approved, lgtm

#2151 test: skip TestCreateClusterKms on non-AWS platforms
  test/e2e/create_cluster_test.go
Labels: approved, lgtm

#2132 Check creation and deletion timestamps are not nil
  hypershift-operator/metrics.go
  hypershift-operator/metrics_test.go
Labels: approved, lgtm

#2143 Add support for root volume encryption using KMS
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/nodepool_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/hostedcluster_types.go
  api/v1beta1/nodepool_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/infra/aws/iam.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/aws.go
Labels: approved, lgtm

#2147 OSD-15099: Delaying the creation of servicemonitor and podmonitor resources till the hostedcluster is Completed
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, jira/valid-reference

#2135 Add e2e test for secrets encryption using kms
  go.mod
  test/e2e/create_cluster_test.go
  test/e2e/util/pod_exec.go
  test/e2e/util/util.go
Labels: approved, lgtm

#2065 Use KAS kubeconfig for PowerVS CCM instead of external kubeconfig
  control-plane-operator/controllers/hostedcontrolplane/cloud/powervs/powervs.go
Labels: approved, lgtm

#2149 AUTH-323: konnectivity: split away the rootCA from konnectivity trust
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ca.go
Labels: approved, lgtm, jira/valid-reference

#2146 Create default security group for AWS clusters
  Dockerfile
  Dockerfile.control-plane
  Dockerfile.fast
  api/v1alpha1/hosted_controlplane.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/hosted_controlplane.go
  api/v1beta1/hostedcluster_conditions.go
  api/v1beta1/hostedcluster_types.go
  api/v1beta1/nodepool_conditions.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/infra/aws/ec2_sg.go
  cmd/infra/aws/iam.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  support/awsutil/sg.go
Labels: approved, lgtm

#2097 set default PSA enforce to restricted
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  test/e2e/autoscaling_test.go
Labels: approved, lgtm

#2154 Give kubevirt csi controller get VMI RBAC
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/infra_role.yaml
Labels: approved, ok-to-test, lgtm

#2167 Skip destroyAWSDefaultSecurityGroup if not AWS
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm

#2077 Add e2e test for hosted cluster behind a proxy
  test/e2e/create_cluster_test.go
Labels: approved, lgtm

#2171 fix regex in registry operator pod monitor
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcilePodMonitor.yaml
  support/metrics/sets.go
Labels: approved, lgtm

#2136 Add PodMonitor for ingress-operator pods in HCP namespaces
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ingressoperator.go
Labels: approved, lgtm

#2153 Filtering data recolection only for aws instances running
  test/e2e/util/dump/journals.go
Labels: approved, lgtm

#2108 Update KubeVirt platform how-to documentation
  docs/content/how-to/kubevirt/create-kubevirt-cluster.md
Labels: approved, lgtm

#2177 Add cli flag to enable root volume encryption
  api/fixtures/example.go
  api/fixtures/example_aws.go
  cmd/cluster/aws/create.go
  cmd/cluster/core/create.go
  cmd/nodepool/aws/create.go
Labels: approved, lgtm

#2180 add PSA labels to openshift-infra in guest cluster
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/namespaces.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/namespaces/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm

#2159 fix(cpo): Reduce CNO access if Calico used as network provider
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm

#2186 Add default NodePool name clarification to docs
  docs/content/getting-started.md
Labels: approved, lgtm

#2141 fix(cpo): Remove OLM collect for IBM Cloud to reduce artifacts and rbac
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm

#2150 fix(cpo): Set restart annotation on multus-admission-controller
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/cno.go
Labels: approved, lgtm

#2157 Update cluster api provider kubevirt dependencies
  cmd/install/assets/cluster-api-provider-kubevirt/infrastructure.cluster.x-k8s.io_kubevirtclusters.yaml
  cmd/install/assets/cluster-api-provider-kubevirt/infrastructure.cluster.x-k8s.io_kubevirtmachines.yaml
  cmd/install/assets/cluster-api-provider-kubevirt/infrastructure.cluster.x-k8s.io_kubevirtmachinetemplates.yaml
  go.mod
  go.sum
  hack/app-sre/saas_template.yaml
  vendor/github.com/openshift/custom-resource-status/conditions/v1/conditions.go
  vendor/golang.org/x/crypto/AUTHORS
  vendor/golang.org/x/crypto/CONTRIBUTORS
  vendor/golang.org/x/crypto/bcrypt/bcrypt.go
  vendor/golang.org/x/crypto/chacha20/chacha_generic.go
  vendor/golang.org/x/crypto/internal/alias/alias.go
  vendor/golang.org/x/crypto/internal/alias/alias_purego.go
  vendor/golang.org/x/crypto/pkcs12/crypto.go
  vendor/golang.org/x/crypto/pkcs12/internal/rc2/rc2.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/connection.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/crypto/ssh/session.go
  vendor/golang.org/x/net/http2/hpack/encode.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/golang.org/x/text/unicode/bidi/trieval.go
  vendor/kubevirt.io/api/core/v1/componentconfig.go
  vendor/kubevirt.io/api/core/v1/deepcopy_generated.go
  vendor/kubevirt.io/api/core/v1/defaults.go
  vendor/kubevirt.io/api/core/v1/sanitizers.go
  vendor/kubevirt.io/api/core/v1/schema.go
  vendor/kubevirt.io/api/core/v1/schema_swagger_generated.go
  vendor/kubevirt.io/api/core/v1/types.go
  vendor/kubevirt.io/api/core/v1/types_swagger_generated.go
  vendor/kubevirt.io/api/core/v1/zz_generated.defaults.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api-provider-kubevirt/api/v1alpha1/kubevirtcluster_types.go
  vendor/sigs.k8s.io/cluster-api-provider-kubevirt/api/v1alpha1/kubevirtmachine_types.go
  vendor/sigs.k8s.io/cluster-api-provider-kubevirt/api/v1alpha1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/machine_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/machinedeployment_webhook.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/machineset_webhook.go
  vendor/sigs.k8s.io/cluster-api/internal/labels/helpers.go
Labels: approved, lgtm

#2178 Fix kubevirt how-to doc formatting issues
  docs/content/how-to/kubevirt/create-kubevirt-cluster.md
Labels: approved, lgtm

#2183 cpo: kcm: add nfs pv recycler pod template
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/config.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/kcm.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/kcm.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm

#2181 add KAS egress network policy
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  support/capabilities/management_cluster_capabilities.go
Labels: approved, lgtm

#2194 HOSTEDCP-833: Set kubevirt.io/client-go version to fix ART Issue
  go.mod
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference

#2193 HOSTEDCP-833: Add Golang check for 'go list' errors in Makefile
  Makefile
Labels: approved, lgtm, jira/valid-reference

#2155 feat: Add pod gone check to prober + DNS operator leader elect
  availability-prober/availability_prober.go
  control-plane-operator/controllers/hostedcontrolplane/dnsoperator/dnsoperator.go
  support/util/containers.go
Labels: approved, lgtm

#2188 cli: Add --cli-root-volume-access-modes
  cmd/cluster/kubevirt/create.go
Labels: approved, lgtm

#2152 Adding NTO again to find the issue with data recollection
  test/e2e/nodepool_autorepair_test.go
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/nodepool_test.go
  test/e2e/util/util.go
Labels: approved, lgtm

#2185 fix(ibmcloud): Explicitly set HCCO controllers
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
Labels: approved, lgtm

#2187 HOSTEDCP-593: Update the pull secret source for ignition payload
  control-plane-operator/controllers/hostedcontrolplane/mcs/reconcile.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  ignition-server/cmd/run_local_ignitionprovider.go
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/machineconfigserver_ignitionprovider.go
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
  support/util/util.go
Labels: approved, lgtm, jira/valid-reference

#2211 Cleanup default security group only if authorized
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm

#2197 ensure reconcilation of apiserver port
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/kas/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/haproxy.go
  support/util/networking.go
Labels: approved, lgtm

#2195 ensure reconcilation of apiserver port is in 4.12
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/kas/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/haproxy.go
  support/util/networking.go
Labels: approved, lgtm

#2213 HOSTEDCP-826: Customize DNS base domain prefix
  api/fixtures/example.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/hostedcluster_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/cluster/aws/create.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/cluster/core/destroy.go
  cmd/infra/aws/create.go
  cmd/infra/aws/destroy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/pki/params.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  support/config/ingress.go
  support/globalconfig/dns.go
  support/globalconfig/dns_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2218 Add labels info
  docs/content/contribute/index.md
Labels: approved, lgtm

#2215 Validate Network Input for HostedCluster
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm

#2192 HOSTEDCP-827: Add root volume encryption e2e test
  test/e2e/nodepool_kms_root_volume_test.go
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-reference

#2216 Add condition to NodePool indicating whether a security group for it is available
  api/v1beta1/nodepool_conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm

#2219 Add comment for BaseDomainPrefix
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm

#2220 Added documentation around supported-versions configmap
  docs/content/reference/versioning-support.md
Labels: approved, lgtm

#2230 cpo: cno: follow image name change in release payload
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Labels: approved, lgtm
