Repository openshift/hypershift, pull requests merged in 2023-07, with the labels that each got.

#2732 OCPBUGS-12208 ensureExists pullSecret resource reconciliation strategy
  api/v1beta1/hostedcluster_types.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, area/control-plane-operator, area/hypershift-operator

#2765 Fix KAS HealthCheck for non DNS-Based ingress points in LB service
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, area/control-plane-operator

#2766 OCPBUGS-15723: Let getMachinesForNodePool return machines ordered by creation Timestamp
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#2282 Leader election config update.
  control-plane-operator/controllers/hostedcontrolplane/kcm/config.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  support/config/constants.go
Labels: approved, lgtm, area/control-plane-operator

#2769 OCPBUGS-15769: Set --balance-similar-node-groups for autoscaler
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2722 HOSTEDCP-1061: Implement dedicated request serving nodes for HostedClusters
  api/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes_test.go
  hypershift-operator/main.go
  support/config/deployment.go
  support/config/deployment_test.go
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/testing

#2755 HOSTEDCP-1023: Add create NodePool for Agent for HCP CLI
  cmd/nodepool/agent/create.go
  product-cli/cmd/nodepool/agent/create.go
  product-cli/cmd/nodepool/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#2749 [release-4.12] HOSTEDCP-1060: refactor ignition-server reconcilation and add ignition-server proxy
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ignitionserver.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/ignitionserver/manifests.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2700 OCPBUGS-14862: Reject VPCE Connections during VPCE Service cleanup
  hypershift-operator/controllers/platform/aws/controller.go
  hypershift-operator/controllers/platform/aws/controller_test.go
  hypershift-operator/metrics_test.go
  vendor/github.com/go-logr/logr/funcr/funcr.go
  vendor/github.com/go-logr/logr/testr/testr.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#2772 kubevirt: Annotate VMs to be live migratable
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
Labels: approved, lgtm, area/hypershift-operator

#2753 OCPBUGS-15594: Get valid arch image for cluster-config-operator
  ignition-server/controllers/local_ignitionprovider.go
  support/releaseinfo/registryclient/client.go
  support/releaseinfo/registryclient/client_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2760 CNV-30407: KubeVirt Platform: Support NetworkInterfaceMultiQueue
  api/fixtures/example_kubevirt.go
  api/v1alpha1/nodepool_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/nodepool_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/kubevirt/create.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  product-cli/cmd/cluster/kubevirt/create.go
  product-cli/cmd/nodepool/kubevirt/create.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#2754 HOSTEDCP-1019: Add create cluster for Agent for HCP CLI
  cmd/cluster/agent/create.go
  product-cli/cmd/cluster/agent/create.go
  product-cli/cmd/cluster/cluster.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#2717 Add management cluster KAS network policy
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/params.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/params.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/testdata/zz_fixture_TestReconcileOperatorDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/params.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/manifests/networkpolicy/manifests.go
  support/config/constants.go
  support/config/labels.go
  test/e2e/util/fixture.go
  test/e2e/util/util.go
Labels: approved, lgtm, area/control-plane-operator, area/hypershift-operator, area/testing

#2784 OCPBUGS-15769: Include hypershift specific labels to be ignored by similar autoscaler groups
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2787 OCPBUGS-15991: use ignition-proxy Service to populate ignitionEndpoint with strategy NodePort
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/hypershift-operator

#2793 Revert "HOSTEDCP-1062: Add management cluster KAS network policy"
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/params.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/params.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/testdata/zz_fixture_TestReconcileOperatorDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/params.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/manifests/networkpolicy/manifests.go
  support/config/constants.go
  support/config/labels.go
  test/e2e/util/fixture.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/testing

#2789 [release-4.13] OCPBUGS-15965: Reject VPCE Connections during VPCE Service cleanup
  hypershift-operator/controllers/platform/aws/controller.go
  hypershift-operator/controllers/platform/aws/controller_test.go
  hypershift-operator/metrics_test.go
  vendor/github.com/go-logr/logr/funcr/funcr.go
  vendor/github.com/go-logr/logr/testr/testr.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#2782 OCPBUGS-14862 Improve clarity around hypershift operator permissions
  docs/content/how-to/aws/deploy-aws-private-clusters.md
  hypershift-operator/controllers/platform/aws/controller.go
Labels: approved, lgtm, area/hypershift-operator, area/documentation

#2811 OCPBUGS-16135: fix deletion bug when hostedzone is already deleted
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#2804 OCPBUGS-11939: Fix additional issues with OCPBUGS-11939
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/main.go
  support/globalconfig/imagecontentsource.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2817 OCPBUGS-16113: unshare ignition-server reconciliation between HO and CPO
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/ignitionserver/ignitionserver.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#2808 HOSTEDCP-1094: e2e autoscaler balancing similar node groups
  test/e2e/autoscaling_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#2430 OCPBUGS-11835: Add missing probes to two services
  control-plane-operator/controllers/hostedcontrolplane/ocm/params.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/params.go
Labels: bugzilla/valid-bug, approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#2815 HOSTEDCP-710: Make ImageContentSource immutable
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#2720 HOSTEDCP-1046: Allow HCP Specification to Support ICSP & IDMS
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignition/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/imagecontentsource.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#2778 HOSTEDCP-1090: Use statically configured haproxy for router
  Dockerfile
  Dockerfile.control-plane
  Dockerfile.fast
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.template
  control-plane-operator/controllers/hostedcontrolplane/ingress/router_config.template
  control-plane-operator/controllers/hostedcontrolplane/ingress/router_test.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/testdata/zz_fixture_TestGenerateRouterConfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/manifests/cno.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ingress.go
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/util/resolver.go
  support/util/resolver_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2828 Revert "HOSTEDCP-1094: e2e autoscaler balancing similar node groups"
  test/e2e/autoscaling_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#2802 HOSTEDCP-1093: Add default flags to HCP create cluster CLI cmd
  product-cli/cmd/cluster/cluster.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#2825 HOSTEDCP-1062: Make CAPI pod selector backward compatible
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2809 HOSTEDCP-1061: [release-4.13] Implement dedicated request serving nodes for HostedClusters
  api/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes_test.go
  hypershift-operator/main.go
  support/config/deployment.go
  support/config/deployment_test.go
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2829 Revert "HOSTEDCP-710: Make ImageContentSource immutable"
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#2704 OCPBUGS-14783: Fix NetworkPolicy to work over IPv4 and IPv6
  hypershift-operator/controllers/hostedcluster/network_policies.go
  support/util/util.go
  support/util/util_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#2786 4.13: Add management cluster KAS network policy
  Dockerfile
  Dockerfile.control-plane
  Dockerfile.fast
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/params.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/params.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/testdata/zz_fixture_TestReconcileOperatorDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/params.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/manifests/networkpolicy/manifests.go
  support/config/constants.go
  support/config/labels.go
  test/e2e/util/fixture.go
  test/e2e/util/util.go
Labels: approved, lgtm, area/control-plane-operator, area/hypershift-operator

#2836 HOSTEDCP-1020: Remove name as a persistent flag required field
  product-cli/cmd/cluster/cluster.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#2838 HOSTEDCP-1112: Add config to set creation frequency of RHTAP PRs
  renovate.json
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#2826 Kas policy 4.12
  Dockerfile
  Dockerfile.control-plane
  Dockerfile.fast
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/params.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/params.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/testdata/zz_fixture_TestReconcileOperatorDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/params.go
  go.mod
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/manifests/egressfirewall/manifests.go
  hypershift-operator/controllers/manifests/networkpolicy/manifests.go
  support/capabilities/management_cluster_capabilities.go
  support/config/constants.go
  support/config/labels.go
  test/e2e/util/fixture.go
  test/e2e/util/pod_exec.go
  test/e2e/util/util.go
Labels: approved, lgtm, area/control-plane-operator, area/hypershift-operator

#2846 OCPBUGS-14163: Fixed ETCD to work in Ipv6 and Dual stack envs
  control-plane-operator/controllers/hostedcontrolplane/etcd/params.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#2803 [release 4.12] OCPBUGS-11555: OAuth OpenShift deployment requires ConfigMap mount patch2
  control-plane-operator/controllers/hostedcontrolplane/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#2850 OCPBUGS-16809: Configured IgnitionProxy to support IPv4 and IPv6
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  hypershift-operator/controllers/hostedcluster/ignitionserver/ignitionserver.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#2839 HOSTEDCP-1110: [backport-4.13] Allow HCP Specification to Support ICSP & IDMS
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignition/params.go
  control-plane-operator/controllers/hostedcontrolplane/ignition/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ignition.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/imagecontentsource.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2860 OCPBUGS-17059: Add volume mode to kubevirt root volume api
  api/fixtures/example_kubevirt.go
  api/v1alpha1/nodepool_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/nodepool_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/kubevirt/create.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/kubevirt/imagecacher.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  product-cli/cmd/cluster/kubevirt/create.go
  product-cli/cmd/nodepool/kubevirt/create.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling

#2837 HOSTEDCP-1046: Add IDMS to the list of valid config manifests
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#2849 kubevirt: Reconcile EgressFirewall only for ovn-k
  hypershift-operator/controllers/hostedcluster/network_policies.go
Labels: approved, lgtm, area/hypershift-operator
