Repository openshift/hypershift, pull requests merged in 2023-10, with the labels that each got.

#3057 Migrate deprecated-base-image-check pipeline
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: approved, lgtm, area/ci-tooling

#3014 OCPBUGS-13348: Hypershift Audit configuration not working (part2).
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3075 Upate azure docs
  docs/content/how-to/azure/create-azure-cluster.md
Labels: approved, lgtm, area/documentation

#3076 Add aws-ebs-csi-driver-operator to allowed NeedManagementKASAccessLab…
  test/e2e/util/util.go
Labels: approved, lgtm, area/testing

#3073 [doc] Fix a typo in KubeVirt troubleshooting script
  docs/content/how-to/kubevirt/troubleshooting-kubevirt-cluster.md
Labels: approved, lgtm, area/documentation

#2858 Add record rules for kas qps
  cmd/install/assets/recordingrules/hypershift.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, area/cli, area/ci-tooling

#3048 CNV-30697 - Dedicated CPU for KubeVirt node pool
  api/fixtures/example_kubevirt.go
  api/v1alpha1/nodepool_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/nodepool_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/kubevirt/create.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  product-cli/cmd/cluster/kubevirt/create.go
  product-cli/cmd/nodepool/kubevirt/create.go
  test/e2e/nodepool_kv_cache_image_test.go
  test/e2e/nodepool_kv_qos_guaranteed_test.go
  test/e2e/nodepool_test.go
Labels: approved, lgtm, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling

#3047 OCPBUGS-19746, OCPBUGS-16189: Added network validations
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3077 OCPBUGS-20105: OCPBUGS-20109: Update the scheduler to only accept paired Nodes and check scheduler HCs has two Nodes
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/hypershift-operator

#3065 OCPBUGS-19957: Reconcile CNCC secret to CPO namespace
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3083 OCPBUGS-20249: Set KAS config pod security Enforce to privileged
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#3087 HOSTEDCP-1232: Add clusterName label to CAPI kubeconfig secret
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kubeconfig.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#2967 HOSTEDCP-1051 addition of grace period for aws infra destruction
  cmd/cluster/aws/destroy.go
  cmd/cluster/core/destroy.go
  cmd/infra/aws/destroy.go
  product-cli/cmd/cluster/aws/destroy.go
Labels: approved, lgtm, area/cli

#3028 MULTIARCH-3760: Rename depricated flag for PowerVS capi deployment
  hypershift-operator/controllers/hostedcluster/internal/platform/powervs/powervs.go
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/hypershift-operator

#3079 CNV-31891: Document port 80 is not supported with default ingress for KubeVirt
  docs/content/how-to/kubevirt/ingress-and-dns.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#3090 SDN-4062: Revert "SDN-4042: Increase upgrade rollout timers"
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3095 OCPBUGS-18341: change required pod anti-affinity rule to preferred rule
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/cli, area/ci-tooling

#2730 Disabling unused monitoring services
  api/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, area/control-plane-operator, area/hypershift-operator

#3103 OCPBUGS-21822: Add ign proxy label selector for LabelTopologyZone PodAntiAffinity
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3107 OCPBUGS-21869: Remove EnsurePSANotPrivileged
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing

#3108 OCPBUGS-22195: Fix label selector check for CAPI provider
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3097 OCPBUGS-20246: Added brackets to the kubeconfig server address when IPv6
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#3111 OCPBUGS-20526: Align PSA labels on guest cluster namespaces with standalone OCP
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/config.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3110 OCPBUGS-21626: Validate accessTokenInactivityTimeout >= 300s
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#3115 OCPBUGS-21776: Cluster-policy-controller: add missing RBAC for privileged namespaces PSA syncer controller
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/rbac.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/rbac/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3137 run EnsurePSANotPrivileged for TestCreateCluster only
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, area/testing

#3138 HOSTEDCP-1200: Remove pod exceptions from EnsureNoCrashingPods
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3140 contrib: increase HC quota to 40
  contrib/ci/hypershift-ci-1.yaml
Labels: approved, lgtm, area/testing

#3086 HOSTEDCP-1229: Move azure cloud provider to out of tree
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/params.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/azure.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/cloudcontrollermanager/azure/cloud_node_manager.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3072 HOSTEDCP-1113: Improve NodePool CPU arch & platform check
  api/v1beta1/nodepool_conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3113 OCPBUGS-20033: Make the OLMCatalogPlacement field immutable
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#3081 HOSTEDCP-1215: Use the same etcd snapshot for all replicas during etcd restore
  api/v1alpha1/hostedcluster_types.go
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/etcd/etcd-init.sh
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile_test.go
  docs/content/how-to/aws/etc-backup-restore.md
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3144 tests: e2e: exempt ingress, OLM and catalog from pod restart check
  test/e2e/util/util.go
Labels: approved, tide/merge-method-squash, lgtm, area/testing

#3106 HOSTEDCP-1050: Add e2e to check we dont regress affinity opinions
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/olm-collect-profiles.go
  docs/content/contribute/run-tests.md
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: approved, tide/merge-method-squash, lgtm, jira/valid-reference, area/control-plane-operator, area/documentation, area/testing
