Repository openshift/hypershift, pull requests merged in 2024-07, with the labels that each got.

#4291 OCPBUGS-35522: Copy infra-volumesnapshot-class-mapping to core binding
  product-cli/cmd/cluster/kubevirt/create.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/cli

#4101 CNV-39589: [Kubevirt] Add support for passing GPU devices to NodePools
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1alpha1/kubevirthostdevice.go
  client/applyconfiguration/hypershift/v1alpha1/kubevirtnodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/kubevirthostdevice.go
  client/applyconfiguration/hypershift/v1beta1/kubevirtnodepoolplatform.go
  client/applyconfiguration/utils.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/kubevirt/create.go
  cmd/nodepool/kubevirt/create_test.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling

#4272 HOSTEDCP-1778: Enable MultiArch flag by default
  cmd/cluster/aws/create.go
  cmd/cluster/aws/create_test.go
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_default_creation_flags_for_cesar.yaml
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
Labels: approved, lgtm, jira/valid-reference, area/cli

#4304 NO-JIRA: Add release notes to commit and print proper output when release errors
  hack/tools/deployment/deployment-update.go
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4294 OCPBUGS-30986: remove weak ciphers from security profile
  support/config/cipher.go
Labels: approved, ok-to-test, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#4292 NO-JIRA: skip multiarch test before HC creation
  test/e2e/nodepool_arm64_create_test.go
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4305 NO-JIRA: skip validate metrics on azure e2e
  test/e2e/e2e_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4312 Revert "HOSTEDCP-1778: Enable MultiArch flag by default"
  cmd/cluster/aws/create.go
  cmd/cluster/aws/create_test.go
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_default_creation_flags_for_cesar.yaml
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
Labels: approved, lgtm, jira/valid-reference, area/cli

#4313 NO-JIRA: e2e tests: skip checking ValidKubeVirtInfraNetworkMTU if no workers
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4311 NO-JIRA: Enhance aks docs
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4307 OCPBUGS-36481: Fix Hypershift dump for non-OpenShift Management Clusters
  cmd/cluster/core/dump.go
  cmd/cluster/core/dump_test.go
Labels: approved, tide/merge-method-squash, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/cli

#4321 NO-JIRA: Dump sharedingress manifest
  cmd/cluster/core/dump.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4323 HOSTEDCP-1808: Update Mkdocs, dependencies and dockerfile
  docs/Dockerfile
  docs/Makefile
  docs/mkdocs.yml
  docs/requirements.txt
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4314 NO-JIRA: Update AKS contrib docs
  contrib/aks/create_basic_hosted_cluster.sh
  contrib/aks/setup_aks_cluster.sh
  contrib/aks/setup_install_ho_on_aks.sh
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4329 NO-JIRA: Dump capz azure resources
  cmd/cluster/core/dump.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4183 NO-JIRA: Update ci image of capk to 4.17
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4319 NO-JIRA: KubeVirtJsonPatchTest: fix vmi slice assignment
  test/e2e/nodepool_kv_jsonpatch_test.go
  test/e2e/nodepool_kv_nodeselector_test.go
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4218 OCPBUGS-34865: Add HTTP(s) konnectivity proxy for openshift-apiserver
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/main.go
  go.mod
  go.sum
  konnectivity-https-proxy/cmd.go
  konnectivity-socks5-proxy/main.go
  support/konnectivityproxy/dialer.go
  support/konnectivityproxy/dialer_test.go
  support/konnectivityproxy/resolver.go
  support/proxy/no_proxy.go
  vendor/github.com/elazarl/goproxy/.gitignore
  vendor/github.com/elazarl/goproxy/LICENSE
  vendor/github.com/elazarl/goproxy/README.md
  vendor/github.com/elazarl/goproxy/actions.go
  vendor/github.com/elazarl/goproxy/all.bash
  vendor/github.com/elazarl/goproxy/ca.pem
  vendor/github.com/elazarl/goproxy/certs.go
  vendor/github.com/elazarl/goproxy/chunked.go
  vendor/github.com/elazarl/goproxy/counterecryptor.go
  vendor/github.com/elazarl/goproxy/ctx.go
  vendor/github.com/elazarl/goproxy/dispatcher.go
  vendor/github.com/elazarl/goproxy/doc.go
  vendor/github.com/elazarl/goproxy/https.go
  vendor/github.com/elazarl/goproxy/key.pem
  vendor/github.com/elazarl/goproxy/logger.go
  vendor/github.com/elazarl/goproxy/proxy.go
  vendor/github.com/elazarl/goproxy/responses.go
  vendor/github.com/elazarl/goproxy/signer.go
  vendor/github.com/elazarl/goproxy/websocket.go
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/LICENSE
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/certificates.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/flags.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/handlers.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/net.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/url.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/cli

#4336 NO-JIRA: Add net policy to allow ingress from sharedingress namespace
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/manifests/networkpolicy/manifests.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4108 CNF-12951:hypershift:performanceprofile: associate profile name with user input
  hypershift-operator/controllers/nodepool/manifests.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  support/util/route.go
  support/util/route_test.go
  test/e2e/nodepool_nto_performanceprofile_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#4268 HOSTEDCP-1716: When running the HO locally it should no required a running pod
  HACKING.md
  Makefile
  docs/content/contribute/run-hypershift-operator-locally.md
  docs/content/contribute/run-locally.md
  docs/mkdocs.yml
  hack/dev/aws/hypershift-install-aws-dev.sh
  hack/dev/aws/run-operator-locally-aws-dev.sh
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/documentation, area/ci-tooling

#4332 OCPBUGS-36681: Set Azure VM identity if user assigned identity set
  hypershift-operator/controllers/nodepool/azure.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#4342 HOSTEDCP-1818:fix(build): update to the fixed clamav image
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4343 OCPBUGS-33934: Add newline after TLS certs referenced by image.config
  hypershift-operator/init.go
  hypershift-operator/init_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/hypershift-operator

#4346 NO-JIRA: add ignition payload inspect docs
  docs/content/how-to/troubleshooting-general.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4351 OCPBUGS-34865: Fix name resolution for HTTPS konnectivity proxy
  support/konnectivityproxy/dialer.go
  support/konnectivityproxy/resolver.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4316 NO-JIRA: Default azure to run as managed-service=aro
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#4330 HOSTEDCP-1734, HOSTEDCP-1737: use proxy-protocol-v2 for shared ingress
  hypershift-operator/controllers/nodepool/apiserver-haproxy/haproxy.cfg
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/haproxy_test.go
  hypershift-operator/controllers/nodepool/remote-kas-svc-haproxy/haproxy.cfg
  hypershift-operator/controllers/nodepool/remote-kas-svc-haproxy/remote-kas-svc-ip.service
  hypershift-operator/controllers/nodepool/remote-kas-svc-haproxy/setup-remote-kas-svc-ip.sh
  hypershift-operator/controllers/nodepool/remote-kas-svc-haproxy/teardown-remote-kas-svc-ip.sh
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_use_shared_router_it_should_create_two_haproxies.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_use_shared_router_it_should_use_proxy_protocol.yaml
  hypershift-operator/controllers/sharedingress/router.go
  hypershift-operator/controllers/sharedingress/router_config.template
  hypershift-operator/controllers/sharedingress/router_test.go
  hypershift-operator/controllers/sharedingress/sharedingress_controller.go
  hypershift-operator/controllers/sharedingress/testdata/zz_fixture_TestGenerateConfig_When_there_s_two_HostedClusters_with_all_their_Routes_and_SVCs_it_should_generate_the_config_with_frontends_and_backends_for_both.cfg
  support/testutil/testutil.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4178 [release-4.15] HOSTEDCP-1714: Kubernetes API Server Log Verbosity Annotation cherry pick to 4.15
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#4353 NO-JIRA: trivial typo fixes to configuring-storage.md
  docs/content/how-to/kubevirt/configuring-storage.md
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/documentation

#4320 [release-4.15] OCPBUGS-36606: enable audit log for oauth-openshift
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/oauth.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/assets.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/auditcfg.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/files/audit-policy.yaml
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/testdata/zz_fixture_TestReconcileOauthDeploymentNoChanges.yaml
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4355 OSASINFRA-3310: Adds cluster-api-provider-openstack assets
  Makefile
  cmd/install/assets/assets.go
  cmd/install/assets/cluster-api-provider-openstack/infrastructure.cluster.x-k8s.io_openstackclusters.yaml
  cmd/install/assets/cluster-api-provider-openstack/infrastructure.cluster.x-k8s.io_openstackclustertemplates.yaml
  cmd/install/assets/cluster-api-provider-openstack/infrastructure.cluster.x-k8s.io_openstackfloatingippools.yaml
  cmd/install/assets/cluster-api-provider-openstack/infrastructure.cluster.x-k8s.io_openstackmachines.yaml
  cmd/install/assets/cluster-api-provider-openstack/infrastructure.cluster.x-k8s.io_openstackmachinetemplates.yaml
  go.mod
  go.sum
  go.work.sum
  hack/app-sre/saas_template.yaml
  support/api/scheme.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api-provider-openstack/LICENSE
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1alpha1/conditions_consts.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1alpha1/doc.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1alpha1/groupversion_info.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1alpha1/openstackfloatingippool_types.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1alpha1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/conditions_consts.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/conversion.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/doc.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/groupversion_info.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/identity_types.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/openstackcluster_types.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/openstackclustertemplate_types.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/openstackmachine_types.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/openstackmachinetemplate_types.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/types.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1beta1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/pkg/utils/optional/conversion.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/pkg/utils/optional/types.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/ci-tooling

#4322 OCPBUGS-35905: E2E test to verify openshift-apiserver TLS certificates
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator, area/testing

#4354 OCPBUGS-24400: Recreate the ETCD statefulSet on HostedCluster deployment when stays failing
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4345 OCPBUGS-35899: Doubled machineHealthCheck timeout on Agent and None
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#4359 HOSTEDCP-1820: Add snyk helper scripts to contrib
  contrib/snyk/READ_ME.md
  contrib/snyk/check-for-cve-in-cpo.sh
  contrib/snyk/check-for-cve-in-ho.sh
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4365 OCPBUGS-34816: Fix the resource from is checking the MHC platform
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#4335 HOSTEDCP-1795,HOSTEDCP-1796: Customize the self-generated cert validity and rotation
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/certs/tls.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4150 CNF-11845: nodepoolcontroller: mirror containerruntimeconfig to HCP NS
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  vendor/k8s.io/utils/set/OWNERS
  vendor/k8s.io/utils/set/ordered.go
  vendor/k8s.io/utils/set/set.go
  vendor/k8s.io/utils/set/set_go_1.20.go
  vendor/k8s.io/utils/set/set_go_1.21.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4350 OSASINFRA-3525: Initial PR to start supporting OpenStack platform
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1beta1/openstackplatformspec.go
  client/applyconfiguration/hypershift/v1beta1/platformspec.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/config.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/params.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/openstack.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/conversion/conversion_test.go
  hypershift-operator/conversion/fuzz.go
  support/globalconfig/infrastructure.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#4339 CNV-39630: Add ability to set tolerations on the HostedCluster
  api/hypershift/v1alpha1/hosted_controlplane.go
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1alpha1/hostedclusterspec.go
  client/applyconfiguration/hypershift/v1beta1/hostedclusterspec.go
  client/applyconfiguration/hypershift/v1beta1/hostedcontrolplanespec.go
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create_test.go
  cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_test_from_dvossel.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/config/deployment.go
  support/config/deployment_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling

#4374 HOSTEDCP-1832: Document konnectivity in HyperShift
  docs/content/reference/konnectivity.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4368 NO-JIRA: [release-4.16] test/e2e: remove api budget checks
  go.mod
  test/e2e/e2e_test.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
  vendor/github.com/jpillora/backoff/LICENSE
  vendor/github.com/jpillora/backoff/README.md
  vendor/github.com/jpillora/backoff/backoff.go
  vendor/github.com/mwitkow/go-conntrack/.gitignore
  vendor/github.com/mwitkow/go-conntrack/.travis.yml
  vendor/github.com/mwitkow/go-conntrack/LICENSE
  vendor/github.com/mwitkow/go-conntrack/README.md
  vendor/github.com/mwitkow/go-conntrack/dialer_reporter.go
  vendor/github.com/mwitkow/go-conntrack/dialer_wrapper.go
  vendor/github.com/mwitkow/go-conntrack/listener_reporter.go
  vendor/github.com/mwitkow/go-conntrack/listener_wrapper.go
  vendor/github.com/prometheus/common/config/config.go
  vendor/github.com/prometheus/common/config/http_config.go
  vendor/golang.org/x/oauth2/clientcredentials/clientcredentials.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/testing

#4376 NO-JIRA: Fix OADP backup objects
  docs/content/how-to/disaster-recovery/backup-and-restore-oadp.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4372 OCPBUGS-37102: Separate ibmcloud kms encryption configuration types
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/ibmcloud.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4382 OCPBUGS-37222: extract rhel9 MCO binaries for rhel8 based MCO images
  ignition-server/controllers/local_ignitionprovider.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3695 OCPBUGS-30282: Multiple MachineConfigs in one CM
  api/hypershift/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: approved, tide/merge-method-squash, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#4373 OSASINFRA-3311: openstack: CAPO provider deployment
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1beta1/allocationpool.go
  client/applyconfiguration/hypershift/v1beta1/filterbyneutrontags.go
  client/applyconfiguration/hypershift/v1beta1/networkfilter.go
  client/applyconfiguration/hypershift/v1beta1/networkparam.go
  client/applyconfiguration/hypershift/v1beta1/openstackidentityreference.go
  client/applyconfiguration/hypershift/v1beta1/openstackplatformspec.go
  client/applyconfiguration/hypershift/v1beta1/routerfilter.go
  client/applyconfiguration/hypershift/v1beta1/routerparam.go
  client/applyconfiguration/hypershift/v1beta1/subnetfilter.go
  client/applyconfiguration/hypershift/v1beta1/subnetparam.go
  client/applyconfiguration/hypershift/v1beta1/subnetspec.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/config.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
  support/images/envvars.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#4378 OCPBUGS-36897: fix(api): Nodepool CEL validation fix
  api/hypershift/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#4394 HOSTEDCP-1836: Fix Snyk vulnerability with python deps
  docs/Dockerfile
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4403 HOSTEDCP-1838: Migrate buildah config in tekton files for migration from 0.1 to 0.2
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4396 OSASINFRA-3538: openstack: cluster CLI
  cmd/cluster/cluster.go
  cmd/cluster/openstack/create.go
  cmd/cluster/openstack/create_test.go
  cmd/cluster/openstack/destroy.go
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_default_creation_flags.yaml
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  go.mod
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
  product-cli/cmd/cluster/cluster.go
  product-cli/cmd/cluster/openstack/create.go
  product-cli/cmd/cluster/openstack/destroy.go
  test/e2e/e2e_test.go
  test/e2e/util/fixture.go
  test/e2e/util/hypershift_framework.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/testing

#4395 [release-4.16] OCPBUGS-37302: fix(api): Nodepool CEL validation fix
  api/hypershift/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#4399 OSASINFRA-3539: Add ipam to cluster-api assets
  Makefile
  cmd/install/assets/cluster-api/ipam.cluster.x-k8s.io_ipaddressclaims.yaml
  cmd/install/assets/cluster-api/ipam.cluster.x-k8s.io_ipaddresses.yaml
  hack/app-sre/saas_template.yaml
  support/api/scheme.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/exp/ipam/api/v1beta1/.import-restrictions
  vendor/sigs.k8s.io/cluster-api/exp/ipam/api/v1beta1/conversion.go
  vendor/sigs.k8s.io/cluster-api/exp/ipam/api/v1beta1/doc.go
  vendor/sigs.k8s.io/cluster-api/exp/ipam/api/v1beta1/groupversion_info.go
  vendor/sigs.k8s.io/cluster-api/exp/ipam/api/v1beta1/ipaddress_types.go
  vendor/sigs.k8s.io/cluster-api/exp/ipam/api/v1beta1/ipaddressclaim_types.go
  vendor/sigs.k8s.io/cluster-api/exp/ipam/api/v1beta1/zz_generated.deepcopy.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/ci-tooling

#4409 OSASINFRA-3312: Implements OpenStack Node pools
  api/hypershift/v1beta1/nodepool_conditions.go
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1beta1/nodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/openstacknodepoolplatform.go
  client/applyconfiguration/utils.go
  cmd/cluster/openstack/create.go
  cmd/cluster/openstack/create_test.go
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_default_creation_flags.yaml
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/core/create.go
  cmd/nodepool/create.go
  cmd/nodepool/openstack/create.go
  cmd/nodepool/openstack/create_test.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/openstack/openstack.go
  hypershift-operator/controllers/nodepool/openstack/openstack_test.go
  hypershift-operator/conversion/conversion_test.go
  product-cli/cmd/nodepool/openstack/create.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling

#4406 HOSTEDCP-1791: dont render cloud-credentials secret
  cmd/cluster/azure/create_test.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/core/create.go
  cmd/cluster/openstack/create_test.go
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_default_creation_flags.yaml
Labels: approved, lgtm, jira/valid-reference, area/cli, area/testing

#4408 HOSTEDCP-1813: Moves MachineIdentity from the HostedCluster API to the NodePool API
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/nodepool_types.go
  client/applyconfiguration/hypershift/v1alpha1/azurenodepoolplatform.go
  client/applyconfiguration/hypershift/v1alpha1/azureplatformspec.go
  client/applyconfiguration/hypershift/v1beta1/azurenodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/azureplatformspec.go
  cmd/cluster/azure/create.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/azure.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#4412 OCPBUGS-34820: Keep in sync the HC and HCP ICS field
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#4413 NO-JIRA: [release-4.15] test/e2e: remove api budget checks
  go.mod
  test/e2e/e2e_test.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
  vendor/github.com/jpillora/backoff/LICENSE
  vendor/github.com/jpillora/backoff/README.md
  vendor/github.com/jpillora/backoff/backoff.go
  vendor/github.com/mwitkow/go-conntrack/.gitignore
  vendor/github.com/mwitkow/go-conntrack/.travis.yml
  vendor/github.com/mwitkow/go-conntrack/LICENSE
  vendor/github.com/mwitkow/go-conntrack/README.md
  vendor/github.com/mwitkow/go-conntrack/dialer_reporter.go
  vendor/github.com/mwitkow/go-conntrack/dialer_wrapper.go
  vendor/github.com/mwitkow/go-conntrack/listener_reporter.go
  vendor/github.com/mwitkow/go-conntrack/listener_wrapper.go
  vendor/github.com/prometheus/common/config/config.go
  vendor/github.com/prometheus/common/config/http_config.go
  vendor/golang.org/x/oauth2/clientcredentials/clientcredentials.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/testing

#4415 OSASINFRA-3538: openstack: small fixes for CLI
  cmd/nodepool/openstack/create.go
  product-cli/cmd/nodepool/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4405 HOSTEDCP-1798: Refactor multi-arch validation algorithm
  cmd/cluster/aws/create.go
  support/releaseinfo/registryclient/client.go
  support/thirdparty/kubernetes/pkg/credentialprovider/config.go
  support/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4420 HOSTEDCP-1791: dont render any secrets in manifest file
  cmd/cluster/agent/create_test.go
  cmd/cluster/aws/create_test.go
  cmd/cluster/azure/create_test.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create_test.go
  cmd/cluster/none/create_test.go
  cmd/cluster/openstack/create_test.go
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_default_creation_flags.yaml
  cmd/cluster/powervs/create_test.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4410 OSASINFRA-3319: implements required OpenStack credentials
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/openstack.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
  ignition-server/controllers/local_ignitionprovider.go
  support/globalconfig/infrastructure.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#4419 OCPBUGS-24400: Only recreate etcd if hasn't ever been ready
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  support/util/deployment.go
  support/util/deployment_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4422 OCPBUGS-37486: Set right endpointSlice port
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#4425 OCPBUGS-37625: DedicatedRequestServing scheduler: make taken labels list consistent
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/hypershift-operator

#4431 OCPBUGS-37645: Set right endpointSlice port
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#4421 HOSTEDCP-1798: Update AWS multi-arch docs to include migration
  docs/content/how-to/aws/create-heterogeneous-nodepools.md
  docs/content/how-to/aws/multi-arch-on-aws.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4414 OSASINFRA-3546: openstack: document how to create a cluster
  docs/content/how-to/openstack/create-openstack-cluster.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4348 OCPBUGS-36689: Omit the unused 0000_50_olm_06-psm-operator.service.ya…
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4438 NO-JIRA: [release-4.14] test/e2e: remove api budget checks
  go.mod
  test/e2e/e2e_test.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
  vendor/github.com/jpillora/backoff/LICENSE
  vendor/github.com/jpillora/backoff/README.md
  vendor/github.com/jpillora/backoff/backoff.go
  vendor/github.com/mwitkow/go-conntrack/.gitignore
  vendor/github.com/mwitkow/go-conntrack/.travis.yml
  vendor/github.com/mwitkow/go-conntrack/LICENSE
  vendor/github.com/mwitkow/go-conntrack/README.md
  vendor/github.com/mwitkow/go-conntrack/dialer_reporter.go
  vendor/github.com/mwitkow/go-conntrack/dialer_wrapper.go
  vendor/github.com/mwitkow/go-conntrack/listener_reporter.go
  vendor/github.com/mwitkow/go-conntrack/listener_wrapper.go
  vendor/github.com/prometheus/common/config/config.go
  vendor/github.com/prometheus/common/config/http_config.go
  vendor/golang.org/x/oauth2/clientcredentials/clientcredentials.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/testing

#4442 OCPBUGS-37698: mce-2.7 enablement for main
  .tekton/hypershift-release-mce-27-pull-request.yaml
  .tekton/hypershift-release-mce-27-push.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/ci-tooling

#4361 CNV-32074: Add Kubevirt live-migratable condition for HC and NP
  api/hypershift/v1beta1/hostedcluster_conditions.go
  api/hypershift/v1beta1/nodepool_conditions.go
  cmd/install/assets/cluster-api-provider-kubevirt/infrastructure.cluster.x-k8s.io_kubevirtmachines.yaml
  cmd/install/assets/cluster-api-provider-kubevirt/infrastructure.cluster.x-k8s.io_kubevirtmachinetemplates.yaml
  docs/content/reference/api.md
  go.mod
  go.sum
  go.work.sum
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  support/conditions/conditions.go
  vendor/github.com/pborman/uuid/.travis.yml
  vendor/github.com/pborman/uuid/CONTRIBUTING.md
  vendor/github.com/pborman/uuid/CONTRIBUTORS
  vendor/github.com/pborman/uuid/LICENSE
  vendor/github.com/pborman/uuid/README.md
  vendor/github.com/pborman/uuid/dce.go
  vendor/github.com/pborman/uuid/doc.go
  vendor/github.com/pborman/uuid/hash.go
  vendor/github.com/pborman/uuid/marshal.go
  vendor/github.com/pborman/uuid/node.go
  vendor/github.com/pborman/uuid/sql.go
  vendor/github.com/pborman/uuid/time.go
  vendor/github.com/pborman/uuid/util.go
  vendor/github.com/pborman/uuid/uuid.go
  vendor/github.com/pborman/uuid/version1.go
  vendor/github.com/pborman/uuid/version4.go
  vendor/kubevirt.io/api/core/v1/deepcopy_generated.go
  vendor/kubevirt.io/api/core/v1/defaults.go
  vendor/kubevirt.io/api/core/v1/schema.go
  vendor/kubevirt.io/api/core/v1/schema_swagger_generated.go
  vendor/kubevirt.io/api/core/v1/types.go
  vendor/kubevirt.io/api/core/v1/types_swagger_generated.go
  vendor/kubevirt.io/api/core/v1/zz_generated.defaults.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types_swagger_generated.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api-provider-kubevirt/api/v1alpha1/condition_consts.go
  vendor/sigs.k8s.io/cluster-api-provider-kubevirt/api/v1alpha1/kubevirtclustertemplate_types.go
  vendor/sigs.k8s.io/cluster-api-provider-kubevirt/api/v1alpha1/kubevirtmachine_types.go
  vendor/sigs.k8s.io/cluster-api-provider-kubevirt/api/v1alpha1/zz_generated.deepcopy.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#4440 HOSTEDCP-1569: test: e2e: skip unknown conditions instead of erroring
  test/e2e/nodepool_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4445 OCPBUGS-37703: fix release stream flag/rhcos image for create cluste…
  cmd/cluster/azure/create.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/cli

#4439 OSASINFRA-3550: docs/openstack: adds content for Ingress with MetalLB
  docs/content/how-to/openstack/create-openstack-cluster.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4436 NO-JIRA: Konflux migration for release-4.16
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-mce-26-pull-request.yaml
  .tekton/hypershift-release-mce-26-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4447 HOSTEDCP-1778: Default multi-arch flag to true and default release stream for HCP CLI
  cmd/cluster/core/create.go
  cmd/version/version.go
  product-cli/cmd/cluster/aws/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4020 CNF-12681: Added support for performance profile status
  api/hypershift/v1beta1/nodepool_conditions.go
  go.mod
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  test/e2e/nodepool_nto_performanceprofile_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/testing

#4434 OCPBUGS-36766: Delete IDMS in dataplane once HCP ICS field is removed
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#4448 NO-JIRA: Flaky cert validation test
  support/certs/tls.go
Labels: approved, lgtm, jira/valid-reference, area/testing
