Repository openshift/hypershift, pull requests merged in 2024-02, with the labels that each got.

#3265 [release-4.14] OCPBUGS-23997: add watch for HCP pullsecret to HCCO
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3493 NO-JIRA: contrib: add code for aws-tag-lb-service-webhook
  contrib/aws-tag-lb-service-webhook/Dockerfile
  contrib/aws-tag-lb-service-webhook/go.mod
  contrib/aws-tag-lb-service-webhook/go.sum
  contrib/aws-tag-lb-service-webhook/main.go
  contrib/aws-tag-lb-service-webhook/manifests/deployment.yaml
  contrib/aws-tag-lb-service-webhook/manifests/mutating-webhook-configuration.yaml
  contrib/aws-tag-lb-service-webhook/manifests/service.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#3483 HOSTEDCP-1373: ARO HCP - Add capability for Azure VMs to be created with ephemeral disks
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1beta1/nodepool_types.go
  client/applyconfiguration/hypershift/v1alpha1/azurenodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/azurenodepoolplatform.go
  cmd/cluster/azure/create.go
  cmd/cluster/core/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/azure/create.go
  docs/content/how-to/azure/create-azure-cluster-with-options.md
  docs/content/reference/api.md
  examples/fixtures/example.go
  examples/fixtures/example_azure.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/azure.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3489 NO-JIRA: remove PrivateIngressController cleanup
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ingress.go
  control-plane-operator/main.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3449 NO-JIRA: kubevirt, e2e, Add additional network test
  test/e2e/nodepool_kv_multinet_test.go
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3096 [release-4.14] OCPBUGS-20547,OCPBUGS-20180: Added network validations
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3500 [release-4.15] CNV-37394: Remove '--attach-default-network' from productized cli
  product-cli/cmd/cluster/kubevirt/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#3472 OCPBUGS-27161: reflect NodePool replica count nil in status
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, jira/severity-low, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3501 HOSTEDCP-1408: Update CAPZ Identity Type to Service Principal
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3499 [release-4.15] NO-JIRA: kubevirt, e2e Add additional network test
  test/e2e/nodepool_kv_multinet_test.go
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3277 MULTIARCH-3882: Support PER solution for powervs platform via transit gateway
  cmd/cluster/core/create.go
  cmd/cluster/core/destroy.go
  cmd/cluster/powervs/create.go
  cmd/cluster/powervs/destroy.go
  cmd/infra/powervs/create.go
  cmd/infra/powervs/destroy.go
  cmd/infra/powervs/validate.go
  docs/content/how-to/powervs/create-cluster-powervs.md
  docs/content/how-to/powervs/prerequisites-and-env-guide.md
  go.mod
  go.sum
  test/e2e/e2e_test.go
  test/e2e/util/fixture.go
  vendor/github.com/IBM/networking-go-sdk/common/version.go
  vendor/github.com/IBM/networking-go-sdk/directlinkv1/direct_link_v1.go
  vendor/github.com/IBM/networking-go-sdk/transitgatewayapisv1/transit_gateway_apis_v1.go
  vendor/github.com/IBM/networking-go-sdk/zonesv1/zones_v1.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/documentation, area/cli, area/testing

#3507 NO-JIRA: manifests: Skip pod anti affinity for nil labels
  support/config/deployment.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3484 OCPBUGS-28601: Remove webhook validations that introduce resource ordering
  api/hypershift/v1beta1/hostedcluster_conditions.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3511 OCPBUGS-28625: cpo: honor user provided oauthmetadata configmap passed in Authentication config
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/oauth.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#3515 [release-4.15] OCPBUGS-28603: Remove webhook validations that introduce resource ordering
  api/hypershift/v1beta1/hostedcluster_conditions.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3491 MULTIARCH-4084: Reduce the policy access scope to specific instance
  cmd/infra/powervs/create.go
  cmd/infra/powervs/destroy.go
  cmd/infra/powervs/service_id.go
  cmd/infra/powervs/service_id_test.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#3510 NO-JIRA: Add app labels to KubeVirt CCM component
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/reconcile.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3450 OCPBUGS-28741: Fix default release image lookup
  support/supportedversion/version.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3389 [release-4.14] OCPBUGS-26526: Documented to disable UWM telemetry writer in disconnected envs
  docs/content/how-to/disconnected/known-issues.md
  docs/content/how-to/metrics-sets.md
  hypershift-operator/main.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/documentation

#3488 OCPBUGS-28659: Add ValidatingAdmissionPolicy to KAS config
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Labels: approved, lgtm, jira/severity-low, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3512 NO-JIRA: remove unneeded code to copy Authentication refs
  api/util/configrefs/refs_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3513 OCPBUGS-27282: Make ControllerAvailabilityPolicy immutable
  api/hypershift/v1alpha1/hosted_controlplane.go
  api/hypershift/v1beta1/hosted_controlplane.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3517 CNV-36608: Enable InPlace NodePool upgrade test for kubevirt
  test/e2e/nodepool_upgrade_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3429 NO-JIRA: Fix issue with release note tool
  Makefile
  hack/tools/release/notes.go
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#3520 [release-4.14] OCPBUGS-29000,OCPBUGS-28984,OCPBUGS-28985,OCPBUGS-28986,OCPBUGS-19956: Support Disconnected HCP
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/cpo.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/manifests.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/main.go
  ignition-server/controllers/local_ignitionprovider.go
  support/releaseinfo/fake/fake.go
  support/releaseinfo/registry_image_content_policies.go
  support/releaseinfo/releaseinfo.go
  support/util/deployment.go
  support/util/fakeimagemetadataprovider/fakeimagemetadataprovider.go
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3540 NO-JIRA: stevekuznetsov approver on CPPO and integration tests
  control-plane-pki-operator/OWNERS
  test/integration/OWNERS
Labels: approved, lgtm, jira/valid-reference, area/testing, area/control-plane-pki-operator

#3473 OCPBUGS-29179: [4.15] reflect NodePool replica count nil in status
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, jira/severity-low, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3538 OCPBUGS-29103: control-plane-pki-operator: validate CN for CSR
  control-plane-pki-operator/certificates/validation.go
  control-plane-pki-operator/certificates/validation_test.go
  control-plane-pki-operator/certificatesigningcontroller/certificatesigningcontroller_test.go
  control-plane-pki-operator/certrotationcontroller/certrotationcontroller.go
  test/integration/control_plane_pki_operator.go
  test/integration/framework/pki.go
  test/integration/framework/testdata/csr.pem
  test/integration/framework/testdata/tls.crt
  test/integration/framework/testdata/tls.key
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing, area/control-plane-pki-operator

#3525 HOSTEDCP-1420: Set a fixed minimum supported version
  hypershift-operator/controllers/supportedversion/reconciler_test.go
  support/supportedversion/version.go
  support/supportedversion/version_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3521 OCPBUGS-29020: reduce external-dns route53 call volume
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/cli, area/ci-tooling

#3545 HOSTEDCP-1407: Add steps for seting up azure CI cluster
  contrib/ci/AzureCI/README.md
  contrib/ci/AzureCI/hypershift-install-azure.yaml
Labels: approved, lgtm, jira/valid-reference, area/documentation

#3561 NO-JIRA: Developer namespace template for CI clusters
  contrib/ci/README.md
  contrib/ci/dev-namespace-template.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#3562 NO-JIRA: Reduce nodepool test cases for KubeVirt due to infra perf issues
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3560 NO-ISSUE: test: wait longer for certificate signing, revocation
  test/integration/control_plane_pki_operator.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3542 OCPBUGS-29104: control-plane-pki-operator: add a signer for SRE break-glass
  api/certificates/v1alpha1/certificaterevocationrequest_types.go
  cmd/install/assets/hypershift-operator/certificates.hypershift.openshift.io_certificaterevocationrequests.yaml
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller.go
  control-plane-pki-operator/certificates/validation.go
  control-plane-pki-operator/certificates/validation_test.go
  control-plane-pki-operator/certificatesigningcontroller/certificatesigningcontroller_test.go
  control-plane-pki-operator/certrotationcontroller/certrotationcontroller.go
  control-plane-pki-operator/manifests/pki.go
  control-plane-pki-operator/operator.go
  control-plane-pki-operator/targetconfigcontroller/targetconfigcontroller.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/controlplanepkioperator/reconcile_test.go
  hypershift-operator/controllers/manifests/controlplanepkioperator/testdata/zz_fixture_TestReconcileCSRApproverClusterRole.yaml
  hypershift-operator/controllers/manifests/controlplanepkioperator/testdata/zz_fixture_TestReconcileCSRSignerClusterRole.yaml
  test/integration/control_plane_pki_operator.go
  test/integration/framework/pki.go
  test/integration/framework/pki_test.go
  test/integration/framework/testdata/csr.pem
  test/integration/framework/testdata/customer-break-glass-csr.pem
  test/integration/framework/testdata/customer-break-glass-tls.crt
  test/integration/framework/testdata/customer-break-glass-tls.key
  test/integration/framework/testdata/sre-break-glass-csr.pem
  test/integration/framework/testdata/sre-break-glass-tls.crt
  test/integration/framework/testdata/sre-break-glass-tls.key
  test/integration/framework/testdata/tls.crt
  test/integration/framework/testdata/tls.key
  vendor/github.com/openshift/hypershift/api/certificates/v1alpha1/certificaterevocationrequest_types.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/cli, area/testing, area/ci-tooling, area/control-plane-pki-operator

#3544 OCPBUGS-29209: hypershift-operator: don't create PKI rbac when disabled
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/hypershift-operator

#3405 OCPBUGS-28538: Added docs to get other sdn providers deployed with agent provider
  docs/content/how-to/agent/other-sdn-providers.md
  docs/content/how-to/aws/other-sdn-providers.md
  docs/content/how-to/sdn/other-sdn-providers.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/documentation

#3566 OCPBUGS-29418: control-plane-pki-operator: add a signer for SRE break-glass
  api/certificates/v1alpha1/certificaterevocationrequest_types.go
  cmd/install/assets/hypershift-operator/certificates.hypershift.openshift.io_certificaterevocationrequests.yaml
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller.go
  control-plane-pki-operator/certificates/validation.go
  control-plane-pki-operator/certificates/validation_test.go
  control-plane-pki-operator/certificatesigningcontroller/certificatesigningcontroller_test.go
  control-plane-pki-operator/certrotationcontroller/certrotationcontroller.go
  control-plane-pki-operator/manifests/pki.go
  control-plane-pki-operator/operator.go
  control-plane-pki-operator/targetconfigcontroller/targetconfigcontroller.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/controlplanepkioperator/reconcile_test.go
  hypershift-operator/controllers/manifests/controlplanepkioperator/testdata/zz_fixture_TestReconcileCSRApproverClusterRole.yaml
  hypershift-operator/controllers/manifests/controlplanepkioperator/testdata/zz_fixture_TestReconcileCSRSignerClusterRole.yaml
  test/integration/control_plane_pki_operator.go
  test/integration/framework/pki.go
  test/integration/framework/pki_test.go
  test/integration/framework/testdata/csr.pem
  test/integration/framework/testdata/customer-break-glass-csr.pem
  test/integration/framework/testdata/customer-break-glass-tls.crt
  test/integration/framework/testdata/customer-break-glass-tls.key
  test/integration/framework/testdata/sre-break-glass-csr.pem
  test/integration/framework/testdata/sre-break-glass-tls.crt
  test/integration/framework/testdata/sre-break-glass-tls.key
  test/integration/framework/testdata/tls.crt
  test/integration/framework/testdata/tls.key
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/cli, area/testing, area/ci-tooling, area/control-plane-pki-operator

#3530 [release-4.14] MULTIARCH-4084: Reduce the policy access scope to specific instance
  cmd/infra/powervs/create.go
  cmd/infra/powervs/destroy.go
  cmd/infra/powervs/service_id.go
  cmd/infra/powervs/service_id_test.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#3547 Revert "CNV-36608: Enable InPlace NodePool upgrade test for kubevirt"
  test/e2e/nodepool_upgrade_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3529 [release-4.15] MULTIARCH-4084: Reduce the policy access scope to specific instance
  cmd/infra/powervs/create.go
  cmd/infra/powervs/destroy.go
  cmd/infra/powervs/service_id.go
  cmd/infra/powervs/service_id_test.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#3572 OCPBUGS-29115: Default NodeUpgradeType on day2 nodepool creation
  cmd/nodepool/core/create.go
Labels: approved, lgtm, jira/severity-low, jira/valid-bug, jira/valid-reference, area/cli

#3578 NO-JIRA: remove dead code from kas config
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3464 NO-JIRA: KubeVirt Platform Documentation for Additional Network, CPU Performance, and VM NodeSelector
  docs/content/how-to/kubevirt/configuring-network.md
  docs/content/how-to/kubevirt/create-kubevirt-cluster.md
  docs/content/how-to/kubevirt/performance-tuning.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation

#3585 NO-JIRA: contrib/aws-tag-lb-service-webhook: JSONPatch improvements
  contrib/aws-tag-lb-service-webhook/go.mod
  contrib/aws-tag-lb-service-webhook/go.sum
  contrib/aws-tag-lb-service-webhook/main.go
  contrib/aws-tag-lb-service-webhook/main_test.go
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#3120 HOSTEDCP-1438: Preserve container resources for more hosted control plane components
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/packageserver.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3569 OCPBUGS-29586: use 2040 for apiserver svc in IBM provider
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cco/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cco/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator_test.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/dnsoperator/dnsoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/packageserver.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator_test.go
  control-plane-operator/controllers/hostedcontrolplane/storage/operator.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  support/config/constants.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3581 HOSTEDCP-1436: Make nodepool.spec.aws.subnet required
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/aws/create.go
  docs/content/reference/api.md
  examples/fixtures/example.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/platform/aws/controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/nodepool_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3557 HOSTEDCP-1428: hcco: report node count on HCPs
  Makefile
  api/hypershift/v1alpha1/hosted_controlplane.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1beta1/hostedcontrolplanestatus.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/nodecount/controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/nodecount/setup.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3490 HOSTEDCP-1411: Add capability to specify additional tags to azure resource…
  cmd/cluster/azure/create.go
  cmd/cluster/core/create.go
  cmd/infra/azure/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#3602 OCPBUGS-28538: Add an SCC for validation pods with Cilium SDN
  docs/content/how-to/sdn/other-sdn-providers.md
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/documentation

#3598 NO-JIRA: Bump the k8s-dependencies group in /api with 2 updates
  api/go.mod
  api/go.sum
  api/vendor/k8s.io/api/core/v1/generated.proto
  api/vendor/k8s.io/api/core/v1/types.go
  api/vendor/k8s.io/api/core/v1/types_swagger_doc_generated.go
  api/vendor/modules.txt
  go.mod
  go.sum
  vendor/k8s.io/api/core/v1/generated.proto
  vendor/k8s.io/api/core/v1/types.go
  vendor/k8s.io/api/core/v1/types_swagger_doc_generated.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3575 NO-JIRA: Ignore kubectl version mistmaches in Component Versions
  support/releaseinfo/releaseinfo.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/ci-tooling

#3614 OCPBUGS-29723: CLI: create nodepool aws - remove sg requirement
  cmd/nodepool/aws/create.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/cli

#3616 NO-JIRA: always set minAvailable on PDBs to 1
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kas/pdb.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/pdb.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/pdb.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3583 HOSTEDCP-1424: ARO HCP Support Disabling Outbound SNAT
  cmd/cluster/azure/create.go
  cmd/infra/azure/create.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/providerconfig.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/cli

#3595 [release-4.15] OCPBUGS-29780: use 2040 for apiserver svc in IBM provider
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cco/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cco/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator_test.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/dnsoperator/dnsoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/packageserver.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator_test.go
  control-plane-operator/controllers/hostedcontrolplane/storage/operator.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  support/config/constants.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3615 OCPBUGS-29645: control-plane-pki-operator: fix CA used for SRE client credentials
  control-plane-pki-operator/operator.go
  test/integration/README.md
  test/integration/control_plane_pki_operator.go
  test/integration/framework/pki.go
  test/integration/framework/testdata/customer-break-glass-csr.pem
  test/integration/framework/testdata/customer-break-glass-invalid-csr.pem
  test/integration/framework/testdata/customer-break-glass-tls.crt
  test/integration/framework/testdata/customer-break-glass-tls.key
  test/integration/framework/testdata/sre-break-glass-csr.pem
  test/integration/framework/testdata/sre-break-glass-invalid-csr.pem
  test/integration/framework/testdata/sre-break-glass-tls.crt
  test/integration/framework/testdata/sre-break-glass-tls.key
  test/integration/run.sh
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing, area/control-plane-pki-operator

#3619 NO-JIRA: adjust pdb for oauth-apiserver
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3477 OCPBUGS-28607: feat(config): Default RevisionHistoryLimit to 2 for deployments
  control-plane-operator/controllers/hostedcontrolplane/cco/testdata/zz_fixture_TestReconcileDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/pkioperator/testdata/zz_fixture_TestReconcileControlPlanePKIOperatorDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/testdata/zz_fixture_TestReconcileOperatorDeployment.yaml
  support/config/deployment.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#3601 OCPBUGS-29855: feat(ho): Add flag for dedicated request serving isolation
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/hypershift_operator_test.go
  cmd/install/install.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/main.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#3600 NO-JIRA: Re-enable InPlace NodePool upgrade test for kubevirt (CNV-36608)
  test/e2e/nodepool_upgrade_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3608 OCPBUGS-27180: Update the oauth API server's shutdown delay duration
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3627 OCPBUGS-23457: Switch to use service endpoint for Konnectivity
  control-plane-operator/controllers/hostedcontrolplane/kas/egresscfg.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#3622 OCPBUGS-28370: Skip SG deletion if it has dependancy violation
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#3606 NO-JIRA: Remove specific pull secret watch in HCCO
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3631 NO-JIRA: Remove replace statements
  cmd/install/assets/cluster-api-provider-kubevirt/infrastructure.cluster.x-k8s.io_kubevirtmachines.yaml
  cmd/install/assets/cluster-api-provider-kubevirt/infrastructure.cluster.x-k8s.io_kubevirtmachinetemplates.yaml
  go.mod
  go.sum
  hack/app-sre/saas_template.yaml
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/authorize.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/authorize_utils.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/register.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types_swagger_generated.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/utils.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/kubevirt.io/controller-lifecycle-operator-sdk/api/LICENSE
  vendor/kubevirt.io/controller-lifecycle-operator-sdk/api/types.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/cli, area/ci-tooling

#3642 NO-JIRA: test: debug certificates on unauthz error
  test/integration/control_plane_pki_operator.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3644 OCPBUGS-30029: sync AuthenticationConfiguration type with o/k 1.28 carry
  control-plane-operator/controllers/hostedcontrolplane/kas/auth_types.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#3649 NO-JIRA: test: increase CPO mutate budget
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3647 OCPBUGS-30030: rollout kas on auth config change
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/auth.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#3594 [release-4.14] OCPBUGS-29782: use 2040 for apiserver svc in IBM provider
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator_test.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/dnsoperator/dnsoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/packageserver.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator_test.go
  control-plane-operator/controllers/hostedcontrolplane/storage/operator.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  support/config/constants.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3618 OCPBUGS-29773: set Konnectivity cipher suites
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Labels: approved, ok-to-test, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#3652 NO-JIRA: test: skip CCO in pod crash check
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing
