Repository openshift/hypershift, pull requests merged in 2024-09, with the labels that each got.

#4643 HOSTEDCP-1767: chore: organize install command for readability
  cmd/install/install.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4648 NO-JIRA: Konflux migration 4.14
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4649 NO-JIRA: Konflux migration
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4650 HOSTEDCP-1939: Trigger SharedIngress reconciliation immediately on start
  hypershift-operator/controllers/sharedingress/sharedingress_controller.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4656 OCPBUGS-38794: handle version skewed NodePools that do not have rhel9 binaries
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/local_ignitionprovider_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4661 [release-4.14] NO-JIRA: PDB backports
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ingress.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4660 OCPBUGS-39396: Fix multi-arch validation by prioritizing ReleaseImage check
  cmd/cluster/aws/create.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/cli

#4503 OCPBUGS-24400: Reconcile over an ETCD failing member
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  docs/content/how-to/disaster-recovery/etcd-recovery.md
  etcd-recovery/OWNERS
  etcd-recovery/etcdrecovery.go
  etcd-recovery/etcdrecovery_test.go
  go.mod
  go.sum
  hypershift-operator/controllers/hostedcluster/etcd_recovery.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/manifests/etcdrecovery/manifests.go
  hypershift-operator/main.go
  support/config/constants.go
  support/util/util.go
  vendor/go.etcd.io/etcd/api/v3/version/version.go
  vendor/go.etcd.io/etcd/client/pkg/v3/logutil/zap.go
  vendor/go.etcd.io/etcd/client/pkg/v3/transport/listener.go
  vendor/go.etcd.io/etcd/client/v3/client.go
  vendor/go.etcd.io/etcd/client/v3/retry_interceptor.go
  vendor/go.etcd.io/etcd/client/v3/watch.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli

#4546 OCPBUGS-39525: Fix uses of MustParse* on non-constant input
  cmd/cluster/aws/create.go
  cmd/cluster/core/create.go
  cmd/nodepool/kubevirt/create.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/machine.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli

#4670 OCPBUGS-33628: Add oauth domain for kas cert
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#4451 CNV-45889: Add --labels hcp cli arg for adding labels to HostedCluster
  cmd/cluster/core/create.go
Labels: approved, lgtm, jira/valid-reference

#4669 OSASINFRA-3584: openstack: remove support for floating IP
  api/hypershift/v1beta1/hostedcluster_types.go
  client/applyconfiguration/hypershift/v1beta1/openstackplatformspec.go
  cmd/cluster/openstack/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/ingress.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/how-to/openstack/create-openstack-cluster.md
  docs/content/reference/api.md
  test/e2e/e2e_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing

#4554 HOSTEDCP-1850: HyperShift operator: Allow setting Kube APIServer maximum requests inflight
  api/scheduling/v1alpha1/clustersizingconfiguration_types.go
  api/scheduling/v1alpha1/zz_generated.deepcopy.go
  client/applyconfiguration/scheduling/v1alpha1/effects.go
  cmd/install/assets/hypershift-operator/scheduling.hypershift.openshift.io_clustersizingconfigurations.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  vendor/github.com/openshift/hypershift/api/scheduling/v1alpha1/clustersizingconfiguration_types.go
  vendor/github.com/openshift/hypershift/api/scheduling/v1alpha1/zz_generated.deepcopy.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli

#4671 OCPBUGS-37052: Use http dialer when dialing through proxy
  konnectivity-https-proxy/cmd.go
  support/konnectivityproxy/dialer.go
  support/konnectivityproxy/proxy_dialer.go
  support/konnectivityproxy/resolver.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#4674 NO-JIRA: docs: add diagram to konnectivity reference
  docs/content/reference/konnectivity.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4644 [release-4.17] OSASINFRA-3572,OSASINFRA-3573: OpenStack backports for ingress
  api/hypershift/v1beta1/hostedcluster_types.go
  client/applyconfiguration/hypershift/v1beta1/openstackplatformspec.go
  cmd/cluster/openstack/create.go
  cmd/infra/aws/route53.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/route53.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/ingress.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/how-to/openstack/create-openstack-cluster.md
  docs/content/reference/api.md
  support/openstackutil/ingress.go
  support/openstackutil/ingress_test.go
  test/e2e/e2e_test.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling

#4516 OCPBUGS-38349: CPO oauth idp converter: resolve names before dialing
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#4667 NO-JIRA: Revert "Merge pull request #4661 from jparrill/bp-4.14/OCPBUGS-24308"
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ingress.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4686 OCPBUGS-39420: Let payload generation pick the release for the NodePool
  ignition-server/cmd/run_local_ignitionprovider.go
  ignition-server/controllers/local_ignitionprovider.go
  support/releaseinfo/registry_image_content_policies_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#4676 OCPBUGS-41328: Use KubeClientCABundle for HostedClusterConfigOperator cluster-signer-ca
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4688 OCPBUGS-38062: [release-4.16] Use HTTP proxy for ingress controller
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  konnectivity-https-proxy/cmd.go
  support/konnectivityproxy/dialer.go
  support/konnectivityproxy/proxy_dialer.go
  support/konnectivityproxy/resolver.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4552 HOSTEDCP-1896: [release-4.15] Allow setting Kube APIServer maximum requests in flight
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#4692 NO-JIRA: Add PodDisruptionBudget for router deployment
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ingress.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4679 HOSTEDCP-1940: Add alert for Etcd recovery
  api/hypershift/v1alpha1/conditions.go
  api/hypershift/v1beta1/hostedcluster_conditions.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/etcd_recovery.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/conditions.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation

#4693 OCPBUGS-39123: Add external kas address to no proxy skip list
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/haproxy_test.go
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_the_external_kas_adress_it_should_create_an_haproxy.yaml
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/hypershift-operator

#4668 HOSTEDCP-1942: Add functional tests for Etcd Recovery
  test/e2e/chaos_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/testing

#4701 OCPBUGS-39039: Allow Encryption at Host to be Independently Toggled from DiskEncryptionSetID
  api/go.mod
  api/go.sum
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1beta1/nodepool_types.go
  api/vendor/golang.org/x/net/LICENSE
  api/vendor/golang.org/x/net/http2/transport.go
  api/vendor/golang.org/x/text/LICENSE
  api/vendor/modules.txt
  client/applyconfiguration/hypershift/v1alpha1/azurenodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/azurenodepoolplatform.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/azure/create.go
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/azure.go
  hypershift-operator/controllers/nodepool/azure_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/nodepool_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli

#4704 HOSTEDCP-1569: e2e: add version gating for 4.17
  test/e2e/e2e_test.go
  test/e2e/util/util.go
  test/e2e/util/version.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4707 OCPBUGS-38425: Return the right tagReference on Catalogs ImageStream
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4703 ARO-10259: add install render option to write manifests to file
  cmd/install/install.go
  cmd/install/install_render.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4712 HOSTEDCP-1569: e2e: add version gating for 4.16
  test/e2e/nodepool_nto_performanceprofile_test.go
  test/e2e/util/util.go
  test/e2e/util/version.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4711 OCPBUGS-39039: Add EncryptionAtHost to create azure cluster CLI
  cmd/cluster/azure/create.go
  cmd/nodepool/azure/create.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/cli

#4719 NO-JIRA: chore(deps): update konflux references (release-4.15)
  .tekton/hypershift-release-mce-25-pull-request.yaml
  .tekton/hypershift-release-mce-25-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4697 [release-4.15]HOSTEDCP-1956: bump CCO and go-jose version
  cmd/infra/aws/iam.go
  go.mod
  go.sum
  support/oidc/oidc.go
  vendor/github.com/openshift/cloud-credential-operator/pkg/apis/cloudcredential/v1/codec.go
  vendor/github.com/openshift/cloud-credential-operator/pkg/apis/cloudcredential/v1/types_aws.go
  vendor/github.com/openshift/cloud-credential-operator/pkg/apis/cloudcredential/v1/types_azure.go
  vendor/github.com/openshift/cloud-credential-operator/pkg/apis/cloudcredential/v1/types_credentialsrequest.go
  vendor/github.com/openshift/cloud-credential-operator/pkg/apis/cloudcredential/v1/types_gcp.go
  vendor/github.com/openshift/cloud-credential-operator/pkg/apis/cloudcredential/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/cloud-credential-operator/pkg/cmd/provisioning/constants.go
  vendor/github.com/openshift/cloud-credential-operator/pkg/cmd/provisioning/ibmcloud/service_id.go
  vendor/github.com/openshift/cloud-credential-operator/pkg/cmd/provisioning/utils.go
  vendor/gopkg.in/go-jose/go-jose.v2/.gitcookies.sh.enc
  vendor/gopkg.in/go-jose/go-jose.v2/.gitignore
  vendor/gopkg.in/go-jose/go-jose.v2/.travis.yml
  vendor/gopkg.in/go-jose/go-jose.v2/CHANGELOG.md
  vendor/gopkg.in/go-jose/go-jose.v2/CONTRIBUTING.md
  vendor/gopkg.in/go-jose/go-jose.v2/LICENSE
  vendor/gopkg.in/go-jose/go-jose.v2/README.md
  vendor/gopkg.in/go-jose/go-jose.v2/asymmetric.go
  vendor/gopkg.in/go-jose/go-jose.v2/cipher/cbc_hmac.go
  vendor/gopkg.in/go-jose/go-jose.v2/cipher/concat_kdf.go
  vendor/gopkg.in/go-jose/go-jose.v2/cipher/ecdh_es.go
  vendor/gopkg.in/go-jose/go-jose.v2/cipher/key_wrap.go
  vendor/gopkg.in/go-jose/go-jose.v2/crypter.go
  vendor/gopkg.in/go-jose/go-jose.v2/doc.go
  vendor/gopkg.in/go-jose/go-jose.v2/encoding.go
  vendor/gopkg.in/go-jose/go-jose.v2/json/LICENSE
  vendor/gopkg.in/go-jose/go-jose.v2/json/README.md
  vendor/gopkg.in/go-jose/go-jose.v2/json/decode.go
  vendor/gopkg.in/go-jose/go-jose.v2/json/encode.go
  vendor/gopkg.in/go-jose/go-jose.v2/json/indent.go
  vendor/gopkg.in/go-jose/go-jose.v2/json/scanner.go
  vendor/gopkg.in/go-jose/go-jose.v2/json/stream.go
  vendor/gopkg.in/go-jose/go-jose.v2/json/tags.go
  vendor/gopkg.in/go-jose/go-jose.v2/jwe.go
  vendor/gopkg.in/go-jose/go-jose.v2/jwk.go
  vendor/gopkg.in/go-jose/go-jose.v2/jws.go
  vendor/gopkg.in/go-jose/go-jose.v2/opaque.go
  vendor/gopkg.in/go-jose/go-jose.v2/shared.go
  vendor/gopkg.in/go-jose/go-jose.v2/signing.go
  vendor/gopkg.in/go-jose/go-jose.v2/symmetric.go
  vendor/gopkg.in/square/go-jose.v2/BUG-BOUNTY.md
  vendor/gopkg.in/square/go-jose.v2/README.md
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/cli

#4720 NO-JIRA: Add log for ignition provider using mirrored release image
  ignition-server/controllers/local_ignitionprovider.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4723 OCPBUGS-41935: Sanitize the IgnitionPayload (XSS)
  ignition-server/cmd/start.go
Labels: approved, lgtm, do-not-merge/hold, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4722 HOSTEDCP-1965: Ignore vendor and resources.go from snyk code test
  .snyk
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4717 HOSTEDCP-1678: Refactor config generation for NodePool
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_test.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/nto.go
  hypershift-operator/controllers/nodepool/nto_test.go
  hypershift-operator/controllers/nodepool/secret_janitor.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4698 [release-4.14]HOSTEDCP-1957: bump go-jose version
  cmd/infra/aws/iam.go
  go.mod
  go.sum
  support/oidc/oidc.go
  vendor/gopkg.in/go-jose/go-jose.v2/.gitcookies.sh.enc
  vendor/gopkg.in/go-jose/go-jose.v2/.gitignore
  vendor/gopkg.in/go-jose/go-jose.v2/.travis.yml
  vendor/gopkg.in/go-jose/go-jose.v2/CHANGELOG.md
  vendor/gopkg.in/go-jose/go-jose.v2/CONTRIBUTING.md
  vendor/gopkg.in/go-jose/go-jose.v2/LICENSE
  vendor/gopkg.in/go-jose/go-jose.v2/README.md
  vendor/gopkg.in/go-jose/go-jose.v2/asymmetric.go
  vendor/gopkg.in/go-jose/go-jose.v2/cipher/cbc_hmac.go
  vendor/gopkg.in/go-jose/go-jose.v2/cipher/concat_kdf.go
  vendor/gopkg.in/go-jose/go-jose.v2/cipher/ecdh_es.go
  vendor/gopkg.in/go-jose/go-jose.v2/cipher/key_wrap.go
  vendor/gopkg.in/go-jose/go-jose.v2/crypter.go
  vendor/gopkg.in/go-jose/go-jose.v2/doc.go
  vendor/gopkg.in/go-jose/go-jose.v2/encoding.go
  vendor/gopkg.in/go-jose/go-jose.v2/json/LICENSE
  vendor/gopkg.in/go-jose/go-jose.v2/json/README.md
  vendor/gopkg.in/go-jose/go-jose.v2/json/decode.go
  vendor/gopkg.in/go-jose/go-jose.v2/json/encode.go
  vendor/gopkg.in/go-jose/go-jose.v2/json/indent.go
  vendor/gopkg.in/go-jose/go-jose.v2/json/scanner.go
  vendor/gopkg.in/go-jose/go-jose.v2/json/stream.go
  vendor/gopkg.in/go-jose/go-jose.v2/json/tags.go
  vendor/gopkg.in/go-jose/go-jose.v2/jwe.go
  vendor/gopkg.in/go-jose/go-jose.v2/jwk.go
  vendor/gopkg.in/go-jose/go-jose.v2/jws.go
  vendor/gopkg.in/go-jose/go-jose.v2/opaque.go
  vendor/gopkg.in/go-jose/go-jose.v2/shared.go
  vendor/gopkg.in/go-jose/go-jose.v2/signing.go
  vendor/gopkg.in/go-jose/go-jose.v2/symmetric.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/cli

#4732 HOSTEDCP-1569: e2e: add version gating for 4.15
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4734 HOSTEDCP-1968: Refactor nodepool token management
  hypershift-operator/controllers/nodepool/config_test.go
  hypershift-operator/controllers/nodepool/manifests.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/secret_janitor.go
  hypershift-operator/controllers/nodepool/secret_janitor_test.go
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4740 OCPBUGS-42107: Allow the control plane operator to finish deleting VPC endpoint for PrivateLink clusters
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/hypershift-operator

#4709 OCPBUGS-41824: Conditionally manage kubeconfig secrets for DNS and Ingress operators
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4743 HOSTEDCP-1569: e2e: add version gating for 4.14
  test/e2e/util/util.go
  test/integration/control_plane_pki_operator.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4748 [release-4.17] NO-JIRA: Security fixes for openshift-ci-security job
  .snyk
  ignition-server/cmd/start.go
  support/util/util.go
  support/util/util_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/ci-tooling

#4741 OCPBUGS-32592: Add Annotation to skip deleting hcp namespace
  api/hypershift/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#4749 [release-4.15] OCPBUGS-42214: Make guest cluster components use the correct KAS port
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/haproxy_test.go
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_private_cluster_uses_.local_address_and_LB_kas.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_and_private_cluster_uses_.local_address_and_LB_kas.yaml
  support/util/expose.go
  support/util/expose_test.go
  support/util/networking.go
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/testing

#4750 [release-4.16] NO-JIRA: Security fixes for openshift-ci-security job
  .snyk
  ignition-server/cmd/start.go
  support/util/util.go
  support/util/util_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/ci-tooling

#4742 HOSTEDCP-1442: Split worker and vpc endpoint security groups
  api/hypershift/v1beta1/endpointservice_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_awsendpointservices.yaml
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/conversion/conversion_test.go
  support/awsutil/errorcode.go
  support/awsutil/sg.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/endpointservice_types.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli

#4751 [release-4.15] NO-JIRA: Security fixes for openshift-ci-security job
  .snyk
  ignition-server/cmd/start.go
  support/util/util.go
  support/util/util_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/ci-tooling

#4752 [release-4.14] NO-JIRA: Security fixes for openshift-ci-security job
  .snyk
  ignition-server/cmd/start.go
  support/util/util.go
  support/util/util_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/ci-tooling

#4754 NO-JIRA: remove CPO/CPPKIO from the hypershift-operator image build
  Dockerfile
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4724 OCPBUGS-38066: [release-4.14] Use HTTP proxy for ingress controller
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  konnectivity-https-proxy/cmd.go
  support/konnectivityproxy/dialer.go
  support/konnectivityproxy/proxy_dialer.go
  support/konnectivityproxy/resolver.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4745 NO-JIRA: Remove hack for CI in 4.11 release
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4755 NO-JIRA: repo cleanup
  .gitignore
  .ko.yaml
  Makefile
  fast.Dockerfile
  renovate.json
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4498 [release-4.14] OCPBUGS-38060: Add HTTP konnectivity proxy to OAuth server
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#4731 HOSTEDCP-1966: wrap nodePool tenancy API field in Placement struct
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1alpha1/awsnodepoolplatform.go
  client/applyconfiguration/hypershift/v1alpha1/placementoptions.go
  client/applyconfiguration/hypershift/v1beta1/awsnodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/placementoptions.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/aws.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/nodepool_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli

#4768 NO-JIRA: cmd/dump: add OpenStack CAPI resources
  cmd/cluster/core/dump.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4772 NO-JIRA: Fix docker check 'AS' as uppercase in container and docker files
  Containerfile.operator
  Dockerfile
  support/releaseinfo/registryclient/test/Dockerfile.testdriver
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4776 NO-JIRA: Add Dockerfile.dev to build all-in-one container image for development purposes
  Dockerfile.dev
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4282 HOSTEDCP-1788: Create seperate RGs for NSG and VNet
  cmd/infra/azure/create.go
  cmd/infra/azure/destroy.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4596 HOSTEDCP-1732: add PDB to sharedIngress router pod
  hypershift-operator/controllers/sharedingress/manifests.go
  hypershift-operator/controllers/sharedingress/router.go
  hypershift-operator/controllers/sharedingress/router_test.go
  hypershift-operator/controllers/sharedingress/sharedingress_controller.go
  support/config/deployment.go
  support/config/deployment_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli

#4782 NO-JIRA: e2e: add service and cluster CIDRs as flags to the e2e framework
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4744 OTA-1349: *: Propagate RetrievedUpdates from ClusterVersion up to HostedCluster
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/hostedclusterconfigoperator/controllers/hcpstatus/hcpstatus.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation

#4800 HOSTEDCP-1569: add dockerfile for e2e
  Dockerfile.e2e
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4797 NO-JIRA: clarify use of render and render-sensitive cli flags
  cmd/cluster/core/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4802 OCPBUGS-42433: Retry reconciliation with invalid configuration
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#4803 NO-JIRA: e2e: openstack: fix nil deref in route53 teardown
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4795 HOSTEDCP-1984: Refactor capi logic out from NodePool controller
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/inplace_test.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/nodepool/manifests.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/powervs.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4809 HOSTEDCP-1788: use getResourceGroupName for infra deletion in azure so destroy infra can be ran without --resource-group-name
  cmd/infra/azure/create.go
  cmd/infra/azure/destroy.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4775 OCPBUGS-42306: hash additionalTrustBundle as part of ignition config …
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_test.go
  test/e2e/nodepool_additionalTrustBundlePropagation.go
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/testing

#4823 HOSTEDCP-1976: Nodepool controller cleanup
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/kubevirt.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/powervs.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4804 CNV-48479: Add documentation for KubeVirt hosted cluster backup and restore
  docs/content/how-to/disaster-recovery/backup-and-restore-oadp.md
Labels: approved, lgtm, jira/valid-reference, area/documentation
