Repository openshift/hypershift, pull requests merged in 2024-06, with the labels that each got.

#4132 OCPBUGS-34741: Fix fleet manager pair label check
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/hypershift-operator

#3983 HOSTEDCP-1558: use openshift/api instead of thirdparty for machineconfig
  control-plane-operator/controllers/hostedcontrolplane/ignition/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ignition.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/reconcile.go
  hypershift-operator/controllers/manifests/manifests.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/haproxy_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  support/api/scheme.go
  test/e2e/nodepool_machineconfig_test.go
  vendor/github.com/openshift/api/machineconfiguration/v1/Makefile
  vendor/github.com/openshift/api/machineconfiguration/v1/doc.go
  vendor/github.com/openshift/api/machineconfiguration/v1/register.go
  vendor/github.com/openshift/api/machineconfiguration/v1/types.go
  vendor/github.com/openshift/api/machineconfiguration/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/machineconfiguration/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/machineconfiguration/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/testing

#4094 OCPBUGS-18711: add AWS STS URL to OIDC provider audiences
  cmd/infra/aws/iam.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/cli

#4121 HOSTEDCP-1697: Allow overriding hosted cluster size label
  api/hypershift/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedclustersizing/hostedclustersizing_controller.go
  hypershift-operator/controllers/hostedclustersizing/hostedclustersizing_controller_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4130 OCPBUGS-34734: Fix disconnected metadata inspection for nodepool
  hypershift-operator/main.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/hypershift-operator

#4135 NO-JIRA: Add link to agent heterogeneous nodepools doc
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation

#3987 OCPBUGS-32186: cmd: report server version, supported OCP
  cmd/install/assets/hypershift_operator.go
  cmd/version/version.go
  hypershift-operator/controllers/supportedversion/reconciler.go
  hypershift-operator/controllers/supportedversion/reconciler_test.go
  product-cli/main.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/hypershift-operator, area/cli

#4143 NO-JIRA: test/e2e: don't validate metrics after failure
  test/e2e/util/hypershift_framework.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4060 HOSTEDCP-1687: Allow arm64 baremetal nodes to a nodepool in a multi-arch cluster
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/hypershift-operator

#4071 HOSTEDCP-1564: Ensure VNET, NSG, & Managed RG locations match
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  support/azureutil/azureutil.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4039 OCPBUGS-33724: Fixes update issue with KubeVirt platform
  support/config/deployment.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4036 HOSTEDCP-1542: cmd: add an option to render into a file, use it in e2e
  cmd/cluster/aws/create.go
  cmd/cluster/azure/create.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create.go
  cmd/cluster/powervs/create.go
  cmd/infra/aws/create.go
  cmd/infra/aws/create_iam.go
  cmd/infra/powervs/create.go
  product-cli/cmd/cluster/cluster.go
  test/e2e/util/fixture.go
  test/e2e/util/hypershift_framework.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/testing

#4122 OCPBUGS-34699: Allow access to root-ca configmap in cluster-network-operator role
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator_test.go
Labels: approved, ok-to-test, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4151 NO-JIRA: test/e2e: fix prometheus serviceaccount handling against 4.16+
  test/e2e/util/query.go
  test/e2e/util/util.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/testing

#3969 OCPBUGS-32467: nodepool_controller: add a reconciler for cleanup
  hypershift-operator/controllers/nodepool/manifests.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/scheduler/autoscaler_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#4102 HOSTEDCP-1694: Automate HO Deployment Tag & Commit Updates for ROSA HCP
  go.work.sum
  hack/tools/deployment/README.md
  hack/tools/deployment/deployment-update.go
  hack/tools/go.mod
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4109 OCPBUGS-34607: Disable machine pool feature gate
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#4159 [release-4.14] NO-JIRA: test/e2e: fix prometheus serviceaccount handling against 4.16+
  test/e2e/util/query.go
  test/e2e/util/util.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/testing

#4153 HOSTEDCP-1709: e2e/util: improve logging during node readiness poll
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4142 HOSTEDCP-1709: test/e2e: constrain actions to context, timeout
  test/e2e/nodepool_kv_advanced_multinet_test.go
  test/e2e/util/client.go
  test/e2e/util/pod_exec.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4086 OCPBUGS-33952: Documented HCP service exposure
  docs/content/contribute/develop_in_cluster.md
  docs/content/how-to/agent/exposing-services-from-hcp.md
  docs/content/how-to/common/exposing-services-from-hcp.md
  docs/content/how-to/none/exposing-services-from-hcp.md
  docs/content/recipes/agent/exposing-dataplane-with-metallb.md
  docs/content/recipes/common/exposing-dataplane-with-metallb.md
  docs/content/recipes/index.md
  docs/content/recipes/none/exposing-dataplane-with-metallb.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/documentation

#4098 OCPBUGS-33953: Document how ICSP/IDMS work in HCP
  docs/content/how-to/common/exposing-services-from-hcp.md
  docs/content/how-to/disconnected/idms-icsp-for-management-clusters.md
  docs/content/how-to/disconnected/image-content-sources.md
  docs/content/how-to/disconnected/index.md
  docs/content/how-to/disconnected/known-issues.md
  docs/content/how-to/disconnected/tls-certificates.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/documentation

#4147 HOSTEDCP-1689: add PodMonitor for external-dns
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/cli, area/ci-tooling

#4026 HOSTEDCP-1553: Add annotation to customize log verbosity of kube-apiserver
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#4166 OCPBUGS-34987: Add missing Tag permissions to cli role
  cmd/infra/aws/create_cli_role.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/cli

#4169 HOSTEDCP-1709: hack/test: remove timeouts
  hack/ci-test-e2e-azure.sh
  hack/ci-test-e2e.sh
Labels: approved, lgtm, jira/valid-reference, area/testing, area/ci-tooling

#4171 NO-JIRA: test/e2e: remove dead code
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4128 [release-4.15] HOSTEDCP-1708: remove liveness and readiness probes that use the metrics
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/control-plane-operator

#4085 OCPBUGS-34274: Generate default worker security group rules based on machineCIDR
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/awsutil/sg.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#4163 HOSTEDCP-1712: Initialize infra id for e2e-azure tests
  test/e2e/util/fixture.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4170 HOSTEDCP-1709: test/e2e: always bound assertions in time
  test/e2e/chaos_test.go
  test/e2e/olm_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4164 NO-JIRA: Delete references to the openshift-sdn image in CNO
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_No_private_apiserver_connectivity__proxy_apiserver_address_is_set.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Private_apiserver_connectivity__proxy_apiserver_address_is_unset.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4176 HOSTEDCP-1446: hack: make the e2e script generic
  hack/ci-test-e2e.sh
Labels: approved, lgtm, jira/valid-reference, area/testing, area/ci-tooling

#4138 OCPBUGS-35205: Add hypershift-cluster-version-operator image to release providers
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/main.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4187 kubevirt, e2e: Skip advanced multinet for CI
  test/e2e/nodepool_test.go
Labels: approved, lgtm, area/testing

#4182 OCPBUGS-33951: Documentation for disconnected MGMT Cluster
  docs/content/how-to/disconnected/idms-icsp-for-management-clusters.md
  docs/content/how-to/disconnected/known-issues.md
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/documentation

#4177 [release-4.16] HOSTEDCP-1715: Kubernetes API Server Log Verbosity Annotation cherry pick to 4.16
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#4129 OCPBUGS-34807: Fixed ValidReleaseInfo condition
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_No_private_apiserver_connectivity__proxy_apiserver_address_is_set.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Private_apiserver_connectivity__proxy_apiserver_address_is_unset.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/params.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3970 HOSTEDCP-1514: support Azure diagnostics on NodePools
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1alpha1/azurenodepoolplatform.go
  client/applyconfiguration/hypershift/v1alpha1/diagnostics.go
  client/applyconfiguration/hypershift/v1beta1/azurenodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/diagnostics.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/azure.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#4123 IR-471:registry operator: Add missing env var, wait for rbac
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4172 HOSTEDCP-1709: test/e2e: misc context fixes:
  test/e2e/nodepool_autorepair_test.go
  test/e2e/nodepool_kms_root_volume_test.go
  test/e2e/nodepool_kv_advanced_multinet_test.go
  test/e2e/nodepool_kv_cache_image_test.go
  test/e2e/nodepool_kv_jsonpatch_test.go
  test/e2e/nodepool_kv_multinet_test.go
  test/e2e/nodepool_kv_nodeselector_test.go
  test/e2e/nodepool_kv_qos_guaranteed_test.go
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/nodepool_nto_performanceprofile_test.go
  test/e2e/nodepool_rolling_upgrade_test.go
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4136 OCPBUGS-34650: Allow specifying the volume detach timeout for machines via NodePools
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1alpha1/nodepoolspec.go
  client/applyconfiguration/hypershift/v1beta1/nodepoolspec.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/how-to/agent/create-heterogeneous-nodepools.md
  docs/content/how-to/automated-machine-management/configure-machines.md
  docs/content/how-to/automated-machine-management/nodepool-lifecycle.md
  docs/content/how-to/aws/create-aws-hosted-cluster-arm-workers.md
  docs/content/labs/Dual/hostedcluster/nodepool.md
  docs/content/labs/IPv4/hostedcluster/nodepool.md
  docs/content/labs/IPv6/hostedcluster/nodepool.md
  docs/content/reference/api.md
  examples/fixtures/example.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  product-cli/cmd/cluster/cluster.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#4198 [release-4.16] NO-JIRA: hack: make the e2e script generic
  hack/ci-test-e2e.sh
Labels: approved, lgtm, jira/valid-reference, area/testing, area/ci-tooling

#4186 HOSTEDCP-1446: hack: remove old arguments and scripts
  Makefile
  hack/ci-test-e2e-azure.sh
  hack/ci-test-e2e.sh
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#3975 HOSTEDCP-1402: cmd/infra/aws/destroy: allow using component credentials
  Makefile
  cmd/cluster/aws/destroy.go
  cmd/infra/aws/delegating_client.go
  cmd/infra/aws/delegatingclientgenerator/main.go
  cmd/infra/aws/destroy.go
  cmd/infra/aws/iam.go
  cmd/infra/aws/iam_policies.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4018 HOSTEDCP-1542: cmd/cluster: refactor to remove example fixtures
  cmd/cluster/agent/create.go
  cmd/cluster/aws/create.go
  cmd/cluster/aws/create_test.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/aws/destroy_test.go
  cmd/cluster/azure/create.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/cluster/core/destroy.go
  cmd/cluster/kubevirt/create.go
  cmd/cluster/kubevirt/create_test.go
  cmd/cluster/none/create.go
  cmd/cluster/powervs/create.go
  cmd/nodepool/kubevirt/create.go
  cmd/nodepool/kubevirt/create_test.go
  cmd/util/secrets.go
  examples/fixtures/example.go
  examples/fixtures/example_agent.go
  examples/fixtures/example_aws.go
  examples/fixtures/example_azure.go
  examples/fixtures/example_ibmcloud_powervs.go
  examples/fixtures/example_kubevirt.go
  examples/fixtures/example_kubevirt_test.go
  examples/fixtures/example_none.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  product-cli/cmd/cluster/agent/create.go
  product-cli/cmd/cluster/aws/create.go
  product-cli/cmd/cluster/aws/destroy.go
  product-cli/cmd/cluster/cluster.go
  product-cli/cmd/cluster/kubevirt/create.go
  product-cli/cmd/nodepool/kubevirt/create.go
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
  test/e2e/nodepool_autorepair_test.go
  test/e2e/nodepool_kms_root_volume_test.go
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_test.go
  test/e2e/nodepool_upgrade_test.go
  test/e2e/util/fixture.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/testing, area/ci-tooling

#4131 [release-4.15] OCPBUGS-33627: Restrict image registry overrides to control plane components
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/main.go
  support/releaseinfo/registry_mirror_provider.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4199 [release-4.15] NO-JIRA: hack: make the e2e script generic
  hack/ci-test-e2e.sh
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4211 OCPBUGS-34580: Add TrustedBundles to OAS container
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  support/util/volumes.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#4210 HOSTEDCP-1542: Fixed infra-id not being defaulted first
  cmd/cluster/aws/create.go
  cmd/cluster/azure/create.go
  cmd/cluster/core/create.go
  cmd/cluster/none/create.go
  cmd/cluster/powervs/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4213 NO-JIRA: Added markdown for storage table support
  docs/content/how-to/kubevirt/configuring-storage.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4184 NO-JIRA: feat(olm): Set packageserver replicas to 2 for IBMCloudPlatform
  control-plane-operator/controllers/hostedcontrolplane/olm/params.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4212 HOSTEDCP-1542: cmd: use validated and completed opts pattern
  cmd/cluster/agent/create.go
  cmd/cluster/agent/create_test.go
  cmd/cluster/agent/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/aws/create.go
  cmd/cluster/aws/create_test.go
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_default_creation_flags_for_cesar.yaml
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/create.go
  cmd/cluster/azure/create_test.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create.go
  cmd/cluster/kubevirt/create_test.go
  cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/none/create.go
  cmd/cluster/none/create_test.go
  cmd/cluster/none/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/powervs/create.go
  cmd/cluster/powervs/create_test.go
  cmd/cluster/powervs/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/infra/aws/util/sts.go
  cmd/nodepool/kubevirt/create.go
  cmd/nodepool/kubevirt/create_test.go
  product-cli/cmd/cluster/agent/create.go
  product-cli/cmd/cluster/aws/create.go
  product-cli/cmd/cluster/kubevirt/create.go
  product-cli/cmd/nodepool/kubevirt/create.go
  support/certs/rand.go
  support/certs/tls.go
  test/e2e/e2e_test.go
  test/e2e/util/fixture.go
  test/e2e/util/hypershift_framework.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/testing

#4214 NO-JIRA: Fix tests to avoid race conditions
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/testing

#4145 CNV-42626: Transition kubevirt vms to use topology spread constraints
  api/hypershift/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4133 OCPBUGS-33428: Complete KAS migration to none endpoint reconciler type
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/kas/reconcile.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4219 OCPBUGS-35513: cluster/core: fix nodepool naming
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_default_creation_flags_for_cesar.yaml
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/core/create.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli, area/testing

#4203 NO-JIRA: Revert "kubevirt, e2e: Skip advanced multinet for CI"
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4229 NO-JIRA: Shared ingress tests
  hypershift-operator/controllers/nodepool/haproxy_test.go
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_use_shared_router_it_should_create_two_haproxies.yaml
  hypershift-operator/controllers/sharedingress/router.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4107 OCPBUGS-34544: Disable PersistentVolumeLabel admission plugin
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#4202 [release-4.13] NO-JIRA: hack: make the e2e script generic
  hack/ci-test-e2e.sh
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4237 NO-JIRA: test: e2e: bump CPO mutate budget
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4201 [release-4.14] NO-JIRA: hack: make the e2e script generic
  hack/ci-test-e2e.sh
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4206 HOSTEDCP-1709: test/e2e: add a harness for asynchronous assertions
  test/e2e/nodepool_kv_cache_image_test.go
  test/e2e/nodepool_kv_jsonpatch_test.go
  test/e2e/util/eventually.go
  test/integration/control_plane_pki_operator.go
  test/integration/framework/hosted-cluster.go
  test/integration/hosted_cluster_sizing_test.go
  test/integration/placeholder_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4215 OCPBUGS-35450: Remove KMS V1 provider support for IBM Cloud
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/ibmcloud.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4226 NO-JIRA: remove CI_TESTS_RUNS from e2e script as we now directly pass…
  hack/ci-test-e2e.sh
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#3907 [release-4.15] OCPBUGS-32404: Fix failure to create a second hostedcluster in the same namespace
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#4239 NO-JIRA: test/e2e: reduce logging on guest cluster infra cleanup
  test/e2e/util/fixture.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4242 NO-JIRA: test/e2e: reduce logging for ssh and oc adm inspect
  cmd/cluster/core/dump.go
  test/e2e/util/dump/copy-machine-journals.sh
Labels: approved, lgtm, jira/valid-reference, area/cli, area/testing

#4193 OCPBUGS-35369: OCPBUGS-35252: Enforce Privileged Instead of Restricted PSA in 4.16
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  test/e2e/create_cluster_test.go
Labels: approved, ok-to-test, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator, area/testing

#4081 HOSTEDCP-1729: Support for on-demand global routing when creating transit gateway
  cmd/cluster/powervs/create.go
  cmd/infra/powervs/create.go
  go.mod
  go.sum
  vendor/github.com/ppc64le-cloud/powervs-utils/README.md
  vendor/github.com/ppc64le-cloud/powervs-utils/region.go
  vendor/modules.txt
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/cli

#4221 CNV-30445: KubeVirt: Enable multiqueue by default
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1beta1/nodepool_types.go
  cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/kubevirt/create.go
  cmd/nodepool/kubevirt/create_test.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#4232 HOSTEDCP-1684: remove CLI requirement for RG flag when NSG ID is supp…
  cmd/infra/azure/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4253 HOSTEDCP-1709: test/e2e: updates to the eventually construct
  test/e2e/nodepool_kv_cache_image_test.go
  test/e2e/nodepool_kv_jsonpatch_test.go
  test/e2e/util/eventually.go
  test/integration/control_plane_pki_operator.go
  test/integration/hosted_cluster_sizing_test.go
  test/integration/placeholder_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4247 HOSTEDCP-1709: test/e2e: use the eventually abstraction in chaos test
  test/e2e/chaos_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4255 NO-JIRA: OWNERS: add stevekuznetsov
  OWNERS
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4216 [release-4.14] OCPBUGS-35482: Add TrustedBundles to OAS container
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  support/util/volumes.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#4262 HOSTEDCP-1709: test/e2e: actually wait for guest cluster client
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4254 OCPBUGS-35874: check mgmt cluster for route capability before DeleteIfNeeded for ovn sbdb route
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4005 HOSTEDCP-1221: add heterogenous NP e2e
  test/e2e/e2e_test.go
  test/e2e/nodepool_arm64_create_test.go
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing, area/ci-tooling

#4207 NO-JIRA: Fix the getting started page by adding export to BUCKET_NAME
  docs/content/getting-started.md
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/documentation

#4266 [release-4.15] OCPBUGS-35714: Generate default worker security group rules based on machineCIDR
  cmd/infra/aws/ec2_sg.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/awsutil/sg.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator, area/cli

#4269 OCPBUGS-35979: Keep old user data for aws < 4.16
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#4256 HOSTEDCP-1447: test/e2e: tar.gz hosted cluster content
  test/e2e/util/hypershift_framework.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3849 OCPBUGS-31840: Make guest cluster components use the correct KAS port
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/haproxy_test.go
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_private_cluster_uses_.local_address_and_LB_kas.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_and_private_cluster_uses_.local_address_and_LB_kas.yaml
  support/util/expose.go
  support/util/expose_test.go
  support/util/networking.go
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/testing

#4271 OCPBUGS-36188: kubevirt-csi-driver: Pass infra kubeconfig in case of external infra
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4263 HOSTEDCP-1777, HOSTEDCP-1709: test/e2e: complete move to eventually blocks
  Makefile
  cmd/bastion/aws/create.go
  cmd/bastion/aws/destroy.go
  cmd/cluster/agent/destroy.go
  cmd/cluster/aws/create.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/azure/destroy.go
  cmd/cluster/kubevirt/destroy.go
  cmd/cluster/none/destroy.go
  cmd/cluster/powervs/create.go
  cmd/cluster/powervs/destroy.go
  cmd/consolelogs/aws/getlogs.go
  cmd/infra/aws/create.go
  cmd/infra/aws/create_cli_role.go
  cmd/infra/aws/create_iam.go
  cmd/infra/aws/iam.go
  cmd/infra/aws/route53.go
  cmd/infra/azure/create.go
  cmd/infra/azure/destroy.go
  cmd/infra/powervs/create.go
  cmd/infra/powervs/destroy.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics.go
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  support/conditions/conditions.go
  support/util/visibility.go
  test/e2e/chaos_test.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
  test/e2e/nodepool_autorepair_test.go
  test/e2e/nodepool_kv_advanced_multinet_test.go
  test/e2e/nodepool_kv_jsonpatch_test.go
  test/e2e/nodepool_kv_multinet_test.go
  test/e2e/nodepool_kv_nodeselector_test.go
  test/e2e/nodepool_kv_qos_guaranteed_test.go
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/nodepool_nto_performanceprofile_test.go
  test/e2e/nodepool_rolling_upgrade_test.go
  test/e2e/nodepool_test.go
  test/e2e/nodepool_upgrade_test.go
  test/e2e/olm_test.go
  test/e2e/util/dump/dump.go
  test/e2e/util/dump/journals.go
  test/e2e/util/eventually.go
  test/e2e/util/fixture.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/node.go
  test/e2e/util/oauth.go
  test/e2e/util/requestserving.go
  test/e2e/util/util.go
  test/integration/placeholder_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/testing

#4220 NO-JIRA: cmd/cluster/kubevirt: add a test from dvossel
  cmd/cluster/kubevirt/create_test.go
  cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_test_from_dvossel.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli, area/testing

#4275 [release-4.16] OCPBUGS-36220: Make guest cluster components use the correct KAS port
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/haproxy_test.go
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_private_cluster_uses_.local_address_and_LB_kas.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_and_private_cluster_uses_.local_address_and_LB_kas.yaml
  support/util/expose.go
  support/util/expose_test.go
  support/util/networking.go
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/testing

#3442 HOSTEDCP-1342: Add new metrics to check CA bundle validity and expiry [OSD-15414]
  hypershift-operator/controllers/hostedcluster/metrics/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4204 OCPBUGS-35341: [release-4.16] Fixed ValidReleaseInfo condition
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_No_private_apiserver_connectivity__proxy_apiserver_address_is_set.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Private_apiserver_connectivity__proxy_apiserver_address_is_unset.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/params.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4223 [release-4.14] OCPBUGS-35549: Restrict image registry overrides to control plane component
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/main.go
  support/releaseinfo/registry_mirror_provider.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4274 NO-JIRA: Update HC on AKS doc for new flags for infra
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4293 NO-JIRA: fixup azure aks docs
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4286 NO-JIRA: test/e2e: remove api budget checks
  go.mod
  test/e2e/e2e_test.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
  vendor/github.com/jpillora/backoff/LICENSE
  vendor/github.com/jpillora/backoff/README.md
  vendor/github.com/jpillora/backoff/backoff.go
  vendor/github.com/mwitkow/go-conntrack/.gitignore
  vendor/github.com/mwitkow/go-conntrack/.travis.yml
  vendor/github.com/mwitkow/go-conntrack/LICENSE
  vendor/github.com/mwitkow/go-conntrack/README.md
  vendor/github.com/mwitkow/go-conntrack/dialer_reporter.go
  vendor/github.com/mwitkow/go-conntrack/dialer_wrapper.go
  vendor/github.com/mwitkow/go-conntrack/listener_reporter.go
  vendor/github.com/mwitkow/go-conntrack/listener_wrapper.go
  vendor/github.com/prometheus/common/config/config.go
  vendor/github.com/prometheus/common/config/http_config.go
  vendor/golang.org/x/oauth2/clientcredentials/clientcredentials.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/testing

#3994 OCPBUGS-33060: enable audit log for oauth-openshift
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/oauth.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/assets.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/auditcfg.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/files/audit-policy.yaml
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/testdata/zz_fixture_TestReconcileOauthDeploymentNoChanges.yaml
Labels: approved, lgtm, qe-approved, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4290 OCPBUGS-35521: Move infra-volumesnapshot-class-mapping to core binding
  cmd/cluster/kubevirt/create.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/cli

#4277 OCPBUGS-36230: Use a reconciled proxy config when generating nodepool userdata
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#4278 OCPBUGS-23922: hcco: reconcile apiserver config into hosted cluster
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/apiserver.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator
