Repository openshift/hypershift, pull requests merged in 2024-04, with the labels that each got.

#3528 HOSTEDCP-1365: kubevirt, Generate kccm lb endpointslices
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/cmca/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/drainer/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/hcpstatus/hcpstatus.go
  control-plane-operator/hostedclusterconfigoperator/controllers/inplaceupgrader/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/machine.go
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/machine_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/node/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/nodecount/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli, area/ci-tooling

#3817 OCPBUGS-31585: disable http2 for ignition server and proxy
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  ignition-server/cmd/start.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3822 [release-4.14] HOSTEDCP-1322: NodeUpgradeType defaulted by provider
  api/fixtures/example.go
  cmd/cluster/cluster.go
  product-cli/cmd/cluster/cluster.go
  product-cli/cmd/nodepool/create.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli

#3829 OCPBUGS-31415: update desired image even when HCP doesn't exist yet
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/hypershift-operator

#3702 HOSTEDCP-1513: Support annotation scoping for hostedcluster resources
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  support/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3832 HOSTEDCP-1511: enable and document kubevirt custom default network
  docs/content/how-to/kubevirt/configuring-network.md
  product-cli/cmd/cluster/kubevirt/create.go
Labels: approved, lgtm, jira/valid-reference, area/documentation

#3838 OCPBUGS-31725: include hostnetwork SCC CPO role for 4.13 and earlier
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3837 NO-JIRA: Update expected condition to false for ValidAzureKmsConfig s…
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/testing

#3828 HOSTEDCP-1438: [release-4.15] Preserve container resources for more hosted control plane components
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/packageserver.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3833 NO-JIRA: docs: fixing wrong key name
  api/hypershift/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3827 CNF-11885: nto: add events resources under operator `Role`
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3611 NO-JIRA: Document additional known issues for the disconnected scenario
  docs/content/how-to/disconnected/known-issues.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#3846 OCPBUGS-14383: disable autoscaler when no nodepool requires it
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3851 NO-JIRA: update private cluster IAM policy doc
  docs/content/how-to/aws/deploy-aws-private-clusters.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#3854 NO-JIRA: [e2e test framework] Add a flag to add an annotation to HostedCluster
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3765 OCPBUGS-31012: Disable audit-log container in kas when profile is None
  control-plane-operator/controllers/hostedcontrolplane/kas/auditcfg.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/auditcfg.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling, area/control-plane-pki-operator

#3860 OCPBUGS-29494: Fix disconnected metadata inspection
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3819 STOR-1805: Set RUN_AS_USER if mgmt cluster doesn't have SCC
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/testdata/zz_fixture_TestReconcileOperatorDeployment.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3862 OCPBUGS-29466: Fix ICSP and IDMS inclusion as registriesOverrides
  hypershift-operator/main.go
  support/globalconfig/imagecontentsource.go
  support/globalconfig/imagecontentsource_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3830 NO-JIRA: bump capk ci image
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3876 NO-ISSUE: *: use the api package constant for the size label
  hypershift-operator/controllers/hostedclustersizing/hostedclustersizing_controller.go
  hypershift-operator/controllers/hostedclustersizing/hostedclustersizing_controller_test.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes_test.go
  hypershift-operator/controllers/scheduler/placeholders.go
  hypershift-operator/controllers/scheduler/placeholders_test.go
  test/integration/hosted_cluster_sizing_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#3697 OSD-19085: Replaced hypershift_cluster_cores metric with hypershift_cluster_vcpus metric
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3688 HOSTEDCP-1465: Create HCPs with externalDNS on AKS Clusters
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  contrib/aks/setup_aks_cluster.sh
  contrib/aks/setup_external_dns.sh
  contrib/aks/setup_install_ho_on_aks.sh
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/azure_disk_csi_driver_controller.go
  control-plane-operator/controllers/hostedcontrolplane/pki/azure_file_csi_driver_controller.go
  control-plane-operator/controllers/hostedcontrolplane/pki/cert.go
  control-plane-operator/controllers/hostedcontrolplane/pki/cert_test.go
  control-plane-operator/controllers/hostedcontrolplane/pki/etcd.go
  control-plane-operator/controllers/hostedcontrolplane/pki/multus_admission_controller.go
  control-plane-operator/controllers/hostedcontrolplane/pki/network_node_identity.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ovn_control_plane_metrics.go
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
  docs/mkdocs.yml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/capabilities/management_cluster_capabilities.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/control-plane-pki-operator

#3883 HOSTEDCP-1524: [release-4.15] Support additional node selectors for request serving nodes
  api/hypershift/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/config/deployment.go
  support/util/util.go
  support/util/util_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3890 Revert "HOSTEDCP-1465: Create HCPs with externalDNS on AKS Clusters"
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  contrib/aks/setup_aks_cluster.sh
  contrib/aks/setup_external_dns.sh
  contrib/aks/setup_install_ho_on_aks.sh
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/azure_disk_csi_driver_controller.go
  control-plane-operator/controllers/hostedcontrolplane/pki/azure_file_csi_driver_controller.go
  control-plane-operator/controllers/hostedcontrolplane/pki/cert.go
  control-plane-operator/controllers/hostedcontrolplane/pki/cert_test.go
  control-plane-operator/controllers/hostedcontrolplane/pki/etcd.go
  control-plane-operator/controllers/hostedcontrolplane/pki/multus_admission_controller.go
  control-plane-operator/controllers/hostedcontrolplane/pki/network_node_identity.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ovn_control_plane_metrics.go
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
  docs/mkdocs.yml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/capabilities/management_cluster_capabilities.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli

#3893 NO-JIRA: [release-4.15] [e2e test framework] Add a flag to add an annotation to HostedCluster
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3896 NO-JIRA: Disable kubevirt-csi crash detection in e2e
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3863 CNV-40622: Docs: Avoid cidr Collisions b/w Infra &Guest cluster
  docs/content/how-to/kubevirt/configuring-network.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#3850 NO-JIRA: remove ovnkube-control-plane from expected component token m…
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3898 HOSTEDCP-1526: [release-4.14] Support additional node selectors for request serving nodes
  api/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/config/deployment.go
  support/util/util.go
  support/util/util_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3891 NO-JIRA: fixed e2e teardown failing the outer test instead of subtest
  test/e2e/util/hypershift_framework.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3892 HOSTEDCP-1462: set HostPath.Type on volumesource in CloudNodeManagerD…
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3885 OCPBUGS-32248: Replace periods with commas in subnet label value
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#3875 OCPBUGS-32191: Kas disable audit cherry pick release 4.15
  control-plane-operator/controllers/hostedcontrolplane/kas/auditcfg.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/auditcfg.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3905 NO-JIRA: [4.14] [e2e test framework] Add a flag to add an annotation to Hosted Cluster
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3877 NO-ISSUE: placeholders: ignore auto-sizer placeholders
  hypershift-operator/controllers/scheduler/placeholders.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3640 CNV-36073: KubeVirt, Add snapshot side car and volumesnapshot class
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1alpha1/kubevirtmanualstoragedriverconfig.go
  client/applyconfiguration/hypershift/v1alpha1/kubevirtstorageclassmapping.go
  client/applyconfiguration/hypershift/v1alpha1/kubevirtvolumesnapshotclassmapping.go
  client/applyconfiguration/hypershift/v1beta1/kubevirtmanualstoragedriverconfig.go
  client/applyconfiguration/hypershift/v1beta1/kubevirtstorageclassmapping.go
  client/applyconfiguration/hypershift/v1beta1/kubevirtvolumesnapshotclassmapping.go
  client/applyconfiguration/utils.go
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/controller.yaml
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/infra_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/tenant_controller_clusterrole.yaml
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt_test.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/kubevirt.go
  control-plane-operator/hostedclusterconfigoperator/api/scheme.go
  docs/content/how-to/kubevirt/external-infrastructure.md
  docs/content/reference/api.md
  examples/fixtures/example.go
  examples/fixtures/example_kubevirt.go
  examples/fixtures/example_kubevirt_test.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3894 OCPNODE-2096: Add ClusterImagePolicy to the list of valid config manifests
  api/hypershift/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3882 [release-4.14] OCPBUGS-32221: Added support for OLM Disable default sources on HC creation
  api/fixtures/example.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/hostedcluster_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/deployments.go
  control-plane-operator/controllers/hostedcontrolplane/olm/services.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/olm.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  product-cli/cmd/cluster/cluster.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3895 Revert "Revert "HOSTEDCP-1465: Create HCPs with externalDNS on AKS Clusters""
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  contrib/aks/setup_aks_cluster.sh
  contrib/aks/setup_external_dns.sh
  contrib/aks/setup_install_ho_on_aks.sh
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/azure_disk_csi_driver_controller.go
  control-plane-operator/controllers/hostedcontrolplane/pki/azure_file_csi_driver_controller.go
  control-plane-operator/controllers/hostedcontrolplane/pki/cert.go
  control-plane-operator/controllers/hostedcontrolplane/pki/cert_test.go
  control-plane-operator/controllers/hostedcontrolplane/pki/etcd.go
  control-plane-operator/controllers/hostedcontrolplane/pki/multus_admission_controller.go
  control-plane-operator/controllers/hostedcontrolplane/pki/network_node_identity.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ovn_control_plane_metrics.go
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
  docs/mkdocs.yml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/capabilities/management_cluster_capabilities.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli

#3922 OCPBUGS-32496: Controller to assist autoscaling for placeholder nodes
  hypershift-operator/controllers/scheduler/autoscaler.go
  hypershift-operator/controllers/scheduler/autoscaler_test.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  hypershift-operator/controllers/scheduler/placeholders.go
  hypershift-operator/main.go
  support/api/scheme.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3908 HOSTEDCP-1519: [release-4.15] feat(api): Add ingress-controller-load-balancer-scope annotation
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3925 ACM-11259: Add mapping documentation for KubeVirt CSI driver snaphotting
  docs/content/how-to/kubevirt/configuring-storage.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#3938 NO-JIRA: reduce autoscaling test memory requests
  test/e2e/autoscaling_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3926 HOSTEDCP-1219: Add arch & multi-arch flags to HCP CLI
  cmd/cluster/core/create.go
  product-cli/cmd/cluster/aws/create.go
  product-cli/cmd/cluster/cluster.go
  product-cli/cmd/nodepool/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#3932 NO-JIRA: remove obsolete konnectivity image code
  control-plane-operator/main.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3593 HOSTEDCP-1044: Add NodePool Size/Replicas to Telemetry
  cmd/install/assets/recordingrules/hypershift.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/cli, area/ci-tooling

#3944 OCPBUGS-30260: Ignore subnet annotations for control plane load balancers
  support/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#3821 NO-JIRA: Kubevirt on Azure: Change KAS LB Port to 7443
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  test/e2e/nodepool_kv_nodeselector_test.go
  test/e2e/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/testing

#3879 HOSTEDCP-1522: Add API definitions and CEL for AzurePlatformSpec vars
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3937 OCPBUGS-32492: Set ImportMode for catalog
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3950 HOSTEDCP-1484: Disaster recovery documentation with OADP
  docs/content/how-to/disaster-recovery/backup-and-restore-oadp.md
  docs/content/how-to/disaster-recovery/etcd-recovery.md
  docs/content/how-to/disaster-recovery/index.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation

#3889 OCPBUGS-32255: Remove kube-scheduler readiness probe
  control-plane-operator/controllers/hostedcontrolplane/scheduler/params.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3931 OCPBUGS-32378: Ensure placeholder deployments are deleted
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/hypershift-operator

#3947 OCPBUGS-14383: fix setting replicas on autoscaler
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3929 OCPBUGS-32760: Request serving scheduler: omit deleting nodes
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#3941 OCPBUGS-32930: Allow specifying resource requests per cluster size
  api/scheduling/v1alpha1/clustersizingconfiguration_types.go
  api/scheduling/v1alpha1/zz_generated.deepcopy.go
  client/applyconfiguration/scheduling/v1alpha1/effects.go
  client/applyconfiguration/scheduling/v1alpha1/resourcerequest.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/scheduling.hypershift.openshift.io_clustersizingconfigurations.yaml
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes_test.go
  vendor/github.com/openshift/hypershift/api/scheduling/v1alpha1/clustersizingconfiguration_types.go
  vendor/github.com/openshift/hypershift/api/scheduling/v1alpha1/zz_generated.deepcopy.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#3880 CNV-40687: Detect machine and cluster-network cidr collision
  api/hypershift/v1beta1/nodepool_conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_conditions.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3940 HOSTEDCP-1525: Support Azure KMS key rotation
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1alpha1/azurekmskey.go
  client/applyconfiguration/hypershift/v1alpha1/azurekmsspec.go
  client/applyconfiguration/hypershift/v1beta1/azurekmskey.go
  client/applyconfiguration/hypershift/v1beta1/azurekmsspec.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/azure.go
  docs/content/reference/api.md
  examples/fixtures/example.go
  hack/app-sre/saas_template.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3901 OCPBUGS-31398: Recycler-pod image now points to the OCP Payload reference
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/config.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3956 HOSTEDCP-1552: Update RHTAP tekton files for 0.3 -> 0.4 migration
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#3957 HOSTEDCP-1552: Update RHTAP tekton files for 0.3 -> 0.4 migration
  .tekton/hypershift-release-mce-25-pull-request.yaml
  .tekton/hypershift-release-mce-25-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#3960 OCPBUGS-33105: [release-4.14] remove PrivateIngressController cleanup
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ingress.go
  control-plane-operator/main.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#3959 OCPBUGS-33101: Fix nil pointer deref when effects not specified in CSC
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#3933 OCPBUGS-29110: Reconcile over ICSP/IDMS
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/main.go
  support/capabilities/management_cluster_capabilities.go
  support/globalconfig/imagecontentsource.go
  support/globalconfig/imagecontentsource_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3964 NO-JIRA: Minor doc updates to creating Azure HC on AKS
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#3961 NO-JIRA: sizing: add logging for what we're doing
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator
