Repository openshift/hypershift, pull requests merged in 2024-10, with the labels that each got.

#4417 HOSTEDCP-1815: feat(ignition): Add option to disable ignition server reconciliation
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#4826 NO-JIRA: Fix recover-etcd cmd marking a missing flag required
  etcd-recovery/etcdrecovery.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4836 NO-JIRA: e2e: skip ValidKubeVirtInfraNetworkMTU condition check on 4.14 and ea…
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4738 OCPBUGS-42100: Run 2 replicas of active/passive HA components
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/params.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/params.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/params.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/params.go
  support/config/deployment.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#4842 NO-JIRA: disable ensurePSANotPrivileged test on <4.17
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4830 [release-4.16] OCPBUGS-42608: Add Annotation to skip deleting hcp namespace
  api/hypershift/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#4814 HOSTEDCP-1930: Add AWS Shared VPC support
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1beta1/awsplatformspec.go
  client/applyconfiguration/hypershift/v1beta1/awssharedvpc.go
  client/applyconfiguration/hypershift/v1beta1/awssharedvpcrolesref.go
  client/applyconfiguration/utils.go
  cmd/cluster/aws/create.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/core/destroy.go
  cmd/infra/aws/create.go
  cmd/infra/aws/create_iam.go
  cmd/infra/aws/destroy.go
  cmd/infra/aws/destroy_iam.go
  cmd/infra/aws/iam.go
  cmd/infra/aws/iam_policies.go
  cmd/infra/aws/util/util.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/main.go
  docs/content/how-to/aws/shared-vpc.md
  docs/content/reference/api.md
  docs/mkdocs.yml
  hypershift-operator/conversion/conversion_test.go
  support/globalconfig/dns.go
  vendor/github.com/aws/aws-sdk-go/service/ram/api.go
  vendor/github.com/aws/aws-sdk-go/service/ram/doc.go
  vendor/github.com/aws/aws-sdk-go/service/ram/errors.go
  vendor/github.com/aws/aws-sdk-go/service/ram/ramiface/interface.go
  vendor/github.com/aws/aws-sdk-go/service/ram/service.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli

#4822 [release-4.14] OCPBUGS-42533: enable audit log for oauth-openshift
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/oauth.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/assets.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/auditcfg.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/files/audit-policy.yaml
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/testdata/zz_fixture_TestReconcileOauthDeploymentNoChanges.yaml
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4765 OCPBUGS-39369: Add TokenMinter container and RBAC for the CNO
  availability-prober/availability_prober.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_No_private_apiserver_connectivity__proxy_apiserver_address_is_set.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Private_apiserver_connectivity__proxy_apiserver_address_is_unset.yaml
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/kas/admissionpolicies.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/kas/admissionpolicies_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  go.mod
  support/util/containers.go
  support/util/manifests.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/testing

#4846 OCPBUGS-42737: add nil check to etcdRecoveryActiveCondition when coll…
  hypershift-operator/controllers/hostedcluster/metrics/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics_test.go
Labels: approved, tide/merge-method-squash, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#4840 OCPBUGS-42579: Add network policies for konnectivity server and ignition server proxy
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/manifests/networkpolicy/manifests.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#4847 NO-JIRA: Fixes kubevirt image cacher
  hypershift-operator/controllers/nodepool/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/imagecacher.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4844 CNV-39662: Document HCP KubeVirt GPU device usage
  docs/content/how-to/kubevirt/gpu-devices.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4858 OCPBUGS-42783: Use guest DNS resolution in Konnectivity HTTPS proxy by default
  konnectivity-https-proxy/cmd.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4845 OCPBUGS-42714: label routes only when HCP router used
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/route.go
  hypershift-operator/controllers/hostedcluster/ignitionserver/ignitionserver.go
  support/util/route.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#4864 OCPBUGS-42873: Do not send traffic to local audit-webhook through konnectivity
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  support/config/constants.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4863 HOSTEDCP-2009: change from NumberOfProbes to ProbeThreshold
  cmd/infra/azure/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4855 NO-JIRA: Remove EnsurePSANotPrivileged check
  test/e2e/create_cluster_test.go
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/testing

#4869 OCPBUGS-42974: [release-4.17] Do not send traffic to local audit-webhook through konnectivity
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  support/config/constants.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4861 HOSTEDCP-1994: Create separate secrets for Azure disk and file
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/azure.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4875 NO-JIRA: Enforce EnsurePSANotPrivileged for 4.18 and later
  test/e2e/util/util.go
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/testing

#4882 HOSTEDCP-2023: [release-4.17] Split worker and vpc endpoint security groups
  api/hypershift/v1beta1/endpointservice_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_awsendpointservices.yaml
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/conversion/conversion_test.go
  support/awsutil/errorcode.go
  support/awsutil/sg.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/endpointservice_types.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli

#4886 NO-JIRA: cli: add feature-set flag to create cluster
  cmd/cluster/core/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4887 OCPBUGS-43064: move resource.k8s.io to v1alpha3 for kube 1.31
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4866 HOSTEDCP-2025: Allow setting the VPC CIDR when creating AWS infrastructure
  cmd/cluster/aws/create.go
  cmd/infra/aws/create.go
  cmd/infra/aws/ec2.go
  cmd/infra/aws/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4871 NO-JIRA: statically link CLI binaries
  Makefile
Labels: approved, lgtm, jira/valid-reference, area/cli

#4878 HOSTEDCP-1994: Add Secrets Store CSI RBAC Policies for HO and CPO
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  go.mod
  go.sum
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/api/scheme.go
  support/azureutil/azureutil.go
  support/azureutil/azureutil_test.go
  vendor/modules.txt
  vendor/sigs.k8s.io/secrets-store-csi-driver/LICENSE
  vendor/sigs.k8s.io/secrets-store-csi-driver/apis/v1/doc.go
  vendor/sigs.k8s.io/secrets-store-csi-driver/apis/v1/secretproviderclass_types.go
  vendor/sigs.k8s.io/secrets-store-csi-driver/apis/v1/secretproviderclasspodstatus_types.go
  vendor/sigs.k8s.io/secrets-store-csi-driver/apis/v1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/secrets-store-csi-driver/apis/v1/zz_generated.register.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli

#4889 HOSTEDCP-2026: Add support for static control plane operator overrides
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controlplaneoperator-overrides/assets/overrides.yaml
  hypershift-operator/controlplaneoperator-overrides/assets/overrides_sample.yaml
  hypershift-operator/controlplaneoperator-overrides/overrides.go
  hypershift-operator/controlplaneoperator-overrides/overrides_test.go
  support/config/constants.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/testing

#4873 HOSTEDCP-2020: [release-4.17] Add support for SharedVPC
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1beta1/awsplatformspec.go
  client/applyconfiguration/hypershift/v1beta1/awssharedvpc.go
  client/applyconfiguration/hypershift/v1beta1/awssharedvpcrolesref.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/main.go
  docs/content/how-to/aws/shared-vpc.md
  docs/content/reference/api.md
  docs/mkdocs.yml
  hypershift-operator/conversion/conversion_test.go
  support/globalconfig/dns.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli

#4901 NO-JIRA: e2e: rename file to avoid IDE errors
  test/e2e/nodepool_additionalTrustBundlePropagation_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4868 OCPBUGS-43087: openstack/e2e: re-work nodepool tests
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/nodepool_nto_performanceprofile_test.go
  test/e2e/nodepool_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/testing

#4902 HOSTEDCP-2028: e2e: use TechPreviewNoUpgrade feature set in TestCreateCluster
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4852 OCPBUGS-38132: add ValidIDPConfiguration condition to report IDP config issues
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/testing

#4911 HOSTEDCP-1472: add CP with n-2 NP test
  test/e2e/e2e_test.go
  test/e2e/nodepool_prev_release_test.go
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4925 OCPBUGS-43448: Pass feature flags to clusterpolicy controller
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/config.go
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/params.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, ok-to-test, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4834 OCPBUGS-43316: Enforce privileged PSA by default
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  go.mod
  go.sum
  vendor/github.com/openshift/api/Dockerfile.ocp
  vendor/github.com/openshift/api/Makefile
  vendor/github.com/openshift/api/README.md
  vendor/github.com/openshift/api/config/v1/types.go
  vendor/github.com/openshift/api/config/v1/types_cluster_version.go
  vendor/github.com/openshift/api/config/v1/types_feature.go
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/types_network.go
  vendor/github.com/openshift/api/config/v1/types_tlssecurityprofile.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_image_policy.go
  vendor/github.com/openshift/api/config/v1alpha1/types_image_policy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/machine/v1/types_nutanixprovider.go
  vendor/github.com/openshift/api/machine/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/machine/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/machine/v1beta1/types_awsprovider.go
  vendor/github.com/openshift/api/machine/v1beta1/types_machineset.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/network/v1/generated.proto
  vendor/github.com/openshift/api/network/v1/types.go
  vendor/github.com/openshift/api/network/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/operator/v1/types_console.go
  vendor/github.com/openshift/api/operator/v1/types_csi_cluster_driver.go
  vendor/github.com/openshift/api/operator/v1/types_ingress.go
  vendor/github.com/openshift/api/operator/v1/types_network.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/route/v1/generated.proto
  vendor/github.com/openshift/api/route/v1/types.go
  vendor/github.com/openshift/api/route/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/security/v1/consts.go
  vendor/modules.txt
Labels: approved, ok-to-test, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator, area/testing

#4899 OCPBUGS-43104: label routes only when HCP router used
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/route.go
  hypershift-operator/controllers/hostedcluster/ignitionserver/ignitionserver.go
  support/util/route.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#4860 HOSTEDCP-2040: [CPO Refactor] Refactor HCCO
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/imageprovider/imageprovider.go
  control-plane-operator/controllers/hostedcontrolplane/infra/infra.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-autoscaler/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/hosted-cluster-config-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/hosted-cluster-config-operator/podmonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/hosted-cluster-config-operator/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/hosted-cluster-config-operator/rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/hosted-cluster-config-operator/serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-route-controller-manager/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/configoperator/podmonitor.go
  control-plane-operator/controllers/hostedcontrolplane/v2/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/v2/configoperator/role.go
  support/controlplane-component/common.go
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/generic-adapter.go
  support/testutil/fake.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli

#4915 HOSTEDCP-2040: Add README.md for ControlPlaneComponent
  support/controlplane-component/README.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4926 HOSTEDCP-1994: Pass Azure Key Vault's Managed Identity's Client ID to HO and CPO Deployments
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/config/constants.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli

#4912 HOSTEDCP-2002: Add documentation around crun migration for HCP
  docs/content/recipes/agent/exposing-dataplane-with-metallb.md
  docs/content/recipes/common/replace-crio-runtime.md
  docs/content/recipes/none/exposing-dataplane-with-metallb.md
  docs/content/reference/ocp-behaviour-deviations/index.md
  docs/content/reference/ocp-behaviour-deviations/upgrade-4.17-4.18.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4937 NO-JIRA: KubeVirt CSI Security and Isolation Documentation
  docs/content/how-to/kubevirt/configuring-storage.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4955 OCPBUGS-38132: cpo: produce valid oauth config even if idp config is invalid
  control-plane-operator/controllers/hostedcontrolplane/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4859 HOSTEDCP-2018: Reorder Nodepool conditions
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nto.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4951 HOSTEDCP-2002: fix typo in doc commands
  docs/content/recipes/common/replace-crio-runtime.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4612 HOSTEDCP-1883: Remove hardcoded catalog images in CPO
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/olm/deployments.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/olm/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
  support/releaseinfo/registryclient/client.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/testing

#4965 OCPBUGS-43698: dump: make ControlPlaneComponent's GKV optional
  cmd/cluster/core/dump.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/cli

#4960 HOSTEDCP-1994: Add generic create function for SecretProvider
  control-plane-operator/controllers/hostedcontrolplane/manifests/secretproviderclass.go
  support/azureutil/azureutil.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4531 OCPBUGS-38357: openstack: add option to configure nodepool AZ
  api/hypershift/v1beta1/openstack.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/openstacknodepoolplatform.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  cmd/nodepool/openstack/create.go
  cmd/nodepool/openstack/create_test.go
  docs/content/how-to/openstack/create-openstack-cluster.md
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/capi.go
  test/e2e/e2e_test.go
  test/e2e/nodepool_osp_az_test.go
  test/e2e/nodepool_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/openstack.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling

#4976 NO-JIRA: doc/openstack: install operator with `--tech-preview-no-upgrade`
  docs/content/how-to/openstack/create-openstack-cluster.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4970 OCPBUGS-43707: Add crd override for NodePool scale subresource
  api/hypershift/v1beta1/manual-override-crd-manifests/nodepools.hypershift.openshift.io/hypershift.openshift.io_nodepools_scale_subresource.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/cli

#4966 NO-JIRA: Update azure and AKS upstream docs
  contrib/aks/create_basic_hosted_cluster.sh
  contrib/aks/setup_aks_cluster.sh
  contrib/aks/setup_external_dns.sh
  contrib/aks/setup_install_ho_on_aks.sh
  docs/content/how-to/azure/create-azure-cluster-with-options.md
  docs/content/how-to/azure/create-azure-cluster.md
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4969 OCPBUGS-43746: add ValidIDPConfiguration condition to report IDP config issues
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation

#4973 OCPBUGS-43756: update eventuallyDaemonSetRollsOut to only watch ready…
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing

#4984 NO-JIRA: Add API label
  api/OWNERS
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4941 HOSTEDCP-2054: [CPO Refactor] Refactor kube-apiserver
  api/hypershift/v1beta1/controlplanecomponent_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/controlplanecomponents.hypershift.openshift.io/ControlPlaneV2.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/audit-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/auth-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/authentication-token-webhook-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/aws-pod-identity-webhook-kubeconfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/bootstrap-kubeconfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/capi-kubeconfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/egress-selector-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/external-admin-kubeconfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/hcco-kubeconfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/kas-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/local-kubeconfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/oauth-metadata.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/pdb.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/prometheus-recording-rules.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/secret-encryption-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/service-network-admin-kubeconfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/autoscaler/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/autoscaler/testdata/zz_fixture_TestReconcileExisting_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/autoscaler/testdata/zz_fixture_TestReconcileExisting_rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/aescbc.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/auditcfg.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/auth.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/aws.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/ibmcloud.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/kms.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/oauth.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/portieries.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/secretencryption.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/secretencryption_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/v2/routecm/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/v2/routecm/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/routecm/testdata/zz_fixture_TestReconcile_configMap.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/routecm/testdata/zz_fixture_TestReconcile_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/routecm/testdata/zz_fixture_TestReconcile_servicemonitor.yaml
  docs/content/reference/api.md
  support/config/deployment.go
  support/controlplane-component/common.go
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/crds/hypershift.openshift.io_controlplanecomponents.yaml
  support/controlplane-component/status.go
  support/util/containers.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/controlplanecomponent_types.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation

#4962 HOSTEDCP-1989: Move NTO reconcile logic into their own file
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nto.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#4872 ARO-11084: Helm chart generator
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  cmd/install/install_helm.go
  cmd/install/install_helm_test.go
  cmd/install/install_render.go
  cmd/install/install_render_test.go
  cmd/install/render.go
  cmd/install/testdata/zz_fixture_TestHelmCommand_chart.yaml
  cmd/install/testdata/zz_fixture_TestHelmCommand_values.yaml
Labels: approved, lgtm, jira/valid-reference, area/cli

#4987 HOSTEDCP-2057: [CPO Refactor] Refactor ETCD
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/defrag-role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/defrag-rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/defrag-serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/discovery-service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/pdb.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/etcd-init.sh
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/statefulset.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/component.go
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/status.go
  support/util/containers.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4992 NO-JIRA: bump catalog operators version
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4877 OCPBUGS-42434: Update Azure CLI to Handle Authenticating with Service Principal Backed by Certificates
  cmd/cluster/azure/create.go
  cmd/cluster/azure/create_test.go
  cmd/cluster/azure/destroy.go
  cmd/cluster/core/destroy.go
  cmd/infra/azure/create.go
  cmd/infra/azure/destroy.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/hypershift_operator_test.go
  cmd/install/install.go
  hypershift-operator/featuregate/feature.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/testing

#4995 HOSTEDCP-2046: Parametrize Control Plane Dockerfile
  Dockerfile.control-plane
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4986 HOSTEDCP-2055: [CPO Refactor] Refactor kube-controller-manager
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-controller-manager/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-controller-manager/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-controller-manager/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-controller-manager/kcm-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-controller-manager/kubeconfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-controller-manager/recycler-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-controller-manager/service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-controller-manager/servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kcm/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kcm/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kcm/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kcm/servicemonitor.go
  support/api/scheme.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4791 OCPBUGS-41365: use appropriate images to avoid overrides in dataplane
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_No_private_apiserver_connectivity__proxy_apiserver_address_is_set.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Private_apiserver_connectivity__proxy_apiserver_address_is_unset.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/assets/10_deployment-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/envreplace.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5001 OCPBUGS-44001: handle errors returned by createServicePrincipalWithCe…
  cmd/infra/azure/create.go
  cmd/infra/azure/destroy.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/cli

#4967 NO-JIRA: Document how to disable kubevirt csi
  docs/content/how-to/kubevirt/configuring-storage.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5014 OCPBUGS-43985: failure to retrieve techPreview CM in azure cli should…
  cmd/cluster/azure/create.go
  cmd/cluster/azure/create_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/cli
