Repository openshift/hypershift, pull requests merged in 2024-11, with the labels that each got.

#5015 OCPBUGS-36387: resource group not found should not prevent azure infr…
  cmd/infra/azure/destroy.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/cli

#4287 NO-JIRA: cmd: add support to configure machine networts via CLI
  cmd/cluster/core/create.go
  cmd/cluster/openstack/create_test.go
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_default_creation_flags.yaml
Labels: approved, lgtm, jira/valid-reference, area/cli

#4996 OCPBUGS-43943: add retry timeout to nodepoolUpgradeTest
  test/e2e/nodepool_upgrade_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing

#4991 HOSTEDCP-1989: Prevent kubevirt from removing valid machine config condition
  hypershift-operator/controllers/nodepool/kubevirt.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#5036 NO-JIRA: Add rpms-signature-scan task
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/testing

#5007 HOSTEDCP-2067: [CPO Refactor] Refactor cloud-controller-manager
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-aws/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-aws/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-azure/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-azure/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-kubevirt/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-kubevirt/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-openstack/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-openstack/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-powervs/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-powervs/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/assets.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-aws/config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-aws/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-azure/config-secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-azure/config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-azure/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-kubevirt/OWNERS
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-kubevirt/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-kubevirt/kubevirt-cloud-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-kubevirt/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-kubevirt/rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-kubevirt/serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-openstack/config-secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-openstack/config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-openstack/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-openstack/openstack-trusted-ca.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-powervs/config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-powervs/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/testdata/zz_fixture_TestConfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/kubevirt/OWNERS
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/kubevirt/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/kubevirt/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/kubevirt/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/kubevirt/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/kubevirt/testdata/zz_fixture_TestConfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/powervs/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/powervs/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/powervs/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5032 HOSTEDCP-2070: add e2e flags for controlling AKS keyvault name and te…
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4945 HOSTEDCP-2000: Add E2E test validating the node runtime
  test/e2e/nodepool_upgrade_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#5038 OCPBUGS-42422: Fix order rendering HCP objects
  cmd/cluster/agent/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_availability_ones.yaml
  cmd/cluster/core/create.go
  cmd/cluster/core/create_test.go
  cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_test_from_dvossel.yaml
  cmd/cluster/none/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_default_creation_flags.yaml
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/powervs/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/cli

#5037 [release-4.15] OCPBUGS-44201: add ValidIDPConfiguration condition to report IDP config issues
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation

#5050 NO-JIRA: Add API promotion criteria
  docs/content/how-to/feature-gates.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5045 OCPBUGS-44221: remove hard dependcy on kubeconfig for hypershift CLI
  cmd/cluster/azure/create.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/cli

#5051 HOSTEDCP-1826: Remove API wording on setting AzureDiskPersistence to a default value of Persistent
  api/hypershift/v1beta1/azure.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/cluster/azure/create.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_create_with_a_ure_marketplace_image.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
Labels: approved, lgtm, jira/valid-reference, area/documentation, area/cli, area/api

#5046 HOSTEDCP-2073: Review NodePool API validations and doc
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  support/assets/readasset.go
  test/e2e/assets/nodepool-base.yaml
  test/e2e/create_cluster_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: approved, lgtm, jira/valid-reference, area/documentation, area/cli, area/testing, area/api

#5027 NO-JIRA: remove namespace wide node check on nodepool specific tests
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#5065 HOSTEDCP-2063: [CPO Refactor] Refactor openshift-apiserver
  api/hypershift/v1beta1/clusterconfig.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-apiserver/audit-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-apiserver/config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-apiserver/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-apiserver/pdb.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-apiserver/servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/auditcfg.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oapi/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oapi/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oapi/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ocm/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/routecm/component.go
  support/controlplane-component/controlplane-component.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/clusterconfig.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/api

#5006 HOSTEDCP-2046: CPO 4.17 tekton builds
  .tekton/control-plane-operator-4-17-pull-request.yaml
  .tekton/control-plane-operator-4-17-push.yaml
  Dockerfile.control-plane
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5049 OCM-12313: expose NodeStartupTimeout in MHC as annotation in HC/NP
  api/hypershift/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/api

#5081 HOSTEDCP-2070: add az cli to e2e dockerfile
  Dockerfile.e2e
  cmd/cluster/azure/create.go
  cmd/infra/azure/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/testing

#4942 NO-JIRA: Change globalConfigString to drop empty imageStreamImportMode
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#5063 NO-JIRA: Fix Spec retrieval from infra for PowerVS platform
  cmd/cluster/powervs/create.go
  cmd/cluster/powervs/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
Labels: approved, lgtm, jira/valid-reference, area/cli

#5066 NO-JIRA: improve OpenStack documentation
  docs/content/how-to/openstack/create-openstack-cluster.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5095 OCPBUGS-44413: add missing assets and RBAC for OpenStack with newer CAPO
  Makefile
  cmd/cluster/core/dump.go
  cmd/cluster/openstack/create.go
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_default_creation_flags.yaml
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/install/assets/assets.go
  cmd/install/assets/cluster-api-provider-openstack/openstack.k-orc.cloud_images.yaml
  cmd/install/assets/hypershift_operator.go
  go.mod
  go.sum
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
  support/api/scheme.go
  vendor/github.com/k-orc/openstack-resource-controller/LICENSE
  vendor/github.com/k-orc/openstack-resource-controller/api/v1alpha1/conditions.go
  vendor/github.com/k-orc/openstack-resource-controller/api/v1alpha1/controller_options.go
  vendor/github.com/k-orc/openstack-resource-controller/api/v1alpha1/credentials_ref.go
  vendor/github.com/k-orc/openstack-resource-controller/api/v1alpha1/doc.go
  vendor/github.com/k-orc/openstack-resource-controller/api/v1alpha1/groupversion_info.go
  vendor/github.com/k-orc/openstack-resource-controller/api/v1alpha1/image_types.go
  vendor/github.com/k-orc/openstack-resource-controller/api/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/cli

#4833 CNF-14742: HCCO: copy KubeletConfigs to hosted-cluster
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/kas/admissionpolicies.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nto.go
  hypershift-operator/controllers/nodepool/nto_test.go
  test/e2e/nodepool_mirrorconfigs_test.go
  test/e2e/nodepool_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/testing

#5071 HOSTEDCP-2063: [CPO Refactor] Refactor openshift-oauth-apiserver
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-oauth-apiserver/audit-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-oauth-apiserver/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-oauth-apiserver/pdb.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth_apiserver/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth_apiserver/deployment.go
  support/controlplane-component/controlplane-component.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/api

#5083 HOSTEDCP-2077: [CPO Refactor] Refactor kube-scheduler
  api/hypershift/v1beta1/clusterconfig.go
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/params.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/params.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-scheduler/config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-scheduler/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-scheduler/kubeconfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/testdata/zz_fixture_TestGenerateConfig_Leader_elect_args_get_set_correctly__default_profile.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/testdata/zz_fixture_TestGenerateConfig_high_node_utili_ation_profile.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/testdata/zz_fixture_TestGenerateConfig_no_scoring_profile.yaml
  support/config/featuregates.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/clusterconfig.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/api

#5091 OCPBUGS-44375: openstack: make external network ID really optional
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#5092 OCPBUGS-44041: add flags for passing in ManageIdentities on Azure HC …
  cmd/cluster/azure/create.go
  cmd/infra/azure/create.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/cli

#5084 OCPBUGS-44336: add missing comment in v2 openstack ccm
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/config.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4515 OSASINFRA-3565: openstack: additional ports
  api/hypershift/v1beta1/openstack.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/addresspair.go
  client/applyconfiguration/hypershift/v1beta1/openstacknodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/portspec.go
  client/applyconfiguration/utils.go
  cmd/cluster/openstack/create.go
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  cmd/nodepool/kubevirt/create.go
  cmd/nodepool/openstack/create.go
  cmd/util/params.go
  cmd/util/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/config_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/how-to/openstack/create-openstack-cluster.md
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack_test.go
  hypershift-operator/controllers/nodepool/openstack/openstack.go
  hypershift-operator/controllers/nodepool/openstack/openstack_test.go
  support/config/constants.go
  support/openstackutil/conversion.go
  support/openstackutil/conversion_test.go
  support/util/networking.go
  support/util/networking_test.go
  test/e2e/nodepool_osp_multinet_test.go
  test/e2e/nodepool_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/openstack.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling, area/api

#5103 NO-JIRA: docs/openstack: clarify CLI
  docs/content/how-to/openstack/create-openstack-cluster.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5116 NO-JIRA: docs: minor fix for OpenStack
  docs/content/how-to/openstack/create-openstack-cluster.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5111 OCPBUGS-44473: Add openshift to the groups of system:hosted-cluster-config
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#5115 OCPBUGS-44504: doc, fix kubevirt --attach-default-network opt
  cmd/nodepool/kubevirt/create.go
  docs/content/how-to/kubevirt/configuring-network.md
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/documentation, area/cli

#5107 OCPBUGS-44041: add --skip-service-principal-deletion flag
  cmd/cluster/azure/destroy.go
  cmd/cluster/core/destroy.go
  cmd/infra/azure/destroy.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/cli

#5128 HOSTEDCP-1542: Add developer instructions on how to setup workload identity on Azure
  contrib/managed-azure/Setting up workload identity for Azure HC.md
  contrib/managed-azure/create_basic_hosted_cluster.sh
  contrib/managed-azure/setup_aks_cluster.sh
  contrib/managed-azure/setup_external_dns.sh
  contrib/managed-azure/setup_install_ho_on_aks.sh
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5123 NO-JIRA: e2e: skip OSP multinet before 4.18
  test/e2e/nodepool_osp_multinet_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#5090 HOSTEDCP-2075: Hostedcluster api validation
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  api/util/ipnet/ipnet.go
  client/applyconfiguration/hypershift/v1beta1/hostedclusterspec.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/main.go
  docs/content/reference/api.md
  test/e2e/assets/hostedcluster-base.yaml
  test/e2e/assets/openstack-platform-enum.yaml
  test/e2e/create_cluster_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
  vendor/github.com/openshift/hypershift/api/util/ipnet/ipnet.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/documentation, area/cli, area/testing, area/api

#5126 OCPBUGS-44476: Use ingress role in private link controller for DNS operations
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/main.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#5033 [4.17] OCPBUGS-44184: dont use registryOverrides on kube rbac proxy image be…
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_No_private_apiserver_connectivity__proxy_apiserver_address_is_set.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Private_apiserver_connectivity__proxy_apiserver_address_is_unset.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/assets/10_deployment-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/envreplace.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#5147 NO-JIRA: remove out of date releas notes
  docs/content/contribute/release-process.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5124 OCPBUGS-44568: update diskStorageAccountType consts
  api/hypershift/v1beta1/azure.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/documentation, area/cli, area/api

#5150 NO-JIRA: Fix unit tests
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/api

#5104 HOSTEDCP-2173: [CPO Refactor] Refactor oauth-server
  api/hypershift/v1beta1/clusterconfig.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/oauth-openshift/audit-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/oauth-openshift/config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/oauth-openshift/default-error-template-secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/oauth-openshift/default-login-template-secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/oauth-openshift/default-provider-selection-template-secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/oauth-openshift/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/oauth-openshift/pdb.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/oauth-openshift/service-session-secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/idp_convert.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/idp_convert_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/sessionsecrets.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/templates.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/templates/errors.html
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/templates/login.html
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/templates/providers.html
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/konnectivity-container.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/clusterconfig.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/api

#5149 OCPBUGS-44689: skip np image validation when skipReleaseImageValidation annotation is present on HC
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#5125 HOSTEDCP-2177: [CPO Refactor] Refactor cluster-version-operator
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-version-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-version-operator/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-version-operator/rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-version-operator/service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-version-operator/serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-version-operator/servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/servicemonitor.go
  support/controlplane-component/controlplane-component.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5089 OCPBUGS-41365: use controlplaneCLI image in CNO init containers
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4936 OSASINFRA-3636: Enable cluster-storage-operator for OpenStack Cinder
  HACKING.md
  control-plane-operator/controllers/hostedcontrolplane/cloud/config.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig_test.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/openstack.go
  control-plane-operator/controllers/hostedcontrolplane/storage/assets/10_deployment-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/envreplace.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-openstack/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-openstack/config-secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-openstack/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/deployment.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/contribute/develop_in_cluster.md
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
  support/globalconfig/infrastructure.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/testing

#5167 NO-JIRA: Disable ASOAPI feature gate for CAPz
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4988 OSASINFRA-3639: Enable cluster-storage-operator for OpenStack Manila
  control-plane-operator/controllers/hostedcontrolplane/storage/assets/10_deployment-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/envreplace.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing

#4835 OSASINFRA-3644: openstack: allow to pre-define a floating IP for Ingress router-default
  api/hypershift/v1beta1/openstack.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/openstackplatformspec.go
  cmd/cluster/openstack/create.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/ingress.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/how-to/openstack/create-openstack-cluster.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/openstack.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling, area/control-plane-pki-operator, area/api

#4888 HOSTEDCP-2022: Reconcile SecretProviderClass for Image Registry on ARO HCP
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/azure.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/secretproviderclass.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/secretproviderclass/secretproviderclass.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/config.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  support/azureutil/azureutil.go
  support/config/constants.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/api

#5152 NO-JIRA: bump nodepoolConfigUpdate start timeout to 1min to reduce flakes
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#5127 HOSTEDCP-2178: Add CLI flag to support shared vpc private zones in cluster account
  cmd/cluster/aws/create.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/core/destroy.go
  cmd/infra/aws/create.go
  cmd/infra/aws/create_iam.go
  cmd/infra/aws/destroy.go
  cmd/infra/aws/destroy_iam.go
  cmd/infra/aws/ec2.go
  cmd/infra/aws/iam.go
  cmd/infra/aws/route53.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#5146 HOSTEDCP-2181: update latest supported version for 4.19 branching
  hypershift-operator/controllers/nodepool/secret_janitor_test.go
  support/supportedversion/version.go
  support/supportedversion/version_test.go
  test/e2e/util/version.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing, area/ci-tooling

#5186 OCPBUGS-44929: e2e: fix manila CSI operator
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing

#4884 OCPBUGS-44964: Reconcile SecretProviderClass for Ingress on ARO HCP
  cmd/cluster/azure/create.go
  cmd/infra/azure/create.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/config.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  support/azureutil/azureutil_test.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/api

#5191 OCPBUGS-44957: Use fleet manager configmaps to determine placeholder pod node antiaffinity
  hypershift-operator/controllers/scheduler/placeholders.go
  hypershift-operator/controllers/scheduler/placeholders_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/hypershift-operator

#5178 OCPBUGS-44910: openstack: don't reconcile image registry config during bootstrap
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/how-to/openstack/create-openstack-cluster.md
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/documentation

#4903 OCPBUGS-44967: Reconcile SecretProvider for CNCC on ARO HCP
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli

#5172 HOSTEDCP-2075: Nodeport address cel
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPPodsLabels.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  test/e2e/create_cluster_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/testing, area/api

#5192 OCPBUGS-44934: Fix error message when kas is route and hostname is not set
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/hypershift-operator

#5171 HOSTEDCP-2075: Dns cel e2e
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPPodsLabels.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  test/e2e/create_cluster_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/testing, area/ci-tooling, area/api

#5197 OCPBUGS-44380: Reconcile proxy CA bundle into hosted cluster
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pki.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator
