Repository openshift/hypershift, pull requests merged in 2024-03, with the labels that each got.

#3612 OCPBUGS-29613: test: add a test for invalid CSRs
  test/integration/control_plane_pki_operator.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing

#3663 NO-JIRA: Minor cleanup of Azure create cluster document
  docs/content/how-to/azure/create-azure-cluster.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#3570 OCPBUGS-30102: Support to disable machine management components
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3605 NO-JIRA: Remove specific pull secret watch in HCCO
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3653 OCPBUGS-30088: rollout kas on auth config change
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/auth.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#3648 [release-4.15] CNV-36056: Expose NodeSelector for KubeVirt VMs in NodePool
  api/fixtures/example_kubevirt.go
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1alpha1/kubevirtnodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/kubevirtnodepoolplatform.go
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  product-cli/cmd/cluster/kubevirt/create.go
  test/e2e/nodepool_kv_nodeselector_test.go
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling

#3669 HOSTEDCP-1405: Remove files not needed
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#3678 OCPBUGS-30124: do not set KAS OAuthMetadataFile with Authentication type OIDC
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#3680 OCPBUGS-30301: [kubevirt] Fix virt-launcher netpol to allow missing access
  hypershift-operator/controllers/hostedcluster/network_policies.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3661 OCPBUGS-28370: Use correct return error when destroying AWS SG
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#3670 OCPBUGS-30281: [release-4.15] OCPBUGS-30102: Support to disable machine management components
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3667 OCPBUGS-30060: Set OPERATOR_IMAGE environment variable
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3682 HOSTEDCP-1464: Add pull secret to install CLI & create k8s secret
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#3698 NO-JIRA: cleanup: nilness check failures
  availability-prober/availability_prober.go
  cmd/infra/powervs/destroy.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/platform/aws/controller.go
  hypershift-operator/init.go
  hypershift-operator/main.go
  ignition-server/cmd/run_local_ignitionprovider.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli, area/control-plane-pki-operator

#3700 Revert "NO-JIRA: test/e2e: temporarily skip NTO machineconfig test"
  test/e2e/nodepool_nto_machineconfig_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3665 NO-JIRA: Dependabot#3659
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsclustercontrolleridentities.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsclusterroleidentities.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsclusters.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsclusterstaticidentities.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsclustertemplates.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsfargateprofiles.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsmachinepools.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsmachines.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsmachinetemplates.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsmanagedmachinepools.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_rosamachinepools.yaml
  go.mod
  go.sum
  hack/app-sre/saas_template.yaml
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types_swagger_generated.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta1/awscluster_conversion.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta1/awscluster_types.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta1/awsclustertemplate_types.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta1/awsidentity_types.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta1/awsmachine_conversion.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta1/awsmachine_types.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta1/awsmachinetemplate_types.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta1/conversion.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta1/zz_generated.conversion.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awscluster_types.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awscluster_webhook.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmachine_types.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmachine_webhook.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/conditions_consts.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/defaults.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/network_types.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/tags.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/types.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/exp/api/v1beta1/awsfargateprofile_types.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/exp/api/v1beta1/awsmachinepool_types.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/exp/api/v1beta1/awsmanagedmachinepool_types.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/exp/api/v1beta1/conversion.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/exp/api/v1beta1/zz_generated.conversion.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/exp/api/v1beta1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/exp/api/v1beta2/OWNERS
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/exp/api/v1beta2/awsmachinepool_types.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/exp/api/v1beta2/awsmachinepool_webhook.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/exp/api/v1beta2/awsmanagedmachinepool_webhook.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/exp/api/v1beta2/conditions_consts.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/exp/api/v1beta2/finalizers.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/exp/api/v1beta2/rosamachinepool_types.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/exp/api/v1beta2/types.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/exp/api/v1beta2/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/iam/api/v1beta1/zz_generated.deepcopy.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/ci-tooling

#3685 OCPBUGS-30242: Use cluster-config-operator for 4.14 payload
  ignition-server/controllers/local_ignitionprovider.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#3707 OCPBUGS-30574: Update OLM Default Catalog Sources to 4.16 on main
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3708 HOSTEDCP-1469: Set GOMEMLIMIT annotation based on request serving node label
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3709 MCO-392: ignition-server/controllers: drop `MCSIgnitionProvider`
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/machineconfigserver_ignitionprovider.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3715 HOSTEDCP-1466: support/metrics: don't filter HCCO metrics
  support/metrics/sets.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3718 HOSTEDCP-1480: Update TLS cert hash creation with sha512
  support/certs/tls.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3722 HOSTEDCP-1479: Update IBM/networking-go-sdk package
  cmd/infra/powervs/create.go
  go.mod
  go.sum
  vendor/github.com/IBM/networking-go-sdk/directlinkv1/direct_link_v1.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/cli

#3725 HOSTEDCP-1460: Remove resource limits on azure-cloud-node-manager
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3696 OCPBUGS-30572: [release-4.15] Update OLM Default Catalog Sources to 4.15
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3699 OCPBUGS-30769: include node local client loadbalancer address in kube-apiserver signing ips
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#3689 HOSTEDCP-1220: Add multi-arch flag to CLI & associated validation
  cmd/cluster/aws/create.go
  cmd/cluster/aws/create_test.go
  cmd/cluster/core/create.go
  docs/content/how-to/aws/create-heterogeneous-nodepools.md
  docs/mkdocs.yml
  support/releaseinfo/registryclient/client.go
Labels: approved, lgtm, jira/valid-reference, area/documentation, area/cli

#3731 Revert "HOSTEDCP-1220: Add multi-arch flag to CLI & associated validation"
  cmd/cluster/aws/create.go
  cmd/cluster/aws/create_test.go
  cmd/cluster/core/create.go
  docs/content/how-to/aws/create-heterogeneous-nodepools.md
  docs/mkdocs.yml
  support/releaseinfo/registryclient/client.go
Labels: approved, lgtm, jira/valid-reference, area/documentation, area/cli

#3687 OCPBUGS-28634: Update agentserviceconfig.md to remove PUBLIC_CONTAINER_REGISTRIES
  docs/content/labs/common/mce/agentserviceconfig.md
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/documentation

#3727 OCPBUGS-30242: consider nigthly images in payoad version check
  ignition-server/controllers/local_ignitionprovider.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#3742 HOSTEDCP-1488: Use regionalized STS endpoints in AWS
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3701 STOR-1805: Set env var when the mgmt cluster supports SCC
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator_test.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/testdata/zz_fixture_TestReconcileOperatorDeployment.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3734 OCPBUGS-30320: speed up HCP rollout durations
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/params.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/scheduler/params.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3745 NO-JIRA:Bump CPO Read API budget to 4000 in EnsureApiBudget
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3584 HOSTEDCP-929: Add nodepool annotation to allow requesting IMDSv2
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3735 NO-ISSUE: hypershift-operator: react to hosted cluster changes
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3736 HOSTEDCP-1487: Add ability to set managed service type in HO
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli

#3746 OCPBUGS-30260: Support specifying AWS LB subnets
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  support/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3744 [release-4.15] OCPBUGS-30651: Remove EnsurePSANotPrivileged
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing

#3748 HOSTEDCP-1467: ARO HCP - Add ability to specify subnet at nodepool level
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1beta1/nodepool_types.go
  client/applyconfiguration/hypershift/v1alpha1/azurenodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/azurenodepoolplatform.go
  cmd/cluster/azure/create.go
  cmd/cluster/core/create.go
  cmd/infra/azure/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/azure/create.go
  docs/content/how-to/azure/create-azure-cluster-with-options.md
  docs/content/reference/api.md
  examples/fixtures/example.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/azure.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/nodepool_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3743 HOSTEDCP-1220: Add multi-arch flag to CLI & associated validation
  cmd/cluster/aws/create.go
  cmd/cluster/aws/create_test.go
  cmd/cluster/core/create.go
  docs/content/how-to/aws/create-heterogeneous-nodepools.md
  docs/mkdocs.yml
  support/releaseinfo/registryclient/client.go
Labels: approved, lgtm, jira/valid-reference, area/documentation, area/cli

#3741 NO-JIRA: Bump CPO API budget to 4000 in EnsureApiBudget
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3757 NO-JIRA: Increase stability in autoscaled environments
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/kas/pdb.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/pdb.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/pdb.go
  hack/app-sre/saas_template.yaml
  support/util/pdb.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/cli, area/ci-tooling

#3749 HOSTEDCP-1429: hypershift-operator: wire up placeholder pods for sizes
  api/scheduling/v1alpha1/clustersizingconfiguration_types.go
  api/scheduling/v1alpha1/zz_generated.deepcopy.go
  client/applyconfiguration/scheduling/v1alpha1/management.go
  client/applyconfiguration/scheduling/v1alpha1/sizeconfiguration.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/scheduling.hypershift.openshift.io_clustersizingconfigurations.yaml
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  hypershift-operator/controllers/scheduler/placeholders.go
  hypershift-operator/controllers/scheduler/placeholders_test.go
  hypershift-operator/main.go
  test/integration/hosted_cluster_sizing_test.go
  test/integration/placeholder_test.go
  vendor/github.com/openshift/hypershift/api/scheduling/v1alpha1/clustersizingconfiguration_types.go
  vendor/github.com/openshift/hypershift/api/scheduling/v1alpha1/zz_generated.deepcopy.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli, area/testing, area/ci-tooling

#3762 HOSTEDCP-1487: Add managed service constants to HyperShift API
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/install/install.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli

#3726 OCPBUGS-30742: [4.15] HCP deletion can get stuck if CPO is unable to delete the default worker security group
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3760 OCPBUGS-30968: ibmcloud KMS: remove breaking image check and enable KMS v2 support
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/ibmcloud.go
Labels: approved, ok-to-test, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3766 HOSTEDCP-1429: Add install flag to enable/disable size tagging
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/main.go
  test/integration/framework/install.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli, area/testing

#3773 OCPBUGS-30991: external OIDC: fix certificateAuthority field in structured auth config
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/auth.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#2989 NO-JIRA: Adding Disable PKI Reconciliation annotation as an option
  hack/ci-test-e2e.sh
  test/e2e/control_plane_upgrade_test.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing, area/ci-tooling

#3780 OCPBUGS-31102: inject built-in MCP selector for KubeletConfigs and ContainerRuntimeConfigs
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3786 OCPBUGS-30930: Add CEL validation for NodePool autoScaling / replicas
  api/hypershift/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#3789 NO-JIRA: Remove unused ref to hostnetwork in cpo role
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3787 HOSTEDCP-1501: Create default ClusterSizingConfig CR on start
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedclustersizing/setup.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#3740 [release-4.15] OCPBUGS-30862: Manual cherry pick 3685&3727 to release 4.15
  ignition-server/controllers/local_ignitionprovider.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3769 HOSTEDCP-1104,HOSTEDCP-1105: Validate multi-arch aspects in an AWS Hosted Cluster
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1beta1/hostedcluster_types.go
  client/applyconfiguration/hypershift/v1alpha1/awsplatformspec.go
  client/applyconfiguration/hypershift/v1beta1/awsplatformspec.go
  cmd/cluster/aws/create.go
  cmd/cluster/core/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  docs/content/how-to/aws/create-heterogeneous-nodepools.md
  docs/content/reference/api.md
  examples/fixtures/example.go
  examples/fixtures/example_aws.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3770 OCPBUGS-31088: Fix loopvar issue
  cmd/infra/azure/create.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/cli

#3784 OCPBUGS-31118: fix(ignition): Fix priority class override
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#3733 OCPBUGS-31263: Add missing PodSecurityViolation alert
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/alerts/assets/podsecurity-violation.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/alerts/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/alerts.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, ok-to-test, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3778 OCPBUGS-31090: Fix empty subnet name error when creating Azure infrastructure
  cmd/infra/azure/create.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/cli

#3775 OCPBUGS-31089: Fix empty resourceGroupName error when deleting Azure infra
  cmd/infra/azure/destroy.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/cli

#3795 OCPBUGS-13726: fix race between ignition payload generation and MCS configmap update
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/params.go
  control-plane-operator/controllers/hostedcontrolplane/mcs/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  ignition-server/cmd/run_local_ignitionprovider.go
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
  support/metrics/sets.go
  support/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3797 HOSTEDCP-1104: Skip CPU Check on Render & Get Mgmt Cluster CPU from API Server
  cmd/cluster/core/create.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/util/util.go
  support/util/util_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli

#3782 OCPBUGS-31110: Fix empty RHCOSImage error when creating Azure Infrastructure
  cmd/infra/azure/create.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/cli

#3804 OCPBUGS-31076: Support other azure clouds
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1beta1/hostedcluster_types.go
  client/applyconfiguration/hypershift/v1alpha1/azureplatformspec.go
  client/applyconfiguration/hypershift/v1beta1/azureplatformspec.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  support/conditions/conditions.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3776 HOSTEDCP-1478: Request serving node scheduler that uses HC size label
  api/hypershift/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes_test.go
  hypershift-operator/controllers/scheduler/placeholders.go
  hypershift-operator/main.go
  support/util/deployment.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3799 OCPBUGS-31319: copy issuerCertificateAuthority configmap into HC openshift-config
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3732 HOSTEDCP-1462: Enable TestNodePool and CreateCluster tests on Azure
  Makefile
  hack/ci-test-e2e-azure.sh
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing, area/ci-tooling

#3803 [release-4.15] OCPBUGS-31377: Manually cherry pick #3782 to 4.15
  cmd/infra/azure/create.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/cli

#3781 OCPBUGS-31106: Reduce log file size for hypershift apiservers
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3815 OCPBUGS-31465: remove max function usage from deicated request serving nodes
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3802 OCPBUGS-31265: inject built-in MCP selector for KubeletConfigs and ContainerRuntimeConfigs
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3788 NO-JIRA: Set control plane to HA by default
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3163 NO-JIRA: Add --auto-repair flag to `hcp create nodepool`
  cmd/nodepool/core/create.go
  cmd/nodepool/create.go
  product-cli/cmd/nodepool/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli
