Repository openshift/hypershift, pull requests merged in 2024-05, with the labels that each got.

#3965 OCPBUGS-33132: Restore ingresscontroller rbac
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/hypershift-operator

#3884 OCPBUGS-32229: disable autoscaler when no nodepool require it
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3928 HOSTEDCP-1513: Add operator scoping support to nodepool controller
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  support/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3988 OCPBUGS-33203,OCPBUGS-33274: Autoscaler: scale down unused machinesets
  hypershift-operator/controllers/scheduler/autoscaler.go
  hypershift-operator/controllers/scheduler/autoscaler_test.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  hypershift-operator/main.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3958 HOSTEDCP-1552: Update RHTAP tekton files for 0.3 -> 0.4 migration
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#3955 [release-4.15] OCPBUGS-33207: Remove kube-scheduler readiness probe
  control-plane-operator/controllers/hostedcontrolplane/scheduler/params.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3968 CNV-36073: Set time out for external snapshotter on kubevirt csi driver
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/controller.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3945 HOSTEDCP-1544: Allow user to specify subnet ID for Hosted Cluster & NodePool Creation
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1beta1/hostedcluster_types.go
  client/applyconfiguration/hypershift/v1alpha1/azureplatformspec.go
  client/applyconfiguration/hypershift/v1beta1/azureplatformspec.go
  cmd/cluster/azure/create.go
  cmd/cluster/core/create.go
  cmd/infra/azure/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/providerconfig.go
  docs/content/reference/api.md
  examples/fixtures/example.go
  examples/fixtures/example_azure.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  support/azureutil/azureutil.go
  support/azureutil/azureutil_test.go
  test/e2e/e2e_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling

#3979 MULTIARCH-4637: Support ppc64le arch for Agent and PowerVS platform
  api/hypershift/v1beta1/nodepool_types.go
  cmd/cluster/core/create.go
  cmd/cluster/powervs/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  test/e2e/e2e_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling

#4002 MULTIARCH-4637: Set arch to ppc64le within PowerVS platform func
  cmd/cluster/powervs/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#3986 OCPBUGS-26762: Disable DNS resolving for CNO
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  konnectivity-socks5-proxy/main.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#3999 OCPBUGS-33237: Run haproxy to connect to kas from data plane if noproxy settings contain kas
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/haproxy_test.go
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_empty_proxy_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_clusterNetwork_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_internalAddress_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_kubernetes_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_serviceNetwork_it_should_create_an_haproxy.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling

#3998 [release-4.15] HOSTEDCP-1513: Support hypershift-operator scoping for hostedclusters
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  support/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4006 HOSTEDCP-1557: Allow the NSG ID to drive the NSG Resource Group for the Azure Cloud Provider Config
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/infra/azure/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/providerconfig.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  support/azureutil/azureutil.go
  support/azureutil/azureutil_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#4007 OCPBUGS-33320: Autoscaler for non request serving nodes
  api/scheduling/v1alpha1/clustersizingconfiguration_types.go
  api/scheduling/v1alpha1/zz_generated.deepcopy.go
  client/applyconfiguration/scheduling/v1alpha1/clustersizingconfigurationspec.go
  client/applyconfiguration/scheduling/v1alpha1/management.go
  cmd/install/assets/hypershift-operator/scheduling.hypershift.openshift.io_clustersizingconfigurations.yaml
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedclustersizing/hostedclustersizing_validation_controller.go
  hypershift-operator/controllers/scheduler/autoscaler.go
  hypershift-operator/controllers/scheduler/autoscaler_test.go
  hypershift-operator/main.go
  support/testutil/testutil.go
  vendor/github.com/openshift/hypershift/api/scheduling/v1alpha1/clustersizingconfiguration_types.go
  vendor/github.com/openshift/hypershift/api/scheduling/v1alpha1/zz_generated.deepcopy.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#4004 HOSTEDCP-1563: Refine the Azure API in the NodePool Spec
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1beta1/nodepool_types.go
  client/applyconfiguration/hypershift/v1alpha1/azurenodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/azurenodepoolplatform.go
  cmd/cluster/azure/create.go
  cmd/infra/azure/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/azure/create.go
  docs/content/reference/api.md
  examples/fixtures/example.go
  examples/fixtures/example_azure.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/azure.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/nodepool_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3981 HOSTEDCP-1525: Fixed azure using incorrect kms socket
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/azure.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4016 OCPBUGS-33320: Fix nil dereference in clustersizingconfig validation
  hypershift-operator/controllers/hostedclustersizing/hostedclustersizing_validation_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#4003 HOSTEDCP-1560: Create AWS STS Role for the hypershift/hcp cli
  cmd/infra/aws/create_cli_role.go
  cmd/infra/aws/iam.go
  cmd/infra/create_iam.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#3952 OCPBUGS-32257: Restrict image registry overrides to control plane components
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/main.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3996 HOSTEDCP-1310: use kms images from payload
  control-plane-operator/controllers/hostedcontrolplane/kas/kms.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/azure.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/images/envvars.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3864 HOSTEDCP-1518: Preserve container resource requests and limits
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator_test.go
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_No_private_apiserver_connectivity__proxy_apiserver_address_is_set.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Private_apiserver_connectivity__proxy_apiserver_address_is_unset.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/operator_test.go
  control-plane-operator/controllers/hostedcontrolplane/olm/packageserver.go
  control-plane-operator/controllers/hostedcontrolplane/olm/packageserver_test.go
  control-plane-operator/controllers/hostedcontrolplane/olm/testdata/zz_fixture_TestReconcileCatalogOperatorDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/testdata/zz_fixture_TestReconcileOLMOperatorDeployment_Preserve_existing_resources.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3962 OCPBUGS-33117: Reconcile over ICSP/IDMS
  go.mod
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/main.go
  support/capabilities/management_cluster_capabilities.go
  support/globalconfig/imagecontentsource.go
  support/globalconfig/imagecontentsource_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#4021 HOSTEDCP-1655: Don't Ignore SubnetID and Network Security Group ID flags when values are passed through
  cmd/cluster/azure/create.go
  cmd/cluster/core/create.go
  cmd/infra/azure/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4023 OCPBUGS-33595: Cluster sizing controller: do not error on not found HC
  hypershift-operator/controllers/hostedclustersizing/hostedclustersizing_controller.go
Labels: approved, lgtm, jira/severity-low, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#4038 HOSTEDCP-1668: remove dns-operator leader-elect flags
  control-plane-operator/controllers/hostedcontrolplane/dnsoperator/dnsoperator.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3881 [release-4.15] OCPBUGS-32220: Fix disconnected metadata inspection
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#4037 OCPBUGS-33729: Do not ignore single placeholder pods for a specific hosted cluster
  hypershift-operator/controllers/scheduler/autoscaler.go
  hypershift-operator/controllers/scheduler/autoscaler_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/hypershift-operator

#4034 OCPBUGS-33659: Improve resliency of size tagging when hostedcluster KAS down
  hypershift-operator/controllers/hostedclustersizing/hostedclustersizing_controller.go
  hypershift-operator/controllers/hostedclustersizing/hostedclustersizing_controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/hypershift-operator

#4051 TRT-1672: e2e: proceed with teardown even if dump fails
  test/e2e/util/hypershift_framework.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4045 OCPBUGS-33802: don't delay new cluster creation
  api/scheduling/v1alpha1/clustersizingconfiguration_types.go
  cmd/install/assets/hypershift-operator/scheduling.hypershift.openshift.io_clustersizingconfigurations.yaml
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedclustersizing/hostedclustersizing_controller.go
  hypershift-operator/controllers/hostedclustersizing/hostedclustersizing_controller_test.go
  vendor/github.com/openshift/hypershift/api/scheduling/v1alpha1/clustersizingconfiguration_types.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#4032 [release-4.15] HOSTEDCP-1518: Preserve container resource requests and limits
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator_test.go
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_No_private_apiserver_connectivity__proxy_apiserver_address_is_set.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Private_apiserver_connectivity__proxy_apiserver_address_is_unset.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/operator_test.go
  control-plane-operator/controllers/hostedcontrolplane/olm/packageserver.go
  control-plane-operator/controllers/hostedcontrolplane/olm/packageserver_test.go
  control-plane-operator/controllers/hostedcontrolplane/olm/testdata/zz_fixture_TestReconcileCatalogOperatorDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/testdata/zz_fixture_TestReconcileOLMOperatorDeployment_Preserve_existing_resources.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4056 [release-4.15] NO-JIRA: Remove CLI inspection of release image
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  cmd/cluster/core/create_test.go
  product-cli/cmd/cluster/cluster.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/testing

#4035 OCPBUGS-33726: Remove service-ca annotation from azure csi & file controller metrics services
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4029 HOSTEDCP-1556: Support Priority based expander for cluster-autoscaler
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4057 OCPBUGS-33377: Modify token secret MCS hash in place
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#3902 CNV-40881: kubevirt, e2e, add test for advanced multinet
  test/e2e/nodepool_autorepair_test.go
  test/e2e/nodepool_kms_root_volume_test.go
  test/e2e/nodepool_kv_advanced_multinet_test.go
  test/e2e/nodepool_kv_cache_image_test.go
  test/e2e/nodepool_kv_jsonpatch_test.go
  test/e2e/nodepool_kv_multinet_test.go
  test/e2e/nodepool_kv_nodeselector_test.go
  test/e2e/nodepool_kv_qos_guaranteed_test.go
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/nodepool_nto_performanceprofile_test.go
  test/e2e/nodepool_rolling_upgrade_test.go
  test/e2e/nodepool_test.go
  test/e2e/nodepool_upgrade_test.go
  test/e2e/util/kubevirt.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/testing

#3992 CNF-12792:nto: add configmaps/finalizers under operator `Role`
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli, area/ci-tooling

#4027 HOSTEDCP-1561: Move HCP Product CLI to STS
  cmd/cluster/aws/create.go
  cmd/cluster/aws/create_test.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/aws/destroy_test.go
  cmd/cluster/core/create.go
  cmd/cluster/core/destroy.go
  cmd/consolelogs/aws/getlogs.go
  cmd/infra/aws/create.go
  cmd/infra/aws/create_iam.go
  cmd/infra/aws/destroy.go
  cmd/infra/aws/destroy_iam.go
  cmd/infra/aws/util/sts.go
  cmd/infra/aws/util/util.go
  cmd/util/secrets.go
  cmd/util/util.go
  go.mod
  product-cli/cmd/cluster/aws/create.go
  product-cli/cmd/cluster/aws/destroy.go
  support/awsutil/sts.go
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
  test/e2e/nodepool_autorepair_test.go
  test/e2e/nodepool_kms_root_volume_test.go
  test/e2e/util/dump/dump.go
  test/e2e/util/fixture.go
Labels: approved, tide/merge-method-squash, lgtm, jira/valid-reference, area/cli, area/testing

#4043 OCPBUGS-32257: Fix userReleaseProvider not using icsp/idms from mgmt cluster
  control-plane-operator/main.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4050 OCPBUGS-33742: setting higher priority class for external-dns pods
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/cli, area/ci-tooling

#4066 OCPBUGS-34019: Make active & backup Azure KMS containers use different --metrics-addr
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/azure.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#4070 NO-JIRA: Reinstate wrongly removed fields from cert rotation objects
  control-plane-pki-operator/certrotationcontroller/certrotationcontroller.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-pki-operator

#4033 OCPBUGS-25758: fix router on 4.14 y-stream upgrade
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router_test.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/testdata/zz_fixture_TestGenerateRouterConfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/manifests/cno.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#4074 OCPBUGS-34095: Sync the autoscaler periodically
  hypershift-operator/controllers/scheduler/autoscaler.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#4075 OCPBUGS-33977: Allow specifying machine health check timeout in cluster sizing config
  api/hypershift/v1beta1/hostedcluster_types.go
  api/scheduling/v1alpha1/clustersizingconfiguration_types.go
  api/scheduling/v1alpha1/zz_generated.deepcopy.go
  client/applyconfiguration/scheduling/v1alpha1/effects.go
  cmd/install/assets/hypershift-operator/scheduling.hypershift.openshift.io_clustersizingconfigurations.yaml
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/scheduling/v1alpha1/clustersizingconfiguration_types.go
  vendor/github.com/openshift/hypershift/api/scheduling/v1alpha1/zz_generated.deepcopy.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#4080 HOSTEDCP-1681: Skip konflux when not necessary
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4082 NO-JIRA: test: relax mgmt KAS egress check
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#4076 OCPBUGS-34071: Do not scale down legacy nodes
  hypershift-operator/controllers/scheduler/autoscaler.go
  hypershift-operator/controllers/scheduler/autoscaler_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#3855 OCPBUGS-30986: remove weak cipher
  support/config/cipher.go
Labels: approved, ok-to-test, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#4083 NO-JIRA: Align kv min version to the default min version (now that default is >= 4.14
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  support/supportedversion/version.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4031 OCPBUGS-31446: Add TrustedBundles to OAS container
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  support/util/volumes.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#3972 OCPBUGS-33181: Fixed audit-logs sigterm failing to terminate gracefully
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/openshift_apiserver.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3942 OCPBUGS-33428: Reconcile KAS endpoints and endpoint slice
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/kas/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/config.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/kas.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/util/networking.go
  support/util/networking_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4092 [release-4.16] HOSTEDCP-1561: Move HCP Product CLI to STS
  cmd/cluster/aws/create.go
  cmd/cluster/aws/create_test.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/aws/destroy_test.go
  cmd/cluster/core/create.go
  cmd/cluster/core/destroy.go
  cmd/consolelogs/aws/getlogs.go
  cmd/infra/aws/create.go
  cmd/infra/aws/create_iam.go
  cmd/infra/aws/destroy.go
  cmd/infra/aws/destroy_iam.go
  cmd/infra/aws/util/sts.go
  cmd/infra/aws/util/util.go
  cmd/util/secrets.go
  cmd/util/util.go
  go.mod
  product-cli/cmd/cluster/aws/create.go
  product-cli/cmd/cluster/aws/destroy.go
  support/awsutil/sts.go
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
  test/e2e/nodepool_autorepair_test.go
  test/e2e/nodepool_kms_root_volume_test.go
  test/e2e/util/dump/dump.go
  test/e2e/util/fixture.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/testing

#4100 OCPBUGS-34540: Fix RegistryMirrorProvider modifying the cached image directly
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/main.go
  support/releaseinfo/registry_mirror_provider.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3991 MULTIARCH-4668: Add how to doc for heterogeneous node pools on Agent platform
  docs/content/how-to/agent/create-heterogeneous-nodepools.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4058 OCPBUGS-34397: Rename machine-config operator CRD references
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
Labels: approved, tide/merge-method-squash, ok-to-test, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#4103 OCPBUGS-33987: Use configmaps to track hosted cluster pair labels and set controller concurrency
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#4001 HOSTEDCP-1570: remove liveness and readiness probes using metrics endpoint
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/control-plane-operator

#4088 HOSTEDCP-1688: Use operator namespace for openshift-config-managed-trusted-ca-bundle
  cmd/install/install.go
  hack/app-sre/saas_template.yaml
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/cli, area/ci-tooling

#4114 OCPBUGS-34602,OCPBUGS-34569: Backports that should go in together
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/main.go
  support/releaseinfo/registry_mirror_provider.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#3824 OCPBUGS-31568: Prevent hypershift install render --template and --outputs from being used together
  cmd/install/install_render.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/cli
