Repository openshift/hypershift, pull requests merged in 2024-12, with the labels that each got.

#5194 HOSTEDCP-2193: allow reuse of SP for e2e
  cmd/cluster/azure/create.go
  cmd/infra/azure/create.go
  test/e2e/e2e_test.go
  test/e2e/util/fixture.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/testing

#4904 OCPBUGS-44968: Reconcile SecretProvider for CSO on ARO HCP
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/storage/azure.go
  control-plane-operator/controllers/hostedcontrolplane/storage/operator.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli

#5217 NO-JIRA: cpov2: revert oauth reconciliation
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5212 HOSTEDCP-2197: Fix TLS config documentation for disconnected
  docs/content/how-to/disconnected/tls-certificates.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5219 [release-4.16] OCPBUGS-39372: Fixed NodePool version validation
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  support/supportedversion/version.go
  support/supportedversion/version_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#5202 OCPBUGS-45189, OCPBUGS-45182: e2e/openstack: adjustments for missing manila apps & pods
  test/e2e/util/util.go
Labels: approved, ok-to-test, lgtm, jira/valid-bug, jira/valid-reference, area/testing

#5216 OCPBUGS-44967: Pass only the certificate name for CNO deployment
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  support/config/constants.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5239 NO-JIRA: updating ocp release task notes
  docs/content/contribute/release-process.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5223 NO-JIRA: openstack/doc: add a requirement for Octavia
  docs/content/how-to/openstack/create-openstack-cluster.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5230 HOSTEDCP-2201: add DNS RG to contributor role assignments and add new flag for skipping role assignments
  cmd/cluster/azure/create.go
  cmd/infra/azure/create.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/testing

#5244 HOSTEDCP-2204: adding contributor role to nodepoolManagement SP
  cmd/infra/azure/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#5241 OCPBUGS-44236: Use system trust bundle in CPO IDP https client
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5195 HOSTEDCP-2181: bump base images in dockerfiles to 4.19
  Dockerfile
  Dockerfile.control-plane
  Dockerfile.dev
  Dockerfile.e2e
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5221 NO-JIRA: e2e: followup cleanup for OpenStack Manila
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#5166 OCPBUGS-42338: Update KCM node monitor grace period
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#5138 NO-JIRA: openstack/e2e: allow to change AZ name
  test/e2e/e2e_test.go
  test/e2e/nodepool_osp_az_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#5258 NO-JIRA: Relax networking cel validation for IBMCloud
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPPodsLabels.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/documentation, area/cli, area/api

#5240 NO-JIRA: Remove SP creation/deletion in the HyperShift CLI
  cmd/cluster/azure/create.go
  cmd/cluster/azure/destroy.go
  cmd/cluster/core/destroy.go
  cmd/infra/azure/create.go
  cmd/infra/azure/destroy.go
  test/e2e/e2e_test.go
  test/e2e/util/fixture.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/testing

#5261 NO-JIRA: Update Konflux References and Perform Migration for Release-4.16
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-mce-26-pull-request.yaml
  .tekton/hypershift-release-mce-26-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5220 OCPBUGS-42320: Prevent IgnitionServer from flooding the API server with patch requests
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#5259 NO-JIRA: Relax ibm network cel 4.18
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPPodsLabels.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/documentation, area/cli, area/api

#5257 HOSTEDCP-2206: Improve Unit Test Runtime
  .pre-commit-config.yaml
  Makefile
  docs/content/contribute/index.md
  docs/content/contribute/release-process.md
  docs/content/how-to/agent/create-agent-cluster.md
  docs/content/how-to/automated-machine-management/scale-to-zero-dataplane.md
  docs/content/how-to/aws/shared-vpc.md
  docs/content/how-to/kubevirt/configuring-storage.md
  docs/content/how-to/kubevirt/create-kubevirt-cluster.md
  docs/content/how-to/powervs/create-cluster-powervs.md
  docs/content/how-to/powervs/create-infra-separately.md
  support/azureutil/azureutil_test.go
  support/controlplane-component/README.md
  support/controlplane-component/defaults.go
  test/e2e/nodepool_kv_advanced_multinet_test.go
Labels: approved, lgtm, jira/valid-reference, area/documentation, area/testing

#5260 NO-JIRA: Update Konflux References and Perform Migration
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5199 HOSTEDCP-2193: documenting --managed-identities-file flag
  contrib/managed-azure/create_basic_hosted_cluster.sh
  contrib/managed-azure/setup_dev_environment.md
  docs/content/how-to/azure/create-azure-cluster-with-options.md
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
Labels: approved, lgtm, jira/valid-reference, area/documentation, area/cli, area/testing

#5264 NO-JIRA: Fix pre-commit hook issues
  .codespellignore
  contrib/managed-azure/setup_dev_environment.md
  docs/content/how-to/azure/create-azure-cluster-with-options.md
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
Labels: approved, lgtm, jira/valid-reference, area/documentation, area/ci-tooling

#5265 NO-JIRA: contrib: update route53 zone cleaning utility
  contrib/cleanzones/Dockerfile
  contrib/cleanzones/go.mod
  contrib/cleanzones/go.sum
  contrib/cleanzones/main.go
  contrib/cleanzones/manifests/01-serviceaccount.yaml
  contrib/cleanzones/manifests/02-cronjob.yaml
  contrib/cleanzones/role-policy.json
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5242 HOSTEDCP-2203: Add support for public only AWS clusters
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/cluster/aws/create.go
  cmd/infra/aws/create.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws_test.go
  hypershift-operator/controllers/nodepool/aws.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/testing, area/api

#5270 NO-JIRA: Fix spelling mistakes from PR #5265
  contrib/cleanzones/main.go
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5269 HOSTEDCP-2203: Create e2e clusters with public IP instances only
  cmd/cluster/aws/create.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/testing

#5271 NO-JIRA: Allow multiple yaml def in a file for pre-commit
  .pre-commit-config.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5266 NO-JIRA: Fix expected AWS HC conditions during e2e tests
  support/conditions/conditions.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#5229 NO-JIRA: test/e2e: detect rapidly updating deployments
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#5272 OCPBUGS-45595: Updating ose-hypershift-container image to be consistent with ART for 4.19
  .ci-operator.yaml
  Dockerfile
  Dockerfile.control-plane
  Dockerfile.dev
  Dockerfile.e2e
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/ci-tooling

#5281 OCPBUGS-44314: Consistently look up and dial cloud API hostnames
  support/konnectivityproxy/dialer.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5273 NO-JIRA: set diskStorageAccountType in aks e2e
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_availability_ones.yaml
  cmd/nodepool/azure/create.go
Labels: approved, lgtm, jira/valid-reference, area/documentation, area/cli

#5275 NO-JIRA: 4.18 aks e2e cli changes
  cmd/cluster/azure/create.go
  cmd/infra/azure/create.go
  test/e2e/e2e_test.go
  test/e2e/util/fixture.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/testing

#5277 STOR-2136: Give delete permissions to snapshot-operator role
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/assets/05_operator_role-hypershift.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5262 OSASINFRA-3685: openstack: tag CAPI resources with InfraID
  docs/content/how-to/openstack/create-openstack-cluster.md
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation

#5311 OCPBUGS-46483: Correctly Reconcile CSO CSI Secrets for Managed Azure Deployments
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/storage/azure.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#5316 CNTRLPLANE-25: Fix valid release image update issue
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/karpenter.go
  karpenter-operator/controllers/karpenter/manifests.go
  karpenter-operator/manifests/operator.go
  support/releaseinfo/registryclient/client.go
  support/util/imagemetadata.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#5313 OCPBUGS-46529: kubevirt, Don't break on hostname NodePort.Address
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#5314 CNTRLPLANE-26: Disable building HO for s390x platform on PR
  .tekton/hypershift-operator-main-pull-request.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5306 NO-JIRA: Fix oauth-v2 and kcm-v2
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-controller-manager/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-controller-manager/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-controller-manager/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/idp_convert.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/idp_convert_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5323 NO-JIRA: Revert E2E test change which validates the CVO Image propagation
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#5280 OCPBUGS-46354: fix(ho): Add all supported config schemas for NodePool NTO reconcile
  hypershift-operator/controllers/nodepool/nto.go
  hypershift-operator/controllers/nodepool/nto_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/hypershift-operator

#5333 OCPBUGS-47539: Separate CPO containerfiles
  .pre-commit-config.yaml
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  Containerfile.control-plane
  hack/tools/git-hooks/cpo-containerfiles-in-sync.sh
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/ci-tooling

#5318 [release-4.18] OCPBUGS-46664,OCPBUGS-46665: Fix IPv6 Disconnected HCP deployments
  cmd/cluster/core/create.go
  cmd/cluster/core/create_test.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/params.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/pki/params.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-aws/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-azure/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-kubevirt/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-openstack/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-powervs/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-autoscaler/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-controller-manager/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-controller-manager/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-route-controller-manager/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/statefulset.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/kas/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/olm/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/secret_janitor_test.go
  ignition-server/cmd/run_local_ignitionprovider.go
  ignition-server/cmd/start.go
  ignition-server/controllers/local_ignitionprovider.go
  support/controlplane-component/controlplane-component.go
  support/globalconfig/network.go
  support/releaseinfo/registryclient/client.go
  support/releaseinfo/registryclient/client_test.go
  support/util/fakeimagemetadataprovider/fakeimagemetadataprovider.go
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
  support/util/networking.go
  support/util/util.go
  support/util/util_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli, area/testing
