Repository openshift/hypershift, pull requests merged in 2024-01, with the labels that each got.

#3281 HOSTEDCP-1328: Add Ability to Encrypt VM OS Disks
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1beta1/nodepool_types.go
  client/applyconfiguration/hypershift/v1alpha1/azurenodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/azurenodepoolplatform.go
  cmd/cluster/azure/create.go
  cmd/cluster/core/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/azure/create.go
  docs/content/how-to/azure/create-azure-cluster-with-options.md
  docs/content/how-to/azure/create-azure-cluster.md
  docs/content/reference/api.md
  docs/mkdocs.yml
  examples/fixtures/example.go
  examples/fixtures/example_azure.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/azure.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#3359 HOSTEDCP-1371: Bump Golang to v1.21
  .ci-operator.yaml
  Dockerfile
  Dockerfile.control-plane
  fast.Dockerfile
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#3364 CNV-36656: Documenting the mimimum RBAC required for External Infra cluster with KubeVirt provider
  docs/content/how-to/kubevirt/external-infrastructure.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#3368 OCPBUGS-26197: hostedcontrolplane: don't start pki operator when disabled
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3341 OCPBUGS-25342: Add extra resources to be encrypted.
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/aws.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/azure.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/ibmcloud.go
  support/config/kms.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#3377 OCPBUGS-26232: set KAS runtime-config in alignment with feature gates
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3239 OCPBUGS-23518: consider HCP upgradeable if CVO has no upgradable condition
  control-plane-operator/hostedclusterconfigoperator/controllers/hcpstatus/hcpstatus.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3175 [release-4.14] OCPBUGS-22360: Validate accessTokenInactivityTimeout >= 300s
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#3361 OCPBUGS-25974: Do not use CPO image from status if it's not a valid image reference
  control-plane-operator/main.go
Labels: approved, lgtm, jira/severity-low, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3373 HOSTEDCP-1374: external OIDC: copy Authentication OIDC client secrets through to guest
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3391 NO-JIRA: [KubeVirt] Fix external infra permissions documentation
  docs/content/how-to/kubevirt/external-infrastructure.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#3384 HOSTEDCP-1309: Add GC knobs for KAS
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3375 OCPBUGS-25897: hcco: use manual mode for CCO
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/cco/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/cco/reconcile_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#3394 OCPBUGS-26547: reduce external-dns route53 call volume
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/cli, area/ci-tooling

#3408 OCPBUGS-26547: fix up external-dns flags
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
Labels: approved, jira/invalid-bug, jira/valid-reference, area/cli, area/ci-tooling

#3410 OCPBUGS-26547: remove LoadBalancer filter from external-dns
  cmd/install/assets/hypershift_operator.go
  hack/app-sre/saas_template.yaml
Labels: approved, do-not-merge/hold, jira/invalid-bug, jira/valid-reference, area/cli, area/ci-tooling

#3382 OCPBUGS-25696: Apply Scheduling Configuration for kCCM
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/reconcile.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3407 NO-JIRA: remove non-existent v1beta2 from webhook
  cmd/install/install.go
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/cli, area/ci-tooling

#3409 OCPBUGS-27027: availability-prober: wait for infrastructure name to be set
  availability-prober/availability_prober.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3396 OCPBUGS-23228: Add storage, csisnapshotcontroller and clustercsidrive…
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#3354 NO-JIRA: Improve nodepool's machine condition message
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3400 OCPBUGS-26757: Change KAS bootstrap image to cluster-config-api
  Dockerfile.control-plane
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  ignition-server/controllers/local_ignitionprovider.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3423 [release-4.15] OCPBUGS-27155: Change KAS bootstrap image to cluster-config-api
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  ignition-server/controllers/local_ignitionprovider.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3404 HOSTEDCP-1382: [Subtask] Restore Ability to Create HCPs on Azure
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#3331 NO-JIRA: Document machine configuration in HyperShift
  docs/content/how-to/automated-machine-management/configure-machines.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation

#3034 HOSTEDCP-1207: Automated etcd backup
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/etcd.go
  control-plane-operator/main.go
  etcd-backup/OWNERS
  etcd-backup/etcdbackup.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#3445 HOSTEDCP-1283: Set outbound LoadBalancer name on AzureCluster
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#3434 HOSTEDCP-1188: Add docs for control plane scheduling topologies
  docs/content/how-to/distribute-hosted-cluster-workloads.md
  docs/content/images/dedicated_request_serving_topology.png
  docs/content/images/shared_everything_topology.png
  docs/content/images/shared_nothing_topology.png
Labels: approved, lgtm, jira/valid-reference, area/documentation

#3446 NO-JIRA: Update RHTAP references (main)
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#3301 HOSTEDCP-1308: Add e2e to ensure SA token not mounted on mgmt workloa…
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/reconcile.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/testing

#3426 NO-JIRA: Update Dockerfiles to use publicly available RHEL9 images
  Dockerfile
  Dockerfile.control-plane
  fast.Dockerfile
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#3452 HOSTEDCP-1397: Add documentation on how to debug Azure nodes
  docs/content/how-to/aws/disaster-recovery.md
  docs/content/how-to/aws/troubleshooting/debug-nodes.md
  docs/content/how-to/aws/troubleshooting/index.md
  docs/content/how-to/aws/troubleshooting/troubleshooting-disaster-recovery.md
  docs/content/how-to/azure/troubleshooting/debug-nodes.md
  docs/content/how-to/azure/troubleshooting/index.md
  docs/content/how-to/troubleshooting-general.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation

#3460 TRT-1456: Revert #3448 "api: move CSRA to a new group"
  Makefile
  api/certificates/register.go
  api/certificates/v1alpha1/doc.go
  api/certificates/v1alpha1/register.go
  api/certificates/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/certificatesigningrequestapproval_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1beta1/certificatesigningrequestapproval.go
  client/applyconfiguration/utils.go
  client/clientset/clientset/clientset.go
  client/clientset/clientset/fake/clientset_generated.go
  client/clientset/clientset/fake/register.go
  client/clientset/clientset/scheme/register.go
  client/clientset/clientset/typed/certificates/v1alpha1/certificates_client.go
  client/clientset/clientset/typed/certificates/v1alpha1/doc.go
  client/clientset/clientset/typed/certificates/v1alpha1/fake/doc.go
  client/clientset/clientset/typed/certificates/v1alpha1/fake/fake_certificates_client.go
  client/clientset/clientset/typed/certificates/v1alpha1/generated_expansion.go
  client/clientset/clientset/typed/hypershift/v1beta1/certificatesigningrequestapproval.go
  client/clientset/clientset/typed/hypershift/v1beta1/fake/fake_certificatesigningrequestapproval.go
  client/clientset/clientset/typed/hypershift/v1beta1/fake/fake_hypershift_client.go
  client/clientset/clientset/typed/hypershift/v1beta1/generated_expansion.go
  client/clientset/clientset/typed/hypershift/v1beta1/hypershift_client.go
  client/informers/externalversions/certificates/interface.go
  client/informers/externalversions/certificates/v1alpha1/interface.go
  client/informers/externalversions/factory.go
  client/informers/externalversions/generic.go
  client/informers/externalversions/hypershift/v1beta1/certificatesigningrequestapproval.go
  client/informers/externalversions/hypershift/v1beta1/interface.go
  client/listers/certificates/v1alpha1/expansion_generated.go
  client/listers/hypershift/v1beta1/certificatesigningrequestapproval.go
  client/listers/hypershift/v1beta1/expansion_generated.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_certificatesigningrequestapprovals.yaml
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/pkioperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/pkioperator/testdata/zz_fixture_TestReconcileControlPlanePKIOperatorRole.yaml
  control-plane-pki-operator/certificatesigningrequestapprovalcontroller/certificatesigningrequestapprovalcontroller.go
  control-plane-pki-operator/certificatesigningrequestapprovalcontroller/certificatesigningrequestapprovalcontroller_test.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  test/e2e/create_cluster_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling, area/control-plane-pki-operator

#3403 OCPBUGS-26977: Required RBAC for network-node-identity is not created when hosted cluster networkType is set to Other.
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3443 OCPBUGS-27366: indicate cluster profile to render the correct manifests
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  ignition-server/controllers/local_ignitionprovider.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3466 NO-ISSUE: .ci-operator.yaml: base off of RHEL 9
  .ci-operator.yaml
Labels: approved, lgtm, jira/valid-reference, area/testing

#3451 NO-JIRA: Tolerate restarts for kubevirt external infra
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#3462 NO-JIRA: Remove '--attach-default-network' from productized cli
  product-cli/cmd/cluster/kubevirt/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#3458 NO-JIRA: Simplified kubectl component version check
  support/releaseinfo/releaseinfo.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/ci-tooling

#3454 OCPBUGS-26940: Include OperatorHubSpec sync with HC when Config is empty
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3447 NO-JIRA: Update RHTAP references (release-4.14)
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#3475 NO-JIRA: Update go-jose to the latest version to fix CVE
  cmd/infra/aws/iam.go
  go.mod
  go.sum
  support/oidc/oidc.go
  vendor/github.com/go-jose/go-jose/v3/.gitignore
  vendor/github.com/go-jose/go-jose/v3/.golangci.yml
  vendor/github.com/go-jose/go-jose/v3/.travis.yml
  vendor/github.com/go-jose/go-jose/v3/BUG-BOUNTY.md
  vendor/github.com/go-jose/go-jose/v3/CHANGELOG.md
  vendor/github.com/go-jose/go-jose/v3/CONTRIBUTING.md
  vendor/github.com/go-jose/go-jose/v3/LICENSE
  vendor/github.com/go-jose/go-jose/v3/README.md
  vendor/github.com/go-jose/go-jose/v3/asymmetric.go
  vendor/github.com/go-jose/go-jose/v3/cipher/cbc_hmac.go
  vendor/github.com/go-jose/go-jose/v3/cipher/concat_kdf.go
  vendor/github.com/go-jose/go-jose/v3/cipher/ecdh_es.go
  vendor/github.com/go-jose/go-jose/v3/cipher/key_wrap.go
  vendor/github.com/go-jose/go-jose/v3/crypter.go
  vendor/github.com/go-jose/go-jose/v3/doc.go
  vendor/github.com/go-jose/go-jose/v3/encoding.go
  vendor/github.com/go-jose/go-jose/v3/json/LICENSE
  vendor/github.com/go-jose/go-jose/v3/json/README.md
  vendor/github.com/go-jose/go-jose/v3/json/decode.go
  vendor/github.com/go-jose/go-jose/v3/json/encode.go
  vendor/github.com/go-jose/go-jose/v3/json/indent.go
  vendor/github.com/go-jose/go-jose/v3/json/scanner.go
  vendor/github.com/go-jose/go-jose/v3/json/stream.go
  vendor/github.com/go-jose/go-jose/v3/json/tags.go
  vendor/github.com/go-jose/go-jose/v3/jwe.go
  vendor/github.com/go-jose/go-jose/v3/jwk.go
  vendor/github.com/go-jose/go-jose/v3/jws.go
  vendor/github.com/go-jose/go-jose/v3/opaque.go
  vendor/github.com/go-jose/go-jose/v3/shared.go
  vendor/github.com/go-jose/go-jose/v3/signing.go
  vendor/github.com/go-jose/go-jose/v3/symmetric.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/cli, area/ci-tooling

#3455 HOSTEDCP-1401: Enable BYO NSG
  cmd/cluster/azure/create.go
  cmd/cluster/core/create.go
  cmd/infra/azure/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#3286 OCPBUGS-22899: node spread anti-affinity for HA HCP
  support/config/deployment.go
  support/config/deployment_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3485 [release-4.14] OCPBUGS-28249: Required RBAC for network-node-identity is not created when hosted cluster networkType is set to Other.
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#3343 HOSTEDCP-1364: kubevirt, use selector less services for ingress
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/machine.go
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/machine_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  docs/content/how-to/kubevirt/external-infrastructure.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling
