Repository openshift/hypershift, pull requests merged in 2024-08, with the labels that each got.

#4357 OCPBUGS-36937: [release-4.16] Add HTTP(s) konnectivity proxy and use it with OpenShift APIServer
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/main.go
  go.mod
  go.sum
  konnectivity-https-proxy/cmd.go
  konnectivity-socks5-proxy/main.go
  support/konnectivityproxy/dialer.go
  support/konnectivityproxy/dialer_test.go
  support/konnectivityproxy/resolver.go
  support/proxy/no_proxy.go
  vendor/github.com/elazarl/goproxy/.gitignore
  vendor/github.com/elazarl/goproxy/LICENSE
  vendor/github.com/elazarl/goproxy/README.md
  vendor/github.com/elazarl/goproxy/actions.go
  vendor/github.com/elazarl/goproxy/all.bash
  vendor/github.com/elazarl/goproxy/ca.pem
  vendor/github.com/elazarl/goproxy/certs.go
  vendor/github.com/elazarl/goproxy/chunked.go
  vendor/github.com/elazarl/goproxy/counterecryptor.go
  vendor/github.com/elazarl/goproxy/ctx.go
  vendor/github.com/elazarl/goproxy/dispatcher.go
  vendor/github.com/elazarl/goproxy/doc.go
  vendor/github.com/elazarl/goproxy/https.go
  vendor/github.com/elazarl/goproxy/key.pem
  vendor/github.com/elazarl/goproxy/logger.go
  vendor/github.com/elazarl/goproxy/proxy.go
  vendor/github.com/elazarl/goproxy/responses.go
  vendor/github.com/elazarl/goproxy/signer.go
  vendor/github.com/elazarl/goproxy/websocket.go
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/LICENSE
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/certificates.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/flags.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/handlers.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/net.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/url.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4444 [release-4.15] HOSTEDCP-1795,HOSTEDCP-1796: Customize the self-generated cert validity and rotation
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/certs/tls.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4435 NO-JIRA: Update IBM go sdk
  go.mod
  go.sum
  vendor/github.com/IBM/go-sdk-core/v5/core/request_builder.go
  vendor/github.com/IBM/go-sdk-core/v5/core/sdk_problem_utils.go
  vendor/github.com/IBM/go-sdk-core/v5/core/version.go
  vendor/github.com/hashicorp/go-retryablehttp/.go-version
  vendor/github.com/hashicorp/go-retryablehttp/CHANGELOG.md
  vendor/github.com/hashicorp/go-retryablehttp/CODEOWNERS
  vendor/github.com/hashicorp/go-retryablehttp/Makefile
  vendor/github.com/hashicorp/go-retryablehttp/README.md
  vendor/github.com/hashicorp/go-retryablehttp/cert_error_go119.go
  vendor/github.com/hashicorp/go-retryablehttp/cert_error_go120.go
  vendor/github.com/hashicorp/go-retryablehttp/client.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4398 [release-4.16] OCPBUGS-30282: Multiple MachineConfigs in one CM
  api/hypershift/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#4273 OCPBUGS-37753: Let the CPO oidc check resolve through data plane
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#4464 NO-JIRA: Konflux mce-2.4 pipeline fixes
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/ci-tooling

#4306 NO-JIRA: Ensure VolumeSnapshots are deleted during cloud resource cleanup
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4358 OCPBUGS-36938: [release-4.15]: Add HTTP(s) konnectivity proxy and use it with OpenShift APIServer
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/main.go
  go.mod
  go.sum
  konnectivity-https-proxy/cmd.go
  konnectivity-socks5-proxy/main.go
  support/konnectivityproxy/dialer.go
  support/konnectivityproxy/dialer_test.go
  support/konnectivityproxy/resolver.go
  support/proxy/no_proxy.go
  vendor/github.com/elazarl/goproxy/.gitignore
  vendor/github.com/elazarl/goproxy/LICENSE
  vendor/github.com/elazarl/goproxy/README.md
  vendor/github.com/elazarl/goproxy/actions.go
  vendor/github.com/elazarl/goproxy/all.bash
  vendor/github.com/elazarl/goproxy/ca.pem
  vendor/github.com/elazarl/goproxy/certs.go
  vendor/github.com/elazarl/goproxy/chunked.go
  vendor/github.com/elazarl/goproxy/counterecryptor.go
  vendor/github.com/elazarl/goproxy/ctx.go
  vendor/github.com/elazarl/goproxy/dispatcher.go
  vendor/github.com/elazarl/goproxy/doc.go
  vendor/github.com/elazarl/goproxy/https.go
  vendor/github.com/elazarl/goproxy/key.pem
  vendor/github.com/elazarl/goproxy/logger.go
  vendor/github.com/elazarl/goproxy/proxy.go
  vendor/github.com/elazarl/goproxy/responses.go
  vendor/github.com/elazarl/goproxy/signer.go
  vendor/github.com/elazarl/goproxy/websocket.go
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/LICENSE
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/certificates.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/flags.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/handlers.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/net.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/url.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4449 HOSTEDCP-1669: Make hostedcluster.spec.services immutable for non IBM platforms
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  hack/app-sre/saas_template.yaml
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/testing, area/ci-tooling

#4454 HOSTEDCP-1851: Use a multi-arch haproxy image for shared ingress
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_use_shared_router_it_should_use_proxy_protocol.yaml
  hypershift-operator/controllers/sharedingress/router.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4470 HOSTEDCP-1565: add VPC Endpoint Service proxy support
  cmd/cluster/aws/create.go
  cmd/infra/aws/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4472 [release-4.14] OCPBUGS-37175: Delete IDMS in dataplane once HCP ICS field is removed
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#4473 [release-4.14] HOSTEDCP-1795,HOSTEDCP-1796: Customize the self-generated cert validity and rotation
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/certs/tls.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4465 NO-JIRA: Remove non relevant OVNSbDb service type declarations
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/cluster/agent/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/aws/create.go
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_default_creation_flags_for_cesar.yaml
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/create.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_test_from_dvossel.yaml
  cmd/cluster/none/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/openstack/create.go
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_default_creation_flags.yaml
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/powervs/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_No_private_apiserver_connectivity__proxy_apiserver_address_is_set.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Private_apiserver_connectivity__proxy_apiserver_address_is_unset.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli

#4466 HOSTEDCP-1669: Add first azure services validation
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  support/assets/readasset.go
  test/e2e/assets.go
  test/e2e/assets/azure-services-ignition-route-not-hostname.yaml
  test/e2e/create_cluster_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling

#4456 OCPBUGS-37052: Use konnectivity HTTP proxy for ingress controller
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4475 OCPBUGS-37934: Reverting ETCD cluster rebuild
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  support/util/deployment.go
  support/util/deployment_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4477 OSASINFRA-3554: OpenStack: Use external network ID in favor of Name
  cmd/cluster/openstack/create.go
  cmd/cluster/openstack/create_test.go
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_default_creation_flags.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/how-to/openstack/create-openstack-cluster.md
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing

#4469 NO-JIRA: [release-4.15] Kubevirt on Azure: Change KAS LB Port to 7443
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  test/e2e/nodepool_kv_nodeselector_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/testing

#4487 NO-JIRA: Update Konflux 4.15 and perform migration
  .tekton/hypershift-release-mce-25-pull-request.yaml
  .tekton/hypershift-release-mce-25-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4485 NO-JIRA: Update Konflux and perform migration
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-mce-27-pull-request.yaml
  .tekton/hypershift-release-mce-27-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4483 OCPBUGS-37488: CSO: add environment variable for tools image
  control-plane-operator/controllers/hostedcontrolplane/storage/assets/10_deployment-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/envreplace.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4367 OCPBUGS-37065: OCPBUGS-35899: Doubled machineHealthCheck timeout on Agent and None
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#4474 OSASINFRA-3550: openstack: ingress API & octavia ingress provider
  api/hypershift/v1beta1/hostedcluster_types.go
  client/applyconfiguration/hypershift/v1beta1/openstackplatformspec.go
  cmd/cluster/openstack/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/ingress.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/how-to/openstack/create-openstack-cluster.md
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  support/openstackutil/ingress.go
  support/openstackutil/ingress_test.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling

#4360 OCPBUGS-36944: [release-4.14] Add HTTP(s) konnectivity proxy and use it with OpenShift APIServer
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/main.go
  go.mod
  go.sum
  konnectivity-https-proxy/cmd.go
  konnectivity-socks5-proxy/main.go
  support/konnectivityproxy/dialer.go
  support/konnectivityproxy/dialer_test.go
  support/konnectivityproxy/resolver.go
  support/proxy/no_proxy.go
  vendor/github.com/elazarl/goproxy/.gitignore
  vendor/github.com/elazarl/goproxy/LICENSE
  vendor/github.com/elazarl/goproxy/README.md
  vendor/github.com/elazarl/goproxy/actions.go
  vendor/github.com/elazarl/goproxy/all.bash
  vendor/github.com/elazarl/goproxy/ca.pem
  vendor/github.com/elazarl/goproxy/certs.go
  vendor/github.com/elazarl/goproxy/chunked.go
  vendor/github.com/elazarl/goproxy/counterecryptor.go
  vendor/github.com/elazarl/goproxy/ctx.go
  vendor/github.com/elazarl/goproxy/dispatcher.go
  vendor/github.com/elazarl/goproxy/doc.go
  vendor/github.com/elazarl/goproxy/https.go
  vendor/github.com/elazarl/goproxy/key.pem
  vendor/github.com/elazarl/goproxy/logger.go
  vendor/github.com/elazarl/goproxy/proxy.go
  vendor/github.com/elazarl/goproxy/responses.go
  vendor/github.com/elazarl/goproxy/signer.go
  vendor/github.com/elazarl/goproxy/websocket.go
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/LICENSE
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/certificates.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/flags.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/handlers.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/net.go
  vendor/sigs.k8s.io/apiserver-network-proxy/pkg/util/url.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4488 HOSTEDCP-1850: Allow setting Kube APIServer maximum requests in flight
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#4493 OCPBUGS-38041: test: e2e: handle 409 conflict in EnsureHostedClusterImmutability
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/testing

#4455 HOSTEDCP-1853: Add Arm NodePool Support Through Azure Marketplace
  api/hypershift/v1beta1/nodepool_types.go
  cmd/cluster/azure/create.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/azure/create.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling

#4404 HOSTEDCP-1776: Set KCM node monitor grace period
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4492 OSASINFRA-3555: openstack: e2e adjustments
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/reconcile.go
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
  test/e2e/util/fixture.go
  test/e2e/util/hypershift_framework.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling

#4366 OCPBUGS-37060: OCPBUGS-35905: E2E test to verify openshift-apiserver TLS certificates
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator, area/testing

#4502 OCPBUGS-25937: Support KMS v2 on AWS
  control-plane-operator/controllers/hostedcontrolplane/kas/kms.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/aws.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/azure.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/ibmcloud.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/kms.go
  control-plane-operator/controllers/hostedcontrolplane/kas/secretencryption.go
  control-plane-operator/controllers/hostedcontrolplane/kas/secretencryption_test.go
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/testing

#4510 OSASINFRA-3546: docs/openstack: fix typo
  docs/content/how-to/openstack/create-openstack-cluster.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4514 OCPBUGS-38183: make use of azure-disk-driver-control-plane-image
  control-plane-operator/controllers/hostedcontrolplane/storage/envreplace.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4509 CNV-42532: KubeVirt: add label to DataVolume
  api/hypershift/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/nodepool/kubevirt/imagecacher.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4530 NO-JIRA: Bump `LatestSupportedVersion` to 4.18.0 after branch-out
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  support/supportedversion/version.go
  support/supportedversion/version_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4453 HOSTEDCP-1764: retrieve registryOverrides when ImageStream is not ava…
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/releaseinfo/registryclient/client.go
Labels: approved, tide/merge-method-squash, lgtm, jira/valid-reference, area/control-plane-operator

#4521 HOSTEDCP-1874: Remove saas_template.yaml
  Makefile
  hack/app-sre/build_push.sh
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4347 HOSTEDCP-1707: Update version support and upgrade docs
  docs/content/how-to/upgrades.md
  docs/content/reference/versioning-support.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4471 OCPBUGS-37173: Add newline after TLS certs referenced by image.config
  hypershift-operator/init.go
  hypershift-operator/init_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/hypershift-operator

#4495 OCPBUGS-36261: label routes only when HCP router used
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/route.go
  hypershift-operator/controllers/hostedcluster/ignitionserver/ignitionserver.go
  support/util/route.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#4549 OCPBUGS-38437: Stop building mce-2.7 from main
  .tekton/hypershift-release-mce-27-pull-request.yaml
  .tekton/hypershift-release-mce-27-push.yaml
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/ci-tooling

#4529 HOSTEDCP-1609: Support configuring Azure diagnostics via CLI flags
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1beta1/nodepool_types.go
  client/applyconfiguration/hypershift/v1alpha1/diagnostics.go
  client/applyconfiguration/hypershift/v1beta1/diagnostics.go
  cmd/cluster/azure/create.go
  cmd/nodepool/azure/create.go
  docs/content/reference/api.md
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli

#4548 HOSTEDCP-1475: Remove hard-coded konnectivity agenty image URI
  control-plane-operator/hostedclusterconfigoperator/cmd.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4550 OCPBUGS-38438: release-4.17 should not build main HO
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-mce-27-pull-request.yaml
  .tekton/hypershift-release-mce-27-push.yaml
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/ci-tooling

#4512 NO-JIRA: Fix CEL rules in the CRD
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/ci-tooling

#4557 OCPBUGS-38467: allow for shared-ingress router pod creation without p…
  hypershift-operator/controllers/sharedingress/sharedingress_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/hypershift-operator

#4513 OSASINFRA-3553: relax PodAffinityTerm for zone spreading in HA
  docs/content/how-to/openstack/create-openstack-cluster.md
  support/config/deployment.go
  support/config/deployment_test.go
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4563 OCPBUGS-38154: Fix bug where nodes were not triggering dedicated serving reconciliation
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes.go
  hypershift-operator/controllers/scheduler/dedicated_request_serving_nodes_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#4517 OSASINFRA-3567: openstack: fix setting external DNS on create
  cmd/cluster/openstack/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/testing

#4560 OCPBUGS-37052: HTTPS proxy: do not proxy communication to cloud providers
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  konnectivity-https-proxy/cmd.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#4562 OCPBUGS-36261: label routes when using SharedIngress
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#4533 NO-JIRA: fix(KONFLUX-3663): format PipelineRun files and upload SAST results
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/ci-tooling

#4534 NO-JIRA: fix(KONFLUX-3663): format PipelineRun files and upload SAST results
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/ci-tooling

#4558 CONSOLE-3952: Add networking-console-plugin image to CNO as an env var
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_No_private_apiserver_connectivity__proxy_apiserver_address_is_set.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Private_apiserver_connectivity__proxy_apiserver_address_is_unset.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4537 NO-JIRA: add docker script to find package versions in HO & CPO
  contrib/snyk/READ_ME.md
  contrib/snyk/check-for-cve.sh
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4576 HOSTEDCP-1903: Remove unused ROSA/EKS CRDs from hypershift install
  Makefile
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsfargateprofiles.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsmanagedclusters.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsmanagedmachinepools.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_rosaclusters.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_rosamachinepools.yaml
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli

#4543 OCPBUGS-38409: Update CPO and HO base images to 4.18
  Dockerfile
  Dockerfile.control-plane
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/ci-tooling

#4578 HOSTEDCP-1868: Pause CAPI cluster when HostedCluster is paused
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#4303 OCPBUGS-34816: Block data plane HC configuration requests
  Makefile
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/kas_pki_setup.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/configoperator.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/kas.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ca.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/kas/admissionpolicies.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/admissionpolicies.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
  go.mod
  go.work.sum
  support/config/types.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/cli, area/testing

#4566 HOSTEDCP-1861: cpo: separate KAS cert into internal and external
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4544 OCPBUGS-38410: bump CPO base image to use 4.17:base-rhel9
  Dockerfile.control-plane
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/ci-tooling

#4494 NO-JIRA: [kubevirt] Fix KubeVirtNodesLiveMigratable condition for NodePools with 0 replicas
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  support/conditions/conditions.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#4580 HOSTEDCP-1565: external-dns: add proxy env vars if cluster proxy is configured
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#4575 [release-4.14] OCPBUGS-38624: remove weak ciphers from security profile
  support/config/cipher.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#4556 OCPBUGS-38463: nodepoolcontroller: `List()` PerformanceProfile status per NodePool
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#4579 OCPBUGS-38739: [Azure] Use infraID from infra-json if provided
  cmd/cluster/azure/create.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_create_with_a_ure_marketplace_image.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/infra/azure/create.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/cli

#4591 NO-JIRA: add 4.14 and 4.15 HO base images to docker cve scan scripts
  contrib/snyk/check-for-cve.sh
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4331 OCPBUGS-36680: ensure additionalTrustBundle propogates to workers
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  ignition-server/cmd/run_local_ignitionprovider.go
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#4605 OCPBUGS-38925: copy oapi ca-trust recursively when building trust anchor
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#4611 [release-4.16] OCPBUGS-38726: fix: bump github.com/IBM/go-sdk-core/v5
  go.mod
  go.sum
  vendor/github.com/IBM/go-sdk-core/v5/core/request_builder.go
  vendor/github.com/IBM/go-sdk-core/v5/core/sdk_problem_utils.go
  vendor/github.com/IBM/go-sdk-core/v5/core/version.go
  vendor/github.com/hashicorp/go-retryablehttp/.go-version
  vendor/github.com/hashicorp/go-retryablehttp/CHANGELOG.md
  vendor/github.com/hashicorp/go-retryablehttp/CODEOWNERS
  vendor/github.com/hashicorp/go-retryablehttp/Makefile
  vendor/github.com/hashicorp/go-retryablehttp/README.md
  vendor/github.com/hashicorp/go-retryablehttp/cert_error_go119.go
  vendor/github.com/hashicorp/go-retryablehttp/cert_error_go120.go
  vendor/github.com/hashicorp/go-retryablehttp/client.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/ci-tooling

#4610 NO-JIRA: fix a typo in the architecture doc
  docs/content/reference/controller-architecture.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4603 OCPBUGS-38709: Join default HTTPS port to Spec.Configuration.Proxy.HTTPSProxy if missing
  hypershift-operator/controllers/nodepool/haproxy.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#4609 OCPBUGS-38878: allow changes to infrastructures global config for Openstack
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/kas/admissionpolicies.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4621 OCPBUGS-38474: copy image-registry AdditionalTrustedCA configmap into HC openshift-config
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pki.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#4619 OCPBUGS-39001: Fix CAPA ROSA feature gate being set on releases where its not available
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/hypershift-operator

#4629 OCPBUGS-39078: e2e: skip VAP checks if platform is None
  test/e2e/util/hypershift_framework.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing

#4632 OCPBUGS-39147: regroup KAS certs into public and private certs
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4369 [release-4.14] OCPBUGS-37076: Fixed audit-logs sigterm failing to terminate gracefully
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/openshift_apiserver.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4553 HOSTEDCP-1897: [release-4.14] Allow setting Kube APIServer maximum requests in flight
  api/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#4243 [release-4.15] OCPBUGS-35815: Add hypershift-cluster-version-operator image to release providers
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/main.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#4635 HOSTEDCP-1933: Expose AWS Tenancy through NodePool API
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1beta1/nodepool_types.go
  client/applyconfiguration/hypershift/v1alpha1/awsnodepoolplatform.go
  client/applyconfiguration/hypershift/v1beta1/awsnodepoolplatform.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/aws.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/nodepool_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli

#4617 [release-4.14] OCPBUGS-38791: Let the CPO oidc check resolve through data plane
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#4606 OCPBUGS-38921: Set Image as mutable and trigger upgrades on Azure NodePool spec changes
  api/hypershift/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hypershift-operator/controllers/nodepool/azure.go
  hypershift-operator/controllers/nodepool/azure_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/cli

#4586 OSASINFRA-3572: e2e/openstack: handle DNS for ingress using route53
  cmd/infra/aws/route53.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/route53.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing

#4589 OSASINFRA-3573: openstack: when using floating IP, don't create a dedicated service for Ingress
  api/hypershift/v1beta1/hostedcluster_types.go
  client/applyconfiguration/hypershift/v1beta1/openstackplatformspec.go
  cmd/cluster/openstack/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/ingress.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/how-to/openstack/create-openstack-cluster.md
  docs/content/reference/api.md
  support/openstackutil/ingress.go
  support/openstackutil/ingress_test.go
  test/e2e/e2e_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing

#4638 OCPBUGS-39230: set proxy envvars on aws CCM
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/reconcile.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#4645 HOSTEDCP-1938: Remove saas template in 4.17
  Makefile
  hack/app-sre/build_push.sh
  hack/app-sre/saas_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling
