Repository openshift/hypershift, pull requests merged in 2025-04, with the labels that each got.

#5775 ARO-15578: add disable cluster capabilities flag to cluster create cmd
  cmd/cluster/azure/create_test.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_disabled_capabilities.yaml
  cmd/cluster/core/create.go
  cmd/cluster/core/create_test.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/api

#5911 NO-JIRA: Add version check for CAPI flag
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#5947 CNTRLPLANE-378: Run kas-bootstrap binary for cpov2
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4979 OCPBUGS-54272: Support hypershift-operator scoping for secretJanitor
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Labels: approved, tide/merge-method-squash, ok-to-test, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/hypershift-operator

#5905 OCPBUGS-53905: bump golang-jwt v4 and v5
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/modules.txt
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#5951 NO-JIRA: set default expriationDate tag in AWS if not set
  test/e2e/util/options.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#5906 OCPBUGS-53903: bump golang-jwt v4 and v5
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/modules.txt
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#5879 OCPBUGS-53403: Remove synced annotations from HCP when they are removed from HC
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#5960 OCPBUGS-52984: annotate AWSEndpointServices with HostedClusterAnnotation
  hypershift-operator/controllers/platform/aws/controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#5523 NO-JIRA: Create token Secret for dev cluster explicitly
  contrib/ci/dev-namespace-template.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5868 CNTRLPLANE-303: [CPOv2 Refactor] Refactor ignition into cpov2
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server-proxy/zz_fixture_TestControlPlaneComponents_component_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/zz_fixture_TestControlPlaneComponents_component_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ignition-server-proxy/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ignition-server-proxy/route.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ignition-server-proxy/service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ignition-server/ca-cert.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ignition-server/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ignition-server/podmonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ignition-server/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ignition-server/rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ignition-server/route.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ignition-server/service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ignition-server/serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ignition-server/serving-cert.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/pki.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/podmonitor.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/route.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/service.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver_proxy/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver_proxy/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver_proxy/route.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver_proxy/service.go
  support/certs/tls.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#5831 OCPBUGS-50562: Sync RBAC for attaching volumes on VM level
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/infra_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kubevirt-csi-controller/infra_role.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, ok-to-test, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli

#5892 NO-JIRA: Add doc on SecretProviderClass for managed Azure
  docs/content/reference/architecture/managed-azure/secrets-csi.md
  docs/content/reference/architecture/managed-azure/shared-ingress.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5965 OCPBUGS-54439: Change KASGoMemLimit to a string pointer type
  api/scheduling/v1alpha1/clustersizingconfiguration_types.go
  api/scheduling/v1alpha1/zz_generated.deepcopy.go
  client/applyconfiguration/scheduling/v1alpha1/effects.go
  cmd/install/assets/hypershift-operator/scheduling.hypershift.openshift.io_clustersizingconfigurations.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/scheduler/aws/dedicated_request_serving_nodes_test.go
  hypershift-operator/controllers/scheduler/azure/controllers_test.go
  hypershift-operator/controllers/scheduler/util/scheduler.go
  hypershift-operator/controllers/scheduler/util/scheduler_test.go
  vendor/github.com/openshift/hypershift/api/scheduling/v1alpha1/clustersizingconfiguration_types.go
  vendor/github.com/openshift/hypershift/api/scheduling/v1alpha1/zz_generated.deepcopy.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli, area/api

#5949 OCPBUGS-13292: Add functionality to limit CAPI CRD installation on HO installation
  cmd/install/assets/assets.go
  cmd/install/install.go
  cmd/install/install_test.go
  docs/content/how-to/install/index.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/documentation, area/cli

#5967 NO-JIRA: test/e2e: output pod name on EnsureHCPPodsAffinitiesAndTolerations failure
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#5970 OCPBUGS-52983: Add check for expected conditions before running NodePool tests
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing

#5950 OCPBUGS-54609: [release-4.18] fix(api): Adjust CRD validation rules to account for ignition server disable
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPPodsLabels.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  test/e2e/create_cluster_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/documentation, area/cli, area/testing, area/api

#5942 OCPBUGS-54431: Don't set IgnitionServerTokenExpirationTimestampAnnotation if already set
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
Labels: approved, ok-to-test, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#5702 OSASINFRA-3732: openstack: Sync CA cert to new key
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/config.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/control-plane-operator

#5936 OCPBUGS-54411: Backport PR 5876 to release-4.18
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-oauth-apiserver/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth_apiserver/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth_apiserver/deployment.go
  support/util/util.go
  support/util/util_test.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5985 NO-JIRA: Enable ppc64le builds
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5969 CNTRLPLANE-233: Add --kas-dns-name CLI flag to consume KubeAPIServerDNSName API
  cmd/cluster/aws/create_test.go
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_minimal_with_KubeAPIServerDNSName.yaml
  cmd/cluster/azure/create_test.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_KubeAPIServerDNSName.yaml
  cmd/cluster/core/create.go
  cmd/cluster/core/create_test.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#5988 OCPBUGS-54630: Sync RBAC for attaching volumes on VM level
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/infra_role.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli

#5984 ARO-15695: test/e2e: run EnsureImageRegistryCapabilityDisabled on 4.18
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#5893 OCPBUGS-54178: Add missing servicemonitors and prometheusrules permissions for non-OVN
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator_test.go
Labels: approved, ok-to-test, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#6001 OCPBUGS-41853: Add documentation for API Server custom certificate in HCP
  docs/content/how-to/configure-ocp-components/custom-kas-kubeconfig.md
  docs/content/how-to/configure-ocp-components/index.md
  docs/content/how-to/configure-ocp-components/kubeapi-server.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/documentation

#5983 [release-4.16] OCPBUGS-49914: Reconcile proxy CA bundle into hosted cluster
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pki.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5875 OCPBUGS-53261: Add validation to avoid conflicts between KubeAPI server and NamedCertificates SANs
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/pki/konnectivity.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/validations/ocpapiserver.go
  hypershift-operator/controllers/hostedcluster/validations/ocpapiserver_test.go
  support/pki/kas.go
  support/pki/kas_test.go
  test/util/pki.go
  test/util/pki_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/testing

#5990 NO-JIRA: Add polling for kas-bootstrap kas network requests
  kas-bootstrap/kas_boostrap.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5997 [release-4.17] OCPBUGS-54631: Sync RBAC for attaching volumes on VM level
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/infra_role.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, cherry-pick-approved, ok-to-test, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli

#5998 [release-4.16] OCPBUGS-54632: Sync RBAC for attaching volumes on VM level
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/infra_role.yaml
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, cherry-pick-approved, ok-to-test, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli, area/ci-tooling

#5976 CNTRLPLANE-334: add feature set aware feature gates to HO and CPO
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/hypershift_operator_test.go
  cmd/install/install.go
  control-plane-operator/featuregates/featuregates.go
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/featuregate/feature.go
  hypershift-operator/featuregate/gates.go
  hypershift-operator/main.go
  pkg/featuregates/featuregates.go
  pkg/featuregates/featuregates_test.go
Labels: approved, tide/merge-method-squash, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli

#5870 AUTOSCALE-44: add autonode karpenter drift hcp upgrade e2e test
  support/api/scheme.go
  test/e2e/assets/karpenter-workloads.yaml
  test/e2e/karpenter_test.go
  test/e2e/util/eventually.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/testing

#6014 OCPBUGS-54814: [release-4.18] add feature set aware feature gates to HO and CPO
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/hypershift_operator_test.go
  cmd/install/install.go
  control-plane-operator/featuregates/featuregates.go
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/featuregate/feature.go
  hypershift-operator/featuregate/gates.go
  hypershift-operator/main.go
  pkg/featuregates/featuregates.go
  pkg/featuregates/featuregates_test.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli

#5908 OCPBUGS-53898: bump golang-jwt v4 and v5
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v5/MIGRATION_GUIDE.md
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/ecdsa.go
  vendor/github.com/golang-jwt/jwt/v5/ed25519.go
  vendor/github.com/golang-jwt/jwt/v5/errors_go_other.go
  vendor/github.com/golang-jwt/jwt/v5/hmac.go
  vendor/github.com/golang-jwt/jwt/v5/none.go
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/parser_option.go
  vendor/github.com/golang-jwt/jwt/v5/rsa.go
  vendor/github.com/golang-jwt/jwt/v5/rsa_pss.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/github.com/golang-jwt/jwt/v5/types.go
  vendor/github.com/golang-jwt/jwt/v5/validator.go
  vendor/modules.txt
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#6011 OCPBUGS-48540: Mcd proxy
  control-plane-operator/hostedclusterconfigoperator/controllers/inplaceupgrader/inplaceupgrader.go
  control-plane-operator/hostedclusterconfigoperator/controllers/inplaceupgrader/inplaceupgrader_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#6018 NO-JIRA: Bump CAPZ to v1.19.2
  go.mod
  go.sum
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/api

#5992 OCPBUGS-51810: Fix golang crypto dependency go.mod replacement
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sys/cpu/cpu.go
  vendor/golang.org/x/sys/cpu/cpu_x86.go
  vendor/golang.org/x/sys/unix/auxv.go
  vendor/golang.org/x/sys/unix/auxv_unsupported.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/zsyscall_solaris_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_386.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_loong64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_s390x.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_sparc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/modules.txt
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator, area/api

#5909 OCPBUGS-53899: bump golang-jwt v4
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/modules.txt
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#6015 OCPBUGS-54763: openstack: set port security only if explicitly specified
  hypershift-operator/controllers/nodepool/openstack/openstack.go
  hypershift-operator/controllers/nodepool/openstack/openstack_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#6017 OCPBUGS-54841: Add konnectivity-proxy sidecar to openshift-oauth-apiserver
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  support/util/util.go
  support/util/util_test.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5993 OCPBUGS-51808: Fix golang crypto dependency go.mod replacement
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sys/cpu/cpu.go
  vendor/golang.org/x/sys/cpu/cpu_x86.go
  vendor/golang.org/x/sys/unix/auxv.go
  vendor/golang.org/x/sys/unix/auxv_unsupported.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/zsyscall_solaris_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_386.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_loong64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_s390x.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_sparc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/modules.txt
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#6004 STOR-2281: Remove snapshot webhook
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/csisnapshotcontroller.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/params.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/snapshotcontroller/deployment.go
  docs/content/labs/Dual/hostedcluster/hostedcluster.md
  docs/content/labs/IPv4/hostedcluster/hostedcluster.md
  docs/content/labs/IPv6/hostedcluster/hostedcluster.md
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/documentation, area/testing

#5874 [release-4.18] OCPBUGS-53404: Set shutdown watch termination grace period on kube-apiserver
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/config.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5968 CNTRLPLANE-217: Add E2E to KubeAPIServerDNSName API to cover KAS custom certificate
  support/certs/tls.go
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
  test/e2e/util/util_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/testing

#5999 AUTOSCALE-127: allow karpenter-provider-aws image to be overriden by hcp annotation
  api/karpenter/v1beta1/karpenter_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  karpenter-operator/controllers/karpenter/machine_approver_test.go
  karpenter-operator/controllers/karpenter/manifests.go
  karpenter-operator/controllers/karpenter/manifests_test.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/karpenter_types.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/api

#6032 OCPBUGS-54309: Drop isIP CEL check
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/cli, area/api

#6027 OCPBUGS-54916: Set Azure KMS Configuration to v2
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/azure.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#6035 NO-JIRA: Bump o/api version to 4.19 tag
  api/go.mod
  api/go.sum
  api/vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  api/vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  api/vendor/modules.txt
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-policy-controller/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-policy-controller/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-controller-manager/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-controller-manager/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/image/v1/generated.proto
  vendor/github.com/openshift/api/image/v1/types.go
  vendor/github.com/openshift/api/image/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/machineconfiguration/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/api

#6036 OCPBUGS-54763: openstack/cli: only set port security when specified
  cmd/nodepool/openstack/create.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/cli

#6007 OCPBUGS-54533: Update DNS names for ovn-kubernetes cp metrics
  control-plane-operator/controllers/hostedcontrolplane/pki/ovn_control_plane_metrics.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#6012 Revert "Revert "CNTRLPLANE-112: Enable MIv3 for CNO/CNCC on managed Azure""
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/deployment.go
  support/config/constants.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6034 NO-JIRA: Improve API docs for configuration.Image
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/documentation, area/cli, area/api

#5897 OCPBUGS-54225: Bump socks5 proxy, konnectivity proxy, http proxy, token minter memory requests
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_No_private_apiserver_connectivity__proxy_apiserver_address_is_set.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Private_apiserver_connectivity__proxy_apiserver_address_is_unset.yaml
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/aws.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/packageserver.go
  control-plane-operator/controllers/hostedcontrolplane/olm/testdata/zz_fixture_TestReconcileCatalogOperatorDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/testdata/zz_fixture_TestReconcileOLMOperatorDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/catalog-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/catalog-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-aws/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-aws/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-network-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-network-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/olm-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/olm-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-network-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/aws.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  karpenter-operator/controllers/karpenter/manifests.go
  karpenter-operator/manifests/operator.go
  support/controlplane-component/konnectivity-container.go
  support/controlplane-component/token-minter-container.go
  support/util/cloudprovidercreds.go
  support/util/manifests.go
Labels: approved, ok-to-test, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6043 NO-JIRA: version check csi-snapshot-webhook for EnsureSATokenNotMountedUnlessNecessary
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#6050 NO-JIRA: Add README.md to docs folder
  docs/README.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#6016 OCPBUGS-54819: Update OpenShift apiserver liveness and readiness probe endpoints to …
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-apiserver/deployment.yaml
Labels: approved, ok-to-test, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#5982 OCPBUGS-54810: Don't check if olm images exist if guest cluster
  support/catalogs/images.go
  support/catalogs/images_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6021 OCPBUGS-54867: Use 135 for terminationGracePeriodSeconds for v2 KAS
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/deployment.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#6051 NO-JIRA: Add cpo container sync to verify job
  Makefile
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  kas-bootstrap/kas_boostrap.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6056 NO-JIRA: Red Hat Konflux update hypershift-release-mce-29
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-mce-29-pull-request.yaml
  .tekton/hypershift-release-mce-29-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#6019 OCPBUGS-54863: Add annotation to configure KAS goaway-chance
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/severity-low, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/api

#5946 NO-JIRA: Remove kas from EnsureNoCrashingPods exceptions
  kas-bootstrap/kas_boostrap.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/testing

#6058 CNTRLPLANE-112: Enable MIv3 for Ingress
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ingressoperator/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ingressoperator/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/deployment.go
  support/azureutil/azureutil.go
  support/azureutil/azureutil_test.go
  support/config/constants.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6062 AUTOSCALE-127: fix e2e autonode drift test
  test/e2e/karpenter_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#6005 CNTRLPLANE-711: transition admissionregistration from v1beta1 to v1
  cmd/cluster/core/dump.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/kas/admissionpolicies.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/admissionpolicies.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/cli, area/testing

#6060 CNTRLPLANE-713: Use feature flags from release payload for control plane workloads
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/params.go
  control-plane-operator/controllers/hostedcontrolplane/fg/assets/job.yaml
  control-plane-operator/controllers/hostedcontrolplane/fg/job.go
  control-plane-operator/controllers/hostedcontrolplane/fg/job_test.go
  control-plane-operator/controllers/hostedcontrolplane/fg/testdata/zz_fixture_TestReconcileFeatureGateGenerationJob.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/fg.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/params.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-policy-controller/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-policy-controller/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/featuregate-generator/feature-gate.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/featuregate-generator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/featuregate-generator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/featuregate-generator/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/featuregate-generator/zz_fixture_TestControlPlaneComponents_component_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-controller-manager/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-controller-manager/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/assets.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/featuregate-generator/job.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/clusterpolicy/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/fg/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/fg/job.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kcm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/deployment.go
  control-plane-operator/main.go
  support/api/scheme.go
  support/assets/readasset.go
  support/config/deployment.go
  support/config/featuregates.go
  support/controlplane-component/builder.go
  support/controlplane-component/job.go
  support/controlplane-component/status.go
  support/upsert/apply.go
  support/util/job.go
  sync-fg-configmap/update.go
  test/e2e/util/util.go
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/features/legacyfeaturegates.go
  vendor/github.com/openshift/api/features/util.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/testing

#6068 CNTRLPLANE-713: Pass featuregates to ocm and oapi
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/config.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/config_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#6057 [release-4.18] OCPBUGS-55146: Use 135 for terminationGracePeriodSeconds for v2 KAS
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/deployment.yaml
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#6067 NO-JIRA: Fix hostedcluster_controller unit test for featuregate job
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#6026 [release-4.16] OCPBUGS-54914: Add konnectivity-proxy sidecar to openshift-oauth-apiserver
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  support/util/util.go
  support/util/util_test.go
Labels: approved, cherry-pick-approved, ok-to-test, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5790 CNTRLPLANE-268: add gomock/mockgen avoiding mocking true handmade concrete types
  .gitignore
  Makefile
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/imageprovider/imageprovider.go
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  hack/tools/vendor/go.uber.org/mock/AUTHORS
  hack/tools/vendor/go.uber.org/mock/LICENSE
  hack/tools/vendor/go.uber.org/mock/mockgen/deprecated.go
  hack/tools/vendor/go.uber.org/mock/mockgen/generic.go
  hack/tools/vendor/go.uber.org/mock/mockgen/gob.go
  hack/tools/vendor/go.uber.org/mock/mockgen/mockgen.go
  hack/tools/vendor/go.uber.org/mock/mockgen/model/model.go
  hack/tools/vendor/go.uber.org/mock/mockgen/package_mode.go
  hack/tools/vendor/go.uber.org/mock/mockgen/parse.go
  hack/tools/vendor/go.uber.org/mock/mockgen/version.go
  hack/tools/vendor/modules.txt
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/nodepool/secret_janitor_test.go
  support/releaseinfo/releaseinfo.go
  support/releaseinfo/testutils/testutils.go
  support/testutil/fake.go
  vendor/go.uber.org/mock/AUTHORS
  vendor/go.uber.org/mock/LICENSE
  vendor/go.uber.org/mock/gomock/call.go
  vendor/go.uber.org/mock/gomock/callset.go
  vendor/go.uber.org/mock/gomock/controller.go
  vendor/go.uber.org/mock/gomock/doc.go
  vendor/go.uber.org/mock/gomock/matchers.go
  vendor/go.uber.org/mock/gomock/string.go
  vendor/modules.txt
Labels: approved, tide/merge-method-squash, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/ci-tooling

#6048 CNTRLPLANE-111: Support KMSv2 encryption encryption for ARO HCP, with MIv3
  contrib/managed-azure/setup_etcd_kv.sh
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/azure.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/secretencryption.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params.go
  docs/content/how-to/azure/create-azure-cluster-with-options.md
  docs/content/how-to/azure/scheduler.md
  docs/mkdocs.yml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  support/azureutil/azureutil.go
  support/config/constants.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing

#6076 NO-JIRA: Add e2e flags to test Azure KMS
  test/e2e/e2e_test.go
  test/e2e/util/options.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#6053 OCPBUGS-44439: Add proxy trustedCA to ignition config
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#6092 OCPBUGS-55433: Add control plane pull secret reference to control-plane-operator SA
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator, acknowledge-critical-fixes-only

#5943 OCPBUGS-53206: Use a CPO image label to determine whether to run expired cert remediation
  Containerfile.control-plane
  Containerfile.operator
  Dockerfile
  Dockerfile.control-plane
  Dockerfile.dev
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator, acknowledge-critical-fixes-only

#6059 [release-4.18] OCPBUGS-55148: Update OpenShift apiserver liveness and readiness probe endpoints to livez and readyz
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-apiserver/deployment.yaml
Labels: approved, cherry-pick-approved, ok-to-test, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#6052 [release-4.18] OCPBUGS-54737: Bump socks5 proxy, konnectivity proxy, http proxy, token minter memory requests
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_No_private_apiserver_connectivity__proxy_apiserver_address_is_set.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Private_apiserver_connectivity__proxy_apiserver_address_is_unset.yaml
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/aws.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/olm/packageserver.go
  control-plane-operator/controllers/hostedcontrolplane/olm/testdata/zz_fixture_TestReconcileCatalogOperatorDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/testdata/zz_fixture_TestReconcileOLMOperatorDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/aws.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  support/controlplane-component/konnectivity-container.go
  support/util/cloudprovidercreds.go
  support/util/manifests.go
Labels: approved, cherry-pick-approved, ok-to-test, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator, area/hypershift-operator
