Repository openshift/hypershift, pull requests merged in 2025-10, with the labels that each got.

#6908 OCPBUGS-62324: Fix test-e2e `annotations` flag parsing
  test/e2e/util/options.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing, verified

#6937 CNTRLPLANE-1545: docs(commands): improve jira-solve command with logical commit organization
  .claude/commands/jira-solve.md
Labels: approved, lgtm, jira/valid-reference, verified, area/ai

#6808 CNTRLPLANE-1332: docs(azure): add self-managed cluster setup documentation
  docs/content/how-to/azure/azure-workload-identity-setup.md
  docs/content/how-to/azure/create-self-managed-azure-cluster.md
  docs/content/how-to/azure/setup-management-cluster.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation, verified

#6943 CNTRLPLANE-1332: docs(readme): correct spelling mistake
  docs/content/how-to/azure/azure-workload-identity-setup.md
Labels: approved, lgtm, jira/valid-reference, area/documentation, verified

#6911 NO-JIRA: Add openstack-reviewers, openstack-approvers
  OWNERS
  OWNERS_ALIASES
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling, verified

#6936 OCPBUGS-62407: chore(build): update container images to 4.21
  .ci-operator.yaml
  Dockerfile
  Dockerfile.control-plane
  Dockerfile.dev
  Dockerfile.e2e
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/ci-tooling, verified

#6890 [release-4.19] OCPBUGS-62202: Enable VolumeAttributesClass runtime config
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Labels: approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, verified

#6950 OCPBUGS-62816: set default goaway-chance to 0.001
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params_test.go
Labels: approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator, verified
