Repository openshift/hypershift, pull requests merged in 2025-01, with the labels that each got.

#5203 HOSTEDCP-2199: [CPO Refactor] Refactor cloud-credential-operator
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-credential-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-credential-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-credential-operator/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-credential-operator/zz_fixture_TestControlPlaneComponents_component_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-credential-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-credential-operator/kubeconfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_credential_operator/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_credential_operator/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_credential_operator/kubeconfig.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5348 CNTRLPLANE-25: Get HCP before Valid Release Image status patch
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5286 NO-JIRA: Move oauth kubeadminsecret hash annotation logic from HCCO to CPO
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/component.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  test/e2e/util/oauth.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/testing

#5341 OCPBUGS-47715: fix disconnected via CLI
  cmd/cluster/core/create.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/cli

#5349 HOSTEDCP-2234: Karpenter auto machine approver
  Dockerfile.dev
  Makefile
  control-plane-pki-operator/certificates/conditions.go
  karpenter-operator/controllers/karpenter/karpenter_controller.go
  karpenter-operator/controllers/karpenter/machine_approver.go
  karpenter-operator/controllers/karpenter/machine_approver_test.go
  karpenter-operator/controllers/karpenter/manifests.go
  karpenter-operator/main.go
  karpenter-operator/manifests/operator.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-pki-operator

#5356 CNTRLPLANE-68: add flags for setting azure marketplace images in e2e
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/testing

#5225 [release-4.18] OCPBUGS-45349: CPO fails to reconcile the SecretProviderClass for CSO on ARO HCP
  control-plane-operator/controllers/hostedcontrolplane/storage/operator.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5211 OCPBUGS-45265: Use /livez/ping endpoint rather than /version
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/rbac.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/rbac/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/nodepool/apiserver-haproxy/haproxy.cfg
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_empty_proxy_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_clusterNetwork_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_internalAddress_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_kubernetes_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_serviceNetwork_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_the_external_kas_address_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_the_external_kas_adress_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_use_shared_router_it_should_use_proxy_protocol.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_private_cluster_uses_.local_address.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_private_cluster_uses_.local_address_and_LB_kas.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_private_cluster_uses_.local_address_and_custom_apiserver_port.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_and_private_cluster_uses_.local_address.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_and_private_cluster_uses_.local_address_and_LB_kas.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_and_private_cluster_uses_.local_address_and_custom_apiserver_port.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_cluster_uses_address_from_kubeconfig.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_cluster_uses_address_from_kubeconfig_and_custom_port.yaml
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#5375 NO-JIRA: test/e2e: improve VAP test assertions
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#5381 Revert "OCPBUGS-45265: Use /livez/ping endpoint rather than /version"
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/rbac.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/rbac/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/nodepool/apiserver-haproxy/haproxy.cfg
  hypershift-operator/controllers/nodepool/haproxy.go
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_empty_proxy_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_clusterNetwork_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_internalAddress_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_kubernetes_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_serviceNetwork_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_the_external_kas_address_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_the_external_kas_adress_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_use_shared_router_it_should_use_proxy_protocol.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_private_cluster_uses_.local_address.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_private_cluster_uses_.local_address_and_LB_kas.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_private_cluster_uses_.local_address_and_custom_apiserver_port.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_and_private_cluster_uses_.local_address.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_and_private_cluster_uses_.local_address_and_LB_kas.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_and_private_cluster_uses_.local_address_and_custom_apiserver_port.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_cluster_uses_address_from_kubeconfig.yaml
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_cluster_uses_address_from_kubeconfig_and_custom_port.yaml
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#5243 OSASINFRA-3681: improve the doc on OpenStack
  docs/content/how-to/openstack/additional-ports.md
  docs/content/how-to/openstack/az.md
  docs/content/how-to/openstack/create-openstack-cluster.md
  docs/content/how-to/openstack/destroy.md
  docs/content/how-to/openstack/hostedcluster.md
  docs/content/how-to/openstack/index.md
  docs/content/how-to/openstack/performance-tuning.md
  docs/content/how-to/openstack/prerequisites.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5353 OCPBUGS-48152: Fix mirror reference image name when ID is set
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#5389 NO-JIRA: e2e: don't check the KV's LiveMigratable condition for <4.17
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#5363 HOSTEDCP-1542: Introduce e2e flags for Workload Identity
  test/e2e/e2e_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#5165 NO-JIRA: cmd: dump: include ValidatingAdmissionPolicies in guest cluster dump
  cmd/cluster/core/dump.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#5391 OSASINFRA-3670: doc/openstack: etcd on LVM
  docs/content/how-to/openstack/etcd-local-storage.md
  docs/content/how-to/openstack/prerequisites.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5392 NO-JIRA: docs/nit: fix missing spaces in md breaking rendered html
  docs/content/how-to/aws/create-infra-iam-separately.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5312 HOSTEDCP-2233: [CPO Refactor] Refactor cluster-storage-operator
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-storage-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-storage-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-storage-operator/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-storage-operator/zz_fixture_TestControlPlaneComponents_component_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-storage-operator/README.md
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-storage-operator/azure-disk-csi-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-storage-operator/azure-disk-csi-secretprovider.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-storage-operator/azure-file-csi-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-storage-operator/azure-file-csi-secretprovider.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-storage-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-storage-operator/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-storage-operator/rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-storage-operator/serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/envreplace.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5373 NO-JIRA: Bump the golang-dependencies and github.com/Azure/azure-sdk-for-go/sdk/azcore
  api/go.mod
  api/go.sum
  api/vendor/golang.org/x/net/http2/config.go
  api/vendor/golang.org/x/net/http2/config_go124.go
  api/vendor/golang.org/x/net/http2/transport.go
  api/vendor/modules.txt
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/internal/resource/resource_identifier.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/pollers/op/op.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/shared/constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/pager.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/poller.go
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_custom.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_default.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_fail.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require.go.tmpl
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/golang.org/x/crypto/pkcs12/crypto.go
  vendor/golang.org/x/net/http2/config.go
  vendor/golang.org/x/net/http2/config_go124.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  vendor/golang.org/x/sys/windows/dll_windows.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/api

#5390 OCPBUGS-48216: use rm -f in all CVO cmds for idempotency
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5396 NO-JIRA: Update Create Azure HC document
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5362 NO-JIRA: Enforce EnsurePSANotPrivileged for 4.19 and later
  test/e2e/util/util.go
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/testing

#5387 NO-JIRA: Add `make lint-fix` to pre-commit hook
  .pre-commit-config.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5234 NO-JIRA: test/e2e: move pre-removal metrics validation out teardown path
  test/e2e/util/hypershift_framework.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#5358 OCPBUGS-48169: Adjust the multi-arch check logic to skip the check when the payload …
  cmd/cluster/core/create.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/cli

#5406 Revert "CNTRLPLANE-26: Disable building HO for s390x platform on PR"
  .tekton/hypershift-operator-main-pull-request.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5416 CNTRLPLANE-129: Move Microsoft Repo to CI dir in e2e dockerfile
  Dockerfile.e2e
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5419 NO-JIRA: add information about checking HO and e2e are from main on latest release branch
  docs/content/contribute/release-process.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5355 OCPBUGS-48506: Set ownership annotations for TLS artifacts
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/oauth.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5310 AUTH-482: set required-scc for openshift workloads
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/daemonset.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5412 NO-JIRA: doc/openstack: improve index layout
  docs/content/how-to/openstack/index.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5420 OCPBUGS-45511: Compare contents of user-ca-bundle-config.yaml to the correct configmap
  ignition-server/controllers/local_ignitionprovider.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5421 NO-JIRA: Add GOWORK=off to clients in Makefile
  Makefile
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#4587 HOSTEDCP-1542: Implement Workload Identity in Azure for Data Plane Components Part 3
  api/hypershift/v1beta1/azure.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  client/applyconfiguration/hypershift/v1beta1/azureresourcemanagedidentities.go
  client/applyconfiguration/hypershift/v1beta1/dataplanemanagedidentities.go
  client/applyconfiguration/utils.go
  cmd/cluster/azure/create.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_create_with_a_ure_marketplace_image.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_availability_ones.yaml
  cmd/infra/azure/create.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  contrib/managed-azure/Setting up workload identity for Azure HC.md
  contrib/managed-azure/setup_aks_cluster.sh
  docs/content/reference/api.md
  test/e2e/e2e_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/api

#5410 NO-JIRA: Drop openstack create rejection validation
  test/e2e/create_cluster_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#5411 NO-JIRA: Fix dev docs for managed azure
  contrib/managed-azure/setup_dev_environment.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5403 OCPBUGS-48510: Allow ARM64 arch deployment on None platform type
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/cli, area/api

#4999 HOSTEDCP-1971: HyperShift operator upgrade test for rollout validation
  cmd/install/install.go
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
  test/e2e/nodepool_kms_root_volume_test.go
  test/e2e/nodepool_osp_az_test.go
  test/e2e/nodepool_test.go
  test/e2e/upgrade_hypershift_operator_test.go
  test/e2e/util/install.go
  test/e2e/util/options.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/testing

#5440 NO-JIRA: Bump github.com/Azure/azure-sdk-for-go/sdk/azidentity
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/BREAKING_CHANGES.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/README.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/TOKEN_CACHING.MD
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/TROUBLESHOOTING.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/azidentity.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/azure_cli_credential.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/azure_developer_cli_credential.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/chained_token_credential.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/ci.yml
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/confidential_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/default_azure_credential.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/device_code_credential.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/interactive_browser_credential.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/managed_identity_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/public_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/test-resources-post.ps1
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/version.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/authority/authority.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5447 HOSTEDCP-2062: [CPO Refactor] Refactor kubevirt csi driver
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/kubevirt-csi-controller/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kubevirt-csi-controller/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kubevirt-csi-controller/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kubevirt-csi-controller/zz_fixture_TestControlPlaneComponents_component_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kubevirt-csi-controller/OWNERS
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kubevirt-csi-controller/config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kubevirt-csi-controller/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kubevirt-csi-controller/infra_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kubevirt-csi-controller/infra_rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kubevirt-csi-controller/infra_serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kubevirt-csi-controller/kubeconfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/csi/kubevirt/OWNERS
  control-plane-operator/controllers/hostedcontrolplane/v2/csi/kubevirt/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/csi/kubevirt/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/csi/kubevirt/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/csi/kubevirt/kubeconfig.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5361 HOSTEDCP-1542: Implement Workload Identity in Azure for Data Plane Components Part 4
  cmd/infra/azure/create.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/rbac.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/rbac/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/cli

#5453 OCPBUGS-48708: correct aro azureFile config and permissions
  cmd/infra/azure/create.go
  control-plane-operator/controllers/hostedcontrolplane/storage/azure.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/cli

#5418 HOSTEDCP-2176: Enable unused & ineffassign linters in golangci-lint
  .golangci.yml
  cmd/infra/aws/destroy.go
  pkg/etcdcli/helpers.go
  support/thirdparty/kubernetes/pkg/credentialprovider/config.go
  support/thirdparty/library-go/pkg/image/registryclient/client.go
  support/util/imagemetadata.go
  test/e2e/nodepool_nto_constants.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/cli, area/testing

#5176 NO-JIRA: Remove OpenStack workaround for Ingress Floating IP
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/ingress.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/control-plane-operator

#5449 NO-JIRA: [kubevirt] Skip KubeVirtAdvancedMultinetTest for v4.14 and below
  test/e2e/nodepool_kv_advanced_multinet_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#5465 OCPBUGS-48170: fix disconnected via CLI
  cmd/cluster/core/create.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/cli

#5227 HOSTEDCP-2232: Destroy DHCP Server before PowerVS Cloud Instance deletion
  cmd/infra/powervs/destroy.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#5468 OCPBUGS-48794: Adds contributor role over VNET for Cloud Provider
  cmd/infra/azure/create.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/cli

#5455 OCPBUGS-48688: Remove client secret references now Workload Identity is supported
  cmd/cluster/azure/create.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_availability_ones.yaml
  cmd/infra/azure/create.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/providerconfig.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli

#5470 [release-4.18] OCPBUGS-48689: Remove client secret references now Workload Identity is supported
  cmd/cluster/azure/create.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_availability_ones.yaml
  cmd/infra/azure/create.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/providerconfig.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli

#5462 PODAUTO-303: Re enable karpenter e2e
  cmd/infra/aws/destroy_iam.go
  cmd/infra/aws/ec2.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/karpenter.go
  karpenter-operator/controllers/karpenter/karpenter_controller.go
  karpenter-operator/controllers/karpenter/manifests.go
  karpenter-operator/main.go
  karpenter-operator/manifests/operator.go
  test/e2e/assets/karpenter-nodepool.yaml
  test/e2e/assets/karpenter-workloads.yaml
  test/e2e/karpenter_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli, area/testing

#5469 CNTRLPLANE-173: Assign known ARO roles for CP IDs for ARO HCP
  cmd/infra/azure/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#5296 [release-4.17] OCPBUGS-46440: Allow ARM64 arch deployment on Agent platform
  api/hypershift/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator, area/cli

#5446 OCPBUGS-48626: openstack: add DNS option to CLI
  cmd/cluster/openstack/create.go
  docs/content/how-to/openstack/hostedcluster.md
  test/e2e/e2e_test.go
  test/e2e/util/options.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/documentation, area/cli, area/testing

#5474 NO-JIRA: Update managed Azure/ARO HCP contrib and upstream documents
  contrib/managed-azure/README.md
  contrib/managed-azure/Setting up workload identity for Azure HC.md
  contrib/managed-azure/create_basic_hosted_cluster.sh
  contrib/managed-azure/setup_aks_cluster.sh
  contrib/managed-azure/setup_dev_environment.md
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5489 NO-JIRA: Fix a few bugs in Azure Upstream Docs
  contrib/managed-azure/README.md
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5483 OCPBUGS-49370: openstack: update CAPI provider deployment spec
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#5488 CNTRLPLANE-187: Remove MachineIdentityID from Azure HyperShift API
  api/hypershift/v1beta1/azure.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/azurenodepoolplatform.go
  cmd/cluster/azure/create.go
  cmd/cluster/azure/create_test.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_create_with_a_ure_marketplace_image.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_availability_ones.yaml
  cmd/infra/azure/create.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/azure.go
  hypershift-operator/controllers/nodepool/azure_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/api

#5496 NO-JIRA: switch to resource.k8s.io/v1beta1 after kube 1.32 rebase
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5487 OCPBUGS-48532: Fix IsProgressing condition in HostedClusters
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  ignition-server/controllers/local_ignitionprovider.go
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#5417 HOSTEDCP-2169: Add aro scheduler
  docs/content/how-to/azure/scheduler.md
  hypershift-operator/controllers/hostedcluster/karpenter.go
  hypershift-operator/controllers/scheduler/aws/autoscaler.go
  hypershift-operator/controllers/scheduler/aws/autoscaler_test.go
  hypershift-operator/controllers/scheduler/aws/dedicated_request_serving_nodes.go
  hypershift-operator/controllers/scheduler/aws/dedicated_request_serving_nodes_test.go
  hypershift-operator/controllers/scheduler/aws/placeholders.go
  hypershift-operator/controllers/scheduler/aws/placeholders_test.go
  hypershift-operator/controllers/scheduler/azure/controller.go
  hypershift-operator/controllers/scheduler/azure/controllers_test.go
  hypershift-operator/controllers/scheduler/util/scheduler.go
  hypershift-operator/controllers/scheduler/util/scheduler_test.go
  hypershift-operator/main.go
  test/e2e/karpenter_test.go
  test/e2e/util/requestserving.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/testing

#5495 OCPBUGS-48688: Add Tenant ID to Azure API & Remove Credentials from CPO
  api/hypershift/v1beta1/azure.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPPodsLabels.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/azureplatformspec.go
  cmd/cluster/azure/create.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_create_with_a_ure_marketplace_image.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_availability_ones.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/azure.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/api

#5490 NO-JIRA: Add instructions for ccoctl and fix minor issues
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#4825 HOSTEDCP-1706: feat: add a metric for cluster size override annotation
  hypershift-operator/controllers/hostedcluster/metrics/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#5501 [release-4.18] OCPBUGS-48689: Add Tenant ID to Azure API & Remove Credentials from CPO
  api/hypershift/v1beta1/azure.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPPodsLabels.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/azureplatformspec.go
  cmd/cluster/azure/create.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_create_with_a_ure_marketplace_image.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_availability_ones.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/config.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/api

#5473 HOSTEDCP-2245: [CPO Refactor] Refactor cluster-node-tuning-operator
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/zz_fixture_TestControlPlaneComponents_component_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-node-tuning-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-node-tuning-operator/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-node-tuning-operator/rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-node-tuning-operator/service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-node-tuning-operator/serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-node-tuning-operator/servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/nto/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/nto/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/nto/servicemonitor.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5509 HOSTEDCP-2256: [CPO Refactor] Delete component and its resources when predicate changes to false
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/generic-adapter.go
  support/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5395 HOSTEDCP-2226: Add ValidatingAdmissionPolicy for karpenter EC2NodeClass CRD
  Makefile
  karpenter-operator/controllers/karpenter/assets/adjust-cel.sh
  karpenter-operator/controllers/karpenter/assets/karpenter.k8s.aws_ec2nodeclasses.yaml
  karpenter-operator/controllers/karpenter/karpenter_controller.go
  karpenter-operator/manifests/operator.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#5514 NO-JIRA: cpov2: switch to resource.k8s.io/v1beta1 after kube 1.32 rebase
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/config.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#4829 OCPBUGS-49611: Konnectivity: add agent readiness
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/params.go
  support/config/deployment.go
  support/config/probes.go
Labels: approved, ok-to-test, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5517 [release-4.14] NO-JIRA: chore: update konflux references & bump up go version to 1.20
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
  Dockerfile
  go.mod
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/ci-tooling

#5508 MON-4129: adjust Prometheus classic histograms 'le' related selectors in relabel config to accommodate the update to Prometheus v3
  support/metrics/sets.go
  support/metrics/testdata/sreconfig.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5520 [release-4.14] OCPBUGS-49405: add ValidIDPConfiguration condition to report IDP config issues
  api/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation

#5439 HOSTEDCP-2249: Reconcile karpenter user-data secret programmatically instead of creating a mock nodePool
  cmd/install/assets/hypershift_operator.go
  hypershift-operator/controllers/hostedcluster/createorupdate_annotation_enforcer.go
  hypershift-operator/controllers/hostedcluster/createorupdate_annotation_enforcer_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/karpenter.go
  hypershift-operator/controllers/hostedcluster/karpenter_test.go
  hypershift-operator/controllers/hostedclustersizing/hostedclustersizing_controller.go
  hypershift-operator/controllers/nodepool/apiserver-haproxy/assets/apiserver-ip.service
  hypershift-operator/controllers/nodepool/apiserver-haproxy/assets/haproxy.cfg
  hypershift-operator/controllers/nodepool/apiserver-haproxy/assets/setup-apiserver-ip.sh
  hypershift-operator/controllers/nodepool/apiserver-haproxy/assets/teardown-apiserver-ip.sh
  hypershift-operator/controllers/nodepool/apiserver-haproxy/haproxy.go
  hypershift-operator/controllers/nodepool/apiserver-haproxy/haproxy_test.go
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_empty_proxy_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_clusterNetwork_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_internalAddress_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_kubernetes_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_serviceNetwork_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_the_external_kas_address_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_use_shared_router_it_should_use_proxy_protocol.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_private_cluster_uses_.local_address.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_private_cluster_uses_.local_address_and_LB_kas.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_private_cluster_uses_.local_address_and_custom_apiserver_port.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_and_private_cluster_uses_.local_address.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_and_private_cluster_uses_.local_address_and_LB_kas.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_and_private_cluster_uses_.local_address_and_custom_apiserver_port.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_cluster_uses_address_from_kubeconfig.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestReconcileHAProxyIgnitionConfig_public_cluster_uses_address_from_kubeconfig_and_custom_port.yaml
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/secret_janitor.go
  hypershift-operator/controllers/nodepool/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_the_external_kas_adress_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/platform/aws/controller.go
  hypershift-operator/controlplaneoperator-overrides/overrides.go
  karpenter-operator/manifests/operator.go
  support/config/constants.go
  support/releaseinfo/fake/fake.go
  support/util/imagemetadata.go
  support/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli
