Repository openshift/hypershift, pull requests merged in 2025-03, with the labels that each got.

#5747 NO-JIRA: chore(deps): update konflux references #5527
  .tekton/control-plane-operator-main-pull-request.yaml
  .tekton/control-plane-operator-main-push.yaml
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5676 HOSTEDCP-2242: [CPOv2 Refactor] Refactor image-registry-operator
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents_component_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-image-registry-operator/azure-secretprovider.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-image-registry-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-image-registry-operator/podmonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/podmonitor.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5723 OCPBUGS-51375: use registryOverrides when automaitcally retrieving catalog images for hosted control plane
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/olm/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
  control-plane-operator/main.go
  docs/content/contribute/index.md
  support/releaseinfo/registryclient/client.go
  support/util/fakeimagemetadataprovider/fakeimagemetadataprovider.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/documentation

#5755 CNTRLPLANE-111: Enable MIv3 for CP/CCM in managed Azure HCP
  .tekton/control-plane-operator-main-pull-request.yaml
  .tekton/control-plane-operator-main-push.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/config.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5762 NO-JIRA: Remove issues-exit flag for golangci-lint
  .github/workflows/golangci-lint.yml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5491 OCPBUGS-50523: Fix audit-logs container to properly handle SIGTERM
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/testdata/zz_fixture_TestReconcileOauthDeploymentNoChanges.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/oauth-openshift/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-apiserver/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-oauth-apiserver/deployment.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5751 OCPBUGS-52223: refactor aws identity health check into new controller
  control-plane-operator/controllers/healthcheck/aws.go
  control-plane-operator/controllers/healthcheck/healthcheck_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/main.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5749 OSASINFRA-3733: (follow-up) deploy ORC on release payload >= 4.19
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#5770 OCPBUGS-52417: [release-4.18] refactor aws identity health check into new controller
  control-plane-operator/controllers/healthcheck/aws.go
  control-plane-operator/controllers/healthcheck/healthcheck_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/main.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5766 NO-JIRA: speed up image builds
  .dockerignore
  Dockerfile.e2e
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5562 OCPBUGS-46340: change plaform to platform
  hypershift-operator/controllers/nodepool/metrics/metrics.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#5756 CNTRLPLANE-263: Remove unused CAPZ CRDs from HyperShift install
  Makefile
  cmd/install/assets/cluster-api-provider-azure/infrastructure.cluster.x-k8s.io_azuremanagedclusters.yaml
  cmd/install/assets/cluster-api-provider-azure/infrastructure.cluster.x-k8s.io_azuremanagedclustertemplates.yaml
  cmd/install/assets/cluster-api-provider-azure/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  cmd/install/assets/cluster-api-provider-azure/infrastructure.cluster.x-k8s.io_azuremanagedmachinepooltemplates.yaml
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli

#5475 OCPBUGS-50518: Kubernetes API Server apply-bootstrap container does not respect SIGTERM
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/deployment.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5771 OCPBUGS-52419: e2e: don't call `WaitForImageRollout` in `executeNodePoolTest`
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing

#5772 OCPBUGS-52425: [release-4.17] refactor aws identity health check into new controller
  control-plane-operator/controllers/healthcheck/aws.go
  control-plane-operator/controllers/healthcheck/healthcheck_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/main.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5777 NO-JIRA: Remove WI step for cluster-image-registry-operator
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5779 CNV-57648: document how to configure descheduler
  docs/content/how-to/kubevirt/create-kubevirt-cluster.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5763 OCPBUGS-52323: Make managed-trust-bundle optional
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/testdata/zz_fixture_TestReconcileOauthDeploymentNoChanges.yaml
Labels: approved, ok-to-test, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#5778 NO-JIRA: test/e2e: skip WaitForImageRollout in executeNodePoolTest on newer releases
  test/e2e/nodepool_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#5769 NO-JIRA: CPOv2 token-minter abstraction
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-aws/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-aws/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_component_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-aws/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-image-registry-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ingress-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ingressoperator/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ingressoperator/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/deployment.go
  support/controlplane-component/README.md
  support/controlplane-component/builder.go
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/defaults.go
  support/controlplane-component/token-minter-container.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5746 OLS-1370: Add full aws permission list and point to it from "getting started"
  docs/content/getting-started.md
  docs/content/reference/infrastructure/aws.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5708 HOSTEDCP-2237: Auto approve Karpenter serving CSRs
  karpenter-operator/controllers/karpenter/machine_approver.go
  karpenter-operator/controllers/karpenter/machine_approver_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#5669 [release-4.15] OCPBUGS-50699: add region to AWS creds passed to operators managed by CPO
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#5812 NO-JIRA: Disable GitHub Actions
  .github/workflows/codespell.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/make-verify.yml
  .github/workflows/sync-container-files.yaml
  .github/workflows/unit-test.yml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5793 CNTRLPLANE-111: Fix KMS MIv3 Issues
  api/hypershift/v1beta1/azure.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DisableClusterCapabilities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DisableClusterCapabilities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/cluster/azure/create.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_create_with_a_ure_marketplace_image.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_availability_ones.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
Labels: approved, lgtm, jira/valid-reference, area/documentation, area/cli, area/api

#5795 OCPBUGS-52655: Add flag to set etcd storage size
  cmd/cluster/core/create.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/cli

#5807 OCPBUGS-51364: fix oc patch command on doc
  docs/content/how-to/disaster-recovery/etcd-recovery.md
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/documentation

#5680 PODAUTO-324: PODAUTO-325: Allow autonode to run upstream karpenter core e2e tests
  Makefile
  api/karpenter/v1beta1/karpenter_types.go
  karpenter-operator/controllers/karpenter/karpenter_controller.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller.go
  karpenter-operator/e2e/adjust-ec2nodeclass.sh
  karpenter-operator/e2e/default_nodepool.yaml
  karpenter-operator/e2e/upstream-e2e.sh
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/karpenter_types.go
Labels: approved, lgtm, jira/valid-reference, area/api

#5808 OCPBUGS-52819: CPO Overrides for OCPBUGS-48519
  hypershift-operator/controlplaneoperator-overrides/assets/overrides.yaml
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#5456 ARO-14354,ARO-14356,ARO-14355: introduce image registry capability behind feature gate
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DisableClusterCapabilities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DisableClusterCapabilities.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/config.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-version-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ocm/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ocm/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ocm/testdata/zz_fixture_TestReconcileOpenShiftControllerManagerConfig_WithAllCapabilitiesEnabled.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/ocm/testdata/zz_fixture_TestReconcileOpenShiftControllerManagerConfig_WithImageRegistryCapabilityDisabled.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/component.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/capabilities/hosted_control_plane_capabilities.go
  support/capabilities/hosted_control_plane_capabilities_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/api

#5780 [release-4.18] OCPBUGS-52878: Kubernetes API Server apply-bootstrap container does not respect SIGTERM
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/deployment.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5818 OCPBUGS-52985: filter watch events for HO AWSEndpointService reconciler
  hypershift-operator/controllers/platform/aws/controller.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#5816 [release-4.14] OCPBUGS-45559: Add Network Policies for Konnectivity server and Ignition server proxy
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/manifests/networkpolicy/manifests.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#5820 CNTRLPLANE-111: Fix Azure KMS SecretProviderClass volume name
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/kms.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/azure.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5835 CNTRLPLANE-325: rootless containerized builds
  docs/Dockerfile
  docs/Makefile
  docs/image-version.awk
  docs/requirements.txt
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5139 OSASINFRA-3492: feat(openstack): leverage ORC to manage the release image
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/openstack.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/openstackplatformspec.go
  cmd/cluster/openstack/create.go
  cmd/cluster/openstack/create_test.go
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_default_creation_flags.yaml
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift_operator.go
  cmd/nodepool/openstack/create.go
  cmd/nodepool/openstack/create_test.go
  docs/content/how-to/openstack/additional-ports.md
  docs/content/how-to/openstack/az.md
  docs/content/how-to/openstack/destroy.md
  docs/content/how-to/openstack/hostedcluster.md
  docs/content/how-to/openstack/index.md
  docs/content/how-to/openstack/performance-tuning.md
  docs/content/how-to/openstack/prerequisites.md
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack_test.go
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/openstack.go
  hypershift-operator/controllers/nodepool/openstack/openstack.go
  hypershift-operator/controllers/nodepool/openstack/openstack_test.go
  test/e2e/e2e_test.go
  test/e2e/nodepool_osp_advanced_test.go
  test/e2e/util/options.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/openstack.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling, area/control-plane-pki-operator, area/api

#5829 METAL-1240: Fix kube-controller-manager and openshift-route-controller-manager services' ipFamilies wrt PreferDualStack policy
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-controller-manager/service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-route-controller-manager/service.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5837 CNTRLPLANE-112: Enable MIv3 for CNO/CNCC on managed Azure
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/deployment.go
  support/config/constants.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5830 OCPBUGS-53083: e2e: detect leader election failure in restarted pods
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing

#5774 [release-4.18] OCPBUGS-52982: Fix audit-logs container to properly handle SIGTERM
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/testdata/zz_fixture_TestReconcileOauthDeploymentNoChanges.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/oauth-openshift/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-apiserver/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-oauth-apiserver/deployment.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5858 OCPBUGS-51239: fix(deps): bump go-jose
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v3/jwe.go
  vendor/github.com/go-jose/go-jose/v3/jws.go
  vendor/github.com/go-jose/go-jose/v4/CHANGELOG.md
  vendor/github.com/go-jose/go-jose/v4/CONTRIBUTING.md
  vendor/github.com/go-jose/go-jose/v4/README.md
  vendor/github.com/go-jose/go-jose/v4/crypter.go
  vendor/github.com/go-jose/go-jose/v4/jwe.go
  vendor/github.com/go-jose/go-jose/v4/jwk.go
  vendor/github.com/go-jose/go-jose/v4/jws.go
  vendor/github.com/go-jose/go-jose/v4/opaque.go
  vendor/github.com/go-jose/go-jose/v4/shared.go
  vendor/github.com/go-jose/go-jose/v4/signing.go
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_custom.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_default.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_fail.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require.go.tmpl
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/golang.org/x/crypto/pkcs12/crypto.go
  vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  vendor/golang.org/x/sys/windows/dll_windows.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator, area/api

#5860 Revert "CNTRLPLANE-112: Enable MIv3 for CNO/CNCC on managed Azure"
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/deployment.go
  support/config/constants.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5863 OCPBUGS-51240: bump go-jose
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v3/jwe.go
  vendor/github.com/go-jose/go-jose/v3/jws.go
  vendor/github.com/go-jose/go-jose/v4/CHANGELOG.md
  vendor/github.com/go-jose/go-jose/v4/CONTRIBUTING.md
  vendor/github.com/go-jose/go-jose/v4/README.md
  vendor/github.com/go-jose/go-jose/v4/crypter.go
  vendor/github.com/go-jose/go-jose/v4/jwe.go
  vendor/github.com/go-jose/go-jose/v4/jwk.go
  vendor/github.com/go-jose/go-jose/v4/jws.go
  vendor/github.com/go-jose/go-jose/v4/opaque.go
  vendor/github.com/go-jose/go-jose/v4/shared.go
  vendor/github.com/go-jose/go-jose/v4/signing.go
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_custom.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_default.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_fail.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require.go.tmpl
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/golang.org/x/crypto/pkcs12/crypto.go
  vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  vendor/golang.org/x/sys/windows/dll_windows.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#5853 NO-JIRA: openstack: revert `OpenStackImageRetentionPolicy` + use a unique image name per Hosted Cluster
  api/hypershift/v1beta1/openstack.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/openstackplatformspec.go
  cmd/cluster/openstack/create.go
  cmd/cluster/openstack/create_test.go
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_default_creation_flags.yaml
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/how-to/openstack/hostedcluster.md
  docs/content/how-to/openstack/prerequisites.md
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/openstack.go
  hypershift-operator/controllers/nodepool/openstack/openstack.go
  hypershift-operator/controllers/nodepool/openstack/openstack_test.go
  test/e2e/e2e_test.go
  test/e2e/util/options.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/openstack.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/documentation, area/cli, area/testing, area/api

#5827 OCPBUGS-53050: Handle multiple mirror entries for source
  support/releaseinfo/registry_image_content_policies.go
  support/releaseinfo/registry_image_content_policies_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5865 NO-JIRA: Add Azure scheduler doc to mkdocs
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation

#5867 [release-4.14] OCPBUGS-53314: Fix IsIPv4 function identifying also addresses instead of CIDRs
  control-plane-operator/controllers/hostedcontrolplane/etcd/params.go
  control-plane-operator/controllers/hostedcontrolplane/pki/params.go
  hypershift-operator/controllers/nodepool/haproxy.go
  support/globalconfig/network.go
  support/util/networking.go
  support/util/util.go
  support/util/util_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#5872 NO-JIRA: feat(builds): Add area labels and OWNERS
  .tekton/OWNERS
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5869 CNTRLPLANE-348: Konflux tagged releases
  .tekton/hypershift-operator-main-tag.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5857 CNTRLPLANE-111: Fix KMS Azure credentials mount path
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5776 STOR-2281: Remove csi-snapshot-validation-webhook
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/assets/07_deployment-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator_test.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/params.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/testdata/zz_fixture_TestReconcileOperatorDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/csi-snapshot-controller-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/csi-snapshot-controller-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/csi-snapshot-controller-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/snapshotcontroller/deployment.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5877 NO-JIRA: Improve error output msg for Azure CLI role cmds
  cmd/infra/azure/create.go
Labels: approved, lgtm, do-not-merge/hold, jira/valid-reference, area/cli

#5881 OCPBUGS-53462: Check for availability of individual catalog images
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/v2/olm/catalogs/deployment.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/olm/params.go
  support/catalogs/images.go
  support/catalogs/images_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#5861 OCPBUGS-53263: Fixed cpov2 reconciliation making no-op calls to api-server
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/statefulset.yaml
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/controlplane-component_test.go
  support/controlplane-component/crds/crds.go
  support/controlplane-component/generic-adapter.go
  support/upsert/apply.go
  support/upsert/apply_test.go
  support/upsert/upsert.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#5876 OCPBUGS-52190: Add konnectivity-proxy sidecar to openshift-oauth-apiserver
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-oauth-apiserver/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth_apiserver/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth_apiserver/deployment.go
  support/util/util.go
  support/util/util_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#5862 CNTRLPLANE-111: Authenticate to Azure only once in CPO
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5653 OCPBUGS-50915: Disable capi machineset preflights
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#5856 CNTRLPLANE-336: [CPOv2 Refactor] Refactor konnectivity-agent into cpov2
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/zz_fixture_TestControlPlaneComponents_component_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_component_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/konnectivity-agent/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/konnectivity-server-service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/konnectivity_agent/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/konnectivity_agent/deployment.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5898 OCPBUGS-51810,OCPBUGS-51739: Bump dependencies to OCP fork in backports
  go.mod
  go.sum
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#5900 OCPBUGS-51808,OCPBUGS-51737: Bump dependencies to OCP fork in backports
  go.mod
  go.sum
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#5871 OCPBUGS-46379: Kas bootstrap bin
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/main.go
  kas-bootstrap/kas_boostrap.go
  kas-bootstrap/kas_boostrap_test.go
  kas-bootstrap/main.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/testing

#5838 NO-JIRA: Remove TODO comment for AzureProviderConfig
  control-plane-operator/controllers/hostedcontrolplane/manifests/azure.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5901 OCPBUGS-51804,OCPBUGS-51733: Bump dependencies to OCP fork in backports
  go.mod
  go.sum
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#5903 CNTRLPLANE-112: Fix CNCC RG Permissions & RBAC
  cmd/infra/azure/create.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/rbac.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/rbac/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/cli

#5910 NO-JIRA: Revert "OCPBUGS-50915: Disable capi machineset preflights"
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#5915 CNTRLPLANE-112: Enable MIv3 for azure file csi driver
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/storage/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/azure.go
  kas-bootstrap/main.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#5902 OCPBUGS-51729,OCPBUGS-51800: Bump dependencies to OCP fork in backports
  go.mod
  go.sum
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/internal/client_appengine.go
  vendor/golang.org/x/oauth2/internal/transport.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/token.go
  vendor/google.golang.org/appengine/LICENSE
  vendor/google.golang.org/appengine/internal/api.go
  vendor/google.golang.org/appengine/internal/api_classic.go
  vendor/google.golang.org/appengine/internal/api_common.go
  vendor/google.golang.org/appengine/internal/app_id.go
  vendor/google.golang.org/appengine/internal/base/api_base.pb.go
  vendor/google.golang.org/appengine/internal/base/api_base.proto
  vendor/google.golang.org/appengine/internal/datastore/datastore_v3.pb.go
  vendor/google.golang.org/appengine/internal/datastore/datastore_v3.proto
  vendor/google.golang.org/appengine/internal/identity.go
  vendor/google.golang.org/appengine/internal/identity_classic.go
  vendor/google.golang.org/appengine/internal/identity_flex.go
  vendor/google.golang.org/appengine/internal/identity_vm.go
  vendor/google.golang.org/appengine/internal/internal.go
  vendor/google.golang.org/appengine/internal/log/log_service.pb.go
  vendor/google.golang.org/appengine/internal/log/log_service.proto
  vendor/google.golang.org/appengine/internal/main.go
  vendor/google.golang.org/appengine/internal/main_common.go
  vendor/google.golang.org/appengine/internal/main_vm.go
  vendor/google.golang.org/appengine/internal/metadata.go
  vendor/google.golang.org/appengine/internal/net.go
  vendor/google.golang.org/appengine/internal/regen.sh
  vendor/google.golang.org/appengine/internal/remote_api/remote_api.pb.go
  vendor/google.golang.org/appengine/internal/remote_api/remote_api.proto
  vendor/google.golang.org/appengine/internal/transaction.go
  vendor/google.golang.org/appengine/internal/urlfetch/urlfetch_service.pb.go
  vendor/google.golang.org/appengine/internal/urlfetch/urlfetch_service.proto
  vendor/google.golang.org/appengine/urlfetch/urlfetch.go
  vendor/modules.txt
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#5918 ART-11792: update go mod dependency for konflux
  .gitignore
  vendor/github.com/docker/distribution/.dockerignore
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5782 NO-JIRA: fix(api): Adjust CRD validation rules to account for ignition server …
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  test/e2e/create_cluster_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/documentation, area/cli, area/testing, area/api

#5873 CNTRLPLANE-350: add NodePool minor version compatibility check
  cmd/nodepool/core/create.go
  cmd/nodepool/core/create_test.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#5904 OCPBUGS-53904: bump golang-jwt v4 and v5
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#5458 CNTRLPLANE-216: Add KubeAPIExteralName api
  Dockerfile.control-plane
  Dockerfile.dev
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/hostedclusterspec.go
  client/applyconfiguration/hypershift/v1beta1/hostedclusterstatus.go
  client/applyconfiguration/hypershift/v1beta1/hostedcontrolplanespec.go
  client/applyconfiguration/hypershift/v1beta1/hostedcontrolplanestatus.go
  cmd/cluster/core/dump.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kubeconfig.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/kas.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/custom-admin-kubeconfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kubeconfig.go
  docs/content/how-to/aws/define-custom-kube-api-name.md
  docs/content/reference/api.md
  docs/mkdocs.yml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/manifests/manifests.go
  support/forwarder/forwarder.go
  support/forwarder/forwarder_test.go
  support/globalconfig/infrastructure.go
  support/util/util.go
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: approved, tide/merge-method-squash, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/api

#5924 NO-JIRA: Remove ppc64le from HO tekton files
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#5937 CNTRLPLANE-378: Move bootstrap apply bash into kas-bootstrap binary
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  kas-bootstrap/kas_boostrap.go
  kas-bootstrap/kas_boostrap_test.go
  kas-bootstrap/main.go
  kas-bootstrap/testdata/0000_10_config-operator_01_apiservers.crd.yaml
  kas-bootstrap/testdata/0000_10_config-operator_01_featuregates.crd.yaml
  kas-bootstrap/testdata/99_feature-gate.yaml
  kas-bootstrap/testdata/hcco-clusterrole-binding.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator
