Repository openshift/hypershift, pull requests merged in 2025-08, with the labels that each got.

#6518 CNTRLPLANE-263: Remove all AzureManaged* CRDs
  Makefile
  cmd/install/assets/cluster-api-provider-azure/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  cmd/install/assets/cluster-api-provider-azure/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanetemplates.yaml
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/cli

#6559 CNTRLPLANE-1116: build(gitlint): add gitlint to verify target
  Makefile
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#6550 OCPBUGS-59886: Add selinux-warning-controller to KCM
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-controller-manager/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-controller-manager/zz_fixture_TestControlPlaneComponents_kube_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-controller-manager/deployment.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#6558 [release-4.19] CNTRLPLANE-1213: New API to support specifying cluster-autoscaler flags
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/clusterautoscaling.go
  client/applyconfiguration/hypershift/v1beta1/scaledownconfig.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-autoscaler/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-autoscaler/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-autoscaler/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/autoscaler/component_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/autoscaler/deployment.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/autoscaler/ignorelabels.go
  support/autoscaler/ignorelabels_test.go
  test/e2e/autoscaling_test.go
  test/e2e/create_cluster_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/api

#6560 NO-JIRA: feat(azure): Add deletion scripts and cleanup documentation for managed Azure clusters
  contrib/managed-azure/README.md
  contrib/managed-azure/delete_aks_cluster.sh
  contrib/managed-azure/delete_all.sh
  contrib/managed-azure/delete_hosted_cluster.sh
  docs/content/how-to/azure/create-azure-cluster-on-aks.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#6599 CNTRLPLANE-1231: Move CPO pipeline to hermetic builds
  .tekton/control-plane-operator-4-16-pull-request.yaml
  .tekton/control-plane-operator-4-16-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#6601 CNTRLPLANE-1232: Move CPO pipeline to hermetic builds
  .tekton/control-plane-operator-4-15-pull-request.yaml
  .tekton/control-plane-operator-4-15-push.yaml
Labels: jira/valid-reference, do-not-merge/needs-area

#6591 OCPBUGS-60064: fix(OCPBUGS-60064): add missing app label to some components
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_image_registry_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents_cluster_image_registry_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-storage-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_storage_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-storage-operator/zz_fixture_TestControlPlaneComponents_cluster_storage_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/featuregate-generator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_featuregate_generator_job.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/featuregate-generator/zz_fixture_TestControlPlaneComponents_featuregate_generator_job.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/olm-collect-profiles/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_olm_collect_profiles_cronjob.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/olm-collect-profiles/zz_fixture_TestControlPlaneComponents_olm_collect_profiles_cronjob.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-image-registry-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-storage-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/featuregate-generator/job.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/olm-collect-profiles/cronjob.yaml
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/testing

#6523 CNTRLPLANE-1190: Support control plane overrides by platform
  docs/content/contribute/cpo-overrides.md
  docs/mkdocs.yml
  hypershift-operator/controlplaneoperator-overrides/assets/overrides.yaml
  hypershift-operator/controlplaneoperator-overrides/assets/overrides_sample.yaml
  hypershift-operator/controlplaneoperator-overrides/overrides.go
  hypershift-operator/controlplaneoperator-overrides/overrides_test.go
  support/util/util.go
  test/e2e/util/options.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/testing

#6603 CNTRLPLANE-995: Fix Default SG day2 tags feature being triggered without changes
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/awsutil/errorcode.go
  support/awsutil/sg.go
  support/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6607 OCPBUGS-57626: order ICSPs for determinism of OPENSHIFT_IMG_OVERRIDES
  support/globalconfig/imagecontentsource.go
  support/globalconfig/imagecontentsource_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6419 NO-JIRA: test(e2e): add new test for external OIDC
  test/e2e/e2e_test.go
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/options.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#6555 CNTRLPLANE-204: feat: Add Shared Ingress Config Generator
  hypershift-operator/controllers/sharedingress/manifests.go
  hypershift-operator/controllers/sharedingress/router.go
  hypershift-operator/controllers/sharedingress/router_test.go
  hypershift-operator/controllers/sharedingress/sharedingress_controller.go
  hypershift-operator/main.go
  sharedingress-config-generator/config.go
  sharedingress-config-generator/config_test.go
  sharedingress-config-generator/controller.go
  sharedingress-config-generator/controller_test.go
  sharedingress-config-generator/haproxy_client.go
  sharedingress-config-generator/main.go
  sharedingress-config-generator/router_config.template
  sharedingress-config-generator/testdata/zz_fixture_TestGenerateConfig_When_there_s_two_HostedClusters_with_all_their_Routes_and_SVCs_it_should_generate_the_config_with_frontends_and_backends_for_both.cfg
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#6589 NO-JIRA: docs: Document workloadContext
  support/controlplane-component/controlplane-component.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6612 OCPBUGS-60190: chore: Improve security context uid allocation to reuse released uids
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/security_context_uid.go
  hypershift-operator/controllers/hostedcluster/security_context_uid_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#6620 NO-JIRA: Fix typo causing 'make verify' to fail
  control-plane-operator/controllers/hostedcontrolplane/kas/healthcheck.go
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/control-plane-operator

#6621 OCPBUGS-60187: chore: Split shared proxy acls
  sharedingress-config-generator/config.go
  sharedingress-config-generator/router_config.template
  sharedingress-config-generator/testdata/zz_fixture_TestGenerateConfig_When_there_s_two_HostedClusters_with_all_their_Routes_and_SVCs_it_should_generate_the_config_with_frontends_and_backends_for_both.cfg
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing

#6619 NO-JIRA: Update ingress-and-dns.md - update Metallb install link
  docs/content/how-to/kubevirt/ingress-and-dns.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#6534 CNTRLPLANE-996: feat(e2e): Use ROSAManagedPolicies by default
  test/e2e/util/options.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#6455 CNTRLPLANE-1016: Support day2 tags changes for AWS default SecurityGroup
  api/hypershift/v1beta1/aws.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/CapacityReservation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  docs/content/reference/api.md
  support/awsutil/errorcode.go
  support/awsutil/sg.go
  support/util/maps.go
  support/util/maps_test.go
  support/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/aws.go
Labels: approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/api

#6631 CNTRLPLANE-946: test(e2e): Add e2e test for ExternalOIDCWithUIDAndExtra feature set
  test/e2e/e2e_test.go
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#6658 CNTRLPLANE-1269: chore(deps): update konflux references
  .tekton/control-plane-operator-4-18-pull-request.yaml
  .tekton/control-plane-operator-4-18-push.yaml
Labels: approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/ci-tooling

#6661 CNTRLPLANE-1270: Fix ProjectDevelopmentStreamTemplates
  contrib/konflux/cpo_4_19_stream.yaml
  contrib/konflux/cpo_development_stream_template.yaml
  contrib/konflux/ho_development_stream_template.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#6644 [release-4.18] OCPBUGS-60458: Update PSA from v1beta1 to v1
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kas_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_kas_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/config.go
  vendor/k8s.io/pod-security-admission/admission/api/v1/defaults.go
  vendor/k8s.io/pod-security-admission/admission/api/v1/doc.go
  vendor/k8s.io/pod-security-admission/admission/api/v1/register.go
  vendor/k8s.io/pod-security-admission/admission/api/v1/types.go
  vendor/k8s.io/pod-security-admission/admission/api/v1/zz_generated.conversion.go
  vendor/k8s.io/pod-security-admission/admission/api/v1/zz_generated.deepcopy.go
  vendor/k8s.io/pod-security-admission/admission/api/v1/zz_generated.defaults.go
  vendor/k8s.io/pod-security-admission/admission/api/v1beta1/zz_generated.conversion.go
  vendor/modules.txt
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator

#6517 OCPBUGS-57141: HCP payload doesn't respect multiple mirrors
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/deployment.go
  support/releaseinfo/registry_image_content_policies.go
  support/util/imagemapping.go
  support/util/imagemapping_test.go
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
Labels: approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6662 CNTRLPLANE-1271: HyperShift Operator CPO override for Azure. versions 4.19.6 - 4.19.9
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  hypershift-operator/controlplaneoperator-overrides/assets/overrides.yaml
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/ci-tooling

#6642 OCPBUGS-56430: fix: Add recovery monitoring stack fixes
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/recovery/recovery.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/recovery/recovery_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6218 OCPBUGS-56914: fix: Do not admit OAuth route by private router unless it has external DNS
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/route.go
  control-plane-operator/controllers/hostedcontrolplane/v2/router/component.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/util/expose.go
  support/util/visibility.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6676 OCPBUGS-60651: fix mce 2.10 Konflux EC violation
  .tekton/hypershift-cli-mce-210-pull-request.yaml
  .tekton/hypershift-cli-mce-210-push.yaml
  .tekton/hypershift-release-mce-210-pull-request.yaml
  .tekton/hypershift-release-mce-210-push.yaml
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/ci-tooling

#6682 NO-JIRA: fix(doc): remove note about mandatory annotation in BM deployment
  docs/content/labs/Dual/hostedcluster/hostedcluster.md
  docs/content/labs/IPv4/hostedcluster/hostedcluster.md
  docs/content/labs/IPv6/hostedcluster/hostedcluster.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#6675 OCPBUGS-60100: fix: add dynamic security context uid to 4.19 missing components
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/params.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator.go
  support/config/deployment.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6677 OCPBUGS-60648: Cache Azure KMS TokenCredential for ARO HCP and clarify CPO credentials cache naming
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#6685 NO-JIRA: Update-overrides for ARO HCP Fixes
  hypershift-operator/controlplaneoperator-overrides/assets/overrides.yaml
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#6554 CNTRLPLANE-1209: exposing IPv4OVNKubernetesConfig for hcp's ClusterNetworking
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/operator.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/clusternetworkoperatorspec.go
  client/applyconfiguration/hypershift/v1beta1/ovnipv4config.go
  client/applyconfiguration/hypershift/v1beta1/ovnkubernetesconfig.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/network/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/network/reconcile_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/operator.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/documentation, area/cli, area/testing, area/api

#6616 OCPBUGS-59194: fix(registry): delete ValidatingAdmissionPolicy and binding during HCP deletion for ARO cleanup
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/registry/admissionpolicies.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/registry/admissionpolicies_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#6691 STOR-1064: fix(cpo): add missing image to env replacement
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-storage-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_storage_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-storage-operator/zz_fixture_TestControlPlaneComponents_cluster_storage_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/envreplace.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, acknowledge-critical-fixes-only

#6641 [release-4.18] CNTRLPLANE-1333: New API to support specifying cluster-autoscaler flags
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPPodsLabels.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/clusterautoscaling.go
  client/applyconfiguration/hypershift/v1beta1/scaledownconfig.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-autoscaler/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-autoscaler/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/v2/autoscaler/reconcile_test.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/autoscaler/ignorelabels.go
  support/autoscaler/ignorelabels_test.go
  test/e2e/autoscaling_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Labels: approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/api

#6696 OCPBUGS-60891: set default goaway-chance to 0.001
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kas_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_kas_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, acknowledge-critical-fixes-only

#6636 [release-4.19] OCPBUGS-60152: add missing app label to some components
  control-plane-operator/controllers/hostedcontrolplane/fg/assets/job.yaml
  control-plane-operator/controllers/hostedcontrolplane/fg/testdata/zz_fixture_TestReconcileFeatureGateGenerationJob_no_default_security_context.yaml
  control-plane-operator/controllers/hostedcontrolplane/fg/testdata/zz_fixture_TestReconcileFeatureGateGenerationJob_with_default_security_context.yaml
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/olm-collect-profiles.cronjob.yaml
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/testdata/zz_fixture_TestReconcileDeployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/assets/10_deployment-hypershift.yaml
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#6708 NO-JIRA: fix(contrib): Make setup_aks_mi.sh executable
  contrib/managed-azure/setup_aks_mi.sh
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling, acknowledge-critical-fixes-only

#6722 CNTRLPLANE-1361: fix(infra/azure): make role assignment creation idempotent and robust
  cmd/infra/azure/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli, acknowledge-critical-fixes-only

#6709 CNTRLPLANE-202:feat(sharedingress): add infrastructure node scheduling preferences
  hypershift-operator/controllers/sharedingress/router.go
  hypershift-operator/controllers/sharedingress/router_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, acknowledge-critical-fixes-only
