Repository openshift/hypershift, pull requests merged in 2025-07, with the labels that each got.

#6360 ACM-21713: fix(konflux): go-toolset runs as default(1001)
  Containerfile.control-plane
  hack/tools/git-hooks/cpo-containerfiles-in-sync.sh
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#6364 CNTRLPLANE-1042: Add nodepool rollout test for azure
  test/e2e/nodepool_rolling_upgrade_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#6370 OCPBUGS-58335: Support proxy authentication when user/pass is included in URL
  konnectivity-https-proxy/cmd.go
  konnectivity-https-proxy/cmd_test.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6301 OCPBUGS-57818: Reuse hosted cluster release and metadata providers
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/main.go
  support/globalconfig/imagecontentsource.go
  support/globalconfig/imagecontentsource_test.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#6325 OCPBUGS-57957: Increase MaxItems for Mirrors and ImageContentSources
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/cli, area/api

#6374 OCPBUGS-57660: [release-4.19] CORENET-6094: CNO: add FRR-k8s image
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_No_private_apiserver_connectivity__proxy_apiserver_address_is_set.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Preserve_existing_resources.yaml
  control-plane-operator/controllers/hostedcontrolplane/cno/testdata/zz_fixture_TestReconcileDeployment_Private_apiserver_connectivity__proxy_apiserver_address_is_unset.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-network-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-network-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/deployment.go
Labels: approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#6367 OCPBUGS-58149: fix(hcco): Don't fail for public OIDC clients with no client secret
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6379 OCPBUGS-58387: Add karpenter to skip api-server deps
  support/controlplane-component/status.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6183 MGMT-20771: Enable disabling of Console capability
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/cluster/core/create.go
  cmd/cluster/core/create_test.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  docs/content/reference/api.md
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
  test/e2e/util/version.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/api

#6395 NO-JIRA: Fix up contrib scripts for aro like env
  contrib/managed-azure/README.md
  contrib/managed-azure/create_basic_hosted_cluster.sh
  contrib/managed-azure/setup_MIv3_kv.sh
  contrib/managed-azure/setup_aks_cluster.sh
  contrib/managed-azure/setup_all.sh
  contrib/managed-azure/setup_dataplane_identities.sh
  contrib/managed-azure/setup_etcd_kv.sh
  contrib/managed-azure/setup_external_dns.sh
  contrib/managed-azure/setup_install_ho_on_aks.sh
  contrib/managed-azure/setup_oidc_provider.sh
  contrib/managed-azure/vars.sh
Labels: approved, lgtm, jira/valid-reference, area/documentation

#6394 OCPBUGS-58506: [release-4.15] Add missing service network DNS entries to KAS cert
  support/pki/kas.go
Labels: approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#6409 [release-4.19] OCPBUGS-59101: Configure ClusterServiceLoadBalancerHea…
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-aws/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-aws/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cloud-controller-manager-aws/config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/testdata/zz_fixture_TestConfig.yaml
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator

#6320 CNTRLPLANE-995: Support day2 tags changes for AWS default Security Group
  api/hypershift/v1beta1/aws.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  docs/content/reference/api.md
  support/awsutil/sg.go
  support/util/maps.go
  support/util/maps_test.go
  test/e2e/create_cluster_test.go
  test/e2e/util/aws.go
  test/e2e/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/aws.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/api

#6402 OCPBUGS-58837: Override CPO image to apply KAS certificate hotfix
  hypershift-operator/controlplaneoperator-overrides/assets/overrides.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/hypershift-operator

#6353 OCPBUGS-56701: Update the LookupDefaultOCPVersion function to use the multi-arch release API
  cmd/cluster/agent/create_test.go
  cmd/cluster/agent/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/aws/create_test.go
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_minimal_with_KubeAPIServerDNSName.yaml
  cmd/cluster/azure/create.go
  cmd/cluster/azure/create_test.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_KubeAPIServerDNSName.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_availability_zones.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_disabled_capabilities.yaml
  cmd/cluster/core/create.go
  cmd/cluster/core/create_test.go
  cmd/cluster/kubevirt/create_test.go
  cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/none/create_test.go
  cmd/cluster/none/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/openstack/create_test.go
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/powervs/create_test.go
  cmd/cluster/powervs/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/util/client.go
  support/supportedversion/version.go
  support/supportedversion/version_test.go
  support/testutil/testutil.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli

#6452 CNTRLPLANE-1113: Add renovate configuration
  .gitignore
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-operator-main-tag.yaml
  renovate.json
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#6307 OCPBUGS-57742: Updating ose-hypershift-container image to be consistent with ART for 4.20
  .ci-operator.yaml
  Containerfile.cli
  Containerfile.control-plane
  Containerfile.operator
  Dockerfile
  Dockerfile.control-plane
  Dockerfile.dev
  Dockerfile.e2e
  api/go.mod
  go.mod
  hack/tools/go.mod
  hack/workspace/go.work
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/ci-tooling, area/api

#6451 NO-JIRA: Update Created Azure Hosted Cluster on AKS doc
  contrib/managed-azure/login.sh
  contrib/managed-azure/setup_all.sh
  docs/content/how-to/azure/create-azure-cluster-on-aks.md
  docs/content/how-to/azure/create-azure-cluster-with-options.md
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation

#6105 CNTRLPLANE-800: Remove code associated with Managed Identity v2 for ARO HCP
  api/hypershift/v1beta1/azure.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/managedidentity.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_create_with_a_ure_marketplace_image.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_create_with_azure_marketplace_image.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_KubeAPIServerDNSName.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_availability_ones.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_availability_zones.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_disabled_capabilities.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ingressoperator/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/azure.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  support/config/constants.go
  support/secretproviderclass/secretproviderclass.go
  support/secretproviderclass/secretproviderclass_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/api

#6453 OCPBUGS-43824: fix(test): reduce API call frequency to prevent rate limiting in NTO machineconfig test
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/util/eventually.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing

#6416 CNTRLPLANE-993: Skip azure 4.19 cp upgrade for now to let the 4.20 suite be covered.
  test/e2e/control_plane_upgrade_test.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#6459 OCPBUGS-59547: Remove code associated with Managed Identity v2 for ARO HCP for 4.19
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ingressoperator/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/azure.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  support/config/constants.go
  support/secretproviderclass/secretproviderclass.go
  support/secretproviderclass/secretproviderclass_test.go
Labels: approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6321 NO-JIRA: unique clusterrole per hosted cluster for kubevirt CSI
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#6461 OCPBUGS-59232: fix(test): resolve Azure DNS race condition in EnsureCustomAdminKubeconfigReachesTheKAS
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing

#6456 CNTRLPLANE-735: Document steps to configure Microsoft backup extension in AKS
  contrib/managed-azure/README.md
  contrib/managed-azure/setup_MIv3_kv.sh
  contrib/managed-azure/setup_backup_extension.sh
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#6291 NO-JIRA: test/e2e: add TerminationMessagePolicyFallbackToLogsOnError check to 4.19
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#6476 NO-JIRA: test/e2e: skip kubevirt pods when checking labels, tolerations, and term msg policy
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing

#6473 OCPBUGS-57316: hypershift version in CLI returns panics for Server Version when HyperShift operator is deployed
  support/supportedversion/version.go
Labels: approved, lgtm, jira/severity-low, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6299 NO-JIRA: Add new doc from HCP OADP Plugin
  docs/content/how-to/disaster-recovery/backup-and-restore-oadp-1-5.md
  docs/content/how-to/disaster-recovery/backup-and-restore-oadp.md
Labels: approved, lgtm, jira/valid-reference, area/documentation

#6398 [release-4.19] OCPBUGS-58683:fix(hcco): Don't use a default OIDC client secret name when no secret name is provided
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  support/globalconfig/authentication.go
  support/globalconfig/authentication_test.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6487 NO-JIRA: increase the pod limit per node in AKS cluster
  contrib/managed-azure/setup_aks_cluster.sh
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#6502 [release-4.19] CNTRLPLANE-1034: sharedingress: Add support for kube-apiserver whitelist CIDRs
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  docs/content/reference/api.md
  hypershift-operator/controllers/sharedingress/router.go
  hypershift-operator/controllers/sharedingress/router_config.template
  hypershift-operator/controllers/sharedingress/router_test.go
  hypershift-operator/controllers/sharedingress/sharedingress_controller.go
  hypershift-operator/controllers/sharedingress/testdata/zz_fixture_TestGenerateConfig_When_there_s_two_HostedClusters_with_all_their_Routes_and_SVCs_it_should_generate_the_config_with_frontends_and_backends_for_both.cfg
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/api

#6462 CNTRLPLANE-1116: add gitlint support for conventional commit enforcement
  .cursor/rules/code-formatting.mdc
  .cursor/rules/git-commit-format.mdc
  .gitlint
  Makefile
  docs/content/contribute/index.md
Labels: approved, lgtm, jira/valid-reference, area/documentation, acknowledge-critical-fixes-only

#6503 CNTRLPLANE-905: Fix hermetic pipelines for Shared ingress.
  .tekton/hypershift-shared-ingress-main-pull-request.yaml
  .tekton/hypershift-shared-ingress-main-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling, acknowledge-critical-fixes-only

#6480 OCPBUGS-43824: Help fix flaky NTO tests
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-controller-manager/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-controller-manager/zz_fixture_TestControlPlaneComponents_kube_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-controller-manager/deployment.yaml
  test/e2e/util/client.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/testing, acknowledge-critical-fixes-only

#6486 Fix OCPBUGS-54720: HCP payload doesn't respect multiple
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/deployment_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, acknowledge-critical-fixes-only

#6493 NO-JIRA: fix: set terminationMessagePolicy to FallbackToLogsOnError for olm-collect-profiles
  control-plane-operator/controllers/hostedcontrolplane/olm/assets/olm-collect-profiles.cronjob.yaml
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#6504 OCPBUGS-57336: Delete unused AdditionalTrustBundle from CP namespace
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/hypershift-operator, acknowledge-critical-fixes-only

#6524 OCPBUGS-59835: MCE 2.10 konflux
  .tekton/hypershift-cli-mce-210-pull-request.yaml
  .tekton/hypershift-cli-mce-210-push.yaml
  .tekton/hypershift-release-mce-210-pull-request.yaml
  .tekton/hypershift-release-mce-210-push.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/ci-tooling

#6155 OCPBUGS-53265: Use the image reference for the cache in the image metadata provider
  go.mod
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
  support/util/util_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, acknowledge-critical-fixes-only

#6525 [release-4.19] OCPSTRAT-2173: feat(hcco): add support for hosted OIDC client secrets
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  support/azureutil/azureutil.go
  support/util/annotations.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/api

#6447 CNTRLPLANE-204: feat(shared-ingress): Add reloader sidecar to avoid restarts on config changes
  hypershift-operator/controllers/nodepool/apiserver-haproxy/haproxy.go
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_use_shared_router_it_should_use_proxy_protocol.yaml
  hypershift-operator/controllers/sharedingress/router.go
  hypershift-operator/controllers/sharedingress/router_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#6538 NO-JIRA: fix(cmd): match infraID exactly on OIDC provider delete
  cmd/infra/aws/destroy_iam.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#6199 OCPBUGS-57450: Router publish strategy related changes for IBM Cloud platform
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service_test.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/service.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/service_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/service.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/service_test.go
Labels: approved, tide/merge-method-squash, ok-to-test, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, acknowledge-critical-fixes-only

#6526 CNTRLPLANE-1191: add sa-token-issuer-private-key-path flag to create cluster aws
  cmd/cluster/aws/create.go
Labels: approved, lgtm, jira/valid-reference, area/cli

#6549 NO-JIRA: add CLAUDE.md with comprehensive development guidance
  CLAUDE.md
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#6548 OCPBUGS-59959: Set explicit FSGroup and RunAsUser for etcd when there's no SCC
  support/controlplane-component/defaults.go
  support/controlplane-component/defaults_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6257 OCPBUGS-57331: Set default security context on everything
  control-plane-operator/controllers/hostedcontrolplane/fg/job_test.go
  control-plane-operator/controllers/hostedcontrolplane/fg/testdata/zz_fixture_TestReconcileFeatureGateGenerationJob_no_default_security_context.yaml
  control-plane-operator/controllers/hostedcontrolplane/fg/testdata/zz_fixture_TestReconcileFeatureGateGenerationJob_with_default_security_context.yaml
  support/config/deployment.go
  support/controlplane-component/defaults.go
Labels: approved, cherry-pick-approved, ok-to-test, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator
