Repository openshift/hypershift, pull requests merged in 2025-05, with the labels that each got.

#6072 HYPBLD-642: konflux build hcp cli
  Containerfile.cli
  Makefile
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling, acknowledge-critical-fixes-only

#6066 [release-4.18] OCPBUGS-55230: Add annotation to configure KAS goaway-chance
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/severity-low, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/api

#6006 NO-JIRA: bump HO supported version to 4.20
  support/supportedversion/version.go
  support/supportedversion/version_test.go
  test/e2e/util/version.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/testing, acknowledge-critical-fixes-only

#5996 OCPBUGS-51802: Fix golang crypto dependency go.mod replacement
  go.mod
  go.sum
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/ignore.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/xform.go
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/export.go
  vendor/github.com/google/go-cmp/cmp/export_panic.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_purego.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/golang.org/x/crypto/pkcs12/crypto.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/sys/cpu/cpu.go
  vendor/golang.org/x/sys/cpu/cpu_x86.go
  vendor/golang.org/x/sys/unix/auxv.go
  vendor/golang.org/x/sys/unix/auxv_unsupported.go
  vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/zsyscall_solaris_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_386.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_loong64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_s390x.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_sparc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/dll_windows.go
  vendor/modules.txt
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference, area/hypershift-operator

#6077 CNTRLPLANE-740: Add DR for HCP using OADP and Hypershift plugin
  docs/Makefile
  docs/content/how-to/disaster-recovery/backup-and-restore-oadp-1-5.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation, acknowledge-critical-fixes-only

#6065 [release-4.18] OCPBUGS-55177: Don't check if olm images exist if guest cluster
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs_test.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5836 CNTRLPLANE-265: Enable staticcheck linter in golangci-lint
  .golangci.yml
  availability-prober/availability_prober.go
  cmd/bastion/aws/create.go
  cmd/bastion/aws/destroy.go
  cmd/cluster/core/create.go
  cmd/infra/aws/destroy.go
  cmd/infra/aws/destroy_iam.go
  cmd/infra/powervs/create.go
  cmd/infra/powervs/destroy.go
  cmd/install/install.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/main.go
  dnsresolver/cmd.go
  etcd-defrag/etcddefrag_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
  hypershift-operator/main.go
  ignition-server/controllers/local_ignitionprovider.go
  konnectivity-https-proxy/cmd.go
  pkg/etcdcli/etcdcli.go
  support/config/deployment.go
  support/releaseinfo/releaseinfo.go
  support/thirdparty/kubernetes/pkg/credentialprovider/config.go
  support/thirdparty/library-go/pkg/image/registryclient/client.go
  support/upsert/loopdetector.go
  test/e2e/util/node.go
  test/e2e/util/oauth.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli, area/testing, acknowledge-critical-fixes-only

#6078 OCPBUGS-55357: Only build main branch components
  .tekton/control-plane-operator-main-pull-request.yaml
  .tekton/control-plane-operator-main-push.yaml
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  Containerfile.control-plane
  Containerfile.operator
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/ci-tooling, acknowledge-critical-fixes-only

#6100 OCPBUGS-54483: Add support for registry root entry only in the IDMS/ICSP
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, acknowledge-critical-fixes-only

#6003 CNTRLPLANE-261: Enable pprof in hosted control plane etcd
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/statefulset.yaml
Labels: approved, ok-to-test, lgtm, jira/valid-reference, area/control-plane-operator, area/cli

#6119 CNTRLPLANE-334: Update KASv2 structured authentication configuration
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/auth.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/auth_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#6039 CNTRLPLANE-709: Add ability to limit platform specific resources managed by HostedCluster
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  support/releaseinfo/fake/fake.go
  support/releaseinfo/testutils/testutils.go
  support/util/resources.go
  support/util/resources_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli

#6117 OCPBUGS-55749: Fix mce-2.9 konflux pipelines
  .tekton/hypershift-operator-main-tag.yaml
  Containerfile.control-plane
  Containerfile.operator
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference, area/ci-tooling

#6074 OCPBUGS-55504: Add postStart hook to kube-apiserver container
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/deployment.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#6070 OCPBUGS-55266: [release-4.15] Add konnectivity-proxy sidecar to openshift-oauth-apiserver
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  support/util/util.go
  support/util/util_test.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#5649 OCPBUGS-37323: MarkPersistentFlagRequired does not work since CLI refactoring
  cmd/cluster/agent/create_test.go
  cmd/cluster/agent/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/aws/create_test.go
  cmd/cluster/azure/create_test.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_KubeAPIServerDNSName.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_availability_ones.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_disabled_capabilities.yaml
  cmd/cluster/core/create.go
  cmd/cluster/core/create_test.go
  cmd/cluster/kubevirt/create_test.go
  cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_test_from_dvossel.yaml
  cmd/cluster/none/create_test.go
  cmd/cluster/none/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/openstack/create_test.go
  cmd/cluster/powervs/create_test.go
  cmd/cluster/powervs/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
Labels: approved, lgtm, jira/severity-low, jira/valid-bug, jira/valid-reference, area/cli

#5724 CNTRLPLANE-269: Remove DeploymentConfig usage from cpov2
  control-plane-operator/controllers/hostedcontrolplane/testdata/certified-operators-catalog/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/certified-operators-catalog/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/community-operators-catalog/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/community-operators-catalog/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/featuregate-generator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/featuregate-generator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/olm-collect-profiles/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/olm-collect-profiles/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/redhat-marketplace-catalog/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/redhat-marketplace-catalog/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/redhat-operators-catalog/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/redhat-operators-catalog/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/controlplane-component_test.go
  support/controlplane-component/cronjob.go
  support/controlplane-component/defaults.go
  support/controlplane-component/deployment.go
  support/controlplane-component/job.go
  support/controlplane-component/statefulset.go
  support/upsert/apply.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/testing

#6134 OCPBUGS-55913: Fix Job status returning empty reason and message
  support/controlplane-component/job.go
  support/controlplane-component/job_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6133 CNTRLPLANE-269: Remove legacy machine approver and ign server reconciliation code
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/machineapprover.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/ignitionserver/ignitionserver.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6135 NO-JIRA: cpov2: fix structured authentication configuration serialization
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/auth.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/auth_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/auth_types.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#6147 NO-JIRA: Increase the content width in the upstream docs
  docs/content/custom.css
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation

#6108 NO-JIRA: Update hypershift-cli-mce-29-pull-request.yaml
  .tekton/hypershift-cli-mce-29-pull-request.yaml
  .tekton/hypershift-cli-mce-29-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#6150 NO-JIRA: test/setup: use case-sensitive prometheusK8s in monitoring config
  test/setup/cluster-monitoring-config.yaml
Labels: approved, jira/valid-reference, area/testing

#6146 CNTRLPLANE-844: Remove unused DeploymentConfig references
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router_config.template
  control-plane-operator/controllers/hostedcontrolplane/ingress/router_test.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/testdata/zz_fixture_TestGenerateRouterConfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#6094 CNTRLPLANE-645: Rename NodeCount flag to Replicas
  cmd/nodepool/core/create.go
  cmd/nodepool/create.go
  contrib/managed-azure/setup_aks_cluster.sh
  docs/content/getting-started.md
  docs/content/how-to/automated-machine-management/node-tuning.md
  docs/content/how-to/aws/create-aws-hosted-cluster-arm-workers.md
  docs/content/how-to/azure/create-azure-cluster-with-options.md
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
  docs/content/how-to/kubevirt/create-kubevirt-cluster.md
  docs/content/how-to/openstack/additional-ports.md
  docs/content/how-to/openstack/az.md
  docs/content/how-to/openstack/performance-tuning.md
  product-cli/cmd/nodepool/create.go
Labels: approved, lgtm, jira/valid-reference, area/documentation, area/cli

#6132 CNTRLPLANE-565: Remove NodePool CapacityReservation API featuregate
  api/hypershift/v1beta1/aws.go
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/CapacityReservation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/aws.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Labels: approved, lgtm, jira/valid-reference, area/documentation, area/cli, area/api

#6131 [release-4.19] OCPBUGS-55693: Add support for registry root entry only in the IDMS/ICSP
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6145 OCPBUGS-56036: add multi-arch build for MCE 2.9
  .tekton/hypershift-cli-mce-29-push.yaml
  .tekton/hypershift-release-mce-29-push.yaml
  Containerfile.cli
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference, area/ci-tooling

#6154 OCPBUGS-56205: Switch back to rh catalog
  Containerfile.cli
  Containerfile.control-plane
  Containerfile.operator
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/ci-tooling

#6097 NO-JIRA: Keep checking for rollouts during upgrade HO test for five minutes
  test/e2e/upgrade_hypershift_operator_test.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, area/testing

#6115 [release-4.17] OCPBUGS-55723: Don't check if olm images exist if guest cluster
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs_test.go
Labels: approved, cherry-pick-approved, ok-to-test, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#6149 NO-JIRA: Fix TestHostedClusterWatchesEverythingItCreates not working locally
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/main.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator

#6157 CNTRLPLANE-844: Remove DeploymentConfig usage
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/sharedingress/router.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/testing

#6148 CNTRLPLANE-844: Refactor ControlPlaneOperator into v2 component
  control-plane-operator/controllers/hostedcontrolplane/imageprovider/imageprovider.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-aws/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cloud-controller-manager-aws/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/control-plane-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/control-plane-operator/podmonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/control-plane-operator/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/control-plane-operator/rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/control-plane-operator/serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/controlplaneoperator/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/controlplaneoperator/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/controlplaneoperator/podmonitor.go
  control-plane-operator/controllers/hostedcontrolplane/v2/controlplaneoperator/role.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/testdata/control-plane-operator/zz_fixture_TestReconcileControlPlaneOperator.yaml
  hypershift-operator/controllers/hostedcluster/testdata/control-plane-operator/zz_fixture_TestReconcileControlPlaneOperator_component.yaml
  support/controlplane-component/status.go
  support/controlplane-component/token-minter-container.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6159 CNTRLPLANE-844: Refactor CAPI provider/manager into v2
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/capi-provider/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/capi-provider/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/capi-provider/rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/capi-provider/serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-api/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-api/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-api/rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-api/serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-api/webhook-tls-secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_manager/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_manager/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_manager/secret.go
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_provider/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_provider/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_provider/role.go
  control-plane-operator/controllers/hostedcontrolplane/v2/controlplaneoperator/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/controlplaneoperator/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/controlplaneoperator/role.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/testdata/capi-provider/zz_fixture_TestReconcileComponents.yaml
  hypershift-operator/controllers/hostedcluster/testdata/capi-provider/zz_fixture_TestReconcileComponents_component.yaml
  hypershift-operator/controllers/hostedcluster/testdata/cluster-api/zz_fixture_TestReconcileComponents.yaml
  hypershift-operator/controllers/hostedcluster/testdata/cluster-api/zz_fixture_TestReconcileComponents_component.yaml
  hypershift-operator/controllers/hostedcluster/testdata/control-plane-operator/zz_fixture_TestReconcileComponents.yaml
  hypershift-operator/controllers/hostedcluster/testdata/control-plane-operator/zz_fixture_TestReconcileComponents_component.yaml
  support/controlplane-component/common.go
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/generic-adapter.go
  support/controlplane-component/status.go
  support/releaseinfo/testutils/testutils.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6156 WRKLDS-1676: ocm config: Update leaderElection.name
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-controller-manager/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-controller-manager/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-controller-manager/config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/ocm/testdata/zz_fixture_TestReconcileOpenShiftControllerManagerConfig_WithAllCapabilitiesEnabled.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/ocm/testdata/zz_fixture_TestReconcileOpenShiftControllerManagerConfig_WithImageRegistryCapabilityDisabled.yaml
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator

#6167 NO-JIRA: Move ControlPlaneComponent CRD installation to the CLI
  Makefile
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/controlplanecomponents-CustomNoUpgrade.crd.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/controlplane-component/crds/crds.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli

#6169 NO-JIRA: Remove ControlPlaneV2 API featuregate
  api/hypershift/v1beta1/controlplanecomponent_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/controlplanecomponents.hypershift.openshift.io/AAA_ungated.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/controlplanecomponents.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/controlplanecomponent_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Labels: approved, lgtm, jira/valid-reference, area/cli, area/api

#6168 CNTRLPLANE-201: feat(shared-ingress): Add el10 Containerfile
  shared-ingress/Containerfile
  shared-ingress/README.md
  shared-ingress/rpms.in.yaml
  shared-ingress/rpms.lock.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#6175 CNTRLPLANE-905: feat(shared-ingress): add arm64 builds
  .tekton/hypershift-shared-ingress-main-pull-request.yaml
  .tekton/hypershift-shared-ingress-main-push.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#6172 OCPBUGS-56524: switch admissionregistration API to v1
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/kas/admissionpolicies.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/admissionpolicies.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator

#6171 OCPBUGS-56457: Do not validate OCP API Server SANS if PKI reconciliation is disabled
  hypershift-operator/controllers/hostedcluster/validations/ocpapiserver.go
  hypershift-operator/controllers/hostedcluster/validations/ocpapiserver_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/hypershift-operator

#6185 NO-JIRA: Fix serviceaccounts with custom adapter not getting pull-secret
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/generic-adapter.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator

#6201 OCPBUGS-56777: Disable PSA enforcement in 4.19 hosted cluster
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/config.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator

#6200 CNTRLPLANE-201: feat(shared-ingress): Bump ubi10 out of beta
  shared-ingress/Containerfile
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#6182 CNTRLPLANE-831: feat(konflux): add arm64 builds to cpo pipeline
  .tekton/control-plane-operator-4-19-push.yaml
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/ci-tooling
