Repository openshift/hypershift, pull requests merged in 2025-09, with the labels that each got.

#6648 [release-4.19] OCPBUGS-60483: feat(validations): add wildcard support to DNS SAN conflict detection
  api/hypershift/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedcluster/validations/ocpapiserver.go
  hypershift-operator/controllers/hostedcluster/validations/ocpapiserver_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/api

#6649 [release-4.18] OCPBUGS-60485: feat(validations): add wildcard support to DNS SAN conflict detection
  api/hypershift/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedcluster/validations/ocpapiserver.go
  hypershift-operator/controllers/hostedcluster/validations/ocpapiserver_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/hypershift-operator, area/api, verified

#6561 OCPBUGS-60376: fix token rotation causing Karpenter to stop working
  api/karpenter/v1beta1/karpenter_types.go
  cmd/cluster/core/dump.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/karpenter.go
  hypershift-operator/controllers/nodepool/token.go
  karpenter-operator/controllers/karpenter/assets/assets.go
  karpenter-operator/controllers/karpenter/karpenter_controller.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller_test.go
  karpenter-operator/main.go
  support/api/scheme.go
  test/e2e/karpenter_test.go
  test/e2e/util/util.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/karpenter_types.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli, area/testing, area/api, verified

#6738 NO-JIRA: chore(tests): validate conditions after executing tests
  test/e2e/util/hypershift_framework.go
Labels: approved, lgtm, jira/valid-reference, area/testing, verified

#6758 OCPBUGS-61219: fix: cleanup old PKI operator deployment during upgrades
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, verified

#6730 CNTRLPLANE-203: feat(sharedingress): add Azure Public IP tagging support for router service
  hypershift-operator/controllers/sharedingress/router.go
  hypershift-operator/controllers/sharedingress/sharedingress_controller.go
Labels: approved, lgtm, jira/valid-reference, area/hypershift-operator, acknowledge-critical-fixes-only, verified

#6782 OCPBUGS-61462: temporarily use v4.20 catalogs
  support/catalogs/images.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, verified

#6706 CNTRLPLANE-1277: Enable TestCreateClusterCustomConfig for Azure
  cmd/cluster/azure/create.go
  support/azureutil/azureutil.go
  support/azureutil/azureutil_test.go
  test/e2e/create_cluster_test.go
Labels: approved, lgtm, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli, area/testing, verified

#6789 OCPBUGS-61482: fix(proxy): ensure URLs have scheme before proxy resolution
  konnectivity-https-proxy/cmd.go
  konnectivity-https-proxy/cmd_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator, verified

#6831 fix(disable-psa): disable PSA check for 4.20
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing, verified

#6784 CNTRLPLANE-1397: feat(konflux): tag MCE HO images with latest
  .tekton/hypershift-release-mce-210-push.yaml
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/ci-tooling, verified

#6807 OCPBUGS-61687: fix(capi-provider): use single replica deployment for aws and azure
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/capi-provider/deployment.yaml
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  hypershift-operator/controllers/hostedcluster/testdata/capi-provider/zz_fixture_TestReconcileComponents.yaml
  hypershift-operator/controllers/hostedcluster/testdata/capi-provider/zz_fixture_TestReconcileComponents_component.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, verified

#6779 OCPBUGS-61048: test(e2e): add autoscaler deployment verification to autoscaling test
  test/e2e/autoscaling_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing, verified

#6830 OCPBUGS-56778: fix(kas): Disable PSA enforcement in 4.20
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/config.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator, verified

#6743 OCPBUGS-61177: ci: use common MCE konflux pipeline
  .tekton/hypershift-cli-mce-210-pull-request.yaml
  .tekton/hypershift-cli-mce-210-push.yaml
  .tekton/hypershift-release-mce-210-pull-request.yaml
  .tekton/hypershift-release-mce-210-push.yaml
  Containerfile.cli
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/ci-tooling, verified

#6825 [release-4.19] OCPBUGS-61677: resolve MIRRORED_RELEASE_IMAGE flapping
  control-plane-operator/controllers/hostedcontrolplane/v2/ignitionserver/deployment.go
  support/globalconfig/imagecontentsource.go
  support/releaseinfo/registry_image_content_policies.go
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
  support/util/util.go
Labels: approved, cherry-pick-approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, verified, verified-later

#6848 OCPBUGS-61862: ci: Remove the MCE 2.10 konflux pipeline
  .tekton/hypershift-cli-mce-210-pull-request.yaml
  .tekton/hypershift-cli-mce-210-push.yaml
  .tekton/hypershift-release-mce-210-pull-request.yaml
  .tekton/hypershift-release-mce-210-push.yaml
  Containerfile.cli
Labels: approved, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/ci-tooling, verified

#6844 OCPBUGS-61860: Use the common MCE konflux pipeline
  .tekton/hypershift-cli-mce-26-pull-request.yaml
  .tekton/hypershift-cli-mce-26-push.yaml
  .tekton/hypershift-release-mce-26-pull-request.yaml
  .tekton/hypershift-release-mce-26-push.yaml
  Containerfile.cli
Labels: approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference, area/ci-tooling, verified

#6856 OCPBUGS-61825: test(e2e,kubevirt): skip break-glass-credentials on kubevirt
  test/integration/control_plane_pki_operator.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing, verified

#6772 [release-4.20] OCPBUGS-61066: fix: propagate AWSLoadBalancerTargetNodesAnnotation to HCP
  control-plane-operator/controllers/hostedcontrolplane/ingress/router_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/scheduler/aws/dedicated_request_serving_nodes.go
  hypershift-operator/controllers/scheduler/aws/dedicated_request_serving_nodes_test.go
Labels: approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/documentation, area/cli, area/testing, area/ci-tooling, area/control-plane-pki-operator, area/api, verified

#6862 OCPBUGS-61828: refactor FeatureGate status check
  test/e2e/control_plane_upgrade_test.go
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing, verified, verified-later

#6835 OCPBUGS-61438: fix(security): harden konnectivity-agent DaemonSet security context
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
Labels: approved, lgtm, jira/severity-low, jira/valid-bug, jira/valid-reference, area/control-plane-operator, verified

#6849 CNTRLPLANE-1452: docs(ci): add documentation for checking CI status
  docs/content/how-to/ci/checking-ci.md
  docs/mkdocs.yml
Labels: approved, lgtm, jira/valid-reference, area/documentation, verified

#6836 OCPBUGS-61776: fix(ignition-server): Don't delete user-managed cert secrets
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  support/controlplane-component/generic-adapter.go
Labels: approved, ok-to-test, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, verified

#6792 OCPBUGS-61567: [release-4.19] fix(proxy): ensure URLs have scheme before proxy resolution
  konnectivity-https-proxy/cmd.go
  konnectivity-https-proxy/cmd_test.go
Labels: approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference, area/control-plane-operator, verified, verified-later

#6876 NO-JIRA: ci(dev-cluster): Fix dev token secret annotation
  contrib/ci/dev-namespace-template.yaml
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling, verified

#6877 OCPBUGS-62099: make TestAutoscalingBalancing more robust
  test/e2e/autoscaling_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing, verified

#6860 OCPBUGS-61936: fix(capi-provider): wait for infrastructure resource before startup
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_provider/component.go
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt.go
  hypershift-operator/controllers/hostedcluster/testdata/capi-provider/zz_fixture_TestReconcileComponents.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, verified

#6898 NO-JIRA: chore(ai): let jira-solve show the executed command in the PR desc
  .claude/commands/jira-solve.md
Labels: approved, lgtm, jira/valid-reference, verified, area/ai

#6901 NO-JIRA: chore(ai): ensure jira-solve run make pre-commit
  .claude/commands/jira-solve.md
Labels: approved, lgtm, jira/valid-reference, verified, area/ai

#6355 [release-4.18] OCPBUGS-61700: Sync RBAC for expansion support in kubevirt CSI driver
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/controller.yaml
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/files/infra_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Labels: approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/control-plane-operator, area/hypershift-operator, area/cli, verified

#6885 OCPBUGS-62172: Add Manila, Cinder to list of pods allowed readOnlyRootFileSystem=false
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, area/testing, area/ci-tooling, verified

#6912 OCPSTRAT-2472: Add latest tag to MCE 2.10 build pipeline
  .tekton/hypershift-release-mce-210-push.yaml
Labels: approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/valid-reference, area/ci-tooling, verified

#6916 KFLUXSPRT-5246: update base images from RHEL9 ELS to UBI9 minimal 9.4
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-operator-main-tag.yaml
  Containerfile.control-plane
  Containerfile.operator
Labels: approved, lgtm, jira/valid-reference, area/ci-tooling

#6913 NO-JIRA: fix(e2e): extend ValidateHostedClusterConditions timeout
  test/e2e/util/util.go
Labels: approved, lgtm, jira/valid-reference, area/testing, verified
